{
  "openapi": "3.1.0",
  "info": {
    "title": "Dhcp Snooping",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Dhcp Snooping"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/dhcp-snooping": {
      "get": {
        "description": "Configuration of DHCP-Snooping.\nDHCP-Snooping is a security feature to help avoid the \"Denial of\nService\"/\"man in the middle\" attacks that result from unauthorized users\nadding a DHCP server to the network that then provides invalid\nconfiguration data to other DHCP clients on the network.",
        "operationId": "readDhcpSnooping",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDhcpSnooping_DhcpSnoopingSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing DHCP-Snooping configuration",
        "tags": [
          "Dhcp Snooping"
        ],
        "x-cliParam": {
          "commandName": "readDhcpSnoopingCmd",
          "commandUse": "dhcp-snooping",
          "parentCommand": "readCmd",
          "pathToPrint": "/dhcp-snooping/",
          "summary": "Read operation for dhcp-snooping"
        }
      }
    },
    "/network-config/v1alpha1/dhcp-snooping/{name}": {
      "get": {
        "description": "DHCP-Snooping profile",
        "operationId": "readDhcpSnoopingProfileByID",
        "parameters": [
          {
            "description": "DHCP-Snooping profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDhcpSnooping_DhcpSnoopingprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for DHCP-Snooping",
        "tags": [
          "Dhcp Snooping"
        ],
        "x-cliParam": {
          "commandName": "readDhcpSnoopingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readDhcpSnoopingCmd",
          "pathToPrint": "/dhcp-snooping/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "DHCP-Snooping profile",
        "operationId": "replaceDhcpSnoopingProfileByID",
        "parameters": [
          {
            "description": "DHCP-Snooping profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpSnooping_DhcpSnoopingprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing DHCP-Snooping profile configuration",
        "tags": [
          "Dhcp Snooping"
        ],
        "x-cliParam": {
          "commandName": "replaceDhcpSnoopingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceDhcpSnoopingCmd",
          "pathToPrint": "/dhcp-snooping/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "DHCP-Snooping profile",
        "operationId": "createDhcpSnoopingProfileByID",
        "parameters": [
          {
            "description": "DHCP-Snooping profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpSnooping_DhcpSnoopingprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create new profile for DHCP-Snooping",
        "tags": [
          "Dhcp Snooping"
        ],
        "x-cliParam": {
          "commandName": "createDhcpSnoopingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createDhcpSnoopingCmd",
          "pathToPrint": "/dhcp-snooping/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "DHCP-Snooping profile",
        "operationId": "deleteDhcpSnoopingProfileByID",
        "parameters": [
          {
            "description": "DHCP-Snooping profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for DHCP-Snooping",
        "tags": [
          "Dhcp Snooping"
        ],
        "x-cliParam": {
          "commandName": "deleteDhcpSnoopingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteDhcpSnoopingCmd",
          "pathToPrint": "/dhcp-snooping/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "DHCP-Snooping profile",
        "operationId": "updateDhcpSnoopingProfileByID",
        "parameters": [
          {
            "description": "DHCP-Snooping profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpSnooping_DhcpSnoopingprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing DHCP-Snooping profile configuration",
        "tags": [
          "Dhcp Snooping"
        ],
        "x-cliParam": {
          "commandName": "updateDhcpSnoopingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateDhcpSnoopingCmd",
          "pathToPrint": "/dhcp-snooping/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDhcpSnooping_DhcpSnoopingSchemaGET": {
        "description": "Configuration of DHCP-Snooping.\nDHCP-Snooping is a security feature to help avoid the \"Denial of\nService\"/\"man in the middle\" attacks that result from unauthorized users\nadding a DHCP server to the network that then provides invalid\nconfiguration data to other DHCP clients on the network.",
        "properties": {
          "profile": {
            "description": "DHCP-Snooping profile",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4SnoopingTopGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6SnoopingTopGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "DHCP-Snooping profile description",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "DHCP-Snooping profile name",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaDhcpSnooping_DhcpSnoopingprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4SnoopingTop"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6SnoopingTop"
          },
          {
            "properties": {
              "description": {
                "description": "DHCP-Snooping profile description",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "DHCP-Snooping profile name",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaDhcpSnooping_DhcpSnoopingprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4SnoopingTopGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6SnoopingTopGet"
          },
          {
            "properties": {
              "description": {
                "description": "DHCP-Snooping profile description",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "DHCP-Snooping profile name",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaDhcpSnooping_Dhcpv4AuthorizedServers": {
        "description": "Grouping of authorized servers for DHCPv4 responses",
        "properties": {
          "authorized-server": {
            "description": "List of DHCPv4 authorized servers",
            "items": {
              "properties": {
                "ip": {
                  "description": "List of DHCP-Server IPv4 addresses",
                  "items": {
                    "description": "List of DHCP-Server IPv4 addresses",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-address",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "vrf": {
                  "description": "VRF for DHCPv4 response packet validations",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv4AuthorizedServersGet": {
        "description": "Grouping of authorized servers for DHCPv4 responses",
        "properties": {
          "authorized-server": {
            "description": "List of DHCPv4 authorized servers",
            "items": {
              "properties": {
                "ip": {
                  "description": "List of DHCP-Server IPv4 addresses",
                  "items": {
                    "description": "List of DHCP-Server IPv4 addresses",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-address",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "vrf": {
                  "description": "VRF for DHCPv4 response packet validations",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv4SnoopingTop": {
        "description": "DHCPv4-Snooping global parameters grouping",
        "properties": {
          "ipv4": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_IpBindingsStorageConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4AuthorizedServers"
              }
            ],
            "description": "DHCPv4-Snooping global parameters",
            "properties": {
              "allow-overwrite-binding": {
                "default": "false",
                "description": "Allow binding to be overwritten for the same IP address",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "client-attribute-caching": {
                "default": "false",
                "description": "Enable storing static attributes provided to DHCP-client",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "client-event-log": {
                "default": "false",
                "description": "Enable DHCPv4 client event logs",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable DHCPv4-Snooping globally",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "enable-alias": {
                "description": "Alias to Enable DHCPv4-Snooping globally",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "mac-verification": {
                "default": "true",
                "description": "Enable DHCP packet MAC address validation",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "option-82": {
                "description": "DHCPv4-Snooping option-82 parameters",
                "properties": {
                  "option-82-enable": {
                    "default": "true",
                    "description": "Enable DHCPv4-Snooping option-82 globally",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "remote-id": {
                    "default": "MAC",
                    "description": "DHCPv4-Snooping option-82 remote-id",
                    "enum": [
                      "MAC",
                      "SUBNET_IP",
                      "MGMT_IP"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "MAC": "Switch MAC address",
                      "MGMT_IP": "Management interface IP address",
                      "SUBNET_IP": "Client connected VLAN IP address"
                    },
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "DHCPv4-Snooping option-82 remote-id types"
                  },
                  "untrust-policy": {
                    "default": "DROP",
                    "description": "DHCPv4-Snooping option-82 untrust policy",
                    "enum": [
                      "KEEP",
                      "REPLACE",
                      "DROP"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DROP": "Drop the packet with option-82",
                      "KEEP": "Retain received option-82 value",
                      "REPLACE": "Replace received option-82 value"
                    },
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "DHCPv4-Snooping option-82 untrust policy types"
                  }
                }
              },
              "rate-limit": {
                "default": "100",
                "description": "Maximum DHCPv4 packet rate",
                "format": "int32",
                "maximum": 500,
                "minimum": 100,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "trust-vxlan-tunnel": {
                "default": "true",
                "description": "Enable DHCPv4-Snooping trust attribute on VxLAN tunnels",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaDhcpSnooping_Dhcpv4SnoopingTopGet": {
        "description": "DHCPv4-Snooping global parameters grouping",
        "properties": {
          "ipv4": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_IpBindingsStorageConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4AuthorizedServersGet"
              }
            ],
            "description": "DHCPv4-Snooping global parameters",
            "properties": {
              "allow-overwrite-binding": {
                "default": "false",
                "description": "Allow binding to be overwritten for the same IP address",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "client-attribute-caching": {
                "default": "false",
                "description": "Enable storing static attributes provided to DHCP-client",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "client-event-log": {
                "default": "false",
                "description": "Enable DHCPv4 client event logs",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable DHCPv4-Snooping globally",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "enable-alias": {
                "description": "Alias to Enable DHCPv4-Snooping globally",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "mac-verification": {
                "default": "true",
                "description": "Enable DHCP packet MAC address validation",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "option-82": {
                "description": "DHCPv4-Snooping option-82 parameters",
                "properties": {
                  "option-82-enable": {
                    "default": "true",
                    "description": "Enable DHCPv4-Snooping option-82 globally",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "remote-id": {
                    "default": "MAC",
                    "description": "DHCPv4-Snooping option-82 remote-id",
                    "enum": [
                      "MAC",
                      "SUBNET_IP",
                      "MGMT_IP"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "MAC": "Switch MAC address",
                      "MGMT_IP": "Management interface IP address",
                      "SUBNET_IP": "Client connected VLAN IP address"
                    },
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "DHCPv4-Snooping option-82 remote-id types"
                  },
                  "untrust-policy": {
                    "default": "DROP",
                    "description": "DHCPv4-Snooping option-82 untrust policy",
                    "enum": [
                      "KEEP",
                      "REPLACE",
                      "DROP"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DROP": "Drop the packet with option-82",
                      "KEEP": "Retain received option-82 value",
                      "REPLACE": "Replace received option-82 value"
                    },
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "DHCPv4-Snooping option-82 untrust policy types"
                  }
                }
              },
              "rate-limit": {
                "default": "100",
                "description": "Maximum DHCPv4 packet rate",
                "format": "int32",
                "maximum": 500,
                "minimum": 100,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "trust-vxlan-tunnel": {
                "default": "true",
                "description": "Enable DHCPv4-Snooping trust attribute on VxLAN tunnels",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaDhcpSnooping_Dhcpv6AuthorizedServers": {
        "description": "Grouping of authorized servers for DHCPv6 responses",
        "properties": {
          "authorized-server": {
            "description": "List of DHCPv6 authorized servers",
            "items": {
              "properties": {
                "ip": {
                  "description": "List of DHCP-Server IPv6 addresses",
                  "items": {
                    "description": "List of DHCP-Server IPv6 addresses",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-address",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "vrf": {
                  "description": "VRF for DHCPv6 response packet validations",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv6AuthorizedServersGet": {
        "description": "Grouping of authorized servers for DHCPv6 responses",
        "properties": {
          "authorized-server": {
            "description": "List of DHCPv6 authorized servers",
            "items": {
              "properties": {
                "ip": {
                  "description": "List of DHCP-Server IPv6 addresses",
                  "items": {
                    "description": "List of DHCP-Server IPv6 addresses",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-address",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "vrf": {
                  "description": "VRF for DHCPv6 response packet validations",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv6GuardPolicies": {
        "description": "Grouping of DHCPv6 guard policy parameters.\nA DHCPv6 guard policy may contain the following filters:\n* DHCPv6 server match criteria can make use of an access list.\n* Match criteria for IPv6 addresses/prefixes assigned by DHCPv6 servers.\n* Allowed DHCPv6 server preference range.\nIf there are no filters applied then all the server traffic on\nDHCPv6-Snooping trusted ports are allowed.",
        "properties": {
          "ipv6-guard-policy": {
            "description": "List of DHCPv6 guard policies",
            "items": {
              "properties": {
                "match-client": {
                  "description": "Prefix-list to match client IPv6 address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
                  "x-patternSources": "prefix-list-name-address-family",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "match-server": {
                  "description": "Access-list to match server detail",
                  "format": "const",
                  "maxLength": 145,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "policy-name": {
                  "description": "Policy name",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "preference": {
                  "description": "Allowed preference value associated with the DHCPv6 server",
                  "properties": {
                    "max-preference": {
                      "default": "255",
                      "description": "Maximum preference value allowed",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "min-preference": {
                      "default": "0",
                      "description": "Minimum preference value allowed",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "policyName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaDhcpSnooping_Dhcpv6GuardPoliciesGet": {
        "description": "Grouping of DHCPv6 guard policy parameters.\nA DHCPv6 guard policy may contain the following filters:\n* DHCPv6 server match criteria can make use of an access list.\n* Match criteria for IPv6 addresses/prefixes assigned by DHCPv6 servers.\n* Allowed DHCPv6 server preference range.\nIf there are no filters applied then all the server traffic on\nDHCPv6-Snooping trusted ports are allowed.",
        "properties": {
          "ipv6-guard-policy": {
            "description": "List of DHCPv6 guard policies",
            "items": {
              "properties": {
                "match-client": {
                  "description": "Prefix-list to match client IPv6 address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
                  "x-patternSources": "prefix-list-name-address-family",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "match-server": {
                  "description": "Access-list to match server detail",
                  "format": "const",
                  "maxLength": 145,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "policy-name": {
                  "description": "Policy name",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "preference": {
                  "description": "Allowed preference value associated with the DHCPv6 server",
                  "properties": {
                    "max-preference": {
                      "default": "255",
                      "description": "Maximum preference value allowed",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "min-preference": {
                      "default": "0",
                      "description": "Minimum preference value allowed",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "policyName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaDhcpSnooping_Dhcpv6SnoopingTop": {
        "description": "DHCPv6-Snooping global parameters grouping",
        "properties": {
          "ipv6": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_IpBindingsStorageConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6AuthorizedServers"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6GuardPolicies"
              }
            ],
            "description": "DHCPv6-Snooping global parameters",
            "properties": {
              "client-event-log": {
                "default": "false",
                "description": "Enables DHCPv6 client event logs",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable DHCPv6-Snooping globally",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "rate-limit": {
                "default": "100",
                "description": "Maximum DHCPv6 packet rate",
                "format": "int32",
                "maximum": 500,
                "minimum": 100,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "trust-vxlan-tunnel": {
                "default": "true",
                "description": "Enable DHCPv6-Snooping trust attribute on VxLAN tunnels",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaDhcpSnooping_Dhcpv6SnoopingTopGet": {
        "description": "DHCPv6-Snooping global parameters grouping",
        "properties": {
          "ipv6": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_IpBindingsStorageConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6AuthorizedServersGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6GuardPoliciesGet"
              }
            ],
            "description": "DHCPv6-Snooping global parameters",
            "properties": {
              "client-event-log": {
                "default": "false",
                "description": "Enables DHCPv6 client event logs",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable DHCPv6-Snooping globally",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "rate-limit": {
                "default": "100",
                "description": "Maximum DHCPv6 packet rate",
                "format": "int32",
                "maximum": 500,
                "minimum": 100,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "trust-vxlan-tunnel": {
                "default": "true",
                "description": "Enable DHCPv6-Snooping trust attribute on VxLAN tunnels",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaDhcpSnooping_IpBindingsStorageConfig": {
        "description": "Grouping of storage parameters for IP bindings",
        "properties": {
          "external-storage": {
            "description": "External-storage parameters for IP bindings",
            "properties": {
              "external-storage-profile-name": {
                "description": "External Storage volume profile name",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-es:external-storage/ac-es:profile/ac-es:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "external-storage-ref": {
                "description": "External-storage reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filename": {
                "description": "File name to store IP bindings",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "flash-storage": {
            "description": "Flash-storage parameters for IP bindings",
            "properties": {
              "delay": {
                "default": "900",
                "description": "Delay between consecutive IP bindings write to flash storage",
                "format": "int64",
                "maximum": 86400,
                "minimum": 300,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "flash-storage-enable": {
                "default": "false",
                "description": "Enable writing IP bindings to flash storage",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "remote-storage": {
            "description": "TFTP or SFTP storage parameters for IP bindings",
            "properties": {
              "delay": {
                "default": "300",
                "description": "Delay between consecutive file transfers to remote location",
                "format": "int64",
                "maximum": 86400,
                "minimum": 15,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-validate-sftp-server": {
                "default": "false",
                "description": "Enable validation of sftp server",
                "type": "boolean"
              },
              "file-name": {
                "description": "SFTP or TFTP file name with path.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "mode": {
                "description": "TFTP or SFTP mode",
                "enum": [
                  "SFTP",
                  "TFTP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SFTP": "SFTP mode",
                  "TFTP": "TFTP mode"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "SFTP or TFTP mode"
              },
              "password": {
                "description": "SFTP password in plaintext format.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "password-cipher": {
                "description": "SFTP password in encrypted format.",
                "format": "const",
                "maxLength": 512,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "password-type": {
                "description": "SFTP password type.",
                "enum": [
                  "PLAIN_TEXT",
                  "CIPHER_TEXT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CIPHER_TEXT": "Configure ciphertext key",
                  "PLAIN_TEXT": "Configure plaintext key"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Password type"
              },
              "port": {
                "default": "0",
                "description": "Port of file transfer server",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "server-address": {
                "description": "SFTP or TFTP server address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "timeout": {
                "default": "300",
                "description": "Database file transfer timeout in seconds",
                "format": "int64",
                "maximum": 86400,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "username": {
                "description": "SFTP username.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_IpBindingsStorageConfigGet": {
        "description": "Grouping of storage parameters for IP bindings",
        "properties": {
          "external-storage": {
            "description": "External-storage parameters for IP bindings",
            "properties": {
              "external-storage-profile-name": {
                "description": "External Storage volume profile name",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-es:external-storage/ac-es:profile/ac-es:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "external-storage-ref": {
                "description": "External-storage reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filename": {
                "description": "File name to store IP bindings",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "flash-storage": {
            "description": "Flash-storage parameters for IP bindings",
            "properties": {
              "delay": {
                "default": "900",
                "description": "Delay between consecutive IP bindings write to flash storage",
                "format": "int64",
                "maximum": 86400,
                "minimum": 300,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "flash-storage-enable": {
                "default": "false",
                "description": "Enable writing IP bindings to flash storage",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "remote-storage": {
            "description": "TFTP or SFTP storage parameters for IP bindings",
            "properties": {
              "delay": {
                "default": "300",
                "description": "Delay between consecutive file transfers to remote location",
                "format": "int64",
                "maximum": 86400,
                "minimum": 15,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-validate-sftp-server": {
                "default": "false",
                "description": "Enable validation of sftp server",
                "type": "boolean"
              },
              "file-name": {
                "description": "SFTP or TFTP file name with path.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "mode": {
                "description": "TFTP or SFTP mode",
                "enum": [
                  "SFTP",
                  "TFTP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SFTP": "SFTP mode",
                  "TFTP": "TFTP mode"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "SFTP or TFTP mode"
              },
              "password": {
                "description": "SFTP password in plaintext format.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "password-cipher": {
                "description": "SFTP password in encrypted format.",
                "format": "const",
                "maxLength": 512,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "password-type": {
                "description": "SFTP password type.",
                "enum": [
                  "PLAIN_TEXT",
                  "CIPHER_TEXT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CIPHER_TEXT": "Configure ciphertext key",
                  "PLAIN_TEXT": "Configure plaintext key"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Password type"
              },
              "port": {
                "default": "0",
                "description": "Port of file transfer server",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "server-address": {
                "description": "SFTP or TFTP server address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "timeout": {
                "default": "300",
                "description": "Database file transfer timeout in seconds",
                "format": "int64",
                "maximum": 86400,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "username": {
                "description": "SFTP username.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaDhcpSnooping_DhcpSnoopingprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaDhcpSnooping_DhcpSnoopingprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
