{
  "openapi": "3.1.0",
  "info": {
    "title": "Dhcp Relay",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Dhcp Relay"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/dhcp-relay": {
      "get": {
        "description": "DHCP Relay forwards DHCP requests from clients on one network\nsegment to DHCP servers located on different network\nsegments, enabling centralized IP address management across\nmultiple subnets. DHCP Relay supports DHCPv4 (RFC 2131) and\nDHCPv6 (RFC 3315) with configurable helper addresses, Option\n82 insertion for client identification, hop count control,\nand smart relay functionality. Configure IPv4 and IPv6 relay\nparameters including server addresses, source interfaces, and\nDHCP option handling policies. Use this API to retrieve the\nlist of DHCP relay profiles.",
        "operationId": "readDhcpRelay",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDhcpRelay_DhcpRelaySchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read DHCPv4/DHCPv6 Relay configurations",
        "tags": [
          "Dhcp Relay"
        ],
        "x-cliParam": {
          "commandName": "readDhcpRelayCmd",
          "commandUse": "dhcp-relay",
          "parentCommand": "readCmd",
          "pathToPrint": "/dhcp-relay/",
          "summary": "Read operation for dhcp-relay"
        }
      }
    },
    "/network-config/v1alpha1/dhcp-relay/{name}": {
      "get": {
        "description": "DHCP relay profile defining DHCPv4 and DHCPv6 relay agent parameters\nincluding server addresses, Option 82 handling, hop count settings,\nand source interface selection. Each entity is identified by profile\nname. Use these APIs to create, modify, or delete a DHCP relay\nprofile instance.",
        "operationId": "readDhcpRelayProfileByID",
        "parameters": [
          {
            "description": "DHCP Relay profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDhcpRelay_DhcpRelayprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile for DHCPv4/DHCPv6 Relay configurations",
        "tags": [
          "Dhcp Relay"
        ],
        "x-cliParam": {
          "commandName": "readDhcpRelayProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readDhcpRelayCmd",
          "pathToPrint": "/dhcp-relay/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "DHCP relay profile defining DHCPv4 and DHCPv6 relay agent parameters\nincluding server addresses, Option 82 handling, hop count settings,\nand source interface selection. Each entity is identified by profile\nname. Use these APIs to create, modify, or delete a DHCP relay\nprofile instance.",
        "operationId": "replaceDhcpRelayProfileByID",
        "parameters": [
          {
            "description": "DHCP Relay profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpRelay_DhcpRelayprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update profile for DHCPv4/DHCPv6 Relay configurations",
        "tags": [
          "Dhcp Relay"
        ],
        "x-cliParam": {
          "commandName": "replaceDhcpRelayProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceDhcpRelayCmd",
          "pathToPrint": "/dhcp-relay/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "DHCP relay profile defining DHCPv4 and DHCPv6 relay agent parameters\nincluding server addresses, Option 82 handling, hop count settings,\nand source interface selection. Each entity is identified by profile\nname. Use these APIs to create, modify, or delete a DHCP relay\nprofile instance.",
        "operationId": "createDhcpRelayProfileByID",
        "parameters": [
          {
            "description": "DHCP Relay profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpRelay_DhcpRelayprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile for DHCPv4/DHCPv6 Relay configurations",
        "tags": [
          "Dhcp Relay"
        ],
        "x-cliParam": {
          "commandName": "createDhcpRelayProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createDhcpRelayCmd",
          "pathToPrint": "/dhcp-relay/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "DHCP relay profile defining DHCPv4 and DHCPv6 relay agent parameters\nincluding server addresses, Option 82 handling, hop count settings,\nand source interface selection. Each entity is identified by profile\nname. Use these APIs to create, modify, or delete a DHCP relay\nprofile instance.",
        "operationId": "deleteDhcpRelayProfileByID",
        "parameters": [
          {
            "description": "DHCP Relay profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile for DHCPv4/DHCPv6 Relay configurations",
        "tags": [
          "Dhcp Relay"
        ],
        "x-cliParam": {
          "commandName": "deleteDhcpRelayProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteDhcpRelayCmd",
          "pathToPrint": "/dhcp-relay/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "DHCP relay profile defining DHCPv4 and DHCPv6 relay agent parameters\nincluding server addresses, Option 82 handling, hop count settings,\nand source interface selection. Each entity is identified by profile\nname. Use these APIs to create, modify, or delete a DHCP relay\nprofile instance.",
        "operationId": "updateDhcpRelayProfileByID",
        "parameters": [
          {
            "description": "DHCP Relay profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpRelay_DhcpRelayprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile for DHCPv4/DHCPv6 Relay configurations",
        "tags": [
          "Dhcp Relay"
        ],
        "x-cliParam": {
          "commandName": "updateDhcpRelayProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateDhcpRelayCmd",
          "pathToPrint": "/dhcp-relay/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDhcpRelay_DhcpRelaySchemaGET": {
        "description": "DHCP Relay forwards DHCP requests from clients on one network\nsegment to DHCP servers located on different network\nsegments, enabling centralized IP address management across\nmultiple subnets. DHCP Relay supports DHCPv4 (RFC 2131) and\nDHCPv6 (RFC 3315) with configurable helper addresses, Option\n82 insertion for client identification, hop count control,\nand smart relay functionality. Configure IPv4 and IPv6 relay\nparameters including server addresses, source interfaces, and\nDHCP option handling policies. Use this API to retrieve the\nlist of DHCP relay profiles.",
        "properties": {
          "profile": {
            "description": "DHCP relay profile defining DHCPv4 and DHCPv6 relay agent parameters\nincluding server addresses, Option 82 handling, hop count settings,\nand source interface selection. Each entity is identified by profile\nname. Use these APIs to create, modify, or delete a DHCP relay\nprofile instance.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpRelay_RelayGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "DHCP Relay profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "DHCP Relay profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway"
        ]
      },
      "ArubaDhcpRelay_DhcpRelayprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpRelay_Relay"
          },
          {
            "properties": {
              "description": {
                "description": "DHCP Relay profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "DHCP Relay profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaDhcpRelay_DhcpRelayprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpRelay_RelayGet"
          },
          {
            "properties": {
              "description": {
                "description": "DHCP Relay profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "DHCP Relay profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaDhcpRelay_Ipv4Relay": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpRelay_Option82"
          }
        ],
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "enable": {
            "default": "true",
            "description": "Enables DHCPv4 relay globally. The functionality is effective\n  \t only after the port level helper configuration.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "hop-count-increment": {
            "default": "true",
            "description": "Enables hop count increment in the relayed DHCPv4 requests.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "l2vpn-clients": {
            "default": "true",
            "description": "Enables DHCPv4 relay for remote L2 VPN clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "option-xml": {
            "description": "IPv4 DHCP relay option XML file. The XML file is used as the input from the user and is validated\nagainst an XSD file in the controller. The format in the XML file is parsed and stored in the DHCP\nrelay which is used to insert Option-82 related values in the DHCP request packets sent from the\nclient to the server.",
            "format": "const",
            "maxLength": 65,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "reply-overwrite-source-ip": {
            "default": "false",
            "description": "Enables DHCPv4 relay overwrite source IP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "smart-relay": {
            "default": "false",
            "description": "Enables DHCPv4 smart relay globally. When multiple IPv4 addresses are configured on an\ninterface, the primary IP address is used first as the gateway IP (GIADDR) for DHCP relay.\nIf the DHCP server does not have available IP addresses in the pool corresponding to the primary\nIP's subnet, the secondary IP address is used as a fallback. This ensures that the DHCP relay\nremains functional by switching to a secondary IP address when the primary IP's subnet pool\nis exhausted.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv4RelayGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpRelay_Option82Get"
          }
        ],
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "enable": {
            "default": "true",
            "description": "Enables DHCPv4 relay globally. The functionality is effective\n  \t only after the port level helper configuration.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "hop-count-increment": {
            "default": "true",
            "description": "Enables hop count increment in the relayed DHCPv4 requests.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "l2vpn-clients": {
            "default": "true",
            "description": "Enables DHCPv4 relay for remote L2 VPN clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "option-xml": {
            "description": "IPv4 DHCP relay option XML file. The XML file is used as the input from the user and is validated\nagainst an XSD file in the controller. The format in the XML file is parsed and stored in the DHCP\nrelay which is used to insert Option-82 related values in the DHCP request packets sent from the\nclient to the server.",
            "format": "const",
            "maxLength": 65,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "reply-overwrite-source-ip": {
            "default": "false",
            "description": "Enables DHCPv4 relay overwrite source IP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "smart-relay": {
            "default": "false",
            "description": "Enables DHCPv4 smart relay globally. When multiple IPv4 addresses are configured on an\ninterface, the primary IP address is used first as the gateway IP (GIADDR) for DHCP relay.\nIf the DHCP server does not have available IP addresses in the pool corresponding to the primary\nIP's subnet, the secondary IP address is used as a fallback. This ensures that the DHCP relay\nremains functional by switching to a secondary IP address when the primary IP's subnet pool\nis exhausted.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv6Relay": {
        "description": "Grouping for DHCPv6 Relay Configurations",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enables DHCPv6 relay globally. The functionality is effective\nonly after the port level helper configuration.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "l2vpn-clients": {
            "default": "true",
            "description": "Enables DHCPv6 relay for remote L2 VPN clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "option-79": {
            "default": "false",
            "description": "Enables DHCPv6 relay option 79. When enabled, the relay agent provides additional information\nabout the client in the DHCPv6 requests when relayed from the client to the DHCP server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "option-xml": {
            "description": "IPv6 DHCP relay option XML file. The XML file is used as the input from the user and is validated against\nan XSD file in the controller. The format in the XML file is parsed and stored in the DHCP relay which is used\nto insert Option-82 related values in the DHCP request packets sent from the client to the server.",
            "format": "const",
            "maxLength": 65,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "source-interface": {
            "default": "false",
            "description": "Enables source-interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv6RelayGet": {
        "description": "Grouping for DHCPv6 Relay Configurations",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enables DHCPv6 relay globally. The functionality is effective\nonly after the port level helper configuration.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "l2vpn-clients": {
            "default": "true",
            "description": "Enables DHCPv6 relay for remote L2 VPN clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "option-79": {
            "default": "false",
            "description": "Enables DHCPv6 relay option 79. When enabled, the relay agent provides additional information\nabout the client in the DHCPv6 requests when relayed from the client to the DHCP server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "option-xml": {
            "description": "IPv6 DHCP relay option XML file. The XML file is used as the input from the user and is validated against\nan XSD file in the controller. The format in the XML file is parsed and stored in the DHCP relay which is used\nto insert Option-82 related values in the DHCP request packets sent from the client to the server.",
            "format": "const",
            "maxLength": 65,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "source-interface": {
            "default": "false",
            "description": "Enables source-interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Option82": {
        "description": "Grouping for Option 82 Configurations",
        "properties": {
          "option-82": {
            "description": "Option 82 Configurations",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enables the use of the configured source-interface for DHCPv4 relay agent.\nWhen set to true, the configured source-interface is used as source IP address while\nsending DHCPv4 relay messages to server.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "policy": {
                "default": "REPLACE",
                "description": "Policy to be applied on the client DHCP packets with option 82.",
                "enum": [
                  "DROP",
                  "KEEP",
                  "REPLACE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DROP": "Drop DHCP packets with option 82 information.",
                  "KEEP": "Retain option 82 information in the DHCP packets.",
                  "REPLACE": "Replace option 82 information in the DHCP packets."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Option-82 Policy types."
              },
              "remote-id": {
                "default": "MAC",
                "description": "Option 82 remote ID sub-option to be sent in the DHCP packet to server.\nIt is used to identify the relay agent device.",
                "enum": [
                  "IP",
                  "MAC",
                  "IP_MGMT_VLAN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IP": "IP address of client interface",
                  "IP_MGMT_VLAN": "IP address of the management VLAN",
                  "MAC": "MAC address of the switch."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Option-82 remote id"
              },
              "source-interface": {
                "default": "false",
                "description": "Enables the use of the configured source-interface for DHCPv4 relay agent communication.\nWhen set to true, the configured source-interface will be used for sending DHCPv4 relay messages.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "validate": {
                "default": "false",
                "description": "Validates option 82 information in the DHCP server response packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Option82Get": {
        "description": "Grouping for Option 82 Configurations",
        "properties": {
          "option-82": {
            "description": "Option 82 Configurations",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enables the use of the configured source-interface for DHCPv4 relay agent.\nWhen set to true, the configured source-interface is used as source IP address while\nsending DHCPv4 relay messages to server.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "policy": {
                "default": "REPLACE",
                "description": "Policy to be applied on the client DHCP packets with option 82.",
                "enum": [
                  "DROP",
                  "KEEP",
                  "REPLACE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DROP": "Drop DHCP packets with option 82 information.",
                  "KEEP": "Retain option 82 information in the DHCP packets.",
                  "REPLACE": "Replace option 82 information in the DHCP packets."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Option-82 Policy types."
              },
              "remote-id": {
                "default": "MAC",
                "description": "Option 82 remote ID sub-option to be sent in the DHCP packet to server.\nIt is used to identify the relay agent device.",
                "enum": [
                  "IP",
                  "MAC",
                  "IP_MGMT_VLAN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IP": "IP address of client interface",
                  "IP_MGMT_VLAN": "IP address of the management VLAN",
                  "MAC": "MAC address of the switch."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Option-82 remote id"
              },
              "source-interface": {
                "default": "false",
                "description": "Enables the use of the configured source-interface for DHCPv4 relay agent communication.\nWhen set to true, the configured source-interface will be used for sending DHCPv4 relay messages.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "validate": {
                "default": "false",
                "description": "Validates option 82 information in the DHCP server response packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Relay": {
        "description": "Grouping for DHCP Relay Configurations",
        "properties": {
          "ipv4": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv4Relay"
              }
            ],
            "description": "DHCPv4 Relay Configurations",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ipv6": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv6Relay"
              }
            ],
            "description": "DHCPv6 Relay Configurations",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_RelayGet": {
        "description": "Grouping for DHCP Relay Configurations",
        "properties": {
          "ipv4": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv4RelayGet"
              }
            ],
            "description": "DHCPv4 Relay Configurations",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ipv6": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv6RelayGet"
              }
            ],
            "description": "DHCPv6 Relay Configurations",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaDhcpRelay_DhcpRelayprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaDhcpRelay_DhcpRelayprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
