{
  "openapi": "3.1.0",
  "info": {
    "title": "Ipsla",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Ipsla"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ipsla": {
      "get": {
        "description": "Internet Protocol Service Level Agreement (IPSLA) configuration.\nIPSLA as a feature enables measuring network performance between\ntwo nodes in a network for different service level agreement parameters\nsuch as round trip time (RTT), one way delay, jitter, reachability,\npacket loss, voice quality scores etc.",
        "operationId": "readIpsla",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIpsla_IpslaSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing SLA profiles",
        "tags": [
          "Ipsla"
        ],
        "x-cliParam": {
          "commandName": "readIpslaCmd",
          "commandUse": "ipsla",
          "parentCommand": "readCmd",
          "pathToPrint": "/ipsla/",
          "summary": "Read operation for ipsla"
        }
      }
    },
    "/network-config/v1alpha1/ipsla/{name}": {
      "get": {
        "description": "IPSLA Profile.",
        "operationId": "readIpslaProfileByID",
        "parameters": [
          {
            "description": "IPSLA profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIpsla_IpslaprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing SLA profile {name}",
        "tags": [
          "Ipsla"
        ],
        "x-cliParam": {
          "commandName": "readIpslaProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readIpslaCmd",
          "pathToPrint": "/ipsla/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "IPSLA Profile.",
        "operationId": "replaceIpslaProfileByID",
        "parameters": [
          {
            "description": "IPSLA profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpsla_IpslaprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing SLA profile {name}",
        "tags": [
          "Ipsla"
        ],
        "x-cliParam": {
          "commandName": "replaceIpslaProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceIpslaCmd",
          "pathToPrint": "/ipsla/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "IPSLA Profile.",
        "operationId": "createIpslaProfileByID",
        "parameters": [
          {
            "description": "IPSLA profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpsla_IpslaprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new SLA profile {name}",
        "tags": [
          "Ipsla"
        ],
        "x-cliParam": {
          "commandName": "createIpslaProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createIpslaCmd",
          "pathToPrint": "/ipsla/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "IPSLA Profile.",
        "operationId": "deleteIpslaProfileByID",
        "parameters": [
          {
            "description": "IPSLA profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete existing SLA profile {name}",
        "tags": [
          "Ipsla"
        ],
        "x-cliParam": {
          "commandName": "deleteIpslaProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteIpslaCmd",
          "pathToPrint": "/ipsla/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "IPSLA Profile.",
        "operationId": "updateIpslaProfileByID",
        "parameters": [
          {
            "description": "IPSLA profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpsla_IpslaprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Modify existing SLA profile {name}",
        "tags": [
          "Ipsla"
        ],
        "x-cliParam": {
          "commandName": "updateIpslaProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateIpslaCmd",
          "pathToPrint": "/ipsla/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaIpsla_HttpConfig": {
        "description": "Grouping for the HTTP/s IPSLA config.",
        "properties": {
          "http": {
            "description": "HTTP/s IPSLA configuration.",
            "properties": {
              "cache-enable": {
                "description": "Enable caching of web pages.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "proxy-url": {
                "description": "URL address of the proxy server.",
                "format": "const",
                "maxLength": 2000,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "raw-payload": {
                "description": "Raw payload in the HTTP/s request.",
                "format": "const",
                "maxLength": 1024,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "request-type": {
                "description": "Request type for HTTP/s SLA.",
                "enum": [
                  "GET",
                  "RAW"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "GET": "HTTP payload is generated by the system.",
                  "RAW": "HTTP payload is generated by the user."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "HTTP request type."
              },
              "url": {
                "description": "Uniform Resource Locator (URL) address to reach the HTTP/s server.",
                "format": "const",
                "maxLength": 2000,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "version": {
                "description": "Version number for HTTP/s request.",
                "enum": [
                  "HTTP_1_0",
                  "HTTP_1_1"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HTTP_1_0": "HTTP version 1.0 in the payload.",
                  "HTTP_1_1": "HTTP version 1.1 in the payload."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "HTTP request type."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaIpsla_HttpConfigGet": {
        "description": "Grouping for the HTTP/s IPSLA config.",
        "properties": {
          "http": {
            "description": "HTTP/s IPSLA configuration.",
            "properties": {
              "cache-enable": {
                "description": "Enable caching of web pages.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "proxy-url": {
                "description": "URL address of the proxy server.",
                "format": "const",
                "maxLength": 2000,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "raw-payload": {
                "description": "Raw payload in the HTTP/s request.",
                "format": "const",
                "maxLength": 1024,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "request-type": {
                "description": "Request type for HTTP/s SLA.",
                "enum": [
                  "GET",
                  "RAW"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "GET": "HTTP payload is generated by the system.",
                  "RAW": "HTTP payload is generated by the user."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "HTTP request type."
              },
              "url": {
                "description": "Uniform Resource Locator (URL) address to reach the HTTP/s server.",
                "format": "const",
                "maxLength": 2000,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "version": {
                "description": "Version number for HTTP/s request.",
                "enum": [
                  "HTTP_1_0",
                  "HTTP_1_1"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HTTP_1_0": "HTTP version 1.0 in the payload.",
                  "HTTP_1_1": "HTTP version 1.1 in the payload."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "HTTP request type."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaResponderConfig": {
        "description": "Grouping for IPSLA responder configuration.",
        "properties": {
          "responder-sessions": {
            "description": "List of IPSLA responder sessions.",
            "items": {
              "properties": {
                "ipv6-responder-enable": {
                  "description": "IPv6 IPSLA responder.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "responder-ipv4-address": {
                  "description": "Responder IP address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "responder-name": {
                  "description": "IPSLA responder name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "responder-port": {
                  "description": "TCP/UDP port number on which the responder needs to listen to.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                },
                "responder-source": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaIpsla_ResponderSourceConfig"
                    }
                  ],
                  "description": "Source configuration for IPSLA responder.",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "responder-type": {
                  "description": "IPSLA responder type.",
                  "enum": [
                    "RESP_TCP_CONNECT",
                    "RESP_UDP_ECHO",
                    "RESP_UDP_JITTER",
                    "RESP_UDP_JITTER_VOIP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RESP_TCP_CONNECT": "IPSLA responder for TCP Connect.",
                    "RESP_UDP_ECHO": "IPSLA responder for UDP Echo.",
                    "RESP_UDP_JITTER": "IPSLA responder for UDP Jitter.",
                    "RESP_UDP_JITTER_VOIP": "IPSLA responder for UDP Jitter VOIP."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "IPSLA responder type."
                },
                "responder-vrf": {
                  "description": "VRF name in SLA will send or receive packets",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              },
              "required": [
                "responder-port",
                "responder-type"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "responderName"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaResponderConfigGet": {
        "description": "Grouping for IPSLA responder configuration.",
        "properties": {
          "responder-sessions": {
            "description": "List of IPSLA responder sessions.",
            "items": {
              "properties": {
                "ipv6-responder-enable": {
                  "description": "IPv6 IPSLA responder.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "responder-ipv4-address": {
                  "description": "Responder IP address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "responder-name": {
                  "description": "IPSLA responder name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "responder-port": {
                  "description": "TCP/UDP port number on which the responder needs to listen to.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                },
                "responder-source": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaIpsla_ResponderSourceConfigGet"
                    }
                  ],
                  "description": "Source configuration for IPSLA responder.",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "responder-type": {
                  "description": "IPSLA responder type.",
                  "enum": [
                    "RESP_TCP_CONNECT",
                    "RESP_UDP_ECHO",
                    "RESP_UDP_JITTER",
                    "RESP_UDP_JITTER_VOIP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RESP_TCP_CONNECT": "IPSLA responder for TCP Connect.",
                    "RESP_UDP_ECHO": "IPSLA responder for UDP Echo.",
                    "RESP_UDP_JITTER": "IPSLA responder for UDP Jitter.",
                    "RESP_UDP_JITTER_VOIP": "IPSLA responder for UDP Jitter VOIP."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "IPSLA responder type."
                },
                "responder-vrf": {
                  "description": "VRF name in SLA will send or receive packets",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              },
              "required": [
                "responder-port",
                "responder-type"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "responderName"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaSchemaGET": {
        "description": "Internet Protocol Service Level Agreement (IPSLA) configuration.\nIPSLA as a feature enables measuring network performance between\ntwo nodes in a network for different service level agreement parameters\nsuch as round trip time (RTT), one way delay, jitter, reachability,\npacket loss, voice quality scores etc.",
        "properties": {
          "profile": {
            "description": "IPSLA Profile.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaIpsla_IpslaResponderConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_IpslaSourceConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_IpslaWanConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "IPSLA profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "IPSLA profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Access Point",
                        "Gateway"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch PVOS"
        ]
      },
      "ArubaIpsla_IpslaSourceConfig": {
        "description": "Grouping for IPSLA source configuration.",
        "properties": {
          "source-sessions": {
            "description": "List of IPSLA source sessions.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaIpsla_HttpConfig"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_ScheduleConfig"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_ThresholdConfig"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_VoipConfig"
                },
                {
                  "properties": {
                    "destination-hostname": {
                      "description": "Host name of the destination.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "destination-hostname",
                      "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9\\-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9\\-]*[a-zA-Z0-9])?)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "destination-ipv4": {
                      "description": "IPv4 address of the destination.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address-prefix",
                      "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-2][0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-5][0-5])))'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Valid IPv4 address type for interface"
                    },
                    "destination-ipv6": {
                      "description": "IP address of the destination.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address-prefix",
                      "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Valid IPv6 address type for interface"
                    },
                    "destination-port": {
                      "description": "Port number of the destination.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "domain-name-server-ipv4": {
                      "description": "IPv4 address of the DNS server.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "domain-name-server-ipv6": {
                      "description": "IPv6 address of the DNS server.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "enable": {
                      "description": "Enable the IPSLA session.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "frequency": {
                      "description": "Time gap between two consecutive probes of the SLA session.",
                      "format": "int64",
                      "maximum": 604800,
                      "minimum": 5,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "history-size": {
                      "description": "Size of the payload to add to ICMP echo and UDP echo probes.",
                      "format": "int64",
                      "maximum": 50,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "num-of-packets": {
                      "description": "Number of packets to be sent out for a single probe for UDP Jitter SLA type.",
                      "format": "int64",
                      "maximum": 1000,
                      "minimum": 10,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "packet-interval": {
                      "description": "Inter packet interval in milliseconds, which is to be used for packets\nthat are sent out for a single probe for UDP Jitter SLA type",
                      "format": "int64",
                      "maximum": 60000,
                      "minimum": 10,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "payload-size": {
                      "description": "Size of the payload to add to ICMP echo and UDP echo probes.",
                      "format": "int64",
                      "maximum": 8100,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "source": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaIpsla_SourceConfig"
                        }
                      ],
                      "description": "Source configuration for IPSLA source.",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "source-name": {
                      "description": "IPSLA session name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tos": {
                      "description": "Type of Service (TOS) to add to ICMP echo and UDP echo probes.",
                      "format": "int64",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "type": {
                      "description": "IPSLA mechanism type.",
                      "enum": [
                        "DHCP",
                        "DNS",
                        "HTTP",
                        "HTTPS",
                        "ICMP_ECHO",
                        "TCP_CONNECT",
                        "UDP_ECHO",
                        "UDP_JITTER",
                        "UDP_JITTER_VOIP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DHCP": "IPSLA session for Dynamic Host Configuration Protocol (DHCP).",
                        "DNS": "IPSLA session for DNS (Domain Name System).",
                        "HTTP": "IPSLA session for Hypertext Transfer Protocol (HTTP).",
                        "HTTPS": "IPSLA session for Hypertext Transfer Protocol Secure (HTTPS).",
                        "ICMP_ECHO": "IPSLA session for Internet Control Message Protocol (ICMP) Echo.",
                        "TCP_CONNECT": "IPSLA session for Transmission Control Protocol (TCP) Connect.",
                        "UDP_ECHO": "IPSLA session for User Datagram Protocol (UDP) Echo.",
                        "UDP_JITTER": "IPSLA session for UDP Jitter.",
                        "UDP_JITTER_VOIP": "IPSLA session for UDP Jitter Voice over Internet Protocol (VOIP)."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "IPSLA probe type."
                    },
                    "vrf": {
                      "description": "VRF for sending probes",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sourceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaSourceConfigGet": {
        "description": "Grouping for IPSLA source configuration.",
        "properties": {
          "source-sessions": {
            "description": "List of IPSLA source sessions.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaIpsla_HttpConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_ScheduleConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_ThresholdConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaIpsla_VoipConfigGet"
                },
                {
                  "properties": {
                    "destination-hostname": {
                      "description": "Host name of the destination.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "destination-hostname",
                      "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9\\-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9\\-]*[a-zA-Z0-9])?)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "destination-ipv4": {
                      "description": "IPv4 address of the destination.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address-prefix",
                      "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-2][0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-5][0-5])))'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Valid IPv4 address type for interface"
                    },
                    "destination-ipv6": {
                      "description": "IP address of the destination.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address-prefix",
                      "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Valid IPv6 address type for interface"
                    },
                    "destination-port": {
                      "description": "Port number of the destination.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "domain-name-server-ipv4": {
                      "description": "IPv4 address of the DNS server.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "domain-name-server-ipv6": {
                      "description": "IPv6 address of the DNS server.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "enable": {
                      "description": "Enable the IPSLA session.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "frequency": {
                      "description": "Time gap between two consecutive probes of the SLA session.",
                      "format": "int64",
                      "maximum": 604800,
                      "minimum": 5,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "history-size": {
                      "description": "Size of the payload to add to ICMP echo and UDP echo probes.",
                      "format": "int64",
                      "maximum": 50,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "num-of-packets": {
                      "description": "Number of packets to be sent out for a single probe for UDP Jitter SLA type.",
                      "format": "int64",
                      "maximum": 1000,
                      "minimum": 10,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "packet-interval": {
                      "description": "Inter packet interval in milliseconds, which is to be used for packets\nthat are sent out for a single probe for UDP Jitter SLA type",
                      "format": "int64",
                      "maximum": 60000,
                      "minimum": 10,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "payload-size": {
                      "description": "Size of the payload to add to ICMP echo and UDP echo probes.",
                      "format": "int64",
                      "maximum": 8100,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "source": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaIpsla_SourceConfigGet"
                        }
                      ],
                      "description": "Source configuration for IPSLA source.",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "source-name": {
                      "description": "IPSLA session name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tos": {
                      "description": "Type of Service (TOS) to add to ICMP echo and UDP echo probes.",
                      "format": "int64",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "type": {
                      "description": "IPSLA mechanism type.",
                      "enum": [
                        "DHCP",
                        "DNS",
                        "HTTP",
                        "HTTPS",
                        "ICMP_ECHO",
                        "TCP_CONNECT",
                        "UDP_ECHO",
                        "UDP_JITTER",
                        "UDP_JITTER_VOIP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DHCP": "IPSLA session for Dynamic Host Configuration Protocol (DHCP).",
                        "DNS": "IPSLA session for DNS (Domain Name System).",
                        "HTTP": "IPSLA session for Hypertext Transfer Protocol (HTTP).",
                        "HTTPS": "IPSLA session for Hypertext Transfer Protocol Secure (HTTPS).",
                        "ICMP_ECHO": "IPSLA session for Internet Control Message Protocol (ICMP) Echo.",
                        "TCP_CONNECT": "IPSLA session for Transmission Control Protocol (TCP) Connect.",
                        "UDP_ECHO": "IPSLA session for User Datagram Protocol (UDP) Echo.",
                        "UDP_JITTER": "IPSLA session for UDP Jitter.",
                        "UDP_JITTER_VOIP": "IPSLA session for UDP Jitter Voice over Internet Protocol (VOIP)."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "IPSLA probe type."
                    },
                    "vrf": {
                      "description": "VRF for sending probes",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sourceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaWanConfig": {
        "description": "Grouping for WAN IPSLA configuration",
        "properties": {
          "wan": {
            "description": "WAN SLA profile intended for Gateway and Microbranch AP platforms.\n\nCreates an IPSLA profile (when sla-destination is set to\nSLA_DESTINATION_MANUAL or SLA_DESTINATION_TUNNEL) that can be attached\nto a Nexthop for Policy Based Routing(PBR) or a Threshold profile\n(when sla-destination is set to SLA_THRESHOLD_WAN_HEALTH_CHECK)\nthat can be attached to a DPS WAN policy for steering the traffic\nover the compliant uplink/tunnel or a SaaS Threshold profile (when\nsla-destination is set to SLA_THRESHOLD_WAN_HEALTH_CHECK and the\nprofile is configured as saas-threshold-profile) that can be attached\nto a SaaS Express application to forward the application traffic over\nthe best performing uplink.",
            "properties": {
              "bandwidth-utilization": {
                "description": "Uplink bandwidth-utilization threshold value in percentage",
                "format": "int32",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "jitter": {
                "description": "Jitter SLA threshold value in milliseconds",
                "format": "int32",
                "maximum": 250,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "latency": {
                "description": "Latency SLA threshold value in milliseconds",
                "format": "int32",
                "maximum": 500,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "mos": {
                "description": "Mean opinion score (MOS) threshold value between 1-5",
                "format": "int32",
                "maximum": 5,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "packet-loss": {
                "description": "Packet loss SLA threshold value in percentage",
                "format": "int32",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "probe-destination-ip": {
                "description": "Configure IP address probe destination",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "probe-destination-uri": {
                "description": "Configure URI probe destination",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "probe-mode": {
                "description": "IPSLA mechanism ICMP/HTTPS for probing",
                "enum": [
                  "DHCP",
                  "DNS",
                  "HTTP",
                  "HTTPS",
                  "ICMP_ECHO",
                  "TCP_CONNECT",
                  "UDP_ECHO",
                  "UDP_JITTER",
                  "UDP_JITTER_VOIP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DHCP": "IPSLA session for Dynamic Host Configuration Protocol (DHCP).",
                  "DNS": "IPSLA session for DNS (Domain Name System).",
                  "HTTP": "IPSLA session for Hypertext Transfer Protocol (HTTP).",
                  "HTTPS": "IPSLA session for Hypertext Transfer Protocol Secure (HTTPS).",
                  "ICMP_ECHO": "IPSLA session for Internet Control Message Protocol (ICMP) Echo.",
                  "TCP_CONNECT": "IPSLA session for Transmission Control Protocol (TCP) Connect.",
                  "UDP_ECHO": "IPSLA session for User Datagram Protocol (UDP) Echo.",
                  "UDP_JITTER": "IPSLA session for UDP Jitter.",
                  "UDP_JITTER_VOIP": "IPSLA session for UDP Jitter Voice over Internet Protocol (VOIP)."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "IPSLA probe type."
              },
              "sla-behavior": {
                "description": "SLA compliance depends on Liveness/Performance",
                "enum": [
                  "SLA_BEHAVIOR_LIVENESS",
                  "SLA_BEHAVIOR_PERFORMANCE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SLA_BEHAVIOR_LIVENESS": "SLA compliance depends on liveness of probe destination",
                  "SLA_BEHAVIOR_PERFORMANCE": "SLA compliance depends on the configured performance metrics"
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "SLA behavior type for Liveness/Performance"
              },
              "sla-destination": {
                "description": "SLA destination type against which the SLA parameters are compared.\nAlso used to indicate an IPSLA profile or a Threshold profile.",
                "enum": [
                  "SLA_DESTINATION_MANUAL",
                  "SLA_DESTINATION_TUNNEL",
                  "SLA_THRESHOLD_WAN_HEALTH_CHECK"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SLA_DESTINATION_MANUAL": "Perform IPSLA on manually configured destination",
                  "SLA_DESTINATION_TUNNEL": "Perform IPSLA on IPSec tunnel destination",
                  "SLA_THRESHOLD_WAN_HEALTH_CHECK": "Create WAN Threshold profile for DPS/SaaS Express"
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "SLA destination type"
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaWanConfigGet": {
        "description": "Grouping for WAN IPSLA configuration",
        "properties": {
          "wan": {
            "description": "WAN SLA profile intended for Gateway and Microbranch AP platforms.\n\nCreates an IPSLA profile (when sla-destination is set to\nSLA_DESTINATION_MANUAL or SLA_DESTINATION_TUNNEL) that can be attached\nto a Nexthop for Policy Based Routing(PBR) or a Threshold profile\n(when sla-destination is set to SLA_THRESHOLD_WAN_HEALTH_CHECK)\nthat can be attached to a DPS WAN policy for steering the traffic\nover the compliant uplink/tunnel or a SaaS Threshold profile (when\nsla-destination is set to SLA_THRESHOLD_WAN_HEALTH_CHECK and the\nprofile is configured as saas-threshold-profile) that can be attached\nto a SaaS Express application to forward the application traffic over\nthe best performing uplink.",
            "properties": {
              "bandwidth-utilization": {
                "description": "Uplink bandwidth-utilization threshold value in percentage",
                "format": "int32",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "jitter": {
                "description": "Jitter SLA threshold value in milliseconds",
                "format": "int32",
                "maximum": 250,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "latency": {
                "description": "Latency SLA threshold value in milliseconds",
                "format": "int32",
                "maximum": 500,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "mos": {
                "description": "Mean opinion score (MOS) threshold value between 1-5",
                "format": "int32",
                "maximum": 5,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "packet-loss": {
                "description": "Packet loss SLA threshold value in percentage",
                "format": "int32",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "probe-destination-ip": {
                "description": "Configure IP address probe destination",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "probe-destination-uri": {
                "description": "Configure URI probe destination",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "probe-mode": {
                "description": "IPSLA mechanism ICMP/HTTPS for probing",
                "enum": [
                  "DHCP",
                  "DNS",
                  "HTTP",
                  "HTTPS",
                  "ICMP_ECHO",
                  "TCP_CONNECT",
                  "UDP_ECHO",
                  "UDP_JITTER",
                  "UDP_JITTER_VOIP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DHCP": "IPSLA session for Dynamic Host Configuration Protocol (DHCP).",
                  "DNS": "IPSLA session for DNS (Domain Name System).",
                  "HTTP": "IPSLA session for Hypertext Transfer Protocol (HTTP).",
                  "HTTPS": "IPSLA session for Hypertext Transfer Protocol Secure (HTTPS).",
                  "ICMP_ECHO": "IPSLA session for Internet Control Message Protocol (ICMP) Echo.",
                  "TCP_CONNECT": "IPSLA session for Transmission Control Protocol (TCP) Connect.",
                  "UDP_ECHO": "IPSLA session for User Datagram Protocol (UDP) Echo.",
                  "UDP_JITTER": "IPSLA session for UDP Jitter.",
                  "UDP_JITTER_VOIP": "IPSLA session for UDP Jitter Voice over Internet Protocol (VOIP)."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "IPSLA probe type."
              },
              "sla-behavior": {
                "description": "SLA compliance depends on Liveness/Performance",
                "enum": [
                  "SLA_BEHAVIOR_LIVENESS",
                  "SLA_BEHAVIOR_PERFORMANCE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SLA_BEHAVIOR_LIVENESS": "SLA compliance depends on liveness of probe destination",
                  "SLA_BEHAVIOR_PERFORMANCE": "SLA compliance depends on the configured performance metrics"
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "SLA behavior type for Liveness/Performance"
              },
              "sla-destination": {
                "description": "SLA destination type against which the SLA parameters are compared.\nAlso used to indicate an IPSLA profile or a Threshold profile.",
                "enum": [
                  "SLA_DESTINATION_MANUAL",
                  "SLA_DESTINATION_TUNNEL",
                  "SLA_THRESHOLD_WAN_HEALTH_CHECK"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SLA_DESTINATION_MANUAL": "Perform IPSLA on manually configured destination",
                  "SLA_DESTINATION_TUNNEL": "Perform IPSLA on IPSec tunnel destination",
                  "SLA_THRESHOLD_WAN_HEALTH_CHECK": "Create WAN Threshold profile for DPS/SaaS Express"
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "SLA destination type"
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaIpsla_IpslaprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaIpsla_IpslaResponderConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaIpsla_IpslaSourceConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaIpsla_IpslaWanConfig"
          },
          {
            "properties": {
              "description": {
                "description": "IPSLA profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "IPSLA profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Access Point",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaIpsla_IpslaprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaIpsla_IpslaResponderConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaIpsla_IpslaSourceConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaIpsla_IpslaWanConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "IPSLA profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "IPSLA profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Access Point",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaIpsla_ResponderSourceConfig": {
        "description": "Grouping for the Source config.",
        "properties": {
          "interface-ethernet": {
            "description": "Source ethernet interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-loopback": {
            "description": "Source interface loopback",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Source port channel",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-subinterface": {
            "description": "Source subinterface",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-tunnel": {
            "description": "Source interface tunnel",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-vlan": {
            "description": "Source interface vlan",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "ipv4-address": {
            "description": "Responder source IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "ipv6-address": {
            "description": "Responder source IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaIpsla_ResponderSourceConfigGet": {
        "description": "Grouping for the Source config.",
        "properties": {
          "interface-ethernet": {
            "description": "Source ethernet interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-loopback": {
            "description": "Source interface loopback",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Source port channel",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-subinterface": {
            "description": "Source subinterface",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-tunnel": {
            "description": "Source interface tunnel",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-vlan": {
            "description": "Source interface vlan",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "ipv4-address": {
            "description": "Responder source IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "ipv6-address": {
            "description": "Responder source IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaIpsla_ScheduleConfig": {
        "description": "Grouping for the schedule config.",
        "properties": {
          "schedule": {
            "description": "Session schedule configuration.",
            "properties": {
              "repetitions": {
                "description": "The number of times the operation will be repeated.\nThis leaf is only valid when the end-condition is 'repetitions'.",
                "format": "int64",
                "maximum": 65535,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "start": {
                "description": "Schedule type to start the session.",
                "enum": [
                  "NOW",
                  "START_TIME"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NOW": "Start the session immediately.",
                  "START_TIME": "Start time for the IPSLA session."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "IPSLA schedule session start type."
              },
              "start-value": {
                "description": "Config to schedule session start.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "date-and-time",
                "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
              },
              "stop": {
                "description": "Schedule type to stop the session.",
                "enum": [
                  "FOREVER",
                  "REPEAT",
                  "STOP_TIME"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "FOREVER": "Schedule to run the IP SLA forever.",
                  "REPEAT": "Number of times the IP SLA tests to be repeated.",
                  "STOP_TIME": "Stop time for the IPSLA session."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "IPSLA schedule session stop type."
              },
              "stop-value": {
                "description": "Config to schedule session stop.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "date-and-time",
                "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpsla_ScheduleConfigGet": {
        "description": "Grouping for the schedule config.",
        "properties": {
          "schedule": {
            "description": "Session schedule configuration.",
            "properties": {
              "repetitions": {
                "description": "The number of times the operation will be repeated.\nThis leaf is only valid when the end-condition is 'repetitions'.",
                "format": "int64",
                "maximum": 65535,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "start": {
                "description": "Schedule type to start the session.",
                "enum": [
                  "NOW",
                  "START_TIME"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NOW": "Start the session immediately.",
                  "START_TIME": "Start time for the IPSLA session."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "IPSLA schedule session start type."
              },
              "start-value": {
                "description": "Config to schedule session start.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "date-and-time",
                "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
              },
              "stop": {
                "description": "Schedule type to stop the session.",
                "enum": [
                  "FOREVER",
                  "REPEAT",
                  "STOP_TIME"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "FOREVER": "Schedule to run the IP SLA forever.",
                  "REPEAT": "Number of times the IP SLA tests to be repeated.",
                  "STOP_TIME": "Stop time for the IPSLA session."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "IPSLA schedule session stop type."
              },
              "stop-value": {
                "description": "Config to schedule session stop.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "date-and-time",
                "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpsla_SourceConfig": {
        "description": "Grouping for the Source config.",
        "properties": {
          "interface-ethernet": {
            "description": "Source ethernet interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-loopback": {
            "description": "Source interface loopback",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Source port channel",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-subinterface": {
            "description": "Source subinterface",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-tunnel": {
            "description": "Source interface tunnel",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-vlan": {
            "description": "Source interface vlan",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "ipv4-address": {
            "description": "Source IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "ipv6-address": {
            "description": "Source IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "port": {
            "description": "Source port.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          }
        }
      },
      "ArubaIpsla_SourceConfigGet": {
        "description": "Grouping for the Source config.",
        "properties": {
          "interface-ethernet": {
            "description": "Source ethernet interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-loopback": {
            "description": "Source interface loopback",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Source port channel",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-subinterface": {
            "description": "Source subinterface",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-tunnel": {
            "description": "Source interface tunnel",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-vlan": {
            "description": "Source interface vlan",
            "format": "int32",
            "maximum": 4094,
[...]
