{
  "openapi": "3.1.0",
  "info": {
    "title": "Mgmd",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Mgmd"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/mgmd-global": {
      "get": {
        "description": "Multicast Group Membership Discovery (MGMD) manages multicast\ngroup membership using IGMP (Internet Group Management\nProtocol) for IPv4 and MLD (Multicast Listener Discovery) for\nIPv6 networks. MGMD enables efficient multicast traffic\ndelivery by controlling group membership, reducing unnecessary\nflooding, and conserving network bandwidth. Configure IGMP\nsnooping, MLD snooping, querier functionality, fast-leave\nprocessing, static groups, proxy domains, and query intervals\nfor multicast optimization. Use this API to retrieve the list\nof MGMD profiles.",
        "operationId": "readMgmdGlobal",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Multicast Group Membership Discovery Protocol configurations",
        "tags": [
          "Mgmd"
        ],
        "x-cliParam": {
          "commandName": "readMgmdGlobalCmd",
          "commandUse": "mgmd-global",
          "parentCommand": "readCmd",
          "pathToPrint": "/mgmd-global/",
          "summary": "Read operation for mgmd-global"
        }
      }
    },
    "/network-config/v1alpha1/mgmd-global/{name}": {
      "get": {
        "description": "MGMD profile defining IGMP and MLD snooping parameters, querier\nsettings, fast-leave options, static multicast groups, and refresh\nintervals for multicast traffic management. Each entity is\nidentified by profile name. Use these APIs to create, modify, or\ndelete an MGMD profile instance.",
        "operationId": "readMgmdGlobalProfileByID",
        "parameters": [
          {
            "description": "Configure MGMD profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for MGMD",
        "tags": [
          "Mgmd"
        ],
        "x-cliParam": {
          "commandName": "readMgmdGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMgmdGlobalCmd",
          "pathToPrint": "/mgmd-global/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "MGMD profile defining IGMP and MLD snooping parameters, querier\nsettings, fast-leave options, static multicast groups, and refresh\nintervals for multicast traffic management. Each entity is\nidentified by profile name. Use these APIs to create, modify, or\ndelete an MGMD profile instance.",
        "operationId": "replaceMgmdGlobalProfileByID",
        "parameters": [
          {
            "description": "Configure MGMD profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMgmd_MgmdGlobalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing MGMD profile configurations",
        "tags": [
          "Mgmd"
        ],
        "x-cliParam": {
          "commandName": "replaceMgmdGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMgmdGlobalCmd",
          "pathToPrint": "/mgmd-global/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "MGMD profile defining IGMP and MLD snooping parameters, querier\nsettings, fast-leave options, static multicast groups, and refresh\nintervals for multicast traffic management. Each entity is\nidentified by profile name. Use these APIs to create, modify, or\ndelete an MGMD profile instance.",
        "operationId": "createMgmdGlobalProfileByID",
        "parameters": [
          {
            "description": "Configure MGMD profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMgmd_MgmdGlobalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile for MGMD",
        "tags": [
          "Mgmd"
        ],
        "x-cliParam": {
          "commandName": "createMgmdGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMgmdGlobalCmd",
          "pathToPrint": "/mgmd-global/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "MGMD profile defining IGMP and MLD snooping parameters, querier\nsettings, fast-leave options, static multicast groups, and refresh\nintervals for multicast traffic management. Each entity is\nidentified by profile name. Use these APIs to create, modify, or\ndelete an MGMD profile instance.",
        "operationId": "deleteMgmdGlobalProfileByID",
        "parameters": [
          {
            "description": "Configure MGMD profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for MGMD",
        "tags": [
          "Mgmd"
        ],
        "x-cliParam": {
          "commandName": "deleteMgmdGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMgmdGlobalCmd",
          "pathToPrint": "/mgmd-global/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "MGMD profile defining IGMP and MLD snooping parameters, querier\nsettings, fast-leave options, static multicast groups, and refresh\nintervals for multicast traffic management. Each entity is\nidentified by profile name. Use these APIs to create, modify, or\ndelete an MGMD profile instance.",
        "operationId": "updateMgmdGlobalProfileByID",
        "parameters": [
          {
            "description": "Configure MGMD profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMgmd_MgmdGlobalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing MGMD profile configurations",
        "tags": [
          "Mgmd"
        ],
        "x-cliParam": {
          "commandName": "updateMgmdGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMgmdGlobalCmd",
          "pathToPrint": "/mgmd-global/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaMgmd_IgmpGlobalConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalCommonConfig"
          }
        ],
        "description": "Global IGMP Configurations",
        "properties": {
          "delayed-flush": {
            "description": "Configures the number of seconds an empty IGMP\nmulticast filter will persist in hardware after\nthe last group member leaves",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "last-member-query-count": {
            "description": "Last group member query count",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "last-member-query-interval": {
            "description": "Last group member query interval",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "lookup": {
            "description": "IGMP Forwarding Lookup Mode",
            "enum": [
              "LOOKUP_MAC",
              "LOOKUP_IP",
              "LOOKUP_NONE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LOOKUP_IP": "IP Lookup Mode",
              "LOOKUP_MAC": "MAC Lookup Mode",
              "LOOKUP_NONE": "No Lookup Mode"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "MGMD Forwarding Lookup Type"
          },
          "proxy-domains": {
            "description": "IGMP Proxy Domain Configuration",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMgmd_MgmdProxyDomainConfig"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "proxyDomainName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "quick-client-convergence": {
            "default": "false",
            "description": "Trigger IGMP reports from client during roaming",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ssm-mask": {
            "description": "Source specific multicast address range mask",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "ssm-range": {
            "description": "Source specific multicast address range",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "startup-query-count": {
            "description": "Startup query count",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "startup-query-interval": {
            "description": "Startup query interval",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "v1-router-present-timeout": {
            "description": "V1 Router present timeout",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "v2-router-present-timeout": {
            "description": "V2 Router present timeout",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          }
        }
      },
      "ArubaMgmd_IgmpGlobalConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalCommonConfigGet"
          }
        ],
        "description": "Global IGMP Configurations",
        "properties": {
          "delayed-flush": {
            "description": "Configures the number of seconds an empty IGMP\nmulticast filter will persist in hardware after\nthe last group member leaves",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "last-member-query-count": {
            "description": "Last group member query count",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "last-member-query-interval": {
            "description": "Last group member query interval",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "lookup": {
            "description": "IGMP Forwarding Lookup Mode",
            "enum": [
              "LOOKUP_MAC",
              "LOOKUP_IP",
              "LOOKUP_NONE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LOOKUP_IP": "IP Lookup Mode",
              "LOOKUP_MAC": "MAC Lookup Mode",
              "LOOKUP_NONE": "No Lookup Mode"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "MGMD Forwarding Lookup Type"
          },
          "proxy-domains": {
            "description": "IGMP Proxy Domain Configuration",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMgmd_MgmdProxyDomainConfigGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "proxyDomainName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "quick-client-convergence": {
            "default": "false",
            "description": "Trigger IGMP reports from client during roaming",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ssm-mask": {
            "description": "Source specific multicast address range mask",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "ssm-range": {
            "description": "Source specific multicast address range",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "startup-query-count": {
            "description": "Startup query count",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "startup-query-interval": {
            "description": "Startup query interval",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "v1-router-present-timeout": {
            "description": "V1 Router present timeout",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "v2-router-present-timeout": {
            "description": "V2 Router present timeout",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          }
        }
      },
      "ArubaMgmd_MgmdFastlearnConfig": {
        "description": "Fastlearn port configuration for MGMD",
        "properties": {
          "all-ports": {
            "default": "false",
            "description": "Enable fastlearn on all ports.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "eth-ports": {
            "description": "List of eth-ports on which fastlearn is enabled.",
            "items": {
              "description": "List of eth-ports on which fastlearn is enabled.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "lag-ports": {
            "description": "List of lag ports on which fastlearn is enabled.",
            "items": {
              "description": "List of lag ports on which fastlearn is enabled.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_MgmdFastlearnConfigGet": {
        "description": "Fastlearn port configuration for MGMD",
        "properties": {
          "all-ports": {
            "default": "false",
            "description": "Enable fastlearn on all ports.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "eth-ports": {
            "description": "List of eth-ports on which fastlearn is enabled.",
            "items": {
              "description": "List of eth-ports on which fastlearn is enabled.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "lag-ports": {
            "description": "List of lag ports on which fastlearn is enabled.",
            "items": {
              "description": "List of lag ports on which fastlearn is enabled.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_MgmdGlobalCommonConfig": {
        "description": "Common global MGMD Configurations",
        "properties": {
          "drop-unknown": {
            "description": "IGMP/MLD Drop Unknown Multicast Traffic",
            "enum": [
              "ON_GLOBAL",
              "ON_VLAN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ON_GLOBAL": "Enable Drop Unknown globally",
              "ON_VLAN": "Enable Drop Unknown at vlan level"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "MGMD Drop Unknown Mode"
          },
          "fastlearn": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdFastlearnConfig"
              }
            ],
            "description": "IGMP/MLD Fastlearn Configuration",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "filter-unknown-multicast": {
            "default": "false",
            "description": "Block Flooding of IPv4 Unknown\nMulticast Packets",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "max-members-per-group": {
            "description": "Maximum members per multicast group",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "query-interval": {
            "description": "Query interval in seconds",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "query-response-interval": {
            "description": "Query response interval in deci seconds",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "reload": {
            "default": "false",
            "description": "Reset IGMP/MLD state on all the interfaces",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "robustness-variable": {
            "description": "Robustness variable in seconds",
            "format": "int32",
            "maximum": 10,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdGlobalCommonConfigGet": {
        "description": "Common global MGMD Configurations",
        "properties": {
          "drop-unknown": {
            "description": "IGMP/MLD Drop Unknown Multicast Traffic",
            "enum": [
              "ON_GLOBAL",
              "ON_VLAN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ON_GLOBAL": "Enable Drop Unknown globally",
              "ON_VLAN": "Enable Drop Unknown at vlan level"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "MGMD Drop Unknown Mode"
          },
          "fastlearn": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdFastlearnConfigGet"
              }
            ],
            "description": "IGMP/MLD Fastlearn Configuration",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "filter-unknown-multicast": {
            "default": "false",
            "description": "Block Flooding of IPv4 Unknown\nMulticast Packets",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "max-members-per-group": {
            "description": "Maximum members per multicast group",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "query-interval": {
            "description": "Query interval in seconds",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "query-response-interval": {
            "description": "Query response interval in deci seconds",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "IGMP Configuration Parameter Value Range"
          },
          "reload": {
            "default": "false",
            "description": "Reset IGMP/MLD state on all the interfaces",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "robustness-variable": {
            "description": "Robustness variable in seconds",
            "format": "int32",
            "maximum": 10,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdGlobalSchemaGET": {
        "description": "Multicast Group Membership Discovery (MGMD) manages multicast\ngroup membership using IGMP (Internet Group Management\nProtocol) for IPv4 and MLD (Multicast Listener Discovery) for\nIPv6 networks. MGMD enables efficient multicast traffic\ndelivery by controlling group membership, reducing unnecessary\nflooding, and conserving network bandwidth. Configure IGMP\nsnooping, MLD snooping, querier functionality, fast-leave\nprocessing, static groups, proxy domains, and query intervals\nfor multicast optimization. Use this API to retrieve the list\nof MGMD profiles.",
        "properties": {
          "profile": {
            "description": "MGMD profile defining IGMP and MLD snooping parameters, querier\nsettings, fast-leave options, static multicast groups, and refresh\nintervals for multicast traffic management. Each entity is\nidentified by profile name. Use these APIs to create, modify, or\ndelete an MGMD profile instance.",
            "items": {
              "properties": {
                "delayed-refresh-interval": {
                  "default": "30",
                  "description": "Configure MGMD Delayed Refresh interval.",
                  "format": "int64",
                  "maximum": 30,
                  "minimum": 5,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "delayed-refresh_enable": {
                  "default": "true",
                  "description": "Enable Delayed Refresh for MGMD.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "description": {
                  "description": "User comment or description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "graceful-restart-interval": {
                  "default": "260",
                  "description": "Configure MGMD Graceful Restart interval.",
                  "format": "int64",
                  "maximum": 1200,
                  "minimum": 260,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "igmp": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaMgmd_IgmpGlobalConfigGet"
                    }
                  ],
                  "description": "IGMP Global Configuration.",
                  "properties": {
                    "enable": {
                      "default": "false",
                      "description": "Enable global IGMP for MGMD.\nIGMP is used as a communication protocol by the hosts and adjacent routers\nto deliver multicast service with IPv4 networks.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "mld": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaMgmd_MldGlobalConfigGet"
                    }
                  ],
                  "description": "MLD Global Configuration.",
                  "properties": {
                    "enable": {
                      "default": "false",
                      "description": "Enable global MLD for MGMD.\nMLD is used as a communication protocol by the hosts and adjacent routers\nto deliver multicast service with IPv6 networks.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "name": {
                  "description": "Configure MGMD profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "querier-offload": {
                  "default": "true",
                  "description": "Configure MGMD Querier Offload",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "refresh-client": {
                  "default": "true",
                  "description": "Enable refreshing MGMD client details\nperiodically.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "refresh-client-interval": {
                  "default": "900",
                  "description": "Configure MGMD Client Refresh interval.",
                  "format": "int64",
                  "maximum": 900,
                  "minimum": 300,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdGlobalprofileSchema": {
        "properties": {
          "delayed-refresh-interval": {
            "default": "30",
            "description": "Configure MGMD Delayed Refresh interval.",
            "format": "int64",
            "maximum": 30,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "delayed-refresh_enable": {
            "default": "true",
            "description": "Enable Delayed Refresh for MGMD.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "description": {
            "description": "User comment or description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "graceful-restart-interval": {
            "default": "260",
            "description": "Configure MGMD Graceful Restart interval.",
            "format": "int64",
            "maximum": 1200,
            "minimum": 260,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "igmp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_IgmpGlobalConfig"
              }
            ],
            "description": "IGMP Global Configuration.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable global IGMP for MGMD.\nIGMP is used as a communication protocol by the hosts and adjacent routers\nto deliver multicast service with IPv4 networks.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mld": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MldGlobalConfig"
              }
            ],
            "description": "MLD Global Configuration.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable global MLD for MGMD.\nMLD is used as a communication protocol by the hosts and adjacent routers\nto deliver multicast service with IPv6 networks.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "Configure MGMD profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "querier-offload": {
            "default": "true",
            "description": "Configure MGMD Querier Offload",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "refresh-client": {
            "default": "true",
            "description": "Enable refreshing MGMD client details\nperiodically.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "refresh-client-interval": {
            "default": "900",
            "description": "Configure MGMD Client Refresh interval.",
            "format": "int64",
            "maximum": 900,
            "minimum": 300,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdGlobalprofileSchemaGet": {
        "properties": {
          "delayed-refresh-interval": {
            "default": "30",
            "description": "Configure MGMD Delayed Refresh interval.",
            "format": "int64",
            "maximum": 30,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "delayed-refresh_enable": {
            "default": "true",
            "description": "Enable Delayed Refresh for MGMD.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "description": {
            "description": "User comment or description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "graceful-restart-interval": {
            "default": "260",
            "description": "Configure MGMD Graceful Restart interval.",
            "format": "int64",
            "maximum": 1200,
            "minimum": 260,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "igmp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_IgmpGlobalConfigGet"
              }
            ],
            "description": "IGMP Global Configuration.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable global IGMP for MGMD.\nIGMP is used as a communication protocol by the hosts and adjacent routers\nto deliver multicast service with IPv4 networks.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mld": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MldGlobalConfigGet"
              }
            ],
            "description": "MLD Global Configuration.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable global MLD for MGMD.\nMLD is used as a communication protocol by the hosts and adjacent routers\nto deliver multicast service with IPv6 networks.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "Configure MGMD profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "querier-offload": {
            "default": "true",
            "description": "Configure MGMD Querier Offload",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "refresh-client": {
            "default": "true",
            "description": "Enable refreshing MGMD client details\nperiodically.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "refresh-client-interval": {
            "default": "900",
            "description": "Configure MGMD Client Refresh interval.",
            "format": "int64",
            "maximum": 900,
            "minimum": 300,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdProxyDomainConfig": {
        "description": "MGMD Proxy Domain Configuration",
        "properties": {
          "all-range": {
            "default": "false",
            "description": "Specify ALL of the multicast address range.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "border-addr": {
            "description": "Specify the igmp proxy border ip address.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "high-bound-group-addr": {
            "description": "Specify the igmp proxy multicast high bound\naddress",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "low-bound-group-addr": {
            "description": "Specify the igmp proxy multicast low bound\naddress",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "proxy-domain-name": {
            "description": "Specify the igmp proxy domain name.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdProxyDomainConfigGet": {
        "description": "MGMD Proxy Domain Configuration",
        "properties": {
          "all-range": {
            "default": "false",
            "description": "Specify ALL of the multicast address range.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "border-addr": {
            "description": "Specify the igmp proxy border ip address.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "high-bound-group-addr": {
            "description": "Specify the igmp proxy multicast high bound\naddress",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "low-bound-group-addr": {
            "description": "Specify the igmp proxy multicast low bound\naddress",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "proxy-domain-name": {
            "description": "Specify the igmp proxy domain name.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MldGlobalConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalCommonConfig"
          }
        ],
        "description": "IPv6 MLD Global Configurations",
        "properties": {
          "send-router-alert": {
            "description": "Enable MLD Send Router Alert",
            "enum": [
              "DEFAULT",
              "ALTERNATE_PADDING",
              "NO_ALERT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALTERNATE_PADDING": "Enable insertion of Router Alert Option with padding\nin between header length and option type",
              "DEFAULT": "Enable insertion of Router Alert Option",
              "NO_ALERT": "Disable insertion of Router Alert Option"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "MGMD Send Router Alert Mode"
          },
          "ssm-range-end": {
            "description": "Configure multicast end address of MLD SSM range",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "ssm-range-start": {
            "description": "Configure multicast start address of MLD SSM range",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaMgmd_MldGlobalConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalCommonConfigGet"
          }
        ],
        "description": "IPv6 MLD Global Configurations",
        "properties": {
          "send-router-alert": {
            "description": "Enable MLD Send Router Alert",
            "enum": [
              "DEFAULT",
              "ALTERNATE_PADDING",
              "NO_ALERT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALTERNATE_PADDING": "Enable insertion of Router Alert Option with padding\nin between header length and option type",
              "DEFAULT": "Enable insertion of Router Alert Option",
              "NO_ALERT": "Disable insertion of Router Alert Option"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "MGMD Send Router Alert Mode"
          },
          "ssm-range-end": {
            "description": "Configure multicast end address of MLD SSM range",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "ssm-range-start": {
            "description": "Configure multicast start address of MLD SSM range",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaMgmd_MgmdGlobalprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaMgmd_MgmdGlobalprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
