{
  "openapi": "3.1.0",
  "info": {
    "title": "Nae Lite",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Nae Lite"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/nae-lite": {
      "get": {
        "description": "NAE Lite parameters.",
        "operationId": "readNaeLite",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNaeLite_NaeLiteSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing nae-lite agent configurations",
        "tags": [
          "Nae Lite"
        ],
        "x-cliParam": {
          "commandName": "readNaeLiteCmd",
          "commandUse": "nae-lite",
          "parentCommand": "readCmd",
          "pathToPrint": "/nae-lite/",
          "summary": "Read operation for nae-lite"
        }
      }
    },
    "/network-config/v1alpha1/nae-lite/{name}": {
      "get": {
        "description": "NAE Lite parameters.",
        "operationId": "readNaeLiteProfileByID",
        "parameters": [
          {
            "description": "Name of the NAE Script.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNaeLite_NaeLiteprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing nae-lite agent configurations",
        "tags": [
          "Nae Lite"
        ],
        "x-cliParam": {
          "commandName": "readNaeLiteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readNaeLiteCmd",
          "pathToPrint": "/nae-lite/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "NAE Lite parameters.",
        "operationId": "replaceNaeLiteProfileByID",
        "parameters": [
          {
            "description": "Name of the NAE Script.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNaeLite_NaeLiteprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing nae-lite agent configurations",
        "tags": [
          "Nae Lite"
        ],
        "x-cliParam": {
          "commandName": "replaceNaeLiteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceNaeLiteCmd",
          "pathToPrint": "/nae-lite/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "NAE Lite parameters.",
        "operationId": "createNaeLiteProfileByID",
        "parameters": [
          {
            "description": "Name of the NAE Script.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNaeLite_NaeLiteprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new nae-lite agent by unique name",
        "tags": [
          "Nae Lite"
        ],
        "x-cliParam": {
          "commandName": "createNaeLiteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createNaeLiteCmd",
          "pathToPrint": "/nae-lite/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "NAE Lite parameters.",
        "operationId": "deleteNaeLiteProfileByID",
        "parameters": [
          {
            "description": "Name of the NAE Script.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the nae-lite agent",
        "tags": [
          "Nae Lite"
        ],
        "x-cliParam": {
          "commandName": "deleteNaeLiteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteNaeLiteCmd",
          "pathToPrint": "/nae-lite/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "NAE Lite parameters.",
        "operationId": "updateNaeLiteProfileByID",
        "parameters": [
          {
            "description": "Name of the NAE Script.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNaeLite_NaeLiteprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing nae-lite agent configurations",
        "tags": [
          "Nae Lite"
        ],
        "x-cliParam": {
          "commandName": "updateNaeLiteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateNaeLiteCmd",
          "pathToPrint": "/nae-lite/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaNaeLite_Conditions": {
        "description": "NAE condition grouping.",
        "properties": {
          "conditions": {
            "description": "NAE Lite condition parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_NaeConditionWatch"
                },
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_NaeConditionMonitor"
                },
                {
                  "properties": {
                    "cli": {
                      "description": "NAE Lite action CLI.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "condtype": {
                      "description": "Type of the condition",
                      "enum": [
                        "CONDITION_0",
                        "CONDITION_1"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CONDITION_0": "SET_CONDITION type - Provide with Set-condition type payload.",
                        "CONDITION_1": "CLEAR_CONDITION type - Provide with Clear-condition type payload."
                      },
                      "x-typeDescription": "Type of condition."
                    },
                    "facility": {
                      "description": "NAE Lite action syslog facility.",
                      "enum": [
                        "AUTH",
                        "AUTH_PRIV",
                        "CRON",
                        "DAEMON",
                        "FTP",
                        "KERNEL",
                        "LPR",
                        "MAIL",
                        "SYSLOG",
                        "USER",
                        "UUCP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTH": "Facility AUTH.\nThis facility handles logs related to\nauthentication and authorization.",
                        "AUTH_PRIV": "Facility AUTH_PRIV.\nThis facility handles logs related to\nauthentication and authorization with more private sensitive\ninformation. This is a subset of facility AUTH.",
                        "CRON": "Facility CRON",
                        "DAEMON": "Facility DAEMON",
                        "FTP": "Facility FTP (File Transfer Protocol)",
                        "KERNEL": "Facility KERNEL",
                        "LPR": "Facility LPR (Line Printer Remote)",
                        "MAIL": "Facility MAIL",
                        "SYSLOG": "Facility SYSLOG",
                        "USER": "Facility USER",
                        "UUCP": "Facility UUCP (Unix-to-Unix Copy Protocol)"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Facility to use when logging to Remote Syslog Server."
                    },
                    "nae-schedule": {
                      "description": "NAE Lite schedule CLI.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "nae-trap": {
                      "description": "NAE Lite trap CLI.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "name-condition": {
                      "description": "Watch or Monitor name.",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "redirect": {
                      "description": "NAE Lite redirect.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "redirect",
                      "x-patterns": "'(\\s*(local-file\\s*)|\\s*(\\s*(local-file\\s+)?(tftp:\\/\\/\\d{1,3}(\\.\\d{1,3}){3}\\/\\S+|(sftp|scp):\\/\\/\\w+@\\d{1,3}(\\.\\d{1,3}){3}\\/\\S+)\\s*))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "set-monitor": {
                      "description": "Set or Clear condition type.",
                      "enum": [
                        "SET_CONDITION",
                        "CLEAR_CONDITION"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CLEAR_CONDITION": "Remove the set condition used by the NAE agent.",
                        "SET_CONDITION": "Desired system condition."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of condition."
                    },
                    "set-watch": {
                      "description": "Set or Clear condition type.",
                      "enum": [
                        "SET_CONDITION",
                        "CLEAR_CONDITION"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CLEAR_CONDITION": "Remove the set condition used by the NAE agent.",
                        "SET_CONDITION": "Desired system condition."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of condition."
                    },
                    "severity": {
                      "description": "NAE Lite action syslog severity.",
                      "enum": [
                        "ALERT",
                        "CRITICAL",
                        "DEBUG",
                        "EMERGENCY",
                        "ERROR",
                        "INFO",
                        "NOTICE",
                        "WARNING"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALERT": "Action must be taken immediately. A condition that should be\ncorrected immediately, such as a corrupted system database.",
                        "CRITICAL": "Critical conditions, such as hard device errors.",
                        "DEBUG": "Debug-level messages. Messages that contain information normally\nof use only when debugging a program.",
                        "EMERGENCY": "System is unusable. A panic condition.",
                        "ERROR": "Error conditions.",
                        "INFO": "Informational messages.",
                        "NOTICE": "Normal but significant conditions. Conditions that are not error\nconditions, but that may require special handling.",
                        "WARNING": "Warning condition."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Logging level upto which, the messages are logged."
                    },
                    "status": {
                      "default": "NORMAL",
                      "description": "NAE Lite action update status.",
                      "enum": [
                        "NORMAL",
                        "MINOR",
                        "MAJOR",
                        "CRITICAL"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CRITICAL": "Status critical.",
                        "MAJOR": "Status major.",
                        "MINOR": "Status minor",
                        "NORMAL": "Status normal."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Status level of the agent."
                    },
                    "syslog": {
                      "description": "NAE Lite action syslog.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2,
            "type": "array",
            "x-key": [
              "condtype"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_ConditionsGet": {
        "description": "NAE condition grouping.",
        "properties": {
          "conditions": {
            "description": "NAE Lite condition parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_NaeConditionWatchGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_NaeConditionMonitorGet"
                },
                {
                  "properties": {
                    "cli": {
                      "description": "NAE Lite action CLI.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "condtype": {
                      "description": "Type of the condition",
                      "enum": [
                        "CONDITION_0",
                        "CONDITION_1"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CONDITION_0": "SET_CONDITION type - Provide with Set-condition type payload.",
                        "CONDITION_1": "CLEAR_CONDITION type - Provide with Clear-condition type payload."
                      },
                      "x-typeDescription": "Type of condition."
                    },
                    "facility": {
                      "description": "NAE Lite action syslog facility.",
                      "enum": [
                        "AUTH",
                        "AUTH_PRIV",
                        "CRON",
                        "DAEMON",
                        "FTP",
                        "KERNEL",
                        "LPR",
                        "MAIL",
                        "SYSLOG",
                        "USER",
                        "UUCP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTH": "Facility AUTH.\nThis facility handles logs related to\nauthentication and authorization.",
                        "AUTH_PRIV": "Facility AUTH_PRIV.\nThis facility handles logs related to\nauthentication and authorization with more private sensitive\ninformation. This is a subset of facility AUTH.",
                        "CRON": "Facility CRON",
                        "DAEMON": "Facility DAEMON",
                        "FTP": "Facility FTP (File Transfer Protocol)",
                        "KERNEL": "Facility KERNEL",
                        "LPR": "Facility LPR (Line Printer Remote)",
                        "MAIL": "Facility MAIL",
                        "SYSLOG": "Facility SYSLOG",
                        "USER": "Facility USER",
                        "UUCP": "Facility UUCP (Unix-to-Unix Copy Protocol)"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Facility to use when logging to Remote Syslog Server."
                    },
                    "nae-schedule": {
                      "description": "NAE Lite schedule CLI.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "nae-trap": {
                      "description": "NAE Lite trap CLI.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "name-condition": {
                      "description": "Watch or Monitor name.",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "redirect": {
                      "description": "NAE Lite redirect.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "redirect",
                      "x-patterns": "'(\\s*(local-file\\s*)|\\s*(\\s*(local-file\\s+)?(tftp:\\/\\/\\d{1,3}(\\.\\d{1,3}){3}\\/\\S+|(sftp|scp):\\/\\/\\w+@\\d{1,3}(\\.\\d{1,3}){3}\\/\\S+)\\s*))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "set-monitor": {
                      "description": "Set or Clear condition type.",
                      "enum": [
                        "SET_CONDITION",
                        "CLEAR_CONDITION"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CLEAR_CONDITION": "Remove the set condition used by the NAE agent.",
                        "SET_CONDITION": "Desired system condition."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of condition."
                    },
                    "set-watch": {
                      "description": "Set or Clear condition type.",
                      "enum": [
                        "SET_CONDITION",
                        "CLEAR_CONDITION"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CLEAR_CONDITION": "Remove the set condition used by the NAE agent.",
                        "SET_CONDITION": "Desired system condition."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of condition."
                    },
                    "severity": {
                      "description": "NAE Lite action syslog severity.",
                      "enum": [
                        "ALERT",
                        "CRITICAL",
                        "DEBUG",
                        "EMERGENCY",
                        "ERROR",
                        "INFO",
                        "NOTICE",
                        "WARNING"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALERT": "Action must be taken immediately. A condition that should be\ncorrected immediately, such as a corrupted system database.",
                        "CRITICAL": "Critical conditions, such as hard device errors.",
                        "DEBUG": "Debug-level messages. Messages that contain information normally\nof use only when debugging a program.",
                        "EMERGENCY": "System is unusable. A panic condition.",
                        "ERROR": "Error conditions.",
                        "INFO": "Informational messages.",
                        "NOTICE": "Normal but significant conditions. Conditions that are not error\nconditions, but that may require special handling.",
                        "WARNING": "Warning condition."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Logging level upto which, the messages are logged."
                    },
                    "status": {
                      "default": "NORMAL",
                      "description": "NAE Lite action update status.",
                      "enum": [
                        "NORMAL",
                        "MINOR",
                        "MAJOR",
                        "CRITICAL"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CRITICAL": "Status critical.",
                        "MAJOR": "Status major.",
                        "MINOR": "Status minor",
                        "NORMAL": "Status normal."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Status level of the agent."
                    },
                    "syslog": {
                      "description": "NAE Lite action syslog.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2,
            "type": "array",
            "x-key": [
              "condtype"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_Duration": {
        "description": "Time duration grouping.",
        "properties": {
          "dur-unit": {
            "description": "Unit of time duration.",
            "enum": [
              "SECONDS",
              "MINUTES",
              "HOURS",
              "DAYS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAYS": "Time duration in days.",
              "HOURS": "Time duration in hours.",
              "MINUTES": "Time duration in minutes.",
              "SECONDS": "Time duration in seconds."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Unit for time duration."
          },
          "duration": {
            "description": "The time interval used by the aggregation function or\nGroup over the specified time interval in the past instead of the\ncurrent value.",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_DurationGet": {
        "description": "Time duration grouping.",
        "properties": {
          "dur-unit": {
            "description": "Unit of time duration.",
            "enum": [
              "SECONDS",
              "MINUTES",
              "HOURS",
              "DAYS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAYS": "Time duration in days.",
              "HOURS": "Time duration in hours.",
              "MINUTES": "Time duration in minutes.",
              "SECONDS": "Time duration in seconds."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Unit for time duration."
          },
          "duration": {
            "description": "The time interval used by the aggregation function or\nGroup over the specified time interval in the past instead of the\ncurrent value.",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_Monitors": {
        "description": "NAE Lite monitor grouping.",
        "properties": {
          "monitors": {
            "description": "NAE Lite monitor parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_Duration"
                },
                {
                  "properties": {
                    "alias": {
                      "description": "Alias that identifies the resource to be monitored.\nEither the *alias* or the *resource* has to be defined.\nIf both are defined, then *resource* takes higher precedence.",
                      "enum": [
                        "CPU",
                        "MEMORY",
                        "STORAGE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CPU": "System CPU.",
                        "MEMORY": "System memory.",
                        "STORAGE": "System storage utilization."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of resource."
                    },
                    "group-by": {
                      "description": "The function used to aggregate the data of the monitored resource.,\nIf not set then no aggregation is applied to the monitored resource.",
                      "enum": [
                        "RATE",
                        "COUNT",
                        "SUM",
                        "MIN",
                        "MAX",
                        "AVERAGE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AVERAGE": "Average of the monitored data.",
                        "COUNT": "Group by distinct counts of monitored data.",
                        "MAX": "Maximum of the monitored data.",
                        "MIN": "Minimum of the monitored data.",
                        "RATE": "Rate of change of the monitored data over the specified time interval.",
                        "SUM": "Group by summing the monitored data"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Various arithmatic functions used in NAE Lite monitor."
                    },
                    "module-lc": {
                      "description": "Type of module.",
                      "enum": [
                        "LC_SLOT_1_1",
                        "LC_SLOT_1_2",
                        "LC_SLOT_1_3",
                        "LC_SLOT_1_4",
                        "LC_SLOT_1_5",
                        "LC_SLOT_1_6",
                        "LC_SLOT_1_7",
                        "LC_SLOT_1_8",
                        "LC_SLOT_1_9",
                        "LC_SLOT_1_10",
                        "LC_SLOT_1_11",
                        "LC_SLOT_1_12"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LC_SLOT_1_1": "Line Card slot number 1/1 .",
                        "LC_SLOT_1_10": "Line Card slot number 1/10 .",
                        "LC_SLOT_1_11": "Line Card slot number 1/11 .",
                        "LC_SLOT_1_12": "Line Card slot number 1/12 .",
                        "LC_SLOT_1_2": "Line Card slot number 1/2 .",
                        "LC_SLOT_1_3": "Line Card slot number 1/3 .",
                        "LC_SLOT_1_4": "Line Card slot number 1/4 .",
                        "LC_SLOT_1_5": "Line Card slot number 1/5 .",
                        "LC_SLOT_1_6": "Line Card slot number 1/6 .",
                        "LC_SLOT_1_7": "Line Card slot number 1/7 .",
                        "LC_SLOT_1_8": "Line Card slot number 1/8 .",
                        "LC_SLOT_1_9": "Line Card slot number 1/9 ."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Line Card slot number."
                    },
                    "module-mm": {
                      "description": "Type of module.",
                      "enum": [
                        "MM_SLOT_1_1",
                        "MM_SLOT_1_2",
                        "MM_SLOT_1_5",
                        "MM_SLOT_1_6"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MM_SLOT_1_1": "Management Module slot number 1/1 .",
                        "MM_SLOT_1_2": "Management Module slot number 1/2 .",
                        "MM_SLOT_1_5": "Management Module slot number 1/5 .",
                        "MM_SLOT_1_6": "Management Module slot number 1/6 ."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Managementmodule slot number."
                    },
                    "monitor-name": {
                      "description": "Name of the NAE Monitor",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "storage-location": {
                      "description": "Storage location.",
                      "enum": [
                        "COREDUMP",
                        "NOS",
                        "LOGS",
                        "SECURITY",
                        "SELFTEST"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COREDUMP": "Location /fs/coredump .",
                        "LOGS": "Location /fs/logs .",
                        "NOS": "Location /fs/nos .",
                        "SECURITY": "Location /fs/security .",
                        "SELFTEST": "Location /fs/selftest ."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Storage location."
                    },
                    "vsf-member": {
                      "description": "VSF member id.",
                      "format": "int32",
                      "maximum": 10,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2,
            "type": "array",
            "x-key": [
              "monitorName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_MonitorsGet": {
        "description": "NAE Lite monitor grouping.",
        "properties": {
          "monitors": {
            "description": "NAE Lite monitor parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_DurationGet"
                },
                {
                  "properties": {
                    "alias": {
                      "description": "Alias that identifies the resource to be monitored.\nEither the *alias* or the *resource* has to be defined.\nIf both are defined, then *resource* takes higher precedence.",
                      "enum": [
                        "CPU",
                        "MEMORY",
                        "STORAGE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CPU": "System CPU.",
                        "MEMORY": "System memory.",
                        "STORAGE": "System storage utilization."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of resource."
                    },
                    "group-by": {
                      "description": "The function used to aggregate the data of the monitored resource.,\nIf not set then no aggregation is applied to the monitored resource.",
                      "enum": [
                        "RATE",
                        "COUNT",
                        "SUM",
                        "MIN",
                        "MAX",
                        "AVERAGE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AVERAGE": "Average of the monitored data.",
                        "COUNT": "Group by distinct counts of monitored data.",
                        "MAX": "Maximum of the monitored data.",
                        "MIN": "Minimum of the monitored data.",
                        "RATE": "Rate of change of the monitored data over the specified time interval.",
                        "SUM": "Group by summing the monitored data"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Various arithmatic functions used in NAE Lite monitor."
                    },
                    "module-lc": {
                      "description": "Type of module.",
                      "enum": [
                        "LC_SLOT_1_1",
                        "LC_SLOT_1_2",
                        "LC_SLOT_1_3",
                        "LC_SLOT_1_4",
                        "LC_SLOT_1_5",
                        "LC_SLOT_1_6",
                        "LC_SLOT_1_7",
                        "LC_SLOT_1_8",
                        "LC_SLOT_1_9",
                        "LC_SLOT_1_10",
                        "LC_SLOT_1_11",
                        "LC_SLOT_1_12"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LC_SLOT_1_1": "Line Card slot number 1/1 .",
                        "LC_SLOT_1_10": "Line Card slot number 1/10 .",
                        "LC_SLOT_1_11": "Line Card slot number 1/11 .",
                        "LC_SLOT_1_12": "Line Card slot number 1/12 .",
                        "LC_SLOT_1_2": "Line Card slot number 1/2 .",
                        "LC_SLOT_1_3": "Line Card slot number 1/3 .",
                        "LC_SLOT_1_4": "Line Card slot number 1/4 .",
                        "LC_SLOT_1_5": "Line Card slot number 1/5 .",
                        "LC_SLOT_1_6": "Line Card slot number 1/6 .",
                        "LC_SLOT_1_7": "Line Card slot number 1/7 .",
                        "LC_SLOT_1_8": "Line Card slot number 1/8 .",
                        "LC_SLOT_1_9": "Line Card slot number 1/9 ."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Line Card slot number."
                    },
                    "module-mm": {
                      "description": "Type of module.",
                      "enum": [
                        "MM_SLOT_1_1",
                        "MM_SLOT_1_2",
                        "MM_SLOT_1_5",
                        "MM_SLOT_1_6"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MM_SLOT_1_1": "Management Module slot number 1/1 .",
                        "MM_SLOT_1_2": "Management Module slot number 1/2 .",
                        "MM_SLOT_1_5": "Management Module slot number 1/5 .",
                        "MM_SLOT_1_6": "Management Module slot number 1/6 ."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Managementmodule slot number."
                    },
                    "monitor-name": {
                      "description": "Name of the NAE Monitor",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "storage-location": {
                      "description": "Storage location.",
                      "enum": [
                        "COREDUMP",
                        "NOS",
                        "LOGS",
                        "SECURITY",
                        "SELFTEST"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COREDUMP": "Location /fs/coredump .",
                        "LOGS": "Location /fs/logs .",
                        "NOS": "Location /fs/nos .",
                        "SECURITY": "Location /fs/security .",
                        "SELFTEST": "Location /fs/selftest ."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Storage location."
                    },
                    "vsf-member": {
                      "description": "VSF member id.",
                      "format": "int32",
                      "maximum": 10,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2,
            "type": "array",
            "x-key": [
              "monitorName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_NaeConditionMonitor": {
        "description": "NAE Lite condition monitor grouping.",
        "properties": {
          "durationmonitor": {
            "description": "The time interval used by the aggregation function or\nGroup over the specified time interval in the past instead of the\ncurrent value.",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "durunit-monitor": {
            "description": "Unit of time duration.",
            "enum": [
              "SECONDS",
              "MINUTES",
              "HOURS",
              "DAYS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAYS": "Time duration in days.",
              "HOURS": "Time duration in hours.",
              "MINUTES": "Time duration in minutes.",
              "SECONDS": "Time duration in seconds."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Unit for time duration."
          },
          "operand": {
            "default": "0",
            "description": "Operand for arithmetic operator.",
            "format": "const",
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "operator": {
            "description": "Arithmetic operator for NAE Lite condition monitor.",
            "enum": [
              "LT",
              "LE",
              "EQ",
              "NE",
              "GT",
              "GE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EQ": "Monitor value is equal to the compared value.",
              "GE": "Monitor value is greater than or equal to the compared value.",
              "GT": "Monitor value is greater than the compared value.",
              "LE": "Monitor value is less than or equal to the compared value.",
              "LT": "Monitor value is less than the compared value.",
              "NE": "Monitor value is not equal to the compared value."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type of operator."
          },
          "transition-from": {
            "description": "Monitors transit from the value.",
            "format": "const",
            "maxLength": 255,
            "minLength": 3,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "transition-to": {
            "description": "Monitors transit to the value.",
            "format": "const",
            "maxLength": 255,
            "minLength": 3,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_NaeConditionMonitorGet": {
        "description": "NAE Lite condition monitor grouping.",
        "properties": {
          "durationmonitor": {
            "description": "The time interval used by the aggregation function or\nGroup over the specified time interval in the past instead of the\ncurrent value.",
            "format": "int32",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "durunit-monitor": {
            "description": "Unit of time duration.",
            "enum": [
              "SECONDS",
              "MINUTES",
              "HOURS",
              "DAYS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAYS": "Time duration in days.",
              "HOURS": "Time duration in hours.",
              "MINUTES": "Time duration in minutes.",
              "SECONDS": "Time duration in seconds."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Unit for time duration."
          },
          "operand": {
            "default": "0",
            "description": "Operand for arithmetic operator.",
            "format": "const",
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "operator": {
            "description": "Arithmetic operator for NAE Lite condition monitor.",
            "enum": [
              "LT",
              "LE",
              "EQ",
              "NE",
              "GT",
              "GE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EQ": "Monitor value is equal to the compared value.",
              "GE": "Monitor value is greater than or equal to the compared value.",
              "GT": "Monitor value is greater than the compared value.",
              "LE": "Monitor value is less than or equal to the compared value.",
              "LT": "Monitor value is less than the compared value.",
              "NE": "Monitor value is not equal to the compared value."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type of operator."
          },
          "transition-from": {
            "description": "Monitors transit from the value.",
            "format": "const",
            "maxLength": 255,
            "minLength": 3,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "transition-to": {
            "description": "Monitors transit to the value.",
            "format": "const",
            "maxLength": 255,
            "minLength": 3,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_NaeConditionWatch": {
        "description": "NAE Lite watch parameters.",
        "properties": {
          "count": {
            "description": "Limits the condition to satisfy once in every specific count.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "exclude-regex": {
            "description": "List of comma separated regular expressions to exclude.",
            "items": {
              "description": "List of comma separated regular expressions to exclude.",
              "format": "const",
              "maxLength": 255,
              "minLength": 3,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "include": {
            "description": "Include type",
            "enum": [
              "ALL",
              "ANY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALL": "Event log messages should include all of the specified lists of\nregular expressions.",
              "ANY": "Event log messages should include any of the specified lists of\nregular expressions."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type of regular expression match."
          },
          "include-regex": {
            "description": "List of comma separated regular expressions to include.",
            "items": {
              "description": "List of comma separated regular expressions to include.",
              "format": "const",
              "maxLength": 255,
              "minLength": 3,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaNaeLite_NaeConditionWatchGet": {
        "description": "NAE Lite watch parameters.",
        "properties": {
          "count": {
            "description": "Limits the condition to satisfy once in every specific count.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "exclude-regex": {
            "description": "List of comma separated regular expressions to exclude.",
            "items": {
              "description": "List of comma separated regular expressions to exclude.",
              "format": "const",
              "maxLength": 255,
              "minLength": 3,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "include": {
            "description": "Include type",
            "enum": [
              "ALL",
              "ANY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALL": "Event log messages should include all of the specified lists of\nregular expressions.",
              "ANY": "Event log messages should include any of the specified lists of\nregular expressions."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type of regular expression match."
          },
          "include-regex": {
            "description": "List of comma separated regular expressions to include.",
            "items": {
              "description": "List of comma separated regular expressions to include.",
              "format": "const",
              "maxLength": 255,
              "minLength": 3,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaNaeLite_NaeLiteSchemaGET": {
        "description": "NAE Lite parameters.",
        "properties": {
          "profile": {
            "description": "NAE Lite parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_WatchesGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_MonitorsGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNaeLite_ConditionsGet"
                },
                {
                  "properties": {
                    "agent-type": {
                      "description": "Type of NAE lite agent.",
                      "enum": [
                        "WATCH",
                        "MONITOR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MONITOR": "Monitor NAE Lite agent.",
                        "WATCH": "Watch NAE Lite agent."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type of NAE lite agent."
                    },
                    "description": {
                      "description": "NAE Script description.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 3,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "disable": {
                      "default": "false",
                      "description": "Disable this script from being deployed.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "name": {
                      "description": "Name of the NAE Script.",
                      "format": "pattern",
                      "maxLength": 80,
                      "minLength": 3,
                      "type": "string",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9_]+'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ready": {
                      "default": "false",
                      "description": "NAE Script configuration is ready for generation.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "tags": {
                      "description": "The list of tags assigned to the NAE Script",
                      "items": {
                        "description": "The list of tags assigned to the NAE Script",
                        "format": "const",
                        "maxLength": 32,
                        "minLength": 3,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "maxItems": 16,
                      "type": "array"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaNaeLite_NaeLiteprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaNaeLite_Watches"
          },
          {
            "$ref": "#/components/schemas/ArubaNaeLite_Monitors"
          },
          {
            "$ref": "#/components/schemas/ArubaNaeLite_Conditions"
          },
          {
            "properties": {
              "agent-type": {
                "description": "Type of NAE lite agent.",
                "enum": [
                  "WATCH",
                  "MONITOR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "MONITOR": "Monitor NAE Lite agent.",
                  "WATCH": "Watch NAE Lite agent."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type of NAE lite agent."
              },
              "description": {
                "description": "NAE Script description.",
                "format": "const",
                "maxLength": 255,
                "minLength": 3,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "disable": {
                "default": "false",
                "description": "Disable this script from being deployed.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "name": {
                "description": "Name of the NAE Script.",
                "format": "pattern",
                "maxLength": 80,
                "minLength": 3,
                "type": "string",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9_]+'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ready": {
                "default": "false",
                "description": "NAE Script configuration is ready for generation.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "tags": {
                "description": "The list of tags assigned to the NAE Script",
                "items": {
                  "description": "The list of tags assigned to the NAE Script",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 3,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 16,
                "type": "array"
              }
            }
          }
        ]
      },
      "ArubaNaeLite_NaeLiteprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaNaeLite_WatchesGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNaeLite_MonitorsGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNaeLite_ConditionsGet"
          },
          {
            "properties": {
              "agent-type": {
                "description": "Type of NAE lite agent.",
                "enum": [
                  "WATCH",
                  "MONITOR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "MONITOR": "Monitor NAE Lite agent.",
                  "WATCH": "Watch NAE Lite agent."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type of NAE lite agent."
              },
              "description": {
                "description": "NAE Script description.",
                "format": "const",
                "maxLength": 255,
                "minLength": 3,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "disable": {
                "default": "false",
                "description": "Disable this script from being deployed.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "name": {
                "description": "Name of the NAE Script.",
                "format": "pattern",
                "maxLength": 80,
                "minLength": 3,
                "type": "string",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9_]+'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ready": {
                "default": "false",
                "description": "NAE Script configuration is ready for generation.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "tags": {
                "description": "The list of tags assigned to the NAE Script",
                "items": {
                  "description": "The list of tags assigned to the NAE Script",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 3,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 16,
                "type": "array"
              }
            }
          }
        ]
      },
      "ArubaNaeLite_Watches": {
        "description": "watches grouping.",
        "properties": {
          "watches": {
            "description": "NAE Lite watch parameters.",
            "items": {
              "properties": {
                "event-id": {
                  "description": "List of one or more comma seperated Event IDs.",
                  "format": "const",
                  "maxLength": 50,
                  "minLength": 3,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "type": {
                  "description": "Type of the information getting watched.",
                  "enum": [
                    "EVENT_LOG"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "EVENT_LOG": "Event log messages."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type of the information getting watched."
                },
                "watch-name": {
                  "description": "Name of NAE Lite watch.",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 3,
                  "type": "string",
                  "x-patternSources": "watch-name",
                  "x-patterns": "'[a-zA-Z0-9_]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2,
            "type": "array",
            "x-key": [
              "watchName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNaeLite_WatchesGet": {
        "description": "watches grouping.",
        "properties": {
          "watches": {
            "description": "NAE Lite watch parameters.",
            "items": {
              "properties": {
                "event-id": {
                  "description": "List of one or more comma seperated Event IDs.",
                  "format": "const",
                  "maxLength": 50,
                  "minLength": 3,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "type": {
                  "description": "Type of the information getting watched.",
                  "enum": [
                    "EVENT_LOG"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "EVENT_LOG": "Event log messages."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type of the information getting watched."
                },
                "watch-name": {
                  "description": "Name of NAE Lite watch.",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 3,
                  "type": "string",
                  "x-patternSources": "watch-name",
                  "x-patterns": "'[a-zA-Z0-9_]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2,
            "type": "array",
            "x-key": [
              "watchName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
[...]
