{
  "openapi": "3.1.0",
  "info": {
    "title": "Ptp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Ptp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ptp": {
      "get": {
        "description": "Precision Time Protocol (PTP) is defined in the IEEE 1588 standard.\nStandard for a Precision Clock Synchronization Protocol for Networked Measurement\nand Control Systems",
        "operationId": "readPtp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPtp_PtpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing PTP Profile configurations",
        "tags": [
          "Ptp"
        ],
        "x-cliParam": {
          "commandName": "readPtpCmd",
          "commandUse": "ptp",
          "parentCommand": "readCmd",
          "pathToPrint": "/ptp/",
          "summary": "Read operation for ptp"
        }
      }
    },
    "/network-config/v1alpha1/ptp/{name}": {
      "get": {
        "description": "PTP feature configs.",
        "operationId": "readPtpProfileByID",
        "parameters": [
          {
            "description": "CNX PTP profile instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPtp_PtpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing PTP Profile instance configurations",
        "tags": [
          "Ptp"
        ],
        "x-cliParam": {
          "commandName": "readPtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPtpCmd",
          "pathToPrint": "/ptp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "PTP feature configs.",
        "operationId": "replacePtpProfileByID",
        "parameters": [
          {
            "description": "CNX PTP profile instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPtp_PtpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing PTP Profile instance configurations",
        "tags": [
          "Ptp"
        ],
        "x-cliParam": {
          "commandName": "replacePtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePtpCmd",
          "pathToPrint": "/ptp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "PTP feature configs.",
        "operationId": "createPtpProfileByID",
        "parameters": [
          {
            "description": "CNX PTP profile instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPtp_PtpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create PTP Profile instance configurations",
        "tags": [
          "Ptp"
        ],
        "x-cliParam": {
          "commandName": "createPtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPtpCmd",
          "pathToPrint": "/ptp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "PTP feature configs.",
        "operationId": "deletePtpProfileByID",
        "parameters": [
          {
            "description": "CNX PTP profile instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the PTP instance configurations",
        "tags": [
          "Ptp"
        ],
        "x-cliParam": {
          "commandName": "deletePtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePtpCmd",
          "pathToPrint": "/ptp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "PTP feature configs.",
        "operationId": "updatePtpProfileByID",
        "parameters": [
          {
            "description": "CNX PTP profile instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPtp_PtpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing PTP instance configurations",
        "tags": [
          "Ptp"
        ],
        "x-cliParam": {
          "commandName": "updatePtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePtpCmd",
          "pathToPrint": "/ptp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaPtp_PtpSchemaGET": {
        "description": "Precision Time Protocol (PTP) is defined in the IEEE 1588 standard.\nStandard for a Precision Clock Synchronization Protocol for Networked Measurement\nand Control Systems",
        "properties": {
          "profile": {
            "description": "PTP feature configs.",
            "items": {
              "properties": {
                "name": {
                  "description": "CNX PTP profile instance name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "protocol-profiles": {
                  "description": "Configuration for the PTP protocol profile",
                  "items": {
                    "properties": {
                      "clock-step": {
                        "description": "PTP step for clock sync.",
                        "enum": [
                          "ONE_STEP",
                          "TWO_STEP"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ONE_STEP": "ptp clock one-step",
                          "TWO_STEP": "ptp clock two-step"
                        },
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "PTP clock step types."
                      },
                      "delay-mechanism": {
                        "description": "IEEE 1588-2008 delay mechanism for PTP clock.",
                        "enum": [
                          "E2E",
                          "P2P"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "E2E": "ptp delay-mechanism end to end",
                          "P2P": "ptp delay-mechanism peer to peer"
                        },
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "PTP delay mechanism types."
                      },
                      "domain": {
                        "description": "Domain identifier for the local clock.",
                        "format": "int32",
                        "maximum": 254,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "enable": {
                        "default": "false",
                        "description": "Enable PTP feature.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "mode": {
                        "description": "PTP mode.",
                        "enum": [
                          "BOUNDARY",
                          "TRANSPARENT"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "BOUNDARY": "ptp mode boundary.",
                          "TRANSPARENT": "ptp mode transparent."
                        },
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "PTP mode types."
                      },
                      "multicast-address": {
                        "description": "Multicast MAC address configuration for PTP.",
                        "enum": [
                          "FORWARDABLE",
                          "NON_FORWARDABLE"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "FORWARDABLE": "ptp multicast-address forwarding MAC address",
                          "NON_FORWARDABLE": "ptp multicast-address non-forwarding MAC address"
                        },
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "PTP multicast MAC address."
                      },
                      "priority1": {
                        "description": "priority1 attribute of the local clock,\nused in the Best Clock-source Algorithm.",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "priority2": {
                        "description": "priority2 attribute of the local clock,\nused in the Best Clock-source Algorithm.",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "profile": {
                        "description": "PTP protocol profile.",
                        "enum": [
                          "1588V2",
                          "DOT1AS",
                          "SMPTE",
                          "AES67",
                          "AES_R16",
                          "G_8275_1",
                          "G_8275_2"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "1588V2": "PTP profile as defined in IEEE as defined in IEEE 1588-2008.",
                          "AES67": "PTP profile associated with Media synchronization defined in AES67 standard.",
                          "AES_R16": "PTP profile associated with Media synchronization that enables inter-operability between AES67 and\nSMPTE ST 2059-2 standards.",
                          "DOT1AS": "PTP profile: dot1as",
                          "G_8275_1": "PTP profile for full timing support from the network.",
                          "G_8275_2": "PTP profile for partial timing support from the network.",
                          "SMPTE": "PTP profile associated with Media synchronization defined in SMPTE ST 2059-2 standard."
                        },
                        "x-mandatory": true,
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "PTP profile types."
                      },
                      "transport": {
                        "description": "PTP transport mode.",
                        "enum": [
                          "ETHERNET",
                          "IPV4",
                          "IP"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ETHERNET": "ptp transport Ethernet",
                          "IP": "ptp transport IPV4 alternate command",
                          "IPV4": "ptp transport IPV4"
                        },
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "PTP transport protocol types."
                      }
                    },
                    "required": [
                      "profile"
                    ]
                  },
                  "maxItems": 1,
                  "type": "array",
                  "x-key": [
                    "profile"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        }
      },
      "ArubaPtp_PtpprofileSchema": {
        "properties": {
          "name": {
            "description": "CNX PTP profile instance name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "protocol-profiles": {
            "description": "Configuration for the PTP protocol profile",
            "items": {
              "properties": {
                "clock-step": {
                  "description": "PTP step for clock sync.",
                  "enum": [
                    "ONE_STEP",
                    "TWO_STEP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ONE_STEP": "ptp clock one-step",
                    "TWO_STEP": "ptp clock two-step"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP clock step types."
                },
                "delay-mechanism": {
                  "description": "IEEE 1588-2008 delay mechanism for PTP clock.",
                  "enum": [
                    "E2E",
                    "P2P"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "E2E": "ptp delay-mechanism end to end",
                    "P2P": "ptp delay-mechanism peer to peer"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP delay mechanism types."
                },
                "domain": {
                  "description": "Domain identifier for the local clock.",
                  "format": "int32",
                  "maximum": 254,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "enable": {
                  "default": "false",
                  "description": "Enable PTP feature.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "mode": {
                  "description": "PTP mode.",
                  "enum": [
                    "BOUNDARY",
                    "TRANSPARENT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BOUNDARY": "ptp mode boundary.",
                    "TRANSPARENT": "ptp mode transparent."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP mode types."
                },
                "multicast-address": {
                  "description": "Multicast MAC address configuration for PTP.",
                  "enum": [
                    "FORWARDABLE",
                    "NON_FORWARDABLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "FORWARDABLE": "ptp multicast-address forwarding MAC address",
                    "NON_FORWARDABLE": "ptp multicast-address non-forwarding MAC address"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP multicast MAC address."
                },
                "priority1": {
                  "description": "priority1 attribute of the local clock,\nused in the Best Clock-source Algorithm.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "priority2": {
                  "description": "priority2 attribute of the local clock,\nused in the Best Clock-source Algorithm.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "profile": {
                  "description": "PTP protocol profile.",
                  "enum": [
                    "1588V2",
                    "DOT1AS",
                    "SMPTE",
                    "AES67",
                    "AES_R16",
                    "G_8275_1",
                    "G_8275_2"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "1588V2": "PTP profile as defined in IEEE as defined in IEEE 1588-2008.",
                    "AES67": "PTP profile associated with Media synchronization defined in AES67 standard.",
                    "AES_R16": "PTP profile associated with Media synchronization that enables inter-operability between AES67 and\nSMPTE ST 2059-2 standards.",
                    "DOT1AS": "PTP profile: dot1as",
                    "G_8275_1": "PTP profile for full timing support from the network.",
                    "G_8275_2": "PTP profile for partial timing support from the network.",
                    "SMPTE": "PTP profile associated with Media synchronization defined in SMPTE ST 2059-2 standard."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP profile types."
                },
                "transport": {
                  "description": "PTP transport mode.",
                  "enum": [
                    "ETHERNET",
                    "IPV4",
                    "IP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ETHERNET": "ptp transport Ethernet",
                    "IP": "ptp transport IPV4 alternate command",
                    "IPV4": "ptp transport IPV4"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP transport protocol types."
                }
              },
              "required": [
                "profile"
              ]
            },
            "maxItems": 1,
            "type": "array",
            "x-key": [
              "profile"
            ]
          }
        }
      },
      "ArubaPtp_PtpprofileSchemaGet": {
        "properties": {
          "name": {
            "description": "CNX PTP profile instance name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "protocol-profiles": {
            "description": "Configuration for the PTP protocol profile",
            "items": {
              "properties": {
                "clock-step": {
                  "description": "PTP step for clock sync.",
                  "enum": [
                    "ONE_STEP",
                    "TWO_STEP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ONE_STEP": "ptp clock one-step",
                    "TWO_STEP": "ptp clock two-step"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP clock step types."
                },
                "delay-mechanism": {
                  "description": "IEEE 1588-2008 delay mechanism for PTP clock.",
                  "enum": [
                    "E2E",
                    "P2P"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "E2E": "ptp delay-mechanism end to end",
                    "P2P": "ptp delay-mechanism peer to peer"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP delay mechanism types."
                },
                "domain": {
                  "description": "Domain identifier for the local clock.",
                  "format": "int32",
                  "maximum": 254,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "enable": {
                  "default": "false",
                  "description": "Enable PTP feature.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "mode": {
                  "description": "PTP mode.",
                  "enum": [
                    "BOUNDARY",
                    "TRANSPARENT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BOUNDARY": "ptp mode boundary.",
                    "TRANSPARENT": "ptp mode transparent."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP mode types."
                },
                "multicast-address": {
                  "description": "Multicast MAC address configuration for PTP.",
                  "enum": [
                    "FORWARDABLE",
                    "NON_FORWARDABLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "FORWARDABLE": "ptp multicast-address forwarding MAC address",
                    "NON_FORWARDABLE": "ptp multicast-address non-forwarding MAC address"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP multicast MAC address."
                },
                "priority1": {
                  "description": "priority1 attribute of the local clock,\nused in the Best Clock-source Algorithm.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "priority2": {
                  "description": "priority2 attribute of the local clock,\nused in the Best Clock-source Algorithm.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "profile": {
                  "description": "PTP protocol profile.",
                  "enum": [
                    "1588V2",
                    "DOT1AS",
                    "SMPTE",
                    "AES67",
                    "AES_R16",
                    "G_8275_1",
                    "G_8275_2"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "1588V2": "PTP profile as defined in IEEE as defined in IEEE 1588-2008.",
                    "AES67": "PTP profile associated with Media synchronization defined in AES67 standard.",
                    "AES_R16": "PTP profile associated with Media synchronization that enables inter-operability between AES67 and\nSMPTE ST 2059-2 standards.",
                    "DOT1AS": "PTP profile: dot1as",
                    "G_8275_1": "PTP profile for full timing support from the network.",
                    "G_8275_2": "PTP profile for partial timing support from the network.",
                    "SMPTE": "PTP profile associated with Media synchronization defined in SMPTE ST 2059-2 standard."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP profile types."
                },
                "transport": {
                  "description": "PTP transport mode.",
                  "enum": [
                    "ETHERNET",
                    "IPV4",
                    "IP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ETHERNET": "ptp transport Ethernet",
                    "IP": "ptp transport IPV4 alternate command",
                    "IPV4": "ptp transport IPV4"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "PTP transport protocol types."
                }
              },
              "required": [
                "profile"
              ]
            },
            "maxItems": 1,
            "type": "array",
            "x-key": [
              "profile"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaPtp_PtpprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaPtp_PtpprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
