{
  "openapi": "3.1.0",
  "info": {
    "title": "Qos Schedule",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Qos Schedule"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/qos-schedules": {
      "get": {
        "description": "QoS schedule parameters.",
        "operationId": "readQosSchedules",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaQosSchedule_QosSchedulesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read QoS schedule profiles",
        "tags": [
          "Qos Schedule"
        ],
        "x-cliParam": {
          "commandName": "readQosSchedulesCmd",
          "commandUse": "qos-schedules",
          "parentCommand": "readCmd",
          "pathToPrint": "/qos-schedules/",
          "summary": "Read operation for qos-schedules"
        }
      }
    },
    "/network-config/v1alpha1/qos-schedules/{sched-profile-name}": {
      "get": {
        "description": "QoS Schedule Profile. These profiles are used to determine bandwidth\nallocation for the queues and how they will be serviced. They can\ninclude minimum-bandwidths, weighted queues, all-strict queues,\nweighted plus a strict top queue, or minimum-bandwidths plus a strict\ntop queue.\n\n'Strict' priority will service all packets in a queue before any\npackets in lower-numbered queues, as long as there are no packets in\nany higher-numbered queues.\n\n'Weighted' queuing will apportion available bandwidth among all non-\nempty weighted queues in relation to their queue weights.\n\n'Min_bandwidth' queuing will apportion available bandwidth among all\nnon-empty min-bandwidth queues in relation to their configured\npercentages.\n\nOnce it has been created, a schedule profile can be globally applied\nin combination with a separately-created queue profile, using the\naruba-qos-global yang model. The queue and schedule profiles must be\nvalid for the platform to which they are being applied, and the\nconfigured number of queues and the queue ID values must match. Valid\nschedule profiles can also be applied to ports, using the\naruba-interface-ethernet and/or aruba-interface-portchannel yang models.",
        "operationId": "readQosSchedulesProfileByID",
        "parameters": [
          {
            "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
            "in": "path",
            "name": "sched-profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaQosSchedule_QosSchedulesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing QoS schedule-profile configurations",
        "tags": [
          "Qos Schedule"
        ],
        "x-cliParam": {
          "commandName": "readQosSchedulesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "sched-profile-name"
            }
          ],
          "parentCommand": "readQosSchedulesCmd",
          "pathToPrint": "/qos-schedules/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "QoS Schedule Profile. These profiles are used to determine bandwidth\nallocation for the queues and how they will be serviced. They can\ninclude minimum-bandwidths, weighted queues, all-strict queues,\nweighted plus a strict top queue, or minimum-bandwidths plus a strict\ntop queue.\n\n'Strict' priority will service all packets in a queue before any\npackets in lower-numbered queues, as long as there are no packets in\nany higher-numbered queues.\n\n'Weighted' queuing will apportion available bandwidth among all non-\nempty weighted queues in relation to their queue weights.\n\n'Min_bandwidth' queuing will apportion available bandwidth among all\nnon-empty min-bandwidth queues in relation to their configured\npercentages.\n\nOnce it has been created, a schedule profile can be globally applied\nin combination with a separately-created queue profile, using the\naruba-qos-global yang model. The queue and schedule profiles must be\nvalid for the platform to which they are being applied, and the\nconfigured number of queues and the queue ID values must match. Valid\nschedule profiles can also be applied to ports, using the\naruba-interface-ethernet and/or aruba-interface-portchannel yang models.",
        "operationId": "replaceQosSchedulesProfileByID",
        "parameters": [
          {
            "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
            "in": "path",
            "name": "sched-profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaQosSchedule_QosSchedulesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update existing QoS schedule-profile configurations",
        "tags": [
          "Qos Schedule"
        ],
        "x-cliParam": {
          "commandName": "replaceQosSchedulesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "sched-profile-name"
            }
          ],
          "parentCommand": "replaceQosSchedulesCmd",
          "pathToPrint": "/qos-schedules/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "QoS Schedule Profile. These profiles are used to determine bandwidth\nallocation for the queues and how they will be serviced. They can\ninclude minimum-bandwidths, weighted queues, all-strict queues,\nweighted plus a strict top queue, or minimum-bandwidths plus a strict\ntop queue.\n\n'Strict' priority will service all packets in a queue before any\npackets in lower-numbered queues, as long as there are no packets in\nany higher-numbered queues.\n\n'Weighted' queuing will apportion available bandwidth among all non-\nempty weighted queues in relation to their queue weights.\n\n'Min_bandwidth' queuing will apportion available bandwidth among all\nnon-empty min-bandwidth queues in relation to their configured\npercentages.\n\nOnce it has been created, a schedule profile can be globally applied\nin combination with a separately-created queue profile, using the\naruba-qos-global yang model. The queue and schedule profiles must be\nvalid for the platform to which they are being applied, and the\nconfigured number of queues and the queue ID values must match. Valid\nschedule profiles can also be applied to ports, using the\naruba-interface-ethernet and/or aruba-interface-portchannel yang models.",
        "operationId": "createQosSchedulesProfileByID",
        "parameters": [
          {
            "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
            "in": "path",
            "name": "sched-profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaQosSchedule_QosSchedulesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new QoS schedule-profile with unique name",
        "tags": [
          "Qos Schedule"
        ],
        "x-cliParam": {
          "commandName": "createQosSchedulesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "sched-profile-name"
            }
          ],
          "parentCommand": "createQosSchedulesCmd",
          "pathToPrint": "/qos-schedules/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "QoS Schedule Profile. These profiles are used to determine bandwidth\nallocation for the queues and how they will be serviced. They can\ninclude minimum-bandwidths, weighted queues, all-strict queues,\nweighted plus a strict top queue, or minimum-bandwidths plus a strict\ntop queue.\n\n'Strict' priority will service all packets in a queue before any\npackets in lower-numbered queues, as long as there are no packets in\nany higher-numbered queues.\n\n'Weighted' queuing will apportion available bandwidth among all non-\nempty weighted queues in relation to their queue weights.\n\n'Min_bandwidth' queuing will apportion available bandwidth among all\nnon-empty min-bandwidth queues in relation to their configured\npercentages.\n\nOnce it has been created, a schedule profile can be globally applied\nin combination with a separately-created queue profile, using the\naruba-qos-global yang model. The queue and schedule profiles must be\nvalid for the platform to which they are being applied, and the\nconfigured number of queues and the queue ID values must match. Valid\nschedule profiles can also be applied to ports, using the\naruba-interface-ethernet and/or aruba-interface-portchannel yang models.",
        "operationId": "deleteQosSchedulesProfileByID",
        "parameters": [
          {
            "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
            "in": "path",
            "name": "sched-profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the QoS schedule-profile",
        "tags": [
          "Qos Schedule"
        ],
        "x-cliParam": {
          "commandName": "deleteQosSchedulesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "sched-profile-name"
            }
          ],
          "parentCommand": "deleteQosSchedulesCmd",
          "pathToPrint": "/qos-schedules/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "QoS Schedule Profile. These profiles are used to determine bandwidth\nallocation for the queues and how they will be serviced. They can\ninclude minimum-bandwidths, weighted queues, all-strict queues,\nweighted plus a strict top queue, or minimum-bandwidths plus a strict\ntop queue.\n\n'Strict' priority will service all packets in a queue before any\npackets in lower-numbered queues, as long as there are no packets in\nany higher-numbered queues.\n\n'Weighted' queuing will apportion available bandwidth among all non-\nempty weighted queues in relation to their queue weights.\n\n'Min_bandwidth' queuing will apportion available bandwidth among all\nnon-empty min-bandwidth queues in relation to their configured\npercentages.\n\nOnce it has been created, a schedule profile can be globally applied\nin combination with a separately-created queue profile, using the\naruba-qos-global yang model. The queue and schedule profiles must be\nvalid for the platform to which they are being applied, and the\nconfigured number of queues and the queue ID values must match. Valid\nschedule profiles can also be applied to ports, using the\naruba-interface-ethernet and/or aruba-interface-portchannel yang models.",
        "operationId": "updateQosSchedulesProfileByID",
        "parameters": [
          {
            "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
            "in": "path",
            "name": "sched-profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaQosSchedule_QosSchedulesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing QoS schedule-profile configurations",
        "tags": [
          "Qos Schedule"
        ],
        "x-cliParam": {
          "commandName": "updateQosSchedulesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "sched-profile-name"
            }
          ],
          "parentCommand": "updateQosSchedulesCmd",
          "pathToPrint": "/qos-schedules/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaQosSchedule_QosMaxBandwidthConfig": {
        "description": "Maximum egress bandwidth traffic for the queue.",
        "properties": {
          "burst": {
            "description": "The burst in units of Kilobytes. Burst is valid only when\nmax-bandwidth-kbps or max-bandwidth-percent is configured.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-bandwidth-kbps": {
            "description": "The maximum egress bandwidth for the queue in kilobits-per-second units.\nConfigure either the max-bandwidth-kbps value or the max-bandwidth-percent value, but not both.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-bandwidth-percent": {
            "description": "The maximum egress bandwidth for the queue as a percentage of link\nbandwidth. Configure either the max-bandwidth-kbps value or the\nmax-bandwidth-percent value, but not both.",
            "format": "int64",
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosSchedule_QosMaxBandwidthConfigGet": {
        "description": "Maximum egress bandwidth traffic for the queue.",
        "properties": {
          "burst": {
            "description": "The burst in units of Kilobytes. Burst is valid only when\nmax-bandwidth-kbps or max-bandwidth-percent is configured.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-bandwidth-kbps": {
            "description": "The maximum egress bandwidth for the queue in kilobits-per-second units.\nConfigure either the max-bandwidth-kbps value or the max-bandwidth-percent value, but not both.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-bandwidth-percent": {
            "description": "The maximum egress bandwidth for the queue as a percentage of link\nbandwidth. Configure either the max-bandwidth-kbps value or the\nmax-bandwidth-percent value, but not both.",
            "format": "int64",
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosSchedule_QosScheduleProfileConfig": {
        "description": "QoS Scheduling Profile configuration.",
        "properties": {
          "sched-entries": {
            "description": "Specifies the queue to be used in a schedule profile entry.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaQosSchedule_QosMaxBandwidthConfig"
                },
                {
                  "properties": {
                    "algorithm": {
                      "description": "The scheduling algorithm to use for the queue.",
                      "enum": [
                        "WEIGHTED",
                        "STRICT",
                        "MIN_BANDWIDTH"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MIN_BANDWIDTH": "Guaranteed Minimum Bandwidth scheduling algorithm",
                        "STRICT": "Strict scheduling algorithm",
                        "WEIGHTED": "Deficit Weighted Round Robin (DWRR) or Weighted Fair Queueing (WFQ) scheduling algorithm"
                      },
                      "x-mandatory": true,
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "minimum-bandwidth": {
                      "description": "Minimum percentage of port link bandwidth or shape for the queue.",
                      "format": "int32",
                      "maximum": 100,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "queue": {
                      "description": "Queue number.",
                      "format": "int32",
                      "maximum": 7,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "weight": {
                      "description": "Weight for the queue.",
                      "format": "int32",
                      "maximum": 1023,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                {
                  "required": [
                    "algorithm"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "queue"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosSchedule_QosScheduleProfileConfigGet": {
        "description": "QoS Scheduling Profile configuration.",
        "properties": {
          "sched-entries": {
            "description": "Specifies the queue to be used in a schedule profile entry.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaQosSchedule_QosMaxBandwidthConfigGet"
                },
                {
                  "properties": {
                    "algorithm": {
                      "description": "The scheduling algorithm to use for the queue.",
                      "enum": [
                        "WEIGHTED",
                        "STRICT",
                        "MIN_BANDWIDTH"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MIN_BANDWIDTH": "Guaranteed Minimum Bandwidth scheduling algorithm",
                        "STRICT": "Strict scheduling algorithm",
                        "WEIGHTED": "Deficit Weighted Round Robin (DWRR) or Weighted Fair Queueing (WFQ) scheduling algorithm"
                      },
                      "x-mandatory": true,
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "minimum-bandwidth": {
                      "description": "Minimum percentage of port link bandwidth or shape for the queue.",
                      "format": "int32",
                      "maximum": 100,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "queue": {
                      "description": "Queue number.",
                      "format": "int32",
                      "maximum": 7,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "weight": {
                      "description": "Weight for the queue.",
                      "format": "int32",
                      "maximum": 1023,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                {
                  "required": [
                    "algorithm"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "queue"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosSchedule_QosSchedulesSchemaGET": {
        "description": "QoS schedule parameters.",
        "properties": {
          "profile": {
            "description": "QoS Schedule Profile. These profiles are used to determine bandwidth\nallocation for the queues and how they will be serviced. They can\ninclude minimum-bandwidths, weighted queues, all-strict queues,\nweighted plus a strict top queue, or minimum-bandwidths plus a strict\ntop queue.\n\n'Strict' priority will service all packets in a queue before any\npackets in lower-numbered queues, as long as there are no packets in\nany higher-numbered queues.\n\n'Weighted' queuing will apportion available bandwidth among all non-\nempty weighted queues in relation to their queue weights.\n\n'Min_bandwidth' queuing will apportion available bandwidth among all\nnon-empty min-bandwidth queues in relation to their configured\npercentages.\n\nOnce it has been created, a schedule profile can be globally applied\nin combination with a separately-created queue profile, using the\naruba-qos-global yang model. The queue and schedule profiles must be\nvalid for the platform to which they are being applied, and the\nconfigured number of queues and the queue ID values must match. Valid\nschedule profiles can also be applied to ports, using the\naruba-interface-ethernet and/or aruba-interface-portchannel yang models.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaQosSchedule_QosScheduleProfileConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "QoS schedule profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "sched-profile-name": {
                      "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
                      "format": "pattern",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "qos-string-type",
                      "x-patterns": "'[a-zA-Z0-9._-]+'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "schedProfileName"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaQosSchedule_QosSchedulesprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaQosSchedule_QosScheduleProfileConfig"
          },
          {
            "properties": {
              "description": {
                "description": "QoS schedule profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "sched-profile-name": {
                "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "qos-string-type",
                "x-patterns": "'[a-zA-Z0-9._-]+'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
              }
            }
          }
        ]
      },
      "ArubaQosSchedule_QosSchedulesprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaQosSchedule_QosScheduleProfileConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "QoS schedule profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "sched-profile-name": {
                "description": "QoS schedule profile name. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens.\nCannot use reserved schedule profile names: 'factory-default'.",
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "qos-string-type",
                "x-patterns": "'[a-zA-Z0-9._-]+'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaQosSchedule_QosSchedulesprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaQosSchedule_QosSchedulesprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
