{
  "openapi": "3.1.0",
  "info": {
    "title": "Qos Global",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Qos Global"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/qos-global": {
      "get": {
        "description": "Global QoS configuration.",
        "operationId": "readQosGlobal",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaQosGlobal_QosGlobalSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read Global QoS parameters",
        "tags": [
          "Qos Global"
        ],
        "x-cliParam": {
          "commandName": "readQosGlobalCmd",
          "commandUse": "qos-global",
          "parentCommand": "readCmd",
          "pathToPrint": "/qos-global/",
          "summary": "Read operation for qos-global"
        }
      }
    },
    "/network-config/v1alpha1/qos-global/{name}": {
      "get": {
        "description": "Global QoS Configuration Profile.",
        "operationId": "readQosGlobalProfileByID",
        "parameters": [
          {
            "description": "Global QoS profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaQosGlobal_QosGlobalprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Global QoS profile configurations",
        "tags": [
          "Qos Global"
        ],
        "x-cliParam": {
          "commandName": "readQosGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readQosGlobalCmd",
          "pathToPrint": "/qos-global/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Global QoS Configuration Profile.",
        "operationId": "replaceQosGlobalProfileByID",
        "parameters": [
          {
            "description": "Global QoS profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaQosGlobal_QosGlobalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update existing Global QoS profile configurations",
        "tags": [
          "Qos Global"
        ],
        "x-cliParam": {
          "commandName": "replaceQosGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceQosGlobalCmd",
          "pathToPrint": "/qos-global/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Global QoS Configuration Profile.",
        "operationId": "createQosGlobalProfileByID",
        "parameters": [
          {
            "description": "Global QoS profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaQosGlobal_QosGlobalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new Global QoS profile with unique name",
        "tags": [
          "Qos Global"
        ],
        "x-cliParam": {
          "commandName": "createQosGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createQosGlobalCmd",
          "pathToPrint": "/qos-global/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Global QoS Configuration Profile.",
        "operationId": "deleteQosGlobalProfileByID",
        "parameters": [
          {
            "description": "Global QoS profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the Global QoS profile",
        "tags": [
          "Qos Global"
        ],
        "x-cliParam": {
          "commandName": "deleteQosGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteQosGlobalCmd",
          "pathToPrint": "/qos-global/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Global QoS Configuration Profile.",
        "operationId": "updateQosGlobalProfileByID",
        "parameters": [
          {
            "description": "Global QoS profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaQosGlobal_QosGlobalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Global QoS profile configurations",
        "tags": [
          "Qos Global"
        ],
        "x-cliParam": {
          "commandName": "updateQosGlobalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateQosGlobalCmd",
          "pathToPrint": "/qos-global/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaQosCos_QosCosMappingConfig": {
        "description": "QoS COS Map.",
        "properties": {
          "cos-map": {
            "description": "QoS COS Map List.",
            "items": {
              "properties": {
                "color": {
                  "description": "QoS COS Map color.",
                  "enum": [
                    "RED",
                    "GREEN",
                    "YELLOW"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "GREEN": "Green.",
                    "RED": "Red.",
                    "YELLOW": "Yellow."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "QoS COS Map color."
                },
                "cos": {
                  "description": "QoS COS Map code points.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "local-priority": {
                  "description": "QoS COS Map local-priority. This field must be configured for all\ncos-map values.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Priority."
                },
                "name": {
                  "description": "QoS COS Map entry name. Must be 1-64 characters in length and can only contain\nalphanumeric characters, periods, underscores, and hyphens.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "qos-string-type",
                  "x-patterns": "'[a-zA-Z0-9._-]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "cos"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosCos_QosCosMappingConfigGet": {
        "description": "QoS COS Map.",
        "properties": {
          "cos-map": {
            "description": "QoS COS Map List.",
            "items": {
              "properties": {
                "color": {
                  "description": "QoS COS Map color.",
                  "enum": [
                    "RED",
                    "GREEN",
                    "YELLOW"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "GREEN": "Green.",
                    "RED": "Red.",
                    "YELLOW": "Yellow."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "QoS COS Map color."
                },
                "cos": {
                  "description": "QoS COS Map code points.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "local-priority": {
                  "description": "QoS COS Map local-priority. This field must be configured for all\ncos-map values.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Priority."
                },
                "name": {
                  "description": "QoS COS Map entry name. Must be 1-64 characters in length and can only contain\nalphanumeric characters, periods, underscores, and hyphens.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "qos-string-type",
                  "x-patterns": "'[a-zA-Z0-9._-]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "cos"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosDevicePriority_QosDevicePriorityMappingConfig": {
        "description": "QoS device priority parameters.",
        "properties": {
          "device-priority": {
            "description": "IP address-based traffic priority.",
            "items": {
              "properties": {
                "device-address": {
                  "description": "The IPv4 and IPv6 address to prioritize.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-prefix",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                      "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-prefix",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                      "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "dscp": {
                  "description": "RFC 2474 DSCP.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                },
                "priority": {
                  "description": "The 802.1p priority to use.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Priority."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "deviceAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosDevicePriority_QosDevicePriorityMappingConfigGet": {
        "description": "QoS device priority parameters.",
        "properties": {
          "device-priority": {
            "description": "IP address-based traffic priority.",
            "items": {
              "properties": {
                "device-address": {
                  "description": "The IPv4 and IPv6 address to prioritize.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-prefix",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                      "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-prefix",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                      "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "dscp": {
                  "description": "RFC 2474 DSCP.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                },
                "priority": {
                  "description": "The 802.1p priority to use.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Priority."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "deviceAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosDscp_QosDscpMappingConfig": {
        "description": "QoS DSCP-Mapping Configuration.",
        "properties": {
          "dscp-map": {
            "description": "QoS DSCP-Map values. ",
            "items": {
              "properties": {
                "color": {
                  "description": "QoS DSCP Map color.",
                  "enum": [
                    "RED",
                    "GREEN",
                    "YELLOW"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "GREEN": "Green.",
                    "RED": "Red.",
                    "YELLOW": "Yellow."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "QoS COS Map color."
                },
                "cos-override": {
                  "description": "The 802.1Q priority. On platforms which support this feature,\nconfiguring a cos value causes packets matching the configured DSCP\ncode point to have their 802.1Q value re-marked.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "dscp": {
                  "description": "QoS DSCP code point.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                },
                "name": {
                  "description": "QoS DSCP Map entry name. Must be 1-64 characters in length.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "priority": {
                  "description": "The local priority or class of service value assigned to this DSCP\nentry, based on which feature the platform supports. This field must\nbe configured for every dscp-map value.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "Priority."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "dscp"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "legacy": {
            "default": "false",
            "description": "QoS DSCP mapping to legacy settings.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosDscp_QosDscpMappingConfigGet": {
        "description": "QoS DSCP-Mapping Configuration.",
        "properties": {
          "dscp-map": {
            "description": "QoS DSCP-Map values. ",
            "items": {
              "properties": {
                "color": {
                  "description": "QoS DSCP Map color.",
                  "enum": [
                    "RED",
                    "GREEN",
                    "YELLOW"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "GREEN": "Green.",
                    "RED": "Red.",
                    "YELLOW": "Yellow."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "QoS COS Map color."
                },
                "cos-override": {
                  "description": "The 802.1Q priority. On platforms which support this feature,\nconfiguring a cos value causes packets matching the configured DSCP\ncode point to have their 802.1Q value re-marked.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "dscp": {
                  "description": "QoS DSCP code point.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                },
                "name": {
                  "description": "QoS DSCP Map entry name. Must be 1-64 characters in length.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "priority": {
                  "description": "The local priority or class of service value assigned to this DSCP\nentry, based on which feature the platform supports. This field must\nbe configured for every dscp-map value.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "Priority."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "dscp"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "legacy": {
            "default": "false",
            "description": "QoS DSCP mapping to legacy settings.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosGlobal_QSchedProfileConfig": {
        "description": "Combined QoS queue- and schedule-profile global pairing.",
        "properties": {
          "q-profile": {
            "description": "Queue profile to apply in combination with the specified\nschedule profile. Queue profiles must first be configured using the\naruba-qos-queue yang model, and must be valid for the platform to\nwhich the profile is being applied.\n\nQueue profiles cannot be modified while they are applied. The number\nof queues and queue ID values must also match those in the paired\nschedule profile. If an applied queue profile is modified, the\nconfiguration will be rejected. To apply the modified queue profile,\nfollow the following sequence of operations:\n\n1. If sched-profile in aruba-qos-global is set to DEFAULT, set\nq-profile to DEFAULT. Otherwise, remove both q-profile and\nsched-profile. This will cause the factory-default profiles\nto be applied.\n2. For PVOS devices, ensure that the traffic-template leaf is not\nset to the same profile as the queue-profile being modified. If it\nis, delete the traffic-template by setting the traffic-template\nleaf to null.\n3. Modify the queue profile.\n4. If both q-profile and sched-profile were removed in step 1,\napply them again together in the same transaction. If q-profile\nwas set to DEFAULT in step 1, apply only the queue profile.\n5. For PVOS devices, if the traffic template was removed as part of\nthis process, apply it again after the queue profile\nhas been modified.",
            "oneOf": [
              {
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-queue:qos-queues/ac-qos-queue:profile/ac-qos-queue:q-profile-name"
              },
              {
                "enum": [
                  "DEFAULT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT": "Factory-default profile."
                },
                "x-typeDescription": "The QoS factory-default profile definition. This can be\nused to apply default Queue and/or Schedule profiles."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sched-profile": {
            "description": "Schedule profile to apply in combination with the specified\nqueue profile. Schedule profiles must first be configured using the\naruba-qos-schedule yang model, and must be valid for the platform to\nwhich the profile is being applied. The number of queues and queue ID\nvalues must also match those in the paired queue profile.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-schedule:qos-schedules/ac-qos-schedule:profile/ac-qos-schedule:sched-profile-name",
                "x-patternSources": "qos-string-type",
                "x-patterns": "'[a-zA-Z0-9._-]+'",
                "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
              },
              {
                "enum": [
                  "DEFAULT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT": "Factory-default profile."
                },
                "x-typeDescription": "The QoS factory-default profile definition. This can be\nused to apply default Queue and/or Schedule profiles."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaQosGlobal_QSchedProfileConfigGet": {
        "description": "Combined QoS queue- and schedule-profile global pairing.",
        "properties": {
          "q-profile": {
            "description": "Queue profile to apply in combination with the specified\nschedule profile. Queue profiles must first be configured using the\naruba-qos-queue yang model, and must be valid for the platform to\nwhich the profile is being applied.\n\nQueue profiles cannot be modified while they are applied. The number\nof queues and queue ID values must also match those in the paired\nschedule profile. If an applied queue profile is modified, the\nconfiguration will be rejected. To apply the modified queue profile,\nfollow the following sequence of operations:\n\n1. If sched-profile in aruba-qos-global is set to DEFAULT, set\nq-profile to DEFAULT. Otherwise, remove both q-profile and\nsched-profile. This will cause the factory-default profiles\nto be applied.\n2. For PVOS devices, ensure that the traffic-template leaf is not\nset to the same profile as the queue-profile being modified. If it\nis, delete the traffic-template by setting the traffic-template\nleaf to null.\n3. Modify the queue profile.\n4. If both q-profile and sched-profile were removed in step 1,\napply them again together in the same transaction. If q-profile\nwas set to DEFAULT in step 1, apply only the queue profile.\n5. For PVOS devices, if the traffic template was removed as part of\nthis process, apply it again after the queue profile\nhas been modified.",
            "oneOf": [
              {
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-queue:qos-queues/ac-qos-queue:profile/ac-qos-queue:q-profile-name"
              },
              {
                "enum": [
                  "DEFAULT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT": "Factory-default profile."
                },
                "x-typeDescription": "The QoS factory-default profile definition. This can be\nused to apply default Queue and/or Schedule profiles."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sched-profile": {
            "description": "Schedule profile to apply in combination with the specified\nqueue profile. Schedule profiles must first be configured using the\naruba-qos-schedule yang model, and must be valid for the platform to\nwhich the profile is being applied. The number of queues and queue ID\nvalues must also match those in the paired queue profile.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-schedule:qos-schedules/ac-qos-schedule:profile/ac-qos-schedule:sched-profile-name",
                "x-patternSources": "qos-string-type",
                "x-patterns": "'[a-zA-Z0-9._-]+'",
                "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
              },
              {
                "enum": [
                  "DEFAULT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT": "Factory-default profile."
                },
                "x-typeDescription": "The QoS factory-default profile definition. This can be\nused to apply default Queue and/or Schedule profiles."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaQosGlobal_QosGlobalSchemaGET": {
        "description": "Global QoS configuration.",
        "properties": {
          "profile": {
            "description": "Global QoS Configuration Profile.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaQosGlobal_QSchedProfileConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosCos_QosCosMappingConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosDscp_QosDscpMappingConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosDevicePriority_QosDevicePriorityMappingConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosProtocol_QosProtocolPriorityMappingConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosTos_QosTypeOfServiceConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosGlobal_QosQueueConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaQosPool_QosGlobalPoolConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Global QoS profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "l4-port-classifiers": {
                      "description": "QOS TCP or UDP port-based Configurations for PVOS-platforms.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaQosGlobal_QosL4PortConfigGet"
                          },
                          {
                            "properties": {
                              "id": {
                                "description": "QOS TCP or UDP port configuration id.",
                                "format": "int32",
                                "maximum": 500,
                                "minimum": 1,
                                "type": "integer"
                              },
                              "l4-protocol-type": {
                                "description": "TCP or UDP port-based priority.",
                                "enum": [
                                  "TCP",
                                  "UDP"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "TCP": "TCP port-based priority.",
                                  "UDP": "UDP port-based priority."
                                },
                                "x-supportedDeviceType": [
                                  "Switch PVOS"
                                ],
                                "x-typeDescription": "The DSCP or 802.1p priority to use."
                              },
                              "qos-ip-service": {
                                "description": "IPv4 and IPv6 traffic.",
                                "enum": [
                                  "IP_ALL",
                                  "IPV4",
                                  "IPV6"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "IPV4": "IPv4 traffic.",
                                  "IPV6": "IPv6 traffic.",
                                  "IP_ALL": "All IPv4 and IPv6 traffic.."
                                },
                                "x-supportedDeviceType": [
                                  "Switch PVOS"
                                ],
                                "x-typeDescription": "IP Traffic Types."
                              }
                            }
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "id"
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "name": {
                      "description": "Global QoS profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "pfc-watchdog-resume": {
                      "description": "The time in milliseconds during which the Priority Flow-Control\n(PFC) Watchdog will drop packets destined to a port-queue that has\nbeen detected as blocked. The queue will resume normal operation\nafter this time has expired.",
                      "format": "int64",
                      "maximum": 100000,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "pfc-watchdog-timeout": {
                      "description": "The time in milliseconds that a priority flow-controlled (PFC)\nport-queue must remain blocked before the Flow Control Watchdog is\ntriggered.",
                      "format": "int64",
                      "maximum": 10000,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "thresh-profile": {
                      "description": "The global threshold profile to apply on ports where individual\nprofiles are not configured. The threshold profile must first be\nconfigured using the aruba-qos-threshold-profile yang model.",
                      "format": "pattern",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-qos-threshold-profile:qos-thresholds/ac-qos-threshold-profile:profile/ac-qos-threshold-profile:thresh-profile-name",
                      "x-patternSources": "qos-string-type",
                      "x-patterns": "'[a-zA-Z0-9._-]+'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
                    },
                    "trust": {
                      "description": "Global QoS Trust Mode Configuration.",
                      "enum": [
                        "DEVICE_ARUBA_AP",
                        "DEVICE_NONE",
                        "DEFAULT",
                        "DOT1P",
                        "DSCP",
                        "IP_PRECEDENCE",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DEFAULT": "Trust 802.1p priority and preserve DSCP or IP-ToS.",
                        "DEVICE_ARUBA_AP": "Trust DSCP from Aruba Access-point devices.",
                        "DEVICE_NONE": "Remove all trusted device configuration for port.",
                        "DOT1P": "Trust 802.1p priority and preserve DSCP or IP-ToS.",
                        "DSCP": "Trust DSCP.",
                        "IP_PRECEDENCE": "Trust IP-Precedence and remark the 802.1p priority to match.",
                        "NONE": "Do not trust any priority fields."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "The QoS Trust Mode configuration for the port."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaQosGlobal_QosGlobalprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaQosGlobal_QSchedProfileConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosCos_QosCosMappingConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosDscp_QosDscpMappingConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosDevicePriority_QosDevicePriorityMappingConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosProtocol_QosProtocolPriorityMappingConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosTos_QosTypeOfServiceConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosGlobal_QosQueueConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaQosPool_QosGlobalPoolConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Global QoS profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "l4-port-classifiers": {
                "description": "QOS TCP or UDP port-based Configurations for PVOS-platforms.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaQosGlobal_QosL4PortConfig"
                    },
                    {
                      "properties": {
                        "id": {
                          "description": "QOS TCP or UDP port configuration id.",
                          "format": "int32",
                          "maximum": 500,
                          "minimum": 1,
                          "type": "integer"
                        },
                        "l4-protocol-type": {
                          "description": "TCP or UDP port-based priority.",
                          "enum": [
                            "TCP",
                            "UDP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "TCP": "TCP port-based priority.",
                            "UDP": "UDP port-based priority."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "The DSCP or 802.1p priority to use."
                        },
                        "qos-ip-service": {
                          "description": "IPv4 and IPv6 traffic.",
                          "enum": [
                            "IP_ALL",
                            "IPV4",
                            "IPV6"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "IPV4": "IPv4 traffic.",
                            "IPV6": "IPv6 traffic.",
                            "IP_ALL": "All IPv4 and IPv6 traffic.."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "IP Traffic Types."
                        }
                      }
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "id"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "name": {
                "description": "Global QoS profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "pfc-watchdog-resume": {
                "description": "The time in milliseconds during which the Priority Flow-Control\n(PFC) Watchdog will drop packets destined to a port-queue that has\nbeen detected as blocked. The queue will resume normal operation\nafter this time has expired.",
                "format": "int64",
                "maximum": 100000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "pfc-watchdog-timeout": {
                "description": "The time in milliseconds that a priority flow-controlled (PFC)\nport-queue must remain blocked before the Flow Control Watchdog is\ntriggered.",
                "format": "int64",
                "maximum": 10000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "thresh-profile": {
                "description": "The global threshold profile to apply on ports where individual\nprofiles are not configured. The threshold profile must first be\nconfigured using the aruba-qos-threshold-profile yang model.",
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-threshold-profile:qos-thresholds/ac-qos-threshold-profile:profile/ac-qos-threshold-profile:thresh-profile-name",
                "x-patternSources": "qos-string-type",
                "x-patterns": "'[a-zA-Z0-9._-]+'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
              },
              "trust": {
                "description": "Global QoS Trust Mode Configuration.",
                "enum": [
                  "DEVICE_ARUBA_AP",
                  "DEVICE_NONE",
                  "DEFAULT",
                  "DOT1P",
                  "DSCP",
                  "IP_PRECEDENCE",
                  "NONE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT": "Trust 802.1p priority and preserve DSCP or IP-ToS.",
                  "DEVICE_ARUBA_AP": "Trust DSCP from Aruba Access-point devices.",
                  "DEVICE_NONE": "Remove all trusted device configuration for port.",
                  "DOT1P": "Trust 802.1p priority and preserve DSCP or IP-ToS.",
                  "DSCP": "Trust DSCP.",
                  "IP_PRECEDENCE": "Trust IP-Precedence and remark the 802.1p priority to match.",
                  "NONE": "Do not trust any priority fields."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "The QoS Trust Mode configuration for the port."
              }
            }
          }
        ]
      },
      "ArubaQosGlobal_QosGlobalprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaQosGlobal_QSchedProfileConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosCos_QosCosMappingConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosDscp_QosDscpMappingConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosDevicePriority_QosDevicePriorityMappingConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosProtocol_QosProtocolPriorityMappingConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosTos_QosTypeOfServiceConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosGlobal_QosQueueConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaQosPool_QosGlobalPoolConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "Global QoS profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "l4-port-classifiers": {
                "description": "QOS TCP or UDP port-based Configurations for PVOS-platforms.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaQosGlobal_QosL4PortConfigGet"
                    },
                    {
                      "properties": {
                        "id": {
                          "description": "QOS TCP or UDP port configuration id.",
                          "format": "int32",
                          "maximum": 500,
                          "minimum": 1,
                          "type": "integer"
                        },
                        "l4-protocol-type": {
                          "description": "TCP or UDP port-based priority.",
                          "enum": [
                            "TCP",
                            "UDP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "TCP": "TCP port-based priority.",
                            "UDP": "UDP port-based priority."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "The DSCP or 802.1p priority to use."
                        },
                        "qos-ip-service": {
                          "description": "IPv4 and IPv6 traffic.",
                          "enum": [
                            "IP_ALL",
                            "IPV4",
                            "IPV6"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "IPV4": "IPv4 traffic.",
                            "IPV6": "IPv6 traffic.",
                            "IP_ALL": "All IPv4 and IPv6 traffic.."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "IP Traffic Types."
                        }
                      }
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "id"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "name": {
                "description": "Global QoS profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "pfc-watchdog-resume": {
                "description": "The time in milliseconds during which the Priority Flow-Control\n(PFC) Watchdog will drop packets destined to a port-queue that has\nbeen detected as blocked. The queue will resume normal operation\nafter this time has expired.",
                "format": "int64",
                "maximum": 100000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "pfc-watchdog-timeout": {
                "description": "The time in milliseconds that a priority flow-controlled (PFC)\nport-queue must remain blocked before the Flow Control Watchdog is\ntriggered.",
                "format": "int64",
                "maximum": 10000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "thresh-profile": {
                "description": "The global threshold profile to apply on ports where individual\nprofiles are not configured. The threshold profile must first be\nconfigured using the aruba-qos-threshold-profile yang model.",
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-threshold-profile:qos-thresholds/ac-qos-threshold-profile:profile/ac-qos-threshold-profile:thresh-profile-name",
                "x-patternSources": "qos-string-type",
                "x-patterns": "'[a-zA-Z0-9._-]+'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Name or description of the entity. Must be 1-64 characters in length and can only\ncontain alphanumeric characters, periods, underscores, and hyphens"
              },
              "trust": {
                "description": "Global QoS Trust Mode Configuration.",
                "enum": [
                  "DEVICE_ARUBA_AP",
                  "DEVICE_NONE",
                  "DEFAULT",
                  "DOT1P",
                  "DSCP",
                  "IP_PRECEDENCE",
                  "NONE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT": "Trust 802.1p priority and preserve DSCP or IP-ToS.",
                  "DEVICE_ARUBA_AP": "Trust DSCP from Aruba Access-point devices.",
                  "DEVICE_NONE": "Remove all trusted device configuration for port.",
                  "DOT1P": "Trust 802.1p priority and preserve DSCP or IP-ToS.",
                  "DSCP": "Trust DSCP.",
                  "IP_PRECEDENCE": "Trust IP-Precedence and remark the 802.1p priority to match.",
                  "NONE": "Do not trust any priority fields."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "The QoS Trust Mode configuration for the port."
              }
            }
          }
        ]
      },
      "ArubaQosGlobal_QosL4PortConfig": {
        "description": "L4 port-based priority.",
        "properties": {
          "dscp": {
            "description": "DSCP codepoint.",
            "format": "int32",
            "maximum": 63,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
          },
          "l4-port": {
            "description": "The TCP or UDP port number to be prioritized.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "max-port": {
            "description": "Range end for TCP or UDP port number to be prioritized.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "min-port": {
            "description": "Range start for TCP or UDP port number to be prioritized.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "priority": {
            "description": "IEEE 802.1p priority.",
            "format": "int32",
            "maximum": 7,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Priority."
          },
          "service-use": {
            "description": "The DSCP or 802.1p priority to use.",
            "enum": [
              "DSCP",
              "PRIORITY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DSCP": "The DSCP policy to use.",
              "PRIORITY": "The 802.1p priority to use."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The DSCP or 802.1p priority to use."
          }
        }
      },
      "ArubaQosGlobal_QosL4PortConfigGet": {
        "description": "L4 port-based priority.",
        "properties": {
          "dscp": {
            "description": "DSCP codepoint.",
            "format": "int32",
            "maximum": 63,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
          },
          "l4-port": {
            "description": "The TCP or UDP port number to be prioritized.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "max-port": {
            "description": "Range end for TCP or UDP port number to be prioritized.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "min-port": {
            "description": "Range start for TCP or UDP port number to be prioritized.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "priority": {
            "description": "IEEE 802.1p priority.",
            "format": "int32",
            "maximum": 7,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Priority."
          },
          "service-use": {
            "description": "The DSCP or 802.1p priority to use.",
            "enum": [
              "DSCP",
              "PRIORITY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DSCP": "The DSCP policy to use.",
              "PRIORITY": "The 802.1p priority to use."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The DSCP or 802.1p priority to use."
          }
        }
      },
      "ArubaQosGlobal_QosQueueConfig": {
        "description": "Port Egress Queue Parameters",
        "properties": {
          "queue": {
            "description": "Port egress queue parameters.",
            "properties": {
              "queue-mode": {
                "description": "The number of egress queues for each port. This configuration is\nPVOS-specific.",
                "enum": [
                  "QUEUES_2",
                  "QUEUES_4",
                  "QUEUES_8"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "QUEUES_2": "Two egress queues for each port.",
                  "QUEUES_4": "Four egress queues for each port.",
                  "QUEUES_8": "Eight egress queues for each port."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Number of egress queues per port."
              },
              "traffic-template": {
                "description": "The traffic template to be used on all ports. Traffic templates must\nfirst be configured using the aruba-qos-queue yang model, and must be\nvalid for the platform to which the profile is being applied. Traffic\ntemplates cannot be modified while they are applied.\n\nThis configuration is PVOS-specific.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-queue:qos-queues/ac-qos-queue:profile/ac-qos-queue:q-profile-name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosGlobal_QosQueueConfigGet": {
        "description": "Port Egress Queue Parameters",
        "properties": {
          "queue": {
            "description": "Port egress queue parameters.",
            "properties": {
              "queue-mode": {
                "description": "The number of egress queues for each port. This configuration is\nPVOS-specific.",
                "enum": [
                  "QUEUES_2",
                  "QUEUES_4",
                  "QUEUES_8"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "QUEUES_2": "Two egress queues for each port.",
                  "QUEUES_4": "Four egress queues for each port.",
                  "QUEUES_8": "Eight egress queues for each port."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Number of egress queues per port."
              },
              "traffic-template": {
                "description": "The traffic template to be used on all ports. Traffic templates must\nfirst be configured using the aruba-qos-queue yang model, and must be\nvalid for the platform to which the profile is being applied. Traffic\ntemplates cannot be modified while they are applied.\n\nThis configuration is PVOS-specific.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-qos-queue:qos-queues/ac-qos-queue:profile/ac-qos-queue:q-profile-name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosPool_QosGlobalPoolConfig": {
        "description": "Global Pool Parameters.",
        "properties": {
          "pool": {
            "description": "Pool for lossless traffic. On some platforms, at least one QoS memory\npool must be configured before any interface flow-control features will\ntake effect. For Link-Level Flow Control (LLFC), either default pool 1\nshould be created or the created pool should match the llfc pool ID that\nwill be specified when flow-control is configured for an interface. For\nPriority Flow Control (PFC), the memory pool(s) should be created and\nthen the priorities to be flow-controlled should be mapped to the\ndesired memory pool(s).",
            "items": {
              "properties": {
                "headroom-size": {
                  "description": "The headroom buffer size in kilobytes. Headroom size must be\nspecified for every configured memory pool.",
                  "oneOf": [
                    {
                      "format": "int64",
                      "maximum": 10240,
                      "minimum": 0,
                      "type": "integer"
                    },
                    {
                      "enum": [
                        "DEFAULT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DEFAULT": "Factory-default headroom size."
                      }
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "index": {
                  "description": "The pool index.",
                  "format": "int32",
                  "maximum": 3,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "priority": {
                  "description": "List of priorities to be mapped to this pool for use by the interface\nPriority Flow Control (PFC) feature.",
                  "items": {
                    "description": "List of priorities to be mapped to this pool for use by the interface\nPriority Flow Control (PFC) feature.",
                    "format": "int32",
                    "maximum": 7,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Priority."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "size": {
                  "description": "The percentage of packet buffer memory to be allocated to this\nmemory pool in integer or decimal formats. The amount should be\nlarge enough to accommodate the headroom pool, which is also\nallocated from this same memory pool. Size must be specified for\nevery configured memory pool.",
                  "oneOf": [
                    {
                      "format": "int32",
                      "maximum": 90,
                      "minimum": 10,
                      "type": "integer"
                    },
                    {
                      "default": "0",
                      "format": "const",
                      "type": "string"
                    },
                    {
                      "enum": [
                        "DEFAULT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DEFAULT": "Factory-default pool size."
                      }
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "type": {
                  "description": "QoS pool type.",
                  "enum": [
                    "LOSSLESS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "LOSSLESS": "Lossless pool."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "QoS pool types."
                }
              },
              "required": [
                "size",
                "headroom-size"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosPool_QosGlobalPoolConfigGet": {
        "description": "Global Pool Parameters.",
        "properties": {
          "pool": {
            "description": "Pool for lossless traffic. On some platforms, at least one QoS memory\npool must be configured before any interface flow-control features will\ntake effect. For Link-Level Flow Control (LLFC), either default pool 1\nshould be created or the created pool should match the llfc pool ID that\nwill be specified when flow-control is configured for an interface. For\nPriority Flow Control (PFC), the memory pool(s) should be created and\nthen the priorities to be flow-controlled should be mapped to the\ndesired memory pool(s).",
            "items": {
              "properties": {
                "headroom-size": {
                  "description": "The headroom buffer size in kilobytes. Headroom size must be\nspecified for every configured memory pool.",
                  "oneOf": [
                    {
                      "format": "int64",
                      "maximum": 10240,
                      "minimum": 0,
                      "type": "integer"
                    },
                    {
                      "enum": [
                        "DEFAULT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DEFAULT": "Factory-default headroom size."
                      }
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "index": {
                  "description": "The pool index.",
                  "format": "int32",
                  "maximum": 3,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "priority": {
                  "description": "List of priorities to be mapped to this pool for use by the interface\nPriority Flow Control (PFC) feature.",
                  "items": {
                    "description": "List of priorities to be mapped to this pool for use by the interface\nPriority Flow Control (PFC) feature.",
                    "format": "int32",
                    "maximum": 7,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Priority."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "size": {
                  "description": "The percentage of packet buffer memory to be allocated to this\nmemory pool in integer or decimal formats. The amount should be\nlarge enough to accommodate the headroom pool, which is also\nallocated from this same memory pool. Size must be specified for\nevery configured memory pool.",
                  "oneOf": [
                    {
                      "format": "int32",
                      "maximum": 90,
                      "minimum": 10,
                      "type": "integer"
                    },
                    {
                      "default": "0",
                      "format": "const",
                      "type": "string"
                    },
                    {
                      "enum": [
                        "DEFAULT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DEFAULT": "Factory-default pool size."
                      }
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "type": {
                  "description": "QoS pool type.",
                  "enum": [
                    "LOSSLESS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "LOSSLESS": "Lossless pool."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "QoS pool types."
                }
              },
              "required": [
                "size",
                "headroom-size"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaQosProtocol_QosProtocolPriorityMappingConfig": {
        "description": "QoS protocol parameters.",
        "properties": {
          "protocol": {
            "description": "Protocol-based traffic prioritization list.",
            "items": {
              "properties": {
                "priority": {
                  "description": "Local queue priority",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Priority."
                },
                "type": {
                  "description": "Protocol type.",
                  "enum": [
                    "IP",
                    "IPX",
                    "ARP",
                    "APPLETALK",
                    "DECLAT",
                    "SNA",
                    "NETBEUI"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "APPLETALK": "APPLETALK protocol.",
                    "ARP": "Arp protocol.",
                    "DECLAT": "DECLAT protocol.",
                    "IP": "IP protocol.",
                    "IPX": "IPX protocol.",
                    "NETBEUI": "NETBEUI protocol.",
                    "SNA": "SNA protocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Protocol types."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "type"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosProtocol_QosProtocolPriorityMappingConfigGet": {
        "description": "QoS protocol parameters.",
        "properties": {
          "protocol": {
            "description": "Protocol-based traffic prioritization list.",
            "items": {
              "properties": {
                "priority": {
                  "description": "Local queue priority",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Priority."
                },
                "type": {
                  "description": "Protocol type.",
                  "enum": [
                    "IP",
                    "IPX",
                    "ARP",
                    "APPLETALK",
                    "DECLAT",
                    "SNA",
                    "NETBEUI"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "APPLETALK": "APPLETALK protocol.",
                    "ARP": "Arp protocol.",
                    "DECLAT": "DECLAT protocol.",
                    "IP": "IP protocol.",
                    "IPX": "IPX protocol.",
                    "NETBEUI": "NETBEUI protocol.",
                    "SNA": "SNA protocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Protocol types."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "type"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaQosTos_QosTypeOfServiceConfig": {
        "description": "DSCP-based traffic prioritization.",
        "properties": {
          "diff-services": {
            "description": "The DSCP codepoint list.",
            "items": {
              "properties": {
                "diff-service-num": {
                  "description": "The DSCP codepoint.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                },
                "dscp": {
                  "description": "Replacement DSCP codepoint.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "diffServiceNum"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "service-type": {
            "description": "Prioritize IP packets based on service type.",
            "enum": [
              "IP_PRECEDENCE",
              "DIFF_SERVICES"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DIFF_SERVICES": "Prioritize IP packets based on their DSCP codepoint.",
              "IP_PRECEDENCE": "Prioritize IPv4 packets based on their ToS precedence."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "DSCP-based traffic prioritization."
          }
        }
      },
      "ArubaQosTos_QosTypeOfServiceConfigGet": {
        "description": "DSCP-based traffic prioritization.",
        "properties": {
          "diff-services": {
            "description": "The DSCP codepoint list.",
            "items": {
              "properties": {
                "diff-service-num": {
                  "description": "The DSCP codepoint.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                },
                "dscp": {
                  "description": "Replacement DSCP codepoint.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "diffServiceNum"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "service-type": {
            "description": "Prioritize IP packets based on service type.",
            "enum": [
              "IP_PRECEDENCE",
              "DIFF_SERVICES"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DIFF_SERVICES": "Prioritize IP packets based on their DSCP codepoint.",
              "IP_PRECEDENCE": "Prioritize IPv4 packets based on their ToS precedence."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "DSCP-based traffic prioritization."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
[...]
