{
  "openapi": "3.1.0",
  "info": {
    "title": "Vsx Pair",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Vsx Pair"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/vsx-config": {
      "get": {
        "description": "VSX config for primary or secondary device.",
        "operationId": "readVsxConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVsxPair_VsxConfigSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read vsx-config",
        "tags": [
          "Vsx Pair"
        ],
        "x-cliParam": {
          "commandName": "readVsxConfigCmd",
          "commandUse": "vsx-config",
          "parentCommand": "readCmd",
          "pathToPrint": "/vsx-config/",
          "summary": "Read operation for vsx-config"
        }
      }
    },
    "/network-config/v1alpha1/vsx-config/{name}": {
      "get": {
        "description": "Single list of  VSX config.",
        "operationId": "readVsxConfigVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVsxPair_VsxConfigvsxSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read vsx by name",
        "tags": [
          "Vsx Pair"
        ],
        "x-cliParam": {
          "commandName": "readVsxConfigVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readVsxConfigCmd",
          "pathToPrint": "/vsx-config/vsx/%s/",
          "summary": "Read operation for vsx",
          "totParams": 1
        }
      },
      "put": {
        "description": "Single list of  VSX config.",
        "operationId": "replaceVsxConfigVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVsxPair_VsxConfigvsxSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace vsx by name",
        "tags": [
          "Vsx Pair"
        ],
        "x-cliParam": {
          "commandName": "replaceVsxConfigVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceVsxConfigCmd",
          "pathToPrint": "/vsx-config/vsx/%s/",
          "summary": "Replace operation for vsx",
          "totParams": 1
        }
      },
      "post": {
        "description": "Single list of  VSX config.",
        "operationId": "createVsxConfigVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVsxPair_VsxConfigvsxSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create vsx by name",
        "tags": [
          "Vsx Pair"
        ],
        "x-cliParam": {
          "commandName": "createVsxConfigVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createVsxConfigCmd",
          "pathToPrint": "/vsx-config/vsx/%s/",
          "summary": "Create operation for vsx",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Single list of  VSX config.",
        "operationId": "deleteVsxConfigVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete vsx by name",
        "tags": [
          "Vsx Pair"
        ],
        "x-cliParam": {
          "commandName": "deleteVsxConfigVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteVsxConfigCmd",
          "pathToPrint": "/vsx-config/vsx/%s/",
          "summary": "Delete operation for vsx",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Single list of  VSX config.",
        "operationId": "updateVsxConfigVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVsxPair_VsxConfigvsxSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update vsx by name",
        "tags": [
          "Vsx Pair"
        ],
        "x-cliParam": {
          "commandName": "updateVsxConfigVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateVsxConfigCmd",
          "pathToPrint": "/vsx-config/vsx/%s/",
          "summary": "Update operation for vsx",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaVsxCommon_IslTimers": {
        "description": "VSX ISL timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "default": "20",
            "description": "Inter-switch link dead interval. The dead interval is the amount of time to wait for\nhellos from peer before declaring the peer to be missing. Lesser dead-intervals might cause\nISL flap due to dead-interval expiry during scenarios like redundancy switchover.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-interval": {
            "default": "1",
            "description": "Inter-switch link hello interval.",
            "format": "int64",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hold-time": {
            "default": "0",
            "description": "Inter-switch link hold time interval.\nPort is treated as down only when it stays down for the configured hold-time interval.",
            "format": "int64",
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "peer-detect-interval": {
            "default": "300",
            "description": "Inter-switch link peer detect interval. This is the amount of time in seconds that the\ndevice will wait for inter-switch-link interface to link up after a reboot. If the ISL link\ndoes not come up within this time window, the device will declare itself as split from its peer.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsxCommon_IslTimersGet": {
        "description": "VSX ISL timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "default": "20",
            "description": "Inter-switch link dead interval. The dead interval is the amount of time to wait for\nhellos from peer before declaring the peer to be missing. Lesser dead-intervals might cause\nISL flap due to dead-interval expiry during scenarios like redundancy switchover.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-interval": {
            "default": "1",
            "description": "Inter-switch link hello interval.",
            "format": "int64",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hold-time": {
            "default": "0",
            "description": "Inter-switch link hold time interval.\nPort is treated as down only when it stays down for the configured hold-time interval.",
            "format": "int64",
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "peer-detect-interval": {
            "default": "300",
            "description": "Inter-switch link peer detect interval. This is the amount of time in seconds that the\ndevice will wait for inter-switch-link interface to link up after a reboot. If the ISL link\ndoes not come up within this time window, the device will declare itself as split from its peer.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsxCommon_KeepaliveIp": {
        "description": "VSX keepalive IP configuration grouping, applicable to both primary and secondary",
        "properties": {
          "ethernet-ifname": {
            "description": "Ethernet Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ethernet-ifname",
            "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
          },
          "if-mgmt": {
            "description": "Management interface name configured as keepalive.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "if-mgmt",
            "x-patterns": "'(\\w+((/\\w+)+([:.]\\d+)?)?)'"
          },
          "loopback-id": {
            "description": "Loopback Interface ID for which the keepalive is configured.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "peer-ip": {
            "description": "IPv4/IPv6 address of the peer device. For PVOS, only IPv4 is supported.\nIf not configured, keepalive functionality is disabled.\nConfigure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "portchannel-ifname": {
            "description": "Port channel Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "portchannel-ifname",
            "x-patterns": "'(\\w+((/\\d+)+([:.]\\d+)?)?)'"
          },
          "source-ip": {
            "description": "IPv4/IPv6 address of the device. If not configured, keepalive functionality is\ndisabled. Configure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlan-id": {
            "description": "Vlan Interface id for which the keepalive is configured.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaVsxCommon_KeepaliveIpGet": {
        "description": "VSX keepalive IP configuration grouping, applicable to both primary and secondary",
        "properties": {
          "ethernet-ifname": {
            "description": "Ethernet Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ethernet-ifname",
            "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
          },
          "if-mgmt": {
            "description": "Management interface name configured as keepalive.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "if-mgmt",
            "x-patterns": "'(\\w+((/\\w+)+([:.]\\d+)?)?)'"
          },
          "loopback-id": {
            "description": "Loopback Interface ID for which the keepalive is configured.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "peer-ip": {
            "description": "IPv4/IPv6 address of the peer device. For PVOS, only IPv4 is supported.\nIf not configured, keepalive functionality is disabled.\nConfigure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "portchannel-ifname": {
            "description": "Port channel Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "portchannel-ifname",
            "x-patterns": "'(\\w+((/\\d+)+([:.]\\d+)?)?)'"
          },
          "source-ip": {
            "description": "IPv4/IPv6 address of the device. If not configured, keepalive functionality is\ndisabled. Configure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlan-id": {
            "description": "Vlan Interface id for which the keepalive is configured.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaVsxCommon_KeepaliveTimers": {
        "description": "VSX keepalive timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "description": "Keepalive dead time interval. Default is 3 seconds for CX, 5 seconds for PVOS.\n3-20 is the supported range for PVOS.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "hello-interval": {
            "description": "Keepalive hello time interval in seconds fox CX and in milliseconds for PVOS.\nDefault is 1 second for CX, 1000 milliseconds for PVOS.\n400-10000 in milliseconds is the supported range for PVOS.",
            "format": "int64",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "udp-port": {
            "description": "UDP port number of peer device. Default is 7678 for CX and the default for PVOS is 1024.\n1024-49151 is the supported range for PVOS.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          }
        }
      },
      "ArubaVsxCommon_KeepaliveTimersGet": {
        "description": "VSX keepalive timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "description": "Keepalive dead time interval. Default is 3 seconds for CX, 5 seconds for PVOS.\n3-20 is the supported range for PVOS.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "hello-interval": {
            "description": "Keepalive hello time interval in seconds fox CX and in milliseconds for PVOS.\nDefault is 1 second for CX, 1000 milliseconds for PVOS.\n400-10000 in milliseconds is the supported range for PVOS.",
            "format": "int64",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "udp-port": {
            "description": "UDP port number of peer device. Default is 7678 for CX and the default for PVOS is 1024.\n1024-49151 is the supported range for PVOS.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          }
        }
      },
      "ArubaVsxCommon_VsxCommon": {
        "description": "VSX common configuration grouping, applicable to both primary and secondary",
        "properties": {
          "linkup-delay-timer": {
            "default": "180",
            "description": "Number of seconds that multi-chassis LAGs should be held down after the ISL is\nconsidered to be fully established and VSX switches are synchronized. Comes into\neffect on new ISL deployments, ISL flaps or full device reboot.",
            "format": "int64",
            "maximum": 600,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "split-recovery-disable": {
            "default": "false",
            "description": "Disables split brain recovery.\nBy default, split-recovery mode is enabled. When ISL goes out-of-sync and if\nKeep-alive is established then secondary vsx lags will be brought down.\nSubsequently if Keep-alive also fails it causes split condition. In this case\nif split-recovery mode is enabled secondary will make its vsx lags up else\nsecondary will continue to keep its vsx lags down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "system-mac": {
            "description": "System MAC address to be used by L2 control plane protocols.\nA pair of VSX switches must have the same system MAC.\nIf system MAC is not configured, L2 control plane protocols\nwill use the VSX Primary device MAC address as their\nBridge Identifier. MAC address will be in\n[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5} format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaVsxCommon_VsxCommonGet": {
        "description": "VSX common configuration grouping, applicable to both primary and secondary",
        "properties": {
          "linkup-delay-timer": {
            "default": "180",
            "description": "Number of seconds that multi-chassis LAGs should be held down after the ISL is\nconsidered to be fully established and VSX switches are synchronized. Comes into\neffect on new ISL deployments, ISL flaps or full device reboot.",
            "format": "int64",
            "maximum": 600,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "split-recovery-disable": {
            "default": "false",
            "description": "Disables split brain recovery.\nBy default, split-recovery mode is enabled. When ISL goes out-of-sync and if\nKeep-alive is established then secondary vsx lags will be brought down.\nSubsequently if Keep-alive also fails it causes split condition. In this case\nif split-recovery mode is enabled secondary will make its vsx lags up else\nsecondary will continue to keep its vsx lags down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "system-mac": {
            "description": "System MAC address to be used by L2 control plane protocols.\nA pair of VSX switches must have the same system MAC.\nIf system MAC is not configured, L2 control plane protocols\nwill use the VSX Primary device MAC address as their\nBridge Identifier. MAC address will be in\n[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5} format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaVsxCommon_VsxDevice": {
        "description": "VSX device specific configuration grouping",
        "properties": {
          "role": {
            "description": "Specifies whether the device will act as primary or secondary for VSX.\nVSX operation requires one peer switch to be primary and the other secondary.\nIf not configured, then the device will not participate in VSX role election.",
            "enum": [
              "VSX_PRIMARY",
              "VSX_SECONDARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "VSX_PRIMARY": "Primary vsx role.",
              "VSX_SECONDARY": "Secondary vsx role."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "VSX device role."
          }
        }
      },
      "ArubaVsxCommon_VsxDeviceGet": {
        "description": "VSX device specific configuration grouping",
        "properties": {
          "role": {
            "description": "Specifies whether the device will act as primary or secondary for VSX.\nVSX operation requires one peer switch to be primary and the other secondary.\nIf not configured, then the device will not participate in VSX role election.",
            "enum": [
              "VSX_PRIMARY",
              "VSX_SECONDARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "VSX_PRIMARY": "Primary vsx role.",
              "VSX_SECONDARY": "Secondary vsx role."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "VSX device role."
          }
        }
      },
      "ArubaVsxPair_VsxConfigSchemaGET": {
        "description": "VSX config for primary or secondary device.",
        "properties": {
          "vsx": {
            "description": "Single list of  VSX config.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsxCommon_VsxDeviceGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaVsxCommon_VsxCommonGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "VSX configuration description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "intent-name": {
                      "description": "VSX intent config profile name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string"
                    },
                    "inter-switch-link": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaVsxCommon_IslTimersGet"
                        }
                      ],
                      "description": "Inter switch link configurations",
                      "properties": {
                        "interface-eth": {
                          "description": "The ethernet interface to be used as inter-switch link.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                          "x-patternSources": "name",
                          "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS"
                          ]
                        },
                        "interface-lag": {
                          "description": "The portchannel interface to be used as inter-switch link.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
                          "x-patternSources": "name",
                          "x-patterns": "'(\\d+)'",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS"
                          ]
                        }
                      }
                    },
                    "interface-vlan-ref": {
                      "description": "List of L3 VLANs in use by VSX intent configuration that should not be removed while in use.",
                      "items": {
                        "description": "List of L3 VLANs in use by VSX intent configuration that should not be removed while in use.",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "Type definition representing a single-tagged VLAN"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "keepalive": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaVsxCommon_KeepaliveIpGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaVsxCommon_KeepaliveTimersGet"
                        }
                      ],
                      "description": "Keepalive timer configurations",
                      "properties": {
                        "vrf-ref": {
                          "description": "Reference to VRF to be used for keepalive routing. If not configured, then the default\nvrf is used.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                          "x-patternSources": "name-type",
                          "x-patterns": "'([^\\\\/ ]+)'",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                        }
                      }
                    },
                    "linkup-delay-timer-exclude": {
                      "description": "Disable linkup delay timer on the list of multichassis port channel interface.",
                      "items": {
                        "description": "Disable linkup delay timer on the list of multichassis port channel interface.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
                        "x-patternSources": "name",
                        "x-patterns": "'(\\d+)'",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "name": {
                      "description": "VSX configuration name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "peer-device-serial": {
                      "description": "Serial number of the corresponding VSX peer device",
                      "format": "const",
                      "maxLength": 10,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 1,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaVsxPair_VsxConfigvsxSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVsxCommon_VsxDevice"
          },
          {
            "$ref": "#/components/schemas/ArubaVsxCommon_VsxCommon"
          },
          {
            "properties": {
              "description": {
                "description": "VSX configuration description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "intent-name": {
                "description": "VSX intent config profile name.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string"
              },
              "inter-switch-link": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaVsxCommon_IslTimers"
                  }
                ],
                "description": "Inter switch link configurations",
                "properties": {
                  "interface-eth": {
                    "description": "The ethernet interface to be used as inter-switch link.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                    "x-patternSources": "name",
                    "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "interface-lag": {
                    "description": "The portchannel interface to be used as inter-switch link.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
                    "x-patternSources": "name",
                    "x-patterns": "'(\\d+)'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  }
                }
              },
              "interface-vlan-ref": {
                "description": "List of L3 VLANs in use by VSX intent configuration that should not be removed while in use.",
                "items": {
                  "description": "List of L3 VLANs in use by VSX intent configuration that should not be removed while in use.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "keepalive": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaVsxCommon_KeepaliveIp"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaVsxCommon_KeepaliveTimers"
                  }
                ],
                "description": "Keepalive timer configurations",
                "properties": {
                  "vrf-ref": {
                    "description": "Reference to VRF to be used for keepalive routing. If not configured, then the default\nvrf is used.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                    "x-patternSources": "name-type",
                    "x-patterns": "'([^\\\\/ ]+)'",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                  }
                }
              },
              "linkup-delay-timer-exclude": {
                "description": "Disable linkup delay timer on the list of multichassis port channel interface.",
                "items": {
                  "description": "Disable linkup delay timer on the list of multichassis port channel interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
                  "x-patternSources": "name",
                  "x-patterns": "'(\\d+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "name": {
                "description": "VSX configuration name.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "peer-device-serial": {
                "description": "Serial number of the corresponding VSX peer device",
                "format": "const",
                "maxLength": 10,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "ArubaVsxPair_VsxConfigvsxSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVsxCommon_VsxDeviceGet"
          },
          {
            "$ref": "#/components/schemas/ArubaVsxCommon_VsxCommonGet"
          },
          {
            "properties": {
              "description": {
                "description": "VSX configuration description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "intent-name": {
                "description": "VSX intent config profile name.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string"
              },
              "inter-switch-link": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaVsxCommon_IslTimersGet"
                  }
                ],
                "description": "Inter switch link configurations",
                "properties": {
                  "interface-eth": {
                    "description": "The ethernet interface to be used as inter-switch link.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                    "x-patternSources": "name",
                    "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "interface-lag": {
                    "description": "The portchannel interface to be used as inter-switch link.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
                    "x-patternSources": "name",
                    "x-patterns": "'(\\d+)'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  }
                }
              },
              "interface-vlan-ref": {
                "description": "List of L3 VLANs in use by VSX intent configuration that should not be removed while in use.",
                "items": {
                  "description": "List of L3 VLANs in use by VSX intent configuration that should not be removed while in use.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "keepalive": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaVsxCommon_KeepaliveIpGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaVsxCommon_KeepaliveTimersGet"
                  }
                ],
                "description": "Keepalive timer configurations",
                "properties": {
                  "vrf-ref": {
                    "description": "Reference to VRF to be used for keepalive routing. If not configured, then the default\nvrf is used.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                    "x-patternSources": "name-type",
                    "x-patterns": "'([^\\\\/ ]+)'",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                  }
                }
              },
              "linkup-delay-timer-exclude": {
                "description": "Disable linkup delay timer on the list of multichassis port channel interface.",
                "items": {
                  "description": "Disable linkup delay timer on the list of multichassis port channel interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
                  "x-patternSources": "name",
                  "x-patterns": "'(\\d+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "name": {
                "description": "VSX configuration name.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "peer-device-serial": {
                "description": "Serial number of the corresponding VSX peer device",
                "format": "const",
                "maxLength": 10,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaVsxPair_VsxConfigvsxSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaVsxPair_VsxConfigvsxSchema"
            }
          }
        },
        "description": "vsxbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
