{
  "openapi": "3.1.0",
  "info": {
    "title": "Ap Port Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Ap Port Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ap-port-profiles": {
      "get": {
        "description": "Port profiles, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "operationId": "readApPortProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaApPortProfile_ApPortProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured port profiles",
        "tags": [
          "Ap Port Profile"
        ],
        "x-cliParam": {
          "commandName": "readApPortProfilesCmd",
          "commandUse": "ap-port-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/ap-port-profiles/",
          "summary": "Read operation for ap-port-profiles"
        }
      }
    },
    "/network-config/v1alpha1/ap-port-profiles/{profile-name}": {
      "get": {
        "description": "List of Port profile, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "operationId": "readApPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Port profile name.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaApPortProfile_ApPortProfilesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing port profile configuration",
        "tags": [
          "Ap Port Profile"
        ],
        "x-cliParam": {
          "commandName": "readApPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "readApPortProfilesCmd",
          "pathToPrint": "/ap-port-profiles/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Port profile, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "operationId": "replaceApPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Port profile name.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApPortProfile_ApPortProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by profile-name",
        "tags": [
          "Ap Port Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceApPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "replaceApPortProfilesCmd",
          "pathToPrint": "/ap-port-profiles/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Port profile, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "operationId": "createApPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Port profile name.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApPortProfile_ApPortProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new port profile by unique name",
        "tags": [
          "Ap Port Profile"
        ],
        "x-cliParam": {
          "commandName": "createApPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "createApPortProfilesCmd",
          "pathToPrint": "/ap-port-profiles/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Port profile, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "operationId": "deleteApPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Port profile name.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the port profile",
        "tags": [
          "Ap Port Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteApPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "deleteApPortProfilesCmd",
          "pathToPrint": "/ap-port-profiles/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Port profile, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "operationId": "updateApPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Port profile name.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApPortProfile_ApPortProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by profile-name",
        "tags": [
          "Ap Port Profile"
        ],
        "x-cliParam": {
          "commandName": "updateApPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "updateApPortProfilesCmd",
          "pathToPrint": "/ap-port-profiles/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaApPortProfile_ApPortProfilesSchemaGET": {
        "description": "Port profiles, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
        "properties": {
          "profile": {
            "description": "List of Port profile, config parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaApPortProfile_WiredPortVlanConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaApPortProfile_PortPorfileSecurityConfigGet"
                },
                {
                  "properties": {
                    "ap-mode": {
                      "default": "CAMPUS_AP",
                      "description": "AP deployment mode where this port profile is used. Campus-AP mode or Microbranch Mode.",
                      "enum": [
                        "CAMPUS_AP",
                        "MICROBRANCH_AP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CAMPUS_AP": "Campus AP deployment type",
                        "MICROBRANCH_AP": "Microbranch AP deployment type"
                      },
                      "x-typeDescription": "AP deployment type"
                    },
                    "client-isolation": {
                      "default": "false",
                      "description": "Disable all peer-to-peer communication in the VLAN network.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "cluster-preemption": {
                      "default": "false",
                      "description": "Enable cluster preemption.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "content-filtering": {
                      "default": "false",
                      "description": "Enable content filtering.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "description": {
                      "description": "User-defined description or comment for the Port Profile.",
                      "format": "const",
                      "maxLength": 128,
                      "minLength": 1,
                      "type": "string"
                    },
                    "dot3az": {
                      "default": "false",
                      "description": "Enable 802.3az standard on an AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "dot3bz": {
                      "default": "false",
                      "description": "Enable 802.3bz standard on an AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "duplex": {
                      "description": "Duplex mode.",
                      "enum": [
                        "HALF_DUPLEX",
                        "FULL_DUPLEX",
                        "AUTO_DUPLEX"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTO_DUPLEX": "Auto-duplex.",
                        "FULL_DUPLEX": "Full-duplex.",
                        "HALF_DUPLEX": "Half-duplex."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Duplex mode."
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable interface.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "forward-mode": {
                      "description": "Forwarding mode for the network on AP.",
                      "enum": [
                        "BRIDGE",
                        "L2",
                        "L3",
                        "MIXED"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "BRIDGE": "Bridge mode.",
                        "L2": "Layer 2 mode.",
                        "L3": "Layer 3 mode.",
                        "MIXED": "Mixed mode."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Forwarding mode for the network on AP"
                    },
                    "inactivity-timeout": {
                      "default": "1000",
                      "description": "Specify an interval for a client session timeout in seconds.",
                      "format": "int64",
                      "maximum": 86400,
                      "minimum": 60,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "loop-protect": {
                      "description": "Config loop protection on the port.",
                      "properties": {
                        "enable": {
                          "default": "false",
                          "description": "Enables loop protect on the L2 interface.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "re-enable": {
                          "default": "false",
                          "description": "If the Ethernet port of AP is marked with status Loop-ERR and shutdown, at the\nexpiry of the auto-recovery-interval, the Loop-ERR status of the Ethernet port\nwill be cleared and the port will be re-enabled automatically.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "re-enable-timer": {
                          "default": "300",
                          "description": "Time interval for enabling port blocked by loop-protect.",
                          "format": "int64",
                          "maximum": 43200,
                          "minimum": 30,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "storm-control-broadcast": {
                          "default": "false",
                          "description": "During broadcast-storm control, AP counts the broadcast packets received\non each of its Ethernet port and determines the packet rate in an interval.\nIf the broadcast packet rate on one Ethernet port exceeds the configured\nthreshold (default value is 2000 packets per second), the Ethernet port\nis shut down.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "storm-control-threshold": {
                          "default": "2000",
                          "description": "The threshhold is used for storm-control-broadcast, if the broadcast packet\nrate on one Ethernet port exceeds the threshold (default value is 2000\npackets per second), the Ethernet port will be shut down.",
                          "format": "int64",
                          "maximum": 1000000,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "transmit-interval": {
                          "default": "2",
                          "description": "Loop-protect packet transmission time interval.",
                          "format": "int32",
                          "maximum": 10,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      }
                    },
                    "out-of-service": {
                      "description": "Out of service type for this wired profile.",
                      "enum": [
                        "TUNNEL_DOWN",
                        "UPLINK_DOWN",
                        "INTERNET_DOWN",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "INTERNET_DOWN": "Internet Down",
                        "NONE": "None.",
                        "TUNNEL_DOWN": "Tunnel Down",
                        "UPLINK_DOWN": "Uplink Down"
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Out of service types"
                    },
                    "poe": {
                      "description": "Config PoE on the port, PoE is a technology for wired Ethernet LANs to carry electric power required for the device in the data cables.",
                      "properties": {
                        "enabled": {
                          "description": "Enable or disable PoE in the ethernet interface.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      }
                    },
                    "port-bond": {
                      "default": "false",
                      "description": "Bond this Ethernet port into virtual port bond0 as uplink.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "port-type": {
                      "description": "Port works in WAN or LAN.",
                      "enum": [
                        "WAN",
                        "LAN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LAN": "Port type LAN.",
                        "WAN": "Port type WAN."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "For microbranch AP, port type WAN means uplink, port type LAN means downlink"
                    },
                    "profile-name": {
                      "description": "Port profile name.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "speed": {
                      "default": "SPEED_AUTO",
                      "description": "Ethernet speed.",
                      "enum": [
                        "SPEED_10MB",
                        "SPEED_100MB",
                        "SPEED_1GB",
                        "SPEED_2_5GB",
                        "SPEED_5GB",
                        "SPEED_10GB",
                        "SPEED_40GB",
                        "SPEED_100GB",
                        "SPEED_1000GB",
                        "SPEED_AUTO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "SPEED_1000GB": "1000 Gb/sec Ethernet.",
                        "SPEED_100GB": "100 Gb/sec Ethernet.",
                        "SPEED_100MB": "100 Mb/sec Ethernet.",
                        "SPEED_10GB": "10 Gb/sec Ethernet.",
                        "SPEED_10MB": "10 Mb/sec Ethernet.",
                        "SPEED_1GB": "1 Gb/sec Ethernet.",
                        "SPEED_2_5GB": "2.5 Gb/sec Ethernet.",
                        "SPEED_40GB": "40 Gb/sec Ethernet.",
                        "SPEED_5GB": "5 Gb/sec Ethernet.",
                        "SPEED_AUTO": "Auto negotiation Ethernet."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Speed Type."
                    },
                    "stp": {
                      "description": "Config Spanning Tree Protocol (STP) on the port, Spanning Tree Protocol (STP) is a network protocol used to prevent loops in Ethernet networks.",
                      "properties": {
                        "enable": {
                          "default": "false",
                          "description": "Enable STP on the port",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      }
                    },
                    "trusted": {
                      "default": "false",
                      "description": "Mark as a trusted interface.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "profileName"
            ]
          }
        }
      },
      "ArubaApPortProfile_ApPortProfilesprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaApPortProfile_WiredPortVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaApPortProfile_PortPorfileSecurityConfig"
          },
          {
            "properties": {
              "ap-mode": {
                "default": "CAMPUS_AP",
                "description": "AP deployment mode where this port profile is used. Campus-AP mode or Microbranch Mode.",
                "enum": [
                  "CAMPUS_AP",
                  "MICROBRANCH_AP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CAMPUS_AP": "Campus AP deployment type",
                  "MICROBRANCH_AP": "Microbranch AP deployment type"
                },
                "x-typeDescription": "AP deployment type"
              },
              "client-isolation": {
                "default": "false",
                "description": "Disable all peer-to-peer communication in the VLAN network.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "cluster-preemption": {
                "default": "false",
                "description": "Enable cluster preemption.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "content-filtering": {
                "default": "false",
                "description": "Enable content filtering.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "description": {
                "description": "User-defined description or comment for the Port Profile.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string"
              },
              "dot3az": {
                "default": "false",
                "description": "Enable 802.3az standard on an AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "dot3bz": {
                "default": "false",
                "description": "Enable 802.3bz standard on an AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "duplex": {
                "description": "Duplex mode.",
                "enum": [
                  "HALF_DUPLEX",
                  "FULL_DUPLEX",
                  "AUTO_DUPLEX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO_DUPLEX": "Auto-duplex.",
                  "FULL_DUPLEX": "Full-duplex.",
                  "HALF_DUPLEX": "Half-duplex."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Duplex mode."
              },
              "enable": {
                "default": "false",
                "description": "Enable interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "forward-mode": {
                "description": "Forwarding mode for the network on AP.",
                "enum": [
                  "BRIDGE",
                  "L2",
                  "L3",
                  "MIXED"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "BRIDGE": "Bridge mode.",
                  "L2": "Layer 2 mode.",
                  "L3": "Layer 3 mode.",
                  "MIXED": "Mixed mode."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Forwarding mode for the network on AP"
              },
              "inactivity-timeout": {
                "default": "1000",
                "description": "Specify an interval for a client session timeout in seconds.",
                "format": "int64",
                "maximum": 86400,
                "minimum": 60,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "loop-protect": {
                "description": "Config loop protection on the port.",
                "properties": {
                  "enable": {
                    "default": "false",
                    "description": "Enables loop protect on the L2 interface.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "re-enable": {
                    "default": "false",
                    "description": "If the Ethernet port of AP is marked with status Loop-ERR and shutdown, at the\nexpiry of the auto-recovery-interval, the Loop-ERR status of the Ethernet port\nwill be cleared and the port will be re-enabled automatically.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "re-enable-timer": {
                    "default": "300",
                    "description": "Time interval for enabling port blocked by loop-protect.",
                    "format": "int64",
                    "maximum": 43200,
                    "minimum": 30,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "storm-control-broadcast": {
                    "default": "false",
                    "description": "During broadcast-storm control, AP counts the broadcast packets received\non each of its Ethernet port and determines the packet rate in an interval.\nIf the broadcast packet rate on one Ethernet port exceeds the configured\nthreshold (default value is 2000 packets per second), the Ethernet port\nis shut down.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "storm-control-threshold": {
                    "default": "2000",
                    "description": "The threshhold is used for storm-control-broadcast, if the broadcast packet\nrate on one Ethernet port exceeds the threshold (default value is 2000\npackets per second), the Ethernet port will be shut down.",
                    "format": "int64",
                    "maximum": 1000000,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "transmit-interval": {
                    "default": "2",
                    "description": "Loop-protect packet transmission time interval.",
                    "format": "int32",
                    "maximum": 10,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "out-of-service": {
                "description": "Out of service type for this wired profile.",
                "enum": [
                  "TUNNEL_DOWN",
                  "UPLINK_DOWN",
                  "INTERNET_DOWN",
                  "NONE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "INTERNET_DOWN": "Internet Down",
                  "NONE": "None.",
                  "TUNNEL_DOWN": "Tunnel Down",
                  "UPLINK_DOWN": "Uplink Down"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Out of service types"
              },
              "poe": {
                "description": "Config PoE on the port, PoE is a technology for wired Ethernet LANs to carry electric power required for the device in the data cables.",
                "properties": {
                  "enabled": {
                    "description": "Enable or disable PoE in the ethernet interface.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "port-bond": {
                "default": "false",
                "description": "Bond this Ethernet port into virtual port bond0 as uplink.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "port-type": {
                "description": "Port works in WAN or LAN.",
                "enum": [
                  "WAN",
                  "LAN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LAN": "Port type LAN.",
                  "WAN": "Port type WAN."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "For microbranch AP, port type WAN means uplink, port type LAN means downlink"
              },
              "profile-name": {
                "description": "Port profile name.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "speed": {
                "default": "SPEED_AUTO",
                "description": "Ethernet speed.",
                "enum": [
                  "SPEED_10MB",
                  "SPEED_100MB",
                  "SPEED_1GB",
                  "SPEED_2_5GB",
                  "SPEED_5GB",
                  "SPEED_10GB",
                  "SPEED_40GB",
                  "SPEED_100GB",
                  "SPEED_1000GB",
                  "SPEED_AUTO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SPEED_1000GB": "1000 Gb/sec Ethernet.",
                  "SPEED_100GB": "100 Gb/sec Ethernet.",
                  "SPEED_100MB": "100 Mb/sec Ethernet.",
                  "SPEED_10GB": "10 Gb/sec Ethernet.",
                  "SPEED_10MB": "10 Mb/sec Ethernet.",
                  "SPEED_1GB": "1 Gb/sec Ethernet.",
                  "SPEED_2_5GB": "2.5 Gb/sec Ethernet.",
                  "SPEED_40GB": "40 Gb/sec Ethernet.",
                  "SPEED_5GB": "5 Gb/sec Ethernet.",
                  "SPEED_AUTO": "Auto negotiation Ethernet."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Speed Type."
              },
              "stp": {
                "description": "Config Spanning Tree Protocol (STP) on the port, Spanning Tree Protocol (STP) is a network protocol used to prevent loops in Ethernet networks.",
                "properties": {
                  "enable": {
                    "default": "false",
                    "description": "Enable STP on the port",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "trusted": {
                "default": "false",
                "description": "Mark as a trusted interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        ]
      },
      "ArubaApPortProfile_ApPortProfilesprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaApPortProfile_WiredPortVlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaApPortProfile_PortPorfileSecurityConfigGet"
          },
          {
            "properties": {
              "ap-mode": {
                "default": "CAMPUS_AP",
                "description": "AP deployment mode where this port profile is used. Campus-AP mode or Microbranch Mode.",
                "enum": [
                  "CAMPUS_AP",
                  "MICROBRANCH_AP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CAMPUS_AP": "Campus AP deployment type",
                  "MICROBRANCH_AP": "Microbranch AP deployment type"
                },
                "x-typeDescription": "AP deployment type"
              },
              "client-isolation": {
                "default": "false",
                "description": "Disable all peer-to-peer communication in the VLAN network.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "cluster-preemption": {
                "default": "false",
                "description": "Enable cluster preemption.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "content-filtering": {
                "default": "false",
                "description": "Enable content filtering.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "description": {
                "description": "User-defined description or comment for the Port Profile.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string"
              },
              "dot3az": {
                "default": "false",
                "description": "Enable 802.3az standard on an AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "dot3bz": {
                "default": "false",
                "description": "Enable 802.3bz standard on an AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "duplex": {
                "description": "Duplex mode.",
                "enum": [
                  "HALF_DUPLEX",
                  "FULL_DUPLEX",
                  "AUTO_DUPLEX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO_DUPLEX": "Auto-duplex.",
                  "FULL_DUPLEX": "Full-duplex.",
                  "HALF_DUPLEX": "Half-duplex."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Duplex mode."
              },
              "enable": {
                "default": "false",
                "description": "Enable interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "forward-mode": {
                "description": "Forwarding mode for the network on AP.",
                "enum": [
                  "BRIDGE",
                  "L2",
                  "L3",
                  "MIXED"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "BRIDGE": "Bridge mode.",
                  "L2": "Layer 2 mode.",
                  "L3": "Layer 3 mode.",
                  "MIXED": "Mixed mode."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Forwarding mode for the network on AP"
              },
              "inactivity-timeout": {
                "default": "1000",
                "description": "Specify an interval for a client session timeout in seconds.",
                "format": "int64",
                "maximum": 86400,
                "minimum": 60,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "loop-protect": {
                "description": "Config loop protection on the port.",
                "properties": {
                  "enable": {
                    "default": "false",
                    "description": "Enables loop protect on the L2 interface.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "re-enable": {
                    "default": "false",
                    "description": "If the Ethernet port of AP is marked with status Loop-ERR and shutdown, at the\nexpiry of the auto-recovery-interval, the Loop-ERR status of the Ethernet port\nwill be cleared and the port will be re-enabled automatically.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "re-enable-timer": {
                    "default": "300",
                    "description": "Time interval for enabling port blocked by loop-protect.",
                    "format": "int64",
                    "maximum": 43200,
                    "minimum": 30,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "storm-control-broadcast": {
                    "default": "false",
                    "description": "During broadcast-storm control, AP counts the broadcast packets received\non each of its Ethernet port and determines the packet rate in an interval.\nIf the broadcast packet rate on one Ethernet port exceeds the configured\nthreshold (default value is 2000 packets per second), the Ethernet port\nis shut down.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "storm-control-threshold": {
                    "default": "2000",
                    "description": "The threshhold is used for storm-control-broadcast, if the broadcast packet\nrate on one Ethernet port exceeds the threshold (default value is 2000\npackets per second), the Ethernet port will be shut down.",
                    "format": "int64",
                    "maximum": 1000000,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "transmit-interval": {
                    "default": "2",
                    "description": "Loop-protect packet transmission time interval.",
                    "format": "int32",
                    "maximum": 10,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "out-of-service": {
                "description": "Out of service type for this wired profile.",
                "enum": [
                  "TUNNEL_DOWN",
                  "UPLINK_DOWN",
                  "INTERNET_DOWN",
                  "NONE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "INTERNET_DOWN": "Internet Down",
                  "NONE": "None.",
                  "TUNNEL_DOWN": "Tunnel Down",
                  "UPLINK_DOWN": "Uplink Down"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Out of service types"
              },
              "poe": {
                "description": "Config PoE on the port, PoE is a technology for wired Ethernet LANs to carry electric power required for the device in the data cables.",
                "properties": {
                  "enabled": {
                    "description": "Enable or disable PoE in the ethernet interface.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "port-bond": {
                "default": "false",
                "description": "Bond this Ethernet port into virtual port bond0 as uplink.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "port-type": {
                "description": "Port works in WAN or LAN.",
                "enum": [
                  "WAN",
                  "LAN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LAN": "Port type LAN.",
                  "WAN": "Port type WAN."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "For microbranch AP, port type WAN means uplink, port type LAN means downlink"
              },
              "profile-name": {
                "description": "Port profile name.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "speed": {
                "default": "SPEED_AUTO",
                "description": "Ethernet speed.",
                "enum": [
                  "SPEED_10MB",
                  "SPEED_100MB",
                  "SPEED_1GB",
                  "SPEED_2_5GB",
                  "SPEED_5GB",
                  "SPEED_10GB",
                  "SPEED_40GB",
                  "SPEED_100GB",
                  "SPEED_1000GB",
                  "SPEED_AUTO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "SPEED_1000GB": "1000 Gb/sec Ethernet.",
                  "SPEED_100GB": "100 Gb/sec Ethernet.",
                  "SPEED_100MB": "100 Mb/sec Ethernet.",
                  "SPEED_10GB": "10 Gb/sec Ethernet.",
                  "SPEED_10MB": "10 Mb/sec Ethernet.",
                  "SPEED_1GB": "1 Gb/sec Ethernet.",
                  "SPEED_2_5GB": "2.5 Gb/sec Ethernet.",
                  "SPEED_40GB": "40 Gb/sec Ethernet.",
                  "SPEED_5GB": "5 Gb/sec Ethernet.",
                  "SPEED_AUTO": "Auto negotiation Ethernet."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Speed Type."
              },
              "stp": {
                "description": "Config Spanning Tree Protocol (STP) on the port, Spanning Tree Protocol (STP) is a network protocol used to prevent loops in Ethernet networks.",
                "properties": {
                  "enable": {
                    "default": "false",
                    "description": "Enable STP on the port",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "trusted": {
                "default": "false",
                "description": "Mark as a trusted interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        ]
      },
      "ArubaApPortProfile_PortPorfileSecurityConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_MacAuthConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaApPortProfile_WiredDot1xAuthConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_CaptivePortalConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_SecurityCommonConfig"
          }
        ],
        "description": "AP security config for port profile."
      },
      "ArubaApPortProfile_PortPorfileSecurityConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_MacAuthConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaApPortProfile_WiredDot1xAuthConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_CaptivePortalConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_SecurityCommonConfigGet"
          }
        ],
        "description": "AP security config for port profile."
      },
      "ArubaApPortProfile_WiredDot1xAuthConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_Dot1xAuthConfig"
          }
        ],
        "description": "802.1X authentication configurations.",
        "properties": {
          "dot1x": {
            "default": "false",
            "description": "Enable 802.1X authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaApPortProfile_WiredDot1xAuthConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaWlanSecurity_Dot1xAuthConfigGet"
          }
        ],
        "description": "802.1X authentication configurations.",
        "properties": {
          "dot1x": {
            "default": "false",
            "description": "Enable 802.1X authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaApPortProfile_WiredPortVlanConfig": {
        "description": "Config VLAN parameters on an port, such like trunk or access, native VLAN ID, allowed VLANs.",
        "properties": {
          "switchport": {
            "description": "Config VLAN parameters on an port, such like trunk or access, native VLAN ID, allowed VLANs.",
            "properties": {
              "access-vlan": {
                "description": "Assign the access VLAN to the access port.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "allowed-vlan-name": {
                "description": "Named-VLAN to map to this port.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-named-vlan:named-vlan/ac-named-vlan:profile/ac-named-vlan:name",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "allowed-vlan-selector": {
                "description": "Method to specify the VLAN(s) for this port:\nIf it is 'VLAN_RANGES', it can be a combination of\nlist of VLAN-ID-ranges and list of VLAN-IDs\nExample: 61-65,67,69,71-75.",
                "enum": [
                  "NAMED_VLAN",
                  "VLAN_RANGES"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NAMED_VLAN": "Configure the VLAN(s) using a named-VLAN",
                  "VLAN_RANGES": "Configure the VLAN(s) as a list of VLAN ranges"
                },
                "x-typeDescription": "VLAN ID configuration Types."
              },
              "interface-mode": {
                "description": "Interface access or trunk mode for VLANs.",
                "enum": [
                  "ACCESS",
                  "TRUNK"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ACCESS": "Access mode VLAN interface (No 802.1q header)",
                  "TRUNK": "Trunk mode VLAN interface"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "VLAN interface mode (trunk or access)"
              },
              "native-vlan": {
                "description": "Native VLAN id for untagged frames arriving on\na trunk interface.  Tagged frames sent on an interface\nconfigured with a native VLAN should have their tags\nstripped prior to transmission. This configuration is only\nvalid on a trunk interface.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "trunk-vlan-all": {
                "default": "false",
                "description": "Allow all vlans for trunk mode interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "trunk-vlan-ranges": {
                "description": "List of VLANs or VLAN ranges to map to this port.",
                "items": {
                  "description": "List of VLANs or VLAN ranges to map to this port.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "vlan-range",
                  "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            }
          }
        }
      },
      "ArubaApPortProfile_WiredPortVlanConfigGet": {
        "description": "Config VLAN parameters on an port, such like trunk or access, native VLAN ID, allowed VLANs.",
        "properties": {
          "switchport": {
            "description": "Config VLAN parameters on an port, such like trunk or access, native VLAN ID, allowed VLANs.",
            "properties": {
              "access-vlan": {
                "description": "Assign the access VLAN to the access port.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "allowed-vlan-name": {
                "description": "Named-VLAN to map to this port.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-named-vlan:named-vlan/ac-named-vlan:profile/ac-named-vlan:name",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "allowed-vlan-selector": {
                "description": "Method to specify the VLAN(s) for this port:\nIf it is 'VLAN_RANGES', it can be a combination of\nlist of VLAN-ID-ranges and list of VLAN-IDs\nExample: 61-65,67,69,71-75.",
                "enum": [
                  "NAMED_VLAN",
                  "VLAN_RANGES"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NAMED_VLAN": "Configure the VLAN(s) using a named-VLAN",
                  "VLAN_RANGES": "Configure the VLAN(s) as a list of VLAN ranges"
                },
                "x-typeDescription": "VLAN ID configuration Types."
              },
              "interface-mode": {
                "description": "Interface access or trunk mode for VLANs.",
                "enum": [
                  "ACCESS",
                  "TRUNK"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ACCESS": "Access mode VLAN interface (No 802.1q header)",
                  "TRUNK": "Trunk mode VLAN interface"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "VLAN interface mode (trunk or access)"
              },
              "native-vlan": {
                "description": "Native VLAN id for untagged frames arriving on\na trunk interface.  Tagged frames sent on an interface\nconfigured with a native VLAN should have their tags\nstripped prior to transmission. This configuration is only\nvalid on a trunk interface.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "trunk-vlan-all": {
                "default": "false",
                "description": "Allow all vlans for trunk mode interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "trunk-vlan-ranges": {
                "description": "List of VLANs or VLAN ranges to map to this port.",
                "items": {
                  "description": "List of VLANs or VLAN ranges to map to this port.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "vlan-range",
                  "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            }
          }
        }
      },
      "ArubaAuthServer_CalledStationIdConfig": {
        "description": "Called Station ID configuration grouping.",
        "properties": {
          "called-station-id": {
            "description": "Configure this parameter to be sent with the RADIUS attribute Called Station ID for authentication and accounting requests. For AP, this API is applicable for\nWLAN profile and AP port profile. For GW, this API is applicable for the authentication server profile. This feature is applicable for AP and GW.",
            "properties": {
              "include-ssid": {
                "default": "false",
                "description": "Include SSID in called-station-id attribute.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "include-ssid-delimiter": {
                "description": "The delimiter between mac address and SSID. For example, the delimiter is dash. The called-station-id like aa:bb:cc:dd:ee:ff-wlanssid.",
                "format": "const",
                "maxLength": 9999,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "mac-address-delimiter": {
                "default": "NONE",
                "description": "By default, called-station-id is AP MAC Address string and no delimiter, when configure mac-address-delimiter, AP MAC Address will be added delimiter in authentication packet.",
                "enum": [
                  "NONE",
                  "COLON",
                  "DASH",
                  "OUI_NIC",
                  "PERCENT",
                  "COMMA",
                  "SLASH"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "COLON": " XX:XX:XX:XX:XX:XX",
                  "COMMA": "XX,XX,XX,XX,XX,XX",
                  "DASH": "XX-XX-XX-XX-XX-XX",
                  "NONE": "XXXXXXXXXXXX",
                  "OUI_NIC": "XXXXXX-XXXXXX",
                  "PERCENT": "XX%XX%XX%XX%XX%XX",
                  "SLASH": "XX/XX/XX/XX/XX/XX"
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "MAC address format."
              },
              "type": {
                "description": " Configure the called-station-id types.\nFor AP, The type includes AP group, AP MAC address, AP name, AP IP or user vlan. The default value is AP MAC address.",
                "enum": [
                  "MAC_ADDRESS",
                  "VLAN",
                  "IP_ADDRESS",
                  "AP_GROUP",
                  "AP_NAME",
                  "AP_MAC_ADDRESS"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AP_GROUP": "AP Group.",
                  "AP_MAC_ADDRESS": "AP MAC address for gateway.",
                  "AP_NAME": "AP Name.",
                  "IP_ADDRESS": "IP address.",
                  "MAC_ADDRESS": "MAC Address.",
                  "VLAN": "VLAN ID."
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "Called Station ID type."
              },
              "upper-case": {
                "default": "false",
                "description": "By default, called-station-id is AP MAC Address string, when enabled upper-case, AP MAC Address will be changed to upper case in authentication packet.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          }
        }
      },
      "ArubaAuthServer_CalledStationIdConfigGet": {
        "description": "Called Station ID configuration grouping.",
        "properties": {
          "called-station-id": {
            "description": "Configure this parameter to be sent with the RADIUS attribute Called Station ID for authentication and accounting requests. For AP, this API is applicable for\nWLAN profile and AP port profile. For GW, this API is applicable for the authentication server profile. This feature is applicable for AP and GW.",
            "properties": {
              "include-ssid": {
                "default": "false",
                "description": "Include SSID in called-station-id attribute.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "include-ssid-delimiter": {
                "description": "The delimiter between mac address and SSID. For example, the delimiter is dash. The called-station-id like aa:bb:cc:dd:ee:ff-wlanssid.",
                "format": "const",
                "maxLength": 9999,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "mac-address-delimiter": {
                "default": "NONE",
                "description": "By default, called-station-id is AP MAC Address string and no delimiter, when configure mac-address-delimiter, AP MAC Address will be added delimiter in authentication packet.",
                "enum": [
                  "NONE",
                  "COLON",
                  "DASH",
                  "OUI_NIC",
                  "PERCENT",
                  "COMMA",
                  "SLASH"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "COLON": " XX:XX:XX:XX:XX:XX",
                  "COMMA": "XX,XX,XX,XX,XX,XX",
                  "DASH": "XX-XX-XX-XX-XX-XX",
                  "NONE": "XXXXXXXXXXXX",
                  "OUI_NIC": "XXXXXX-XXXXXX",
                  "PERCENT": "XX%XX%XX%XX%XX%XX",
                  "SLASH": "XX/XX/XX/XX/XX/XX"
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "MAC address format."
              },
              "type": {
                "description": " Configure the called-station-id types.\nFor AP, The type includes AP group, AP MAC address, AP name, AP IP or user vlan. The default value is AP MAC address.",
                "enum": [
                  "MAC_ADDRESS",
                  "VLAN",
                  "IP_ADDRESS",
                  "AP_GROUP",
                  "AP_NAME",
                  "AP_MAC_ADDRESS"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AP_GROUP": "AP Group.",
                  "AP_MAC_ADDRESS": "AP MAC address for gateway.",
                  "AP_NAME": "AP Name.",
                  "IP_ADDRESS": "IP address.",
                  "MAC_ADDRESS": "MAC Address.",
                  "VLAN": "VLAN ID."
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "Called Station ID type."
              },
              "upper-case": {
                "default": "false",
                "description": "By default, called-station-id is AP MAC Address string, when enabled upper-case, AP MAC Address will be changed to upper case in authentication packet.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDynamicAssignment_AssignmentRulesConfig": {
        "description": "Assignment Rules grouping.",
        "properties": {
          "assignment-rules": {
            "description": "Assign the client a user role, VLAN ID or VLAN name based on attributes. For GW and AP, the attributes is returned for the client by the authentication server and this API is applicable for\nauth server group. For AP, this API is also applicable WLAN profile and if this API works in WLAN profile, the attributes can be returned for the client by the authentication server or other\nattributes such as mac-address, dhcp-option, AP-Name, etc. Rules are ordered: the first rule that matches the configured condition is applied. VLAN IDs and VLAN names cannot be listed together.\nThis feature is only applicable for AP and GW.",
            "properties": {
              "assignment-rule": {
                "description": "Configure the assignment rule parameters.",
                "items": {
                  "properties": {
                    "assign-action": {
                      "description": "Assignmant action.",
                      "enum": [
                        "ASSIGN_ROLE",
                        "ASSIGN_VLAN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ASSIGN_ROLE": "Assign Role.",
                        "ASSIGN_VLAN": "Assign VLAN."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Assignment action."
                    },
                    "attribute": {
                      "description": "Attribute returned by the authentication server.\nFor AP, it also includes some custom attributes like mac-address, dhcp-option and fw_mode.",
                      "enum": [
                        "CUSTOM_ATTRIBUTE_TYPE",
                        "ARAP_FEATURES",
                        "ARAP_PASSWORD",
                        "ARAP_SECURITY",
                        "ARAP_SECURITY_DATA",
                        "ARAP_ZONE_ACCESS",
                        "AP_GROUP",
                        "AP_NAME",
                        "ACCT_AUTHENTIC",
                        "ACCT_DELAY_TIME",
                        "ACCT_INPUT_GIGAWORDS",
                        "ACCT_INPUT_OCTETS",
                        "ACCT_INPUT_PACKETS",
                        "ACCT_INTERIM_INTERVAL",
                        "ACCT_LINK_COUNT",
                        "ACCT_MULTI_SESSION_ID",
                        "ACCT_OUTPUT_GIGAWORDS",
                        "ACCT_OUTPUT_OCTETS",
                        "ACCT_OUTPUT_PACKETS",
                        "ACCT_SESSION_ID",
                        "ACCT_SESSION_TIME",
                        "ACCT_STATUS_TYPE",
                        "ACCT_TERMINATE_CAUSE",
                        "ACCT_TUNNEL_PACKETS_LOST",
                        "ADD_PORT_TO_IP_ADDRESS",
                        "ARUBA_AP_GROUP",
                        "ARUBA_AP_IP_ADDRESS",
                        "ARUBA_AS_CREDENTIAL_HASH",
                        "ARUBA_AS_USER_NAME",
                        "ARUBA_ADMIN_ROLE",
                        "ARUBA_ADMIN_PATH",
                        "ARUBA_AIRGROUP_DEVICE_TYPE",
                        "ARUBA_AIRGROUP_SHARED_ROLE",
                        "ARUBA_AIRGROUP_SHARED_USER",
                        "ARUBA_AIRGROUP_SHARED_GROUP",
                        "ARUBA_AIRGROUP_USER_NAME",
                        "ARUBA_AIRGROUP_VERSION",
                        "ARUBA_AUTH_SURVMETHOD",
                        "ARUBA_AUTH_SURVIVABILITY",
                        "ARUBA_CPPM_ROLE",
                        "ARUBA_DEVICE_TYPE",
                        "ARUBA_ESSID_NAME",
                        "ARUBA_FRAMED_IPV6_ADDRESS",
                        "ARUBA_LOCATION_ID",
                        "ARUBA_CALEA_SERVER_IP",
                        "ARUBA_MDPS_DEVICE_ICCID",
                        "ARUBA_MDPS_DEVICE_IMEI",
                        "ARUBA_MDPS_DEVICE_NAME",
                        "ARUBA_MDPS_DEVICE_PRODUCT",
                        "ARUBA_MDPS_DEVICE_SERIAL",
                        "ARUBA_MDPS_DEVICE_UDID",
                        "ARUBA_MDPS_DEVICE_VERSION",
                        "ARUBA_MDPS_DEVICE_PROFILE",
                        "ARUBA_MDPS_PROVISIONING_SETTINGS",
                        "ARUBA_MDPS_MAX_DEVICES",
                        "ARUBA_NAMED_USER_VLAN",
                        "ARUBA_NO_DHCP_FINGERPRINT",
                        "ARUBA_NETWORK_SSO_TOKEN",
                        "ARUBA_PORT_ID",
                        "ARUBA_PORT_BOUNCE_HOST",
                        "ARUBA_PRIV_ADMIN_USER",
                        "ARUBA_TEMPLATE_USER",
                        "ARUBA_USER_ROLE",
                        "ARUBA_USER_VLAN",
                        "ARUBA_USER_GROUP",
                        "ARUBA_WORKSPACE_APP_NAME",
                        "AUTHENTICATION_SUB_TYPE",
                        "AUTHENTICATION_TYPE",
                        "CHAP_CHALLENGE",
                        "CHAP_PASSWORD",
                        "CALLBACK_ID",
                        "CALLBACK_NUMBER",
                        "CALLED_STATION_ID",
                        "CALLING_STATION_ID",
                        "CLASS",
                        "MAC_ADDRESS",
                        "CONNECT_INFO",
                        "CONNECT_RATE",
                        "CRYPT_PASSWORD",
                        "CHARGEABLE_USER_IDENTITY",
                        "CISCO_AV_PAIR",
                        "DHCP_OPTION",
                        "DIGEST_RESPONSE",
                        "DOMAIN_NAME",
                        "EAP_MESSAGE",
                        "ERROR_CAUSE",
                        "EVENT_TIMESTAMP",
                        "EXEC_PROGRAM",
                        "EXEC_PROGRAM_WAIT",
                        "EXPIRATION",
                        "FILTER_ID",
                        "FRAMED_APPLETALK_LINK",
                        "FRAMED_APPLETALK_NETWORK",
                        "FRAMED_APPLETALK_ZONE",
                        "FRAMED_COMPRESSION",
                        "FORWARDING_MODE",
                        "FRAMED_IP_ADDRESS",
                        "FRAMED_IP_NETMASK",
                        "FRAMED_IPX_NETWORK",
                        "FRAMED_IPV6_POOL",
                        "FRAMED_IPV6_PREFIX",
                        "FRAMED_IPV6_ROUTE",
                        "FRAMED_IPV6_ADDRESS",
                        "FRAMED_INTERFACE_ID",
                        "FRAMED_MTU",
                        "FRAMED_PROTOCOL",
                        "FRAMED_ROUTE",
                        "FRAMED_ROUTING",
                        "FULL_NAME",
                        "GROUP",
                        "GROUP_NAME",
                        "HINT",
                        "HUNTGROUP_NAME",
                        "IDLE_TIMEOUT",
                        "LOGIN_IP_HOST",
                        "LOGIN_IPV6_HOST",
                        "LOGIN_LAT_NODE",
                        "LOGIN_LAT_PORT",
                        "LOGIN_LAT_SERVICE",
                        "LOGIN_SERVICE",
                        "LOCATION_CAPABLE",
                        "LOGIN_TCP_PORT",
                        "LOCATION_DATA",
                        "LOCATION_INFORMATION",
                        "MS_BAP_USAGE",
                        "MS_CHAP_CPW_1",
                        "MS_CHAP_CPW_2",
                        "MS_CHAP_CHALLENGE",
                        "MS_CHAP_DOMAIN",
                        "MS_CHAP_ERROR",
                        "MS_CHAP_LM_ENC_PW",
                        "MS_CHAP_MPPE_KEYS",
                        "MS_CHAP_NT_ENC_PW",
                        "MS_CHAP_RESPONSE",
                        "MS_CHAP2_CPW",
                        "MS_CHAP2_RESPONSE",
                        "MS_CHAP2_SUCCESS",
                        "MS_FILTER",
                        "MS_LINK_DROP_TIME_LIMIT",
                        "MS_LINK_UTILIZATION_THRESHOLD",
                        "MS_MPPE_ENCRYPTION_POLICY",
                        "MS_MPPE_ENCRYPTION_TYPES",
                        "MS_MPPE_RECV_KEY",
                        "MS_MPPE_SEND_KEY",
                        "MS_RAS_VENDOR",
                        "MS_RAS_VERSION",
                        "MENU",
                        "MESSAGE_AUTH",
                        "NAS-IP-Address",
                        "NAS_IPV6_ADDRESS",
                        "NAS_IDENTIFIER",
                        "NAS_PORT_ID",
                        "NAS_PORT_TYPE",
                        "NOMADIX_GROUP_BW_POLICY_ID",
                        "NOMADIX_GROUP_MAX_DOWN",
                        "NOMADIX_GROUP_MAX_UP",
                        "OPERATOR_NAME",
                        "PASSWORD",
                        "PASSWORD_RETRY",
                        "PORT_LIMIT",
                        "PREFIX",
                        "PROMPT",
                        "PROXY_STATE",
                        "RAD_AUTHENTICATOR",
                        "RAD_CODE",
                        "RAD_ID",
                        "RAD_LENGTH",
                        "RTTS_BACKOFF_TIME",
                        "RTTS_EARLYLIFT_THRESHOLD",
                        "RTTS_ESTIMATED_THROUGHPUT",
                        "RTTS_REEST_BELOW_THROUGHPUT",
                        "RTTS_REEST_KEEPALIVE_NUM",
                        "RTTS_REESTIMATION_PERIOD",
                        "RTTS_RESULT",
                        "REPLY_MESSAGE",
                        "REQUESTED_LOCATION_INFO",
                        "SERVICE_TYPE",
                        "SESSION_TIMEOUT",
                        "SIMULTANEOUS_USE",
                        "STATE",
                        "STRIP_USER_NAME",
                        "SUFFIX",
                        "TERMINATION_ACTION",
                        "TERMINATION_MENU",
                        "TUNNEL_ASSIGNMENT_ID",
                        "TUNNEL_CLIENT_AUTH_ID",
                        "TUNNEL_CLIENT_ENDPOINT",
                        "TUNNEL_CONNECTION_ID",
                        "TUNNEL_MEDIUM_TYPE",
                        "TUNNEL_PASSWORD",
                        "TUNNEL_PREFERENCE",
                        "TUNNEL_PRIVATE_GROUP_ID",
                        "TUNNEL_SERVER_AUTH_ID",
                        "TUNNEL_SERVER_ENDPOINT",
                        "TUNNEL_TYPE",
                        "USER_CATEGORY",
                        "USER_NAME",
                        "USER_VLAN",
                        "VENDOR_SPECIFIC",
                        "WISPR_BANDWIDTH_MAX_DOWN",
                        "WISPR_BANDWIDTH_MAX_UP",
                        "WISPR_BANDWIDTH_MIN_DOWN",
                        "WISPR_BANDWIDTH_MIN_UP",
                        "WISPR_BILLING_CLASS_OF_SERVICE",
                        "WISPR_LOCATION_ID",
                        "WISPR_LOCATION_NAME",
                        "WISPR_LOGOFF_URL",
                        "WISPR_REDIRECTION_URL",
                        "WISPR_SESSION_TERM_END_OF_DAY",
                        "WISPR_SESSION_TERM_TIME"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACCT_AUTHENTIC": "Acct-Authentic.",
                        "ACCT_DELAY_TIME": "Acct-Delay-Time.",
                        "ACCT_INPUT_GIGAWORDS": "Acct-Input-Gigawords.",
                        "ACCT_INPUT_OCTETS": "Acct-Input-Octets.",
                        "ACCT_INPUT_PACKETS": "Acct-Input-Packets.",
                        "ACCT_INTERIM_INTERVAL": "Acct-Interim-Interval.",
                        "ACCT_LINK_COUNT": "Acct-Link-Count.",
                        "ACCT_MULTI_SESSION_ID": "Acct-Multi-Session-Id.",
                        "ACCT_OUTPUT_GIGAWORDS": "Acct-Output-Gigawords.",
                        "ACCT_OUTPUT_OCTETS": "Acct-Output-Octets.",
                        "ACCT_OUTPUT_PACKETS": "Acct-Output-Packets.",
                        "ACCT_SESSION_ID": "Acct-Session-Id.",
                        "ACCT_SESSION_TIME": "Acct-Session-Time.",
                        "ACCT_STATUS_TYPE": "Acct-Status-Type.",
                        "ACCT_TERMINATE_CAUSE": "Acct-Terminate-Cause.",
                        "ACCT_TUNNEL_PACKETS_LOST": "Acct-Tunnel-Packets-Lost.",
                        "ADD_PORT_TO_IP_ADDRESS": "Add-Port-To-IP-Address.",
                        "AP_GROUP": "Access point-Group.",
                        "AP_NAME": "Access point-Name.",
                        "ARAP_FEATURES": "ARAP Features",
                        "ARAP_PASSWORD": "ARAP Password",
                        "ARAP_SECURITY": "ARAP Security",
                        "ARAP_SECURITY_DATA": "ARAP Security Data",
                        "ARAP_ZONE_ACCESS": "ARAP Zone Access",
                        "ARUBA_ADMIN_PATH": "Aruba-Admin-Path.",
                        "ARUBA_ADMIN_ROLE": "Aruba-Admin-Role.",
                        "ARUBA_AIRGROUP_DEVICE_TYPE": "Aruba-AirGroup-Device-Type.",
                        "ARUBA_AIRGROUP_SHARED_GROUP": "Aruba-AirGroup-Shared-Group.",
                        "ARUBA_AIRGROUP_SHARED_ROLE": "Aruba-AirGroup-Shared-Role.",
                        "ARUBA_AIRGROUP_SHARED_USER": "Aruba-AirGroup-Shared-User.",
                        "ARUBA_AIRGROUP_USER_NAME": "Aruba-AirGroup-User-Name.",
                        "ARUBA_AIRGROUP_VERSION": "Aruba-AirGroup-Version.",
                        "ARUBA_AP_GROUP": "Aruba-Access point-Group.",
                        "ARUBA_AP_IP_ADDRESS": "Aruba-Access point-IP-Address.",
                        "ARUBA_AS_CREDENTIAL_HASH": "Aruba-AS-Credential-Hash.",
                        "ARUBA_AS_USER_NAME": "Aruba-AS-User-Name.",
                        "ARUBA_AUTH_SURVIVABILITY": "Aruba-Auth-Survivability.",
                        "ARUBA_AUTH_SURVMETHOD": "Aruba-Auth-SurvMethod.",
                        "ARUBA_CALEA_SERVER_IP": "Aruba-Calea-Server-Ip.",
                        "ARUBA_CPPM_ROLE": "Aruba-CPPM-Role.",
                        "ARUBA_DEVICE_TYPE": "Aruba-Device-Type.",
                        "ARUBA_ESSID_NAME": "Aruba-Essid-Name.",
                        "ARUBA_FRAMED_IPV6_ADDRESS": "Aruba-Framed-IPv6-Address.",
                        "ARUBA_LOCATION_ID": "Aruba-Location-Id.",
                        "ARUBA_MDPS_DEVICE_ICCID": "Aruba-Mdps-Device-Iccid.",
                        "ARUBA_MDPS_DEVICE_IMEI": "Aruba-Mdps-Device-Imei.",
                        "ARUBA_MDPS_DEVICE_NAME": "Aruba-Mdps-Device-Name.",
                        "ARUBA_MDPS_DEVICE_PRODUCT": "Aruba-Mdps-Device-Product.",
                        "ARUBA_MDPS_DEVICE_PROFILE": "Aruba-Mdps-Device-Profile.",
                        "ARUBA_MDPS_DEVICE_SERIAL": "Aruba-Mdps-Device-Serial.",
                        "ARUBA_MDPS_DEVICE_UDID": "Aruba-Mdps-Device-Udid.",
                        "ARUBA_MDPS_DEVICE_VERSION": "Aruba-Mdps-Device-Version.",
                        "ARUBA_MDPS_MAX_DEVICES": "Aruba-Mdps-Max-Devices.",
                        "ARUBA_MDPS_PROVISIONING_SETTINGS": "Aruba-Mdps-Provisioning-Settings.",
                        "ARUBA_NAMED_USER_VLAN": "Aruba-Named-User-Vlan.",
                        "ARUBA_NETWORK_SSO_TOKEN": "Aruba-Network-SSO-Token.",
                        "ARUBA_NO_DHCP_FINGERPRINT": "Aruba-No-DHCP-Fingerprint.",
                        "ARUBA_PORT_BOUNCE_HOST": "Aruba-Port-Bounce-Host.",
                        "ARUBA_PORT_ID": "Aruba-Port-Id.",
                        "ARUBA_PRIV_ADMIN_USER": "Aruba-Priv-Admin-User.",
                        "ARUBA_TEMPLATE_USER": "Aruba-Template-User.",
                        "ARUBA_USER_GROUP": "Aruba-User-Group.",
                        "ARUBA_USER_ROLE": "Aruba-User-Role.",
                        "ARUBA_USER_VLAN": "Aruba-User-Vlan.",
                        "ARUBA_WORKSPACE_APP_NAME": "Aruba-WorkSpace-App-Name.",
                        "AUTHENTICATION_SUB_TYPE": "Authentication-Sub-Type.",
                        "AUTHENTICATION_TYPE": "Authentication-Type.",
                        "CALLBACK_ID": "Callback-Id.",
                        "CALLBACK_NUMBER": "Callback-Number.",
                        "CALLED_STATION_ID": "Called-Station-Id",
                        "CALLING_STATION_ID": "Calling-Station-Id",
                        "CHAP_CHALLENGE": "CHAP-Challenge.",
                        "CHAP_PASSWORD": "CHAP-Password.",
                        "CHARGEABLE_USER_IDENTITY": "Chargeable-User-Identity.",
                        "CISCO_AV_PAIR": "Cisco AV-Pair.",
                        "CLASS": "Class.",
                        "CONNECT_INFO": "Connect-Info.",
                        "CONNECT_RATE": "Connect-Rate.",
                        "CRYPT_PASSWORD": "Crypt-Password.",
                        "CUSTOM_ATTRIBUTE_TYPE": "GW String type arrtibute",
                        "DHCP_OPTION": "dhcp-option.",
                        "DIGEST_RESPONSE": "Digest-Response.",
                        "DOMAIN_NAME": "Domain-Name.",
                        "EAP_MESSAGE": "EAP-Message.",
                        "ERROR_CAUSE": "Error-Cause.",
                        "EVENT_TIMESTAMP": "Event-Timestamp.",
                        "EXEC_PROGRAM": "Exec-Program.",
                        "EXEC_PROGRAM_WAIT": "Exec-Program-Wait.",
                        "EXPIRATION": "Expiration.",
                        "FILTER_ID": "Filter-Id.",
                        "FORWARDING_MODE": "Forwarding-Mode.",
                        "FRAMED_APPLETALK_LINK": "Framed-AppleTalk-Link",
                        "FRAMED_APPLETALK_NETWORK": "Framed-AppleTalk-Network",
                        "FRAMED_APPLETALK_ZONE": "Framed-AppleTalk-Zone",
                        "FRAMED_COMPRESSION": "Framed-Compression",
                        "FRAMED_INTERFACE_ID": "Framed-Interface-Id.",
                        "FRAMED_IPV6_ADDRESS": "Framed-IPv6-address.",
                        "FRAMED_IPV6_POOL": "Framed-IPv6-Pool.",
                        "FRAMED_IPV6_PREFIX": "Framed-IPv6-Prefix.",
                        "FRAMED_IPV6_ROUTE": "Framed-IPv6-Route.",
                        "FRAMED_IPX_NETWORK": "Framed-IPX-Network.",
                        "FRAMED_IP_ADDRESS": "Framed-IP-Address.",
                        "FRAMED_IP_NETMASK": "Framed-IP-Netmask.",
                        "FRAMED_MTU": "Framed-MTU.",
                        "FRAMED_PROTOCOL": "Framed-Protocol.",
                        "FRAMED_ROUTE": "Framed-Route.",
                        "FRAMED_ROUTING": "Framed-Routing.",
                        "FULL_NAME": "Full-Name.",
                        "GROUP": "Group.",
                        "GROUP_NAME": "Group-Name.",
                        "HINT": "Hint.",
                        "HUNTGROUP_NAME": "Huntgroup-Name.",
                        "IDLE_TIMEOUT": "Idle-Timeout.",
                        "LOCATION_CAPABLE": "Location-Capable.",
                        "LOCATION_DATA": "Location-Data.",
                        "LOCATION_INFORMATION": "Location-Information.",
                        "LOGIN_IPV6_HOST": "Login-IPv6-Host.",
                        "LOGIN_IP_HOST": "Login-IP-Host.",
                        "LOGIN_LAT_NODE": "Login-LAT-Node.",
                        "LOGIN_LAT_PORT": "Login-LAT-Port.",
                        "LOGIN_LAT_SERVICE": "Login-LAT-Service.",
                        "LOGIN_SERVICE": "Login-Service.",
                        "LOGIN_TCP_PORT": "Login-TCP-Port.",
                        "MAC_ADDRESS": "Client MAC Address.",
                        "MENU": "Menu.",
                        "MESSAGE_AUTH": "Message-Auth.",
                        "MS_BAP_USAGE": "MS-BAP-Usage.",
                        "MS_CHAP2_CPW": "MS-CHAP2-CPW.",
                        "MS_CHAP2_RESPONSE": "MS-CHAP2-Response.",
                        "MS_CHAP2_SUCCESS": "MS-CHAP2-Success.",
                        "MS_CHAP_CHALLENGE": "MS-CHAP-Challenge.",
                        "MS_CHAP_CPW_1": "MS-CHAP-CPW-1.",
                        "MS_CHAP_CPW_2": "MS-CHAP-CPW-2.",
                        "MS_CHAP_DOMAIN": "MS-CHAP-Domain.",
                        "MS_CHAP_ERROR": "MS-CHAP-Error.",
                        "MS_CHAP_LM_ENC_PW": "MS-CHAP-LM-Enc-PW.",
                        "MS_CHAP_MPPE_KEYS": "MS-CHAP-MPPE-Keys.",
                        "MS_CHAP_NT_ENC_PW": "MS-CHAP-NT-Enc-PW.",
                        "MS_CHAP_RESPONSE": "MS-CHAP-Response.",
                        "MS_FILTER": "MS-Filter.",
                        "MS_LINK_DROP_TIME_LIMIT": "MS-Link-Drop-Time-Limit.",
                        "MS_LINK_UTILIZATION_THRESHOLD": "MS-Link-Utilization-Threshold.",
                        "MS_MPPE_ENCRYPTION_POLICY": "MS-MPPE-Encryption-Policy.",
                        "MS_MPPE_ENCRYPTION_TYPES": "MS-MPPE-Encryption-Types.",
                        "MS_MPPE_RECV_KEY": "MS-MPPE-Recv-Key.",
                        "MS_MPPE_SEND_KEY": "MS-MPPE-Send-Key.",
                        "MS_RAS_VENDOR": "MS-RAS-Vendor.",
                        "MS_RAS_VERSION": "MS-RAS-Version.",
                        "NAS-IP-Address": "NAS-IP-Address.",
                        "NAS_IDENTIFIER": "NAS-Identifier.",
                        "NAS_IPV6_ADDRESS": "NAS-IPv6-Address.",
                        "NAS_PORT_ID": "NAS-Port-Id.",
                        "NAS_PORT_TYPE": "NAS-Port-Type.",
                        "NOMADIX_GROUP_BW_POLICY_ID": "Nomadix-Group-Bw-Policy-ID.",
[...]
