{
  "openapi": "3.1.0",
  "info": {
    "title": "Ap Uplink",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Ap Uplink"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ap-uplinks": {
      "get": {
        "description": "AP uplink profile, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "operationId": "readApUplinks",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaApUplink_ApUplinksSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing uplink parameters",
        "tags": [
          "Ap Uplink"
        ],
        "x-cliParam": {
          "commandName": "readApUplinksCmd",
          "commandUse": "ap-uplinks",
          "parentCommand": "readCmd",
          "pathToPrint": "/ap-uplinks/",
          "summary": "Read operation for ap-uplinks"
        }
      }
    },
    "/network-config/v1alpha1/ap-uplinks/{name}": {
      "get": {
        "description": "List of uplink profiles, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "operationId": "readApUplinksProfileByID",
        "parameters": [
          {
            "description": "Uplink profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaApUplink_ApUplinksprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the existing uplink profile",
        "tags": [
          "Ap Uplink"
        ],
        "x-cliParam": {
          "commandName": "readApUplinksProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readApUplinksCmd",
          "pathToPrint": "/ap-uplinks/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of uplink profiles, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "operationId": "replaceApUplinksProfileByID",
        "parameters": [
          {
            "description": "Uplink profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApUplink_ApUplinksprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Ap Uplink"
        ],
        "x-cliParam": {
          "commandName": "replaceApUplinksProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceApUplinksCmd",
          "pathToPrint": "/ap-uplinks/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of uplink profiles, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "operationId": "createApUplinksProfileByID",
        "parameters": [
          {
            "description": "Uplink profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApUplink_ApUplinksprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create an uplink profile",
        "tags": [
          "Ap Uplink"
        ],
        "x-cliParam": {
          "commandName": "createApUplinksProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createApUplinksCmd",
          "pathToPrint": "/ap-uplinks/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of uplink profiles, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "operationId": "deleteApUplinksProfileByID",
        "parameters": [
          {
            "description": "Uplink profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the uplink profile",
        "tags": [
          "Ap Uplink"
        ],
        "x-cliParam": {
          "commandName": "deleteApUplinksProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteApUplinksCmd",
          "pathToPrint": "/ap-uplinks/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of uplink profiles, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "operationId": "updateApUplinksProfileByID",
        "parameters": [
          {
            "description": "Uplink profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApUplink_ApUplinksprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Ap Uplink"
        ],
        "x-cliParam": {
          "commandName": "updateApUplinksProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateApUplinksCmd",
          "pathToPrint": "/ap-uplinks/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaApUplink_ApUplinksSchemaGET": {
        "description": "AP uplink profile, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
        "properties": {
          "profile": {
            "description": "List of uplink profiles, configure the uplink parameters, such like ethernet uplink, cellular uplink, preemption parameters, management VLAN, etc.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaApUplink_PreemptionConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaApUplink_UplinkHealthCheckGet"
                },
                {
                  "properties": {
                    "ap-mode": {
                      "description": "AP campus or microbranch or Instant mode.",
                      "enum": [
                        "CAMPUS",
                        "MICROBRANCH",
                        "INSTANT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CAMPUS": "AP campus mode.",
                        "INSTANT": "Instant AP mode.",
                        "MICROBRANCH": "AP microbranch mode."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "AP mode, campus or microbranch or instant."
                    },
                    "description": {
                      "description": "Uplink profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "ethernet-1": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_ResolverGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkEthernetGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkPppoeConfigGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkDot1xsuppConfigGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_StaticIpv4EnvGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_StaticIpv6EnvGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_MacsecConfigGet"
                        }
                      ],
                      "description": "Uplink Ethernet 1.",
                      "properties": {
                        "default-gateway": {
                          "description": "AP default gateway.",
                          "items": {
                            "description": "AP default gateway.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          "maxItems": 1,
                          "type": "array"
                        },
                        "dns-server": {
                          "description": "List of DNS servers.",
                          "items": {
                            "description": "List of DNS servers.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          "maxItems": 2,
                          "type": "array"
                        },
                        "domain-name": {
                          "description": "Configures domain name.",
                          "format": "pattern",
                          "maxLength": 253,
                          "minLength": 1,
                          "type": "string",
                          "x-patternSources": "domain-name",
                          "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                        },
                        "domain-name-alias": {
                          "description": "Alias for domain name.",
                          "format": "pattern",
                          "maxLength": 256,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                          "x-patternSources": "name",
                          "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                        },
                        "enforce": {
                          "default": "false",
                          "description": "Enforces the specified uplink connection.",
                          "type": "boolean"
                        },
                        "eth0-mode": {
                          "description": "Configures the ethernet port 0 working as uplink or downlink.",
                          "enum": [
                            "UPLINK",
                            "DOWNLINK"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DOWNLINK": "Eth1 is NOT bonded with eth0.",
                            "UPLINK": "Eth1 is bonded with eth0 both working as uplink."
                          },
                          "x-typeDescription": "Configures eth0 working as uplink or downlink."
                        },
                        "eth0-mode-alias": {
                          "description": "Alias for eth0-mode.",
                          "format": "pattern",
                          "maxLength": 256,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                          "x-patternSources": "name",
                          "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                        },
                        "eth1-mode": {
                          "description": "Configures the ethernet port 1 working as uplink bonded with eth0 or not.",
                          "enum": [
                            "BONDED_UPLINK",
                            "NOT_BONDED_UPLINK"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "BONDED_UPLINK": "Eth1 is bonded into bond0 working as uplink.",
                            "NOT_BONDED_UPLINK": "Eth1 is NOT bonded into bond0."
                          },
                          "x-typeDescription": "Configures eth1 bonded with eth0 or not."
                        },
                        "eth1-mode-alias": {
                          "description": "Alias for eth1-mode.",
                          "format": "pattern",
                          "maxLength": 256,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                          "x-patternSources": "name",
                          "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                        },
                        "ipv6-address-auto": {
                          "default": "false",
                          "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "priority": {
                          "description": "Uplink ethernet-1 priority.",
                          "format": "int32",
                          "maximum": 99,
                          "minimum": 0,
                          "type": "integer"
                        },
                        "resolver-alias": {
                          "description": "Aliases for the list of DNS name servers.",
                          "format": "pattern",
                          "maxLength": 256,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                          "x-patternSources": "name",
                          "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                        },
                        "uplink-native-vlan": {
                          "description": "Configure the uplink native VLAN.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        },
                        "uplink-tagged-vlan": {
                          "description": "Allow AP to get the IP address from a tagged VLAN.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        },
                        "uplink_customerized_vlan": {
                          "default": "false",
                          "description": "Configures the ethernet port 0 working as uplink or downlink.",
                          "type": "boolean"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "ethernet-2": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_ResolverGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkEthernetGet"
                        }
                      ],
                      "description": "Uplink Ethernet 2.",
                      "properties": {
                        "default-gateway": {
                          "description": "AP default gateway.",
                          "items": {
                            "description": "AP default gateway.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          "maxItems": 1,
                          "type": "array"
                        },
                        "dns-server": {
                          "description": "List of DNS servers.",
                          "items": {
                            "description": "List of DNS servers.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          "maxItems": 2,
                          "type": "array"
                        },
                        "enforce": {
                          "default": "false",
                          "description": "Enforces the specified uplink connection.",
                          "type": "boolean"
                        },
                        "priority": {
                          "description": "Uplink ethernet-2 priority.",
                          "format": "int32",
                          "maximum": 99,
                          "minimum": 0,
                          "type": "integer"
                        },
                        "resolver-alias": {
                          "description": "Aliases for the list of DNS name servers.",
                          "format": "pattern",
                          "maxLength": 256,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                          "x-patternSources": "name",
                          "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "gateway-detect": {
                      "default": "false",
                      "description": "Re-trigger DHCP once the ARP entry for the APs default gateway is lost",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "lte-modem": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkCellularGet"
                        }
                      ],
                      "description": "Uplink LTE Modem, this feature is used to configure modem parameters\nfor 3G or 4G uplink and only applies to AP, the 3G and 4G modems can be used to extend connectivity to places\nand enables the AP to automatically choose the available network in a specific region.\nThis feature supports configuring both 3rd party modem and aruba modem, but only one modem can be used as the uplink.",
                      "properties": {
                        "enforce": {
                          "default": "false",
                          "description": "Enforces the specified uplink connection.",
                          "type": "boolean"
                        },
                        "priority": {
                          "description": "Uplink cellular priority.",
                          "format": "int32",
                          "maximum": 99,
                          "minimum": 0,
                          "type": "integer"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "name": {
                      "description": "Uplink profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "wifi-uplink": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                        },
                        {
                          "$ref": "#/components/schemas/ArubaApUplink_UplinkWifiGet"
                        }
                      ],
                      "description": "Wifi uplink, this feature is used to configure ARUBA AP as a standard WiFi client to assoc with Aruba ap or third party devices.\nWhen both sides are Aruba AP, Aruba Mesh should be the first choice.",
                      "properties": {
                        "enforce": {
                          "default": "false",
                          "description": "Enforces the specified uplink connection.",
                          "type": "boolean"
                        },
                        "priority": {
                          "description": "Uplink wifi priority.",
                          "format": "int32",
                          "maximum": 99,
                          "minimum": 0,
                          "type": "integer"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Access Point"
        ]
      },
      "ArubaApUplink_ApUplinksprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaApUplink_PreemptionConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaApUplink_UplinkHealthCheck"
          },
          {
            "properties": {
              "ap-mode": {
                "description": "AP campus or microbranch or Instant mode.",
                "enum": [
                  "CAMPUS",
                  "MICROBRANCH",
                  "INSTANT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CAMPUS": "AP campus mode.",
                  "INSTANT": "Instant AP mode.",
                  "MICROBRANCH": "AP microbranch mode."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "AP mode, campus or microbranch or instant."
              },
              "description": {
                "description": "Uplink profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "ethernet-1": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_Resolver"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfig"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkEthernet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkPppoeConfig"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkDot1xsuppConfig"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_StaticIpv4Env"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_StaticIpv6Env"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_MacsecConfig"
                  }
                ],
                "description": "Uplink Ethernet 1.",
                "properties": {
                  "default-gateway": {
                    "description": "AP default gateway.",
                    "items": {
                      "description": "AP default gateway.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 1,
                    "type": "array"
                  },
                  "dns-server": {
                    "description": "List of DNS servers.",
                    "items": {
                      "description": "List of DNS servers.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 2,
                    "type": "array"
                  },
                  "domain-name": {
                    "description": "Configures domain name.",
                    "format": "pattern",
                    "maxLength": 253,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "domain-name",
                    "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ],
                    "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                  },
                  "domain-name-alias": {
                    "description": "Alias for domain name.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "eth0-mode": {
                    "description": "Configures the ethernet port 0 working as uplink or downlink.",
                    "enum": [
                      "UPLINK",
                      "DOWNLINK"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DOWNLINK": "Eth1 is NOT bonded with eth0.",
                      "UPLINK": "Eth1 is bonded with eth0 both working as uplink."
                    },
                    "x-typeDescription": "Configures eth0 working as uplink or downlink."
                  },
                  "eth0-mode-alias": {
                    "description": "Alias for eth0-mode.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "eth1-mode": {
                    "description": "Configures the ethernet port 1 working as uplink bonded with eth0 or not.",
                    "enum": [
                      "BONDED_UPLINK",
                      "NOT_BONDED_UPLINK"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "BONDED_UPLINK": "Eth1 is bonded into bond0 working as uplink.",
                      "NOT_BONDED_UPLINK": "Eth1 is NOT bonded into bond0."
                    },
                    "x-typeDescription": "Configures eth1 bonded with eth0 or not."
                  },
                  "eth1-mode-alias": {
                    "description": "Alias for eth1-mode.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "ipv6-address-auto": {
                    "default": "false",
                    "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "priority": {
                    "description": "Uplink ethernet-1 priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  },
                  "resolver-alias": {
                    "description": "Aliases for the list of DNS name servers.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "uplink-native-vlan": {
                    "description": "Configure the uplink native VLAN.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "uplink-tagged-vlan": {
                    "description": "Allow AP to get the IP address from a tagged VLAN.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "uplink_customerized_vlan": {
                    "default": "false",
                    "description": "Configures the ethernet port 0 working as uplink or downlink.",
                    "type": "boolean"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ethernet-2": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_Resolver"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfig"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkEthernet"
                  }
                ],
                "description": "Uplink Ethernet 2.",
                "properties": {
                  "default-gateway": {
                    "description": "AP default gateway.",
                    "items": {
                      "description": "AP default gateway.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 1,
                    "type": "array"
                  },
                  "dns-server": {
                    "description": "List of DNS servers.",
                    "items": {
                      "description": "List of DNS servers.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 2,
                    "type": "array"
                  },
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "priority": {
                    "description": "Uplink ethernet-2 priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  },
                  "resolver-alias": {
                    "description": "Aliases for the list of DNS name servers.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "gateway-detect": {
                "default": "false",
                "description": "Re-trigger DHCP once the ARP entry for the APs default gateway is lost",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "lte-modem": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfig"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCellular"
                  }
                ],
                "description": "Uplink LTE Modem, this feature is used to configure modem parameters\nfor 3G or 4G uplink and only applies to AP, the 3G and 4G modems can be used to extend connectivity to places\nand enables the AP to automatically choose the available network in a specific region.\nThis feature supports configuring both 3rd party modem and aruba modem, but only one modem can be used as the uplink.",
                "properties": {
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "priority": {
                    "description": "Uplink cellular priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "name": {
                "description": "Uplink profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "wifi-uplink": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfig"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkWifi"
                  }
                ],
                "description": "Wifi uplink, this feature is used to configure ARUBA AP as a standard WiFi client to assoc with Aruba ap or third party devices.\nWhen both sides are Aruba AP, Aruba Mesh should be the first choice.",
                "properties": {
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "priority": {
                    "description": "Uplink wifi priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        ]
      },
      "ArubaApUplink_ApUplinksprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaApUplink_PreemptionConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaApUplink_UplinkHealthCheckGet"
          },
          {
            "properties": {
              "ap-mode": {
                "description": "AP campus or microbranch or Instant mode.",
                "enum": [
                  "CAMPUS",
                  "MICROBRANCH",
                  "INSTANT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CAMPUS": "AP campus mode.",
                  "INSTANT": "Instant AP mode.",
                  "MICROBRANCH": "AP microbranch mode."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "AP mode, campus or microbranch or instant."
              },
              "description": {
                "description": "Uplink profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "ethernet-1": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_ResolverGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkEthernetGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkPppoeConfigGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkDot1xsuppConfigGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_StaticIpv4EnvGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_StaticIpv6EnvGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_MacsecConfigGet"
                  }
                ],
                "description": "Uplink Ethernet 1.",
                "properties": {
                  "default-gateway": {
                    "description": "AP default gateway.",
                    "items": {
                      "description": "AP default gateway.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 1,
                    "type": "array"
                  },
                  "dns-server": {
                    "description": "List of DNS servers.",
                    "items": {
                      "description": "List of DNS servers.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 2,
                    "type": "array"
                  },
                  "domain-name": {
                    "description": "Configures domain name.",
                    "format": "pattern",
                    "maxLength": 253,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "domain-name",
                    "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ],
                    "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                  },
                  "domain-name-alias": {
                    "description": "Alias for domain name.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "eth0-mode": {
                    "description": "Configures the ethernet port 0 working as uplink or downlink.",
                    "enum": [
                      "UPLINK",
                      "DOWNLINK"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DOWNLINK": "Eth1 is NOT bonded with eth0.",
                      "UPLINK": "Eth1 is bonded with eth0 both working as uplink."
                    },
                    "x-typeDescription": "Configures eth0 working as uplink or downlink."
                  },
                  "eth0-mode-alias": {
                    "description": "Alias for eth0-mode.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "eth1-mode": {
                    "description": "Configures the ethernet port 1 working as uplink bonded with eth0 or not.",
                    "enum": [
                      "BONDED_UPLINK",
                      "NOT_BONDED_UPLINK"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "BONDED_UPLINK": "Eth1 is bonded into bond0 working as uplink.",
                      "NOT_BONDED_UPLINK": "Eth1 is NOT bonded into bond0."
                    },
                    "x-typeDescription": "Configures eth1 bonded with eth0 or not."
                  },
                  "eth1-mode-alias": {
                    "description": "Alias for eth1-mode.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "ipv6-address-auto": {
                    "default": "false",
                    "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "priority": {
                    "description": "Uplink ethernet-1 priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  },
                  "resolver-alias": {
                    "description": "Aliases for the list of DNS name servers.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  },
                  "uplink-native-vlan": {
                    "description": "Configure the uplink native VLAN.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "uplink-tagged-vlan": {
                    "description": "Allow AP to get the IP address from a tagged VLAN.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "uplink_customerized_vlan": {
                    "default": "false",
                    "description": "Configures the ethernet port 0 working as uplink or downlink.",
                    "type": "boolean"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ethernet-2": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_ResolverGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkEthernetGet"
                  }
                ],
                "description": "Uplink Ethernet 2.",
                "properties": {
                  "default-gateway": {
                    "description": "AP default gateway.",
                    "items": {
                      "description": "AP default gateway.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 1,
                    "type": "array"
                  },
                  "dns-server": {
                    "description": "List of DNS servers.",
                    "items": {
                      "description": "List of DNS servers.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 2,
                    "type": "array"
                  },
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "priority": {
                    "description": "Uplink ethernet-2 priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  },
                  "resolver-alias": {
                    "description": "Aliases for the list of DNS name servers.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "gateway-detect": {
                "default": "false",
                "description": "Re-trigger DHCP once the ARP entry for the APs default gateway is lost",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "lte-modem": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCellularGet"
                  }
                ],
                "description": "Uplink LTE Modem, this feature is used to configure modem parameters\nfor 3G or 4G uplink and only applies to AP, the 3G and 4G modems can be used to extend connectivity to places\nand enables the AP to automatically choose the available network in a specific region.\nThis feature supports configuring both 3rd party modem and aruba modem, but only one modem can be used as the uplink.",
                "properties": {
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "priority": {
                    "description": "Uplink cellular priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "name": {
                "description": "Uplink profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "wifi-uplink": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkCommonConfigGet"
                  },
                  {
                    "$ref": "#/components/schemas/ArubaApUplink_UplinkWifiGet"
                  }
                ],
                "description": "Wifi uplink, this feature is used to configure ARUBA AP as a standard WiFi client to assoc with Aruba ap or third party devices.\nWhen both sides are Aruba AP, Aruba Mesh should be the first choice.",
                "properties": {
                  "enforce": {
                    "default": "false",
                    "description": "Enforces the specified uplink connection.",
                    "type": "boolean"
                  },
                  "priority": {
                    "description": "Uplink wifi priority.",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        ]
      },
      "ArubaApUplink_CellSimPin": {
        "description": "AP uplink cellular sim pin is a security method to protect the SIM card from unauthorized access,\nthe following operations can be configured for the sim pin:\n1.sim-pin-enable: enable SIM PIN lock\n2.sim-pin-renew: update the current SIM PIN\n3.sim-pin-puk: unlock the SIM PIN using PUK.",
        "properties": {
          "sim-pin-enable": {
            "description": "Enables locking of the SIM PIN, to enable SIM PIN lock, the PIN code should be same as the PIN code that is currently used.",
            "properties": {
              "current": {
                "description": "Current PIN of the modem SIM.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "sim-pin-puk": {
            "description": "Unlocks the SIM PIN using the PUK code provided by the ISP and by entering a new PIN code.",
            "properties": {
              "new": {
                "description": "New PIN code.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string"
              },
              "puk": {
                "description": "Personal Unlock code(PUK) for PIN",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string"
              }
            }
          },
          "sim-pin-renew": {
            "description": "Renews the SIM PIN of the modem, update the current SIM PIN by entering a new SIM PIN.",
            "properties": {
              "current": {
                "description": "Current PIN of the modem SIM.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "new": {
                "description": "New SIM PIN for the modem.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        }
      },
      "ArubaApUplink_CellSimPinGet": {
        "description": "AP uplink cellular sim pin is a security method to protect the SIM card from unauthorized access,\nthe following operations can be configured for the sim pin:\n1.sim-pin-enable: enable SIM PIN lock\n2.sim-pin-renew: update the current SIM PIN\n3.sim-pin-puk: unlock the SIM PIN using PUK.",
        "properties": {
          "sim-pin-enable": {
            "description": "Enables locking of the SIM PIN, to enable SIM PIN lock, the PIN code should be same as the PIN code that is currently used.",
            "properties": {
              "current": {
                "description": "Current PIN of the modem SIM.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "sim-pin-puk": {
            "description": "Unlocks the SIM PIN using the PUK code provided by the ISP and by entering a new PIN code.",
            "properties": {
              "new": {
                "description": "New PIN code.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string"
              },
              "puk": {
                "description": "Personal Unlock code(PUK) for PIN",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string"
              }
            }
          },
          "sim-pin-renew": {
            "description": "Renews the SIM PIN of the modem, update the current SIM PIN by entering a new SIM PIN.",
            "properties": {
              "current": {
                "description": "Current PIN of the modem SIM.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "new": {
                "description": "New SIM PIN for the modem.",
                "format": "const",
                "maxLength": 8,
                "minLength": 4,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        }
      },
      "ArubaApUplink_MacsecConfig": {
        "description": "Media Access Control Security config for ap uplink ethernet."
      },
      "ArubaApUplink_MacsecConfigGet": {
        "description": "Media Access Control Security config for ap uplink ethernet."
      },
      "ArubaApUplink_PreemptionConfig": {
        "description": "Preemption configuration.",
        "properties": {
          "preemption": {
            "description": "Preemption for uplink.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enables pre-emption when no uplinks are enforced. When enabled, if the current uplink is active,\nthe AP periodically tries to use a higher priority uplink, and switches to a higher priority uplink even if the current uplink is active.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "interval": {
                "description": "Preemption interval.",
                "format": "int32",
                "maximum": 600,
                "minimum": 15,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        }
      },
      "ArubaApUplink_PreemptionConfigGet": {
        "description": "Preemption configuration.",
        "properties": {
          "preemption": {
            "description": "Preemption for uplink.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enables pre-emption when no uplinks are enforced. When enabled, if the current uplink is active,\nthe AP periodically tries to use a higher priority uplink, and switches to a higher priority uplink even if the current uplink is active.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "interval": {
                "description": "Preemption interval.",
                "format": "int32",
                "maximum": 600,
                "minimum": 15,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          }
        }
      },
      "ArubaApUplink_Resolver": {
        "description": "Grouping for DNS resolver functionality"
      },
      "ArubaApUplink_ResolverGet": {
        "description": "Grouping for DNS resolver functionality"
      },
      "ArubaApUplink_StaticIpv4Env": {
        "description": "AP uplink static IPv4 env config.",
        "properties": {
          "static-ipv4": {
            "description": "AP uplink static IPv4 env config.",
            "properties": {
              "dns": {
                "description": "The DNS server IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "domain": {
                "description": "The Domain name for the AP.",
                "format": "pattern",
                "maxLength": 253,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
              },
              "gateway": {
                "description": "The gateway IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "ip": {
                "description": "IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "mask": {
                "description": "IPv4 address mask.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              }
            }
          }
        }
      },
      "ArubaApUplink_StaticIpv4EnvGet": {
        "description": "AP uplink static IPv4 env config.",
        "properties": {
          "static-ipv4": {
            "description": "AP uplink static IPv4 env config.",
            "properties": {
              "dns": {
                "description": "The DNS server IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "domain": {
                "description": "The Domain name for the AP.",
                "format": "pattern",
                "maxLength": 253,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
              },
              "gateway": {
                "description": "The gateway IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "ip": {
                "description": "IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "mask": {
                "description": "IPv4 address mask.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              }
            }
          }
        }
      },
      "ArubaApUplink_StaticIpv6Env": {
        "description": "AP uplink static IPv6 env config grouping.",
        "properties": {
          "static-ipv6": {
            "description": "AP uplink static IPv6 env config container.",
            "properties": {
              "dns": {
                "description": "The DNS server IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "domain": {
                "description": "The Domain name for the AP.",
                "format": "pattern",
                "maxLength": 253,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
              },
              "gateway": {
                "description": "The gateway IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "ip6-prefix": {
                "description": "IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-prefix",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
              }
            }
          }
        }
      },
      "ArubaApUplink_StaticIpv6EnvGet": {
        "description": "AP uplink static IPv6 env config grouping.",
        "properties": {
          "static-ipv6": {
            "description": "AP uplink static IPv6 env config container.",
            "properties": {
              "dns": {
                "description": "The DNS server IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "domain": {
                "description": "The Domain name for the AP.",
                "format": "pattern",
                "maxLength": 253,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
              },
              "gateway": {
                "description": "The gateway IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "ip6-prefix": {
                "description": "IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-prefix",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
              }
            }
          }
        }
      },
      "ArubaApUplink_UplinkCellular": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCellular_ArubaModemConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCellular_ThirdPartyModemConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaApUplink_CellSimPin"
          }
        ],
        "description": "AP uplink cellular config.",
        "properties": {
          "type": {
            "description": "Cellular type.",
            "enum": [
              "ARUBA_USB_LTE",
              "THIRD_PARTY",
              "INTERNAL_LTE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ARUBA_USB_LTE": "Aruba modem.",
              "INTERNAL_LTE": "Internal 9004-LTE gateway.",
              "THIRD_PARTY": "Third party modem."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Modem type."
          }
        }
      },
      "ArubaApUplink_UplinkCellularGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCellular_ArubaModemConfigGet"
          },
          {
[...]
