{
  "openapi": "3.1.0",
  "info": {
    "title": "Fault Monitor",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Fault Monitor"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/fault-monitor": {
      "get": {
        "description": "Fault monitor top level configuration.",
        "operationId": "readFaultMonitor",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured fault monitor profiles",
        "tags": [
          "Fault Monitor"
        ],
        "x-cliParam": {
          "commandName": "readFaultMonitorCmd",
          "commandUse": "fault-monitor",
          "parentCommand": "readCmd",
          "pathToPrint": "/fault-monitor/",
          "summary": "Read operation for fault-monitor"
        }
      }
    },
    "/network-config/v1alpha1/fault-monitor/{name}": {
      "get": {
        "description": "List of Fault monitor configurations.",
        "operationId": "readFaultMonitorProfileByID",
        "parameters": [
          {
            "description": "Name of the fault monitor profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing fault monitor profile configurations",
        "tags": [
          "Fault Monitor"
        ],
        "x-cliParam": {
          "commandName": "readFaultMonitorProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readFaultMonitorCmd",
          "pathToPrint": "/fault-monitor/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Fault monitor configurations.",
        "operationId": "replaceFaultMonitorProfileByID",
        "parameters": [
          {
            "description": "Name of the fault monitor profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaFaultMonitor_FaultMonitorprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update the existing fault monitor profile configurations",
        "tags": [
          "Fault Monitor"
        ],
        "x-cliParam": {
          "commandName": "replaceFaultMonitorProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceFaultMonitorCmd",
          "pathToPrint": "/fault-monitor/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Fault monitor configurations.",
        "operationId": "createFaultMonitorProfileByID",
        "parameters": [
          {
            "description": "Name of the fault monitor profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaFaultMonitor_FaultMonitorprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new fault monitor profile by unique name",
        "tags": [
          "Fault Monitor"
        ],
        "x-cliParam": {
          "commandName": "createFaultMonitorProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createFaultMonitorCmd",
          "pathToPrint": "/fault-monitor/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Fault monitor configurations.",
        "operationId": "deleteFaultMonitorProfileByID",
        "parameters": [
          {
            "description": "Name of the fault monitor profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the fault monitor profile",
        "tags": [
          "Fault Monitor"
        ],
        "x-cliParam": {
          "commandName": "deleteFaultMonitorProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteFaultMonitorCmd",
          "pathToPrint": "/fault-monitor/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Fault monitor configurations.",
        "operationId": "updateFaultMonitorProfileByID",
        "parameters": [
          {
            "description": "Name of the fault monitor profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaFaultMonitor_FaultMonitorprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update the existing fault monitor profile configurations",
        "tags": [
          "Fault Monitor"
        ],
        "x-cliParam": {
          "commandName": "updateFaultMonitorProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateFaultMonitorCmd",
          "pathToPrint": "/fault-monitor/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaFaultMonitor_FaultMonitorAction": {
        "description": "Grouping reusable leaves to single group.",
        "properties": {
          "action": {
            "default": "NOTIFY",
            "description": "Action to be performed when the faulty frame count\nexceeds the configured threshold in a 30 second sampling interval.",
            "enum": [
              "NOTIFY",
              "NOTIFY_AND_DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NOTIFY": "NOTIFY - log an event.",
              "NOTIFY_AND_DISABLE": "NOTIFY_AND_DISABLE - log an event and shutdown the port."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Notify Mode type."
          },
          "enable": {
            "default": "false",
            "description": "Enable monitoring for this fault type.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sensitivity": {
            "description": "Fault sensitivity level.",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "HIGH": "High sensitivity.",
              "LOW": "Low sensitivity.",
              "MEDIUM": "Medium sensitivity."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Fault sensitivity type."
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorActionGet": {
        "description": "Grouping reusable leaves to single group.",
        "properties": {
          "action": {
            "default": "NOTIFY",
            "description": "Action to be performed when the faulty frame count\nexceeds the configured threshold in a 30 second sampling interval.",
            "enum": [
              "NOTIFY",
              "NOTIFY_AND_DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NOTIFY": "NOTIFY - log an event.",
              "NOTIFY_AND_DISABLE": "NOTIFY_AND_DISABLE - log an event and shutdown the port."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Notify Mode type."
          },
          "enable": {
            "default": "false",
            "description": "Enable monitoring for this fault type.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sensitivity": {
            "description": "Fault sensitivity level.",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "HIGH": "High sensitivity.",
              "LOW": "Low sensitivity.",
              "MEDIUM": "Medium sensitivity."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Fault sensitivity type."
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorConfiguration": {
        "description": "Fault monitor configuration.",
        "properties": {
          "excessive-alignment-errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive alignment errors configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-broadcasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_StormMonitorInner"
              }
            ],
            "description": "Excessive broadcasts configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-collisions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive collisions configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-crc-errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive CRC errors configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-fc-triggers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorAction"
              }
            ],
            "description": "Excessive flow control watchdog trigger configuration.",
            "properties": {
              "auto-enable": {
                "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a threshold violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
                "format": "int64",
                "maximum": 604800,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "threshold": {
                "default": "25",
                "description": "Threshold of the number of bad frames per 10,000 frames received or sent on this port.",
                "format": "int64",
                "maximum": 10000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-fragments": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive fragments configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-jabbers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive jabbers configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-late-collisions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive late collisions configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-multicasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_StormMonitorInner"
              }
            ],
            "description": "Excessive multicasts configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-oversize-packets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive oversize packets configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-tx-drops": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInner"
              }
            ],
            "description": "Excessive Tx drops configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "link-flap": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorAction"
              }
            ],
            "description": "Link flap monitor configuration.",
            "properties": {
              "auto-enable": {
                "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a link flap violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
                "format": "int64",
                "maximum": 604800,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "threshold": {
                "default": "7",
                "description": "Threshold of the number of link flaps in a 10 second time interval.",
                "format": "int64",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorConfigurationGet": {
        "description": "Fault monitor configuration.",
        "properties": {
          "excessive-alignment-errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive alignment errors configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-broadcasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_StormMonitorInnerGet"
              }
            ],
            "description": "Excessive broadcasts configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-collisions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive collisions configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-crc-errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive CRC errors configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-fc-triggers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorActionGet"
              }
            ],
            "description": "Excessive flow control watchdog trigger configuration.",
            "properties": {
              "auto-enable": {
                "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a threshold violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
                "format": "int64",
                "maximum": 604800,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "threshold": {
                "default": "25",
                "description": "Threshold of the number of bad frames per 10,000 frames received or sent on this port.",
                "format": "int64",
                "maximum": 10000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-fragments": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive fragments configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-jabbers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive jabbers configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-late-collisions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive late collisions configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-multicasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_StormMonitorInnerGet"
              }
            ],
            "description": "Excessive multicasts configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-oversize-packets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive oversize packets configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "excessive-tx-drops": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_LinkFaultMonitorInnerGet"
              }
            ],
            "description": "Excessive Tx drops configuration.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "link-flap": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorActionGet"
              }
            ],
            "description": "Link flap monitor configuration.",
            "properties": {
              "auto-enable": {
                "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a link flap violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
                "format": "int64",
                "maximum": 604800,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "threshold": {
                "default": "7",
                "description": "Threshold of the number of link flaps in a 10 second time interval.",
                "format": "int64",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorSchemaGET": {
        "description": "Fault monitor top level configuration.",
        "properties": {
          "profile": {
            "description": "List of Fault monitor configurations.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorConfigurationGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "User description for fault monitor profile.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the fault monitor profile.",
                      "format": "pattern",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_.()]+'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaFaultMonitor_FaultMonitorprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorConfiguration"
          },
          {
            "properties": {
              "description": {
                "description": "User description for fault monitor profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the fault monitor profile.",
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_.()]+'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        ]
      },
      "ArubaFaultMonitor_FaultMonitorprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorConfigurationGet"
          },
          {
            "properties": {
              "description": {
                "description": "User description for fault monitor profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the fault monitor profile.",
                "format": "pattern",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_.()]+'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        ]
      },
      "ArubaFaultMonitor_LinkFaultMonitorInner": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorAction"
          }
        ],
        "description": "Link fault monitor inner grouping.",
        "properties": {
          "auto-enable": {
            "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a threshold violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold": {
            "default": "25",
            "description": "Threshold of the number of bad frames per 10,000 frames received or sent on this port.",
            "format": "int64",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaFaultMonitor_LinkFaultMonitorInnerGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorActionGet"
          }
        ],
        "description": "Link fault monitor inner grouping.",
        "properties": {
          "auto-enable": {
            "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a threshold violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold": {
            "default": "25",
            "description": "Threshold of the number of bad frames per 10,000 frames received or sent on this port.",
            "format": "int64",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaFaultMonitor_StormMonitorInner": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorAction"
          },
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_ThresholdUnitsGroup"
          }
        ],
        "description": "Storm monitor inner grouping.",
        "properties": {
          "auto-enable": {
            "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a storm violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaFaultMonitor_StormMonitorInnerGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorActionGet"
          },
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_ThresholdUnitsGroupGet"
          }
        ],
        "description": "Storm monitor inner grouping.",
        "properties": {
          "auto-enable": {
            "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a storm violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaFaultMonitor_ThresholdUnitsGroup": {
        "description": "Grouping threshold related leaves as single group.",
        "properties": {
          "threshold-percent": {
            "description": "Threshold percentage for this storm type.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-rate": {
            "description": "Threshold rate for this storm type.",
            "format": "int64",
            "maximum": 195312500,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-units": {
            "description": "Threshold value's units of measurement.",
            "enum": [
              "PPS",
              "PERCENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PERCENT": "PERCENT - threshold value as a percentage of port's bandwidth.",
              "PPS": "PPS - threshold value in packets per second."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Threshold units type."
          }
        }
      },
      "ArubaFaultMonitor_ThresholdUnitsGroupGet": {
        "description": "Grouping threshold related leaves as single group.",
        "properties": {
          "threshold-percent": {
            "description": "Threshold percentage for this storm type.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-rate": {
            "description": "Threshold rate for this storm type.",
            "format": "int64",
            "maximum": 195312500,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-units": {
            "description": "Threshold value's units of measurement.",
            "enum": [
              "PPS",
              "PERCENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PERCENT": "PERCENT - threshold value as a percentage of port's bandwidth.",
              "PPS": "PPS - threshold value in packets per second."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Threshold units type."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaFaultMonitor_FaultMonitorprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
