{
  "openapi": "3.1.0",
  "info": {
    "title": "Interface Portchannel",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Interface Portchannel"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/portchannels": {
      "get": {
        "description": "Port Channel (Link Aggregation Group/LAG) interfaces combine multiple\nphysical Ethernet links into a single logical interface for increased\nbandwidth, load balancing, and redundancy per IEEE 802.3ad. Port\nchannels support static aggregation and dynamic LACP negotiation with\nfeatures including VLAN trunking, routing protocols, access control,\nand QoS policies. Configure port channel member interfaces, LACP\nparameters, VLAN assignments, IP addressing, and link protection\nsettings. Supported scopes: Device. Device Limits: Gateway supports\nport channels 0-7 (8 total). Use this API to retrieve the list of\nport channel interfaces.",
        "operationId": "readPortchannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfacePortchannel_PortchannelsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read port channel(s) interface configurations",
        "tags": [
          "Interface Portchannel"
        ],
        "x-cliParam": {
          "commandName": "readPortchannelsCmd",
          "commandUse": "portchannels",
          "parentCommand": "readCmd",
          "pathToPrint": "/portchannels/",
          "summary": "Read operation for portchannels"
        }
      }
    },
    "/network-config/v1alpha1/portchannels/{name}": {
      "get": {
        "description": "Port channel interface aggregating multiple physical Ethernet ports\ninto a single logical trunk. Each entity is identified by portchannel\nID. Configure member ports, LACP parameters, VLANs, IP addresses,\nrouting protocols, and port-security settings. Device Limits: Gateway\nsupports port channels 0-7. Use these APIs to create, modify, or\ndelete a port channel interface.",
        "operationId": "readPortchannelsInterfaceByID",
        "parameters": [
          {
            "description": "Port channel interface name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfacePortchannel_PortchannelsinterfaceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read port channel interface configurations",
        "tags": [
          "Interface Portchannel"
        ],
        "x-cliParam": {
          "commandName": "readPortchannelsInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPortchannelsCmd",
          "pathToPrint": "/portchannels/interface/%s/",
          "summary": "Read operation for interface",
          "totParams": 1
        }
      },
      "put": {
        "description": "Port channel interface aggregating multiple physical Ethernet ports\ninto a single logical trunk. Each entity is identified by portchannel\nID. Configure member ports, LACP parameters, VLANs, IP addresses,\nrouting protocols, and port-security settings. Device Limits: Gateway\nsupports port channels 0-7. Use these APIs to create, modify, or\ndelete a port channel interface.",
        "operationId": "replacePortchannelsInterfaceByID",
        "parameters": [
          {
            "description": "Port channel interface name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfacePortchannel_PortchannelsinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update port channel interface configurations",
        "tags": [
          "Interface Portchannel"
        ],
        "x-cliParam": {
          "commandName": "replacePortchannelsInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePortchannelsCmd",
          "pathToPrint": "/portchannels/interface/%s/",
          "summary": "Replace operation for interface",
          "totParams": 1
        }
      },
      "post": {
        "description": "Port channel interface aggregating multiple physical Ethernet ports\ninto a single logical trunk. Each entity is identified by portchannel\nID. Configure member ports, LACP parameters, VLANs, IP addresses,\nrouting protocols, and port-security settings. Device Limits: Gateway\nsupports port channels 0-7. Use these APIs to create, modify, or\ndelete a port channel interface.",
        "operationId": "createPortchannelsInterfaceByID",
        "parameters": [
          {
            "description": "Port channel interface name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfacePortchannel_PortchannelsinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create port channel interface configurations",
        "tags": [
          "Interface Portchannel"
        ],
        "x-cliParam": {
          "commandName": "createPortchannelsInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPortchannelsCmd",
          "pathToPrint": "/portchannels/interface/%s/",
          "summary": "Create operation for interface",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Port channel interface aggregating multiple physical Ethernet ports\ninto a single logical trunk. Each entity is identified by portchannel\nID. Configure member ports, LACP parameters, VLANs, IP addresses,\nrouting protocols, and port-security settings. Device Limits: Gateway\nsupports port channels 0-7. Use these APIs to create, modify, or\ndelete a port channel interface.",
        "operationId": "deletePortchannelsInterfaceByID",
        "parameters": [
          {
            "description": "Port channel interface name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete port channel interface configurations",
        "tags": [
          "Interface Portchannel"
        ],
        "x-cliParam": {
          "commandName": "deletePortchannelsInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePortchannelsCmd",
          "pathToPrint": "/portchannels/interface/%s/",
          "summary": "Delete operation for interface",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Port channel interface aggregating multiple physical Ethernet ports\ninto a single logical trunk. Each entity is identified by portchannel\nID. Configure member ports, LACP parameters, VLANs, IP addresses,\nrouting protocols, and port-security settings. Device Limits: Gateway\nsupports port channels 0-7. Use these APIs to create, modify, or\ndelete a port channel interface.",
        "operationId": "updatePortchannelsInterfaceByID",
        "parameters": [
          {
            "description": "Port channel interface name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfacePortchannel_PortchannelsinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update port channel interface configurations",
        "tags": [
          "Interface Portchannel"
        ],
        "x-cliParam": {
          "commandName": "updatePortchannelsInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePortchannelsCmd",
          "pathToPrint": "/portchannels/interface/%s/",
          "summary": "Update operation for interface",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaProfile_AllowFloodTrafficConfigGroup": {
        "description": "Group for allow-flood-traffic configuration shared by aaa-profile and port-security.",
        "properties": {
          "allow-flood-traffic": {
            "default": "false",
            "description": "Enable transmission of flood traffic (broadcast, multicast and\nunknown unicast) out authentication enabled interfaces with no\nauthenticated client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AllowFloodTrafficConfigGroupGet": {
        "description": "Group for allow-flood-traffic configuration shared by aaa-profile and port-security.",
        "properties": {
          "allow-flood-traffic": {
            "default": "false",
            "description": "Enable transmission of flood traffic (broadcast, multicast and\nunknown unicast) out authentication enabled interfaces with no\nauthenticated client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthenticationLagAttributesGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AllowFloodTrafficConfigGroup"
          }
        ],
        "description": "Group for authentication attributes which are supported on lag interface.",
        "properties": {
          "auth-mode": {
            "default": "CLIENT_MODE",
            "description": "The mode determining how each client on the interface can gain access\nto the network.",
            "enum": [
              "DEVICE_MODE",
              "CLIENT_MODE",
              "MULTI_DOMAIN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLIENT_MODE": "Each client must be authenticated separately to be granted network\naccess.",
              "DEVICE_MODE": "The first authenticated client grants network access to all the other\nclients.",
              "MULTI_DOMAIN": "Limit the number of authenticated clients to one 'voice' client and a\nconfigured number of 'data' clients."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Authentication modes."
          },
          "bpdu-auth": {
            "description": "BPDUs that can trigger authentication.",
            "properties": {
              "cdp": {
                "default": "true",
                "description": "Enable CDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "true",
                "description": "Enable LLDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "mac-type": {
                "default": "CHASSIS_MAC",
                "description": "MAC address to use when authentication is triggered by an\nLLDP frame. This is applicable only when LLDP packets are\nallowed to trigger authentication.",
                "enum": [
                  "CHASSIS_MAC",
                  "SOURCE_MAC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHASSIS_MAC": "Use the chassis MAC in LLDP TLV",
                  "SOURCE_MAC": "Use the source MAC in LLDP frame"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "LLDP MAC address types"
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bpdu-bypass": {
            "description": "BPDUs to be serviced by the device before authentication is\nsuccessful on the interface.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "false",
                "description": "Enable LLDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "bpdu-proxy-logoff": {
            "description": "Proxy logoff the client based on the interface status in BPDU packets.\nDevice will clear authentication session of the client if it receives\nan interface down status in the BPDU packet.\nWhen not configured, no action is taken.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP based proxy-logoff.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-limit": {
            "description": "Maximum number of clients that can be authenticated on the interface.",
            "format": "int32",
            "maximum": 256,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "device-profile-secure": {
            "description": "Enable device-profile with security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthenticationLagAttributesGroupGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AllowFloodTrafficConfigGroupGet"
          }
        ],
        "description": "Group for authentication attributes which are supported on lag interface.",
        "properties": {
          "auth-mode": {
            "default": "CLIENT_MODE",
            "description": "The mode determining how each client on the interface can gain access\nto the network.",
            "enum": [
              "DEVICE_MODE",
              "CLIENT_MODE",
              "MULTI_DOMAIN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLIENT_MODE": "Each client must be authenticated separately to be granted network\naccess.",
              "DEVICE_MODE": "The first authenticated client grants network access to all the other\nclients.",
              "MULTI_DOMAIN": "Limit the number of authenticated clients to one 'voice' client and a\nconfigured number of 'data' clients."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Authentication modes."
          },
          "bpdu-auth": {
            "description": "BPDUs that can trigger authentication.",
            "properties": {
              "cdp": {
                "default": "true",
                "description": "Enable CDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "true",
                "description": "Enable LLDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "mac-type": {
                "default": "CHASSIS_MAC",
                "description": "MAC address to use when authentication is triggered by an\nLLDP frame. This is applicable only when LLDP packets are\nallowed to trigger authentication.",
                "enum": [
                  "CHASSIS_MAC",
                  "SOURCE_MAC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHASSIS_MAC": "Use the chassis MAC in LLDP TLV",
                  "SOURCE_MAC": "Use the source MAC in LLDP frame"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "LLDP MAC address types"
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bpdu-bypass": {
            "description": "BPDUs to be serviced by the device before authentication is\nsuccessful on the interface.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "false",
                "description": "Enable LLDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "bpdu-proxy-logoff": {
            "description": "Proxy logoff the client based on the interface status in BPDU packets.\nDevice will clear authentication session of the client if it receives\nan interface down status in the BPDU packet.\nWhen not configured, no action is taken.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP based proxy-logoff.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-limit": {
            "description": "Maximum number of clients that can be authenticated on the interface.",
            "format": "int32",
            "maximum": 256,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "device-profile-secure": {
            "description": "Enable device-profile with security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_SecurityViolationConfigGroup": {
        "description": "Group for security violation configurations shared by aaa-profile and port-security.",
        "properties": {
          "security-violation": {
            "description": "Security violation configuration.",
            "properties": {
              "action": {
                "description": "Action to take on a security violation (notify or shutdown).\nThis is only supported on physical ports.",
                "enum": [
                  "NONE",
                  "NOTIFY",
                  "SHUTDOWN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NONE": "Prevent an SNMP trap from being sent.",
                  "NOTIFY": "Send an SNMP trap and log an event on a violation.",
                  "SHUTDOWN": "Send an SNMP trap, log an event and shut the interface down on a\nviolation."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Violation action type."
              },
              "recovery-timer": {
                "default": "10",
                "description": "Time in seconds after which the interface is re-enabled if it was\nshutdown in response to a violation event.\nThis is only applicable if shutdown recovery is enabled.",
                "format": "int32",
                "maximum": 600,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "shutdown-recovery-enable": {
                "default": "false",
                "description": "Enable auto-recovery of the interface. This is only applicable when\nthe violation action is set to shutdown.\nThe interface is re-enabled after the recovery timer has expired.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAaaProfile_SecurityViolationConfigGroupGet": {
        "description": "Group for security violation configurations shared by aaa-profile and port-security.",
        "properties": {
          "security-violation": {
            "description": "Security violation configuration.",
            "properties": {
              "action": {
                "description": "Action to take on a security violation (notify or shutdown).\nThis is only supported on physical ports.",
                "enum": [
                  "NONE",
                  "NOTIFY",
                  "SHUTDOWN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NONE": "Prevent an SNMP trap from being sent.",
                  "NOTIFY": "Send an SNMP trap and log an event on a violation.",
                  "SHUTDOWN": "Send an SNMP trap, log an event and shut the interface down on a\nviolation."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Violation action type."
              },
              "recovery-timer": {
                "default": "10",
                "description": "Time in seconds after which the interface is re-enabled if it was\nshutdown in response to a violation event.\nThis is only applicable if shutdown recovery is enabled.",
                "format": "int32",
                "maximum": 600,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "shutdown-recovery-enable": {
                "default": "false",
                "description": "Enable auto-recovery of the interface. This is only applicable when\nthe violation action is set to shutdown.\nThe interface is re-enabled after the recovery timer has expired.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDevicefingerprintingInterface_InterfaceConfig": {
        "description": "Grouping for Port-level configuration parameters of Device Fingerprinting.",
        "properties": {
          "client-limit": {
            "description": "Specifiy Maximum number of clients allowed on the port/portlist for Device Fingerprinting.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 4096,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "incoming-clients-only": {
            "default": "false",
            "description": "Enables fingerprinting for the clients that comes in after\nenabling the fingerprinting feature on the port of AOS-S switch.\nThis configuration is valid only on a layer2 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "profile-name": {
            "description": "Apply a Device Fingerprinting Profile to a port/portlist.\nThis configuration is valid only on a layer2 interface.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dfpp:devicefingerprinting-profile/ac-dfpp:profile/ac-dfpp:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDevicefingerprintingInterface_InterfaceConfigGet": {
        "description": "Grouping for Port-level configuration parameters of Device Fingerprinting.",
        "properties": {
          "client-limit": {
            "description": "Specifiy Maximum number of clients allowed on the port/portlist for Device Fingerprinting.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 4096,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "incoming-clients-only": {
            "default": "false",
            "description": "Enables fingerprinting for the clients that comes in after\nenabling the fingerprinting feature on the port of AOS-S switch.\nThis configuration is valid only on a layer2 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "profile-name": {
            "description": "Apply a Device Fingerprinting Profile to a port/portlist.\nThis configuration is valid only on a layer2 interface.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dfpp:devicefingerprinting-profile/ac-dfpp:profile/ac-dfpp:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv4RelayIf": {
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "ipv4-relay": {
            "description": "DHCPv4 Relay Configurations",
            "properties": {
              "bootp-gateway": {
                "description": "Provides a way to configure a gateway address for the DHCPv4 relay agent to use\nfor DHCP requests. DHCPv4 relay agent uses lowest IP address on the interface,\nwithout this configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "server": {
                "description": "List of DHCPv4 servers.",
                "items": {
                  "properties": {
                    "ip-vrf": {
                      "description": "Key combination of ip and vrf separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "ipVrf"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway",
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv4RelayIfGet": {
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "ipv4-relay": {
            "description": "DHCPv4 Relay Configurations",
            "properties": {
              "bootp-gateway": {
                "description": "Provides a way to configure a gateway address for the DHCPv4 relay agent to use\nfor DHCP requests. DHCPv4 relay agent uses lowest IP address on the interface,\nwithout this configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "server": {
                "description": "List of DHCPv4 servers.",
                "items": {
                  "properties": {
                    "ip-vrf": {
                      "description": "Key combination of ip and vrf separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "ipVrf"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway",
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv6RelayIf": {
        "description": "Grouping for DHCPv6 Relay Configurations"
      },
      "ArubaDhcpRelay_Ipv6RelayIfGet": {
        "description": "Grouping for DHCPv6 Relay Configurations"
      },
      "ArubaFlowTelemetryCommon_FlowTelemetryConfig": {
        "description": "Enables centralized Flow Telemetry.\nThis configuration point coordinates the activation of multiple telemetry features\n(IPFIX, traffic insights) through a unified control mechanism."
      },
      "ArubaFlowTelemetryCommon_FlowTelemetryConfigGet": {
        "description": "Enables centralized Flow Telemetry.\nThis configuration point coordinates the activation of multiple telemetry features\n(IPFIX, traffic insights) through a unified control mechanism."
      },
      "ArubaInterfaceCommon_AccessListPolicies": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_AccessListPoliciesGet": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_BfdInterface": {
        "description": "BFD interface configuration."
      },
      "ArubaInterfaceCommon_BfdInterfaceGet": {
        "description": "BFD interface configuration."
      },
      "ArubaInterfaceCommon_CdpConfig": {
        "description": "Grouping for CDP.",
        "properties": {
          "cdp": {
            "description": "CDP configuration.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enable CDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "mode": {
                "description": "CDP pre-standard voice mode.",
                "enum": [
                  "TX_ONLY",
                  "RX_ONLY",
                  "TX_RX",
                  "TX_ONLY_ON_VOICE_RX",
                  "DISABLE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable both transmit and receive for voice VLAN CDP(Cisco Discovery Protocol) packets.",
                  "RX_ONLY": "Enable interface to only receive voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be transmitted.",
                  "TX_ONLY": "Enable interface to only transmit voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be received.",
                  "TX_ONLY_ON_VOICE_RX": "Enable interface to transmit CDP(Cisco Discovery Protocol) packets\nonly on reception of Voice VLAN query.",
                  "TX_RX": "Enable interface to both transmit and receive voice VLAN CDP(Cisco Discovery Protocol)\npackets."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "CDP pre-std-voice mode on this interface."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CdpConfigGet": {
        "description": "Grouping for CDP.",
        "properties": {
          "cdp": {
            "description": "CDP configuration.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enable CDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "mode": {
                "description": "CDP pre-standard voice mode.",
                "enum": [
                  "TX_ONLY",
                  "RX_ONLY",
                  "TX_RX",
                  "TX_ONLY_ON_VOICE_RX",
                  "DISABLE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable both transmit and receive for voice VLAN CDP(Cisco Discovery Protocol) packets.",
                  "RX_ONLY": "Enable interface to only receive voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be transmitted.",
                  "TX_ONLY": "Enable interface to only transmit voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be received.",
                  "TX_ONLY_ON_VOICE_RX": "Enable interface to transmit CDP(Cisco Discovery Protocol) packets\nonly on reception of Voice VLAN query.",
                  "TX_RX": "Enable interface to both transmit and receive voice VLAN CDP(Cisco Discovery Protocol)\npackets."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "CDP pre-std-voice mode on this interface."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CiptInterfaceConfig": {
        "description": "Grouping for Interface-level configuration parameters of client IP tracker.",
        "properties": {
          "client-limit-max": {
            "default": "128",
            "description": "Configure the maximum number of clients tracked on this port. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 4096,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "connect-to-network-device": {
            "default": "false",
            "description": "Marks a port as being connected with a network device. It is applicable to AOS-S switch.\nThis configuration is valid only on a layer2 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "mode": {
            "description": "Specifies client IP tracking mode on the port of AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "enum": [
              "ENABLE",
              "DISABLE",
              "AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Default mode. Track limited set of clients based on LLDP/CDP\nsignature and access/trunk configuration.",
              "DISABLE": "Client IP addresses are not tracked on this port.",
              "ENABLE": "Track all client IP addresses on this port."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specifies the client IP tracking mode of the port on AOS-CX switches."
          },
          "update-interval": {
            "default": "1800",
            "description": "Configure the IP address update interval in seconds. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 28000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CiptInterfaceConfigGet": {
        "description": "Grouping for Interface-level configuration parameters of client IP tracker.",
        "properties": {
          "client-limit-max": {
            "default": "128",
            "description": "Configure the maximum number of clients tracked on this port. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 4096,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "connect-to-network-device": {
            "default": "false",
            "description": "Marks a port as being connected with a network device. It is applicable to AOS-S switch.\nThis configuration is valid only on a layer2 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "mode": {
            "description": "Specifies client IP tracking mode on the port of AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "enum": [
              "ENABLE",
              "DISABLE",
              "AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Default mode. Track limited set of clients based on LLDP/CDP\nsignature and access/trunk configuration.",
              "DISABLE": "Client IP addresses are not tracked on this port.",
              "ENABLE": "Track all client IP addresses on this port."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specifies the client IP tracking mode of the port on AOS-CX switches."
          },
          "update-interval": {
            "default": "1800",
            "description": "Configure the IP address update interval in seconds. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 28000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv4SnoopingInterfaceConfig": {
        "description": "Grouping of port-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "Port-specific DHCPv4-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "max-bindings": {
                "description": "Maximum number of DHCPv4 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv4 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv4SnoopingInterfaceConfigGet": {
        "description": "Grouping of port-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "Port-specific DHCPv4-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "max-bindings": {
                "description": "Maximum number of DHCPv4 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv4 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv6SnoopingInterfaceConfig": {
        "description": "Grouping of port-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "Port-specific DHCPv6-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-bindings": {
                "description": "Maximum number of DHCPv6 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv6 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv6SnoopingInterfaceConfigGet": {
        "description": "Grouping of port-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "Port-specific DHCPv6-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-bindings": {
                "description": "Maximum number of DHCPv6 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv6 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_DynamicArpInspectionInterfaceConfig": {
        "description": "Dynamic ARP Inspection interface parameters grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on interface.\nThis configuration is valid only on a layer2 interface.",
            "properties": {
              "trust": {
                "default": "false",
                "description": "Trusted interface for ARP packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_DynamicArpInspectionInterfaceConfigGet": {
        "description": "Dynamic ARP Inspection interface parameters grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on interface.\nThis configuration is valid only on a layer2 interface.",
            "properties": {
              "trust": {
                "default": "false",
                "description": "Trusted interface for ARP packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_IpConfig": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_IpConfigGet": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_IpDirectedBroadcastConfig": {
        "description": "IP Directed Broadcast parameters.",
        "properties": {
          "ip-directed-broadcast-enable": {
            "default": "false",
            "description": "Enable IP Directed Broadcast on the interface. This configuration is valid only on a layer3 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_IpDirectedBroadcastConfigGet": {
        "description": "IP Directed Broadcast parameters.",
        "properties": {
          "ip-directed-broadcast-enable": {
            "default": "false",
            "description": "Enable IP Directed Broadcast on the interface. This configuration is valid only on a layer3 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv4Config": {
        "description": "Grouping for IPv4 config.",
        "properties": {
          "ipv4": {
            "description": "IPv4 configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "address": {
                "description": "Set an IPv4 address (static) or enable DHCPv4 client (dynamic).",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "dhcp-client-id": {
                "description": "DHCP client identifier, applicable only when address field is configured as DHCP client.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv4 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "filter-broadcast-helper": {
                "default": "false",
                "description": "Filter DHCP broadcast packets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "forwarding": {
                "default": "true",
                "description": "IPv4 Forwarding.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper-address": {
                "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                "items": {
                  "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 16,
                "type": "array"
              },
              "nat-inside": {
                "default": "false",
                "description": "NAT inside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "nat-outside": {
                "default": "false",
                "description": "NAT outside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "proxy-arp": {
                "description": "Enable proxy ARP.\nPossible values:\nCLIENT: Enables proxy ARP in CLIENT mode.\n        Gateway responds to ARP requests with client's MAC address.\nGATEWAY: Enables proxy ARP in GATEWAY mode.\n         Gateway responds to ARP requests with its own MAC address.",
                "enum": [
                  "GATEWAY",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CLIENT": "Gateway responds to ARP requests with client's MAC address.",
                  "GATEWAY": "Gateway responds to ARP requests with its own MAC address."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Proxy ARP modes."
              },
              "route-redistribute": {
                "default": "false",
                "description": "Redistribute the connected route to ORO.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "secondary-ip": {
                "description": "List of secondary IPv4 addresses with netmask specified.",
                "items": {
                  "description": "List of secondary IPv4 addresses with netmask specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "suppress-arp": {
                "default": "true",
                "description": "Suppress Address Resolution Protocol (ARP), when enabled the device will stop the flooding of unknown\nrequests to other nodes in the same VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv4ConfigGet": {
        "description": "Grouping for IPv4 config.",
        "properties": {
          "ipv4": {
            "description": "IPv4 configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "address": {
                "description": "Set an IPv4 address (static) or enable DHCPv4 client (dynamic).",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "dhcp-client-id": {
                "description": "DHCP client identifier, applicable only when address field is configured as DHCP client.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv4 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "filter-broadcast-helper": {
                "default": "false",
                "description": "Filter DHCP broadcast packets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "forwarding": {
                "default": "true",
                "description": "IPv4 Forwarding.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper-address": {
                "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                "items": {
                  "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 16,
                "type": "array"
              },
              "nat-inside": {
                "default": "false",
                "description": "NAT inside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "nat-outside": {
                "default": "false",
                "description": "NAT outside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "proxy-arp": {
                "description": "Enable proxy ARP.\nPossible values:\nCLIENT: Enables proxy ARP in CLIENT mode.\n        Gateway responds to ARP requests with client's MAC address.\nGATEWAY: Enables proxy ARP in GATEWAY mode.\n         Gateway responds to ARP requests with its own MAC address.",
                "enum": [
                  "GATEWAY",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CLIENT": "Gateway responds to ARP requests with client's MAC address.",
                  "GATEWAY": "Gateway responds to ARP requests with its own MAC address."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Proxy ARP modes."
              },
              "route-redistribute": {
                "default": "false",
                "description": "Redistribute the connected route to ORO.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "secondary-ip": {
                "description": "List of secondary IPv4 addresses with netmask specified.",
                "items": {
                  "description": "List of secondary IPv4 addresses with netmask specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "suppress-arp": {
                "default": "true",
                "description": "Suppress Address Resolution Protocol (ARP), when enabled the device will stop the flooding of unknown\nrequests to other nodes in the same VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv6Config": {
        "description": "Grouping for IPv6 configurations.",
        "properties": {
          "ipv6": {
            "description": "IPv6 configurations. This configuration is valid only on a layer3 interface.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 Addresses.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        },
                        {
                          "enum": [
                            "DHCP",
                            "DHCP_FULL",
                            "DHCP_FULL_RAPID_COMMIT",
                            "NO_DHCP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DHCP": "Dynamic Host Configuration Protocol.",
                            "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                            "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                            "NO_DHCP": "Dynamic Host Configuration Protocol."
                          },
                          "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "eui64": {
                      "default": "false",
                      "description": "IPv6 address in the EUI-64 bit format. This config cannot be set when IPv6 DHCP client is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Route tag for connected routes.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "dhcp-pool-name": {
                "description": "The IPv6 DHCP pool name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv6 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "enable": {
                "default": "false",
                "description": "Enable IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "default": "false",
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-multicast-helper": {
                "default": "false",
                "description": "Filteration of DHCP multicast\npackets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper": {
                "description": "The IPv6 helper. At least one IPv6 address should be configured to enable helper.\nIf PD mode is enabled on this interface, it cannot co-exist with helper configurations.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 helper address. Source field is mandatory since multiple IPv6 addresses exist.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "source": {
                      "description": "The IPv6 helper source interface address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "pd-address": {
                "description": "The IPv6 PD based name and subnet/host ID. Maximum count(3) of configurable IPv6 addresses\nand cannot co-exist with PD based address configurations.",
                "properties": {
                  "pd-address-name": {
                    "description": "The IPv6 PD Name and the PD subnet/host ID is required.",
                    "format": "const",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string"
                  },
                  "subnet-host-id": {
                    "description": "The IPv6 PD subnet and host Identifier. The PD based name is required.",
                    "format": "const",
                    "maxLength": 48,
                    "minLength": 3,
                    "type": "string"
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "pd-client-name": {
                "description": "Prefix delegation client name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prefix-delegation-mode": {
                "description": "Prefix delegation mode. If an IPv6 helper address configured on this interface,\nit cannot co-exist with powered device (PD) configurations.",
                "enum": [
                  "ADDRESS",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS": "Prefix delegation address identifier.",
                  "CLIENT": "Prefix delegation client."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Prefix delegation modes."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv6ConfigGet": {
        "description": "Grouping for IPv6 configurations.",
        "properties": {
          "ipv6": {
            "description": "IPv6 configurations. This configuration is valid only on a layer3 interface.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 Addresses.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        },
                        {
                          "enum": [
                            "DHCP",
                            "DHCP_FULL",
                            "DHCP_FULL_RAPID_COMMIT",
                            "NO_DHCP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DHCP": "Dynamic Host Configuration Protocol.",
                            "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                            "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                            "NO_DHCP": "Dynamic Host Configuration Protocol."
                          },
                          "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "eui64": {
                      "default": "false",
                      "description": "IPv6 address in the EUI-64 bit format. This config cannot be set when IPv6 DHCP client is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Route tag for connected routes.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "dhcp-pool-name": {
                "description": "The IPv6 DHCP pool name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv6 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "enable": {
                "default": "false",
                "description": "Enable IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "default": "false",
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-multicast-helper": {
                "default": "false",
                "description": "Filteration of DHCP multicast\npackets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper": {
                "description": "The IPv6 helper. At least one IPv6 address should be configured to enable helper.\nIf PD mode is enabled on this interface, it cannot co-exist with helper configurations.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 helper address. Source field is mandatory since multiple IPv6 addresses exist.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
[...]
