{
  "openapi": "3.1.0",
  "info": {
    "title": "Interface Vlan",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Interface Vlan"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/vlan-interfaces": {
      "get": {
        "description": "Layer 3 VLAN (Switched Virtual Interface/SVI) configurations provide\nIP routing functionality for VLANs, enabling inter-VLAN routing and\ngateway services. VLAN interfaces support IPv4/IPv6 addressing, DHCP\nrelay, routing protocol participation (OSPF, BGP, RIP), VRRP for high\navailability, and access control policies. Configure VLAN interface IP\naddresses, DHCP servers/relay agents, multicast protocols, routing\nparameters, and security policies. Device Limits: Gateway supports max\n3 IPv6 addresses, 16 IPv4 helper addresses, and 3 IPv6 helper\naddresses per VLAN interface. Use this API to retrieve the list of\nVLAN interfaces.",
        "operationId": "readVlanInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceVlan_VlanInterfacesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read VLAN interface(s) configurations",
        "tags": [
          "Interface Vlan"
        ],
        "x-cliParam": {
          "commandName": "readVlanInterfacesCmd",
          "commandUse": "vlan-interfaces",
          "parentCommand": "readCmd",
          "pathToPrint": "/vlan-interfaces/",
          "summary": "Read operation for vlan-interfaces"
        }
      }
    },
    "/network-config/v1alpha1/vlan-interfaces/{id}": {
      "get": {
        "description": "Layer 3 VLAN interface (SVI) enabling IP routing for a VLAN segment.\nEach entity is identified by VLAN ID. Configure IP addresses\n(IPv4/IPv6), DHCP services, routing protocol parameters, VRRP, active\ngateway, and access policies for inter-VLAN routing. Device Limits:\nGateway supports max 3 IPv6 addresses, 16 IPv4 helper addresses, and 3\nIPv6 helper addresses per VLAN interface. Use these APIs to create,\nmodify, or delete a VLAN interface.",
        "operationId": "readVlanInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "VLAN interface identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceVlan_VlanInterfacesinterfaceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read VLAN interface configurations",
        "tags": [
          "Interface Vlan"
        ],
        "x-cliParam": {
          "commandName": "readVlanInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "readVlanInterfacesCmd",
          "pathToPrint": "/vlan-interfaces/interface/%s/",
          "summary": "Read operation for interface",
          "totParams": 1
        }
      },
      "put": {
        "description": "Layer 3 VLAN interface (SVI) enabling IP routing for a VLAN segment.\nEach entity is identified by VLAN ID. Configure IP addresses\n(IPv4/IPv6), DHCP services, routing protocol parameters, VRRP, active\ngateway, and access policies for inter-VLAN routing. Device Limits:\nGateway supports max 3 IPv6 addresses, 16 IPv4 helper addresses, and 3\nIPv6 helper addresses per VLAN interface. Use these APIs to create,\nmodify, or delete a VLAN interface.",
        "operationId": "replaceVlanInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "VLAN interface identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceVlan_VlanInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update VLAN interface configurations",
        "tags": [
          "Interface Vlan"
        ],
        "x-cliParam": {
          "commandName": "replaceVlanInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "replaceVlanInterfacesCmd",
          "pathToPrint": "/vlan-interfaces/interface/%s/",
          "summary": "Replace operation for interface",
          "totParams": 1
        }
      },
      "post": {
        "description": "Layer 3 VLAN interface (SVI) enabling IP routing for a VLAN segment.\nEach entity is identified by VLAN ID. Configure IP addresses\n(IPv4/IPv6), DHCP services, routing protocol parameters, VRRP, active\ngateway, and access policies for inter-VLAN routing. Device Limits:\nGateway supports max 3 IPv6 addresses, 16 IPv4 helper addresses, and 3\nIPv6 helper addresses per VLAN interface. Use these APIs to create,\nmodify, or delete a VLAN interface.",
        "operationId": "createVlanInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "VLAN interface identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceVlan_VlanInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create VLAN interface configurations",
        "tags": [
          "Interface Vlan"
        ],
        "x-cliParam": {
          "commandName": "createVlanInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "createVlanInterfacesCmd",
          "pathToPrint": "/vlan-interfaces/interface/%s/",
          "summary": "Create operation for interface",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Layer 3 VLAN interface (SVI) enabling IP routing for a VLAN segment.\nEach entity is identified by VLAN ID. Configure IP addresses\n(IPv4/IPv6), DHCP services, routing protocol parameters, VRRP, active\ngateway, and access policies for inter-VLAN routing. Device Limits:\nGateway supports max 3 IPv6 addresses, 16 IPv4 helper addresses, and 3\nIPv6 helper addresses per VLAN interface. Use these APIs to create,\nmodify, or delete a VLAN interface.",
        "operationId": "deleteVlanInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "VLAN interface identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete VLAN interface configurations",
        "tags": [
          "Interface Vlan"
        ],
        "x-cliParam": {
          "commandName": "deleteVlanInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "deleteVlanInterfacesCmd",
          "pathToPrint": "/vlan-interfaces/interface/%s/",
          "summary": "Delete operation for interface",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Layer 3 VLAN interface (SVI) enabling IP routing for a VLAN segment.\nEach entity is identified by VLAN ID. Configure IP addresses\n(IPv4/IPv6), DHCP services, routing protocol parameters, VRRP, active\ngateway, and access policies for inter-VLAN routing. Device Limits:\nGateway supports max 3 IPv6 addresses, 16 IPv4 helper addresses, and 3\nIPv6 helper addresses per VLAN interface. Use these APIs to create,\nmodify, or delete a VLAN interface.",
        "operationId": "updateVlanInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "VLAN interface identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceVlan_VlanInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update VLAN interface configurations",
        "tags": [
          "Interface Vlan"
        ],
        "x-cliParam": {
          "commandName": "updateVlanInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "updateVlanInterfacesCmd",
          "pathToPrint": "/vlan-interfaces/interface/%s/",
          "summary": "Update operation for interface",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaInterfaceCommon_AccessListPolicies": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_AccessListPoliciesGet": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_BfdInterface": {
        "description": "BFD interface configuration."
      },
      "ArubaInterfaceCommon_BfdInterfaceGet": {
        "description": "BFD interface configuration."
      },
      "ArubaInterfaceCommon_IpConfig": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_IpConfigGet": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_IpDirectedBroadcastConfig": {
        "description": "IP Directed Broadcast parameters.",
        "properties": {
          "ip-directed-broadcast-enable": {
            "default": "false",
            "description": "Enable IP Directed Broadcast on the interface. This configuration is valid only on a layer3 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_IpDirectedBroadcastConfigGet": {
        "description": "IP Directed Broadcast parameters.",
        "properties": {
          "ip-directed-broadcast-enable": {
            "default": "false",
            "description": "Enable IP Directed Broadcast on the interface. This configuration is valid only on a layer3 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv4ConfigVlan": {
        "description": "Grouping for IPv4 configurations on VLAN interfaces.",
        "properties": {
          "ipv4": {
            "description": "IPv4 configurations on VLAN interfaces.",
            "properties": {
              "address": {
                "description": "Set an IPv4 address (static) or enable DHCPv4 client (dynamic).",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point",
                  "Gateway"
                ]
              },
              "address-alias": {
                "description": "Alias for IPv4 address entry, the value could be static, dynamic or NONE.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "central-pool-type": {
                "description": "The DHCP pool type in central.",
                "enum": [
                  "DHCP_POOL_MANUAL",
                  "DHCP_POOL_BY_IPMS",
                  "IPMS_SYS_POOL_ID"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DHCP_POOL_BY_IPMS": "DHCP pool managed by IPMS.",
                  "DHCP_POOL_MANUAL": "Manual DHCP pool.",
                  "IPMS_SYS_POOL_ID": "IPMS system pool ID."
                },
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ],
                "x-typeDescription": "The DHCP pool type in CNX central."
              },
              "dhcp-client-id": {
                "description": "DHCP client identifier, applicable only when address field is configured as DHCP client.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcp-pool": {
                "description": "DHCP pool, from which the IPv4 address of the VLAN interface is assigned. For GW, type DHCP_POOL_MANUAL not supported",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-pool:dhcp-pool/ac-dhcp-pool:profile/ac-dhcp-pool:name",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "dhcp-pool-id": {
                "description": "DHCP pool ID, from which the IPv4 address of the VLAN interface is assigned.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-ipms:ipms-config/ac-ipms:address-pool/ac-ipms:pool-id",
                "x-patternSources": "pool-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv4 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "filter-broadcast-helper": {
                "default": "false",
                "description": "Filter DHCP broadcast packets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "forwarding": {
                "default": "true",
                "description": "IPv4 Forwarding.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper-address": {
                "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                "items": {
                  "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 16,
                "type": "array"
              },
              "nat-inside": {
                "default": "false",
                "description": "NAT inside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "nat-outside": {
                "default": "false",
                "description": "NAT outside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "option-82": {
                "description": "DHCPv4 Option 82.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "proxy-arp": {
                "description": "Enable proxy ARP.\nPossible values:\nCLIENT: Enables proxy ARP in CLIENT mode.\n        Gateway responds to ARP requests with client's MAC address.\nGATEWAY: Enables proxy ARP in GATEWAY mode.\n         Gateway responds to ARP requests with its own MAC address.",
                "enum": [
                  "GATEWAY",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CLIENT": "Gateway responds to ARP requests with client's MAC address.",
                  "GATEWAY": "Gateway responds to ARP requests with its own MAC address."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Proxy ARP modes."
              },
              "route-redistribute": {
                "default": "false",
                "description": "Redistribute the connected route to ORO.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "secondary-ip": {
                "description": "List of secondary IPv4 addresses with netmask specified.",
                "items": {
                  "description": "List of secondary IPv4 addresses with netmask specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "secondary-ip-alias": {
                "description": "Alias for the list of secondary IPv4 addresses with netmask specified.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "suppress-arp": {
                "default": "true",
                "description": "Suppress Address Resolution Protocol (ARP), when enabled the device will stop the flooding of unknown\nrequests to other nodes in the same VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "sys-pool-id": {
                "description": "IPMS pool ID, from which the IPv4 address of the VLAN interface is assigned.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-ipms:ipms-config/ac-ipms:address-pool/ac-ipms:pool-id",
                "x-patternSources": "pool-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv4ConfigVlanGet": {
        "description": "Grouping for IPv4 configurations on VLAN interfaces.",
        "properties": {
          "ipv4": {
            "description": "IPv4 configurations on VLAN interfaces.",
            "properties": {
              "address": {
                "description": "Set an IPv4 address (static) or enable DHCPv4 client (dynamic).",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point",
                  "Gateway"
                ]
              },
              "address-alias": {
                "description": "Alias for IPv4 address entry, the value could be static, dynamic or NONE.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "central-pool-type": {
                "description": "The DHCP pool type in central.",
                "enum": [
                  "DHCP_POOL_MANUAL",
                  "DHCP_POOL_BY_IPMS",
                  "IPMS_SYS_POOL_ID"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DHCP_POOL_BY_IPMS": "DHCP pool managed by IPMS.",
                  "DHCP_POOL_MANUAL": "Manual DHCP pool.",
                  "IPMS_SYS_POOL_ID": "IPMS system pool ID."
                },
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ],
                "x-typeDescription": "The DHCP pool type in CNX central."
              },
              "dhcp-client-id": {
                "description": "DHCP client identifier, applicable only when address field is configured as DHCP client.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcp-pool": {
                "description": "DHCP pool, from which the IPv4 address of the VLAN interface is assigned. For GW, type DHCP_POOL_MANUAL not supported",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-pool:dhcp-pool/ac-dhcp-pool:profile/ac-dhcp-pool:name",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "dhcp-pool-id": {
                "description": "DHCP pool ID, from which the IPv4 address of the VLAN interface is assigned.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-ipms:ipms-config/ac-ipms:address-pool/ac-ipms:pool-id",
                "x-patternSources": "pool-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv4 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "filter-broadcast-helper": {
                "default": "false",
                "description": "Filter DHCP broadcast packets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "forwarding": {
                "default": "true",
                "description": "IPv4 Forwarding.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper-address": {
                "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                "items": {
                  "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 16,
                "type": "array"
              },
              "nat-inside": {
                "default": "false",
                "description": "NAT inside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "nat-outside": {
                "default": "false",
                "description": "NAT outside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "option-82": {
                "description": "DHCPv4 Option 82.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "proxy-arp": {
                "description": "Enable proxy ARP.\nPossible values:\nCLIENT: Enables proxy ARP in CLIENT mode.\n        Gateway responds to ARP requests with client's MAC address.\nGATEWAY: Enables proxy ARP in GATEWAY mode.\n         Gateway responds to ARP requests with its own MAC address.",
                "enum": [
                  "GATEWAY",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CLIENT": "Gateway responds to ARP requests with client's MAC address.",
                  "GATEWAY": "Gateway responds to ARP requests with its own MAC address."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Proxy ARP modes."
              },
              "route-redistribute": {
                "default": "false",
                "description": "Redistribute the connected route to ORO.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "secondary-ip": {
                "description": "List of secondary IPv4 addresses with netmask specified.",
                "items": {
                  "description": "List of secondary IPv4 addresses with netmask specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "secondary-ip-alias": {
                "description": "Alias for the list of secondary IPv4 addresses with netmask specified.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "suppress-arp": {
                "default": "true",
                "description": "Suppress Address Resolution Protocol (ARP), when enabled the device will stop the flooding of unknown\nrequests to other nodes in the same VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "sys-pool-id": {
                "description": "IPMS pool ID, from which the IPv4 address of the VLAN interface is assigned.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-ipms:ipms-config/ac-ipms:address-pool/ac-ipms:pool-id",
                "x-patternSources": "pool-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv6ConfigVlan": {
        "description": "Grouping for IPv6 configurations on VLAN interfaces.",
        "properties": {
          "ipv6": {
            "description": "IPv6 configurations on VLAN interfaces.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 Addresses.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        },
                        {
                          "enum": [
                            "DHCP",
                            "DHCP_FULL",
                            "DHCP_FULL_RAPID_COMMIT",
                            "NO_DHCP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DHCP": "Dynamic Host Configuration Protocol.",
                            "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                            "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                            "NO_DHCP": "Dynamic Host Configuration Protocol."
                          },
                          "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "eui64": {
                      "default": "false",
                      "description": "IPv6 address in the EUI-64 bit format. This config cannot be set when IPv6 DHCP client is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Route tag for connected routes.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway"
                ]
              },
              "addresses-alias": {
                "description": "List of IPv6 Addresses, static or dynamic, use aliases.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "dhcp-pool-name": {
                "description": "The IPv6 DHCP pool name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv6 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "enable": {
                "default": "false",
                "description": "Enable IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "default": "false",
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-multicast-helper": {
                "default": "false",
                "description": "Filteration of DHCP multicast\npackets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper": {
                "description": "The IPv6 helper. At least one IPv6 address should be configured to enable helper.\nIf PD mode is enabled on this interface, it cannot co-exist with helper configurations.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 helper address. Source field is mandatory since multiple IPv6 addresses exist.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "source": {
                      "description": "The IPv6 helper source interface address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "link-local-alias": {
                "description": "Alias for IPv6 link local address.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "pd-address": {
                "description": "The IPv6 PD based name and subnet/host ID. Maximum count(3) of configurable IPv6 addresses\nand cannot co-exist with PD based address configurations.",
                "properties": {
                  "pd-address-name": {
                    "description": "The IPv6 PD Name and the PD subnet/host ID is required.",
                    "format": "const",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "subnet-host-id": {
                    "description": "The IPv6 PD subnet and host Identifier. The PD based name is required.",
                    "format": "const",
                    "maxLength": 48,
                    "minLength": 3,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "pd-client-name": {
                "description": "Prefix delegation client name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prefix-delegation-mode": {
                "description": "Prefix delegation mode. If an IPv6 helper address configured on this interface,\nit cannot co-exist with powered device (PD) configurations.",
                "enum": [
                  "ADDRESS",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS": "Prefix delegation address identifier.",
                  "CLIENT": "Prefix delegation client."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Prefix delegation modes."
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv6ConfigVlanGet": {
        "description": "Grouping for IPv6 configurations on VLAN interfaces.",
        "properties": {
          "ipv6": {
            "description": "IPv6 configurations on VLAN interfaces.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 Addresses.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        },
                        {
                          "enum": [
                            "DHCP",
                            "DHCP_FULL",
                            "DHCP_FULL_RAPID_COMMIT",
                            "NO_DHCP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DHCP": "Dynamic Host Configuration Protocol.",
                            "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                            "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                            "NO_DHCP": "Dynamic Host Configuration Protocol."
                          },
                          "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "eui64": {
                      "default": "false",
                      "description": "IPv6 address in the EUI-64 bit format. This config cannot be set when IPv6 DHCP client is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Route tag for connected routes.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway"
                ]
              },
              "addresses-alias": {
                "description": "List of IPv6 Addresses, static or dynamic, use aliases.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "dhcp-pool-name": {
                "description": "The IPv6 DHCP pool name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv6 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "enable": {
                "default": "false",
                "description": "Enable IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "default": "false",
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-multicast-helper": {
                "default": "false",
                "description": "Filteration of DHCP multicast\npackets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper": {
                "description": "The IPv6 helper. At least one IPv6 address should be configured to enable helper.\nIf PD mode is enabled on this interface, it cannot co-exist with helper configurations.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 helper address. Source field is mandatory since multiple IPv6 addresses exist.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "source": {
                      "description": "The IPv6 helper source interface address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "link-local-alias": {
                "description": "Alias for IPv6 link local address.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "pd-address": {
                "description": "The IPv6 PD based name and subnet/host ID. Maximum count(3) of configurable IPv6 addresses\nand cannot co-exist with PD based address configurations.",
                "properties": {
                  "pd-address-name": {
                    "description": "The IPv6 PD Name and the PD subnet/host ID is required.",
                    "format": "const",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "subnet-host-id": {
                    "description": "The IPv6 PD subnet and host Identifier. The PD based name is required.",
                    "format": "const",
                    "maxLength": 48,
                    "minLength": 3,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "pd-client-name": {
                "description": "Prefix delegation client name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prefix-delegation-mode": {
                "description": "Prefix delegation mode. If an IPv6 helper address configured on this interface,\nit cannot co-exist with powered device (PD) configurations.",
                "enum": [
                  "ADDRESS",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS": "Prefix delegation address identifier.",
                  "CLIENT": "Prefix delegation client."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Prefix delegation modes."
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_NdmdConfig": {
        "description": "Neighbor Discovery Manager parameters.",
        "properties": {
          "arp": {
            "description": "Neighbor Discovery Manager parameters for ipv4.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv4 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticArpConfig"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "process-grat": {
                "default": "true",
                "description": "Process gratuitous ARP packet.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "proxy": {
                "default": "false",
                "description": "Proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "ARP timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 30,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd": {
            "description": "Neighbor Discovery Manager parameters for ipv6.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ND.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv6 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticNeighborConfig"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "Neighbor timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 10,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_NdmdConfigGet": {
        "description": "Neighbor Discovery Manager parameters.",
        "properties": {
          "arp": {
            "description": "Neighbor Discovery Manager parameters for ipv4.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv4 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticArpConfigGet"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "process-grat": {
                "default": "true",
                "description": "Process gratuitous ARP packet.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "proxy": {
                "default": "false",
                "description": "Proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "ARP timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 30,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd": {
            "description": "Neighbor Discovery Manager parameters for ipv6.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ND.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv6 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticNeighborConfigGet"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "Neighbor timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 10,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_PolicyReferenceGroup": {
        "description": "Grouping for policy references.",
        "properties": {
          "policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaInterfaceCommon_AccessListPolicies"
              }
            ],
            "description": "Container for Policy References.",
            "properties": {
              "access-group-in": {
                "description": "Policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-out": {
                "description": "Policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-session": {
                "description": "Session based policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "access-group-vlan-in": {
                "description": "Policy for inbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "access-group-vlan-out": {
                "description": "Policy for outbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "service-policy-in": {
                "description": "Service policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "service-policy-out": {
                "description": "Service policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_PolicyReferenceGroupGet": {
        "description": "Grouping for policy references.",
        "properties": {
          "policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaInterfaceCommon_AccessListPoliciesGet"
              }
            ],
            "description": "Container for Policy References.",
            "properties": {
              "access-group-in": {
                "description": "Policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-out": {
                "description": "Policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-session": {
                "description": "Session based policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "access-group-vlan-in": {
                "description": "Policy for inbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "access-group-vlan-out": {
                "description": "Policy for outbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "service-policy-in": {
                "description": "Service policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "service-policy-out": {
                "description": "Service policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_PppoeConfig": {
        "description": "Grouping for the IPv4 PPPoE configurations.",
        "properties": {
          "pppoe": {
            "description": "IPv4 PPPoE configurations.",
            "properties": {
              "lcp-failure": {
                "description": "LCP Echo Failure Count",
                "format": "int32",
                "maximum": 32767,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "lcp-interval": {
                "description": "LCP Echo Interval",
                "format": "int32",
                "maximum": 32767,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "max-segment-size": {
                "default": "1452",
                "description": "The TCP maximum segment size in bytes.",
                "format": "int32",
                "maximum": 1452,
                "minimum": 128,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "nat-gateway-address": {
                "description": "The NAT gateway IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "password": {
                "description": "The Password Authentication Protocol (PAP) password.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "secret": {
                "description": "The Challenge-Handshake Authentication Protocol (CHAP) secret.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "service-name": {
                "description": "The Point-to-Point Protocol over Ethernet (PPPOE) service name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "username": {
                "description": "The Password Authentication Protocol (PAP) username.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_PppoeConfigGet": {
        "description": "Grouping for the IPv4 PPPoE configurations.",
        "properties": {
          "pppoe": {
            "description": "IPv4 PPPoE configurations.",
            "properties": {
              "lcp-failure": {
                "description": "LCP Echo Failure Count",
                "format": "int32",
                "maximum": 32767,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "lcp-interval": {
                "description": "LCP Echo Interval",
                "format": "int32",
                "maximum": 32767,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "max-segment-size": {
                "default": "1452",
                "description": "The TCP maximum segment size in bytes.",
                "format": "int32",
                "maximum": 1452,
                "minimum": 128,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "nat-gateway-address": {
                "description": "The NAT gateway IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "password": {
                "description": "The Password Authentication Protocol (PAP) password.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "secret": {
                "description": "The Challenge-Handshake Authentication Protocol (CHAP) secret.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "service-name": {
                "description": "The Point-to-Point Protocol over Ethernet (PPPOE) service name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "username": {
                "description": "The Password Authentication Protocol (PAP) username.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_StaticArpConfig": {
        "description": "Static ARP configuration",
        "properties": {
          "address": {
            "description": "IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "mac-address": {
            "description": "MAC address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaInterfaceCommon_StaticArpConfigGet": {
        "description": "Static ARP configuration",
        "properties": {
          "address": {
[...]
