{
  "openapi": "3.1.0",
  "info": {
    "title": "Interface Loopback",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Interface Loopback"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/loopback-interfaces": {
      "get": {
        "description": "Placeholder for loopback interface(s) configuration.\nA loopback interface is a virtual interface that is\nalways up and support IPv4/IPv6 address configurations.",
        "operationId": "readLoopbackInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceLoopback_LoopbackInterfacesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read loopback interface(s) configurations",
        "tags": [
          "Interface Loopback"
        ],
        "x-cliParam": {
          "commandName": "readLoopbackInterfacesCmd",
          "commandUse": "loopback-interfaces",
          "parentCommand": "readCmd",
          "pathToPrint": "/loopback-interfaces/",
          "summary": "Read operation for loopback-interfaces"
        }
      }
    },
    "/network-config/v1alpha1/loopback-interfaces/{id}": {
      "get": {
        "description": "A list of loopback interface(s), each device type\nhas its own capacity defined (i.e.) the number of\ninterfaces and addresses it can support.",
        "operationId": "readLoopbackInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Unique identifier for the loopback interface.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read loopback interface configurations",
        "tags": [
          "Interface Loopback"
        ],
        "x-cliParam": {
          "commandName": "readLoopbackInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "readLoopbackInterfacesCmd",
          "pathToPrint": "/loopback-interfaces/interface/%s/",
          "summary": "Read operation for interface",
          "totParams": 1
        }
      },
      "put": {
        "description": "A list of loopback interface(s), each device type\nhas its own capacity defined (i.e.) the number of\ninterfaces and addresses it can support.",
        "operationId": "replaceLoopbackInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Unique identifier for the loopback interface.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update loopback interface configurations",
        "tags": [
          "Interface Loopback"
        ],
        "x-cliParam": {
          "commandName": "replaceLoopbackInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "replaceLoopbackInterfacesCmd",
          "pathToPrint": "/loopback-interfaces/interface/%s/",
          "summary": "Replace operation for interface",
          "totParams": 1
        }
      },
      "post": {
        "description": "A list of loopback interface(s), each device type\nhas its own capacity defined (i.e.) the number of\ninterfaces and addresses it can support.",
        "operationId": "createLoopbackInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Unique identifier for the loopback interface.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create loopback interface configurations",
        "tags": [
          "Interface Loopback"
        ],
        "x-cliParam": {
          "commandName": "createLoopbackInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "createLoopbackInterfacesCmd",
          "pathToPrint": "/loopback-interfaces/interface/%s/",
          "summary": "Create operation for interface",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A list of loopback interface(s), each device type\nhas its own capacity defined (i.e.) the number of\ninterfaces and addresses it can support.",
        "operationId": "deleteLoopbackInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Unique identifier for the loopback interface.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete loopback interface configurations",
        "tags": [
          "Interface Loopback"
        ],
        "x-cliParam": {
          "commandName": "deleteLoopbackInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "deleteLoopbackInterfacesCmd",
          "pathToPrint": "/loopback-interfaces/interface/%s/",
          "summary": "Delete operation for interface",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A list of loopback interface(s), each device type\nhas its own capacity defined (i.e.) the number of\ninterfaces and addresses it can support.",
        "operationId": "updateLoopbackInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Unique identifier for the loopback interface.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update loopback interface configurations",
        "tags": [
          "Interface Loopback"
        ],
        "x-cliParam": {
          "commandName": "updateLoopbackInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "updateLoopbackInterfacesCmd",
          "pathToPrint": "/loopback-interfaces/interface/%s/",
          "summary": "Update operation for interface",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaInterfaceCommon_UrpfCheckConfig": {
        "description": "Grouping for Unicast Reverse Path Forwarding (uRPF) configuration.",
        "properties": {
          "urpf": {
            "description": "Unicast Reverse Path Forwarding (uRPF) on the interface to prevent IP address spoofing.",
            "properties": {
              "ipv4-enable": {
                "default": "DISABLE",
                "description": "Unicast Reverse Path Forwarding (uRPF) mode on the interface to prevent IPv4 address spoofing by validating\nthe source address of incoming packets.",
                "enum": [
                  "DISABLE",
                  "STRICT",
                  "LOOSE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable source address validation on incoming packets.",
                  "LOOSE": "Incoming packets are accepted as long as the source IP address is reachable via any interface on the router.",
                  "STRICT": "Incoming packets are accepted only if they are received on the interface that the router would use to\nreach the source IP address."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Unicast Reverse Path Forwarding mode for incoming packets on the interface."
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_UrpfCheckConfigGet": {
        "description": "Grouping for Unicast Reverse Path Forwarding (uRPF) configuration.",
        "properties": {
          "urpf": {
            "description": "Unicast Reverse Path Forwarding (uRPF) on the interface to prevent IP address spoofing.",
            "properties": {
              "ipv4-enable": {
                "default": "DISABLE",
                "description": "Unicast Reverse Path Forwarding (uRPF) mode on the interface to prevent IPv4 address spoofing by validating\nthe source address of incoming packets.",
                "enum": [
                  "DISABLE",
                  "STRICT",
                  "LOOSE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable source address validation on incoming packets.",
                  "LOOSE": "Incoming packets are accepted as long as the source IP address is reachable via any interface on the router.",
                  "STRICT": "Incoming packets are accepted only if they are received on the interface that the router would use to\nreach the source IP address."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Unicast Reverse Path Forwarding mode for incoming packets on the interface."
              }
            }
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackAddressConfigDeprecated": {
        "description": "Grouping for the deprecated loopback interface(s) address configuration.",
        "properties": {
          "enable-default-link-local": {
            "description": "Enable auto-generated IPv6 link local address. Default is set to False",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipv4": {
            "description": "List of IPv4 addresses on the interface.",
            "items": {
              "properties": {
                "address": {
                  "description": "IPv4 address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "address"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ipv4-prefix": {
            "description": "Primary IPv4 address with netmask specified.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address-prefix",
            "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3])(.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){2}).((([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4])(/(30|[1-2][0-9]|[1-9])))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(/3[1-2]))))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Combination of IPv4 address with netmask for an interface."
          },
          "ipv6-address": {
            "description": "List of IPv6 addresses on the interface.",
            "items": {
              "description": "List of IPv6 addresses on the interface.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Gateway"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ipv6-addresses": {
            "description": "List of IPv6 addresses with prefix length and tag.",
            "items": {
              "properties": {
                "ipv6-address": {
                  "description": "IPv6 address with prefix length specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address-prefix",
                  "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[1-9])'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Combination of IPv6 address with prefix length for an interface."
                },
                "tag": {
                  "description": "Associate a tag with the connected route.\nThe tag helps routing functionality to avoid redistribution loops.\nDefault value is set to 0",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipv6Address"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "link-local": {
            "description": "IPv6 link local address, this will override the auto-generated link-local address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-link-local-address",
            "x-patterns": "'(fe|FE|Fe|fE)[8-9a-bA-B][0-9a-fA-F](:[0-9a-fA-F]{0,4}){0,7}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 link-local address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "secondary-ip": {
            "description": "List of secondary IPv4 addresses with netmask specified.",
            "items": {
              "description": "List of secondary IPv4 addresses with netmask specified.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address-prefix",
              "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3])(.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){2}).((([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4])(/(30|[1-2][0-9]|[1-9])))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(/3[1-2]))))'",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Combination of IPv4 address with netmask for an interface."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackAddressConfigDeprecatedGet": {
        "description": "Grouping for the deprecated loopback interface(s) address configuration.",
        "properties": {
          "enable-default-link-local": {
            "description": "Enable auto-generated IPv6 link local address. Default is set to False",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipv4": {
            "description": "List of IPv4 addresses on the interface.",
            "items": {
              "properties": {
                "address": {
                  "description": "IPv4 address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "address"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ipv4-prefix": {
            "description": "Primary IPv4 address with netmask specified.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address-prefix",
            "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3])(.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){2}).((([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4])(/(30|[1-2][0-9]|[1-9])))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(/3[1-2]))))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Combination of IPv4 address with netmask for an interface."
          },
          "ipv6-address": {
            "description": "List of IPv6 addresses on the interface.",
            "items": {
              "description": "List of IPv6 addresses on the interface.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Gateway"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ipv6-addresses": {
            "description": "List of IPv6 addresses with prefix length and tag.",
            "items": {
              "properties": {
                "ipv6-address": {
                  "description": "IPv6 address with prefix length specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address-prefix",
                  "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[1-9])'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Combination of IPv6 address with prefix length for an interface."
                },
                "tag": {
                  "description": "Associate a tag with the connected route.\nThe tag helps routing functionality to avoid redistribution loops.\nDefault value is set to 0",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipv6Address"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "link-local": {
            "description": "IPv6 link local address, this will override the auto-generated link-local address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-link-local-address",
            "x-patterns": "'(fe|FE|Fe|fE)[8-9a-bA-B][0-9a-fA-F](:[0-9a-fA-F]{0,4}){0,7}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 link-local address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "secondary-ip": {
            "description": "List of secondary IPv4 addresses with netmask specified.",
            "items": {
              "description": "List of secondary IPv4 addresses with netmask specified.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address-prefix",
              "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3])(.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){2}).((([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4])(/(30|[1-2][0-9]|[1-9])))|(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(/3[1-2]))))'",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Combination of IPv4 address with netmask for an interface."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackConfigGet": {
        "description": "Grouping for the loopback interface(s) configuration.",
        "properties": {
          "interface": {
            "description": "A list of loopback interface(s), each device type\nhas its own capacity defined (i.e.) the number of\ninterfaces and addresses it can support.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackAddressConfigDeprecatedGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackIpv4ConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackIpv6ConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_UrpfCheckConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaPimInterface_PimSparseLoopbackConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaPimInterface_PimBidirLoopbackConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description of the loopback interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "id": {
                      "description": "Unique identifier for the loopback interface.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "vrf-forwarding": {
                      "description": "Add the interface to the VRF instance uniquely identified by its name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "id"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackIpv4Config": {
        "description": "Grouping for the loopback interface(s) IPv4 configurations.",
        "properties": {
          "ipv4-config": {
            "description": "Loopback interface(s) IPv4 configurations.",
            "properties": {
              "addl-ipv4": {
                "description": "List of additional IPv4 addresses with prefix length.",
                "items": {
                  "properties": {
                    "addl-address": {
                      "description": "IPv4 address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "addl-prefix-len": {
                      "default": "32",
                      "description": "IPv4 prefix length.",
                      "format": "int32",
                      "maximum": 32,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "addlAddress"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "address": {
                "description": "IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway",
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "prefix-len": {
                "default": "32",
                "description": "IPv4 prefix length.",
                "format": "int32",
                "maximum": 32,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackIpv4ConfigGet": {
        "description": "Grouping for the loopback interface(s) IPv4 configurations.",
        "properties": {
          "ipv4-config": {
            "description": "Loopback interface(s) IPv4 configurations.",
            "properties": {
              "addl-ipv4": {
                "description": "List of additional IPv4 addresses with prefix length.",
                "items": {
                  "properties": {
                    "addl-address": {
                      "description": "IPv4 address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "addl-prefix-len": {
                      "default": "32",
                      "description": "IPv4 prefix length.",
                      "format": "int32",
                      "maximum": 32,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "addlAddress"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "address": {
                "description": "IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway",
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "prefix-len": {
                "default": "32",
                "description": "IPv4 prefix length.",
                "format": "int32",
                "maximum": 32,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackIpv6Config": {
        "description": "Grouping for the loopback interface(s) IPv6 configurations.",
        "properties": {
          "ipv6-config": {
            "description": "Loopback interface(s) IPv6 configurations.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 addresses with prefix length and tag.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "IPv6 address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "prefix-len": {
                      "default": "128",
                      "description": "IPv6 prefix length.",
                      "format": "int32",
                      "maximum": 128,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Associate a tag with the connected route.\nThe tag helps routing functionality to avoid redistribution loops.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway",
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address, this will override the auto-generated link-local address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-link-local-address",
                "x-patterns": "'(fe|FE|Fe|fE)[8-9a-bA-B][0-9a-fA-F](:[0-9a-fA-F]{0,4}){0,7}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv6 link-local address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceLoopback_IfLoopbackIpv6ConfigGet": {
        "description": "Grouping for the loopback interface(s) IPv6 configurations.",
        "properties": {
          "ipv6-config": {
            "description": "Loopback interface(s) IPv6 configurations.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 addresses with prefix length and tag.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "IPv6 address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "prefix-len": {
                      "default": "128",
                      "description": "IPv6 prefix length.",
                      "format": "int32",
                      "maximum": 128,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Associate a tag with the connected route.\nThe tag helps routing functionality to avoid redistribution loops.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway",
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address, this will override the auto-generated link-local address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-link-local-address",
                "x-patterns": "'(fe|FE|Fe|fE)[8-9a-bA-B][0-9a-fA-F](:[0-9a-fA-F]{0,4}){0,7}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv6 link-local address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaInterfaceLoopback_LoopbackInterfacesSchemaGET": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackConfigGet"
          }
        ],
        "description": "Placeholder for loopback interface(s) configuration.\nA loopback interface is a virtual interface that is\nalways up and support IPv4/IPv6 address configurations.",
        "x-supportedDeviceType": [
          "Gateway"
        ]
      },
      "ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackAddressConfigDeprecated"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackIpv4Config"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackIpv6Config"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_UrpfCheckConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaPimInterface_PimSparseLoopbackConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaPimInterface_PimBidirLoopbackConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Description of the loopback interface.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "id": {
                "description": "Unique identifier for the loopback interface.",
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            }
          }
        ]
      },
      "ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackAddressConfigDeprecatedGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackIpv4ConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceLoopback_IfLoopbackIpv6ConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_UrpfCheckConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaPimInterface_PimSparseLoopbackConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaPimInterface_PimBidirLoopbackConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "Description of the loopback interface.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "id": {
                "description": "Unique identifier for the loopback interface.",
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            }
          }
        ]
      },
      "ArubaPimInterface_Pim6SparseIfLoopbackConfig": {
        "description": "IPv6 PIM-SM protocol configuration on loopback interface.",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable IPv6 PIM-SM protocol on loopback interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_Pim6SparseIfLoopbackConfigGet": {
        "description": "IPv6 PIM-SM protocol configuration on loopback interface.",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable IPv6 PIM-SM protocol on loopback interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimBidirConfig": {
        "description": "PIM-Bidir protocol.",
        "properties": {
          "bidir-enable": {
            "default": "false",
            "description": "Enable PIM-Bidir protocol on the interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-delay": {
            "default": "5",
            "description": "Maximum time before a triggered PIM Hello message is transmitted on\nthe interface.",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-interval": {
            "default": "30",
            "description": "Interval at which PIM Hello messages are transmitted on the\ninterface.",
            "format": "int32",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lan-prune-delay": {
            "default": "true",
            "description": "LAN prune delay option on the interface for PIM Bidir.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "override-interval": {
            "default": "2500",
            "description": "Value inserted into the Override Interval field of a LAN Prune Delay\noption on the interface.",
            "format": "int32",
            "maximum": 6000,
            "minimum": 500,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "propagation-delay": {
            "default": "500",
            "description": "Value inserted into the LAN Prune Delay field of a LAN Prune Delay\noption on the interface.",
            "format": "int32",
            "maximum": 2000,
            "minimum": 250,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimBidirConfigGet": {
        "description": "PIM-Bidir protocol.",
        "properties": {
          "bidir-enable": {
            "default": "false",
            "description": "Enable PIM-Bidir protocol on the interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-delay": {
            "default": "5",
            "description": "Maximum time before a triggered PIM Hello message is transmitted on\nthe interface.",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-interval": {
            "default": "30",
            "description": "Interval at which PIM Hello messages are transmitted on the\ninterface.",
            "format": "int32",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lan-prune-delay": {
            "default": "true",
            "description": "LAN prune delay option on the interface for PIM Bidir.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "override-interval": {
            "default": "2500",
            "description": "Value inserted into the Override Interval field of a LAN Prune Delay\noption on the interface.",
            "format": "int32",
            "maximum": 6000,
            "minimum": 500,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "propagation-delay": {
            "default": "500",
            "description": "Value inserted into the LAN Prune Delay field of a LAN Prune Delay\noption on the interface.",
            "format": "int32",
            "maximum": 2000,
            "minimum": 250,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimBidirLoopbackConfig": {
        "description": "Grouping for Protocol Independent Multicast(PIM) Bidirectional\nconfig for the interface.",
        "properties": {
          "pim-bidir": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPimInterface_PimBidirConfig"
              }
            ],
            "description": "PIM Bidirectional Mode protocol configurations.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimBidirLoopbackConfigGet": {
        "description": "Grouping for Protocol Independent Multicast(PIM) Bidirectional\nconfig for the interface.",
        "properties": {
          "pim-bidir": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPimInterface_PimBidirConfigGet"
              }
            ],
            "description": "PIM Bidirectional Mode protocol configurations.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimSparseIfLoopbackConfig": {
        "description": "PIM-SM protocol on Loopback interface.",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable PIM-SM protocol on loopback interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimSparseIfLoopbackConfigGet": {
        "description": "PIM-SM protocol on Loopback interface.",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable PIM-SM protocol on loopback interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimSparseLoopbackConfig": {
        "description": "PIM-SM protocol on Loopback interface.",
        "properties": {
          "pim-sparse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPimInterface_PimSparseIfLoopbackConfig"
              }
            ],
            "description": "PIM Sparse Mode protocol for loopback interface.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "pim6-sparse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPimInterface_Pim6SparseIfLoopbackConfig"
              }
            ],
            "description": "PIM6 Sparse Mode protocol for loopback interface.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPimInterface_PimSparseLoopbackConfigGet": {
        "description": "PIM-SM protocol on Loopback interface.",
        "properties": {
          "pim-sparse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPimInterface_PimSparseIfLoopbackConfigGet"
              }
            ],
            "description": "PIM Sparse Mode protocol for loopback interface.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "pim6-sparse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPimInterface_Pim6SparseIfLoopbackConfigGet"
              }
            ],
            "description": "PIM6 Sparse Mode protocol for loopback interface.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaInterfaceLoopback_LoopbackInterfacesinterfaceSchema"
            }
          }
        },
        "description": "interfacebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
