{
  "openapi": "3.1.0",
  "info": {
    "title": "Interface Subinterface",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Interface Subinterface"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/sub-interfaces": {
      "get": {
        "description": "Sub Interfaces.",
        "operationId": "readSubInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceSubinterface_SubInterfacesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read sub-interface(s) configurations",
        "tags": [
          "Interface Subinterface"
        ],
        "x-cliParam": {
          "commandName": "readSubInterfacesCmd",
          "commandUse": "sub-interfaces",
          "parentCommand": "readCmd",
          "pathToPrint": "/sub-interfaces/",
          "summary": "Read operation for sub-interfaces"
        }
      }
    },
    "/network-config/v1alpha1/sub-interfaces/{parent-name-id}": {
      "get": {
        "description": "Sub Interface(s).\nA subinterface is a virtual interface created by dividing one physical interface\ninto multiple logical interfaces. Subinterfaces use the parent physical interface\nfor sending and receiving data.",
        "operationId": "readSubInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Key combination of id and parent-type separated by ~",
            "in": "path",
            "name": "parent-name-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceSubinterface_SubInterfacesinterfaceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read sub-interface configurations",
        "tags": [
          "Interface Subinterface"
        ],
        "x-cliParam": {
          "commandName": "readSubInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "parent-name-id"
            }
          ],
          "parentCommand": "readSubInterfacesCmd",
          "pathToPrint": "/sub-interfaces/interface/%s/",
          "summary": "Read operation for interface",
          "totParams": 1
        }
      },
      "put": {
        "description": "Sub Interface(s).\nA subinterface is a virtual interface created by dividing one physical interface\ninto multiple logical interfaces. Subinterfaces use the parent physical interface\nfor sending and receiving data.",
        "operationId": "replaceSubInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Key combination of id and parent-type separated by ~",
            "in": "path",
            "name": "parent-name-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceSubinterface_SubInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update sub-interface configurations",
        "tags": [
          "Interface Subinterface"
        ],
        "x-cliParam": {
          "commandName": "replaceSubInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "parent-name-id"
            }
          ],
          "parentCommand": "replaceSubInterfacesCmd",
          "pathToPrint": "/sub-interfaces/interface/%s/",
          "summary": "Replace operation for interface",
          "totParams": 1
        }
      },
      "post": {
        "description": "Sub Interface(s).\nA subinterface is a virtual interface created by dividing one physical interface\ninto multiple logical interfaces. Subinterfaces use the parent physical interface\nfor sending and receiving data.",
        "operationId": "createSubInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Key combination of id and parent-type separated by ~",
            "in": "path",
            "name": "parent-name-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceSubinterface_SubInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create sub-interface configurations",
        "tags": [
          "Interface Subinterface"
        ],
        "x-cliParam": {
          "commandName": "createSubInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "parent-name-id"
            }
          ],
          "parentCommand": "createSubInterfacesCmd",
          "pathToPrint": "/sub-interfaces/interface/%s/",
          "summary": "Create operation for interface",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Sub Interface(s).\nA subinterface is a virtual interface created by dividing one physical interface\ninto multiple logical interfaces. Subinterfaces use the parent physical interface\nfor sending and receiving data.",
        "operationId": "deleteSubInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Key combination of id and parent-type separated by ~",
            "in": "path",
            "name": "parent-name-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete sub-interface configurations",
        "tags": [
          "Interface Subinterface"
        ],
        "x-cliParam": {
          "commandName": "deleteSubInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "parent-name-id"
            }
          ],
          "parentCommand": "deleteSubInterfacesCmd",
          "pathToPrint": "/sub-interfaces/interface/%s/",
          "summary": "Delete operation for interface",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Sub Interface(s).\nA subinterface is a virtual interface created by dividing one physical interface\ninto multiple logical interfaces. Subinterfaces use the parent physical interface\nfor sending and receiving data.",
        "operationId": "updateSubInterfacesInterfaceByID",
        "parameters": [
          {
            "description": "Key combination of id and parent-type separated by ~",
            "in": "path",
            "name": "parent-name-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceSubinterface_SubInterfacesinterfaceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update sub-interface configurations",
        "tags": [
          "Interface Subinterface"
        ],
        "x-cliParam": {
          "commandName": "updateSubInterfacesInterfaceCmd",
          "commandUse": "interface",
          "paramKeys": [
            {
              "key": "parent-name-id"
            }
          ],
          "parentCommand": "updateSubInterfacesCmd",
          "pathToPrint": "/sub-interfaces/interface/%s/",
          "summary": "Update operation for interface",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDhcpRelay_Ipv4RelayIf": {
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "ipv4-relay": {
            "description": "DHCPv4 Relay Configurations",
            "properties": {
              "bootp-gateway": {
                "description": "Provides a way to configure a gateway address for the DHCPv4 relay agent to use\nfor DHCP requests. DHCPv4 relay agent uses lowest IP address on the interface,\nwithout this configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "server": {
                "description": "List of DHCPv4 servers.",
                "items": {
                  "properties": {
                    "ip-vrf": {
                      "description": "Key combination of ip and vrf separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "ipVrf"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway",
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv4RelayIfGet": {
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "ipv4-relay": {
            "description": "DHCPv4 Relay Configurations",
            "properties": {
              "bootp-gateway": {
                "description": "Provides a way to configure a gateway address for the DHCPv4 relay agent to use\nfor DHCP requests. DHCPv4 relay agent uses lowest IP address on the interface,\nwithout this configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "server": {
                "description": "List of DHCPv4 servers.",
                "items": {
                  "properties": {
                    "ip-vrf": {
                      "description": "Key combination of ip and vrf separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "ipVrf"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway",
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv6RelayIf": {
        "description": "Grouping for DHCPv6 Relay Configurations"
      },
      "ArubaDhcpRelay_Ipv6RelayIfGet": {
        "description": "Grouping for DHCPv6 Relay Configurations"
      },
      "ArubaInterfaceCommon_AccessListPolicies": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_AccessListPoliciesGet": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_IpConfig": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_IpConfigGet": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_Ipv4Config": {
        "description": "Grouping for IPv4 config.",
        "properties": {
          "ipv4": {
            "description": "IPv4 configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "address": {
                "description": "Set an IPv4 address (static) or enable DHCPv4 client (dynamic).",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "dhcp-client-id": {
                "description": "DHCP client identifier, applicable only when address field is configured as DHCP client.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv4 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "filter-broadcast-helper": {
                "default": "false",
                "description": "Filter DHCP broadcast packets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "forwarding": {
                "default": "true",
                "description": "IPv4 Forwarding.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper-address": {
                "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                "items": {
                  "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 16,
                "type": "array"
              },
              "nat-inside": {
                "default": "false",
                "description": "NAT inside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "nat-outside": {
                "default": "false",
                "description": "NAT outside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "proxy-arp": {
                "description": "Enable proxy ARP.\nPossible values:\nCLIENT: Enables proxy ARP in CLIENT mode.\n        Gateway responds to ARP requests with client's MAC address.\nGATEWAY: Enables proxy ARP in GATEWAY mode.\n         Gateway responds to ARP requests with its own MAC address.",
                "enum": [
                  "GATEWAY",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CLIENT": "Gateway responds to ARP requests with client's MAC address.",
                  "GATEWAY": "Gateway responds to ARP requests with its own MAC address."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Proxy ARP modes."
              },
              "route-redistribute": {
                "default": "false",
                "description": "Redistribute the connected route to ORO.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "secondary-ip": {
                "description": "List of secondary IPv4 addresses with netmask specified.",
                "items": {
                  "description": "List of secondary IPv4 addresses with netmask specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "suppress-arp": {
                "default": "true",
                "description": "Suppress Address Resolution Protocol (ARP), when enabled the device will stop the flooding of unknown\nrequests to other nodes in the same VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv4ConfigGet": {
        "description": "Grouping for IPv4 config.",
        "properties": {
          "ipv4": {
            "description": "IPv4 configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "address": {
                "description": "Set an IPv4 address (static) or enable DHCPv4 client (dynamic).",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "dhcp-client-id": {
                "description": "DHCP client identifier, applicable only when address field is configured as DHCP client.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv4 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "filter-broadcast-helper": {
                "default": "false",
                "description": "Filter DHCP broadcast packets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "forwarding": {
                "default": "true",
                "description": "IPv4 Forwarding.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper-address": {
                "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                "items": {
                  "description": "This list is now deprecated. Please use the configuration from aruba-dhcp-relay.yang.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 16,
                "type": "array"
              },
              "nat-inside": {
                "default": "false",
                "description": "NAT inside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "nat-outside": {
                "default": "false",
                "description": "NAT outside for all routed traffic.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "proxy-arp": {
                "description": "Enable proxy ARP.\nPossible values:\nCLIENT: Enables proxy ARP in CLIENT mode.\n        Gateway responds to ARP requests with client's MAC address.\nGATEWAY: Enables proxy ARP in GATEWAY mode.\n         Gateway responds to ARP requests with its own MAC address.",
                "enum": [
                  "GATEWAY",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CLIENT": "Gateway responds to ARP requests with client's MAC address.",
                  "GATEWAY": "Gateway responds to ARP requests with its own MAC address."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Proxy ARP modes."
              },
              "route-redistribute": {
                "default": "false",
                "description": "Redistribute the connected route to ORO.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "secondary-ip": {
                "description": "List of secondary IPv4 addresses with netmask specified.",
                "items": {
                  "description": "List of secondary IPv4 addresses with netmask specified.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "suppress-arp": {
                "default": "true",
                "description": "Suppress Address Resolution Protocol (ARP), when enabled the device will stop the flooding of unknown\nrequests to other nodes in the same VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv6Config": {
        "description": "Grouping for IPv6 configurations.",
        "properties": {
          "ipv6": {
            "description": "IPv6 configurations. This configuration is valid only on a layer3 interface.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 Addresses.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        },
                        {
                          "enum": [
                            "DHCP",
                            "DHCP_FULL",
                            "DHCP_FULL_RAPID_COMMIT",
                            "NO_DHCP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DHCP": "Dynamic Host Configuration Protocol.",
                            "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                            "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                            "NO_DHCP": "Dynamic Host Configuration Protocol."
                          },
                          "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "eui64": {
                      "default": "false",
                      "description": "IPv6 address in the EUI-64 bit format. This config cannot be set when IPv6 DHCP client is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Route tag for connected routes.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "dhcp-pool-name": {
                "description": "The IPv6 DHCP pool name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv6 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "enable": {
                "default": "false",
                "description": "Enable IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "default": "false",
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-multicast-helper": {
                "default": "false",
                "description": "Filteration of DHCP multicast\npackets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper": {
                "description": "The IPv6 helper. At least one IPv6 address should be configured to enable helper.\nIf PD mode is enabled on this interface, it cannot co-exist with helper configurations.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 helper address. Source field is mandatory since multiple IPv6 addresses exist.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "source": {
                      "description": "The IPv6 helper source interface address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "pd-address": {
                "description": "The IPv6 PD based name and subnet/host ID. Maximum count(3) of configurable IPv6 addresses\nand cannot co-exist with PD based address configurations.",
                "properties": {
                  "pd-address-name": {
                    "description": "The IPv6 PD Name and the PD subnet/host ID is required.",
                    "format": "const",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string"
                  },
                  "subnet-host-id": {
                    "description": "The IPv6 PD subnet and host Identifier. The PD based name is required.",
                    "format": "const",
                    "maxLength": 48,
                    "minLength": 3,
                    "type": "string"
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "pd-client-name": {
                "description": "Prefix delegation client name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prefix-delegation-mode": {
                "description": "Prefix delegation mode. If an IPv6 helper address configured on this interface,\nit cannot co-exist with powered device (PD) configurations.",
                "enum": [
                  "ADDRESS",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS": "Prefix delegation address identifier.",
                  "CLIENT": "Prefix delegation client."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Prefix delegation modes."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Ipv6ConfigGet": {
        "description": "Grouping for IPv6 configurations.",
        "properties": {
          "ipv6": {
            "description": "IPv6 configurations. This configuration is valid only on a layer3 interface.",
            "properties": {
              "addresses": {
                "description": "List of IPv6 Addresses.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        },
                        {
                          "enum": [
                            "DHCP",
                            "DHCP_FULL",
                            "DHCP_FULL_RAPID_COMMIT",
                            "NO_DHCP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DHCP": "Dynamic Host Configuration Protocol.",
                            "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                            "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                            "NO_DHCP": "Dynamic Host Configuration Protocol."
                          },
                          "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "eui64": {
                      "default": "false",
                      "description": "IPv6 address in the EUI-64 bit format. This config cannot be set when IPv6 DHCP client is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tag": {
                      "default": "0",
                      "description": "Route tag for connected routes.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic IPv6 address configuration based on IPv6 RA advertisements.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "dhcp-pool-name": {
                "description": "The IPv6 DHCP pool name.",
                "format": "const",
                "maxLength": 127,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcps-profile-name": {
                "description": "Server profile name configured with DHCPv6 pools.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-dhcp-server:dhcp-server/ac-dhcp-server:profile/ac-dhcp-server:name"
              },
              "enable": {
                "default": "false",
                "description": "Enable IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "enable-default-link-local": {
                "default": "false",
                "description": "Enable auto-generated IPv6 link local address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-multicast-helper": {
                "default": "false",
                "description": "Filteration of DHCP multicast\npackets when helper address is configured.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "helper": {
                "description": "The IPv6 helper. At least one IPv6 address should be configured to enable helper.\nIf PD mode is enabled on this interface, it cannot co-exist with helper configurations.",
                "items": {
                  "properties": {
                    "address": {
                      "description": "The IPv6 helper address. Source field is mandatory since multiple IPv6 addresses exist.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "source": {
                      "description": "The IPv6 helper source interface address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "link-local": {
                "description": "IPv6 link local address configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "pd-address": {
                "description": "The IPv6 PD based name and subnet/host ID. Maximum count(3) of configurable IPv6 addresses\nand cannot co-exist with PD based address configurations.",
                "properties": {
                  "pd-address-name": {
                    "description": "The IPv6 PD Name and the PD subnet/host ID is required.",
                    "format": "const",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string"
                  },
                  "subnet-host-id": {
                    "description": "The IPv6 PD subnet and host Identifier. The PD based name is required.",
                    "format": "const",
                    "maxLength": 48,
                    "minLength": 3,
                    "type": "string"
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "pd-client-name": {
                "description": "Prefix delegation client name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prefix-delegation-mode": {
                "description": "Prefix delegation mode. If an IPv6 helper address configured on this interface,\nit cannot co-exist with powered device (PD) configurations.",
                "enum": [
                  "ADDRESS",
                  "CLIENT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS": "Prefix delegation address identifier.",
                  "CLIENT": "Prefix delegation client."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Prefix delegation modes."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_NdmdConfig": {
        "description": "Neighbor Discovery Manager parameters.",
        "properties": {
          "arp": {
            "description": "Neighbor Discovery Manager parameters for ipv4.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv4 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticArpConfig"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "process-grat": {
                "default": "true",
                "description": "Process gratuitous ARP packet.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "proxy": {
                "default": "false",
                "description": "Proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "ARP timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 30,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd": {
            "description": "Neighbor Discovery Manager parameters for ipv6.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ND.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv6 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticNeighborConfig"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "Neighbor timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 10,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_NdmdConfigGet": {
        "description": "Neighbor Discovery Manager parameters.",
        "properties": {
          "arp": {
            "description": "Neighbor Discovery Manager parameters for ipv4.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv4 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticArpConfigGet"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "process-grat": {
                "default": "true",
                "description": "Process gratuitous ARP packet.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "proxy": {
                "default": "false",
                "description": "Proxy ARP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "ARP timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 30,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd": {
            "description": "Neighbor Discovery Manager parameters for ipv6.",
            "properties": {
              "local-proxy": {
                "default": "false",
                "description": "Local proxy ND.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "neighbor": {
                "description": "Static IPv6 neighbor entry.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaInterfaceCommon_StaticNeighborConfigGet"
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "address"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "timeout": {
                "default": "1800",
                "description": "Neighbor timeout.",
                "format": "int64",
                "maximum": 28800,
                "minimum": 10,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_PolicyReferenceGroup": {
        "description": "Grouping for policy references.",
        "properties": {
          "policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaInterfaceCommon_AccessListPolicies"
              }
            ],
            "description": "Container for Policy References.",
            "properties": {
              "access-group-in": {
                "description": "Policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-out": {
                "description": "Policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-session": {
                "description": "Session based policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "access-group-vlan-in": {
                "description": "Policy for inbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "access-group-vlan-out": {
                "description": "Policy for outbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "service-policy-in": {
                "description": "Service policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "service-policy-out": {
                "description": "Service policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_PolicyReferenceGroupGet": {
        "description": "Grouping for policy references.",
        "properties": {
          "policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaInterfaceCommon_AccessListPoliciesGet"
              }
            ],
            "description": "Container for Policy References.",
            "properties": {
              "access-group-in": {
                "description": "Policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-out": {
                "description": "Policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "access-group-session": {
                "description": "Session based policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "access-group-vlan-in": {
                "description": "Policy for inbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "access-group-vlan-out": {
                "description": "Policy for outbound routed and bridged traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "service-policy-in": {
                "description": "Service policy for inbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "service-policy-out": {
                "description": "Service policy for outbound traffic.",
                "format": "const",
                "maxLength": 145,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_StaticArpConfig": {
        "description": "Static ARP configuration",
        "properties": {
          "address": {
            "description": "IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "mac-address": {
            "description": "MAC address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaInterfaceCommon_StaticArpConfigGet": {
        "description": "Static ARP configuration",
        "properties": {
          "address": {
            "description": "IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "mac-address": {
            "description": "MAC address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaInterfaceCommon_StaticNeighborConfig": {
        "description": "Static IPv6 Neighbor configuration",
        "properties": {
          "address": {
            "description": "IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "mac-address": {
            "description": "MAC address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaInterfaceCommon_StaticNeighborConfigGet": {
        "description": "Static IPv6 Neighbor configuration",
        "properties": {
          "address": {
            "description": "IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "mac-address": {
            "description": "MAC address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaInterfaceCommon_TcpMssConfig": {
        "description": "IPv4 and IPv6 TCP Maximum Segment Size (MSS) Configurations.",
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaInterfaceCommon_TcpMssConfigGet": {
        "description": "IPv4 and IPv6 TCP Maximum Segment Size (MSS) Configurations.",
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaInterfaceCommon_UrpfCheckConfig": {
        "description": "Grouping for Unicast Reverse Path Forwarding (uRPF) configuration.",
        "properties": {
          "urpf": {
            "description": "Unicast Reverse Path Forwarding (uRPF) on the interface to prevent IP address spoofing.",
            "properties": {
              "ipv4-enable": {
                "default": "DISABLE",
                "description": "Unicast Reverse Path Forwarding (uRPF) mode on the interface to prevent IPv4 address spoofing by validating\nthe source address of incoming packets.",
                "enum": [
                  "DISABLE",
                  "STRICT",
                  "LOOSE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable source address validation on incoming packets.",
                  "LOOSE": "Incoming packets are accepted as long as the source IP address is reachable via any interface on the router.",
                  "STRICT": "Incoming packets are accepted only if they are received on the interface that the router would use to\nreach the source IP address."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Unicast Reverse Path Forwarding mode for incoming packets on the interface."
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_UrpfCheckConfigGet": {
        "description": "Grouping for Unicast Reverse Path Forwarding (uRPF) configuration.",
        "properties": {
          "urpf": {
            "description": "Unicast Reverse Path Forwarding (uRPF) on the interface to prevent IP address spoofing.",
            "properties": {
              "ipv4-enable": {
                "default": "DISABLE",
                "description": "Unicast Reverse Path Forwarding (uRPF) mode on the interface to prevent IPv4 address spoofing by validating\nthe source address of incoming packets.",
                "enum": [
                  "DISABLE",
                  "STRICT",
                  "LOOSE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable source address validation on incoming packets.",
                  "LOOSE": "Incoming packets are accepted as long as the source IP address is reachable via any interface on the router.",
                  "STRICT": "Incoming packets are accepted only if they are received on the interface that the router would use to\nreach the source IP address."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Unicast Reverse Path Forwarding mode for incoming packets on the interface."
              }
            }
          }
        }
      },
      "ArubaInterfaceSubinterface_IfSubinterfaceConfigGet": {
        "description": "Grouping for subinterface.",
        "properties": {
          "interface": {
            "description": "Sub Interface(s).\nA subinterface is a virtual interface created by dividing one physical interface\ninto multiple logical interfaces. Subinterfaces use the parent physical interface\nfor sending and receiving data.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_UrpfCheckConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_IpConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_NdmdConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv4ConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv6ConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_TcpMssConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaInterfaceCommon_PolicyReferenceGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaRouterDiscovery_Ipv4RouterDiscoveryGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaRouterDiscovery_Ipv6NeighborDiscoveryGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv4RelayIfGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv6RelayIfGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaUdpBroadcastForwarder_UdpBroadcastForwarderServerGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaPimInterface_PimIfDeviceConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaMgmdInterface_MgmdIfConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description of the interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable the interface.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "encapsulation-vlan-id": {
                      "description": "IEEE 802.1Q VLAN encapsulation identifier.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "parent-name-id": {
                      "description": "Key combination of id and parent-type separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "routing": {
                      "description": "Enable routing on the interface to make it layer-3 capable.",
                      "type": "boolean"
                    },
                    "vrf-forwarding": {
                      "description": "Add the interface to the VRF instance uniquely identified by its name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    },
                    "vrrp": {
                      "description": "IPv4 and IPv6 VRRP Configurations",
                      "properties": {
                        "vrrp-profile-apply": {
                          "description": "Apply VRRP-interface profile on an interface.",
                          "format": "const",
                          "maxLength": 255,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-vrrp-intf:vrrp/ac-vrrp-intf:profile/ac-vrrp-intf:name",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "parentNameId"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceSubinterface_SubInterfacesSchemaGET": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceSubinterface_IfSubinterfaceConfigGet"
          }
        ],
        "description": "Sub Interfaces."
      },
      "ArubaInterfaceSubinterface_SubInterfacesinterfaceSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_UrpfCheckConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_NdmdConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv4Config"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv6Config"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_TcpMssConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PolicyReferenceGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaRouterDiscovery_Ipv4RouterDiscovery"
          },
          {
            "$ref": "#/components/schemas/ArubaRouterDiscovery_Ipv6NeighborDiscovery"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv4RelayIf"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpRelay_Ipv6RelayIf"
          },
          {
            "$ref": "#/components/schemas/ArubaUdpBroadcastForwarder_UdpBroadcastForwarderServer"
          },
          {
            "$ref": "#/components/schemas/ArubaPimInterface_PimIfDeviceConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmdInterface_MgmdIfConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Description of the interface.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "encapsulation-vlan-id": {
                "description": "IEEE 802.1Q VLAN encapsulation identifier.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "parent-name-id": {
                "description": "Key combination of id and parent-type separated by ~",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "routing": {
                "description": "Enable routing on the interface to make it layer-3 capable.",
                "type": "boolean"
              },
              "vrf-forwarding": {
                "description": "Add the interface to the VRF instance uniquely identified by its name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              },
              "vrrp": {
                "description": "IPv4 and IPv6 VRRP Configurations",
                "properties": {
                  "vrrp-profile-apply": {
                    "description": "Apply VRRP-interface profile on an interface.",
                    "format": "const",
                    "maxLength": 255,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-vrrp-intf:vrrp/ac-vrrp-intf:profile/ac-vrrp-intf:name",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
[...]
