{
  "openapi": "3.1.0",
  "info": {
    "title": "Interface Management",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Interface Management"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/mgmt-interfaces": {
      "get": {
        "description": "Configuration for the Management Interface.\nThe device is configured or monitored through the\nManagement interface on mgmt VRF. All management\ntraffic such as device ssh, snmp, tftp and so on,\ngoes through the Management interface.",
        "operationId": "readMgmtInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceManagement_MgmtInterfacesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read Management interface configurations",
        "tags": [
          "Interface Management"
        ],
        "x-cliParam": {
          "commandName": "readMgmtInterfacesCmd",
          "commandUse": "mgmt-interfaces",
          "parentCommand": "readCmd",
          "pathToPrint": "/mgmt-interfaces/",
          "summary": "Read operation for mgmt-interfaces"
        }
      }
    },
    "/network-config/v1alpha1/mgmt-interfaces/{name}": {
      "get": {
        "description": "Global profile for Management interface configurations",
        "operationId": "readMgmtInterfacesProfileByID",
        "parameters": [
          {
            "description": "Management interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceManagement_MgmtInterfacesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile for Management interface configurations",
        "tags": [
          "Interface Management"
        ],
        "x-cliParam": {
          "commandName": "readMgmtInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMgmtInterfacesCmd",
          "pathToPrint": "/mgmt-interfaces/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Global profile for Management interface configurations",
        "operationId": "replaceMgmtInterfacesProfileByID",
        "parameters": [
          {
            "description": "Management interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceManagement_MgmtInterfacesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update profile for Management interface configurations",
        "tags": [
          "Interface Management"
        ],
        "x-cliParam": {
          "commandName": "replaceMgmtInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMgmtInterfacesCmd",
          "pathToPrint": "/mgmt-interfaces/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Global profile for Management interface configurations",
        "operationId": "createMgmtInterfacesProfileByID",
        "parameters": [
          {
            "description": "Management interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceManagement_MgmtInterfacesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile for Management interface configurations",
        "tags": [
          "Interface Management"
        ],
        "x-cliParam": {
          "commandName": "createMgmtInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMgmtInterfacesCmd",
          "pathToPrint": "/mgmt-interfaces/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Global profile for Management interface configurations",
        "operationId": "deleteMgmtInterfacesProfileByID",
        "parameters": [
          {
            "description": "Management interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile for Management interface configurations",
        "tags": [
          "Interface Management"
        ],
        "x-cliParam": {
          "commandName": "deleteMgmtInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMgmtInterfacesCmd",
          "pathToPrint": "/mgmt-interfaces/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Global profile for Management interface configurations",
        "operationId": "updateMgmtInterfacesProfileByID",
        "parameters": [
          {
            "description": "Management interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceManagement_MgmtInterfacesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile for Management interface configurations",
        "tags": [
          "Interface Management"
        ],
        "x-cliParam": {
          "commandName": "updateMgmtInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMgmtInterfacesCmd",
          "pathToPrint": "/mgmt-interfaces/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaInterfaceCommon_IpConfig": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceCommon_IpConfigGet": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaInterfaceManagement_IfMgmtConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpConfig"
          }
        ],
        "description": "Grouping for the Management Interface",
        "properties": {
          "anycast": {
            "description": "IPv6 anycast address.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "autoconfig": {
            "default": "false",
            "description": "Enable Automatic IPv6 address configuration",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "default-gateway-ipv4": {
            "description": "IPv4 address of the default gateway.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "default-gateway-ipv4-alias": {
            "description": "Alias for IPv4 address of the default gateway.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "default-gateway-ipv6": {
            "description": "IPv6 address of the default gateway.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "default-gateway-ipv6-alias": {
            "description": "Alias for IPv6 address of the default gateway.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "dhcp-client": {
            "description": "Enable DHCPv4/DHCPv6 Client.\nEnables DHCPv4 when static IPv4 address is not configured.\nEnables DHCPv6 when static IPv6 address is not configured.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "description": "Enable the Management Interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ]
          },
          "eui64": {
            "description": "IPv6 address in the EUI-64 bit format.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ipv4-static": {
            "description": "Static IPv4 Address in format X.X.X.X/M.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "ipv6-dhcp-rapid-commit": {
            "description": "Enable IPv6 address rapid-commit.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ipv6-enable": {
            "description": "Enable IPv6 on the management interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ipv6-static": {
            "description": "Static IPv6 Address in format X:X::X:X/M.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "lldp-oper-mode": {
            "description": "Set LLDP operational mode.",
            "enum": [
              "TX_ONLY",
              "RX_ONLY",
              "TX_RX",
              "DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DISABLE": "Disable both transmit and receive for LLDP(Link Layer Discovery Protocol) packets.",
              "RX_ONLY": "Enable interface to only receive LLDP(Link Layer Discovery Protocol)\npackets.LLDP packets will not be transmitted",
              "TX_ONLY": "Enable interface to only transmit LLDP(Link Layer Discovery Protocol)\npackets.LLDP packets receive will not work",
              "TX_RX": "Enable interface to both transmit and receive LLDP(Link Layer Discovery Protocol) packets."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "LLDP operational mode on this interface."
          },
          "lldp-trap": {
            "default": "true",
            "description": "Enable SNMP traps for LLDP events.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "member": {
            "description": "This list is now deprecated. Please use the oobm member related configuartion in aruba-switch-stack.yang.",
            "items": {
              "properties": {
                "anycast": {
                  "description": "IPv6 anycast address.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "autoconfig": {
                  "default": "false",
                  "description": "Enable automatic address configuration.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "default-gateway-ipv4": {
                  "description": "IPv4 address of the default gateway.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "default-gateway-ipv6": {
                  "description": "IPv6 address of the default gateway.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "enable": {
                  "description": "Enable the management interface.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "eui64": {
                  "default": "false",
                  "description": "IPv6 address in the EUI-64 bit format.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ipv4-address": {
                  "description": "IPv4 address using static or dynamic method.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-prefix",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                      "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                    },
                    {
                      "enum": [
                        "DHCP",
                        "PPPOE",
                        "NO_DHCP",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DHCP": "Dynamic Host Configuration Protocol.",
                        "NONE": "Client/address is not configured.",
                        "NO_DHCP": "Dynamic Host Configuration Protocol.",
                        "PPPOE": "Point-to-point Protocol over Ethernet."
                      },
                      "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ipv6-address": {
                  "description": "IPv6 address using static or dynamic method.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-prefix",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                      "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                    },
                    {
                      "enum": [
                        "DHCP",
                        "DHCP_FULL",
                        "DHCP_FULL_RAPID_COMMIT",
                        "NO_DHCP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DHCP": "Dynamic Host Configuration Protocol.",
                        "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                        "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                        "NO_DHCP": "Dynamic Host Configuration Protocol."
                      },
                      "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ipv6-enable": {
                  "description": "Enable IPv6 on the management interface.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "link-local": {
                  "description": "IPv6 link local address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "member-id": {
                  "description": "Stack member-id.",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "speed-duplex": {
                  "description": "The speed and duplex mode for the management interface.",
                  "enum": [
                    "HALF_10MB",
                    "FULL_10MB",
                    "HALF_100MB",
                    "FULL_100MB",
                    "FULL_1GB",
                    "AUTO"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Auto Negotiation for speed and duplex mode.",
                    "FULL_100MB": "100 Mbps, full duplex.",
                    "FULL_10MB": "10 Mbps, full duplex.",
                    "FULL_1GB": "1 Gbps, full duplex.",
                    "HALF_100MB": "100 Mbps, half duplex.",
                    "HALF_10MB": "10 Mbps, half duplex."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "The speed and duplex mode for the management interface."
                },
                "vsf-mode": {
                  "description": "Indicates configuration is for 5400R VSF.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "memberId"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ntp-ipv6-multicast": {
            "description": "The interface to listen to the NTP multicast packets.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "primary-nameserver-ipv4": {
            "description": "IPv4 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "primary-nameserver-ipv4-alias": {
            "description": "Alias for IPv4 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "primary-nameserver-ipv6": {
            "description": "IPv6 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "primary-nameserver-ipv6-alias": {
            "description": "Alias for IPv6 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "secondary-nameserver-ipv4": {
            "description": "IPv4 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "secondary-nameserver-ipv4-alias": {
            "description": "Alias for IPv4 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "secondary-nameserver-ipv6": {
            "description": "IPv6 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "secondary-nameserver-ipv6-alias": {
            "description": "Alias for IPv6 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "speed-duplex": {
            "description": "The speed and duplex mode for the management interface.",
            "enum": [
              "HALF_10MB",
              "FULL_10MB",
              "HALF_100MB",
              "FULL_100MB",
              "FULL_1GB",
              "AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Auto Negotiation for speed and duplex mode.",
              "FULL_100MB": "100 Mbps, full duplex.",
              "FULL_10MB": "10 Mbps, full duplex.",
              "FULL_1GB": "1 Gbps, full duplex.",
              "HALF_100MB": "100 Mbps, half duplex.",
              "HALF_10MB": "10 Mbps, half duplex."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The speed and duplex mode for the management interface."
          },
          "vlan-tag": {
            "description": "Management VLAN Tag ID.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaInterfaceManagement_IfMgmtConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpConfigGet"
          }
        ],
        "description": "Grouping for the Management Interface",
        "properties": {
          "anycast": {
            "description": "IPv6 anycast address.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "autoconfig": {
            "default": "false",
            "description": "Enable Automatic IPv6 address configuration",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "default-gateway-ipv4": {
            "description": "IPv4 address of the default gateway.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "default-gateway-ipv4-alias": {
            "description": "Alias for IPv4 address of the default gateway.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "default-gateway-ipv6": {
            "description": "IPv6 address of the default gateway.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "default-gateway-ipv6-alias": {
            "description": "Alias for IPv6 address of the default gateway.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "dhcp-client": {
            "description": "Enable DHCPv4/DHCPv6 Client.\nEnables DHCPv4 when static IPv4 address is not configured.\nEnables DHCPv6 when static IPv6 address is not configured.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "description": "Enable the Management Interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ]
          },
          "eui64": {
            "description": "IPv6 address in the EUI-64 bit format.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ipv4-static": {
            "description": "Static IPv4 Address in format X.X.X.X/M.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "ipv6-dhcp-rapid-commit": {
            "description": "Enable IPv6 address rapid-commit.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ipv6-enable": {
            "description": "Enable IPv6 on the management interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ipv6-static": {
            "description": "Static IPv6 Address in format X:X::X:X/M.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "lldp-oper-mode": {
            "description": "Set LLDP operational mode.",
            "enum": [
              "TX_ONLY",
              "RX_ONLY",
              "TX_RX",
              "DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DISABLE": "Disable both transmit and receive for LLDP(Link Layer Discovery Protocol) packets.",
              "RX_ONLY": "Enable interface to only receive LLDP(Link Layer Discovery Protocol)\npackets.LLDP packets will not be transmitted",
              "TX_ONLY": "Enable interface to only transmit LLDP(Link Layer Discovery Protocol)\npackets.LLDP packets receive will not work",
              "TX_RX": "Enable interface to both transmit and receive LLDP(Link Layer Discovery Protocol) packets."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "LLDP operational mode on this interface."
          },
          "lldp-trap": {
            "default": "true",
            "description": "Enable SNMP traps for LLDP events.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "member": {
            "description": "This list is now deprecated. Please use the oobm member related configuartion in aruba-switch-stack.yang.",
            "items": {
              "properties": {
                "anycast": {
                  "description": "IPv6 anycast address.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "autoconfig": {
                  "default": "false",
                  "description": "Enable automatic address configuration.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "default-gateway-ipv4": {
                  "description": "IPv4 address of the default gateway.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "default-gateway-ipv6": {
                  "description": "IPv6 address of the default gateway.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "enable": {
                  "description": "Enable the management interface.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "eui64": {
                  "default": "false",
                  "description": "IPv6 address in the EUI-64 bit format.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ipv4-address": {
                  "description": "IPv4 address using static or dynamic method.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-prefix",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                      "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                    },
                    {
                      "enum": [
                        "DHCP",
                        "PPPOE",
                        "NO_DHCP",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DHCP": "Dynamic Host Configuration Protocol.",
                        "NONE": "Client/address is not configured.",
                        "NO_DHCP": "Dynamic Host Configuration Protocol.",
                        "PPPOE": "Point-to-point Protocol over Ethernet."
                      },
                      "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ipv6-address": {
                  "description": "IPv6 address using static or dynamic method.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-prefix",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                      "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                    },
                    {
                      "enum": [
                        "DHCP",
                        "DHCP_FULL",
                        "DHCP_FULL_RAPID_COMMIT",
                        "NO_DHCP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DHCP": "Dynamic Host Configuration Protocol.",
                        "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                        "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                        "NO_DHCP": "Dynamic Host Configuration Protocol."
                      },
                      "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ipv6-enable": {
                  "description": "Enable IPv6 on the management interface.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "link-local": {
                  "description": "IPv6 link local address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "member-id": {
                  "description": "Stack member-id.",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "speed-duplex": {
                  "description": "The speed and duplex mode for the management interface.",
                  "enum": [
                    "HALF_10MB",
                    "FULL_10MB",
                    "HALF_100MB",
                    "FULL_100MB",
                    "FULL_1GB",
                    "AUTO"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Auto Negotiation for speed and duplex mode.",
                    "FULL_100MB": "100 Mbps, full duplex.",
                    "FULL_10MB": "10 Mbps, full duplex.",
                    "FULL_1GB": "1 Gbps, full duplex.",
                    "HALF_100MB": "100 Mbps, half duplex.",
                    "HALF_10MB": "10 Mbps, half duplex."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "The speed and duplex mode for the management interface."
                },
                "vsf-mode": {
                  "description": "Indicates configuration is for 5400R VSF.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "memberId"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ntp-ipv6-multicast": {
            "description": "The interface to listen to the NTP multicast packets.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "primary-nameserver-ipv4": {
            "description": "IPv4 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "primary-nameserver-ipv4-alias": {
            "description": "Alias for IPv4 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "primary-nameserver-ipv6": {
            "description": "IPv6 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "primary-nameserver-ipv6-alias": {
            "description": "Alias for IPv6 address of the primary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "secondary-nameserver-ipv4": {
            "description": "IPv4 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "secondary-nameserver-ipv4-alias": {
            "description": "Alias for IPv4 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "secondary-nameserver-ipv6": {
            "description": "IPv6 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "secondary-nameserver-ipv6-alias": {
            "description": "Alias for IPv6 address of the secondary nameserver.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "speed-duplex": {
            "description": "The speed and duplex mode for the management interface.",
            "enum": [
              "HALF_10MB",
              "FULL_10MB",
              "HALF_100MB",
              "FULL_100MB",
              "FULL_1GB",
              "AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Auto Negotiation for speed and duplex mode.",
              "FULL_100MB": "100 Mbps, full duplex.",
              "FULL_10MB": "10 Mbps, full duplex.",
              "FULL_1GB": "1 Gbps, full duplex.",
              "HALF_100MB": "100 Mbps, half duplex.",
              "HALF_10MB": "10 Mbps, half duplex."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The speed and duplex mode for the management interface."
          },
          "vlan-tag": {
            "description": "Management VLAN Tag ID.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaInterfaceManagement_MgmtInterfacesSchemaGET": {
        "description": "Configuration for the Management Interface.\nThe device is configured or monitored through the\nManagement interface on mgmt VRF. All management\ntraffic such as device ssh, snmp, tftp and so on,\ngoes through the Management interface.",
        "properties": {
          "profile": {
            "description": "Global profile for Management interface configurations",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceManagement_IfMgmtConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Management interface profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "domain-name": {
                      "description": "Domain name.",
                      "format": "pattern",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "domain-name",
                      "x-patterns": "'[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?(\\.[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?)*'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "name": {
                      "description": "Management interface profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS",
          "Gateway"
        ]
      },
      "ArubaInterfaceManagement_MgmtInterfacesprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceManagement_IfMgmtConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Management interface profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "domain-name": {
                "description": "Domain name.",
                "format": "pattern",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?(\\.[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?)*'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "name": {
                "description": "Management interface profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaInterfaceManagement_MgmtInterfacesprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceManagement_IfMgmtConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "Management interface profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "domain-name": {
                "description": "Domain name.",
                "format": "pattern",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?(\\.[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?)*'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "name": {
                "description": "Management interface profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaInterfaceManagement_MgmtInterfacesprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaInterfaceManagement_MgmtInterfacesprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
