{
  "openapi": "3.1.0",
  "info": {
    "title": "Interface Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Interface Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/interface-profiles": {
      "get": {
        "description": "List of Interface Profile configuration. Interface Profile is bundle of interface configuration\nfor devices with specific sku/model. Defined for set of uplink/downlink ports for given models.\nInterface Profile can be defined for stacks/chassis for fixed/automatic set of members/LineCards.\nInterface Profile can be defined for custom stack/chassis size.\nOne Interface Profile can have port-profile config for uplink + downlink + custom ports for given\nmodel/device type. In case of stacks, Interface Profile will not be applied VSF link ports, if they\nare part of automatic/custom Interface Profile model+ports.",
        "operationId": "readInterfaceProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_InterfaceProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Interface Profile Configuration.",
        "tags": [
          "Interface Profile"
        ],
        "x-cliParam": {
          "commandName": "readInterfaceProfilesCmd",
          "commandUse": "interface-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/interface-profiles/",
          "summary": "Read operation for interface-profiles"
        }
      }
    },
    "/network-config/v1alpha1/interface-profiles/{name}": {
      "get": {
        "description": "Interface Profile configuration. It is a bundle of interface configuration\nfor devices with specific sku/model. Defined for set of uplink/downlink ports, or can\nbe for custom set of ports for given models. Interface Profile can be defined for stacks/chassis for\nfixed/automatic set of members/LineCards. Interface Profile can be defined for custom stack/chassis size.\nOne Interface Profile can have port-profile config for uplink + downlink + custom ports for given\nmodel/device type. In case of stacks, Interface Profile will not be applied VSF link ports, if they\nare part of automatic/custom Interface Profile model+ports.",
        "operationId": "readInterfaceProfilesInterfaceProfileByID",
        "parameters": [
          {
            "description": "Interface Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_InterfaceProfilesinterfaceProfileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Interface Profile Configuration for given name.",
        "tags": [
          "Interface Profile"
        ],
        "x-cliParam": {
          "commandName": "readInterfaceProfilesInterfaceProfileCmd",
          "commandUse": "interface-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readInterfaceProfilesCmd",
          "pathToPrint": "/interface-profiles/interface-profile/%s/",
          "summary": "Read operation for interface-profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Interface Profile configuration. It is a bundle of interface configuration\nfor devices with specific sku/model. Defined for set of uplink/downlink ports, or can\nbe for custom set of ports for given models. Interface Profile can be defined for stacks/chassis for\nfixed/automatic set of members/LineCards. Interface Profile can be defined for custom stack/chassis size.\nOne Interface Profile can have port-profile config for uplink + downlink + custom ports for given\nmodel/device type. In case of stacks, Interface Profile will not be applied VSF link ports, if they\nare part of automatic/custom Interface Profile model+ports.",
        "operationId": "replaceInterfaceProfilesInterfaceProfileByID",
        "parameters": [
          {
            "description": "Interface Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceProfile_InterfaceProfilesinterfaceProfileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing Interface Profile configurations for given name.",
        "tags": [
          "Interface Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceInterfaceProfilesInterfaceProfileCmd",
          "commandUse": "interface-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceInterfaceProfilesCmd",
          "pathToPrint": "/interface-profiles/interface-profile/%s/",
          "summary": "Replace operation for interface-profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Interface Profile configuration. It is a bundle of interface configuration\nfor devices with specific sku/model. Defined for set of uplink/downlink ports, or can\nbe for custom set of ports for given models. Interface Profile can be defined for stacks/chassis for\nfixed/automatic set of members/LineCards. Interface Profile can be defined for custom stack/chassis size.\nOne Interface Profile can have port-profile config for uplink + downlink + custom ports for given\nmodel/device type. In case of stacks, Interface Profile will not be applied VSF link ports, if they\nare part of automatic/custom Interface Profile model+ports.",
        "operationId": "createInterfaceProfilesInterfaceProfileByID",
        "parameters": [
          {
            "description": "Interface Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceProfile_InterfaceProfilesinterfaceProfileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Configure Interface Profile by unique name.",
        "tags": [
          "Interface Profile"
        ],
        "x-cliParam": {
          "commandName": "createInterfaceProfilesInterfaceProfileCmd",
          "commandUse": "interface-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createInterfaceProfilesCmd",
          "pathToPrint": "/interface-profiles/interface-profile/%s/",
          "summary": "Create operation for interface-profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Interface Profile configuration. It is a bundle of interface configuration\nfor devices with specific sku/model. Defined for set of uplink/downlink ports, or can\nbe for custom set of ports for given models. Interface Profile can be defined for stacks/chassis for\nfixed/automatic set of members/LineCards. Interface Profile can be defined for custom stack/chassis size.\nOne Interface Profile can have port-profile config for uplink + downlink + custom ports for given\nmodel/device type. In case of stacks, Interface Profile will not be applied VSF link ports, if they\nare part of automatic/custom Interface Profile model+ports.",
        "operationId": "deleteInterfaceProfilesInterfaceProfileByID",
        "parameters": [
          {
            "description": "Interface Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete Interface Profile configurations for given name.",
        "tags": [
          "Interface Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteInterfaceProfilesInterfaceProfileCmd",
          "commandUse": "interface-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteInterfaceProfilesCmd",
          "pathToPrint": "/interface-profiles/interface-profile/%s/",
          "summary": "Delete operation for interface-profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Interface Profile configuration. It is a bundle of interface configuration\nfor devices with specific sku/model. Defined for set of uplink/downlink ports, or can\nbe for custom set of ports for given models. Interface Profile can be defined for stacks/chassis for\nfixed/automatic set of members/LineCards. Interface Profile can be defined for custom stack/chassis size.\nOne Interface Profile can have port-profile config for uplink + downlink + custom ports for given\nmodel/device type. In case of stacks, Interface Profile will not be applied VSF link ports, if they\nare part of automatic/custom Interface Profile model+ports.",
        "operationId": "updateInterfaceProfilesInterfaceProfileByID",
        "parameters": [
          {
            "description": "Interface Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaInterfaceProfile_InterfaceProfilesinterfaceProfileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Interface Profile configurations for given name.",
        "tags": [
          "Interface Profile"
        ],
        "x-cliParam": {
          "commandName": "updateInterfaceProfilesInterfaceProfileCmd",
          "commandUse": "interface-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateInterfaceProfilesCmd",
          "pathToPrint": "/interface-profiles/interface-profile/%s/",
          "summary": "Update operation for interface-profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaInterfaceProfile_AossChassisAutomaticGrouping": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchChassisModelGrouping"
          }
        ],
        "description": "Chassis automatic container with line-card info. This grouping provides\na framework for automatically applying consistent Interface Profile configurations across all\nlinecard in a chassis. It simplifies administration by treating\nmultiple physical components as a single logical entity with uniform configuration.",
        "properties": {
          "aos-s-linecard-interface-profiles": {
            "description": "List of Linecard Interface Profile references. Only AOS_S_SWITCH_LINECARD type interface-profile can\nbe present in the list. The model-type of thechassis should match with\nlinecard Interface Profile.",
            "items": {
              "description": "List of Linecard Interface Profile references. Only AOS_S_SWITCH_LINECARD type interface-profile can\nbe present in the list. The model-type of thechassis should match with\nlinecard Interface Profile.",
              "format": "const",
              "maxLength": 256,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaInterfaceProfile_AossChassisAutomaticGroupingGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchChassisModelGroupingGet"
          }
        ],
        "description": "Chassis automatic container with line-card info. This grouping provides\na framework for automatically applying consistent Interface Profile configurations across all\nlinecard in a chassis. It simplifies administration by treating\nmultiple physical components as a single logical entity with uniform configuration.",
        "properties": {
          "aos-s-linecard-interface-profiles": {
            "description": "List of Linecard Interface Profile references. Only AOS_S_SWITCH_LINECARD type interface-profile can\nbe present in the list. The model-type of thechassis should match with\nlinecard Interface Profile.",
            "items": {
              "description": "List of Linecard Interface Profile references. Only AOS_S_SWITCH_LINECARD type interface-profile can\nbe present in the list. The model-type of thechassis should match with\nlinecard Interface Profile.",
              "format": "const",
              "maxLength": 256,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaInterfaceProfile_AossChassisCustomGrouping": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchChassisModelGrouping"
          }
        ],
        "description": "Chassis custom grouping. This grouping enables detailed configuration of chassis switches\nwith line cards.",
        "properties": {
          "aos-s-line-card-count": {
            "description": "Line cards count",
            "format": "int32",
            "maximum": 12,
            "minimum": 0,
            "type": "integer"
          },
          "aos-s-line-cards": {
            "description": "Detailed configuration of chassis switches with line cards, allowing administrators to\nspecify different Interface Profiles for each module based on its port type. It supports heterogeneous chassis\ndeployments where line cards may have different port densities.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchPortTypeGrouping"
                },
                {
                  "properties": {
                    "aos-s-line-card-id": {
                      "description": "Module or Line Card slot number in Chassis switch.",
                      "format": "int32",
                      "maximum": 12,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "aos-s-linecard-interface-profile": {
                      "description": "Linecard Interface Profile config reference.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "aosSLineCardId"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossChassisCustomGroupingGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchChassisModelGroupingGet"
          }
        ],
        "description": "Chassis custom grouping. This grouping enables detailed configuration of chassis switches\nwith line cards.",
        "properties": {
          "aos-s-line-card-count": {
            "description": "Line cards count",
            "format": "int32",
            "maximum": 12,
            "minimum": 0,
            "type": "integer"
          },
          "aos-s-line-cards": {
            "description": "Detailed configuration of chassis switches with line cards, allowing administrators to\nspecify different Interface Profiles for each module based on its port type. It supports heterogeneous chassis\ndeployments where line cards may have different port densities.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchPortTypeGroupingGet"
                },
                {
                  "properties": {
                    "aos-s-line-card-id": {
                      "description": "Module or Line Card slot number in Chassis switch.",
                      "format": "int32",
                      "maximum": 12,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "aos-s-linecard-interface-profile": {
                      "description": "Linecard Interface Profile config reference.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "aosSLineCardId"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossModularModelGrouping": {
        "description": "A grouping for AOS-S switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-model": {
            "description": "The model type of the AOS-S switch. This specifies the physical model identifier\n       for switches across different form factors and capabilities. Each model\n       type corresponds to a specific hardware platform with predetermined port\n       counts, uplink configurations, and features like PoE support. This leaf\n       is used to target Interface Profile configurations to specific hardware models.\n       This field cannot be edited once created.",
            "enum": [
              "SW_AOS_S_2930M",
              "SW_AOS_S_3810"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_2930M": "AOS-S model of type 2930M",
              "SW_AOS_S_3810": "AOS-S model of type 3810"
            },
            "x-typeDescription": "AOS-S modular switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossModularModelGroupingGet": {
        "description": "A grouping for AOS-S switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-model": {
            "description": "The model type of the AOS-S switch. This specifies the physical model identifier\n       for switches across different form factors and capabilities. Each model\n       type corresponds to a specific hardware platform with predetermined port\n       counts, uplink configurations, and features like PoE support. This leaf\n       is used to target Interface Profile configurations to specific hardware models.\n       This field cannot be edited once created.",
            "enum": [
              "SW_AOS_S_2930M",
              "SW_AOS_S_3810"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_2930M": "AOS-S model of type 2930M",
              "SW_AOS_S_3810": "AOS-S model of type 3810"
            },
            "x-typeDescription": "AOS-S modular switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossStackAutomaticGrouping": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchStackModelGrouping"
          }
        ],
        "description": "Stack automatic container with member info. This grouping provides a framework for\nautomatically applying consistent Interface Profile configurations across all members\nof a stack. It simplifies administration by treating multiple physical components as\na single logical entity with uniform configuration.",
        "properties": {
          "aos-s-member-interface-profiles": {
            "description": "List of Member Interface Profile references. Only member interface-profile can\nbe present in the list. The model-type of the Stack should match with\nmember Interface Profile.",
            "items": {
              "description": "List of Member Interface Profile references. Only member interface-profile can\nbe present in the list. The model-type of the Stack should match with\nmember Interface Profile.",
              "format": "const",
              "maxLength": 256,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaInterfaceProfile_AossStackAutomaticGroupingGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchStackModelGroupingGet"
          }
        ],
        "description": "Stack automatic container with member info. This grouping provides a framework for\nautomatically applying consistent Interface Profile configurations across all members\nof a stack. It simplifies administration by treating multiple physical components as\na single logical entity with uniform configuration.",
        "properties": {
          "aos-s-member-interface-profiles": {
            "description": "List of Member Interface Profile references. Only member interface-profile can\nbe present in the list. The model-type of the Stack should match with\nmember Interface Profile.",
            "items": {
              "description": "List of Member Interface Profile references. Only member interface-profile can\nbe present in the list. The model-type of the Stack should match with\nmember Interface Profile.",
              "format": "const",
              "maxLength": 256,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaInterfaceProfile_AossStackCustomGrouping": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchStackModelGrouping"
          }
        ],
        "description": "A grouping for defining custom stack configurations with detailed member information.\nThis grouping enables the creation of heterogeneous switch stacks with specific member counts,\nvarying port types, and individual Interface Profiles for each member. Unlike automatic stack\nconfigurations that apply a uniform configuration across identical stack members, this\ncustom grouping allows for precise control over each stack member's configuration, supporting\ndeployments with mixed switch models or varying port requirements across the stack.",
        "properties": {
          "aos-s-member-count": {
            "description": "The total number of switch members in the custom stack configuration. This value\ndetermines how many switches will be managed as a single logical entity in the stack.\nThe range is limited to 0-10 members, where 0 indicates an empty stack definition\nthat can be populated later, and values 1-10 represent the actual number of physical\nswitches in the stack.",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer"
          },
          "aos-s-members": {
            "description": "A list containing configuration details for individual switch members in the stack.\nEach entry represents a single physical switch with its own member ID, port configuration,\nand Interface Profile references. This allows for heterogeneous stack configurations where\ndifferent switch models can be combined into a single managed stack. The list is limited\nto a maximum of 10 elements, matching the maximum supported stack size.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchPortTypeGrouping"
                },
                {
                  "properties": {
                    "aos-s-member-id": {
                      "description": "The unique identifier for a member switch within the stack. This ID serves as\nthe primary key for identifying individual switches in the stack configuration.\nValid values range from 0 to 10, corresponding to the physical position or\nassigned ID of each switch in the stack topology.",
                      "format": "int32",
                      "maximum": 10,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "aos-s-member-interface-profile": {
                      "description": "Standalone Interface Profile config reference.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 10,
            "type": "array",
            "x-key": [
              "aosSMemberId"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossStackCustomGroupingGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchStackModelGroupingGet"
          }
        ],
        "description": "A grouping for defining custom stack configurations with detailed member information.\nThis grouping enables the creation of heterogeneous switch stacks with specific member counts,\nvarying port types, and individual Interface Profiles for each member. Unlike automatic stack\nconfigurations that apply a uniform configuration across identical stack members, this\ncustom grouping allows for precise control over each stack member's configuration, supporting\ndeployments with mixed switch models or varying port requirements across the stack.",
        "properties": {
          "aos-s-member-count": {
            "description": "The total number of switch members in the custom stack configuration. This value\ndetermines how many switches will be managed as a single logical entity in the stack.\nThe range is limited to 0-10 members, where 0 indicates an empty stack definition\nthat can be populated later, and values 1-10 represent the actual number of physical\nswitches in the stack.",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer"
          },
          "aos-s-members": {
            "description": "A list containing configuration details for individual switch members in the stack.\nEach entry represents a single physical switch with its own member ID, port configuration,\nand Interface Profile references. This allows for heterogeneous stack configurations where\ndifferent switch models can be combined into a single managed stack. The list is limited\nto a maximum of 10 elements, matching the maximum supported stack size.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchPortTypeGroupingGet"
                },
                {
                  "properties": {
                    "aos-s-member-id": {
                      "description": "The unique identifier for a member switch within the stack. This ID serves as\nthe primary key for identifying individual switches in the stack configuration.\nValid values range from 0 to 10, corresponding to the physical position or\nassigned ID of each switch in the stack topology.",
                      "format": "int32",
                      "maximum": 10,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "aos-s-member-interface-profile": {
                      "description": "Standalone Interface Profile config reference.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-if-profile:interface-profiles/ac-if-profile:interface-profile/ac-if-profile:name",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 10,
            "type": "array",
            "x-key": [
              "aosSMemberId"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchChassisModelGrouping": {
        "description": "A grouping for switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-model": {
            "description": "The model type of the switch. This specifies the physical model identifier\nfor switches across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts, uplink configurations, and features like PoE support. This leaf\nis used to target Interface Profile configurations to specific hardware models.\nThis field cannot be edited once created. Allowed model is 5400R.",
            "enum": [
              "SW_AOS_S_5400R"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_5400R": "AOS-S model of type 5400R"
            },
            "x-typeDescription": "AOS-S chassis switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchChassisModelGroupingGet": {
        "description": "A grouping for switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-model": {
            "description": "The model type of the switch. This specifies the physical model identifier\nfor switches across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts, uplink configurations, and features like PoE support. This leaf\nis used to target Interface Profile configurations to specific hardware models.\nThis field cannot be edited once created. Allowed model is 5400R.",
            "enum": [
              "SW_AOS_S_5400R"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_5400R": "AOS-S model of type 5400R"
            },
            "x-typeDescription": "AOS-S chassis switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchLinkGrouping": {
        "description": "Switch models and port-profile. This grouping establishes the relationship between\nswitch hardware models and their port configurations, allowing for differentiated\ntreatment of uplink and downlink ports. It enables the application of specific profiles\nto different port types based on their role in the network topology.",
        "properties": {
          "aos-s-downlink-port-map": {
            "description": "List of all the downlink ports and associated port-profiles references.\nUser's discretion is required to fill the downlink port range.\nNo validation is performed to verify whether given port range is uplink/downlink ports",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchProfileGrouping"
                },
                {
                  "properties": {
                    "aos-s-downlink-port": {
                      "description": "Comma separated downlink Ports/range in format 1,2-4.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "port-list-type",
                      "x-patterns": "'(([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)(,([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)*'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Comma separated list of PORT IDs and ranges.\nPortID or only single-tagged PortIDs or both. A range is\nspecified as x-y where x and y are valid Port IDs\n(1 <= port-id <= 64). The range is assumed to be inclusive,\nsuch that any Port-ID matching x <= Port-ID <= y falls within\nthe range. Example 1,2-3,4"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "aosSDownlinkPort"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "aos-s-uplink-port-map": {
            "description": "List of all the uplink ports and associated port-profiles references.\nUser's discretion is opted to fill the uplink port range. No validation\nis performed to verify whether given port range is uplink ports",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchProfileGrouping"
                },
                {
                  "properties": {
                    "aos-s-uplink-port": {
                      "description": "Comma separated Uplink Ports/range in format 1,2-4.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "port-list-type",
                      "x-patterns": "'(([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)(,([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)*'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Comma separated list of PORT IDs and ranges.\nPortID or only single-tagged PortIDs or both. A range is\nspecified as x-y where x and y are valid Port IDs\n(1 <= port-id <= 64). The range is assumed to be inclusive,\nsuch that any Port-ID matching x <= Port-ID <= y falls within\nthe range. Example 1,2-3,4"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "aosSUplinkPort"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchLinkGroupingGet": {
        "description": "Switch models and port-profile. This grouping establishes the relationship between\nswitch hardware models and their port configurations, allowing for differentiated\ntreatment of uplink and downlink ports. It enables the application of specific profiles\nto different port types based on their role in the network topology.",
        "properties": {
          "aos-s-downlink-port-map": {
            "description": "List of all the downlink ports and associated port-profiles references.\nUser's discretion is required to fill the downlink port range.\nNo validation is performed to verify whether given port range is uplink/downlink ports",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchProfileGroupingGet"
                },
                {
                  "properties": {
                    "aos-s-downlink-port": {
                      "description": "Comma separated downlink Ports/range in format 1,2-4.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "port-list-type",
                      "x-patterns": "'(([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)(,([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)*'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Comma separated list of PORT IDs and ranges.\nPortID or only single-tagged PortIDs or both. A range is\nspecified as x-y where x and y are valid Port IDs\n(1 <= port-id <= 64). The range is assumed to be inclusive,\nsuch that any Port-ID matching x <= Port-ID <= y falls within\nthe range. Example 1,2-3,4"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "aosSDownlinkPort"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "aos-s-uplink-port-map": {
            "description": "List of all the uplink ports and associated port-profiles references.\nUser's discretion is opted to fill the uplink port range. No validation\nis performed to verify whether given port range is uplink ports",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_AossSwitchProfileGroupingGet"
                },
                {
                  "properties": {
                    "aos-s-uplink-port": {
                      "description": "Comma separated Uplink Ports/range in format 1,2-4.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "port-list-type",
                      "x-patterns": "'(([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)(,([1-9]|[1-5][0-9]|6[0-4])(\\-([1-9]|[1-5][0-9]|6[0-4]))?)*'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Comma separated list of PORT IDs and ranges.\nPortID or only single-tagged PortIDs or both. A range is\nspecified as x-y where x and y are valid Port IDs\n(1 <= port-id <= 64). The range is assumed to be inclusive,\nsuch that any Port-ID matching x <= Port-ID <= y falls within\nthe range. Example 1,2-3,4"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "aosSUplinkPort"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchModelGrouping": {
        "description": "A grouping for AOS-S switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-model": {
            "description": "The model type of the AOS-S switch. This specifies the physical model identifier\nfor switches across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts, uplink configurations, and features like PoE support. This leaf\nis used to target Interface Profile configurations to specific hardware models.\nThis field cannot be edited once created.",
            "enum": [
              "SW_AOS_S_2530",
              "SW_AOS_S_2540",
              "SW_AOS_S_2930F"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_2530": "AOS-S model of type 2530YA and 2530YB",
              "SW_AOS_S_2540": "AOS-S model of type 2540",
              "SW_AOS_S_2930F": "AOS-S model of type 2930F"
            },
            "x-typeDescription": "AOS-S standalone switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchModelGroupingGet": {
        "description": "A grouping for AOS-S switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-model": {
            "description": "The model type of the AOS-S switch. This specifies the physical model identifier\nfor switches across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts, uplink configurations, and features like PoE support. This leaf\nis used to target Interface Profile configurations to specific hardware models.\nThis field cannot be edited once created.",
            "enum": [
              "SW_AOS_S_2530",
              "SW_AOS_S_2540",
              "SW_AOS_S_2930F"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_2530": "AOS-S model of type 2530YA and 2530YB",
              "SW_AOS_S_2540": "AOS-S model of type 2540",
              "SW_AOS_S_2930F": "AOS-S model of type 2930F"
            },
            "x-typeDescription": "AOS-S standalone switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchPortTypeGrouping": {
        "description": "A grouping for port-type. This grouping encapsulates the physical characteristics\nand capabilities of switch ports, allowing Interface Profile configurations to target specific\nport types based on their media, speed, and functional capabilities. It enables\nprecise control over port configurations across different hardware platforms.",
        "properties": {
          "aos-s-port-type": {
            "description": "Port type specification including PoE capability, copper/fiber media type,\ntotal port count, and other port-specific features for the switch model.\nThis defines which ports on the device will be included in the Interface Profile configuration,\nsuch as all ports, only copper ports, only fiber ports, or specific subsets\nof ports based on their capabilities and intended usage.\nThis field cannot be edited once created.",
            "enum": [
              "SW_AOS_S_2_40G_SFP",
              "SW_AOS_S_8_10G_SFP",
              "SW_AOS_S_8_10G",
              "SW_AOS_S_8_10G_POE",
              "SW_AOS_S_8G_POE_2SFP",
              "SW_AOS_S_8G_2SFP",
              "SW_AOS_S_8G_POE_2SFP_10G",
              "SW_AOS_S_8_POE_2SFP",
              "SW_AOS_S_8_2SFP",
              "SW_AOS_S_8_POE_2SFP_IPS",
              "SW_AOS_S_12G_POE_2G_2SFP_10G",
              "SW_AOS_S_12G_SFP",
              "SW_AOS_S_12G_POE_12_1G_SFP",
              "SW_AOS_S_20G_2_10G_SFP",
              "SW_AOS_S_20G_POE_2_10G_SFP",
              "SW_AOS_S_20G_POE_4_10G_SFP",
              "SW_AOS_S_20G_POE_4_1G_SFP",
              "SW_AOS_S_20G_4_1G_SFP",
              "SW_AOS_S_20G_POE_4_10G_POE",
              "SW_AOS_S_20G_POE_1_40G_SFP",
              "SW_AOS_S_16_10G",
              "SW_AOS_S_16_10G_POE",
              "SW_AOS_S_16_10G_SFP_2S",
              "SW_AOS_S_16_10G_POE_2S",
              "SW_AOS_S_24G",
              "SW_AOS_S_24G_SFP",
              "SW_AOS_S_24G_POE",
              "SW_AOS_S_24_100M_POE",
              "SW_AOS_S_24_5G_POE",
              "SW_AOS_S_24G_POE_4SFP",
              "SW_AOS_S_24G_POE_2SFP_10G",
              "SW_AOS_S_24G_2SFP_10G",
              "SW_AOS_S_24G_4SFP",
              "SW_AOS_S_24G_4SFP_10G",
              "SW_AOS_S_24G_POE_4SFP_10G",
              "SW_AOS_S_24_POE_2SFP",
              "SW_AOS_S_24_2SFP",
              "SW_AOS_S_24_POE_2G_2SFP",
              "SW_AOS_S_24_2G_2SFP",
              "SW_AOS_S_48G",
              "SW_AOS_S_48G_POE",
              "SW_AOS_S_8_10G_40_1G_POE",
              "SW_AOS_S_48G_POE_4SFP",
              "SW_AOS_S_48G_4SFP",
              "SW_AOS_S_48G_4SFP_10G",
              "SW_AOS_S_48G_POE_2SFP_10G",
              "SW_AOS_S_48G_POE_4SFP_10G",
              "SW_AOS_S_48G_2SFP_10G",
              "SW_AOS_S_48_POE_2SFP",
              "SW_AOS_S_48_2SFP",
              "SW_AOS_S_48_POE_2G_2SFP",
              "SW_AOS_S_48_2G_2SFP",
              "SW_AOS_S_4SFP_10G",
              "SW_AOS_S_1SFP_40G"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_12G_POE_12_1G_SFP": "AOS-S 12p 1Gbps with PoEP + 12p 1Gbps SFP switch model.",
              "SW_AOS_S_12G_POE_2G_2SFP_10G": "AOS-S 12p 1Gbps with PoE + 2p 1Gbps + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_12G_SFP": "AOS-S 12p 1Gbps SFP switch model.",
              "SW_AOS_S_16_10G": "AOS-S 16p 10Gbps switch model.",
              "SW_AOS_S_16_10G_POE": "AOS-S 16p 10Gbps with PoE switch model.",
              "SW_AOS_S_16_10G_POE_2S": "AOS-S 16p 10Gbps with POEP and 2 flexible slot switch model.",
              "SW_AOS_S_16_10G_SFP_2S": "AOS-S 16p 10Gbps SFP with 2 flexible slot switch model.",
              "SW_AOS_S_1SFP_40G": "AOS-S 1p 40Gbps SFP switch model.",
              "SW_AOS_S_20G_2_10G_SFP": "AOS-S 20p 1Gbps + 2p 10G SFP switch model.",
              "SW_AOS_S_20G_4_1G_SFP": "AOS-S 20p 1Gbps + 4p 1G SFP switch model.",
              "SW_AOS_S_20G_POE_1_40G_SFP": "AOS-S 20p 1Gbps with PoEP + 1p 40G SFP switch model.",
              "SW_AOS_S_20G_POE_2_10G_SFP": "AOS-S 20p 1Gbps with PoEP + 2p 10G SFP switch model.",
              "SW_AOS_S_20G_POE_4_10G_POE": "AOS-S 20p 1Gbps with PoEP + 4p 10G with PoEP switch model.",
              "SW_AOS_S_20G_POE_4_10G_SFP": "AOS-S 20p 1Gbps with PoEP + 4p 10G SFP switch model.",
              "SW_AOS_S_20G_POE_4_1G_SFP": "AOS-S 20p 1Gbps with PoEP + 4p 1G SFP switch model.",
              "SW_AOS_S_24G": "AOS-S 24p 1Gbps switch model.",
              "SW_AOS_S_24G_2SFP_10G": "AOS-S 24p 1Gbps + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_4SFP": "AOS-S 24p 1Gbps + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_24G_4SFP_10G": "AOS-S 24p 1Gbps + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_POE": "AOS-S 24p 1Gbps with PoE switch model.",
              "SW_AOS_S_24G_POE_2SFP_10G": "AOS-S 24p 1Gbps with PoE + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_POE_4SFP": "AOS-S 24p 1Gbps with PoE + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_24G_POE_4SFP_10G": "AOS-S 24p 1Gbps with PoE + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_SFP": "AOS-S 24p 1Gbps SFP switch model.",
              "SW_AOS_S_24_100M_POE": "AOS-S 24p 100Mbps with PoEP switch model.",
              "SW_AOS_S_24_2G_2SFP": "AOS-S 24p 100Mbps + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_24_2SFP": "AOS-S 24p 100Mbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_24_5G_POE": "AOS-S 24p 5Gbps with PoE switch model.",
              "SW_AOS_S_24_POE_2G_2SFP": "AOS-S 24p 100Mbps with PoE + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_24_POE_2SFP": "AOS-S 24p 100Mbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_2_40G_SFP": "AOS-S 2p 40Gbps SFP switch model.",
              "SW_AOS_S_48G": "AOS-S 48p 1Gbps switch model.",
              "SW_AOS_S_48G_2SFP_10G": "AOS-S 48p 1Gbps + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_48G_4SFP": "AOS-S 48p 1Gbps + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_48G_4SFP_10G": "AOS-S 48p 1Gbps + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_48G_POE": "AOS-S 48p 1Gbps with PoE switch model.",
              "SW_AOS_S_48G_POE_2SFP_10G": "AOS-S 48p 1Gbps with PoE + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_48G_POE_4SFP": "AOS-S 48p 1Gbps with PoE + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_48G_POE_4SFP_10G": "AOS-S 48p 1Gbps with PoE + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_48_2G_2SFP": "AOS-S 48p 100Mbps + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_48_2SFP": "AOS-S 48p 100Mbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_48_POE_2G_2SFP": "AOS-S 48p 100Mbps with PoE + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_48_POE_2SFP": "AOS-S 48p 100Mbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_4SFP_10G": "AOS-S 4p 10Gbps SFP switch model.",
              "SW_AOS_S_8G_2SFP": "AOS-S 8p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8G_POE_2SFP": "AOS-S 8p 1Gbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8G_POE_2SFP_10G": "AOS-S 8p 1Gbps with PoE + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_8_10G": "AOS-S 8p 10Gbps switch model.",
              "SW_AOS_S_8_10G_40_1G_POE": "AOS-S 8p 10Gbps and 40p 1Gbps with PoE switch model.",
              "SW_AOS_S_8_10G_POE": "AOS-S 8p 10Gbps with PoEP switch model.",
              "SW_AOS_S_8_10G_SFP": "AOS-S 8p 10Gbps SFP switch model.",
              "SW_AOS_S_8_2SFP": "AOS-S 8p 100Mbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8_POE_2SFP": "AOS-S 8p 100Mbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8_POE_2SFP_IPS": "AOS-S 8p 100Mbps with PoE + 2p 1Gbps SFP + Internal PS switch model."
            },
            "x-typeDescription": "AOS-S switch models based on port types."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchPortTypeGroupingGet": {
        "description": "A grouping for port-type. This grouping encapsulates the physical characteristics\nand capabilities of switch ports, allowing Interface Profile configurations to target specific\nport types based on their media, speed, and functional capabilities. It enables\nprecise control over port configurations across different hardware platforms.",
        "properties": {
          "aos-s-port-type": {
            "description": "Port type specification including PoE capability, copper/fiber media type,\ntotal port count, and other port-specific features for the switch model.\nThis defines which ports on the device will be included in the Interface Profile configuration,\nsuch as all ports, only copper ports, only fiber ports, or specific subsets\nof ports based on their capabilities and intended usage.\nThis field cannot be edited once created.",
            "enum": [
              "SW_AOS_S_2_40G_SFP",
              "SW_AOS_S_8_10G_SFP",
              "SW_AOS_S_8_10G",
              "SW_AOS_S_8_10G_POE",
              "SW_AOS_S_8G_POE_2SFP",
              "SW_AOS_S_8G_2SFP",
              "SW_AOS_S_8G_POE_2SFP_10G",
              "SW_AOS_S_8_POE_2SFP",
              "SW_AOS_S_8_2SFP",
              "SW_AOS_S_8_POE_2SFP_IPS",
              "SW_AOS_S_12G_POE_2G_2SFP_10G",
              "SW_AOS_S_12G_SFP",
              "SW_AOS_S_12G_POE_12_1G_SFP",
              "SW_AOS_S_20G_2_10G_SFP",
              "SW_AOS_S_20G_POE_2_10G_SFP",
              "SW_AOS_S_20G_POE_4_10G_SFP",
              "SW_AOS_S_20G_POE_4_1G_SFP",
              "SW_AOS_S_20G_4_1G_SFP",
              "SW_AOS_S_20G_POE_4_10G_POE",
              "SW_AOS_S_20G_POE_1_40G_SFP",
              "SW_AOS_S_16_10G",
              "SW_AOS_S_16_10G_POE",
              "SW_AOS_S_16_10G_SFP_2S",
              "SW_AOS_S_16_10G_POE_2S",
              "SW_AOS_S_24G",
              "SW_AOS_S_24G_SFP",
              "SW_AOS_S_24G_POE",
              "SW_AOS_S_24_100M_POE",
              "SW_AOS_S_24_5G_POE",
              "SW_AOS_S_24G_POE_4SFP",
              "SW_AOS_S_24G_POE_2SFP_10G",
              "SW_AOS_S_24G_2SFP_10G",
              "SW_AOS_S_24G_4SFP",
              "SW_AOS_S_24G_4SFP_10G",
              "SW_AOS_S_24G_POE_4SFP_10G",
              "SW_AOS_S_24_POE_2SFP",
              "SW_AOS_S_24_2SFP",
              "SW_AOS_S_24_POE_2G_2SFP",
              "SW_AOS_S_24_2G_2SFP",
              "SW_AOS_S_48G",
              "SW_AOS_S_48G_POE",
              "SW_AOS_S_8_10G_40_1G_POE",
              "SW_AOS_S_48G_POE_4SFP",
              "SW_AOS_S_48G_4SFP",
              "SW_AOS_S_48G_4SFP_10G",
              "SW_AOS_S_48G_POE_2SFP_10G",
              "SW_AOS_S_48G_POE_4SFP_10G",
              "SW_AOS_S_48G_2SFP_10G",
              "SW_AOS_S_48_POE_2SFP",
              "SW_AOS_S_48_2SFP",
              "SW_AOS_S_48_POE_2G_2SFP",
              "SW_AOS_S_48_2G_2SFP",
              "SW_AOS_S_4SFP_10G",
              "SW_AOS_S_1SFP_40G"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_12G_POE_12_1G_SFP": "AOS-S 12p 1Gbps with PoEP + 12p 1Gbps SFP switch model.",
              "SW_AOS_S_12G_POE_2G_2SFP_10G": "AOS-S 12p 1Gbps with PoE + 2p 1Gbps + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_12G_SFP": "AOS-S 12p 1Gbps SFP switch model.",
              "SW_AOS_S_16_10G": "AOS-S 16p 10Gbps switch model.",
              "SW_AOS_S_16_10G_POE": "AOS-S 16p 10Gbps with PoE switch model.",
              "SW_AOS_S_16_10G_POE_2S": "AOS-S 16p 10Gbps with POEP and 2 flexible slot switch model.",
              "SW_AOS_S_16_10G_SFP_2S": "AOS-S 16p 10Gbps SFP with 2 flexible slot switch model.",
              "SW_AOS_S_1SFP_40G": "AOS-S 1p 40Gbps SFP switch model.",
              "SW_AOS_S_20G_2_10G_SFP": "AOS-S 20p 1Gbps + 2p 10G SFP switch model.",
              "SW_AOS_S_20G_4_1G_SFP": "AOS-S 20p 1Gbps + 4p 1G SFP switch model.",
              "SW_AOS_S_20G_POE_1_40G_SFP": "AOS-S 20p 1Gbps with PoEP + 1p 40G SFP switch model.",
              "SW_AOS_S_20G_POE_2_10G_SFP": "AOS-S 20p 1Gbps with PoEP + 2p 10G SFP switch model.",
              "SW_AOS_S_20G_POE_4_10G_POE": "AOS-S 20p 1Gbps with PoEP + 4p 10G with PoEP switch model.",
              "SW_AOS_S_20G_POE_4_10G_SFP": "AOS-S 20p 1Gbps with PoEP + 4p 10G SFP switch model.",
              "SW_AOS_S_20G_POE_4_1G_SFP": "AOS-S 20p 1Gbps with PoEP + 4p 1G SFP switch model.",
              "SW_AOS_S_24G": "AOS-S 24p 1Gbps switch model.",
              "SW_AOS_S_24G_2SFP_10G": "AOS-S 24p 1Gbps + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_4SFP": "AOS-S 24p 1Gbps + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_24G_4SFP_10G": "AOS-S 24p 1Gbps + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_POE": "AOS-S 24p 1Gbps with PoE switch model.",
              "SW_AOS_S_24G_POE_2SFP_10G": "AOS-S 24p 1Gbps with PoE + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_POE_4SFP": "AOS-S 24p 1Gbps with PoE + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_24G_POE_4SFP_10G": "AOS-S 24p 1Gbps with PoE + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_24G_SFP": "AOS-S 24p 1Gbps SFP switch model.",
              "SW_AOS_S_24_100M_POE": "AOS-S 24p 100Mbps with PoEP switch model.",
              "SW_AOS_S_24_2G_2SFP": "AOS-S 24p 100Mbps + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_24_2SFP": "AOS-S 24p 100Mbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_24_5G_POE": "AOS-S 24p 5Gbps with PoE switch model.",
              "SW_AOS_S_24_POE_2G_2SFP": "AOS-S 24p 100Mbps with PoE + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_24_POE_2SFP": "AOS-S 24p 100Mbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_2_40G_SFP": "AOS-S 2p 40Gbps SFP switch model.",
              "SW_AOS_S_48G": "AOS-S 48p 1Gbps switch model.",
              "SW_AOS_S_48G_2SFP_10G": "AOS-S 48p 1Gbps + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_48G_4SFP": "AOS-S 48p 1Gbps + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_48G_4SFP_10G": "AOS-S 48p 1Gbps + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_48G_POE": "AOS-S 48p 1Gbps with PoE switch model.",
              "SW_AOS_S_48G_POE_2SFP_10G": "AOS-S 48p 1Gbps with PoE + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_48G_POE_4SFP": "AOS-S 48p 1Gbps with PoE + 4p 1Gbps SFP switch model.",
              "SW_AOS_S_48G_POE_4SFP_10G": "AOS-S 48p 1Gbps with PoE + 4p 10Gbps SFP switch model.",
              "SW_AOS_S_48_2G_2SFP": "AOS-S 48p 100Mbps + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_48_2SFP": "AOS-S 48p 100Mbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_48_POE_2G_2SFP": "AOS-S 48p 100Mbps with PoE + 2p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_48_POE_2SFP": "AOS-S 48p 100Mbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_4SFP_10G": "AOS-S 4p 10Gbps SFP switch model.",
              "SW_AOS_S_8G_2SFP": "AOS-S 8p 1Gbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8G_POE_2SFP": "AOS-S 8p 1Gbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8G_POE_2SFP_10G": "AOS-S 8p 1Gbps with PoE + 2p 10Gbps SFP switch model.",
              "SW_AOS_S_8_10G": "AOS-S 8p 10Gbps switch model.",
              "SW_AOS_S_8_10G_40_1G_POE": "AOS-S 8p 10Gbps and 40p 1Gbps with PoE switch model.",
              "SW_AOS_S_8_10G_POE": "AOS-S 8p 10Gbps with PoEP switch model.",
              "SW_AOS_S_8_10G_SFP": "AOS-S 8p 10Gbps SFP switch model.",
              "SW_AOS_S_8_2SFP": "AOS-S 8p 100Mbps + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8_POE_2SFP": "AOS-S 8p 100Mbps with PoE + 2p 1Gbps SFP switch model.",
              "SW_AOS_S_8_POE_2SFP_IPS": "AOS-S 8p 100Mbps with PoE + 2p 1Gbps SFP + Internal PS switch model."
            },
            "x-typeDescription": "AOS-S switch models based on port types."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchProfileGrouping": {
        "description": "Switch profile grouping. This grouping associates port profiles with interfaces,\nproviding a mechanism to apply predefined configuration templates to switch ports.\nThese profiles contain standardized settings for security, QoS, VLANs, and other\ninterface parameters that can be consistently applied across multiple devices.",
        "properties": {
          "aos-s-port-profile": {
            "description": "Switch Port Profile (if any) associated with the interface.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-sw-port-profile:sw-port-profiles/ac-sw-port-profile:profile/ac-sw-port-profile:profile-name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchProfileGroupingGet": {
        "description": "Switch profile grouping. This grouping associates port profiles with interfaces,\nproviding a mechanism to apply predefined configuration templates to switch ports.\nThese profiles contain standardized settings for security, QoS, VLANs, and other\ninterface parameters that can be consistently applied across multiple devices.",
        "properties": {
          "aos-s-port-profile": {
            "description": "Switch Port Profile (if any) associated with the interface.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-sw-port-profile:sw-port-profiles/ac-sw-port-profile:profile/ac-sw-port-profile:profile-name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchStackModelGrouping": {
        "description": "A grouping for switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-series": {
            "description": "The model type of the switch. This specifies the physical model identifier\nfor switches across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts, uplink configurations, and features like PoE support. This leaf\nis used to target Interface Profile configurations to specific hardware models.\nThis field cannot be edited once created. Allowed series 2930F, 2930M, 3810 and 5400R",
            "enum": [
              "SW_AOS_S_2930M",
              "SW_AOS_S_3810",
              "SW_AOS_S_2930F",
              "SW_AOS_S_5400R"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_2930F": "AOS-S model of type 2930F VSF",
              "SW_AOS_S_2930M": "AOS-S model of type 2930M BPS",
              "SW_AOS_S_3810": "AOS-S model of type 3810 BPS",
              "SW_AOS_S_5400R": "AOS-S model of type 5400R VSF"
            },
            "x-typeDescription": "AOS-S stack switch model."
          }
        }
      },
      "ArubaInterfaceProfile_AossSwitchStackModelGroupingGet": {
        "description": "A grouping for switch model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to switches with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "aos-s-switch-series": {
            "description": "The model type of the switch. This specifies the physical model identifier\nfor switches across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts, uplink configurations, and features like PoE support. This leaf\nis used to target Interface Profile configurations to specific hardware models.\nThis field cannot be edited once created. Allowed series 2930F, 2930M, 3810 and 5400R",
            "enum": [
              "SW_AOS_S_2930M",
              "SW_AOS_S_3810",
              "SW_AOS_S_2930F",
              "SW_AOS_S_5400R"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SW_AOS_S_2930F": "AOS-S model of type 2930F VSF",
              "SW_AOS_S_2930M": "AOS-S model of type 2930M BPS",
              "SW_AOS_S_3810": "AOS-S model of type 3810 BPS",
              "SW_AOS_S_5400R": "AOS-S model of type 5400R VSF"
            },
            "x-typeDescription": "AOS-S stack switch model."
          }
        }
      },
      "ArubaInterfaceProfile_ApProfileConfigsGrouping": {
        "description": "AP uplink-port-profile and downlink-port-profile. This grouping establishes\nthe relationship their port configurations, allowing for differentiated\ntreatment of downlink and uplink ports. It enables the application of specific profiles\nto different port types based on their role in the network topology.",
        "properties": {
          "ap-downlink-port-map": {
            "description": "List of all the downlink ports and associated port-profiles references.\nUser's descretion is opted to fill the downlink port range. No validation\nis performed to verify whether given port range is downlink ports",
            "items": {
              "properties": {
                "port-name": {
                  "description": "Ethernet interface name to configure.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "port-name",
                  "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "port-profile": {
                  "description": "AP Port Profile (if any) associated with the interface.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-ap-port-profile:ap-port-profiles/ac-ap-port-profile:profile/ac-ap-port-profile:profile-name",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "portName"
            ]
          },
          "uplink-port-profile": {
            "description": "AP uplink Port Profile (if any) associated with the interface.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-ap-uplink:ap-uplinks/ac-ap-uplink:profile/ac-ap-uplink:name"
          }
        }
      },
      "ArubaInterfaceProfile_ApProfileConfigsGroupingGet": {
        "description": "AP uplink-port-profile and downlink-port-profile. This grouping establishes\nthe relationship their port configurations, allowing for differentiated\ntreatment of downlink and uplink ports. It enables the application of specific profiles\nto different port types based on their role in the network topology.",
        "properties": {
          "ap-downlink-port-map": {
            "description": "List of all the downlink ports and associated port-profiles references.\nUser's descretion is opted to fill the downlink port range. No validation\nis performed to verify whether given port range is downlink ports",
            "items": {
              "properties": {
                "port-name": {
                  "description": "Ethernet interface name to configure.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "port-name",
                  "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "port-profile": {
                  "description": "AP Port Profile (if any) associated with the interface.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-ap-port-profile:ap-port-profiles/ac-ap-port-profile:profile/ac-ap-port-profile:profile-name",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "portName"
            ]
          },
          "uplink-port-profile": {
            "description": "AP uplink Port Profile (if any) associated with the interface.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-ap-uplink:ap-uplinks/ac-ap-uplink:profile/ac-ap-uplink:name"
          }
        }
      },
      "ArubaInterfaceProfile_GwLinkGrouping": {
        "description": "Gateway models and port-profile. This grouping establishes the relationship between\ngateway hardware models and their port configurations. It enables the application of specific profiles\nto different port types based on their role in the network topology.",
        "properties": {
          "gw-downlink-port-map": {
            "description": "List of all the downlink ports and associated port-profiles references.\nUser's discretion is required to fill the downlink port range.\nNo validation is performed to verify whether given port range is downlink ports",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_GwProfileGrouping"
                },
                {
                  "properties": {
                    "downlink-port": {
                      "description": "Comma separated downlink Ports/range in format 0/0/1,0/0/2-0/0/4.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "triplet-port-list-type",
                      "x-patterns": "'((0/0/(0|[1-9]|1[0-9]|2[0-5]))(-0/0/(0|[1-9]|1[0-9]|2[0-5]))?)(,0/0/(0|[1-9]|1[0-9]|2[0-5])(-0/0/(0|[1-9]|1[0-9]|2[0-5]))?)*'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Comma separated list of hierarchical PORT IDs and ranges.\nEach port is represented as X/Y/Z, where X, Y, and Z are integers,\nand Z is in the range 0 to 64 (inclusive). A range is specified as\nX/Y/Z1-X/Y/Z2, where Z1 and Z2 are valid port numbers (0 <= Z <= 64).\nThe range is assumed to be inclusive, such that any port matching\nZ1 <= Z <= Z2 falls within the range. Multiple ports or ranges can be\nspecified, separated by commas. Example: 0/0/0,0/0/1-0/0/3,0/0/4"
                    }
                  }
                },
                {
                  "required": [
                    "downlink-port"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "downlinkPort"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_GwLinkGroupingGet": {
        "description": "Gateway models and port-profile. This grouping establishes the relationship between\ngateway hardware models and their port configurations. It enables the application of specific profiles\nto different port types based on their role in the network topology.",
        "properties": {
          "gw-downlink-port-map": {
            "description": "List of all the downlink ports and associated port-profiles references.\nUser's discretion is required to fill the downlink port range.\nNo validation is performed to verify whether given port range is downlink ports",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaInterfaceProfile_GwProfileGroupingGet"
                },
                {
                  "properties": {
                    "downlink-port": {
                      "description": "Comma separated downlink Ports/range in format 0/0/1,0/0/2-0/0/4.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "triplet-port-list-type",
                      "x-patterns": "'((0/0/(0|[1-9]|1[0-9]|2[0-5]))(-0/0/(0|[1-9]|1[0-9]|2[0-5]))?)(,0/0/(0|[1-9]|1[0-9]|2[0-5])(-0/0/(0|[1-9]|1[0-9]|2[0-5]))?)*'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Comma separated list of hierarchical PORT IDs and ranges.\nEach port is represented as X/Y/Z, where X, Y, and Z are integers,\nand Z is in the range 0 to 64 (inclusive). A range is specified as\nX/Y/Z1-X/Y/Z2, where Z1 and Z2 are valid port numbers (0 <= Z <= 64).\nThe range is assumed to be inclusive, such that any port matching\nZ1 <= Z <= Z2 falls within the range. Multiple ports or ranges can be\nspecified, separated by commas. Example: 0/0/0,0/0/1-0/0/3,0/0/4"
                    }
                  }
                },
                {
                  "required": [
                    "downlink-port"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "downlinkPort"
            ]
          }
        }
      },
      "ArubaInterfaceProfile_GwModelGrouping": {
        "description": "A grouping for gateway model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to gateways with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "gw-model": {
            "description": "The model type of the gateway. This specifies the physical model identifier\nfor gateways across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts,and features like PoE support. This leaf is used to target Interface Profile\nconfigurations to specific hardware models.\nThis field cannot be edited once created.",
            "enum": [
              "AP_ALL",
              "AP_314",
              "AP_315",
              "AP_318",
              "AP_324",
              "AP_325",
              "AP_374",
              "AP_375",
              "AP_377",
              "AP_387",
              "AP_303",
              "AP_303H",
              "AP_304",
              "AP_305",
              "AP_365",
              "AP_367",
              "AP_303P",
              "AP_584",
              "AP_585",
              "AP_585EX",
              "AP_587",
              "AP_587EX",
              "AP_605H",
              "AP_634",
              "AP_634A",
              "AP_635",
              "AP_635A",
              "AP_654",
              "AP_654A",
              "AP_655",
              "AP_655A",
              "AP_674",
              "AP_675",
              "AP_675EX",
              "AP_677",
              "AP_677EX",
              "AP_679",
              "AP_679EX",
              "AP_725",
              "AP_734",
              "AP_734A",
              "AP_735",
              "AP_735A",
              "AP_745",
              "AP_754",
              "AP_754A",
              "AP_755",
              "AP_755A",
              "AP_763",
              "AP_764",
              "AP_765",
              "AP_765EX",
              "GW_ALL",
              "GW_9004",
              "GW_9004LTE",
              "GW_7005",
              "GW_7008",
              "GW_7010",
              "GW_7030",
              "GW_7024",
              "GW_7205",
              "GW_7210",
              "GW_7220",
              "GW_7240",
              "GW_7240XM",
              "GW_7280",
              "GW_9012",
              "GW_9240",
              "GW_9240_SILVER",
              "GW_9240_GOLD",
              "GW_9240_IDPS",
              "GW_9114",
              "GW_9114_IDPS",
              "GW_9106",
              "GW_9106_IDPS",
              "GW_VGW",
              "GW_VGW_MICRO",
              "GW_VGW_MEDIUM",
              "GW_VGW_LARGE",
              "GW_VGW_XLARGE",
              "SW_CX_ALL",
              "SW_CX_4100",
              "SW_CX_4100i",
              "SW_CX_5400",
              "SW_CX_6000",
              "SW_CX_6100",
              "SW_CX_6200",
              "SW_CX_6200M",
              "SW_CX_6200F",
              "SW_CX_6300",
              "SW_CX_6300M",
              "SW_CX_6300F",
              "SW_CX_6300L",
              "SW_CX_6405",
              "SW_CX_6410",
              "SW_CX_7300",
              "SW_CX_8100",
              "SW_CX_8320",
              "SW_CX_8325",
              "SW_CX_8360",
              "SW_CX_8400",
              "SW_CX_8400S",
              "SW_CX_8400X",
              "SW_CX_9300",
              "SW_CX_9300CL",
              "SW_CX_9300NL",
              "SW_CX_9300S",
              "SW_CX_10000",
              "SW_CX_10000L",
              "SW_CX_GENERIC_X86",
              "SW_CX_GENERIC_X86_P4",
              "SW_CX_GENERICX86_ROSEWOOD",
              "SW_CX_P4_ACCESS",
              "SW_CX_8325CC",
              "SW_CX_8325P",
              "SW_CX_8325H",
              "SW_CX_STOR1000",
              "SW_CX_5420",
              "SW_CX_9500",
              "SW_PVOS_ALL",
              "SW_PVOS_2530",
              "SW_PVOS_2540",
              "SW_PVOS_2930F",
              "SW_PVOS_2930M",
              "SW_PVOS_3810",
              "SW_PVOS_5400R",
              "BRIDGE_ALL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AP_303": "AP model of 303",
              "AP_303H": "AP model of 303H",
              "AP_303P": "AP model of 303P",
              "AP_304": "AP model of 304",
              "AP_305": "AP model of 305",
              "AP_314": "AP model of 314",
              "AP_315": "AP model of 315",
              "AP_318": "AP model of 318",
              "AP_324": "AP model of 324",
              "AP_325": "AP model of 325",
              "AP_365": "AP model of 365",
              "AP_367": "AP model of 367",
              "AP_374": "AP model of 374",
              "AP_375": "AP model of 375",
              "AP_377": "AP model of 377",
              "AP_387": "AP model of 387",
              "AP_584": "AP model of 584",
              "AP_585": "AP model of 585",
              "AP_585EX": "AP model of 585EX",
              "AP_587": "AP model of 587",
              "AP_587EX": "AP model of 587EX",
              "AP_605H": "AP model of 605H",
              "AP_634": "AP model of 634",
              "AP_634A": "AP model of 634A",
              "AP_635": "AP model of 635",
              "AP_635A": "AP model of 635A",
              "AP_654": "AP model of 654",
              "AP_654A": "AP model of 654A",
              "AP_655": "AP model of 655",
              "AP_655A": "AP model of 655A",
              "AP_674": "AP model of 674",
              "AP_675": "AP model of 675",
              "AP_675EX": "AP model of 675EX",
              "AP_677": "AP model of 677",
              "AP_677EX": "AP model of 677EX",
              "AP_679": "AP model of 679",
              "AP_679EX": "AP model of 679EX",
              "AP_725": "AP model of 725",
              "AP_734": "AP model of 734",
              "AP_734A": "AP model of 734A",
              "AP_735": "AP model of 735",
              "AP_735A": "AP model of 735A",
              "AP_745": "AP model of 745",
              "AP_754": "AP model of 754",
              "AP_754A": "AP model of 754A",
              "AP_755": "AP model of 755",
              "AP_755A": "AP model of 755A",
              "AP_763": "AP model of 763",
              "AP_764": "AP model of 764",
              "AP_765": "AP model of 765",
              "AP_765EX": "AP model of 765EX",
              "AP_ALL": "All types of models for AP",
              "BRIDGE_ALL": "All types of models for BRIDGE",
              "GW_7005": "GW model of type 7005",
              "GW_7008": "GW model of type 7008",
              "GW_7010": "GW model of type 7010",
              "GW_7024": "GW model of type 7024",
              "GW_7030": "GW model of type 7030",
              "GW_7205": "GW model of type 7205",
              "GW_7210": "GW model of type 7210",
              "GW_7220": "GW model of type 7220",
              "GW_7240": "GW model of type 7240",
              "GW_7240XM": "GW model of type 7240XM",
              "GW_7280": "GW model of type 7280",
              "GW_9004": "GW model of type 9004",
              "GW_9004LTE": "GW model of type 9004_LTE",
              "GW_9012": "GW model of type 9012",
              "GW_9106": "GW model of type 9106",
              "GW_9106_IDPS": "GW model of type 9106 IDPS",
              "GW_9114": "GW model of type 9114",
              "GW_9114_IDPS": "GW model of type 9114 idps",
              "GW_9240": "GW model of type 9240",
              "GW_9240_GOLD": "GW model of type 9240 gold",
              "GW_9240_IDPS": "GW model of type 9240 idps",
              "GW_9240_SILVER": "GW model of type 9240 silver",
              "GW_ALL": "All types of models for AP",
              "GW_VGW": "GW model of type VGW",
              "GW_VGW_LARGE": "GW model of type VGW_LARGE",
              "GW_VGW_MEDIUM": "GW model of type VGW_MEDIUM",
              "GW_VGW_MICRO": "GW model of type VGW_MICRO",
              "GW_VGW_XLARGE": "GW model of type VGW_XLARGE",
              "SW_CX_10000": "SW_CX model of type 10000",
              "SW_CX_10000L": "SW_CX model of type 10000L",
              "SW_CX_4100": "SW_CX model of type 4100",
              "SW_CX_4100i": "SW_CX model of type 4100",
              "SW_CX_5400": "SW_CX model of type 5400",
              "SW_CX_5420": "SW_CX model of type 5420",
              "SW_CX_6000": "SW_CX model of type 6000",
              "SW_CX_6100": "SW_CX model of type 6100",
              "SW_CX_6200": "SW_CX model of type 6200",
              "SW_CX_6200F": "SW_CX model of type 6200",
              "SW_CX_6200M": "SW_CX model of type 6200",
              "SW_CX_6300": "SW_CX model of type 6300",
              "SW_CX_6300F": "SW_CX model of type 6300",
              "SW_CX_6300L": "SW_CX model of type 6300",
              "SW_CX_6300M": "SW_CX model of type 6300",
              "SW_CX_6405": "SW_CX model of type 6400 chassis",
              "SW_CX_6410": "SW_CX model of type 6400 chassis",
              "SW_CX_7300": "SW_CX model of type 7300 chassis",
              "SW_CX_8100": "SW_CX model of type 8100",
              "SW_CX_8320": "SW_CX model of type 8320",
              "SW_CX_8325": "SW_CX model of type 8325",
              "SW_CX_8325CC": "SW_CX model of type 8325CC",
              "SW_CX_8325H": "SW_CX model of type 8325H",
              "SW_CX_8325P": "SW_CX model of type 8325P",
              "SW_CX_8360": "SW_CX model of type 8360",
              "SW_CX_8400": "SW_CX model of type 8400S",
              "SW_CX_8400S": "SW_CX model of type 8400S",
              "SW_CX_8400X": "SW_CX model of type 8400X",
              "SW_CX_9300": "SW_CX model of type 9300",
              "SW_CX_9300CL": "SW_CX model of type 9300cl",
              "SW_CX_9300NL": "SW_CX model of type 9300nl",
              "SW_CX_9300S": "SW_CX model of type 9300s",
              "SW_CX_9500": "SW_CX model of type 9500",
              "SW_CX_ALL": "All types of models for SW_CX",
              "SW_CX_GENERICX86_ROSEWOOD": "SW_CX model of type Generic-x86-rosewood",
              "SW_CX_GENERIC_X86": "SW_CX model of type Generic-x86",
              "SW_CX_GENERIC_X86_P4": "SW_CX model of type Generic-x86-p4",
              "SW_CX_P4_ACCESS": "SW_CX model of type P4-access",
              "SW_CX_STOR1000": "SW_CX model of type STOR1000",
              "SW_PVOS_2530": "SW_PVOS model of type 2530YA and 2530YB",
              "SW_PVOS_2540": "SW_PVOS model of type 2540",
              "SW_PVOS_2930F": "SW_PVOS model of type 2930",
              "SW_PVOS_2930M": "SW_PVOS model of type 2930",
              "SW_PVOS_3810": "SW_PVOS model of type 3810",
              "SW_PVOS_5400R": "SW_PVOS model of type 5406Rzl and 5412Rzl",
              "SW_PVOS_ALL": "All types of models for SW_PVOS"
            },
            "x-mandatory": true
          }
        },
        "required": [
          "gw-model"
        ]
      },
      "ArubaInterfaceProfile_GwModelGroupingGet": {
        "description": "A grouping for gateway model. This grouping defines the hardware model identifier\nused for associating specific Interface Profile configurations with compatible hardware platforms.\nIt enables targeting of configuration sets to gateways with the same model type,\nensuring consistent interface settings across identical hardware.",
        "properties": {
          "gw-model": {
            "description": "The model type of the gateway. This specifies the physical model identifier\nfor gateways across different form factors and capabilities. Each model\ntype corresponds to a specific hardware platform with predetermined port\ncounts,and features like PoE support. This leaf is used to target Interface Profile\nconfigurations to specific hardware models.\nThis field cannot be edited once created.",
            "enum": [
              "AP_ALL",
              "AP_314",
              "AP_315",
              "AP_318",
              "AP_324",
              "AP_325",
              "AP_374",
              "AP_375",
              "AP_377",
              "AP_387",
              "AP_303",
              "AP_303H",
              "AP_304",
              "AP_305",
              "AP_365",
              "AP_367",
              "AP_303P",
              "AP_584",
              "AP_585",
              "AP_585EX",
              "AP_587",
              "AP_587EX",
              "AP_605H",
              "AP_634",
              "AP_634A",
              "AP_635",
              "AP_635A",
              "AP_654",
              "AP_654A",
              "AP_655",
              "AP_655A",
              "AP_674",
              "AP_675",
              "AP_675EX",
              "AP_677",
              "AP_677EX",
              "AP_679",
              "AP_679EX",
              "AP_725",
              "AP_734",
              "AP_734A",
              "AP_735",
              "AP_735A",
              "AP_745",
              "AP_754",
              "AP_754A",
              "AP_755",
              "AP_755A",
              "AP_763",
              "AP_764",
              "AP_765",
              "AP_765EX",
              "GW_ALL",
              "GW_9004",
              "GW_9004LTE",
              "GW_7005",
              "GW_7008",
              "GW_7010",
              "GW_7030",
              "GW_7024",
              "GW_7205",
              "GW_7210",
              "GW_7220",
              "GW_7240",
              "GW_7240XM",
              "GW_7280",
              "GW_9012",
              "GW_9240",
              "GW_9240_SILVER",
              "GW_9240_GOLD",
              "GW_9240_IDPS",
              "GW_9114",
              "GW_9114_IDPS",
              "GW_9106",
              "GW_9106_IDPS",
              "GW_VGW",
              "GW_VGW_MICRO",
              "GW_VGW_MEDIUM",
              "GW_VGW_LARGE",
              "GW_VGW_XLARGE",
              "SW_CX_ALL",
              "SW_CX_4100",
              "SW_CX_4100i",
              "SW_CX_5400",
              "SW_CX_6000",
              "SW_CX_6100",
              "SW_CX_6200",
              "SW_CX_6200M",
              "SW_CX_6200F",
              "SW_CX_6300",
              "SW_CX_6300M",
              "SW_CX_6300F",
              "SW_CX_6300L",
              "SW_CX_6405",
              "SW_CX_6410",
              "SW_CX_7300",
              "SW_CX_8100",
              "SW_CX_8320",
              "SW_CX_8325",
              "SW_CX_8360",
              "SW_CX_8400",
              "SW_CX_8400S",
              "SW_CX_8400X",
[...]
