{
  "openapi": "3.1.0",
  "info": {
    "title": "Lldp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Lldp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/lldp": {
      "get": {
        "description": "The Link Layer Discovery Protocol (LLDP) is an industry-standard,\nvendor-neutral method to allow networked devices to advertise capabilities,\ndiscover and identify other LLDP enabled devices and gather information in a\nLAN. LLDP is supported on physical interfaces and Out-Of-Band Management (OOBM)\ninterfaces and it is not supported on logical interfaces.",
        "operationId": "readLldp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaLldp_LldpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing LLDP configuration.",
        "tags": [
          "Lldp"
        ],
        "x-cliParam": {
          "commandName": "readLldpCmd",
          "commandUse": "lldp",
          "parentCommand": "readCmd",
          "pathToPrint": "/lldp/",
          "summary": "Read operation for lldp"
        }
      }
    },
    "/network-config/v1alpha1/lldp/{name}": {
      "get": {
        "description": "List of LLDP Profiles.",
        "operationId": "readLldpProfileByID",
        "parameters": [
          {
            "description": "LLDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaLldp_LldpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing LLDP configuration for given name.",
        "tags": [
          "Lldp"
        ],
        "x-cliParam": {
          "commandName": "readLldpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readLldpCmd",
          "pathToPrint": "/lldp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of LLDP Profiles.",
        "operationId": "replaceLldpProfileByID",
        "parameters": [
          {
            "description": "LLDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLldp_LldpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing LLDP configuration for given name.",
        "tags": [
          "Lldp"
        ],
        "x-cliParam": {
          "commandName": "replaceLldpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceLldpCmd",
          "pathToPrint": "/lldp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of LLDP Profiles.",
        "operationId": "createLldpProfileByID",
        "parameters": [
          {
            "description": "LLDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLldp_LldpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Configure LLDP by unique name.",
        "tags": [
          "Lldp"
        ],
        "x-cliParam": {
          "commandName": "createLldpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createLldpCmd",
          "pathToPrint": "/lldp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of LLDP Profiles.",
        "operationId": "deleteLldpProfileByID",
        "parameters": [
          {
            "description": "LLDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete LLDP configuration for given name.",
        "tags": [
          "Lldp"
        ],
        "x-cliParam": {
          "commandName": "deleteLldpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteLldpCmd",
          "pathToPrint": "/lldp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of LLDP Profiles.",
        "operationId": "updateLldpProfileByID",
        "parameters": [
          {
            "description": "LLDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLldp_LldpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing LLDP configuration for given name.",
        "tags": [
          "Lldp"
        ],
        "x-cliParam": {
          "commandName": "updateLldpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateLldpCmd",
          "pathToPrint": "/lldp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaLldp_AutoProvConfig": {
        "description": "Grouping to configure automatic provisioning for radio-port.",
        "properties": {
          "auto-provision": {
            "description": "Automatic provisioning for radio ports.",
            "properties": {
              "auto-provisioning": {
                "description": "Auto-provisioning for radio ports.",
                "enum": [
                  "AUTO_VLAN",
                  "VLAN_BASE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO_VLAN": "Create a VLAN with the specified VLAN ID value to be\nused as the radio ports controller auto-generated VLAN.",
                  "VLAN_BASE": "Assign the default value of the VLAN ID to be used if an\nauto-generated VLAN is created for a radio-port\napplication."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Radio Port automatic provisioning type."
              },
              "enable": {
                "default": "true",
                "description": "Enable configuration of LLDP radio port automatic provisioning.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "vlan-id": {
                "description": "VLAN identifier. This vlan-id must not be 1 since the\nconfiguration is not supported on VLAN 1.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaLldp_AutoProvConfigGet": {
        "description": "Grouping to configure automatic provisioning for radio-port.",
        "properties": {
          "auto-provision": {
            "description": "Automatic provisioning for radio ports.",
            "properties": {
              "auto-provisioning": {
                "description": "Auto-provisioning for radio ports.",
                "enum": [
                  "AUTO_VLAN",
                  "VLAN_BASE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO_VLAN": "Create a VLAN with the specified VLAN ID value to be\nused as the radio ports controller auto-generated VLAN.",
                  "VLAN_BASE": "Assign the default value of the VLAN ID to be used if an\nauto-generated VLAN is created for a radio-port\napplication."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Radio Port automatic provisioning type."
              },
              "enable": {
                "default": "true",
                "description": "Enable configuration of LLDP radio port automatic provisioning.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "vlan-id": {
                "description": "VLAN identifier. This vlan-id must not be 1 since the\nconfiguration is not supported on VLAN 1.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaLldp_BasictlvConfig": {
        "description": "Grouping of basic TLV(type-length-value) to advertise.",
        "properties": {
          "basic": {
            "description": "Basic TLV List to advertise.",
            "properties": {
              "management-addr": {
                "description": "Management Address TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "port-descr": {
                "description": "Port Description TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "system-cap": {
                "description": "System Capability TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "system-descr": {
                "description": "System Description TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "system-name": {
                "description": "System Name TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_BasictlvConfigGet": {
        "description": "Grouping of basic TLV(type-length-value) to advertise.",
        "properties": {
          "basic": {
            "description": "Basic TLV List to advertise.",
            "properties": {
              "management-addr": {
                "description": "Management Address TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "port-descr": {
                "description": "Port Description TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "system-cap": {
                "description": "System Capability TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "system-descr": {
                "description": "System Description TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "system-name": {
                "description": "System Name TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_Dot1tlvConfig": {
        "description": "Grouping of 802.1 TLV(type-length-value) to advertise.",
        "properties": {
          "dot1": {
            "description": "802.1 TLV list to advertise.",
            "properties": {
              "link-aggregation": {
                "description": "To advertise Link Aggregation TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "port-vlan-id": {
                "description": "To advertise VLAN ID TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "port-vlan-name": {
                "description": "To advertise VLAN name TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_Dot1tlvConfigGet": {
        "description": "Grouping of 802.1 TLV(type-length-value) to advertise.",
        "properties": {
          "dot1": {
            "description": "802.1 TLV list to advertise.",
            "properties": {
              "link-aggregation": {
                "description": "To advertise Link Aggregation TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "port-vlan-id": {
                "description": "To advertise VLAN ID TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "port-vlan-name": {
                "description": "To advertise VLAN name TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_LldpSchemaGET": {
        "description": "The Link Layer Discovery Protocol (LLDP) is an industry-standard,\nvendor-neutral method to allow networked devices to advertise capabilities,\ndiscover and identify other LLDP enabled devices and gather information in a\nLAN. LLDP is supported on physical interfaces and Out-Of-Band Management (OOBM)\ninterfaces and it is not supported on logical interfaces.",
        "properties": {
          "profile": {
            "description": "List of LLDP Profiles.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaLldp_AutoProvConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaLldp_TlvConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaLldp_TlvDcbxAppConfigGet"
                },
                {
                  "properties": {
                    "dcbx-enable": {
                      "default": "false",
                      "description": "Enable Data Center Bridging Exchange Protocol (DCBX).",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "dcbx-version": {
                      "default": "IEEE",
                      "description": "Data Center Bridging Exchange Protocol (DCBX) Version.",
                      "enum": [
                        "CEE",
                        "IEEE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CEE": "CEE version.",
                        "IEEE": "IEEE version."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "DCBX version type."
                    },
                    "description": {
                      "description": "LLDP profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "disable": {
                      "default": "false",
                      "description": "Disable LLDP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "hold-multiplier": {
                      "default": "4",
                      "description": "Hold interval multiplier.",
                      "format": "int64",
                      "maximum": 10,
                      "minimum": 2,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "lldp-trap-enable": {
                      "default": "false",
                      "description": "Send SNMP traps for LLDP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "management-ip-address": {
                      "description": "Management IPv4 address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address-prefix",
                      "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-2][0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-5][0-5])))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Valid LLDP management IPv4 address."
                    },
                    "management-ipv6-address": {
                      "description": "Management IPv6 address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address-prefix",
                      "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Valid LLDP IPv6 management address."
                    },
                    "management-vlan": {
                      "description": "VLAN whose IP address will be used.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "med-fast-transmit-counter": {
                      "default": "5",
                      "description": "Media Endpoint Devices (MED) Fast Transmit counter.",
                      "format": "int64",
                      "maximum": 10,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "name": {
                      "description": "LLDP profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "neighbor-last-update-enable": {
                      "default": "true",
                      "description": "Enable port last update for a neighbor.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "reinit-delay": {
                      "default": "2",
                      "description": "Transmit interval to wait before performing LLDP initialization.",
                      "format": "int64",
                      "maximum": 10,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "transmit-delay": {
                      "default": "2",
                      "description": "Transmit interval to wait before sending LLDP broadcast.",
                      "format": "int64",
                      "maximum": 8192,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "transmit-interval": {
                      "default": "30",
                      "description": "Transmit interval.",
                      "format": "int64",
                      "maximum": 32768,
                      "minimum": 5,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaLldp_LldpprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaLldp_AutoProvConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaLldp_TlvConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaLldp_TlvDcbxAppConfig"
          },
          {
            "properties": {
              "dcbx-enable": {
                "default": "false",
                "description": "Enable Data Center Bridging Exchange Protocol (DCBX).",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "dcbx-version": {
                "default": "IEEE",
                "description": "Data Center Bridging Exchange Protocol (DCBX) Version.",
                "enum": [
                  "CEE",
                  "IEEE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CEE": "CEE version.",
                  "IEEE": "IEEE version."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "DCBX version type."
              },
              "description": {
                "description": "LLDP profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "disable": {
                "default": "false",
                "description": "Disable LLDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "hold-multiplier": {
                "default": "4",
                "description": "Hold interval multiplier.",
                "format": "int64",
                "maximum": 10,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "lldp-trap-enable": {
                "default": "false",
                "description": "Send SNMP traps for LLDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "management-ip-address": {
                "description": "Management IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address-prefix",
                "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-2][0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-5][0-5])))'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Valid LLDP management IPv4 address."
              },
              "management-ipv6-address": {
                "description": "Management IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address-prefix",
                "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Valid LLDP IPv6 management address."
              },
              "management-vlan": {
                "description": "VLAN whose IP address will be used.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "med-fast-transmit-counter": {
                "default": "5",
                "description": "Media Endpoint Devices (MED) Fast Transmit counter.",
                "format": "int64",
                "maximum": 10,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "name": {
                "description": "LLDP profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "neighbor-last-update-enable": {
                "default": "true",
                "description": "Enable port last update for a neighbor.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "reinit-delay": {
                "default": "2",
                "description": "Transmit interval to wait before performing LLDP initialization.",
                "format": "int64",
                "maximum": 10,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "transmit-delay": {
                "default": "2",
                "description": "Transmit interval to wait before sending LLDP broadcast.",
                "format": "int64",
                "maximum": 8192,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "transmit-interval": {
                "default": "30",
                "description": "Transmit interval.",
                "format": "int64",
                "maximum": 32768,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "ArubaLldp_LldpprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaLldp_AutoProvConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaLldp_TlvConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaLldp_TlvDcbxAppConfigGet"
          },
          {
            "properties": {
              "dcbx-enable": {
                "default": "false",
                "description": "Enable Data Center Bridging Exchange Protocol (DCBX).",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "dcbx-version": {
                "default": "IEEE",
                "description": "Data Center Bridging Exchange Protocol (DCBX) Version.",
                "enum": [
                  "CEE",
                  "IEEE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CEE": "CEE version.",
                  "IEEE": "IEEE version."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "DCBX version type."
              },
              "description": {
                "description": "LLDP profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "disable": {
                "default": "false",
                "description": "Disable LLDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "hold-multiplier": {
                "default": "4",
                "description": "Hold interval multiplier.",
                "format": "int64",
                "maximum": 10,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "lldp-trap-enable": {
                "default": "false",
                "description": "Send SNMP traps for LLDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "management-ip-address": {
                "description": "Management IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address-prefix",
                "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-2][0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-5][0-5])))'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Valid LLDP management IPv4 address."
              },
              "management-ipv6-address": {
                "description": "Management IPv6 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address-prefix",
                "x-patterns": "'(([1-9A-Fa-f]|[1-9A-Fa-f][0-9A-Ea-e]|[1-9A-Fa-f][0-9A-Ea-e][0-9A-Fa-f]|[1-9][0-9]{0,3}|[1-9a-fA-F][0-9a-eA-E][0-7][0-9a-fA-F]|fe[0-7c-fC-F][0-9a-fA-F]|FE[0-7c-fC-F][0-9a-fA-F])(:[0-9a-fA-F]{0,4}){0,7})'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Valid LLDP IPv6 management address."
              },
              "management-vlan": {
                "description": "VLAN whose IP address will be used.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "med-fast-transmit-counter": {
                "default": "5",
                "description": "Media Endpoint Devices (MED) Fast Transmit counter.",
                "format": "int64",
                "maximum": 10,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "name": {
                "description": "LLDP profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "neighbor-last-update-enable": {
                "default": "true",
                "description": "Enable port last update for a neighbor.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "reinit-delay": {
                "default": "2",
                "description": "Transmit interval to wait before performing LLDP initialization.",
                "format": "int64",
                "maximum": 10,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "transmit-delay": {
                "default": "2",
                "description": "Transmit interval to wait before sending LLDP broadcast.",
                "format": "int64",
                "maximum": 8192,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "transmit-interval": {
                "default": "30",
                "description": "Transmit interval.",
                "format": "int64",
                "maximum": 32768,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "ArubaLldp_TlvConfig": {
        "description": "Grouping of TLV(type-length-value) parameters to advertise on the specified ports.",
        "properties": {
          "tlv": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaLldp_BasictlvConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaLldp_Dot1tlvConfig"
              }
            ],
            "description": "TLV parameters to advertise on the specified ports.",
            "properties": {
              "oui": {
                "default": "true",
                "description": "To Enable OUI(Organizationally Unique Identifier) TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_TlvConfigGet": {
        "description": "Grouping of TLV(type-length-value) parameters to advertise on the specified ports.",
        "properties": {
          "tlv": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaLldp_BasictlvConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaLldp_Dot1tlvConfigGet"
              }
            ],
            "description": "TLV parameters to advertise on the specified ports.",
            "properties": {
              "oui": {
                "default": "true",
                "description": "To Enable OUI(Organizationally Unique Identifier) TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_TlvDcbxAppConfig": {
        "description": "Configure DCBx application TLV map for local device",
        "properties": {
          "tlv-dcbx-app": {
            "description": "DCBx application TLV map.",
            "properties": {
              "app-tlv": {
                "description": "DCBx application TLV parameter configuration parameters",
                "items": {
                  "properties": {
                    "priority": {
                      "description": "The application priority.",
                      "format": "int64",
                      "maximum": 7,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "protocol-port-number": {
                      "description": "Key combination of protocol and port-number type separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "protocolPortNumber"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaLldp_TlvDcbxAppConfigGet": {
        "description": "Configure DCBx application TLV map for local device",
        "properties": {
          "tlv-dcbx-app": {
            "description": "DCBx application TLV map.",
            "properties": {
              "app-tlv": {
                "description": "DCBx application TLV parameter configuration parameters",
                "items": {
                  "properties": {
                    "priority": {
                      "description": "The application priority.",
                      "format": "int64",
                      "maximum": 7,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "protocol-port-number": {
                      "description": "Key combination of protocol and port-number type separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "protocolPortNumber"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaLldp_LldpprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaLldp_LldpprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
