{
  "openapi": "3.1.0",
  "info": {
    "title": "Mirror Endpoint",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Mirror Endpoint"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/mirror-endpoint": {
      "get": {
        "description": "Mirror-Endpoints terminate a remote mirror tunnel. They serve to control packet\ndecapsulation and forwarding to the mirror destinations.\nCreating a Mirror-Endpoint is independent of the corresponding mirror session,\nwhich means there is no ordering requirement for the creation of a mirror session\nand a Mirror Endpoint.",
        "operationId": "readMirrorEndpoint",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured mirror-endpoints.",
        "tags": [
          "Mirror Endpoint"
        ],
        "x-cliParam": {
          "commandName": "readMirrorEndpointCmd",
          "commandUse": "mirror-endpoint",
          "parentCommand": "readCmd",
          "pathToPrint": "/mirror-endpoint/",
          "summary": "Read operation for mirror-endpoint"
        }
      }
    },
    "/network-config/v1alpha1/mirror-endpoint/{name}": {
      "get": {
        "description": "Global profile for Mirror-Endpoint Configuration.",
        "operationId": "readMirrorEndpointProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured mirror-endpoints associated with profile.",
        "tags": [
          "Mirror Endpoint"
        ],
        "x-cliParam": {
          "commandName": "readMirrorEndpointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMirrorEndpointCmd",
          "pathToPrint": "/mirror-endpoint/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Global profile for Mirror-Endpoint Configuration.",
        "operationId": "replaceMirrorEndpointProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMirrorEndpoint_MirrorEndpointprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Mirror Endpoint"
        ],
        "x-cliParam": {
          "commandName": "replaceMirrorEndpointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMirrorEndpointCmd",
          "pathToPrint": "/mirror-endpoint/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Global profile for Mirror-Endpoint Configuration.",
        "operationId": "createMirrorEndpointProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMirrorEndpoint_MirrorEndpointprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create/update mirror-endpoints and associated them with profile. This wraps one or more mirror-endpoints within the context of a profile.",
        "tags": [
          "Mirror Endpoint"
        ],
        "x-cliParam": {
          "commandName": "createMirrorEndpointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMirrorEndpointCmd",
          "pathToPrint": "/mirror-endpoint/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Global profile for Mirror-Endpoint Configuration.",
        "operationId": "deleteMirrorEndpointProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete all mirror-endpoints associated with profile.",
        "tags": [
          "Mirror Endpoint"
        ],
        "x-cliParam": {
          "commandName": "deleteMirrorEndpointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMirrorEndpointCmd",
          "pathToPrint": "/mirror-endpoint/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Global profile for Mirror-Endpoint Configuration.",
        "operationId": "updateMirrorEndpointProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMirrorEndpoint_MirrorEndpointprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Mirror Endpoint"
        ],
        "x-cliParam": {
          "commandName": "updateMirrorEndpointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMirrorEndpointCmd",
          "pathToPrint": "/mirror-endpoint/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaMirrorEndpoint_MirrorEndpointDestinations": {
        "description": "Mirror destination interface/lag.",
        "properties": {
          "destination-port": {
            "description": "PVOS: Destination port.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "eth-interfaces": {
            "description": "Mirror destination interfaces.",
            "items": {
              "description": "Mirror destination interfaces.",
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "lag-interfaces": {
            "description": "Mirror destination LAGs.",
            "items": {
              "description": "Mirror destination LAGs.",
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointDestinationsGet": {
        "description": "Mirror destination interface/lag.",
        "properties": {
          "destination-port": {
            "description": "PVOS: Destination port.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "eth-interfaces": {
            "description": "Mirror destination interfaces.",
            "items": {
              "description": "Mirror destination interfaces.",
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "lag-interfaces": {
            "description": "Mirror destination LAGs.",
            "items": {
              "description": "Mirror destination LAGs.",
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointInstance": {
        "description": "Mirror-Endpoint instance configuration.",
        "properties": {
          "comment": {
            "description": "Configure Mirror-Endpoint comment.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "destinations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointDestinations"
              }
            ],
            "description": "Configuration for destination Interface/lag names.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable configured Mirror-Endpoint.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ep-name": {
            "description": "Configure Mirror-Endpoint name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointSource"
              }
            ],
            "description": "Configuration for Source Tunnel.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointInstanceGet": {
        "description": "Mirror-Endpoint instance configuration.",
        "properties": {
          "comment": {
            "description": "Configure Mirror-Endpoint comment.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "destinations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointDestinationsGet"
              }
            ],
            "description": "Configuration for destination Interface/lag names.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable configured Mirror-Endpoint.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ep-name": {
            "description": "Configure Mirror-Endpoint name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointSourceGet"
              }
            ],
            "description": "Configuration for Source Tunnel.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointSchemaGET": {
        "description": "Mirror-Endpoints terminate a remote mirror tunnel. They serve to control packet\ndecapsulation and forwarding to the mirror destinations.\nCreating a Mirror-Endpoint is independent of the corresponding mirror session,\nwhich means there is no ordering requirement for the creation of a mirror session\nand a Mirror Endpoint.",
        "properties": {
          "profile": {
            "description": "Global profile for Mirror-Endpoint Configuration.",
            "items": {
              "properties": {
                "description": {
                  "description": "Configuration to set the description of a Mirror-Endpoint profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "endpoints": {
                  "description": "List of configured mirror endpoints.\nAOS-CX: Max: 32.",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointInstanceGet"
                      }
                    ]
                  },
                  "maxItems": 32,
                  "type": "array",
                  "x-key": [
                    "epName"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "name": {
                  "description": "Configuration to set the name of a Mirror-Endpoint profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaMirrorEndpoint_MirrorEndpointSource": {
        "description": "Mirror-Endpoint source tunnel specification.",
        "properties": {
          "destination-ip": {
            "description": "Tunnel destination IP.\nAOS-CX: Set to same destination IP as Mirror session tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "encap": {
            "description": "Configured Tunnel Encapsulation Type. Default is gre.",
            "enum": [
              "GRE",
              "ERSPAN1",
              "ERSPAN2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ERSPAN1": "Tunnel encapsulation type erspan1.",
              "ERSPAN2": "Tunnel encapsulation type erspan2.",
              "GRE": "Tunnel encapsulation type gre."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Mirror-Endpoint Receiving Tunnel Encapsulation Type."
          },
          "source-ip": {
            "description": "Tunnel source IP.\nAOS-CX: Set to same source IP as Mirror session tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "source-udp": {
            "description": "PVOS: Source UDP port.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "tid": {
            "description": "Source tunnel ID.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vrf": {
            "description": "Source tunnel Virtual Routing and Forwarding (VRF).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointSourceGet": {
        "description": "Mirror-Endpoint source tunnel specification.",
        "properties": {
          "destination-ip": {
            "description": "Tunnel destination IP.\nAOS-CX: Set to same destination IP as Mirror session tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "encap": {
            "description": "Configured Tunnel Encapsulation Type. Default is gre.",
            "enum": [
              "GRE",
              "ERSPAN1",
              "ERSPAN2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ERSPAN1": "Tunnel encapsulation type erspan1.",
              "ERSPAN2": "Tunnel encapsulation type erspan2.",
              "GRE": "Tunnel encapsulation type gre."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Mirror-Endpoint Receiving Tunnel Encapsulation Type."
          },
          "source-ip": {
            "description": "Tunnel source IP.\nAOS-CX: Set to same source IP as Mirror session tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "source-udp": {
            "description": "PVOS: Source UDP port.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "tid": {
            "description": "Source tunnel ID.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vrf": {
            "description": "Source tunnel Virtual Routing and Forwarding (VRF).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointprofileSchema": {
        "properties": {
          "description": {
            "description": "Configuration to set the description of a Mirror-Endpoint profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "endpoints": {
            "description": "List of configured mirror endpoints.\nAOS-CX: Max: 32.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointInstance"
                }
              ]
            },
            "maxItems": 32,
            "type": "array",
            "x-key": [
              "epName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirrorEndpoint_MirrorEndpointprofileSchemaGet": {
        "properties": {
          "description": {
            "description": "Configuration to set the description of a Mirror-Endpoint profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "endpoints": {
            "description": "List of configured mirror endpoints.\nAOS-CX: Max: 32.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointInstanceGet"
                }
              ]
            },
            "maxItems": 32,
            "type": "array",
            "x-key": [
              "epName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "Configuration to set the name of a Mirror-Endpoint profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaMirrorEndpoint_MirrorEndpointprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaMirrorEndpoint_MirrorEndpointprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
