{
  "openapi": "3.1.0",
  "info": {
    "title": "Mirror",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Mirror"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/mirrors": {
      "get": {
        "description": "Mirror Configuration. Mirroring is the ability of a switch to\ntransmit a copy of a packet out another system interface. This allows\nnetwork administrators to replicate all traffic arriving and/or leaving\nselected system interfaces for collection/analysis purposes.",
        "operationId": "readMirrors",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured mirror sessions.",
        "tags": [
          "Mirror"
        ],
        "x-cliParam": {
          "commandName": "readMirrorsCmd",
          "commandUse": "mirrors",
          "parentCommand": "readCmd",
          "pathToPrint": "/mirrors/",
          "summary": "Read operation for mirrors"
        }
      }
    },
    "/network-config/v1alpha1/mirrors/{name}": {
      "get": {
        "description": "Global profile for Mirror Configuration.",
        "operationId": "readMirrorsProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorsprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured mirror session associated with profile.",
        "tags": [
          "Mirror"
        ],
        "x-cliParam": {
          "commandName": "readMirrorsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMirrorsCmd",
          "pathToPrint": "/mirrors/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Global profile for Mirror Configuration.",
        "operationId": "replaceMirrorsProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMirror_MirrorsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Mirror"
        ],
        "x-cliParam": {
          "commandName": "replaceMirrorsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMirrorsCmd",
          "pathToPrint": "/mirrors/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Global profile for Mirror Configuration.",
        "operationId": "createMirrorsProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMirror_MirrorsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create mirror session using profile.",
        "tags": [
          "Mirror"
        ],
        "x-cliParam": {
          "commandName": "createMirrorsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMirrorsCmd",
          "pathToPrint": "/mirrors/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Global profile for Mirror Configuration.",
        "operationId": "deleteMirrorsProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete mirror session associated with profile.",
        "tags": [
          "Mirror"
        ],
        "x-cliParam": {
          "commandName": "deleteMirrorsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMirrorsCmd",
          "pathToPrint": "/mirrors/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Global profile for Mirror Configuration.",
        "operationId": "updateMirrorsProfileByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a Mirror profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMirror_MirrorsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Mirror"
        ],
        "x-cliParam": {
          "commandName": "updateMirrorsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMirrorsCmd",
          "pathToPrint": "/mirrors/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaMirror_MirrorDestination": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationInterfaces"
          },
          {
            "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationTunnel"
          }
        ],
        "description": "Configuration to set the Mirror destination.",
        "properties": {
          "destination-switch-serial": {
            "description": "Destination switch serial number (UI field).",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "destination-type": {
            "description": "Configuration to set the type of mirror destination.\nAOS-CX: 'INTERFACES' for local port/lag destination(s),\n        'TUNNEL' for Tunnel as a Mirror Destination (ERSPAN),\n        'CPU' to send mirrored traffic to CPU to be viewed using diag\n         utilities or tcpdump on MirrorRxNet.",
            "enum": [
              "INTERFACES",
              "CPU",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CPU": "Mirror Destination CPU.",
              "INTERFACES": "Mirror Destination Interface(s) (SPAN).",
              "TUNNEL": "Mirror Destination Tunnel (ERSPAN)."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Configuration to set Mirror destination type."
          }
        }
      },
      "ArubaMirror_MirrorDestinationEthInterface": {
        "description": "Mirror destination interface.",
        "properties": {
          "eth-interface": {
            "description": "Ethernet interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirror_MirrorDestinationEthInterfaceGet": {
        "description": "Mirror destination interface.",
        "properties": {
          "eth-interface": {
            "description": "Ethernet interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirror_MirrorDestinationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationInterfacesGet"
          },
          {
            "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationTunnelGet"
          }
        ],
        "description": "Configuration to set the Mirror destination.",
        "properties": {
          "destination-switch-serial": {
            "description": "Destination switch serial number (UI field).",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "destination-type": {
            "description": "Configuration to set the type of mirror destination.\nAOS-CX: 'INTERFACES' for local port/lag destination(s),\n        'TUNNEL' for Tunnel as a Mirror Destination (ERSPAN),\n        'CPU' to send mirrored traffic to CPU to be viewed using diag\n         utilities or tcpdump on MirrorRxNet.",
            "enum": [
              "INTERFACES",
              "CPU",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CPU": "Mirror Destination CPU.",
              "INTERFACES": "Mirror Destination Interface(s) (SPAN).",
              "TUNNEL": "Mirror Destination Tunnel (ERSPAN)."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Configuration to set Mirror destination type."
          }
        }
      },
      "ArubaMirror_MirrorDestinationInterfaces": {
        "description": "List of mirror destination interfaces.\nAOS-CX: Eth+Lag Sources Max: 1 (4100, 6000, 6100, 8320, 8325, 8400S, 8400X, 9300CL, 9300NL, 10000),\n                             64 (5400, 6200, 6300, 6400, 8100, 8360).",
        "properties": {
          "eth-interfaces": {
            "description": "Destination ethernet interface names.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationEthInterface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ethInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "Destination LAG interface names.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationLagInterface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorDestinationInterfacesGet": {
        "description": "List of mirror destination interfaces.\nAOS-CX: Eth+Lag Sources Max: 1 (4100, 6000, 6100, 8320, 8325, 8400S, 8400X, 9300CL, 9300NL, 10000),\n                             64 (5400, 6200, 6300, 6400, 8100, 8360).",
        "properties": {
          "eth-interfaces": {
            "description": "Destination ethernet interface names.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationEthInterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ethInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "Destination LAG interface names.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationLagInterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorDestinationLagInterface": {
        "description": "Mirror destination LAG interface.",
        "properties": {
          "lag-interface": {
            "description": "LAG interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorDestinationLagInterfaceGet": {
        "description": "Mirror destination LAG interface.",
        "properties": {
          "lag-interface": {
            "description": "LAG interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorDestinationTunnel": {
        "description": "PVOS: Mirror destination tunnel specification.",
        "properties": {
          "destination-ip": {
            "description": "Destination IP for tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "dscp": {
            "description": "Tunnel Differentiated Services Code Point (DSCP).",
            "format": "int32",
            "maximum": 63,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
          },
          "source-ip": {
            "description": "Source IP for tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "span-id": {
            "description": "A unique identifier assigned to a specific segment or span within the destination tunnel.",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "truncation": {
            "description": "PVOS: Enable packet truncation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "udp-port": {
            "description": "PVOS: UDP encapsulation port.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "vrf": {
            "description": "Tunnel Virtual Routing and Forwarding (VRF).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaMirror_MirrorDestinationTunnelGet": {
        "description": "PVOS: Mirror destination tunnel specification.",
        "properties": {
          "destination-ip": {
            "description": "Destination IP for tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "dscp": {
            "description": "Tunnel Differentiated Services Code Point (DSCP).",
            "format": "int32",
            "maximum": 63,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A differentiated services code point (DSCP) marking within the\nIP header."
          },
          "source-ip": {
            "description": "Source IP for tunnel.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "span-id": {
            "description": "A unique identifier assigned to a specific segment or span within the destination tunnel.",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "truncation": {
            "description": "PVOS: Enable packet truncation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "udp-port": {
            "description": "PVOS: UDP encapsulation port.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "vrf": {
            "description": "Tunnel Virtual Routing and Forwarding (VRF).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaMirror_MirrorSession": {
        "description": "Mirror Session Configuration.\nAOS-CX: A mirror session consists of one or more mirror sources, mirror destination(s), a comment and\nan enabled state.",
        "properties": {
          "comment": {
            "description": "Configuration to set the Mirror session comment.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable mirror session.\nAOS-CX: New Mirror Sessions are automatically in the disabled state.  To activate\nmirroring of traffic set enable to 'true'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "session-destination": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirror_MirrorDestination"
              }
            ],
            "description": "Mirror session destination.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "session-id": {
            "description": "Configuration to set the Mirror Session number.\nAOS-CX: Numeric Mirror Session ID from 1-4 per switch. Referenced by policy mirrors.",
            "format": "int32",
            "maximum": 4,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a Mirror session"
          },
          "session-sources": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirror_MirrorSources"
              }
            ],
            "description": "Mirror session sources.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorSessionGet": {
        "description": "Mirror Session Configuration.\nAOS-CX: A mirror session consists of one or more mirror sources, mirror destination(s), a comment and\nan enabled state.",
        "properties": {
          "comment": {
            "description": "Configuration to set the Mirror session comment.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable mirror session.\nAOS-CX: New Mirror Sessions are automatically in the disabled state.  To activate\nmirroring of traffic set enable to 'true'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "session-destination": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirror_MirrorDestinationGet"
              }
            ],
            "description": "Mirror session destination.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "session-id": {
            "description": "Configuration to set the Mirror Session number.\nAOS-CX: Numeric Mirror Session ID from 1-4 per switch. Referenced by policy mirrors.",
            "format": "int32",
            "maximum": 4,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a Mirror session"
          },
          "session-sources": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirror_MirrorSourcesGet"
              }
            ],
            "description": "Mirror session sources.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorSourceInterface": {
        "description": "Mirror source interface",
        "properties": {
          "direction": {
            "description": "Source Interface mirror direction.",
            "enum": [
              "RX",
              "TX",
              "BOTH",
              "RXFILTER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Mirror Source Rx and Tx Packets.",
              "RX": "Mirror Source Receive Packets.",
              "RXFILTER": "Mirror Received Traffic Filtered in ASIC.",
              "TX": "Mirror Source Transmit Packets."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Configure Mirror traffic direction (interface)."
          },
          "skip-tag": {
            "default": "false",
            "description": "PVOS: no-tagged option for port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirror_MirrorSourceInterfaceGet": {
        "description": "Mirror source interface",
        "properties": {
          "direction": {
            "description": "Source Interface mirror direction.",
            "enum": [
              "RX",
              "TX",
              "BOTH",
              "RXFILTER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Mirror Source Rx and Tx Packets.",
              "RX": "Mirror Source Receive Packets.",
              "RXFILTER": "Mirror Received Traffic Filtered in ASIC.",
              "TX": "Mirror Source Transmit Packets."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Configure Mirror traffic direction (interface)."
          },
          "skip-tag": {
            "default": "false",
            "description": "PVOS: no-tagged option for port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirror_MirrorSourceMacAddress": {
        "description": "Mirror source Mac",
        "properties": {
          "mac-address": {
            "description": "PVOS: MAC address to be monitored.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          },
          "mac-direction": {
            "description": "PVOS: MAC address monitoring direction.",
            "enum": [
              "SRC",
              "DST",
              "BOTH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Monitor traffic with specified MAC address as source or destination.",
              "DST": "Monitor traffic with specified MAC address as destination.",
              "SRC": "Monitor traffic with specified MAC address as source."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "PVOS: Configuration to monitor MAC traffic direction types."
          }
        }
      },
      "ArubaMirror_MirrorSourceMacAddressGet": {
        "description": "Mirror source Mac",
        "properties": {
          "mac-address": {
            "description": "PVOS: MAC address to be monitored.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          },
          "mac-direction": {
            "description": "PVOS: MAC address monitoring direction.",
            "enum": [
              "SRC",
              "DST",
              "BOTH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Monitor traffic with specified MAC address as source or destination.",
              "DST": "Monitor traffic with specified MAC address as destination.",
              "SRC": "Monitor traffic with specified MAC address as source."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "PVOS: Configuration to monitor MAC traffic direction types."
          }
        }
      },
      "ArubaMirror_MirrorSourceVlan": {
        "description": "Mirror source vlan",
        "properties": {
          "direction": {
            "description": "VLAN mirror direction.",
            "enum": [
              "RX",
              "TX",
              "BOTH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Mirror Source Rx and Tx Packets.",
              "RX": "Mirror Source Receive Packets.",
              "TX": "Mirror Source Transmit Packets."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Mirror traffic direction type."
          },
          "vlan-id": {
            "description": "VLAN id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaMirror_MirrorSourceVlanGet": {
        "description": "Mirror source vlan",
        "properties": {
          "direction": {
            "description": "VLAN mirror direction.",
            "enum": [
              "RX",
              "TX",
              "BOTH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Mirror Source Rx and Tx Packets.",
              "RX": "Mirror Source Receive Packets.",
              "TX": "Mirror Source Transmit Packets."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Mirror traffic direction type."
          },
          "vlan-id": {
            "description": "VLAN id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaMirror_MirrorSources": {
        "description": "Mirror sources.\nAOS-CX: Eth+Lag Sources Max: 4 (8400S), 52 (4100, 6000, 6100), 64 (5400, 6200, 6300, 6400, 8100, 8360),\n                             128 (8320, 8325, 9300CL, 9300NL, 10000), 256 (8400X).",
        "properties": {
          "eth-interfaces": {
            "description": "List of source ethernet interfaces.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceInterface"
                },
                {
                  "properties": {
                    "eth-interface": {
                      "description": "Ethernet interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                      "x-patternSources": "name",
                      "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ethInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "lag-interfaces": {
            "description": "List of source LAG interfaces.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceInterface"
                },
                {
                  "properties": {
                    "lag-interface": {
                      "description": "LAG interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
                      "x-patternSources": "name",
                      "x-patterns": "'(\\d+)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mac-addresses": {
            "description": "PVOS: Traffic mirroring for a given MAC address.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceMacAddress"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "macAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "source-switch-serial": {
            "description": "Source switch serial number (UI field).",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlans": {
            "description": "List of source vlans.\nAOS-CX: Max: 6 (8400S, 8400X), 4096 (5400, 6200, 6300, 6400, 8100, 8360).",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceVlan"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vlanId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirror_MirrorSourcesGet": {
        "description": "Mirror sources.\nAOS-CX: Eth+Lag Sources Max: 4 (8400S), 52 (4100, 6000, 6100), 64 (5400, 6200, 6300, 6400, 8100, 8360),\n                             128 (8320, 8325, 9300CL, 9300NL, 10000), 256 (8400X).",
        "properties": {
          "eth-interfaces": {
            "description": "List of source ethernet interfaces.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceInterfaceGet"
                },
                {
                  "properties": {
                    "eth-interface": {
                      "description": "Ethernet interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                      "x-patternSources": "name",
                      "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ethInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "lag-interfaces": {
            "description": "List of source LAG interfaces.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceInterfaceGet"
                },
                {
                  "properties": {
                    "lag-interface": {
                      "description": "LAG interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
                      "x-patternSources": "name",
                      "x-patterns": "'(\\d+)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagInterface"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mac-addresses": {
            "description": "PVOS: Traffic mirroring for a given MAC address.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceMacAddressGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "macAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "source-switch-serial": {
            "description": "Source switch serial number (UI field).",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlans": {
            "description": "List of source vlans.\nAOS-CX: Max: 6 (8400S, 8400X), 4096 (5400, 6200, 6300, 6400, 8100, 8360).",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMirror_MirrorSourceVlanGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vlanId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMirror_MirrorsSchemaGET": {
        "description": "Mirror Configuration. Mirroring is the ability of a switch to\ntransmit a copy of a packet out another system interface. This allows\nnetwork administrators to replicate all traffic arriving and/or leaving\nselected system interfaces for collection/analysis purposes.",
        "properties": {
          "profile": {
            "description": "Global profile for Mirror Configuration.",
            "items": {
              "properties": {
                "description": {
                  "description": "Configuration to set the description of a Mirror profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "Configuration to set the name of a Mirror profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "session": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaMirror_MirrorSessionGet"
                    }
                  ],
                  "description": "Configured mirror session associated with profile.",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaMirror_MirrorsprofileSchema": {
        "properties": {
          "description": {
            "description": "Configuration to set the description of a Mirror profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "Configuration to set the name of a Mirror profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirror_MirrorSession"
              }
            ],
            "description": "Configured mirror session associated with profile.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMirror_MirrorsprofileSchemaGet": {
        "properties": {
          "description": {
            "description": "Configuration to set the description of a Mirror profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "Configuration to set the name of a Mirror profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMirror_MirrorSessionGet"
              }
            ],
            "description": "Configured mirror session associated with profile.",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaMirror_MirrorsprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaMirror_MirrorsprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
