{
  "openapi": "3.1.0",
  "info": {
    "title": "Sw Port Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Sw Port Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/sw-port-profiles": {
      "get": {
        "description": "Configure and manage port profiles.\nA port profile is a template for configuring ethernet interface configurations.\nIt is a mechanism intended to ease the process of configuring multiple interfaces\nwith same set of configurations. Instead of manually configuring each interface one-by-one,\nthe port profile collects the common configuration settings and allows them to be applied on\nthe interface or a collection of interfaces.",
        "operationId": "readSwPortProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSwPortProfile_SwPortProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured switch port profiles",
        "tags": [
          "Sw Port Profile"
        ],
        "x-cliParam": {
          "commandName": "readSwPortProfilesCmd",
          "commandUse": "sw-port-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/sw-port-profiles/",
          "summary": "Read operation for sw-port-profiles"
        }
      }
    },
    "/network-config/v1alpha1/sw-port-profiles/{profile-name}": {
      "get": {
        "description": "List of port profiles.",
        "operationId": "readSwPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Name of the port profile.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSwPortProfile_SwPortProfilesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing switch port profile configurations",
        "tags": [
          "Sw Port Profile"
        ],
        "x-cliParam": {
          "commandName": "readSwPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "readSwPortProfilesCmd",
          "pathToPrint": "/sw-port-profiles/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of port profiles.",
        "operationId": "replaceSwPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Name of the port profile.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwPortProfile_SwPortProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing switch port profile configurations",
        "tags": [
          "Sw Port Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceSwPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "replaceSwPortProfilesCmd",
          "pathToPrint": "/sw-port-profiles/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of port profiles.",
        "operationId": "createSwPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Name of the port profile.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwPortProfile_SwPortProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new switch port profile by unique name",
        "tags": [
          "Sw Port Profile"
        ],
        "x-cliParam": {
          "commandName": "createSwPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "createSwPortProfilesCmd",
          "pathToPrint": "/sw-port-profiles/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of port profiles.",
        "operationId": "deleteSwPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Name of the port profile.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the switch port profile",
        "tags": [
          "Sw Port Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteSwPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "deleteSwPortProfilesCmd",
          "pathToPrint": "/sw-port-profiles/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of port profiles.",
        "operationId": "updateSwPortProfilesProfileByID",
        "parameters": [
          {
            "description": "Name of the port profile.",
            "in": "path",
            "name": "profile-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwPortProfile_SwPortProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing switch port profile configurations",
        "tags": [
          "Sw Port Profile"
        ],
        "x-cliParam": {
          "commandName": "updateSwPortProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "profile-name"
            }
          ],
          "parentCommand": "updateSwPortProfilesCmd",
          "pathToPrint": "/sw-port-profiles/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDhcpRelay_Ipv4RelayIf": {
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "ipv4-relay": {
            "description": "DHCPv4 Relay Configurations",
            "properties": {
              "bootp-gateway": {
                "description": "Provides a way to configure a gateway address for the DHCPv4 relay agent to use\nfor DHCP requests. DHCPv4 relay agent uses lowest IP address on the interface,\nwithout this configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "server": {
                "description": "List of DHCPv4 servers.",
                "items": {
                  "properties": {
                    "ip-vrf": {
                      "description": "Key combination of ip and vrf separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "ipVrf"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway",
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv4RelayIfGet": {
        "description": "Grouping for DHCPv4 Relay Configurations",
        "properties": {
          "ipv4-relay": {
            "description": "DHCPv4 Relay Configurations",
            "properties": {
              "bootp-gateway": {
                "description": "Provides a way to configure a gateway address for the DHCPv4 relay agent to use\nfor DHCP requests. DHCPv4 relay agent uses lowest IP address on the interface,\nwithout this configuration.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "server": {
                "description": "List of DHCPv4 servers.",
                "items": {
                  "properties": {
                    "ip-vrf": {
                      "description": "Key combination of ip and vrf separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 16,
                "type": "array",
                "x-key": [
                  "ipVrf"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX",
                  "Gateway",
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpRelay_Ipv6RelayIf": {
        "description": "Grouping for DHCPv6 Relay Configurations"
      },
      "ArubaDhcpRelay_Ipv6RelayIfGet": {
        "description": "Grouping for DHCPv6 Relay Configurations"
      },
      "ArubaFaultMonitor_FaultMonitorInterfaceAction": {
        "description": "fault-monitor-action config",
        "properties": {
          "action": {
            "description": "Action to be performed when the faulty frame count\nexceeds the configured threshold in a 30 second sampling interval.",
            "enum": [
              "NOTIFY",
              "NOTIFY_AND_DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NOTIFY": "NOTIFY - log an event.",
              "NOTIFY_AND_DISABLE": "NOTIFY_AND_DISABLE - log an event and shutdown the port."
            },
            "x-typeDescription": "Notify Mode type."
          },
          "auto-enable": {
            "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a link flap violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 0,
            "type": "integer"
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorInterfaceActionGet": {
        "description": "fault-monitor-action config",
        "properties": {
          "action": {
            "description": "Action to be performed when the faulty frame count\nexceeds the configured threshold in a 30 second sampling interval.",
            "enum": [
              "NOTIFY",
              "NOTIFY_AND_DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NOTIFY": "NOTIFY - log an event.",
              "NOTIFY_AND_DISABLE": "NOTIFY_AND_DISABLE - log an event and shutdown the port."
            },
            "x-typeDescription": "Notify Mode type."
          },
          "auto-enable": {
            "description": "Time in seconds after which the port will be re-enabled if it\nwas shutdown due to a link flap violation. This is only\napplicable when the action is 'NOTIFY_AND_DISABLE'.\nWhen not set, a port that was shutdown due to a violation\nwill remain shut until administratively re-enabled.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 0,
            "type": "integer"
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorInterfaceConfiguration": {
        "description": "Fault-monitor interface config",
        "properties": {
          "excessive-broadcasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceAction"
              },
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_ThresholdUnitsGroup"
              }
            ],
            "description": "Excessive broadcasts interface configuration",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-multicasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceAction"
              },
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_ThresholdUnitsGroup"
              }
            ],
            "description": "Excessive multicasts interface configuration",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "link-flap": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceAction"
              }
            ],
            "description": "link-flap interface configuration",
            "properties": {
              "sensitivity": {
                "description": "Fault sensitivity level.",
                "enum": [
                  "LOW",
                  "MEDIUM",
                  "HIGH"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HIGH": "High sensitivity.",
                  "LOW": "Low sensitivity.",
                  "MEDIUM": "Medium sensitivity."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Fault sensitivity type."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorInterfaceConfigurationGet": {
        "description": "Fault-monitor interface config",
        "properties": {
          "excessive-broadcasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceActionGet"
              },
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_ThresholdUnitsGroupGet"
              }
            ],
            "description": "Excessive broadcasts interface configuration",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-multicasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceActionGet"
              },
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_ThresholdUnitsGroupGet"
              }
            ],
            "description": "Excessive multicasts interface configuration",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "link-flap": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceActionGet"
              }
            ],
            "description": "link-flap interface configuration",
            "properties": {
              "sensitivity": {
                "description": "Fault sensitivity level.",
                "enum": [
                  "LOW",
                  "MEDIUM",
                  "HIGH"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HIGH": "High sensitivity.",
                  "LOW": "Low sensitivity.",
                  "MEDIUM": "Medium sensitivity."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Fault sensitivity type."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaFaultMonitor_ThresholdUnitsGroup": {
        "description": "Grouping threshold related leaves as single group.",
        "properties": {
          "threshold-percent": {
            "description": "Threshold percentage for this storm type.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-rate": {
            "description": "Threshold rate for this storm type.",
            "format": "int64",
            "maximum": 195312500,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-units": {
            "description": "Threshold value's units of measurement.",
            "enum": [
              "PPS",
              "PERCENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PERCENT": "PERCENT - threshold value as a percentage of port's bandwidth.",
              "PPS": "PPS - threshold value in packets per second."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Threshold units type."
          }
        }
      },
      "ArubaFaultMonitor_ThresholdUnitsGroupGet": {
        "description": "Grouping threshold related leaves as single group.",
        "properties": {
          "threshold-percent": {
            "description": "Threshold percentage for this storm type.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-rate": {
            "description": "Threshold rate for this storm type.",
            "format": "int64",
            "maximum": 195312500,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold-units": {
            "description": "Threshold value's units of measurement.",
            "enum": [
              "PPS",
              "PERCENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PERCENT": "PERCENT - threshold value as a percentage of port's bandwidth.",
              "PPS": "PPS - threshold value in packets per second."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Threshold units type."
          }
        }
      },
      "ArubaFlowTelemetryCommon_FlowTelemetryConfig": {
        "description": "Enables centralized Flow Telemetry.\nThis configuration point coordinates the activation of multiple telemetry features\n(IPFIX, traffic insights) through a unified control mechanism."
      },
      "ArubaFlowTelemetryCommon_FlowTelemetryConfigGet": {
        "description": "Enables centralized Flow Telemetry.\nThis configuration point coordinates the activation of multiple telemetry features\n(IPFIX, traffic insights) through a unified control mechanism."
      },
      "ArubaInterfaceCommon_AccessListPolicies": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_AccessListPoliciesGet": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaInterfaceCommon_BasictlvConfig": {
        "description": "Basic type-length-value (TLV) list to advertise.",
        "properties": {
          "basic": {
            "description": "Basic TLV List to advertise.",
            "properties": {
              "management-addr": {
                "description": "Management Address TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "port-descr": {
                "description": "Port Description type-length-value TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "system-cap": {
                "description": "System Capability TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "system-descr": {
                "description": "System Description TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "system-name": {
                "description": "System Name TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_BasictlvConfigGet": {
        "description": "Basic type-length-value (TLV) list to advertise.",
        "properties": {
          "basic": {
            "description": "Basic TLV List to advertise.",
            "properties": {
              "management-addr": {
                "description": "Management Address TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "port-descr": {
                "description": "Port Description type-length-value TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "system-cap": {
                "description": "System Capability TLV",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "system-descr": {
                "description": "System Description TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "system-name": {
                "description": "System Name TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_BfdInterface": {
        "description": "BFD interface configuration."
      },
      "ArubaInterfaceCommon_BfdInterfaceGet": {
        "description": "BFD interface configuration."
      },
      "ArubaInterfaceCommon_CdpConfig": {
        "description": "Grouping for CDP.",
        "properties": {
          "cdp": {
            "description": "CDP configuration.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enable CDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "mode": {
                "description": "CDP pre-standard voice mode.",
                "enum": [
                  "TX_ONLY",
                  "RX_ONLY",
                  "TX_RX",
                  "TX_ONLY_ON_VOICE_RX",
                  "DISABLE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable both transmit and receive for voice VLAN CDP(Cisco Discovery Protocol) packets.",
                  "RX_ONLY": "Enable interface to only receive voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be transmitted.",
                  "TX_ONLY": "Enable interface to only transmit voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be received.",
                  "TX_ONLY_ON_VOICE_RX": "Enable interface to transmit CDP(Cisco Discovery Protocol) packets\nonly on reception of Voice VLAN query.",
                  "TX_RX": "Enable interface to both transmit and receive voice VLAN CDP(Cisco Discovery Protocol)\npackets."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "CDP pre-std-voice mode on this interface."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CdpConfigGet": {
        "description": "Grouping for CDP.",
        "properties": {
          "cdp": {
            "description": "CDP configuration.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enable CDP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "mode": {
                "description": "CDP pre-standard voice mode.",
                "enum": [
                  "TX_ONLY",
                  "RX_ONLY",
                  "TX_RX",
                  "TX_ONLY_ON_VOICE_RX",
                  "DISABLE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DISABLE": "Disable both transmit and receive for voice VLAN CDP(Cisco Discovery Protocol) packets.",
                  "RX_ONLY": "Enable interface to only receive voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be transmitted.",
                  "TX_ONLY": "Enable interface to only transmit voice VLAN CDP(Cisco Discovery Protocol)\npackets.CDP packets will not be received.",
                  "TX_ONLY_ON_VOICE_RX": "Enable interface to transmit CDP(Cisco Discovery Protocol) packets\nonly on reception of Voice VLAN query.",
                  "TX_RX": "Enable interface to both transmit and receive voice VLAN CDP(Cisco Discovery Protocol)\npackets."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "CDP pre-std-voice mode on this interface."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CiptInterfaceConfig": {
        "description": "Grouping for Interface-level configuration parameters of client IP tracker.",
        "properties": {
          "client-limit-max": {
            "default": "128",
            "description": "Configure the maximum number of clients tracked on this port. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 4096,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "connect-to-network-device": {
            "default": "false",
            "description": "Marks a port as being connected with a network device. It is applicable to AOS-S switch.\nThis configuration is valid only on a layer2 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "mode": {
            "description": "Specifies client IP tracking mode on the port of AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "enum": [
              "ENABLE",
              "DISABLE",
              "AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Default mode. Track limited set of clients based on LLDP/CDP\nsignature and access/trunk configuration.",
              "DISABLE": "Client IP addresses are not tracked on this port.",
              "ENABLE": "Track all client IP addresses on this port."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specifies the client IP tracking mode of the port on AOS-CX switches."
          },
          "update-interval": {
            "default": "1800",
            "description": "Configure the IP address update interval in seconds. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 28000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CiptInterfaceConfigGet": {
        "description": "Grouping for Interface-level configuration parameters of client IP tracker.",
        "properties": {
          "client-limit-max": {
            "default": "128",
            "description": "Configure the maximum number of clients tracked on this port. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 4096,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "connect-to-network-device": {
            "default": "false",
            "description": "Marks a port as being connected with a network device. It is applicable to AOS-S switch.\nThis configuration is valid only on a layer2 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "mode": {
            "description": "Specifies client IP tracking mode on the port of AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "enum": [
              "ENABLE",
              "DISABLE",
              "AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Default mode. Track limited set of clients based on LLDP/CDP\nsignature and access/trunk configuration.",
              "DISABLE": "Client IP addresses are not tracked on this port.",
              "ENABLE": "Track all client IP addresses on this port."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specifies the client IP tracking mode of the port on AOS-CX switches."
          },
          "update-interval": {
            "default": "1800",
            "description": "Configure the IP address update interval in seconds. It is applicable to AOS-CX switch.\nThis configuration is valid only on a layer2 interface.",
            "format": "int32",
            "maximum": 28000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CivicAddrConfig": {
        "description": "Civic location ID information to advertise.",
        "properties": {
          "civic-addr": {
            "description": "Civic location ID information to advertise.",
            "properties": {
              "ca-pair": {
                "description": "List of CA-type/CA-value pairs.",
                "items": {
                  "properties": {
                    "ca-type": {
                      "description": "CA-TYPE. For example: 3=city 6=street name, 25=building name.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "ca-value": {
                      "description": "CA-VALUE string.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "caType"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "country-code": {
                "description": "Two character country code to advertise.",
                "format": "pattern",
                "maxLength": 9999,
                "minLength": 2,
                "type": "string",
                "x-patternSources": "country-code",
                "x-patterns": "'[a-zA-z]+'",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "what": {
                "description": "Type of device to which the location data applies:\n0=DHCP server, 1=Switch 2=LLDP-MED endpoint.",
                "format": "int32",
                "maximum": 2,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_CivicAddrConfigGet": {
        "description": "Civic location ID information to advertise.",
        "properties": {
          "civic-addr": {
            "description": "Civic location ID information to advertise.",
            "properties": {
              "ca-pair": {
                "description": "List of CA-type/CA-value pairs.",
                "items": {
                  "properties": {
                    "ca-type": {
                      "description": "CA-TYPE. For example: 3=city 6=street name, 25=building name.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "ca-value": {
                      "description": "CA-VALUE string.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "caType"
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "country-code": {
                "description": "Two character country code to advertise.",
                "format": "pattern",
                "maxLength": 9999,
                "minLength": 2,
                "type": "string",
                "x-patternSources": "country-code",
                "x-patterns": "'[a-zA-z]+'",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "what": {
                "description": "Type of device to which the location data applies:\n0=DHCP server, 1=Switch 2=LLDP-MED endpoint.",
                "format": "int32",
                "maximum": 2,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv4SnoopingInterfaceConfig": {
        "description": "Grouping of port-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "Port-specific DHCPv4-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "max-bindings": {
                "description": "Maximum number of DHCPv4 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv4 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv4SnoopingInterfaceConfigGet": {
        "description": "Grouping of port-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "Port-specific DHCPv4-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "max-bindings": {
                "description": "Maximum number of DHCPv4 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv4 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv6SnoopingInterfaceConfig": {
        "description": "Grouping of port-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "Port-specific DHCPv6-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-bindings": {
                "description": "Maximum number of DHCPv6 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv6 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dhcpv6SnoopingInterfaceConfigGet": {
        "description": "Grouping of port-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "Port-specific DHCPv6-Snooping parameters. This configuration is valid only on a layer2 interface.",
            "properties": {
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-bindings": {
                "description": "Maximum number of DHCPv6 IP bindings allowed on the port",
                "format": "int32",
                "maximum": 16384,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "trust": {
                "default": "false",
                "description": "Trusted interface for DHCPv6 server packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dot1tlvConfig": {
        "description": "802.1 TLV List to advertise.",
        "properties": {
          "dot1": {
            "description": "802.1 TLV list to advertise.",
            "properties": {
              "port-vlan-id": {
                "description": "VLAN ID TLV is to be advertised.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "port-vlan-name": {
                "description": "VLAN name TLV is to be advertised.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dot1tlvConfigGet": {
        "description": "802.1 TLV List to advertise.",
        "properties": {
          "dot1": {
            "description": "802.1 TLV list to advertise.",
            "properties": {
              "port-vlan-id": {
                "description": "VLAN ID TLV is to be advertised.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "port-vlan-name": {
                "description": "VLAN name TLV is to be advertised.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dot3tlvConfig": {
        "description": "dot3 TLV List to advertise.",
        "properties": {
          "dot3tlv": {
            "description": "802.3 TLV list to advertise.",
            "properties": {
              "eee": {
                "description": "EEE (Energy Efficient Ethernet) TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "mac-phy": {
                "description": "MAC Physical Config TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "mfs": {
                "description": "MFS (Maximum Frame Size) TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "poe-plus": {
                "description": "Power Via MDI Config TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_Dot3tlvConfigGet": {
        "description": "dot3 TLV List to advertise.",
        "properties": {
          "dot3tlv": {
            "description": "802.3 TLV list to advertise.",
            "properties": {
              "eee": {
                "description": "EEE (Energy Efficient Ethernet) TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "mac-phy": {
                "description": "MAC Physical Config TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "mfs": {
                "description": "MFS (Maximum Frame Size) TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "poe-plus": {
                "description": "Power Via MDI Config TLV.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_DynamicArpInspectionInterfaceConfig": {
        "description": "Dynamic ARP Inspection interface parameters grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on interface.\nThis configuration is valid only on a layer2 interface.",
            "properties": {
              "trust": {
                "default": "false",
                "description": "Trusted interface for ARP packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_DynamicArpInspectionInterfaceConfigGet": {
        "description": "Dynamic ARP Inspection interface parameters grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on interface.\nThis configuration is valid only on a layer2 interface.",
            "properties": {
              "trust": {
                "default": "false",
                "description": "Trusted interface for ARP packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_EthernetProfileConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceQos_FlowControlConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceConfiguration"
          },
          {
            "$ref": "#/components/schemas/ArubaPortfilter_PortfilterConfiguration"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_BfdInterface"
          },
          {
            "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpInterfaceConfiguration"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PolicyReferenceGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PolicyVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_SwitchportConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_VlanTranslationConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv4Config"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv6Config"
          },
          {
            "$ref": "#/components/schemas/ArubaLacp_LacpInterfaceEthernetConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_MplsInterfaceConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_CdpConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpDirectedBroadcastConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_SflowConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_UdldConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_SmartlinkConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_QinqConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_VsxConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceQos_QosEthernetConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PbtConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaUdpBroadcastForwarder_UdpBroadcastForwarderServer"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmdInterface_MgmdIfConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaIpfixFlowMonitor_InterfaceIpMonitorConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmdInterface_MgmdSnoopingEthConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_LoopPreventionConfig"
          }
        ],
        "description": "Shared grouping for config parameters common to interface and port-profile yangs.",
        "properties": {
          "broadcast-limit": {
            "description": "Limit network bandwidth used by broadcast traffic",
            "format": "int32",
            "maximum": 99,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "dpi-enable": {
            "default": "false",
            "description": "Enable deep packet inspection (DPI) on an interface level.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "description": "Enable the interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Access Point",
              "Gateway"
            ]
          },
          "energy-efficient": {
            "default": "false",
            "description": "Enable auto-negotiation of Energy-Efficient Ethernet (EEE). Supported primarily on 1000BASE-T ports\nfor 4100i, 5420, 6000, 6100, 6200, 6300 and 6400 platforms.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "error-control": {
            "default": "AUTO_FEC",
            "description": "Forward Error Correction (FEC). Add redundant bits to a data stream\nenabling the receiver to detect and correct transmission errors.",
            "enum": [
              "AUTO_FEC",
              "RS_FEC",
              "BASE_R_FEC",
              "NO_FEC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO_FEC": "Use the transceiver default.",
              "BASE_R_FEC": "Use IEEE BASE-R (Firecode) FEC.",
              "NO_FEC": "Do not use any FEC.",
              "RS_FEC": "Use IEEE Reed-Solomon FEC."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "error-control mode."
          },
          "fault-monitor-profile": {
            "description": "Fault monitoring profile to be applied.",
            "format": "pattern",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-fault-monitor:fault-monitor/ac-fault-monitor:profile/ac-fault-monitor:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_.()]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "link-clock-narrow-tolerance": {
            "default": "false",
            "description": "Narrow clock tolerance for a port in 100 Mb/sec mode. Note that this feature only applies to Smart Rate ports\nand only when linked at 100Mbps. It has no effect at other speeds or on other ports. Supported primarily on\nSmartrate ports for 6200 and 6300 platforms",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mac-notify-traps": {
            "description": "Define the events that the SNMP Trap will monitor. The configuration is valid only on a layer2 interface.",
            "items": {
              "description": "Define the events that the SNMP Trap will monitor. The configuration is valid only on a layer2 interface.",
              "enum": [
                "LEARNED",
                "REMOVED",
                "AGED",
                "MOVED"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "AGED": "On the enabled port a MAC is aged out.",
                "LEARNED": "On this port a MAC learn occurs.",
                "MOVED": "On the enabled port a MAC is moved.",
                "REMOVED": "On the enabled port a MAC is removed."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "SNMP trap events"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "macsec-policy": {
            "description": "MACsec policy to use on the interface.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-macsec:macsec/ac-macsec:policy/ac-macsec:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mka-policy": {
            "description": "MKA policy to use on the interface.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-mka:mka/ac-mka:policy/ac-mka:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mtu": {
            "default": "1500",
            "description": "Maximum Transmission Unit (MTU) of the interface in bytes. The MTU defines the largest packet size\nthat can be transmitted over the interface without fragmentation.",
            "format": "int64",
            "maximum": 9198,
            "minimum": 46,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mvrp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaInterfaceCommon_MvrpInterfaceConfig"
              }
            ],
            "description": "MVRP configuration used with trunk interfaces.",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "pvlan-port-mode": {
            "description": "Port modes of private VLAN. Cannot configure PVLAN port mode on routed port.\nA port with PVLAN port mode secondary/promiscuous cannot trunk all vlans.",
            "enum": [
              "PROMISCUOUS",
              "SECONDARY",
              "ISL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ISL": "Extends the PVLAN domain across multiple switches.",
              "PROMISCUOUS": "Configure the port to be a member of the primary VLAN.",
              "SECONDARY": "Set the port as a member of a secondary VLAN."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Port modes private VLANs."
          },
          "routing": {
            "description": "Enable routing on the interface to make it layer-3 capable.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "speed-downshift-enable": {
            "default": "false",
            "description": "Enable speed downshift for 1000BASE-T port. This is a non-standard mode for use only when standards-based\nauto-negotiation is not able to establish a stable link. Enabling this may cause the port to link at a\nlower than expected speed and should not be used on ports that are members of a LAG.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "speed-duplex": {
            "description": "Set ethernet speed and duplex based on port type and inserted transceiver.",
            "enum": [
              "HALF_10MB",
              "FULL_10MB",
              "HALF_100MB",
              "FULL_100MB",
              "FULL_1GB",
              "FULL_10GB",
              "FULL_25GB",
              "FULL_40GB",
              "FULL_50GB",
              "FULL_100GB",
              "FULL_200GB",
              "FULL_400GB",
              "AUTO",
              "AUTO_10MB",
              "AUTO_100MB",
              "AUTO_10MB_100MB",
              "AUTO_1GB",
              "AUTO_2500MB",
              "AUTO_1GB_2500MB",
              "AUTO_5GB",
              "AUTO_2500MB_5GB",
              "AUTO_1GB_2500MB_5GB",
              "AUTO_10GB",
              "AUTO_25GB",
              "AUTO_40GB",
              "AUTO_50GB",
              "AUTO_100GB",
              "AUTO_200GB",
              "AUTO_400GB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Auto Negotiation for speed and duplex mode.",
              "AUTO_100GB": "100 Gb/sec and auto-negotiate link parameters.",
              "AUTO_100MB": "100 Mb/sec and auto-negotiate link parameters.",
              "AUTO_10GB": "10 Gb/sec and auto-negotiate link parameters.",
              "AUTO_10MB": "10 Mb/sec and auto-negotiate link parameters.",
              "AUTO_10MB_100MB": "10 Mb/sec or 100 Mb/sec and auto-negotiate link parameters.",
              "AUTO_1GB": "1 Gb/sec and auto-negotiate link parameters.",
              "AUTO_1GB_2500MB": "1 Gb/sec or 2500 Mb/sec and auto-negotiate link parameters.",
              "AUTO_1GB_2500MB_5GB": "1 Gb/sec or 2500 Mb/sec or 5 Gb/sec and auto-negotiate link parameters.",
              "AUTO_200GB": "200 Gb/sec and auto-negotiate link parameters.",
              "AUTO_2500MB": "2500 Mb/sec and auto-negotiate link parameters.",
              "AUTO_2500MB_5GB": "2500 Mb/sec or 5 Gb/sec and auto-negotiate link parameters.",
              "AUTO_25GB": "25 Gb/sec and auto-negotiate link parameters.",
              "AUTO_400GB": "400 Gb/sec and auto-negotiate link parameters.",
              "AUTO_40GB": "40 Gb/sec and auto-negotiate link parameters.",
              "AUTO_50GB": "50 Gb/sec and auto-negotiate link parameters.",
              "AUTO_5GB": "5 Gb/sec and auto-negotiate link parameters.",
              "FULL_100GB": "100 Gbps, full duplex.",
              "FULL_100MB": "100 Mbps, full duplex.",
              "FULL_10GB": "10 Gbps, full duplex.",
              "FULL_10MB": "10 Mbps, full duplex.",
              "FULL_1GB": "1 Gbps, full duplex.",
              "FULL_200GB": "200 Gbps, full duplex.",
              "FULL_25GB": "25 Gbps, full duplex.",
              "FULL_400GB": "400 Gbps, full duplex.",
              "FULL_40GB": "40 Gbps, full duplex.",
              "FULL_50GB": "50 Gbps, full duplex.",
              "HALF_100MB": "100 Mbps, half duplex.",
              "HALF_10MB": "10 Mbps, half duplex."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Speed, duplex and auto-negotiation mode."
          },
          "speed-override": {
            "default": "false",
            "description": "Override default transceiver speed or auto-negotiation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "trusted-vlans": {
            "description": "Classifying traffic as trusted based on the VLAN.",
            "items": {
              "description": "Classifying traffic as trusted based on the VLAN.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "vlan-list",
              "x-patterns": "'((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?)(,((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?))*'",
              "x-supportedDeviceType": [
                "Gateway"
              ],
              "x-typeDescription": "Comma separated list of VLAN IDs and ranges"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "unknown-vlans": {
            "description": "Configure GVRP unknown VLANs handling mode for ethernet interface.\n Learn: Accept join requests for new VLANs and propagate through GVRP.\n Block: Process GVRP packets for known VLANs only, ignore new VLANs.\n Disable: Ignore all GVRP packets.",
            "enum": [
              "LEARN",
              "BLOCK",
              "DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BLOCK": "Only process GVRP packets that concern themselves with\n known VLANs and ignore new VLANs.",
              "DISABLE": "Ignore all GVRP packets.",
              "LEARN": "Accept join requests for new VLANs on this port and\n propagate requests through all other forwarding ports\n that are participating in GVRP."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Unknown VLANs handling mode for GVRP on port channel interfaces."
          },
          "vrf-forwarding": {
            "description": "Add the interface to the VRF instance uniquely identified by its name.\nThis configuration is valid only on a layer3 interface.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          },
          "vrrp": {
            "description": "IPv4 and IPv6 Virtual Router Redundancy Protocol (VRRP) configurations when routing is enabled.",
            "properties": {
              "vrrp-profile-apply": {
                "description": "Apply VRRP-interface profile on an interface.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-vrrp-intf:vrrp/ac-vrrp-intf:profile/ac-vrrp-intf:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_EthernetProfileConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaInterfaceQos_FlowControlConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorInterfaceConfigurationGet"
          },
          {
            "$ref": "#/components/schemas/ArubaPortfilter_PortfilterConfigurationGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_BfdInterfaceGet"
          },
          {
            "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpInterfaceConfigurationGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PolicyReferenceGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PolicyVlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_SwitchportConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_VlanTranslationConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv4ConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_Ipv6ConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaLacp_LacpInterfaceEthernetConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_MplsInterfaceConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_CdpConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_IpDirectedBroadcastConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_SflowConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_UdldConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_SmartlinkConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_QinqConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_VsxConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceQos_QosEthernetConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_PbtConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaUdpBroadcastForwarder_UdpBroadcastForwarderServerGet"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmdInterface_MgmdIfConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaIpfixFlowMonitor_InterfaceIpMonitorConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmdInterface_MgmdSnoopingEthConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaInterfaceCommon_LoopPreventionConfigGet"
          }
        ],
        "description": "Shared grouping for config parameters common to interface and port-profile yangs.",
        "properties": {
          "broadcast-limit": {
            "description": "Limit network bandwidth used by broadcast traffic",
            "format": "int32",
            "maximum": 99,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "dpi-enable": {
            "default": "false",
            "description": "Enable deep packet inspection (DPI) on an interface level.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "description": "Enable the interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Access Point",
              "Gateway"
            ]
          },
          "energy-efficient": {
            "default": "false",
            "description": "Enable auto-negotiation of Energy-Efficient Ethernet (EEE). Supported primarily on 1000BASE-T ports\nfor 4100i, 5420, 6000, 6100, 6200, 6300 and 6400 platforms.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "error-control": {
            "default": "AUTO_FEC",
            "description": "Forward Error Correction (FEC). Add redundant bits to a data stream\nenabling the receiver to detect and correct transmission errors.",
            "enum": [
              "AUTO_FEC",
              "RS_FEC",
              "BASE_R_FEC",
              "NO_FEC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO_FEC": "Use the transceiver default.",
              "BASE_R_FEC": "Use IEEE BASE-R (Firecode) FEC.",
              "NO_FEC": "Do not use any FEC.",
              "RS_FEC": "Use IEEE Reed-Solomon FEC."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "error-control mode."
          },
          "fault-monitor-profile": {
            "description": "Fault monitoring profile to be applied.",
            "format": "pattern",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-fault-monitor:fault-monitor/ac-fault-monitor:profile/ac-fault-monitor:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_.()]+'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "link-clock-narrow-tolerance": {
            "default": "false",
            "description": "Narrow clock tolerance for a port in 100 Mb/sec mode. Note that this feature only applies to Smart Rate ports\nand only when linked at 100Mbps. It has no effect at other speeds or on other ports. Supported primarily on\nSmartrate ports for 6200 and 6300 platforms",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mac-notify-traps": {
            "description": "Define the events that the SNMP Trap will monitor. The configuration is valid only on a layer2 interface.",
            "items": {
              "description": "Define the events that the SNMP Trap will monitor. The configuration is valid only on a layer2 interface.",
              "enum": [
                "LEARNED",
                "REMOVED",
                "AGED",
                "MOVED"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "AGED": "On the enabled port a MAC is aged out.",
                "LEARNED": "On this port a MAC learn occurs.",
                "MOVED": "On the enabled port a MAC is moved.",
                "REMOVED": "On the enabled port a MAC is removed."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "SNMP trap events"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "macsec-policy": {
            "description": "MACsec policy to use on the interface.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-macsec:macsec/ac-macsec:policy/ac-macsec:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mka-policy": {
            "description": "MKA policy to use on the interface.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-mka:mka/ac-mka:policy/ac-mka:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mtu": {
            "default": "1500",
            "description": "Maximum Transmission Unit (MTU) of the interface in bytes. The MTU defines the largest packet size\nthat can be transmitted over the interface without fragmentation.",
            "format": "int64",
            "maximum": 9198,
            "minimum": 46,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mvrp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaInterfaceCommon_MvrpInterfaceConfigGet"
              }
            ],
            "description": "MVRP configuration used with trunk interfaces.",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "pvlan-port-mode": {
            "description": "Port modes of private VLAN. Cannot configure PVLAN port mode on routed port.\nA port with PVLAN port mode secondary/promiscuous cannot trunk all vlans.",
            "enum": [
              "PROMISCUOUS",
              "SECONDARY",
              "ISL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ISL": "Extends the PVLAN domain across multiple switches.",
              "PROMISCUOUS": "Configure the port to be a member of the primary VLAN.",
              "SECONDARY": "Set the port as a member of a secondary VLAN."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Port modes private VLANs."
          },
          "routing": {
            "description": "Enable routing on the interface to make it layer-3 capable.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "speed-downshift-enable": {
            "default": "false",
            "description": "Enable speed downshift for 1000BASE-T port. This is a non-standard mode for use only when standards-based\nauto-negotiation is not able to establish a stable link. Enabling this may cause the port to link at a\nlower than expected speed and should not be used on ports that are members of a LAG.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "speed-duplex": {
            "description": "Set ethernet speed and duplex based on port type and inserted transceiver.",
            "enum": [
              "HALF_10MB",
              "FULL_10MB",
              "HALF_100MB",
              "FULL_100MB",
              "FULL_1GB",
              "FULL_10GB",
              "FULL_25GB",
              "FULL_40GB",
              "FULL_50GB",
              "FULL_100GB",
              "FULL_200GB",
              "FULL_400GB",
              "AUTO",
              "AUTO_10MB",
              "AUTO_100MB",
              "AUTO_10MB_100MB",
              "AUTO_1GB",
              "AUTO_2500MB",
              "AUTO_1GB_2500MB",
              "AUTO_5GB",
              "AUTO_2500MB_5GB",
              "AUTO_1GB_2500MB_5GB",
              "AUTO_10GB",
              "AUTO_25GB",
              "AUTO_40GB",
              "AUTO_50GB",
              "AUTO_100GB",
              "AUTO_200GB",
              "AUTO_400GB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Auto Negotiation for speed and duplex mode.",
              "AUTO_100GB": "100 Gb/sec and auto-negotiate link parameters.",
              "AUTO_100MB": "100 Mb/sec and auto-negotiate link parameters.",
              "AUTO_10GB": "10 Gb/sec and auto-negotiate link parameters.",
              "AUTO_10MB": "10 Mb/sec and auto-negotiate link parameters.",
              "AUTO_10MB_100MB": "10 Mb/sec or 100 Mb/sec and auto-negotiate link parameters.",
              "AUTO_1GB": "1 Gb/sec and auto-negotiate link parameters.",
              "AUTO_1GB_2500MB": "1 Gb/sec or 2500 Mb/sec and auto-negotiate link parameters.",
              "AUTO_1GB_2500MB_5GB": "1 Gb/sec or 2500 Mb/sec or 5 Gb/sec and auto-negotiate link parameters.",
              "AUTO_200GB": "200 Gb/sec and auto-negotiate link parameters.",
              "AUTO_2500MB": "2500 Mb/sec and auto-negotiate link parameters.",
              "AUTO_2500MB_5GB": "2500 Mb/sec or 5 Gb/sec and auto-negotiate link parameters.",
              "AUTO_25GB": "25 Gb/sec and auto-negotiate link parameters.",
              "AUTO_400GB": "400 Gb/sec and auto-negotiate link parameters.",
              "AUTO_40GB": "40 Gb/sec and auto-negotiate link parameters.",
              "AUTO_50GB": "50 Gb/sec and auto-negotiate link parameters.",
              "AUTO_5GB": "5 Gb/sec and auto-negotiate link parameters.",
              "FULL_100GB": "100 Gbps, full duplex.",
              "FULL_100MB": "100 Mbps, full duplex.",
              "FULL_10GB": "10 Gbps, full duplex.",
              "FULL_10MB": "10 Mbps, full duplex.",
              "FULL_1GB": "1 Gbps, full duplex.",
              "FULL_200GB": "200 Gbps, full duplex.",
              "FULL_25GB": "25 Gbps, full duplex.",
              "FULL_400GB": "400 Gbps, full duplex.",
              "FULL_40GB": "40 Gbps, full duplex.",
              "FULL_50GB": "50 Gbps, full duplex.",
              "HALF_100MB": "100 Mbps, half duplex.",
              "HALF_10MB": "10 Mbps, half duplex."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Speed, duplex and auto-negotiation mode."
          },
          "speed-override": {
            "default": "false",
            "description": "Override default transceiver speed or auto-negotiation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "trusted-vlans": {
            "description": "Classifying traffic as trusted based on the VLAN.",
            "items": {
              "description": "Classifying traffic as trusted based on the VLAN.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "vlan-list",
              "x-patterns": "'((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?)(,((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?))*'",
              "x-supportedDeviceType": [
                "Gateway"
              ],
              "x-typeDescription": "Comma separated list of VLAN IDs and ranges"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "unknown-vlans": {
            "description": "Configure GVRP unknown VLANs handling mode for ethernet interface.\n Learn: Accept join requests for new VLANs and propagate through GVRP.\n Block: Process GVRP packets for known VLANs only, ignore new VLANs.\n Disable: Ignore all GVRP packets.",
            "enum": [
              "LEARN",
              "BLOCK",
              "DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BLOCK": "Only process GVRP packets that concern themselves with\n known VLANs and ignore new VLANs.",
              "DISABLE": "Ignore all GVRP packets.",
              "LEARN": "Accept join requests for new VLANs on this port and\n propagate requests through all other forwarding ports\n that are participating in GVRP."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Unknown VLANs handling mode for GVRP on port channel interfaces."
          },
          "vrf-forwarding": {
            "description": "Add the interface to the VRF instance uniquely identified by its name.\nThis configuration is valid only on a layer3 interface.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          },
          "vrrp": {
            "description": "IPv4 and IPv6 Virtual Router Redundancy Protocol (VRRP) configurations when routing is enabled.",
            "properties": {
              "vrrp-profile-apply": {
                "description": "Apply VRRP-interface profile on an interface.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-vrrp-intf:vrrp/ac-vrrp-intf:profile/ac-vrrp-intf:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaInterfaceCommon_IpConfig": {
        "description": "Grouping for IP config.",
        "properties": {
          "ip": {
            "description": "IP configuration. This configuration is valid only on a layer3 interface.",
            "properties": {
              "l3-counters": {
                "description": "Rx and Tx L3 counters.",
                "enum": [
                  "TX",
                  "RX",
                  "RX_TX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RX": "Rx L3 counters.",
                  "RX_TX": "Rx and Tx L3 counters.",
                  "TX": "Tx L3 counters."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Enable Rx and Tx L3 counters on Tunnel interface."
              },
              "mtu": {
                "default": "1500",
                "description": "IP MTU of an interface in bytes. The IP MTU is the largest IP packet that can be sent by the interface.\nThis value should be less than or equal to the overall MTU for the interface.",
                "format": "int64",
                "maximum": 9198,
                "minimum": 68,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
[...]
