{
  "openapi": "3.1.0",
  "info": {
    "title": "Access Points",
    "version": "0.0.1",
    "description": "API service to run troubleshooting tests on devices - Access Points (APs), CX Switches, AOS-S Switches, and Gateways (GWs)."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Access Points",
      "description": "Troubleshooting operations on Access Points (APs)"
    }
  ],
  "paths": {
    "/network-troubleshooting/v1/aps/{serial-number}/aaa": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate an AAA test on an AP",
        "description": "Starts an asynchronous AAA test on the specified AP.",
        "operationId": "initiateApAaaV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "description": "AP AAA command parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaaApRequest"
              },
              "example": {
                "serverName": "radius-server-1",
                "username": "testuser",
                "password": "password123"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/aaa/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-07-22T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/aaa/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP AAA test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP AAA test.",
        "operationId": "getApAaaResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP AAA test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaaApResult"
                },
                "examples": {
                  "completed-passed": {
                    "summary": "AP AAA test passed",
                    "value": {
                      "startTime": "2025-07-22T10:00:05Z",
                      "endTime": "2025-07-22T10:00:07Z",
                      "progressPercent": 100,
                      "status": "COMPLETED",
                      "failReason": null,
                      "output": {
                        "serverName": "radius-server-1",
                        "authenticationStatus": "Passed"
                      }
                    }
                  },
                  "completed-failed": {
                    "summary": "AP AAA test failed",
                    "value": {
                      "startTime": "2025-07-22T10:01:05Z",
                      "endTime": "2025-07-22T10:01:08Z",
                      "progressPercent": 100,
                      "status": "COMPLETED",
                      "failReason": "Authentication timed out",
                      "output": {
                        "serverName": "radius-server-1",
                        "authenticationStatus": "Failed"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/disconnectUserAll": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Disconnect all users from an Access Point",
        "description": "Initiates a disconnect action for all users connected to the specified Access Point.",
        "operationId": "disconnectAllUsersApV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The disconnect action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-07-22T15:00:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/disconnectUserByMacAddress": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Disconnect a specific user by MAC address from an Access Point",
        "description": "Initiates a disconnect action for a specific user connected to the specified Access Point, identified by their MAC address.",
        "operationId": "disconnectUserByMacApV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "description": "User MAC address to disconnect",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisconnectUserByMacApRequest"
              },
              "example": {
                "userMacAddress": "AA:BB:CC:DD:EE:FF"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The disconnect action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-07-22T15:05:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/disconnectUserByNetwork": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Disconnect all users from a specific network (SSID) on an Access Point",
        "description": "Initiates a disconnect action for all users connected to a specific network (SSID) on the specified Access Point.",
        "operationId": "disconnectUserByNetworkApV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "description": "Network name (SSID) to disconnect users from",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisconnectUserByNetworkApRequest"
              },
              "example": {
                "networkName": "Corporate-WiFi-5G"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The disconnect action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-07-22T15:10:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/getArpTable": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate a Get Arp Table test on an AP",
        "description": "Starts an asynchronous Get Arp Table test on the specified AP.",
        "operationId": "initiateApGetArpTableV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/getArpTable/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/getArpTable/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP Get Arp Table test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP Get Arp Table test.",
        "operationId": "getApGetArpTableResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP Get Arp Table test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArpTableApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Get Arp Table completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:25:03.610188852Z",
                      "endTime": "2025-05-20T13:25:03.920485478Z",
                      "rawOutput": "\nCOMMAND=show arp\nIP address       HW type     Flags       HW address            Mask     Device\n172.31.98.18     0x1         0x2         a4:83:e7:18:ec:9f     *        br0.3333\n10.27.113.225    0x1         0x2         ec:eb:b8:19:aa:00     *        br0\n10.27.113.226    0x1         0x2         20:4c:03:11:f3:90     *        br0\n172.31.98.36     0x1         0x0         00:00:00:00:00:00     *        br0.3333\n172.31.98.2      0x1         0x6         c8:b5:ad:c3:b2:02     *        br0.3333\n",
                      "output": {
                        "entries": [
                          {
                            "macAddress": "a4:83:e7:18:ec:9f",
                            "mask": "*",
                            "ipAddress": "172.31.98.18",
                            "device": "br0.3333",
                            "hardwareType": "0x1",
                            "flags": "0x2"
                          },
                          {
                            "macAddress": "ec:eb:b8:19:aa:00",
                            "mask": "*",
                            "ipAddress": "10.27.113.225",
                            "device": "br0",
                            "hardwareType": "0x1",
                            "flags": "0x2"
                          },
                          {
                            "macAddress": "20:4c:03:11:f3:90",
                            "mask": "*",
                            "ipAddress": "10.27.113.226",
                            "device": "br0",
                            "hardwareType": "0x1",
                            "flags": "0x2"
                          },
                          {
                            "macAddress": "00:00:00:00:00:00",
                            "mask": "*",
                            "ipAddress": "172.31.98.36",
                            "device": "br0.3333",
                            "hardwareType": "0x1",
                            "flags": "0x0"
                          },
                          {
                            "macAddress": "c8:b5:ad:c3:b2:02",
                            "mask": "*",
                            "ipAddress": "172.31.98.2",
                            "device": "br0.3333",
                            "hardwareType": "0x1",
                            "flags": "0x6"
                          }
                        ]
                      },
                      "failReason": null,
                      "progressPercent": 100,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/http": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate an HTTP test on an AP",
        "description": "Starts an asynchronous HTTP test on the specified AP.",
        "operationId": "initiateApHttpV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/http/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AP Http command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Http request",
                  "value": {
                    "url": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AP Http request with additional parameters",
                  "value": {
                    "url": "www.google.com",
                    "timeout": 5
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/http/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP HTTP test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP HTTP test.",
        "operationId": "getApHttpResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP HTTP test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Http completed successfully",
                    "value": {
                      "progressPercent": 100,
                      "endTime": "2025-05-20T13:21:00.449524726Z",
                      "failReason": null,
                      "status": "COMPLETED",
                      "output": {
                        "downloadRateInKbps": "125",
                        "url": "www.google.com",
                        "downloadBytesInKB": "19"
                      },
                      "startTime": "2025-05-20T13:20:58.202843531Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/https": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate an HTTPS test on an AP",
        "description": "Starts an asynchronous HTTPS test on the specified AP.",
        "operationId": "initiateApHttpsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/https/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AP Https command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpsApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Https request",
                  "value": {
                    "url": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AP Https request with additional parameters",
                  "value": {
                    "url": "www.google.com",
                    "timeout": 5
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/https/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP HTTPS test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP HTTPS test.",
        "operationId": "getApHttpsResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP HTTPS test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpsApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Https completed successfully",
                    "value": {
                      "progressPercent": 100,
                      "endTime": "2025-05-20T13:21:00.449524726Z",
                      "failReason": null,
                      "rawOutput": null,
                      "status": "COMPLETED",
                      "output": {
                        "downloadRateInKbps": "125",
                        "url": "www.google.com",
                        "downloadBytesInKB": "19"
                      },
                      "startTime": "2025-05-20T13:20:58.202843531Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/list-tasks": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "List active async tasks for an AP",
        "description": "Retrieves a list of all active or recently completed asynchronous operations for the specified AP, grouped by test name. Results are sorted by startTime in descending order (most recently started first).",
        "operationId": "listApTasksV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the list of active/recent tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/locate": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Locate an Access Point",
        "description": "Initiates a locate (e.g., blinking LED) operation on the specified Access Point.",
        "operationId": "locateApV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The locate action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictLocating"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/nslookup": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate an Nslookup test on an AP",
        "description": "Starts an asynchronous Nslookup test on the specified AP.",
        "operationId": "initiateApNslookupV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "description": "AP Nslookup command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NslookupApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Nslookup request",
                  "value": {
                    "host": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AP Nslookup request with a specific DNS server",
                  "value": {
                    "host": "www.google.com",
                    "dnsServer": "8.8.8.8"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/nslookup/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/nslookup/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP Nslookup test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP Nslookup test.",
        "operationId": "getApNslookupResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP Nslookup test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NslookupApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Nslookup completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:26:20.837887330Z",
                      "endTime": "2025-05-20T13:26:21.719771353Z",
                      "output": {
                        "hostName": "www.google.com",
                        "dnsServer": "8.8.8.8",
                        "resolvedAddresses": [
                          "142.251.46.164"
                        ]
                      },
                      "failReason": null,
                      "progressPercent": 100,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 50,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/ping": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate a Ping test on an AP",
        "description": "Starts an asynchronous Ping test on the specified AP.",
        "operationId": "initiateApPingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/ping/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AP Ping command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Ping request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AP Ping request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "packetSize": 10,
                    "count": 5,
                    "interfacePort": "eth0",
                    "vlan": 3000,
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/ping/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP Ping test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP Ping test.",
        "operationId": "getApPingResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP Ping test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Ping completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:07:48.849780286Z",
                      "endTime": "2025-05-20T13:08:04.034123064Z",
                      "rawOutput": "\nCOMMAND=ping www.google.com\nPING 142.251.46.164 (142.251.46.164): 56 data bytes\n64 bytes from 142.251.46.164: icmp_seq=0 ttl=108 time=200.2 ms\n64 bytes from 142.251.46.164: icmp_seq=1 ttl=108 time=209.8 ms\n64 bytes from 142.251.46.164: icmp_seq=3 ttl=108 time=208.8 ms\n64 bytes from 142.251.46.164: icmp_seq=4 ttl=108 time=200.2 ms\n\n--- 142.251.46.164 ping statistics ---\n5 packets transmitted, 4 packets received, 20% packet loss\nround-trip min/avg/max = 200.2/204.7/209.8 ms\n",
                      "output": {
                        "receivedPacketsCount": "4",
                        "packetLossPercent": "20",
                        "minimumRoundTripTimeMilliseconds": "200.2",
                        "maximumRoundTripTimeMilliseconds": "209.8",
                        "replies": [
                          {
                            "sentPacketAddress": "142.251.46.164",
                            "sentPacketIcmpSequenceNumber": "0",
                            "sentPacketTimeToLive": "108",
                            "sentPacketTimeMilliseconds": "200.2",
                            "sentPacketSizeBytes": "64"
                          },
                          {
                            "sentPacketAddress": "142.251.46.164",
                            "sentPacketIcmpSequenceNumber": "1",
                            "sentPacketTimeToLive": "108",
                            "sentPacketTimeMilliseconds": "209.8",
                            "sentPacketSizeBytes": "64"
                          },
                          {
                            "sentPacketAddress": "142.251.46.164",
                            "sentPacketIcmpSequenceNumber": "3",
                            "sentPacketTimeToLive": "108",
                            "sentPacketTimeMilliseconds": "208.8",
                            "sentPacketSizeBytes": "64"
                          },
                          {
                            "sentPacketAddress": "142.251.46.164",
                            "sentPacketIcmpSequenceNumber": "4",
                            "sentPacketTimeToLive": "108",
                            "sentPacketTimeMilliseconds": "200.2",
                            "sentPacketSizeBytes": "64"
                          }
                        ],
                        "averageRoundTripTimeMilliseconds": "204.7",
                        "destination": "www.google.com",
                        "resolvedIp": "142.251.46.164",
                        "transmittedPacketsCount": "5"
                      },
                      "failReason": null,
                      "progressPercent": 100,
                      "status": "COMPLETED"
                    }
                  },
                  "completed with failure": {
                    "summary": "AP Ping failed result",
                    "value": {
                      "startTime": "2025-05-20T13:26:20.837887330Z",
                      "endTime": "2025-05-20T13:26:21.719771353Z",
                      "rawOutput": "\nCOMMAND=ping www.djgdij.com\nhost address failed because the ipv4/v6 address www.djgdij.com is invalid.\n",
                      "output": null,
                      "failReason": "Destination not resolved",
                      "progressPercent": 100,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/reboot": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Reboot an Access Point",
        "description": "Initiates a reboot operation on the specified Access Point.",
        "operationId": "rebootApV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The reboot action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictRebooting"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/rebootSwarm": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Reboot an AP Swarm",
        "description": "Initiates a reboot operation on the entire Swarm, triggered via its current conductor AP. The {serial-number} must be the serial of the Swarm's active conductor.",
        "operationId": "rebootApSwarmV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The Swarm reboot action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-10-28T11:00:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Validation errors, or the specified device is not a conductor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notConductor": {
                    "summary": "Device is not a conductor",
                    "value": {
                      "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
                      "message": "Given device is not a conductor"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0,
                  "maximum": 9223372036854776000
                },
                "description": "Request limit per hour."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0,
                  "maximum": 9223372036854776000
                },
                "description": "The number of requests left for the time window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time",
                  "maxLength": 20
                },
                "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictRebooting"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/show-commands": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "List 'show' commands (AP - top commands)",
        "description": "Returns most used/top 'show' commands supported on given AP. ",
        "operationId": "listApShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the list of 'show' commands grouped by category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/showCommands": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Run 'show' commands (AP)",
        "description": "Starts an asynchronous execution of one or more 'show' commands on an AP. The request is rejected with 400 if any command does not start with 'show ', or if more than 20 commands are provided.",
        "operationId": "runApShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The list of 'show' commands to run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowCommandRequest"
              },
              "example": {
                "commands": [
                  "show interface brief",
                  "show version"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. Operation initiated; use the returned location to poll status/result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/showCommands/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-08-25T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestShowCommand"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/showCommands/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get 'show' commands status/result (AP)",
        "description": "Polls the async task for the 'show' commands and returns status and raw text output.",
        "operationId": "getApShowCommandsResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and result for the run 'show' commands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Command finished successfully",
                    "value": {
                      "status": "COMPLETED",
                      "startTime": "2026-02-03T14:20:59.912054756Z",
                      "progressPercent": 100,
                      "output": {
                        "commands": [
                          "show version"
                        ],
                        "results": [
                          {
                            "output": "\r\n\r\n## Command: show version - Tue Feb 3 06:39:02 2026\n====================================================\n\nTue Feb 03 06:39:02.313 2026\nHPE Aruba Networking Wireless Operating System.\nAOS-10 (MODEL: Aruba7010), Version 10.7.2.0 SSR\nWebsite: http://www.arubanetworks.com\n(c) Copyright 2025 Hewlett Packard Enterprise Development LP.\nCompiled on 2025-02-10 at 15:26:21 UTC (build 91891) by jenkins\n\nROM: System Bootstrap, Version CPBoot 1.0.7.0 (build 65676)\nBuilt: 2018-07-06 04:23:32\nBuilt by: p4build@re_client_65676\n\n\nSwitch uptime is 43 days 14 hours 8 minutes 8 seconds\nReboot Cause: Power Cycle (Intent:cause:register ee:ee:0:8000)\nSupervisor Card\nProcessor (XLP208 Rev B1 (Secure Boot) , 800 MHz) with 3797M bytes of memory.\n32K bytes of non-volatile configuration memory.\n1936M bytes of Supervisor Card system flash.\n",
                            "command": "show version"
                          }
                        ]
                      },
                      "endTime": "2026-02-03T14:21:02.004881090Z",
                      "failReason": null
                    }
                  },
                  "running": {
                    "summary": "Still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 40,
                      "startTime": "2025-08-25T10:00:01Z",
                      "endTime": null,
                      "failReason": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/speedtest": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate a Speedtest on an AP",
        "description": "Starts an asynchronous Speedtest on the specified AP.",
        "operationId": "initiateApSpeedtestV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/speedtest/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AP Speedtest command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeedtestApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Speedtest request",
                  "value": {
                    "iperfServerAddress": "84.1.43.23"
                  }
                },
                "full": {
                  "summary": "AP Speedtest request with additional parameters",
                  "value": {
                    "iperfServerAddress": "84.1.43.23",
                    "protocol": "tcp",
                    "serverPort": 5055,
                    "bandwidth": 1000,
                    "includeReverse": true,
                    "secondsToMeasure": 20,
                    "parallel": 10,
                    "omit": 3,
                    "windowSize": 1000
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/speedtest/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP Speedtest status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP Speedtest.",
        "operationId": "getApSpeedtestResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP Speedtest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeedtestApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Speedtest completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:19:36.125254066Z",
                      "endTime": "2025-05-20T13:19:48.499847376Z",
                      "progressPercent": 100,
                      "output": {
                        "iperfServerAddress": "84.17.57.129",
                        "serverPort": "51118",
                        "downstreamRetries": null,
                        "upstreamDatagrams": null,
                        "downstreamDatagrams": null,
                        "upstreamJitter": null,
                        "downstreamJitter": null,
                        "upstreamLostPackets": null,
                        "upstreamBytes": "21069984",
                        "downstreamLostPackets": null,
                        "upstreamBandwidthInMbps": "16.855683",
                        "downstreamBandwidthInMbps": null,
                        "intervalInSeconds": "10",
                        "protocol": "TCP",
                        "upstreamRetries": "1442",
                        "downstreamBytes": null
                      },
                      "failReason": null,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/tcp": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate a TCP test on an AP",
        "description": "Starts an asynchronous TCP test on the specified AP.",
        "operationId": "initiateApTcpV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/tcp/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AP Tcp command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TcpApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Tcp request",
                  "value": {
                    "host": "www.google.com",
                    "port": 443
                  }
                },
                "full": {
                  "summary": "AP Tcp request with additional parameters",
                  "value": {
                    "host": "www.google.com",
                    "port": 443,
                    "timeout": 5
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/tcp/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP TCP test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP TCP test.",
        "operationId": "getApTcpResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP TCP test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TcpApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Tcp completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:23:33.299455647Z",
                      "endTime": "2025-05-20T13:23:34.121460257Z",
                      "output": {
                        "host": "www.google.com",
                        "connectionTimeInMilliseconds": "209"
                      },
                      "failReason": null,
                      "progressPercent": 100,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/traceroute": {
      "post": {
        "tags": [
          "Access Points"
        ],
        "summary": "Initiate a Traceroute test on an AP",
        "description": "Starts an asynchronous Traceroute test on the specified AP.",
        "operationId": "initiateApTracerouteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aps/{serial-number}/traceroute/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AP Traceroute command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TracerouteApRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AP Traceroute request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AP Traceroute request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "includeRawOutput": false
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aps/{serial-number}/traceroute/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "summary": "Get AP Traceroute test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AP Traceroute test.",
        "operationId": "getApTracerouteResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AP Traceroute test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracerouteApResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AP Traceroute completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:14:29.148912180Z",
                      "progressPercent": 100,
                      "output": {
                        "resolvedIp": "142.251.46.164",
                        "hops": [
                          {
                            "hop": "1",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "33.799 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.113.225"
                              },
                              {
                                "responseTimeMilliseconds": "0.942 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.113.225"
                              },
                              {
                                "responseTimeMilliseconds": "0.897 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.113.225"
                              }
                            ]
                          },
                          {
                            "hop": "2",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "0.890 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.113.1"
                              },
                              {
                                "responseTimeMilliseconds": "399.632 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.113.1"
                              },
                              {
                                "responseTimeMilliseconds": "0.887 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.113.1"
                              }
                            ]
                          },
                          {
                            "hop": "3",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "0.890 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.70.2"
                              },
                              {
                                "responseTimeMilliseconds": "0.795 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.70.2"
                              },
                              {
                                "responseTimeMilliseconds": "997.445 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.70.2"
                              }
                            ]
                          },
                          {
                            "hop": "4",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "0.889 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.66.2"
                              },
                              {
                                "responseTimeMilliseconds": "0.889 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.66.2"
                              },
                              {
                                "responseTimeMilliseconds": "0.801 ms",
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.27.66.2"
                              }
                            ]
                          },
                          {
                            "hop": "5",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "6",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "7",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "8",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "9",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "10",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "11",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "12",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "13",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "14",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "15",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "16",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "17",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "18",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "19",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "20",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "21",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "22",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "23",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "24",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "25",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              }
                            ]
                          },
                          {
                            "hop": "26",
                            "probes": [
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
                                "ipAddress": "null",
                                "reverseDnsResolution": "null"
                              },
                              {
                                "responseTimeMilliseconds": "*",
[...]
