{
  "openapi": "3.1.0",
  "info": {
    "title": "AOS-S Switches",
    "version": "0.0.1",
    "description": "API service to run troubleshooting tests on devices - Access Points (APs), CX Switches, AOS-S Switches, and Gateways (GWs)."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "AOS-S Switches",
      "description": "Troubleshooting operations on AOS-S Switches (The stackId should be used in place of the serial for stack switches)"
    }
  ],
  "paths": {
    "/network-troubleshooting/v1/aos-s/{serial-number}/cableTest": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Initiate a Cable Test on a AOS-S Switch",
        "description": "Starts an asynchronous Cable Test on the specified AOS-S Switch.",
        "operationId": "initiatePvosCableTestV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/cableTest/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AOS-S Switch Cable Test command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CableTestHppcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "AOS-S Switch Cable Test request",
                  "value": {
                    "ports": [
                      "1",
                      "2"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/cableTest/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get AOS-S Switch Cable Test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AOS-S Switch Cable Test.",
        "operationId": "getPvosCableTestResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AOS-S Switch Cable Test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CableTestHppcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AOS-S Switch Cable Test completed successfully",
                    "value": {
                      "endTime": "2025-05-21T04:49:40.514983412Z",
                      "progressPercent": 100,
                      "status": "COMPLETED",
                      "startTime": "2025-05-21T04:49:39.372776208Z",
                      "output": {
                        "results": [
                          {
                            "cablePairDiagnostics": [
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "1-2"
                              },
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "3-6"
                              },
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "4-5"
                              },
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "7-8"
                              }
                            ],
                            "interfaceName": "3"
                          },
                          {
                            "cablePairDiagnostics": [
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "1-2"
                              },
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "3-6"
                              },
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "4-5"
                              },
                              {
                                "length": "0",
                                "status": "Open",
                                "pairName": "7-8"
                              }
                            ],
                            "interfaceName": "6"
                          }
                        ],
                        "ports": [
                          "3",
                          "6"
                        ]
                      },
                      "failReason": null
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/getArpTable": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Initiate a Get Arp Table test on a AOS-S Switch",
        "description": "Starts an asynchronous Get Arp Table test on the specified AOS-S Switch.",
        "operationId": "initiatePvosGetArpTableV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/getArpTable/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/getArpTable/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get AOS-S Switch Get Arp Table test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AOS-S Switch Get Arp Table test.",
        "operationId": "getPvosGetArpTableResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AOS-S Switch Get Arp Table test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArpTableHppcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AOS-S Switch Get Arp Table completed successfully",
                    "value": {
                      "endTime": "2025-05-21T04:47:50.638367494Z",
                      "progressPercent": 100,
                      "status": "COMPLETED",
                      "startTime": "2025-05-21T04:47:49.339145537Z",
                      "output": {
                        "entries": [
                          {
                            "entryType": "dynamic",
                            "ipAddress": "10.97.118.2",
                            "macAddress": "ec6794-7e1fc0",
                            "port": "1"
                          }
                        ]
                      },
                      "failReason": null
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/list-tasks": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "List active async tasks for an AOS-S Switch",
        "description": "Retrieves a list of all active or recently completed asynchronous operations for the specified AOS-S Switch, grouped by test name. Results are sorted by startTime in descending order (most recently started first).",
        "operationId": "listAossTasksV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the list of active/recent tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/locate": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Locate an AOS-S Switch",
        "description": "Initiates a locate (e.g., blinking LED) operation on the specified AOS-S Switch.",
        "operationId": "locatePvosSwitchV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The locate action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictLocating"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/ping": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Initiate a Ping test on a AOS-S Switch",
        "description": "Starts an asynchronous Ping test on the specified AOS-S Switch.",
        "operationId": "initiatePvosPingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/ping/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AOS-S Switch Ping command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingHppcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AOS-S Switch Ping request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AOS-S Switch Ping request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "useIpv6": true,
                    "packetSize": 10,
                    "count": 5,
                    "loopbackPort": 3000,
                    "vlan": 1,
                    "ipAddress": "10.1.1.10",
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/ping/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get AOS-S Switch Ping test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AOS-S Switch Ping test.",
        "operationId": "getPvosPingResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AOS-S Switch Ping test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingHppcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AOS-S Switch Ping completed successfully",
                    "value": {
                      "endTime": "2025-05-21T05:10:26.892804343Z",
                      "status": "COMPLETED",
                      "output": {
                        "maximumRoundTripTimeMilliseconds": "8",
                        "transmittedPacketsCount": "5",
                        "replies": [
                          {
                            "sentPacketAddress": "8.8.8.8",
                            "sentPacketIcmpSequenceNumber": "1",
                            "sentPacketTimeMilliseconds": "8"
                          },
                          {
                            "sentPacketAddress": "8.8.8.8",
                            "sentPacketIcmpSequenceNumber": "2",
                            "sentPacketTimeMilliseconds": "8"
                          },
                          {
                            "sentPacketAddress": "8.8.8.8",
                            "sentPacketIcmpSequenceNumber": "3",
                            "sentPacketTimeMilliseconds": "8"
                          },
                          {
                            "sentPacketAddress": "8.8.8.8",
                            "sentPacketIcmpSequenceNumber": "4",
                            "sentPacketTimeMilliseconds": "7"
                          },
                          {
                            "sentPacketAddress": "8.8.8.8",
                            "sentPacketIcmpSequenceNumber": "5",
                            "sentPacketTimeMilliseconds": "8"
                          }
                        ],
                        "receivedPacketsCount": "5",
                        "packetLossPercent": "0",
                        "minimumRoundTripTimeMilliseconds": "7",
                        "averageRoundTripTimeMilliseconds": "7"
                      },
                      "progressPercent": 100,
                      "rawOutput": "\nping 8.8.8.8 repetitions 5\n8.8.8.8 is alive, iteration 1, time = 8 ms\n8.8.8.8 is alive, iteration 2, time = 8 ms\n8.8.8.8 is alive, iteration 3, time = 8 ms\n8.8.8.8 is alive, iteration 4, time = 7 ms\n8.8.8.8 is alive, iteration 5, time = 8 ms\n5 packets transmitted, 5 packets received, 0% packet loss\nround-trip (ms) min/avg/max = 7/7/8\n\n",
                      "startTime": "2025-05-21T05:10:20.861006578Z",
                      "failReason": null
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/poeBounce": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Initiate a Poe Bounce test on a AOS-S Switch",
        "description": "Starts an asynchronous Poe Bounce test on the specified AOS-S Switch.",
        "operationId": "initiatePvosPoeBounceV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/poeBounce/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AOS-S Switch Poe Bounce command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoeBounceHppcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "AOS-S Switch Poe Bounce request",
                  "value": {
                    "ports": [
                      "1",
                      "2"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/poeBounce/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get AOS-S Switch Poe Bounce test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AOS-S Switch Poe Bounce test.",
        "operationId": "getPvosPoeBounceResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AOS-S Switch Poe Bounce test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoeBounceHppcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AOS-S Switch Poe Bounce completed successfully",
                    "value": {
                      "endTime": "2025-05-21T04:44:00.888823118Z",
                      "status": "COMPLETED",
                      "startTime": "2025-05-21T04:43:59.582064497Z",
                      "failReason": null,
                      "output": {
                        "results": [
                          {
                            "port": "43",
                            "status": "Failed.  Invalid port."
                          },
                          {
                            "port": "7",
                            "status": "Bounced"
                          }
                        ],
                        "ports": [
                          "43",
                          "7"
                        ]
                      },
                      "progressPercent": 100
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/portBounce": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Initiate a Port Bounce test on a AOS-S Switch",
        "description": "Starts an asynchronous Port Bounce test on the specified AOS-S Switch.",
        "operationId": "initiatePvosPortBounceV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/portBounce/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AOS-S Switch Port Bounce command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortBounceHppcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "AOS-S Switch Port Bounce request",
                  "value": {
                    "ports": [
                      "1",
                      "2"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/portBounce/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get AOS-S Switch Port Bounce test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AOS-S Switch Port Bounce test.",
        "operationId": "getPvosPortBounceResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AOS-S Switch Port Bounce test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortBounceHppcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AOS-S Switch Port Bounce completed successfully",
                    "value": {
                      "endTime": "2025-05-21T04:42:45.273878693Z",
                      "status": "COMPLETED",
                      "startTime": "2025-05-21T04:42:44.345783226Z",
                      "failReason": null,
                      "output": {
                        "results": [
                          {
                            "port": "5-7",
                            "status": "Bounced"
                          }
                        ],
                        "ports": [
                          "5-7"
                        ]
                      },
                      "progressPercent": 100
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/reboot": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Reboot an AOS-S Switch",
        "description": "Initiates a reboot operation on the specified AOS-S Switch.",
        "operationId": "rebootPvosSwitchV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The reboot action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictRebooting"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/show-commands": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "List 'show' commands (AOS-S - top commands)",
        "description": "Returns most used/top 'show' commands supported on given AOS-S switch. ",
        "operationId": "listAossShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/showCommands": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Run 'show' commands (AOS-S)",
        "description": "Starts an asynchronous execution of one or more 'show' commands on an AOS-S switch. Rejected with 400 if any command does not start with 'show ', or if more than 20 commands are provided.",
        "operationId": "runAossShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The list of 'show' commands to run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowCommandRequest"
              },
              "example": {
                "commands": [
                  "show ip route",
                  "show version"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/showCommands/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-08-25T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestShowCommand"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/showCommands/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get 'show' commands status/result (AOS-S)",
        "description": "Polls the async task for the 'show' commands and returns status and raw text output.",
        "operationId": "getAossShowCommandsResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Command finished successfully",
                    "value": {
                      "status": "COMPLETED",
                      "progressPercent": 100,
                      "startTime": "2026-02-03T14:20:59.912054756Z",
                      "endTime": "2026-02-03T14:21:02.004881090Z",
                      "failReason": null,
                      "output": {
                        "commands": [
                          "show version"
                        ],
                        "results": [
                          {
                            "output": "ArubaOS-Switch Version 16.x\n...",
                            "command": "show version"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/traceroute": {
      "post": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Initiate a Traceroute test on a AOS-S Switch",
        "description": "Starts an asynchronous Traceroute test on the specified AOS-S Switch.",
        "operationId": "initiatePvosTracerouteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/aos-s/{serial-number}/traceroute/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "AOS-S Switch Traceroute command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TracerouteHppcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal AOS-S Switch Traceroute request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "AOS-S Switch Traceroute request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "sourceInterface": "1",
                    "loopbackPort": 3000,
                    "vlan": 1,
                    "ipAddress": "10.1.1.0",
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/aos-s/{serial-number}/traceroute/async-operations/{task-id}": {
      "get": {
        "tags": [
          "AOS-S Switches"
        ],
        "summary": "Get AOS-S Switch Traceroute test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous AOS-S Switch Traceroute test.",
        "operationId": "getPvosTracerouteResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the AOS-S Switch Traceroute test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracerouteHppcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "AOS-S Switch Traceroute completed successfully",
                    "value": {
                      "endTime": "2025-05-21T11:39:31.826643044Z",
                      "status": "COMPLETED",
                      "output": {
                        "hops": [
                          {
                            "probes": [
                              {
                                "reverseDnsResolution": "10.97.118.2",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.118.2",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.118.2",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              }
                            ],
                            "hop": "1"
                          },
                          {
                            "probes": [
                              {
                                "reverseDnsResolution": "10.97.112.1",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.112.1",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "0 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.112.1",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              }
                            ],
                            "hop": "2"
                          },
                          {
                            "probes": [],
                            "hop": "3"
                          },
                          {
                            "probes": [
                              {
                                "reverseDnsResolution": "10.186.172.153",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.186.172.153",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.186.172.153",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "0 ms"
                              }
                            ],
                            "hop": "5"
                          }
                        ],
                        "destination": "blrubshared-pdash.arubacorp.net"
                      },
                      "progressPercent": 100,
                      "startTime": "2025-05-21T11:39:13.645841269Z",
                      "failReason": null,
                      "rawOutput": "\ntraceroute blrubshared-pdash.arubacorp.net\ntraceroute to 10.186.172.153 ,\n              1 hop min, 30 hops max, 5 sec. timeout, 3 probes\n 1 10.97.118.2           1 ms      1 ms      1 ms\n 2 10.97.112.1           1 ms      0 ms      1 ms\n 3  *  *  * \n 4 10.186.128.6          1 ms10.186.128.4          1 ms      1 ms\n 5 10.186.172.153        1 ms      1 ms      0 ms\n\n"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActionInitiatedStatus": {
        "title": "Action Initiation Response",
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the action was initiated."
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED"
            ],
            "description": "The initial status of the action."
          }
        },
        "required": [
          "startTime",
          "status"
        ]
      },
      "AsyncOperationResultBase": {
        "title": "Base structure for test GET",
        "required": [
          "status",
          "progressPercent",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "INITIATED",
              "RUNNING",
              "COMPLETED",
              "FAILED"
            ],
            "description": "The final or current status of the operation."
          },
          "progressPercent": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage completion of the operation (0-100)."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation was initiated."
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation finished (null if not finished)."
          }
        }
      },
      "AsyncOperationStatus": {
        "title": "Test Initiation Response",
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "format": "uri-reference",
            "description": "The relative URL path to query the status and result of the asynchronous operation."
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED"
            ],
            "description": "The initial status of the operation."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation was initiated."
          }
        }
      },
      "CableTestHppcCablepairdiagnosticsresult": {
        "type": "object",
        "properties": {
          "pairName": {
            "type": "string",
            "description": "The name of the cable pair."
          },
          "length": {
            "type": "string",
            "description": "The measured length of the cable."
          },
          "status": {
            "type": "string",
            "description": "The status of the cable pair test."
          }
        },
        "title": "AOS-S CABLE PAIR DIAGNOSTICS"
      },
      "CableTestHppcCabletestrowresult": {
        "type": "object",
        "properties": {
          "interfaceName": {
            "type": "string",
            "description": "The name of the network interface."
          },
          "cablePairDiagnostics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CableTestHppcCablepairdiagnosticsresult"
            },
            "description": "Diagnostics for each cable pair."
          }
        },
        "title": "AOS-S CABLE TEST ROW"
      },
      "CableTestHppcParsedOutput": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "string",
            "description": "The list of ports involved in the cable test."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CableTestHppcCabletestrowresult"
            },
            "description": "The results for each port."
          }
        },
        "title": "AOS-S CABLE TEST RESPONSE"
      },
      "CableTestHppcRequest": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "array",
            "description": ""
          }
        },
        "required": [
          "ports"
        ],
        "title": "AOS-S CABLE TEST REQUEST"
      },
      "CableTestHppcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CableTestHppcParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "AOS-S CABLE TEST RESULT"
      },
      "DeviceNotReadyErrorResponse": {
        "title": "Device Not Ready Error Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          },
          "errorCode": {
            "type": "string",
            "description": "A unique code identifying the error type."
          }
        },
        "required": [
          "message",
          "errorCode"
        ]
      },
      "ErrorResponse": {
        "title": "Error Response",
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "A unique code identifying the error type."
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          }
        }
      },
      "ForbiddenError": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "Error code for the specific error.",
            "maxLength": 256,
            "example": "HPE_GL_ERROR_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue.",
            "maxLength": 1024,
            "example": "Insufficient permissions to access this resource"
          },
          "debugId": {
            "type": "string",
            "description": "Debug identifier for troubleshooting.",
            "maxLength": 256,
            "example": "abc-123-456"
          }
        }
      },
      "GetArpTableHppcArptablerowresult": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "type": "string",
            "description": "The IP address in the ARP table."
          },
          "macAddress": {
            "type": "string",
            "description": "The MAC address."
          },
          "entryType": {
            "type": "string",
            "description": "The type of the entry."
          },
          "port": {
            "type": "string",
            "description": "The port associated with the entry."
          }
        },
        "title": "AOS-S ARP TABLE ENTRY"
      },
      "GetArpTableHppcParsedOutput": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetArpTableHppcArptablerowresult"
            },
            "description": "The entries in the ARP table."
          }
        },
        "title": "AOS-S ARP TABLE RESPONSE"
      },
      "GetArpTableHppcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetArpTableHppcParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
                "description": "The raw output of the test."
              }
            }
          }
        ],
        "title": "AOS-S ARP TABLE RESULT"
      },
      "PingHppcParsedOutput": {
        "type": "object",
        "properties": {
          "transmittedPacketsCount": {
            "type": "string",
            "description": "Number of packets transmitted."
          },
          "receivedPacketsCount": {
            "type": "string",
            "description": "Number of packets received."
          },
          "packetLossPercent": {
            "type": "string",
            "description": "Percentage of packet loss."
          },
          "minimumRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Minimum round-trip time."
          },
          "maximumRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Maximum round-trip time."
          },
          "averageRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Average round trip time"
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PingHppcPingrowresult"
            },
            "description": "Details for a single ping packet reply."
          }
        },
        "title": "AOS-S PING RESPONSE"
      },
      "PingHppcPingrowresult": {
        "type": "object",
        "properties": {
          "sentPacketAddress": {
            "type": "string",
            "description": "IP address of the sent packet."
          },
          "sentPacketIcmpSequenceNumber": {
            "type": "string",
            "description": "ICMP sequence number of the sent packet."
          },
          "sentPacketTimeMilliseconds": {
            "type": "string",
            "description": "Time taken for the sent packet."
          }
        },
        "title": "AOS-S PING REPLY"
      },
      "PingHppcRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "Hostname/IP address required"
          },
          "useIpv6": {
            "type": "boolean",
            "description": "Use IPv6"
          },
          "packetSize": {
            "type": "integer",
            "description": "The packet size in bytes (10-2000)",
            "minimum": 10,
            "maximum": 2000
          },
          "count": {
            "type": "integer",
            "description": "Number of probes to send (1-100)",
            "minimum": 1,
            "maximum": 100
          },
          "loopbackPort": {
            "type": "integer",
            "description": ""
          },
          "vlan": {
            "type": "integer",
            "description": ""
          },
          "ipAddress": {
            "type": "string",
            "description": ""
          },
          "includeRawOutput": {
            "type": "boolean",
            "description": "Whether to include raw output in the response."
          }
        },
        "required": [
          "destination"
        ],
        "title": "AOS-S PING REQUEST"
      },
      "PingHppcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PingHppcParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
                "description": "The raw output of the test."
              }
            }
          }
        ],
        "title": "AOS-S PING RESULT"
      },
      "PoeBounceHppcParsedOutput": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "string",
            "description": "The list of ports that were bounced."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PoeBounceHppcPoebouncerowresult"
            },
            "description": "The results of each port bounce operation."
          }
        },
        "title": "AOS-S POE BOUNCE RESPONSE"
      },
      "PoeBounceHppcPoebouncerowresult": {
        "type": "object",
        "properties": {
          "port": {
            "type": "string",
            "description": "The port number."
          },
          "status": {
            "type": "string",
            "description": "The status of the port after the bounce operation."
          }
        },
        "title": "AOS-S POE BOUNCE ROW"
      },
      "PoeBounceHppcRequest": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Port Number Required"
          }
        },
        "required": [
          "ports"
        ],
        "title": "AOS-S POE BOUNCE REQUEST"
      },
      "PoeBounceHppcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PoeBounceHppcParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "AOS-S POE BOUNCE RESULT"
      },
      "PortBounceHppcParsedOutput": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "string",
            "description": "The list of ports that were bounced."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortBounceHppcPortbouncerowresult"
            },
            "description": "The results of each port bounce operation."
          }
        },
        "title": "AOS-S PORT BOUNCE RESPONSE"
      },
      "PortBounceHppcPortbouncerowresult": {
        "type": "object",
        "properties": {
          "port": {
            "type": "string",
            "description": "The port number."
          },
          "status": {
            "type": "string",
            "description": "The status of the port after the bounce operation."
          }
        },
        "title": "AOS-S PORT BOUNCE ROW"
      },
      "PortBounceHppcRequest": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Port Number Required"
          }
        },
        "required": [
          "ports"
        ],
        "title": "AOS-S PORT BOUNCE REQUEST"
      },
      "PortBounceHppcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PortBounceHppcParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "AOS-S PORT BOUNCE RESULT"
      },
      "ShowCommandOutput": {
        "title": "RUN SHOW COMMANDS OUTPUT",
        "type": "object",
        "properties": {
          "commands": {
            "type": "array",
            "description": "The original commands sent by the user in order.",
            "items": {
              "type": "string"
            }
          },
          "results": {
            "type": "array",
            "description": "Command outputs in the same order as the commands array.",
            "items": {
              "$ref": "#/components/schemas/ShowCommandResultItem"
            }
          }
        },
        "required": [
          "commands",
          "results"
        ]
      },
      "ShowCommandRequest": {
        "title": "RUN SHOW COMMANDS REQUEST",
        "type": "object",
        "properties": {
          "commands": {
            "type": "array",
            "description": "List of CLI commands to run; each MUST start with 'show '.",
            "maxItems": 20,
            "items": {
              "type": "string",
              "description": "A device CLI command that begins with 'show '.",
              "pattern": "^\\s*show\\b.+"
            }
          }
        },
        "required": [
          "commands"
        ]
      },
      "ShowCommandResult": {
        "title": "RUN SHOW COMMAND RESULT",
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ShowCommandOutput"
                  }
                ]
              }
            }
          }
        ]
      },
      "ShowCommandResultItem": {
        "title": "RUN SHOW COMMAND RESULT ITEM",
        "type": "object",
        "properties": {
          "output": {
            "type": "string",
            "description": "The raw text response returned by the device for the given command."
          },
          "command": {
            "type": "string",
            "description": "The original command sent by the user."
          }
        },
        "required": [
          "output",
          "command"
        ]
      },
      "ShowCommandsCategory": {
        "title": "SHOW COMMANDS CATEGORY",
        "type": "object",
        "properties": {
          "categoryName": {
            "type": "string",
            "description": "A logical category/group name for the commands."
          },
          "count": {
            "type": "integer",
            "description": "Number of commands under this category."
          },
          "commands": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShowCommandsCommand"
            },
            "description": "Commands under this category."
          }
        },
        "required": [
          "categoryName",
          "count",
          "commands"
        ]
      },
      "ShowCommandsCommand": {
        "title": "SHOW COMMAND",
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "description": "A device CLI command that begins with 'show '."
          }
        },
        "required": [
          "command"
        ]
      },
      "ShowCommandsResponse": {
        "title": "SHOW COMMANDS LIST",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ShowCommandsCategory"
        }
      },
      "TaskListEntry": {
        "title": "Task List Entry",
        "type": "object",
        "properties": {
          "testName": {
            "type": "string",
            "description": "The name of the test or command (e.g., 'ping', 'showCommands')."
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri-reference",
              "description": "A list of relative URL paths to query the status of individual task instances."
            },
            "description": "A list of one or more active/recent task locations for this test type."
          }
        },
        "required": [
          "testName",
          "locations"
        ]
      },
      "TaskListResponse": {
        "title": "Task List Response",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TaskListEntry"
        },
        "example": [
          {
            "testName": "showCommands",
            "locations": [
              "/network-troubleshooting/v1/aps/CNMJKZ203A/showCommands/async-operations/34f851ed-5142-44e3-a387-1f57e098e7c6"
            ]
          },
          {
            "testName": "ping",
            "locations": [
              "/network-troubleshooting/v1/aps/CNMJKZ203A/ping/async-operations/03b02a6f-ba7e-47de-8763-161c7ab17ad1"
            ]
          },
          {
            "testName": "getArpTable",
            "locations": [
              "/network-troubleshooting/v1/aps/CNMJKZ203A/getArpTable/async-operations/2cb150ca-a6b5-4603-9135-563697f1f4b9",
              "/network-troubleshooting/v1/aps/CNMJKZ203A/getArpTable/async-operations/9728dc97-8a81-45b7-91ab-676faaf7de0e"
            ]
          }
        ]
      },
      "TracerouteHppcParsedOutput": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "The destination host name or IP address for the traceroute command."
          },
          "hops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TracerouteHppcTracerouterowresult"
            },
            "description": "Details for a single traceroute hop."
          }
        },
        "title": "AOS-S TRACEROUTE RESPONSE"
      },
      "TracerouteHppcRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "Hostname/IP address required"
          },
          "sourceInterface": {
            "type": "string",
            "description": "",
            "enum": [
              "loopback",
              "vlan-interface",
              "ip-address"
            ]
          },
          "loopbackPort": {
            "type": "integer",
            "description": ""
          },
          "vlan": {
            "type": "integer",
            "description": ""
          },
          "ipAddress": {
            "type": "string",
            "description": ""
          },
          "includeRawOutput": {
            "type": "boolean",
            "description": "Whether to include raw output in the response."
          }
        },
        "required": [
          "destination"
        ],
        "title": "AOS-S TRACEROUTE REQUEST"
      },
      "TracerouteHppcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TracerouteHppcParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
                "description": "The raw output of the test."
              }
            }
          }
        ],
        "title": "AOS-S TRACEROUTE RESULT"
      },
      "TracerouteHppcTracerouteproberesult": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "type": "string",
            "description": "The IP address of the probe."
          },
          "reverseDnsResolution": {
            "type": "string",
            "description": "The reverse DNS resolution of the probe."
          },
          "responseTimeMilliseconds": {
            "type": "string",
            "description": "The response time of the probe in milliseconds."
          }
        },
        "title": "AOS-S TRACEROUTE PROBE"
      },
      "TracerouteHppcTracerouterowresult": {
        "type": "object",
        "properties": {
          "hop": {
            "type": "string",
            "description": "The hop number in the traceroute."
          },
          "probes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TracerouteHppcTracerouteproberesult"
            },
            "description": "Details of the probes used in the traceroute."
          }
        },
        "title": "AOS-S TRACEROUTE ROW"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request. Validation errors in the request body or parameters, or invalid parameters for the specific device.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
              "message": "Validation errors - packetSize must be between 10 and 2000"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "BadRequestShowCommand": {
        "description": "Bad Request. Validation errors in the request body or parameters, or invalid parameters for the specific device.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "commandNotShow": {
                "summary": "Command does not start with show",
                "value": {
                  "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
                  "message": "Command denied: must start with 'show '"
                }
              },
              "tooManyCommands": {
                "summary": "Commands array over limit",
                "value": {
                  "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
                  "message": "Too many commands, maximum allowed is 20"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "DeviceConflictLocating": {
        "description": "Conflict. The device is already performing a locate operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceNotReadyErrorResponse"
            },
            "example": {
              "summary": "Device Already Locating",
              "value": {
                "serviceName": "Troubleshooting",
                "httpStatusCode": "409",
                "message": "Device already locating: VN2ZLHB006",
                "code": "DOWNSTREAM_SERVICE_ERROR",
                "errorType": "CONFLICT",
                "errorCode": "HPE_GL_ERROR_CONFLICT"
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "DeviceConflictRebooting": {
        "description": "Conflict. The device is already performing a reboot.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceNotReadyErrorResponse"
            },
            "example": {
              "summary": "Device Already Rebooting",
              "value": {
                "serviceName": "Troubleshooting",
                "httpStatusCode": "409",
                "message": "Device already rebooting: VN2ZLHB006",
                "code": "DOWNSTREAM_SERVICE_ERROR",
                "errorType": "CONFLICT",
                "errorCode": "HPE_GL_ERROR_CONFLICT"
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "DeviceNotFound": {
        "description": "Not Found. The device with the specified serial number was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_NOT_FOUND",
              "message": "Device not found: CXXYYZZ001"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "DeviceOffline": {
        "description": "Conflict. The device is currently offline.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_CONFLICT",
              "message": "Device offline: CXXYYZZ001"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenError"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error. An unexpected error occurred on the server.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_INTERNAL_SERVER_ERROR",
              "message": "An unexpected error occurred."
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "TaskNotFound": {
        "description": "Not Found. The specified async task ID or device serial was not found for this operation type.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_NOT_FOUND",
              "message": "Async operation task not found: c7a3f2d1-e8a9-4b7c-8d1e-0f9a3b2c1d0e"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. The user has sent too many requests in a given amount of time.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
              "message": "Rate limit exceeded."
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. Authentication credentials are required or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_UNAUTHORIZED",
              "message": "Authentication required."
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      }
    },
    "parameters": {
      "AsyncTaskId": {
        "name": "task-id",
        "in": "path",
        "description": "ID of the asynchronous operation task",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "DeviceSerial": {
        "name": "serial-number",
        "in": "path",
        "description": "Serial number of the target device",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
