{
  "openapi": "3.1.0",
  "info": {
    "title": "CX Switches",
    "version": "0.0.1",
    "description": "API service to run troubleshooting tests on devices - Access Points (APs), CX Switches, AOS-S Switches, and Gateways (GWs)."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "CX Switches",
      "description": "Troubleshooting operations on CX Switches (The stackId should be used in place of the serial for stack switches)"
    }
  ],
  "paths": {
    "/network-troubleshooting/v1/cx/{serial-number}/aaa": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Aaa test on a CX Switch",
        "description": "Starts an asynchronous Aaa test on the specified CX Switch.",
        "operationId": "initiateCxAaaV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/aaa/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Aaa command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AaaCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal CX Switch Aaa request",
                  "value": {
                    "authMethodType": "chap",
                    "radiusServerIp": "10.1.1.0",
                    "username": "testuser",
                    "password": "aruba@123"
                  }
                },
                "full": {
                  "summary": "CX Switch Aaa request with additional parameters",
                  "value": {
                    "authMethodType": "pap",
                    "radiusServerIp": "10.1.1.0",
                    "radiusServerPort": 5000,
                    "vrfName": "default",
                    "username": "testuser",
                    "password": "aruba@123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/aaa/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Aaa test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Aaa test.",
        "operationId": "getCxAaaResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Aaa test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaaCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Aaa completed successfully",
                    "value": {
                      "status": "COMPLETED",
                      "progressPercent": 100,
                      "startTime": "2025-05-21T17:07:24.895362597Z",
                      "endTime": "2025-05-21T17:07:31.123316017Z",
                      "output": {
                        "authenticationStatus": "accept",
                        "username": "005056bd4115",
                        "authMethodType": "chap",
                        "radiusServerIp": "10.1.1.10"
                      },
                      "failReason": null
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/cableTest": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Cable Test on a CX Switch",
        "description": "Starts an asynchronous Cable Test on the specified CX Switch.",
        "operationId": "initiateCxCableTestV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/cableTest/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Cable Test command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CableTestCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "CX Switch Cable Test request",
                  "value": {
                    "ports": [
                      "1/1/1",
                      "1/1/2",
                      "2/1/1"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/cableTest/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Cable Test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Cable Test.",
        "operationId": "getCxCableTestResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Cable Test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CableTestCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Cable Test completed successfully",
                    "value": {
                      "output": {
                        "results": [
                          {
                            "cablePairDiagnostics": [
                              {
                                "pairName": "7-8",
                                "length": "0",
                                "status": "Good",
                                "accuracy": "10"
                              },
                              {
                                "pairName": "1-2",
                                "length": "0",
                                "status": "Good",
                                "accuracy": "10"
                              },
                              {
                                "pairName": "3-6",
                                "length": "0",
                                "status": "Good",
                                "accuracy": "10"
                              },
                              {
                                "pairName": "4-5",
                                "length": "0",
                                "status": "Good",
                                "accuracy": "10"
                              }
                            ],
                            "interfaceName": "1/1/1",
                            "state": "complete"
                          }
                        ],
                        "ports": [
                          "1/1/1"
                        ]
                      },
                      "progressPercent": 100,
                      "startTime": "2025-05-20T09:32:26.217392470Z",
                      "failReason": null,
                      "status": "COMPLETED",
                      "endTime": "2025-05-20T09:32:57.201302340Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/http": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Http test on a CX Switch",
        "description": "Starts an asynchronous Http test on the specified CX Switch.",
        "operationId": "initiateCxHttpV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/http/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Http command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal CX Switch Http request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "CX Switch Http request with additional parameters",
                  "value": {
                    "protocol": "HTTPS",
                    "destination": "www.google.com",
                    "vrfName": "default",
                    "sourceInterface": "1/1/1",
                    "sourcePort": 3000,
                    "nameServer": "1.1.1.1"
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/http/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Http test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Http test.",
        "operationId": "getCxHttpResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Http test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Http completed successfully",
                    "value": {
                      "failReason": null,
                      "status": "COMPLETED",
                      "startTime": "2025-05-21T09:03:10.639546402Z",
                      "endTime": "2025-05-21T09:03:51.160435814Z",
                      "output": {
                        "destination": "https://switch1.google.com",
                        "statistics": {
                          "destinationAddressUnreachableCount": 0,
                          "dnsResolutionFailures": 0,
                          "probesTimedOut": 0,
                          "probesTransmitted": 2,
                          "transmissionError": 0,
                          "socketReceiveError": 0,
                          "bindError": 0,
                          "dnsFormatError": null,
                          "dnsServerFailure": null,
                          "dnsNonExistentDomain": null,
                          "dnsNotImplemented": null,
                          "dnsQueryRefused": null,
                          "dnsNameExists": null,
                          "dnsRrsetExists": null,
                          "dnsNotAuthoritative": null,
                          "dnsNotZone": null,
                          "dhcpFailed": null,
                          "dhcpNoOffer": null,
                          "dhcpNack": null
                        },
                        "results": {
                          "packetsTransmitted": 1,
                          "packetsReceived": 1,
                          "minimumRttInMilliseconds": 0,
                          "maximumRttInMilliseconds": 0,
                          "averageRttInMilliseconds": 0,
                          "httpTransactionRttInMilliseconds": null,
                          "dnsRttInMilliseconds": 0,
                          "dnsError": null,
                          "httpError": null,
                          "resolvedIp": null,
                          "dhcpServerIp": null
                        }
                      },
                      "progressPercent": 100
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/list-tasks": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "List active async tasks for a CX Switch",
        "description": "Retrieves a list of all active or recently completed asynchronous operations for the specified CX Switch, grouped by test name. Results are sorted by startTime in descending order (most recently started first).",
        "operationId": "listCxTasksV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the list of active/recent tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/locate": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Locate a CX Switch",
        "description": "Initiates a locate (e.g., blinking LED) operation on the specified CX Switch.",
        "operationId": "locateCxSwitchV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The locate action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictLocating"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/ping": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Ping test on a CX Switch",
        "description": "Starts an asynchronous Ping test on the specified CX Switch.",
        "operationId": "initiateCxPingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/ping/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Ping command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal CX Switch Ping request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "CX Switch Ping request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "useIpv6": true,
                    "packetSize": 10,
                    "count": 5,
                    "useManagementInterface": true,
                    "vrfName": "blue",
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/ping/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Ping test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Ping test.",
        "operationId": "getCxPingResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Ping test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Ping completed successfully",
                    "value": {
                      "progressPercent": 100,
                      "output": {
                        "standardDeviationRoundTripTimeMilliseconds": "0.014",
                        "totalRoundTripTimeMilliseconds": "4077",
                        "replies": [
                          {
                            "sentPacketAddress": "10.1.1.10",
                            "sentPacketIcmpSequenceNumber": "1",
                            "sentPacketTimeToLive": "64",
                            "sentPacketTimeMilliseconds": "0.447",
                            "sentPacketSizeBytes": "108"
                          },
                          {
                            "sentPacketAddress": "10.1.1.10",
                            "sentPacketIcmpSequenceNumber": "2",
                            "sentPacketTimeToLive": "64",
                            "sentPacketTimeMilliseconds": "0.460",
                            "sentPacketSizeBytes": "108"
                          },
                          {
                            "sentPacketAddress": "10.1.1.10",
                            "sentPacketIcmpSequenceNumber": "3",
                            "sentPacketTimeToLive": "64",
                            "sentPacketTimeMilliseconds": "0.478",
                            "sentPacketSizeBytes": "108"
                          },
                          {
                            "sentPacketAddress": "10.1.1.10",
                            "sentPacketIcmpSequenceNumber": "4",
                            "sentPacketTimeToLive": "64",
                            "sentPacketTimeMilliseconds": "0.485",
                            "sentPacketSizeBytes": "108"
                          },
                          {
                            "sentPacketAddress": "10.1.1.10",
                            "sentPacketIcmpSequenceNumber": "5",
                            "sentPacketTimeToLive": "64",
                            "sentPacketTimeMilliseconds": "0.452",
                            "sentPacketSizeBytes": "108"
                          }
                        ],
                        "averageRoundTripTimeMilliseconds": "0.464",
                        "destination": "10.1.1.10",
                        "transmittedPacketsCount": "5",
                        "receivedPacketsCount": "5",
                        "packetLossPercent": "0",
                        "minimumRoundTripTimeMilliseconds": "0.447",
                        "resolvedIp": "10.1.1.10",
                        "maximumRoundTripTimeMilliseconds": "0.485"
                      },
                      "failReason": null,
                      "startTime": "2025-05-20T09:38:36.390303695Z",
                      "rawOutput": "PING 10.1.1.10 (10.1.1.10) 100(128) bytes of data.\n108 bytes from 10.1.1.10: icmp_seq=1 ttl=64 time=0.447 ms\n108 bytes from 10.1.1.10: icmp_seq=2 ttl=64 time=0.460 ms\n108 bytes from 10.1.1.10: icmp_seq=3 ttl=64 time=0.478 ms\n108 bytes from 10.1.1.10: icmp_seq=4 ttl=64 time=0.485 ms\n108 bytes from 10.1.1.10: icmp_seq=5 ttl=64 time=0.452 ms\n\n--- 10.1.1.10 ping statistics ---\n5 packets transmitted, 5 received, 0% packet loss, time 4077ms\nrtt min/avg/max/mdev = 0.447/0.464/0.485/0.014 ms\n",
                      "status": "COMPLETED",
                      "endTime": "2025-05-20T09:38:41.881905174Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/poeBounce": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Poe Bounce test on a CX Switch",
        "description": "Starts an asynchronous Poe Bounce test on the specified CX Switch.",
        "operationId": "initiateCxPoeBounceV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/poeBounce/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Poe Bounce command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoeBounceCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "CX Switch Poe Bounce request",
                  "value": {
                    "ports": [
                      "1/1/1",
                      "1/1/2"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/poeBounce/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Poe Bounce test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Poe Bounce test.",
        "operationId": "getCxPoeBounceResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Poe Bounce test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoeBounceCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Poe Bounce completed successfully",
                    "value": {
                      "failReason": null,
                      "status": "COMPLETED",
                      "output": {
                        "ports": [
                          "1/1/1",
                          "1/1/2",
                          "1/1/3"
                        ],
                        "results": [
                          {
                            "status": "Bounced",
                            "port": "1/1/1"
                          },
                          {
                            "status": "Bounced",
                            "port": "1/1/2"
                          },
                          {
                            "status": "Bounced",
                            "port": "1/1/3"
                          }
                        ]
                      },
                      "endTime": "2025-05-20T09:34:15.754612710Z",
                      "progressPercent": 100,
                      "startTime": "2025-05-20T09:34:13.246148554Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/portBounce": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Port Bounce test on a CX Switch",
        "description": "Starts an asynchronous Port Bounce test on the specified CX Switch.",
        "operationId": "initiateCxPortBounceV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/portBounce/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Port Bounce command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortBounceCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "CX Switch Port Bounce request",
                  "value": {
                    "ports": [
                      "1/1/1",
                      "1/1/2"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/portBounce/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Port Bounce test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Port Bounce test.",
        "operationId": "getCxPortBounceResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Port Bounce test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortBounceCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Port Bounce completed successfully",
                    "value": {
                      "failReason": null,
                      "status": "COMPLETED",
                      "output": {
                        "ports": [
                          "1/1/1",
                          "1/1/2",
                          "1/1/3"
                        ],
                        "results": [
                          {
                            "status": "Bounced",
                            "port": "1/1/1"
                          },
                          {
                            "status": "Bounced",
                            "port": "1/1/2"
                          },
                          {
                            "status": "Bounced",
                            "port": "1/1/3"
                          }
                        ]
                      },
                      "endTime": "2025-05-20T09:35:05.344339885Z",
                      "progressPercent": 100,
                      "startTime": "2025-05-20T09:35:03.080589059Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/reboot": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Reboot a CX Switch",
        "description": "Initiates a reboot operation on the specified CX Switch.",
        "operationId": "rebootCxSwitchV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The reboot action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictRebooting"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/show-commands": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "List 'show' commands (CX - strict supported list)",
        "description": "Returns the strict list of supported 'show' commands for CX. Only commands that are present in this list would work.",
        "operationId": "listCxShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the strict, supported list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/showCommands": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Run 'show' commands (CX)",
        "description": "Starts an asynchronous execution of one or more 'show' commands on a CX switch. Rejected with 400 if any command does not start with 'show ', or if more than 20 commands are provided.",
        "operationId": "runCxShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The list of 'show' commands to run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowCommandRequest"
              },
              "example": {
                "commands": [
                  "show interface brief",
                  "show version"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. Operation initiated; use the returned location to poll status/result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/showCommands/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-08-25T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestShowCommand"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/showCommands/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get 'show' commands status/result (CX)",
        "description": "Polls the async task for the 'show' commands and returns status and raw text output.",
        "operationId": "getCxShowCommandsResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Command finished successfully",
                    "value": {
                      "status": "COMPLETED",
                      "progressPercent": 100,
                      "startTime": "2026-02-03T14:20:59.912054756Z",
                      "endTime": "2026-02-03T14:21:02.004881090Z",
                      "failReason": null,
                      "output": {
                        "commands": [
                          "show version"
                        ],
                        "results": [
                          {
                            "output": "AOS-CX Version 10.x\n...",
                            "command": "show version"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/traceroute": {
      "post": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Initiate a Traceroute test on a CX Switch",
        "description": "Starts an asynchronous Traceroute test on the specified CX Switch.",
        "operationId": "initiateCxTracerouteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/cx/{serial-number}/traceroute/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "CX Switch Traceroute command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TracerouteCxRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal CX Switch Traceroute request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "CX Switch Traceroute request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "useIpv6": true,
                    "useManagementInterface": true,
                    "vrfName": "blue",
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/cx/{serial-number}/traceroute/async-operations/{task-id}": {
      "get": {
        "tags": [
          "CX Switches"
        ],
        "summary": "Get CX Switch Traceroute test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous CX Switch Traceroute test.",
        "operationId": "getCxTracerouteResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the CX Switch Traceroute test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracerouteCxResult"
                },
                "examples": {
                  "completed": {
                    "summary": "CX Switch Traceroute completed successfully",
                    "value": {
                      "startTime": "2025-05-20T09:40:10.047563489Z",
                      "rawOutput": "traceroute to 10.1.1.10 (10.1.1.10), 1 hops min, 30 hops max, 3 sec. timeout, 3 probes\n  1   10.1.1.10  0.529ms  0.320ms  0.166ms \n",
                      "output": {
                        "resolvedIp": "10.1.1.10",
                        "hops": [
                          {
                            "hop": "1",
                            "probes": [
                              {
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.1.1.10",
                                "responseTimeMilliseconds": "0.529ms"
                              },
                              {
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.1.1.10",
                                "responseTimeMilliseconds": "0.320ms"
                              },
                              {
                                "ipAddress": "null",
                                "reverseDnsResolution": "10.1.1.10",
                                "responseTimeMilliseconds": "0.166ms"
                              }
                            ]
                          }
                        ],
                        "destination": "10.1.1.10"
                      },
                      "status": "COMPLETED",
                      "failReason": null,
                      "progressPercent": 100,
                      "endTime": "2025-05-20T09:40:11.490562492Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AaaCxParsedOutput": {
        "type": "object",
        "properties": {
          "authMethodType": {
            "type": "string",
            "description": "The authentication method used."
          },
          "radiusServerIp": {
            "type": "string",
            "description": "The IP address of the RADIUS server."
          },
          "username": {
            "type": "string",
            "description": "The username used for authentication."
          },
          "authenticationStatus": {
            "type": "string",
            "description": "The status of the authentication process."
          }
        },
        "title": "CX AAA RESPONSE"
      },
      "AaaCxRequest": {
        "type": "object",
        "properties": {
          "authMethodType": {
            "type": "string",
            "description": "",
            "enum": [
              "chap",
              "pap"
            ]
          },
          "radiusServerIp": {
            "type": "string",
            "description": "RADIUS Server IP Address"
          },
          "radiusServerPort": {
            "type": "integer",
            "description": "RADIUS Server Port (1-65535)",
            "minimum": 1,
            "maximum": 65535
          },
          "vrfName": {
            "type": "string",
            "description": "VRF Name"
          },
          "username": {
            "type": "string",
            "description": "Username"
          },
          "password": {
            "type": "string",
            "description": "Password"
          }
        },
        "required": [
          "authMethodType",
          "radiusServerIp",
          "username",
          "password"
        ],
        "title": "CX AAA REQUEST"
      },
      "AaaCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AaaCxParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "CX AAA RESULT"
      },
      "ActionInitiatedStatus": {
        "title": "Action Initiation Response",
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the action was initiated."
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED"
            ],
            "description": "The initial status of the action."
          }
        },
        "required": [
          "startTime",
          "status"
        ]
      },
      "AsyncOperationResultBase": {
        "title": "Base structure for test GET",
        "required": [
          "status",
          "progressPercent",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "INITIATED",
              "RUNNING",
              "COMPLETED",
              "FAILED"
            ],
            "description": "The final or current status of the operation."
          },
          "progressPercent": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage completion of the operation (0-100)."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation was initiated."
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation finished (null if not finished)."
          }
        }
      },
      "AsyncOperationStatus": {
        "title": "Test Initiation Response",
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "format": "uri-reference",
            "description": "The relative URL path to query the status and result of the asynchronous operation."
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED"
            ],
            "description": "The initial status of the operation."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation was initiated."
          }
        }
      },
      "CableTestCxCablepairdiagnosticsresult": {
        "type": "object",
        "properties": {
          "pairName": {
            "type": "string",
            "description": "The name of the cable pair."
          },
          "length": {
            "type": "string",
            "description": "The measured length of the cable."
          },
          "accuracy": {
            "type": "string",
            "description": "The accuracy of the diagnostic measurement."
          },
          "status": {
            "type": "string",
            "description": "The status of the cable pair test."
          }
        },
        "title": "CX CABLE PAIR DIAGNOSTICS"
      },
      "CableTestCxCabletestrowresult": {
        "type": "object",
        "properties": {
          "interfaceName": {
            "type": "string",
            "description": "The name of the network interface."
          },
          "state": {
            "type": "string",
            "description": "The state of the interface."
          },
          "cablePairDiagnostics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CableTestCxCablepairdiagnosticsresult"
            },
            "description": "Diagnostics for each cable pair."
          }
        },
        "title": "CX CABLE TEST ROW"
      },
      "CableTestCxParsedOutput": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "string",
            "description": "The list of ports involved in the cable test."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CableTestCxCabletestrowresult"
            },
            "description": "The results for each port."
          }
        },
        "title": "CX CABLE TEST RESPONSE"
      },
      "CableTestCxRequest": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "array",
            "description": ""
          }
        },
        "required": [
          "ports"
        ],
        "title": "CX CABLE TEST REQUEST"
      },
      "CableTestCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CableTestCxParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "CX CABLE TEST RESULT"
      },
      "DeviceNotReadyErrorResponse": {
        "title": "Device Not Ready Error Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          },
          "errorCode": {
            "type": "string",
            "description": "A unique code identifying the error type."
          }
        },
        "required": [
          "message",
          "errorCode"
        ]
      },
      "ErrorResponse": {
        "title": "Error Response",
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "A unique code identifying the error type."
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          }
        }
      },
      "ForbiddenError": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "Error code for the specific error.",
            "maxLength": 256,
            "example": "HPE_GL_ERROR_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue.",
            "maxLength": 1024,
            "example": "Insufficient permissions to access this resource"
          },
          "debugId": {
            "type": "string",
            "description": "Debug identifier for troubleshooting.",
            "maxLength": 256,
            "example": "abc-123-456"
          }
        }
      },
      "HttpCxHttpstatisticsresult": {
        "type": "object",
        "properties": {
          "destinationAddressUnreachableCount": {
            "type": "integer",
            "description": "The number of times the destination address was unreachable."
          },
          "dnsResolutionFailures": {
            "type": "integer",
            "description": "The number of DNS resolution failures."
          },
          "probesTimedOut": {
            "type": "integer",
            "description": "The number of probes that timed out."
          },
          "probesTransmitted": {
            "type": "integer",
            "description": "The number of probes that were successfully transmitted."
          },
          "transmissionError": {
            "type": "integer",
            "description": "The number of transmission errors."
          },
          "socketReceiveError": {
            "type": "integer",
            "description": "The number of times failed to receive packet."
          },
          "bindError": {
            "type": "integer",
            "description": "Number of times failed to bind interface or ip address."
          },
          "dnsFormatError": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to DNS query format error. RFC 1035 RCODE: 1"
          },
          "dnsServerFailure": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to server failure error. RFC 1035 RCODE: 2"
          },
          "dnsNonExistentDomain": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to non-existent domain. RFC 1035 RCODE: 3"
          },
          "dnsNotImplemented": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to not implemented error. RFC 1035 RCODE: 4"
          },
          "dnsQueryRefused": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to query refused error. RFC 1035 RCODE: 5"
          },
          "dnsNameExists": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to 'Name-Exists when it should not' error. RFC 2136 RCODE: 6"
          },
          "dnsRrsetExists": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to 'RR Set Exists when it should not' error. RFC 2136 RCODE: 7"
          },
          "dnsNotAuthoritative": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to 'Server Not Authoritative for zone' error. RFC 2136 RCODE: 9"
          },
          "dnsNotZone": {
            "type": "integer",
            "description": "Number of times DNS resolution failed due to 'Name not contained in zone' error. RFC 2136 RCODE: 10"
          },
          "dhcpFailed": {
            "type": "integer",
            "description": "Number of times DHCP operation failed"
          },
          "dhcpNoOffer": {
            "type": "integer",
            "description": "Number of times DHCP operation failed because DHCP-Offer is not received"
          },
          "dhcpNack": {
            "type": "integer",
            "description": "Number of times DHCP operation failed due to DHCP-NACK from the server"
          }
        },
        "title": "CX HTTP STATISTICS"
      },
      "HttpCxParsedOutput": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "The destination URL for the HTTP test."
          },
          "results": {
            "$ref": "#/components/schemas/HttpCxSlaresult",
            "description": "The results of the HTTP test."
          },
          "statistics": {
            "$ref": "#/components/schemas/HttpCxHttpstatisticsresult",
            "description": "The statistics of the HTTP test."
          }
        },
        "title": "CX HTTP RESPONSE"
      },
      "HttpCxRequest": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "description": "",
            "enum": [
              "HTTP",
              "HTTPS"
            ]
          },
          "destination": {
            "type": "string",
            "description": "Hostname/IP address required"
          },
          "vrfName": {
            "type": "string",
            "description": "The default value is 'default'"
          },
          "sourceInterface": {
            "type": "string",
            "description": "The source interface to use for sending IP-SLA probes."
          },
          "sourcePort": {
            "type": "integer",
            "description": "The source port to use for the IP-SLA probes (0-65535).",
            "minimum": 1,
            "maximum": 65535
          },
          "nameServer": {
            "type": "string",
            "description": "IPv4 address of the DNS server to use"
          }
        },
        "required": [
          "destination"
        ],
        "title": "CX HTTP REQUEST"
      },
      "HttpCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HttpCxParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "CX HTTP RESULT"
      },
      "HttpCxSlaresult": {
        "type": "object",
        "properties": {
          "packetsTransmitted": {
            "type": "integer",
            "description": "The number of packets transmitted."
          },
          "packetsReceived": {
            "type": "integer",
            "description": "The number of packets received."
          },
          "minimumRttInMilliseconds": {
            "type": "integer",
            "description": "The minimum round-trip time in milliseconds."
          },
          "maximumRttInMilliseconds": {
            "type": "integer",
            "description": "The maximum round-trip time in milliseconds."
          },
          "averageRttInMilliseconds": {
            "type": "integer",
            "description": "The average round-trip time in milliseconds."
          },
          "httpTransactionRttInMilliseconds": {
            "type": "integer",
            "description": "The round-trip time for the HTTP transaction in milliseconds."
          },
          "dnsRttInMilliseconds": {
            "type": "integer",
            "description": "The round-trip time for DNS resolution in milliseconds."
          },
          "dnsError": {
            "type": "integer",
            "description": "The number of DNS error occured during the last DNS query"
          },
          "httpError": {
            "type": "integer",
            "description": "The number of  HTTP error occurred during the last HTTP transaction."
          },
          "resolvedIp": {
            "type": "string",
            "description": "The IP address resolved from the latest DNS or DHCP probe."
          },
          "dhcpServerIp": {
            "type": "string",
            "description": "The IP address of the DHCP server."
          }
        },
        "title": "CX HTTP SLA RESULT"
      },
      "PingCxParsedOutput": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "The destination host name or IP address provided for the ping command."
          },
          "averageRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Average round trip time in milliseconds"
          },
          "resolvedIp": {
            "type": "string",
            "description": "The IP address resolved from the destination host."
          },
          "transmittedPacketsCount": {
            "type": "string",
            "description": "Number of packets transmitted."
          },
          "receivedPacketsCount": {
            "type": "string",
            "description": "Number of packets received."
          },
          "packetLossPercent": {
            "type": "string",
            "description": "Percentage of packet loss."
          },
          "minimumRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Minimum round-trip time in milliseconds."
          },
          "maximumRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Maximum round-trip time in milliseconds."
          },
          "standardDeviationRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Standard deviation of round-trip times."
          },
          "totalRoundTripTimeMilliseconds": {
            "type": "string",
            "description": "Total time taken for the ping sequence."
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PingCxPingrowresult"
            },
            "description": "Details for a single ping packet reply."
          }
        },
        "title": "CX PING RESPONSE"
      },
      "PingCxPingrowresult": {
        "type": "object",
        "properties": {
          "sentPacketSizeBytes": {
            "type": "string",
            "description": "Size of the sent packet."
          },
          "sentPacketAddress": {
            "type": "string",
            "description": "IP address of the sent packet."
          },
          "sentPacketIcmpSequenceNumber": {
            "type": "string",
            "description": "ICMP sequence number of the sent packet."
          },
          "sentPacketTimeToLive": {
            "type": "string",
            "description": "Time to live of the sent packet."
          },
          "sentPacketTimeMilliseconds": {
            "type": "string",
            "description": "Time taken for the sent packet."
          }
        },
        "title": "CX PING REPLY"
      },
      "PingCxRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "Hostname/IP address required"
          },
          "useIpv6": {
            "type": "boolean",
            "description": "Use IPv6"
          },
          "packetSize": {
            "type": "integer",
            "description": "The packet size in bytes (10-2000)",
            "minimum": 10,
            "maximum": 2000
          },
          "count": {
            "type": "integer",
            "description": "Number of probes to send (1-100)",
            "minimum": 1,
            "maximum": 100
          },
          "useManagementInterface": {
            "type": "boolean",
            "description": "Use management interface"
          },
          "vrfName": {
            "type": "string",
            "description": "The default value is 'default'"
          },
          "includeRawOutput": {
            "type": "boolean",
            "description": "Whether to include raw output in the response."
          }
        },
        "required": [
          "destination"
        ],
        "title": "CX PING REQUEST"
      },
      "PingCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PingCxParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
                "description": "The raw output of the test."
              }
            }
          }
        ],
        "title": "CX PING RESULT"
      },
      "PoeBounceCxParsedOutput": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "string",
            "description": "The list of ports that were bounced."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PoeBounceCxPoebouncerowresult"
            },
            "description": "The results of each port bounce operation."
          }
        },
        "title": "CX POE BOUNCE RESPONSE"
      },
      "PoeBounceCxPoebouncerowresult": {
        "type": "object",
        "properties": {
          "port": {
            "type": "string",
            "description": "The port number."
          },
          "status": {
            "type": "string",
            "description": "The status of the port after the bounce operation."
          }
        },
        "title": "CX POE BOUNCE ROW"
      },
      "PoeBounceCxRequest": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Port Number Required"
          }
        },
        "required": [
          "ports"
        ],
        "title": "CX POE BOUNCE REQUEST"
      },
      "PoeBounceCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PoeBounceCxParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "CX POE BOUNCE RESULT"
      },
      "PortBounceCxParsedOutput": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "string",
            "description": "The list of ports that were bounced."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortBounceCxPortbouncerowresult"
            },
            "description": "The results of each port bounce operation."
          }
        },
        "title": "CX PORT BOUNCE RESPONSE"
      },
      "PortBounceCxPortbouncerowresult": {
        "type": "object",
        "properties": {
          "port": {
            "type": "string",
            "description": "The port number."
          },
          "status": {
            "type": "string",
            "description": "The status of the port after the bounce operation."
          }
        },
        "title": "CX PORT BOUNCE ROW"
      },
      "PortBounceCxRequest": {
        "type": "object",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Port Number Required"
          }
        },
        "required": [
          "ports"
        ],
        "title": "CX PORT BOUNCE REQUEST"
      },
      "PortBounceCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PortBounceCxParsedOutput"
                  }
                ]
              }
            }
          }
        ],
        "title": "CX PORT BOUNCE RESULT"
      },
      "ShowCommandOutput": {
        "title": "RUN SHOW COMMANDS OUTPUT",
        "type": "object",
        "properties": {
          "commands": {
            "type": "array",
            "description": "The original commands sent by the user in order.",
            "items": {
              "type": "string"
            }
          },
          "results": {
            "type": "array",
            "description": "Command outputs in the same order as the commands array.",
            "items": {
              "$ref": "#/components/schemas/ShowCommandResultItem"
            }
          }
        },
        "required": [
          "commands",
          "results"
        ]
      },
      "ShowCommandRequest": {
        "title": "RUN SHOW COMMANDS REQUEST",
        "type": "object",
        "properties": {
          "commands": {
            "type": "array",
            "description": "List of CLI commands to run; each MUST start with 'show '.",
            "maxItems": 20,
            "items": {
              "type": "string",
              "description": "A device CLI command that begins with 'show '.",
              "pattern": "^\\s*show\\b.+"
            }
          }
        },
        "required": [
          "commands"
        ]
      },
      "ShowCommandResult": {
        "title": "RUN SHOW COMMAND RESULT",
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ShowCommandOutput"
                  }
                ]
              }
            }
          }
        ]
      },
      "ShowCommandResultItem": {
        "title": "RUN SHOW COMMAND RESULT ITEM",
        "type": "object",
        "properties": {
          "output": {
            "type": "string",
            "description": "The raw text response returned by the device for the given command."
          },
          "command": {
            "type": "string",
            "description": "The original command sent by the user."
          }
        },
        "required": [
          "output",
          "command"
        ]
      },
      "ShowCommandsCategory": {
        "title": "SHOW COMMANDS CATEGORY",
        "type": "object",
        "properties": {
          "categoryName": {
            "type": "string",
            "description": "A logical category/group name for the commands."
          },
          "count": {
            "type": "integer",
            "description": "Number of commands under this category."
          },
          "commands": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShowCommandsCommand"
            },
            "description": "Commands under this category."
          }
        },
        "required": [
          "categoryName",
          "count",
          "commands"
        ]
      },
      "ShowCommandsCommand": {
        "title": "SHOW COMMAND",
        "type": "object",
        "properties": {
          "command": {
            "type": "string",
            "description": "A device CLI command that begins with 'show '."
          }
        },
        "required": [
          "command"
        ]
      },
      "ShowCommandsResponse": {
        "title": "SHOW COMMANDS LIST",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ShowCommandsCategory"
        }
      },
      "TaskListEntry": {
        "title": "Task List Entry",
        "type": "object",
        "properties": {
          "testName": {
            "type": "string",
            "description": "The name of the test or command (e.g., 'ping', 'showCommands')."
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri-reference",
              "description": "A list of relative URL paths to query the status of individual task instances."
            },
            "description": "A list of one or more active/recent task locations for this test type."
          }
        },
        "required": [
          "testName",
          "locations"
        ]
      },
      "TaskListResponse": {
        "title": "Task List Response",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TaskListEntry"
        },
        "example": [
          {
            "testName": "showCommands",
            "locations": [
              "/network-troubleshooting/v1/aps/CNMJKZ203A/showCommands/async-operations/34f851ed-5142-44e3-a387-1f57e098e7c6"
            ]
          },
          {
            "testName": "ping",
            "locations": [
              "/network-troubleshooting/v1/aps/CNMJKZ203A/ping/async-operations/03b02a6f-ba7e-47de-8763-161c7ab17ad1"
            ]
          },
          {
            "testName": "getArpTable",
            "locations": [
              "/network-troubleshooting/v1/aps/CNMJKZ203A/getArpTable/async-operations/2cb150ca-a6b5-4603-9135-563697f1f4b9",
              "/network-troubleshooting/v1/aps/CNMJKZ203A/getArpTable/async-operations/9728dc97-8a81-45b7-91ab-676faaf7de0e"
            ]
          }
        ]
      },
      "TracerouteCxParsedOutput": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "The destination host name or IP address for the traceroute command."
          },
          "resolvedIp": {
            "type": "string",
            "description": "The IP address resolved from the destination host."
          },
          "hops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TracerouteCxTracerouterowresult"
            },
            "description": "Details for a single traceroute hop."
          }
        },
        "title": "CX TRACEROUTE RESPONSE"
      },
      "TracerouteCxRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "Hostname/IP address required"
          },
          "useIpv6": {
            "type": "boolean",
            "description": "Use IPv6"
          },
          "useManagementInterface": {
            "type": "boolean",
            "description": "Use management interface"
          },
          "vrfName": {
            "type": "string",
            "description": "The default value is 'default'"
          },
          "includeRawOutput": {
            "type": "boolean",
            "description": "Whether to include raw output in the response."
          }
        },
        "required": [
          "destination"
        ],
        "title": "CX TRACEROUTE REQUEST"
      },
      "TracerouteCxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TracerouteCxParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
                "description": "The raw output of the test."
              }
            }
          }
        ],
        "title": "CX TRACEROUTE RESULT"
      },
      "TracerouteCxTracerouteproberesult": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "type": "string",
            "description": "The IP address of the probe."
          },
          "reverseDnsResolution": {
            "type": "string",
            "description": "The reverse DNS resolution of the probe."
          },
          "responseTimeMilliseconds": {
            "type": "string",
            "description": "The response time of the probe in milliseconds."
          }
        },
        "title": "CX TRACEROUTE PROBE"
      },
      "TracerouteCxTracerouterowresult": {
        "type": "object",
        "properties": {
          "hop": {
            "type": "string",
            "description": "The hop number in the traceroute."
          },
          "probes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TracerouteCxTracerouteproberesult"
            },
            "description": "Details of the probes used in the traceroute."
          }
        },
        "title": "CX TRACEROUTE ROW"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request. Validation errors in the request body or parameters, or invalid parameters for the specific device.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
              "message": "Validation errors - packetSize must be between 10 and 2000"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "BadRequestShowCommand": {
        "description": "Bad Request. Validation errors in the request body or parameters, or invalid parameters for the specific device.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "commandNotShow": {
                "summary": "Command does not start with show",
                "value": {
                  "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
                  "message": "Command denied: must start with 'show '"
                }
              },
              "tooManyCommands": {
                "summary": "Commands array over limit",
                "value": {
                  "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
                  "message": "Too many commands, maximum allowed is 20"
                }
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "DeviceConflictLocating": {
        "description": "Conflict. The device is already performing a locate operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceNotReadyErrorResponse"
            },
            "example": {
              "summary": "Device Already Locating",
              "value": {
                "serviceName": "Troubleshooting",
                "httpStatusCode": "409",
                "message": "Device already locating: VN2ZLHB006",
                "code": "DOWNSTREAM_SERVICE_ERROR",
                "errorType": "CONFLICT",
                "errorCode": "HPE_GL_ERROR_CONFLICT"
              }
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "Request limit per hour."
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854776000
            },
            "description": "The number of requests left for the time window."
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "string",
              "format": "date-time",
              "maxLength": 20
            },
            "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
          }
        }
      },
      "DeviceConflictRebooting": {
        "description": "Conflict. The device is already performing a reboot.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceNotReadyErrorResponse"
            },
            "example": {
              "summary": "Device Already Rebooting",
              "value": {
                "serviceName": "Troubleshooting",
                "httpStatusCode": "409",
                "message": "Device already rebooting: VN2ZLHB006",
                "code": "DOWNSTREAM_SERVICE_ERROR",
                "errorType": "CONFLICT",
                "errorCode": "HPE_GL_ERROR_CONFLICT"
              }
            }
          }
        },
        "headers": {
[...]
