{
  "openapi": "3.1.0",
  "info": {
    "title": "Gateways",
    "version": "0.0.1",
    "description": "API service to run troubleshooting tests on devices - Access Points (APs), CX Switches, AOS-S Switches, and Gateways (GWs)."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Gateways",
      "description": "Troubleshooting operations on Gateways"
    }
  ],
  "paths": {
    "/network-troubleshooting/v1/gateways/{serial-number}/disconnectClientAll": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Disconnect all clients from a Gateway",
        "description": "Initiates a disconnect action for all clients connected to the specified Gateway.",
        "operationId": "disconnectAllClientsGwV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The disconnect action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-07-23T11:00:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/disconnectClientByMacAddress": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Disconnect a specific client by MAC address from a Gateway",
        "description": "Initiates a disconnect action for a specific client connected to the specified Gateway, identified by its MAC address.",
        "operationId": "disconnectClientByMacGwV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "description": "Client MAC address to disconnect",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisconnectClientByMacGwRequest"
              },
              "example": {
                "clientMacAddress": "11:22:33:44:55:66"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The disconnect action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-07-23T11:05:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/getArpTable": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Get Arp Table test on a Gateway",
        "description": "Starts an asynchronous Get Arp Table test on the specified Gateway.",
        "operationId": "initiateGwGetArpTableV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/getArpTable/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/getArpTable/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Get Arp Table test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Get Arp Table test.",
        "operationId": "getGwGetArpTableResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Get Arp Table test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArpTableMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Get Arp Table completed successfully",
                    "value": {
                      "progressPercent": 100,
                      "endTime": "2025-05-20T14:07:59.805075582Z",
                      "failReason": null,
                      "rawOutput": "\nARP Table\n---------\nProtocol  Address        Hardware Address   Interface\n--------  -------        ----------------   ---------\nInternet  ridge          02:42:a9:fe:80:04  docker_gwbridge\n\nInternet  10.27.119.177  94:f1:28:0c:77:00  vlan4094\n\n",
                      "status": "COMPLETED",
                      "output": {
                        "entries": [
                          {
                            "address": "10.27.119.173",
                            "protocol": "Internet",
                            "interfaceAndPort": "docker_gwbridge",
                            "macAddress": "02:42:a9:fe:80:04"
                          },
                          {
                            "address": "10.27.119.177",
                            "protocol": "Internet",
                            "interfaceAndPort": "vlan4094",
                            "macAddress": "94:f1:28:0c:77:00"
                          }
                        ]
                      },
                      "startTime": "2025-05-20T14:07:59.506787035Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/halt": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Halt a Gateway",
        "description": "Initiates a halt (shutdown) operation on the specified Gateway.",
        "operationId": "haltGatewayV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The halt action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-07-23T11:10:00Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/http": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Http test on a Gateway",
        "description": "Starts an asynchronous Http test on the specified Gateway.",
        "operationId": "initiateGwHttpV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/http/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Http command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal Gateway Http request",
                  "value": {
                    "url": "www.google.com"
                  }
                },
                "full": {
                  "summary": "Gateway Http request with additional parameters",
                  "value": {
                    "url": "www.google.com",
                    "count": 5,
                    "interval": 5,
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/http/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Http test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Http test.",
        "operationId": "getGwHttpResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Http test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Http completed successfully",
                    "value": {
                      "startTime": "2025-05-20T14:06:28.690974183Z",
                      "endTime": "2025-05-20T14:06:31.154766496Z",
                      "progressPercent": 100,
                      "output": {
                        "successRatePercent": "100",
                        "url": "www.google.com",
                        "minimumLatencyMilliseconds": "331",
                        "averageLatencyMilliseconds": "407",
                        "responses": [
                          {
                            "responseNumber": "1",
                            "responseBytes": "19556",
                            "responseTimeMilliseconds": "340",
                            "downloadRate": "57.52KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "2",
                            "responseBytes": "19521",
                            "responseTimeMilliseconds": "654",
                            "downloadRate": "29.85KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "3",
                            "responseBytes": "20035",
                            "responseTimeMilliseconds": "349",
                            "downloadRate": "57.57KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "4",
                            "responseBytes": "19568",
                            "responseTimeMilliseconds": "362",
                            "downloadRate": "54.06KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "5",
                            "responseBytes": "19583",
                            "responseTimeMilliseconds": "331",
                            "downloadRate": "59.16KB/sec",
                            "responseCode": "200/OK"
                          }
                        ],
                        "maximumLatencyMilliseconds": "654",
                        "sentPacketsCount": "5",
                        "receivedPacketsCount": "5"
                      },
                      "status": "COMPLETED",
                      "failReason": null,
                      "rawOutput": "\nPinging 'www.google.com'\n\nPress 'q' to abort.\r\n1> Reply: [200/OK] bytes=19556 time=340ms Rate=57.52KB/sec\n2> Reply: [200/OK] bytes=19521 time=654ms Rate=29.85KB/sec\n3> Reply: [200/OK] bytes=20035 time=349ms Rate=57.57KB/sec\n4> Reply: [200/OK] bytes=19568 time=362ms Rate=54.06KB/sec\n5> Reply: [200/OK] bytes=19583 time=331ms Rate=59.16KB/sec\n\nPing Statistics for www.google.com\nPackets: Sent : 5 Received : 5 Success Rate is 100 percent (5/5)\nApproximate round trip time : max/avg/min = 654/407/331 ms\n"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/https": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Https test on a Gateway",
        "description": "Starts an asynchronous Https test on the specified Gateway.",
        "operationId": "initiateGwHttpsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/https/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Https command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpsMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal Gateway Https request",
                  "value": {
                    "url": "www.google.com"
                  }
                },
                "full": {
                  "summary": "Gateway Https request with additional parameters",
                  "value": {
                    "url": "www.google.com",
                    "count": 5,
                    "interval": 5,
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/https/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Https test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Https test.",
        "operationId": "getGwHttpsResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Https test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpsMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Https completed successfully",
                    "value": {
                      "startTime": "2025-05-20T14:06:28.690974183Z",
                      "endTime": "2025-05-20T14:06:31.154766496Z",
                      "progressPercent": 100,
                      "output": {
                        "successRatePercent": "100",
                        "url": "www.google.com",
                        "minimumLatencyMilliseconds": "331",
                        "averageLatencyMilliseconds": "407",
                        "responses": [
                          {
                            "responseNumber": "1",
                            "responseBytes": "19556",
                            "responseTimeMilliseconds": "340",
                            "downloadRate": "57.52KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "2",
                            "responseBytes": "19521",
                            "responseTimeMilliseconds": "654",
                            "downloadRate": "29.85KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "3",
                            "responseBytes": "20035",
                            "responseTimeMilliseconds": "349",
                            "downloadRate": "57.57KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "4",
                            "responseBytes": "19568",
                            "responseTimeMilliseconds": "362",
                            "downloadRate": "54.06KB/sec",
                            "responseCode": "200/OK"
                          },
                          {
                            "responseNumber": "5",
                            "responseBytes": "19583",
                            "responseTimeMilliseconds": "331",
                            "downloadRate": "59.16KB/sec",
                            "responseCode": "200/OK"
                          }
                        ],
                        "maximumLatencyMilliseconds": "654",
                        "sentPacketsCount": "5",
                        "receivedPacketsCount": "5"
                      },
                      "status": "COMPLETED",
                      "failReason": null,
                      "rawOutput": "\nPinging 'www.google.com'\n\nPress 'q' to abort.\r\n1> Reply: [200/OK] bytes=19556 time=340ms Rate=57.52KB/sec\n2> Reply: [200/OK] bytes=19521 time=654ms Rate=29.85KB/sec\n3> Reply: [200/OK] bytes=20035 time=349ms Rate=57.57KB/sec\n4> Reply: [200/OK] bytes=19568 time=362ms Rate=54.06KB/sec\n5> Reply: [200/OK] bytes=19583 time=331ms Rate=59.16KB/sec\n\nPing Statistics for www.google.com\nPackets: Sent : 5 Received : 5 Success Rate is 100 percent (5/5)\nApproximate round trip time : max/avg/min = 654/407/331 ms\n"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/iperf": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Iperf test on a Gateway",
        "description": "Starts an asynchronous Iperf test on the specified Gateway.",
        "operationId": "initiateGwIperfV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/iperf/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Iperf command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IperfMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal Gateway Iperf request",
                  "value": {
                    "iperfServerAddress": "82.1.39.23"
                  }
                },
                "full": {
                  "summary": "Gateway Iperf request with additional parameters",
                  "value": {
                    "iperfServerAddress": "82.1.39.23",
                    "port": 5050,
                    "duration": 20,
                    "parallel": 10,
                    "omit": 10,
                    "includeReverse": true,
                    "vlanInterface": "152",
                    "protocol": "tcp",
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/iperf/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Iperf test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Iperf test.",
        "operationId": "getGwIperfResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Iperf test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IperfMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Iperf completed successfully",
                    "value": {
                      "startTime": "2025-05-20T14:02:29.753198552Z",
                      "endTime": "2025-05-20T14:03:27.301496079Z",
                      "progressPercent": 100,
                      "output": {
                        "totalTransferredBytesFromReceiver": "9.14 MBytes",
                        "senderBandwidth": "9.58 Mbits/sec",
                        "iperfServerAddress": "84.17.57.129",
                        "receiverBandwidth": "7.67 Mbits/sec",
                        "metrics": [
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "53.9 Mbits/sec",
                            "transferSizeInBytes": "6.42 MBytes",
                            "intervalInSeconds": "0.00-1.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "1.00-2.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "2.00-3.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "3.00-4.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "21.0 Mbits/sec",
                            "transferSizeInBytes": "2.50 MBytes",
                            "intervalInSeconds": "4.00-5.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "5.00-6.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "6.00-7.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "7.00-8.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "0.00 bits/sec",
                            "transferSizeInBytes": "0.00 Bytes",
                            "intervalInSeconds": "8.00-9.00"
                          },
                          {
                            "id": "[  4]",
                            "bandwidthInbps": "21.0 Mbits/sec",
                            "transferSizeInBytes": "2.50 MBytes",
                            "intervalInSeconds": "9.00-10.00"
                          }
                        ],
                        "totalTransferredBytesFromSender": "11.4 MBytes"
                      },
                      "status": "COMPLETED",
                      "failReason": null,
                      "rawOutput": "\nPerf-test: Finished\n\nMay 20 07:02:29 2025\niperf 3.0.11\nLinux Aruba9004-LTE_E3_E9_30 5.10.209 #92514 SMP PREEMPT Tue Apr 22 14:41:40 PDT 2025 x86_64 GNU/Linux\nTime: Tue, 20 May 2025 14:02:30 GMT\nConnecting to host 84.17.57.129, port 5201\n      Cookie: Aruba9004-LTE_E3_E9_30.1747749749.92\n      TCP MSS: 1448 (default)\n[  4] local 10.27.119.178 port 55312 connected to 84.17.57.129 port 5201\nStarting Test: protocol: TCP, 1 streams, 131072 byte blocks, omitting 0 seconds, 10 second test\n[ ID] Interval           Transfer     Bandwidth       Retr  Cwnd\n[  4]   0.00-1.00   sec  6.42 MBytes  53.9 Mbits/sec    3    618 KBytes       \n[  4]   1.00-2.00   sec  0.00 Bytes  0.00 bits/sec   15    618 KBytes       \n[  4]   2.00-3.00   sec  0.00 Bytes  0.00 bits/sec   15    618 KBytes       \n[  4]   3.00-4.00   sec  0.00 Bytes  0.00 bits/sec   15    618 KBytes       \n[  4]   4.00-5.00   sec  2.50 MBytes  21.0 Mbits/sec   10    339 KBytes       \n[  4]   5.00-6.00   sec  0.00 Bytes  0.00 bits/sec   15    339 KBytes       \n[  4]   6.00-7.00   sec  0.00 Bytes  0.00 bits/sec   15    339 KBytes       \n[  4]   7.00-8.00   sec  0.00 Bytes  0.00 bits/sec   16   5.66 KBytes       \n[  4]   8.00-9.00   sec  0.00 Bytes  0.00 bits/sec   92   14.1 KBytes       \n[  4]   9.00-10.00  sec  2.50 MBytes  21.0 Mbits/sec   43    682 KBytes       \n- - - - - - - - - - - - - - - - - - - - - - - - -\nTest Complete. Summary Results:\n[ ID] Interval           Transfer     Bandwidth       Retr\n[  4]   0.00-10.00  sec  11.4 MBytes  9.58 Mbits/sec  239             sender\n[  4]   0.00-10.00  sec  9.14 MBytes  7.67 Mbits/sec                  receiver\nCPU Utilization: local/sender 1.2% (0.1%u/1.1%s), remote/receiver 0.0% (0.0%u/0.0%s)\n\niperf Done.\n"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/list-tasks": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "List active async tasks for a Gateway",
        "description": "Retrieves a list of all active or recently completed asynchronous operations for the specified Gateway, grouped by test name. Results are sorted by startTime in descending order (most recently started first).",
        "operationId": "listGwTasksV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the list of active/recent tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/ping": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Ping test on a Gateway",
        "description": "Starts an asynchronous Ping test on the specified Gateway.",
        "operationId": "initiateGwPingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/ping/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Ping command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal Gateway Ping request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "Gateway Ping request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "packetSize": 10,
                    "count": 50,
                    "ttl": 100,
                    "dscp": 30,
                    "dontFragmentFlag": false,
                    "sourceInterface": "vlan-interface",
                    "vlan": 152,
                    "useIpv6": true,
                    "includeRawOutput": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/ping/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Ping test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Ping test.",
        "operationId": "getGwPingResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Ping test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Ping completed successfully",
                    "value": {
                      "output": {
                        "packetSizeBytes": "92",
                        "timeoutSeconds": "2",
                        "successRatePercent": "100",
                        "sentPacketsCount": "5",
                        "receivedPacketsCount": "5",
                        "minimumLatencyMilliseconds": "200.873",
                        "destination": "142.251.214.132",
                        "averageLatencyMilliseconds": "207.567",
                        "maximumLatencyMilliseconds": "211.744"
                      },
                      "progressPercent": 100,
                      "rawOutput": "\r\n! - Success  . - Failure  D - Duplicate Response\r\n\rPress 'q' to abort.\r\nSending 5, 92-byte ICMP Echos to 142.251.214.132, timeout is 2 seconds:\r\n!!!!!\r\nSuccess rate is 100 percent (5/5), round-trip min/avg/max = 200.873/207.567/211.744 ms\n\r\n",
                      "startTime": "2025-05-20T13:34:57.099357263Z",
                      "failReason": null,
                      "status": "COMPLETED",
                      "endTime": "2025-05-20T13:35:00.211569256Z"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/pingSweep": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Run PingSweep (Gateway)",
        "description": "Starts an asynchronous PingSweep on a Gateway. PingSweep expects 'startPacketSize', 'endPacketSize', 'count' and 'sweepInterval' to ping with various sizes.",
        "operationId": "runGatewayPingSweepV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "PingSweep request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatewayPingSweepRequest"
              },
              "example": {
                "destination": "1.1.1.1",
                "count": 2,
                "startPacketSize": 10,
                "endPacketSize": 50,
                "sweepInterval": 10
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. Operation initiated; poll the provided location for status/result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/pingSweep/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-09-18T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "forbiddenPacketSize": {
                    "summary": "Total packets invalid",
                    "value": {
                      "errorCode": "HPE_GL_ERROR_BAD_REQUEST",
                      "message": "The total number of ICMP requests should be between 1 to 100"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0,
                  "maximum": 9223372036854776000
                },
                "description": "Request limit per hour."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0,
                  "maximum": 9223372036854776000
                },
                "description": "The number of requests left for the time window."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time",
                  "maxLength": 20
                },
                "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/pingSweep/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get PingSweep status/result (Gateway)",
        "description": "Polls the asynchronous PingSweep task and returns its status and raw results.",
        "operationId": "getGatewayPingSweepResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns current status and, when completed, the full PingSweep output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayPingSweepResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Completed",
                    "value": {
                      "status": "COMPLETED",
                      "progressPercent": 100,
                      "startTime": "2025-09-18T10:00:01Z",
                      "endTime": "2025-09-18T10:00:05Z",
                      "failReason": null,
                      "output": {
                        "destination": "1.1.1.1",
                        "successRate": "100",
                        "transmittedPacketsCount": "10",
                        "receivedPacketsCount": "10",
                        "minimumRoundTripTimeMilliseconds": "110.597",
                        "averageRoundTripTimeMilliseconds": "110.767",
                        "maximumRoundTripTimeMilliseconds": "110.88",
                        "responses": [
                          {
                            "count": "1",
                            "replies": [
                              {
                                "requestId": "1",
                                "size": "10",
                                "timedOut": false
                              },
                              {
                                "requestId": "2",
                                "size": "20",
                                "timedOut": false
                              },
                              {
                                "requestId": "3",
                                "size": "30",
                                "timedOut": false
                              },
                              {
                                "requestId": "4",
                                "size": "40",
                                "timedOut": false
                              },
                              {
                                "requestId": "5",
                                "size": "50",
                                "timedOut": false
                              }
                            ]
                          },
                          {
                            "count": "2",
                            "replies": [
                              {
                                "requestId": "6",
                                "size": "10",
                                "timedOut": false
                              },
                              {
                                "requestId": "7",
                                "size": "20",
                                "timedOut": false
                              },
                              {
                                "requestId": "8",
                                "size": "30",
                                "timedOut": false
                              },
                              {
                                "requestId": "9",
                                "size": "40",
                                "timedOut": false
                              },
                              {
                                "requestId": "10",
                                "size": "50",
                                "timedOut": false
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "running": {
                    "summary": "Still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 40,
                      "startTime": "2025-09-18T10:00:01Z",
                      "endTime": null,
                      "failReason": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/poeBounce": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Poe Bounce test on a Gateway",
        "description": "Starts an asynchronous Poe Bounce test on the specified Gateway.",
        "operationId": "initiateGwPoeBounceV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/poeBounce/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Poe Bounce command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoeBounceMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Gateway Poe Bounce request",
                  "value": {
                    "ports": [
                      "GE 0/0/0",
                      "GE 0/0/1"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/poeBounce/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Poe Bounce test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Poe Bounce test.",
        "operationId": "getGwPoeBounceResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Poe Bounce test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoeBounceMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Poe Bounce completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:40:15.774840498Z",
                      "endTime": "2025-05-20T13:42:41.923609070Z",
                      "progressPercent": 100,
                      "output": {
                        "results": [
                          {
                            "port": "0/0/0",
                            "status": "Bounced"
                          },
                          {
                            "port": "0/0/1",
                            "status": "Bounced"
                          }
                        ],
                        "ports": [
                          "GE 0/0/0",
                          "GE 0/0/1"
                        ]
                      },
                      "failReason": null,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/portBounce": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Port Bounce test on a Gateway",
        "description": "Starts an asynchronous Port Bounce test on the specified Gateway.",
        "operationId": "initiateGwPortBounceV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/portBounce/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Port Bounce command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortBounceMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Gateway Port Bounce request",
                  "value": {
                    "ports": [
                      "GE 0/0/0",
                      "GE 0/0/1"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/portBounce/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Port Bounce test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Port Bounce test.",
        "operationId": "getGwPortBounceResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Port Bounce test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortBounceMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Port Bounce completed successfully",
                    "value": {
                      "startTime": "2025-05-20T13:40:15.774840498Z",
                      "endTime": "2025-05-20T13:42:41.923609070Z",
                      "progressPercent": 100,
                      "output": {
                        "results": [
                          {
                            "port": "0/0/0",
                            "status": "Bounced"
                          },
                          {
                            "port": "0/0/1",
                            "status": "Bounced"
                          }
                        ],
                        "ports": [
                          "GE 0/0/0",
                          "GE 0/0/1"
                        ]
                      },
                      "failReason": null,
                      "status": "COMPLETED"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/reboot": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Reboot a Gateway",
        "description": "Initiates a reboot operation on the specified Gateway.",
        "operationId": "rebootGatewayV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The reboot action has been successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionInitiatedStatus"
                },
                "example": {
                  "startTime": "2025-06-25T08:31:15.380079232Z",
                  "status": "INITIATED"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceConflictRebooting"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/show-commands": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "List 'show' commands (Gateway - top commands)",
        "description": "Returns most used/top 'show' commands supported on given Gateway. ",
        "operationId": "listGwShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/showCommands": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Run 'show' commands (Gateway)",
        "description": "Starts an asynchronous execution of one or more 'show' commands on a Gateway. Rejected with 400 if any command does not start with 'show ', or if more than 20 commands are provided.",
        "operationId": "runGwShowCommandsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The list of 'show' commands to run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowCommandRequest"
              },
              "example": {
                "commands": [
                  "show arp",
                  "show version"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/showCommands/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-08-25T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestShowCommand"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/showCommands/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get 'show' commands status/result (Gateway)",
        "description": "Polls the async task for the 'show' commands and returns status and raw text output.",
        "operationId": "getGwShowCommandsResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowCommandResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Command finished successfully",
                    "value": {
                      "status": "COMPLETED",
                      "progressPercent": 100,
                      "startTime": "2026-02-03T14:20:59.912054756Z",
                      "endTime": "2026-02-03T14:21:02.004881090Z",
                      "failReason": null,
                      "output": {
                        "commands": [
                          "show version"
                        ],
                        "results": [
                          {
                            "output": "ArubaOS Version 8.x\n...",
                            "command": "show version"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/traceroute": {
      "post": {
        "tags": [
          "Gateways"
        ],
        "summary": "Initiate a Traceroute test on a Gateway",
        "description": "Starts an asynchronous Traceroute test on the specified Gateway.",
        "operationId": "initiateGwTracerouteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The operation has been successfully initiated. The response includes the location to track the operation's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatus"
                },
                "example": {
                  "location": "/network-troubleshooting/v1/gateways/{serial-number}/traceroute/async-operations/{task-id}",
                  "status": "INITIATED",
                  "startTime": "2025-04-09T10:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/DeviceOffline"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "requestBody": {
          "description": "Gateway Traceroute command parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TracerouteMcRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal Gateway Traceroute request",
                  "value": {
                    "destination": "www.google.com"
                  }
                },
                "full": {
                  "summary": "Gateway Traceroute request with additional parameters",
                  "value": {
                    "destination": "www.google.com",
                    "vlanIp": "10.27.115.18",
                    "includeRawOutput": false
                  }
                }
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-troubleshooting/v1/gateways/{serial-number}/traceroute/async-operations/{task-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "summary": "Get Gateway Traceroute test status and results",
        "description": "Retrieves the status and results of a previously initiated asynchronous Gateway Traceroute test.",
        "operationId": "getGwTracerouteResultV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeviceSerial"
          },
          {
            "$ref": "#/components/parameters/AsyncTaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the status and results of the Gateway Traceroute test.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracerouteMcResult"
                },
                "examples": {
                  "completed": {
                    "summary": "Gateway Traceroute completed successfully",
                    "value": {
                      "endTime": "2025-05-21T11:39:31.826643044Z",
                      "status": "COMPLETED",
                      "output": {
                        "hops": [
                          {
                            "probes": [
                              {
                                "reverseDnsResolution": "10.97.118.2",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.118.2",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.118.2",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              }
                            ],
                            "hop": "1"
                          },
                          {
                            "probes": [
                              {
                                "reverseDnsResolution": "10.97.112.1",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.112.1",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "0 ms"
                              },
                              {
                                "reverseDnsResolution": "10.97.112.1",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              }
                            ],
                            "hop": "2"
                          },
                          {
                            "probes": [],
                            "hop": "3"
                          },
                          {
                            "probes": [
                              {
                                "reverseDnsResolution": "10.186.172.153",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.186.172.153",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "1 ms"
                              },
                              {
                                "reverseDnsResolution": "10.186.172.153",
                                "ipAddress": "null",
                                "responseTimeMilliseconds": "0 ms"
                              }
                            ],
                            "hop": "5"
                          }
                        ],
                        "destination": "blrubshared-pdash.arubacorp.net"
                      },
                      "progressPercent": 100,
                      "startTime": "2025-05-21T11:39:13.645841269Z",
                      "failReason": null,
                      "rawOutput": "\ntraceroute blrubshared-pdash.arubacorp.net\ntraceroute to 10.186.172.153 ,\n              1 hop min, 30 hops max, 5 sec. timeout, 3 probes\n 1 10.97.118.2           1 ms      1 ms      1 ms\n 2 10.97.112.1           1 ms      0 ms      1 ms\n 3  *  *  * \n 4 10.186.128.6          1 ms10.186.128.4          1 ms      1 ms\n 5 10.186.172.153        1 ms      1 ms      0 ms\n\n"
                    }
                  },
                  "running": {
                    "summary": "Operation still running",
                    "value": {
                      "status": "RUNNING",
                      "progressPercent": 0,
                      "startTime": "2025-04-09T10:14:08Z",
                      "endTime": null,
                      "output": null,
                      "rawOutput": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActionInitiatedStatus": {
        "title": "Action Initiation Response",
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the action was initiated."
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED"
            ],
            "description": "The initial status of the action."
          }
        },
        "required": [
          "startTime",
          "status"
        ]
      },
      "AsyncOperationResultBase": {
        "title": "Base structure for test GET",
        "required": [
          "status",
          "progressPercent",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "INITIATED",
              "RUNNING",
              "COMPLETED",
              "FAILED"
            ],
            "description": "The final or current status of the operation."
          },
          "progressPercent": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage completion of the operation (0-100)."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation was initiated."
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation finished (null if not finished)."
          }
        }
      },
      "AsyncOperationStatus": {
        "title": "Test Initiation Response",
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "format": "uri-reference",
            "description": "The relative URL path to query the status and result of the asynchronous operation."
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED"
            ],
            "description": "The initial status of the operation."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp indicating when the operation was initiated."
          }
        }
      },
      "DeviceNotReadyErrorResponse": {
        "title": "Device Not Ready Error Response",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          },
          "errorCode": {
            "type": "string",
            "description": "A unique code identifying the error type."
          }
        },
        "required": [
          "message",
          "errorCode"
        ]
      },
      "DisconnectClientByMacGwRequest": {
        "type": "object",
        "properties": {
          "clientMacAddress": {
            "type": "string",
            "description": "MAC address of the client to disconnect."
          }
        },
        "required": [
          "clientMacAddress"
        ],
        "title": "GATEWAY DISCONNECT CLIENT BY MAC REQUEST"
      },
      "ErrorResponse": {
        "title": "Error Response",
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "A unique code identifying the error type."
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          }
        }
      },
      "ForbiddenError": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "Error code for the specific error.",
            "maxLength": 256,
            "example": "HPE_GL_ERROR_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the issue.",
            "maxLength": 1024,
            "example": "Insufficient permissions to access this resource"
          },
          "debugId": {
            "type": "string",
            "description": "Debug identifier for troubleshooting.",
            "maxLength": 256,
            "example": "abc-123-456"
          }
        }
      },
      "GatewayPingSweepOutput": {
        "title": "GATEWAY PING SWEEP OUTPUT",
        "type": "object",
        "properties": {
          "destination": {
            "type": "string"
          },
          "successRate": {
            "type": "string"
          },
          "transmittedPacketsCount": {
            "type": "string"
          },
          "receivedPacketsCount": {
            "type": "string"
          },
          "minimumRoundTripTimeMilliseconds": {
            "type": "string"
          },
          "averageRoundTripTimeMilliseconds": {
            "type": "string"
          },
          "maximumRoundTripTimeMilliseconds": {
            "type": "string"
          },
          "responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GatewayPingSweepResponseBucket"
            }
          }
        },
        "required": [
          "destination",
          "successRate",
          "transmittedPacketsCount",
          "receivedPacketsCount",
          "minimumRoundTripTimeMilliseconds",
          "averageRoundTripTimeMilliseconds",
          "maximumRoundTripTimeMilliseconds",
          "responses"
        ]
      },
      "GatewayPingSweepReply": {
        "title": "GATEWAY PING SWEEP REPLY",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "description": "Packet size actually used for this probe, as a string."
          },
          "timedOut": {
            "type": "boolean"
          }
        },
        "required": [
          "requestId",
          "size",
          "timedOut"
        ]
      },
      "GatewayPingSweepRequest": {
        "title": "GATEWAY PING SWEEP REQUEST",
        "type": "object",
        "description": "Run a PingSweep (multiple pings across a range of packet sizes). NOTE: 'packetSize' is not allowed for PingSweep.",
        "properties": {
          "destination": {
            "type": "string",
            "description": "Target hostname or IP (e.g., 1.1.1.1)."
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "default": 5,
            "description": "Number of ping cycles to run for each packet size in the sweep."
          },
          "startPacketSize": {
            "type": "integer",
            "minimum": 1,
            "description": "Starting payload size (bytes) for the sweep."
          },
          "endPacketSize": {
            "type": "integer",
            "minimum": 1,
            "description": "Final payload size (bytes) for the sweep (must be >= startPacketSize)."
          },
          "sweepInterval": {
            "type": "integer",
            "minimum": 1,
            "description": "Step size (bytes) between successive payload sizes."
          }
        },
        "required": [
          "destination",
          "startPacketSize",
          "endPacketSize",
          "sweepInterval"
        ],
        "allOf": [
          {
            "not": {
              "required": [
                "packetSize"
              ]
            }
          }
        ]
      },
      "GatewayPingSweepResponseBucket": {
        "title": "GATEWAY PING SWEEP RESPONSE BUCKET",
        "type": "object",
        "properties": {
          "count": {
            "type": "string",
            "description": "The cycle index (e.g., '1', '2', ...), represented as a string."
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GatewayPingSweepReply"
            }
          }
        },
        "required": [
          "count",
          "replies"
        ]
      },
      "GatewayPingSweepResult": {
        "title": "GATEWAY PING SWEEP RESULT",
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GatewayPingSweepOutput"
                  }
                ]
              }
            }
          }
        ]
      },
      "GetArpTableMcArptablerowresult": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The IP address in the ARP table."
          },
          "macAddress": {
            "type": "string",
            "description": "The MAC address."
          },
          "protocol": {
            "type": "string",
            "description": "The protocol associated with the entry."
          },
          "interfaceAndPort": {
            "type": "string",
            "description": "The interface associated with the entry."
          }
        },
        "title": "GATEWAY ARP TABLE ENTRY"
      },
      "GetArpTableMcParsedOutput": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetArpTableMcArptablerowresult"
            },
            "description": "The entries in the ARP table."
          }
        },
        "title": "GATEWAY ARP TABLE RESPONSE"
      },
      "GetArpTableMcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetArpTableMcParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
                "description": "The raw output of the test."
              }
            }
          }
        ],
        "title": "GATEWAY ARP TABLE RESULT"
      },
      "HttpMcHttprowresult": {
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "string",
            "description": "The HTTP response code."
          },
          "responseNumber": {
            "type": "string",
            "description": "The number of the HTTP response."
          },
          "responseBytes": {
            "type": "string",
            "description": "The size of the HTTP response in bytes."
          },
          "responseTimeMilliseconds": {
            "type": "string",
            "description": "The time taken to receive the HTTP response in milliseconds."
          },
          "downloadRate": {
            "type": "string",
            "description": "The download rate in bps."
          }
        },
        "title": "GATEWAY HTTP ROW"
      },
      "HttpMcParsedOutput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL used for the HTTP test."
          },
          "responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HttpMcHttprowresult"
            },
            "description": "The results of the HTTP test."
          },
          "sentPacketsCount": {
            "type": "string",
            "description": "The number of packets sent."
          },
          "receivedPacketsCount": {
            "type": "string",
            "description": "The number of packets received."
          },
          "successRatePercent": {
            "type": "string",
            "description": "The success rate of the HTTP test."
          },
          "minimumLatencyMilliseconds": {
            "type": "string",
            "description": "The minimum latency in milliseconds."
          },
          "averageLatencyMilliseconds": {
            "type": "string",
            "description": "The average latency in milliseconds."
          },
          "maximumLatencyMilliseconds": {
            "type": "string",
            "description": "The maximum latency in milliseconds."
          }
        },
        "title": "GATEWAY HTTP RESPONSE"
      },
      "HttpMcRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Hostname/IP address required"
          },
          "count": {
            "type": "integer",
            "description": "Number of ping packets to send (1-10)",
            "minimum": 1,
            "maximum": 10
          },
          "interval": {
            "type": "integer",
            "description": "Time between ping packets in seconds (1-10)",
            "minimum": 1,
            "maximum": 10
          },
          "includeRawOutput": {
            "type": "boolean",
            "description": "Whether to include raw output in the response."
          }
        },
        "required": [
          "url"
        ],
        "title": "GATEWAY HTTP REQUEST"
      },
      "HttpMcResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AsyncOperationResultBase"
          },
          {
            "type": "object",
            "properties": {
              "output": {
                "type": [
                  "object",
                  "null"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HttpMcParsedOutput"
                  }
                ]
              },
              "rawOutput": {
                "type": "string",
[...]
