{
  "openapi": "3.0.0",
  "info": {
    "title": "Devices",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sdcloud.juniperclouds.net/",
      "variables": {}
    }
  ],
  "security": [
    {
      "OauthKeyAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Devices",
      "description": ""
    }
  ],
  "paths": {
    "/api/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "ListDevices",
        "description": "Get a paginated collection of devices with filtering and sorting options.",
        "operationId": "ListDevices",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Starting index for pagination (zero-based). If not provided, the default is 0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Maximum number of results to return per page. If not provided, the default is 2000.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 50
            }
          },
          {
            "name": "sortby",
            "in": "query",
            "description": "Field to sort the results by.\nExample: name(ascending).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specific fields to include in the response (for partial responses). \nExample: fields=uuid && fields=name.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filter conditions to apply to the results. \nExample: filters = ((name contains sometext) and (uuid eq dummy-id)).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obj_uuids",
            "in": "query",
            "description": "List of specific object UUIDs to retrieve. \nExample:  obj_uuids=uuid1 && obj_uuids=uuid2.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to true, only returns the total count of matching resources without the actual resources.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListDevicesV1Response"
                    },
                    {
                      "description": "ListDevicesV1Response represents the response containing a list of devices and metadata.\nThis message provides both the device data and pagination information."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/devices/{device_uuid}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "GetDevice",
        "description": "Retrieve a specific device by UUID. Fetches detailed information about a device using its unique identifier.",
        "operationId": "GetDevice",
        "parameters": [
          {
            "name": "device_uuid",
            "in": "path",
            "description": "device_uuid is the unique identifier of the device to retrieve.\nThis field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetDeviceV1Response"
                    },
                    {
                      "description": "GetDeviceV1Response represents the response containing a single device's information.\nThis message is returned when a device is successfully retrieved."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "Device": {
        "title": "Device",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "uuid is the unique identifier of the device."
          },
          "name": {
            "type": "string",
            "description": "Name is the user-assigned name of the device."
          },
          "description": {
            "type": "string",
            "description": "Description is the user-provided description of the device."
          },
          "system_info": {
            "$ref": "#/components/schemas/SystemInfoType"
          },
          "management_state": {
            "type": "string",
            "description": "ManagementState indicates the current management status of the device.\nPossible values:\n  - DISCOVERY_NOT_INITIATED: Discovery process has not started.\n  - ZTP_NOT_INITIATED: Zero Touch Provisioning has not started.\n  - DISCOVERY_FAILED: Device discovery failed.\n  - DEVICE_DETECTED: Device has been detected.\n  - DISCOVERY_IN_PROGRESS: Discovery is currently in progress.\n  - MANAGED: Device is managed by the system.\n  - UNMANAGED: Device is not managed by the system.\n  - MAINTENANCE: Device is in maintenance mode.\n  - SALVAGE: Device is in salvage state.\n  - SYNC_PENDING: Device synchronization is pending.\n  - MISCONFIGURED: Device is misconfigured."
          },
          "login_connection_state": {
            "type": "string",
            "description": "LoginConnectionState indicates the current connection status to the device.\nPossible values:\n  - UP: Connection to the device is established.\n  - DOWN: Connection to the device is not established."
          },
          "combined_state": {
            "type": "string",
            "description": "CombinedState represents the overall operational state derived from management and connection states."
          },
          "device_sync_status": {
            "type": "string",
            "description": "DeviceSyncStatus indicates the synchronization status between the device and the system."
          },
          "inventory_sync_info": {
            "$ref": "#/components/schemas/InventorySyncInfo"
          },
          "management_state_description": {
            "type": "string",
            "description": "ManagementStateDescription provides a description of the management state."
          },
          "reboot_time": {
            "type": "string",
            "description": "RebootTime is the last reboot time of the device."
          },
          "reboot_time_stamp": {
            "type": "string",
            "description": "RebootTimeStamp is the timestamp of the last reboot."
          },
          "device_config_state": {
            "type": "string",
            "description": "DeviceConfigState describes whether the device contains out of band changes."
          },
          "last_oob_syslog_timestamp": {
            "type": "integer",
            "description": "LastOobSyslogTimestamp is the time the last out of band syslog message was received for this device.",
            "format": "int64"
          }
        }
      },
      "GetDeviceV1Response": {
        "title": "GetDeviceV1Response",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "uuid is the unique identifier of the device.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name is the user-assigned name of the device."
          },
          "description": {
            "type": "string",
            "description": "Description is the user-provided description of the device."
          },
          "system_info": {
            "$ref": "#/components/schemas/SystemInfoType"
          },
          "management_state": {
            "type": "string",
            "description": "ManagementState indicates the current management status of the device.\nPossible values:\n  - DISCOVERY_NOT_INITIATED: Discovery process has not started.\n  - ZTP_NOT_INITIATED: Zero Touch Provisioning has not started.\n  - DISCOVERY_FAILED: Device discovery failed.\n  - DEVICE_DETECTED: Device has been detected.\n  - DISCOVERY_IN_PROGRESS: Discovery is currently in progress.\n  - MANAGED: Device is managed by the system.\n  - UNMANAGED: Device is not managed by the system.\n  - MAINTENANCE: Device is in maintenance mode.\n  - SALVAGE: Device is in salvage state.\n  - SYNC_PENDING: Device synchronization is pending.\n  - MISCONFIGURED: Device is misconfigured."
          },
          "login_connection_state": {
            "type": "string",
            "description": "LoginConnectionState indicates the current connection status to the device.\nPossible values:\n  - UP: Connection to the device is established.\n  - DOWN: Connection to the device is not established."
          },
          "combined_state": {
            "type": "string",
            "description": "CombinedState represents the overall operational state derived from management and connection states."
          },
          "device_sync_status": {
            "type": "string",
            "description": "DeviceSyncStatus indicates the synchronization status between the device and the system."
          },
          "inventory_sync_info": {
            "$ref": "#/components/schemas/InventorySyncInfo"
          },
          "management_state_description": {
            "type": "string",
            "description": "ManagementStateDescription provides a description of the management state."
          },
          "reboot_time": {
            "type": "string",
            "description": "RebootTime is the last reboot time of the device."
          },
          "reboot_time_stamp": {
            "type": "string",
            "description": "RebootTimeStamp is the timestamp of the last reboot."
          },
          "device_config_state": {
            "type": "string",
            "description": "DeviceConfigState describes whether the device contains out of band changes."
          },
          "last_oob_syslog_timestamp": {
            "type": "integer",
            "description": "LastOobSyslogTimestamp is the time the last out of band syslog message was received for this device.",
            "format": "int64"
          }
        },
        "description": "GetDeviceV1Response represents the response containing a single device's information.\nThis message is returned when a device is successfully retrieved."
      },
      "InventorySyncInfo": {
        "title": "InventorySyncInfo",
        "type": "object",
        "properties": {
          "overall_sync_status": {
            "type": "string",
            "description": "OverallSyncStatus is the overall synchronization status.\nPossible values:\n  - IN_SYNC: All resources are synchronized.\n  - OUT_OF_SYNC: One or more resources are not synchronized.\n  - SYNC_IN_PROGRESS: Synchronization is currently in progress.\n  - UNKNOWN: Synchronization status is unknown."
          },
          "sync_time_stamp": {
            "type": "string",
            "description": "SyncTimeStamp is the latest time at which synchronization was attempted."
          },
          "resource_sync_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceSyncInfo"
            },
            "description": "ResourceSyncInfo contains sync info for each resource type."
          }
        }
      },
      "ListDevicesV1Response": {
        "title": "ListDevicesV1Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            },
            "description": "Items contains the complete information of the requested devices."
          },
          "count": {
            "type": "integer",
            "description": "Count represents the total number of devices that match the request criteria.\nThis count may be larger than the number of items in Devices if pagination is applied.\nThis field will be serialized as \"count\" in JSON format.",
            "format": "int32"
          }
        },
        "description": "ListDevicesV1Response represents the response containing a list of devices and metadata.\nThis message provides both the device data and pagination information."
      },
      "ResourceSyncInfo": {
        "title": "ResourceSyncInfo",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of resource types like hardware, interface, software, license etc."
          },
          "sync_status": {
            "type": "string",
            "description": "SyncStatus is the sync status for this resource.\nPossible values:\n  - SYNC_IN_PROGRESS: Synchronization is currently in progress.\n  - SYNC_SUCCESS: Synchronization completed successfully.\n  - SYNC_FAILURE: Synchronization failed."
          },
          "sync_time_stamp": {
            "type": "string",
            "description": "SyncTimeStamp is the latest time at which synchronization was attempted on the resource."
          }
        }
      },
      "SystemInfoType": {
        "title": "SystemInfoType",
        "type": "object",
        "properties": {
          "host_name": {
            "type": "string",
            "description": "HostName is the system's hostname as reported by the device."
          },
          "os_name": {
            "type": "string",
            "description": "OsName is the OS name (like junos, ios)."
          },
          "os_version": {
            "type": "string",
            "description": "OsVersion is the OS version."
          },
          "hardware_model": {
            "type": "string",
            "description": "HardwareModel is the hardware model."
          },
          "serial_number": {
            "type": "string",
            "description": "SerialNumber is the serial number."
          },
          "cluster_type": {
            "type": "string",
            "description": "ClusterType is the type of clustering (if any)."
          }
        }
      },
      "protobufAny": {
        "title": "protobufAny",
        "type": "object",
        "properties": {
          "typeUrl": {
            "type": "string",
            "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
          },
          "value": {
            "type": "string",
            "description": "Must be a valid serialized protocol buffer of the above specified type."
          }
        },
        "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := &pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
      },
      "runtimeError": {
        "title": "runtimeError",
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "description": ""
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      },
      "OauthKeyAuth": {
        "type": "apiKey",
        "name": "x-oauth2-token",
        "in": "header"
      }
    }
  }
}
