{
  "openapi": "3.0.0",
  "info": {
    "title": "IAM",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sdcloud.juniperclouds.net/",
      "variables": {}
    }
  ],
  "security": [
    {
      "OauthKeyAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "IAM",
      "description": ""
    }
  ],
  "paths": {
    "/api/v2/change-password": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "ChangePassword",
        "description": "",
        "operationId": "ChangePassword",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/iamChangePasswordRequest"
                  },
                  {
                    "example": {
                      "email": "string",
                      "current_password": "string",
                      "new_password": "string"
                    }
                  }
                ]
              },
              "example": {
                "email": "string",
                "current_password": "string",
                "new_password": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamChangePasswordResponse"
                    },
                    {
                      "example": {
                        "status": "SUCCESS"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "SUCCESS"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/role/{ID}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetRole",
        "description": "",
        "operationId": "GetRole",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "description": "ID of the role.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/roles": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "ListRoles",
        "description": "",
        "operationId": "ListRoles",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Max number of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Starting offset of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRolesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/send-activate-user-email": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "SendActivateUserEmail",
        "description": "",
        "operationId": "SendActivateUserEmail",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/iamSendEmailRequest"
                  },
                  {
                    "example": {
                      "email": "string"
                    }
                  }
                ]
              },
              "example": {
                "email": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tenant/tenant-id": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetTokenScope",
        "description": "",
        "operationId": "GetTokenScope",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamGetTokenScopeResponse"
                    },
                    {
                      "example": {
                        "tenant_id": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "tenant_id": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user": {
      "post": {
        "tags": [
          "IAM"
        ],
        "summary": "CreateUser",
        "description": "",
        "operationId": "CreateUser",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamCreateUserRPCResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user/{user_id}": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "GetUser",
        "description": "",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetUserResponse"
                    },
                    {
                      "example": {
                        "user_info": {
                          "user_id": "string",
                          "email": "string",
                          "name": "string",
                          "status": "string",
                          "last_login": "string",
                          "role": [
                            {
                              "role_name": "string"
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "user_info": {
                    "user_id": "string",
                    "email": "string",
                    "name": "string",
                    "status": "string",
                    "last_login": "string",
                    "role": [
                      {
                        "role_name": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "IAM"
        ],
        "summary": "EditUser",
        "description": "",
        "operationId": "EditUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Mandatory: User UUID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamEditUserResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/user/{uuid}": {
      "delete": {
        "tags": [
          "IAM"
        ],
        "summary": "DeleteUser",
        "description": "",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the user to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iamDeleteUserRPCResponse"
                    },
                    {
                      "example": {
                        "uuid": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": [
          "IAM"
        ],
        "summary": "ListUsers",
        "description": "",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Max number of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Starting offset of entries to fetch.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListUsersResponse"
                    },
                    {
                      "example": {
                        "users": [
                          {
                            "user_id": "string",
                            "email": "string",
                            "name": "string",
                            "status": "string",
                            "last_login": "string",
                            "role": [
                              {
                                "role_name": "string"
                              }
                            ]
                          }
                        ],
                        "user_count": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "users": [
                    {
                      "user_id": "string",
                      "email": "string",
                      "name": "string",
                      "status": "string",
                      "last_login": "string",
                      "role": [
                        {
                          "role_name": "string"
                        }
                      ]
                    }
                  ],
                  "user_count": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "ChangePasswordResponseChangePasswordStatus": {
        "title": "ChangePasswordResponseChangePasswordStatus",
        "enum": [
          "SUCCESS",
          "INVALID"
        ],
        "type": "string"
      },
      "CreateUserRequest": {
        "title": "CreateUserRequest",
        "type": "object",
        "properties": {
          "user_name": {
            "type": "string",
            "description": "Mandatory: User name(email)."
          },
          "first_name": {
            "type": "string",
            "description": "Mandatory: User first name."
          },
          "last_name": {
            "type": "string",
            "description": "Mandatory: User last name."
          },
          "enable_option": {
            "$ref": "#/components/schemas/iamEnableOption"
          },
          "role_assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleAssignment"
            },
            "description": "Mandatory: Roles assigned on Scope or Scope Group."
          },
          "user_properties": {
            "$ref": "#/components/schemas/iamUserProperties"
          }
        }
      },
      "EditUserRequest": {
        "title": "EditUserRequest",
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Mandatory: User UUID."
          },
          "first_name": {
            "type": "string",
            "description": "Optional: User first name."
          },
          "last_name": {
            "type": "string",
            "description": "Optional: User last name."
          },
          "enable_option": {
            "$ref": "#/components/schemas/iamEnableOption"
          },
          "role_assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/iamRoleAssignment"
            },
            "description": "Optional: Roles assigned on Scope or Scope Group."
          },
          "properties": {
            "$ref": "#/components/schemas/iamUserProperties"
          }
        }
      },
      "GetRoleResponse": {
        "title": "GetRoleResponse",
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/RoleInfo"
          }
        }
      },
      "GetUserResponse": {
        "title": "GetUserResponse",
        "type": "object",
        "properties": {
          "user_info": {
            "$ref": "#/components/schemas/UserInfo"
          }
        }
      },
      "ListRolesResponse": {
        "title": "ListRolesResponse",
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleInfo"
            },
            "description": "List of role information."
          },
          "role_count": {
            "type": "string",
            "description": "Max number of roles present in system."
          }
        }
      },
      "ListUsersResponse": {
        "title": "ListUsersResponse",
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserInfo"
            },
            "description": "List of users."
          },
          "user_count": {
            "type": "string",
            "description": "Total number of users present in the system."
          }
        }
      },
      "RoleAssignment": {
        "title": "RoleAssignment",
        "type": "object",
        "properties": {
          "scope_id": {
            "type": "string",
            "description": "Mandatory: ID of the scope on which the role has to be assigned."
          },
          "role_id": {
            "type": "string",
            "description": "Mandatory: ID of the role on the scope."
          },
          "role_name": {
            "type": "string",
            "description": "Optional: Name of the role on the scope. Either role_id or role_name is necessary."
          }
        }
      },
      "RoleInfo": {
        "title": "RoleInfo",
        "type": "object",
        "properties": {
          "UUID": {
            "type": "string",
            "description": "ID of the role."
          },
          "name": {
            "type": "string",
            "description": "Name of the role."
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Capabilities of the role."
          },
          "predefined": {
            "type": "boolean",
            "description": "Is this role predefined."
          }
        }
      },
      "UserInfo": {
        "title": "UserInfo",
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "UUID of the user."
          },
          "email": {
            "type": "string",
            "description": "Email of the user."
          },
          "name": {
            "type": "string",
            "description": "Name of the user."
          },
          "status": {
            "type": "string",
            "description": "Status of the user."
          },
          "last_login": {
            "type": "string",
            "description": "Last login time of the user."
          },
          "role": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserRole"
            },
            "description": "Role assigned to the user."
          }
        }
      },
      "UserRole": {
        "title": "UserRole",
        "type": "object",
        "properties": {
          "role_name": {
            "type": "string",
            "description": "Name of the role assigned to user."
          }
        }
      },
      "iamChangePasswordRequest": {
        "title": "iamChangePasswordRequest",
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "current_password": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          }
        }
      },
      "iamChangePasswordResponse": {
        "title": "iamChangePasswordResponse",
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ChangePasswordResponseChangePasswordStatus"
          }
        }
      },
      "iamCreateUserRPCResponse": {
        "title": "iamCreateUserRPCResponse",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          }
        },
        "description": "DeleteDeviceGroupsV1Response represents the response after deleting device group.\nIt contains the status and a message about the delete operation."
      },
      "iamDeleteUserRPCResponse": {
        "title": "iamDeleteUserRPCResponse",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          }
        }
      },
      "iamEditUserResponse": {
        "title": "iamEditUserResponse",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          }
        }
      },
      "iamEnableOption": {
        "title": "iamEnableOption",
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean"
          }
        }
      },
      "iamGetTokenScopeResponse": {
        "title": "iamGetTokenScopeResponse",
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string",
            "description": "ID of the tenant associated with the request."
          }
        }
      },
      "iamRoleAssignment": {
        "title": "iamRoleAssignment",
        "type": "object",
        "properties": {
          "scope_id": {
            "type": "string",
            "description": "ID of the scope on which the role has to be assigned."
          },
          "scope_name": {
            "type": "string",
            "description": "Name of the scope on which the role has to be assigned."
          },
          "scope_group_id": {
            "type": "string",
            "description": "ID of the scope group on which the role has to be assigned."
          },
          "scope_group_name": {
            "type": "string",
            "description": "Name of the scope group on which the role has to be assigned."
          },
          "role_id": {
            "type": "string"
          },
          "role_name": {
            "type": "string"
          }
        }
      },
      "iamSendEmailRequest": {
        "title": "iamSendEmailRequest",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Mandatory: Email of the user for which the activation email will be sent."
          }
        }
      },
      "iamUserProperties": {
        "title": "iamUserProperties",
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string",
            "description": "user Company Name."
          },
          "phone_number": {
            "type": "string",
            "description": "user Phone Number."
          },
          "address": {
            "type": "string",
            "description": "user Address."
          },
          "city": {
            "type": "string",
            "description": "user City."
          },
          "state": {
            "type": "string",
            "description": "user State."
          },
          "country": {
            "type": "string",
            "description": "user Country."
          },
          "zipcode": {
            "type": "string",
            "description": "user Zip Code."
          }
        }
      },
      "protobufAny": {
        "title": "protobufAny",
        "type": "object",
        "properties": {
          "typeUrl": {
            "type": "string",
            "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
          },
          "value": {
            "type": "string",
            "description": "Must be a valid serialized protocol buffer of the above specified type."
          }
        },
        "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := &pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
      },
      "runtimeError": {
        "title": "runtimeError",
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "description": ""
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      },
      "OauthKeyAuth": {
        "type": "apiKey",
        "name": "x-oauth2-token",
        "in": "header"
      }
    }
  }
}
