{
  "openapi": "3.0.0",
  "info": {
    "title": "Site Management",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sdcloud.juniperclouds.net/",
      "variables": {}
    }
  ],
  "security": [
    {
      "OauthKeyAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Site Management",
      "description": ""
    }
  ],
  "paths": {
    "/api/v2/bulk_site": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateBulkSite",
        "description": "",
        "operationId": "CreateBulkSite",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBulkSiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/external-probe": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetExternalProbe",
        "description": "",
        "operationId": "GetExternalProbe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetExternalProbeResponse"
                    },
                    {
                      "example": {
                        "external_probe": {
                          "probe_address": "string",
                          "ping_source_subnet": "string"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "external_probe": {
                    "probe_address": "string",
                    "ping_source_subnet": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateExternalProbe",
        "description": "",
        "operationId": "CreateExternalProbe",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExternalProbeRequest"
                  },
                  {
                    "example": {
                      "external_probe": {
                        "probe_address": "string",
                        "ping_source_subnet": "string"
                      }
                    }
                  }
                ]
              },
              "example": {
                "external_probe": {
                  "probe_address": "string",
                  "ping_source_subnet": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteExternalProbe",
        "description": "",
        "operationId": "DeleteExternalProbe",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profile": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateIpsecProfile",
        "description": "",
        "operationId": "CreateIpsecProfile",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIpsecProfile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profile/{profile_name}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetIpsecProfile",
        "description": "",
        "operationId": "GetIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpsecProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Site Management"
        ],
        "summary": "UpdateIpsecProfile",
        "description": "",
        "operationId": "UpdateIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpsecProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteIpsecProfile",
        "description": "",
        "operationId": "DeleteIpsecProfile",
        "parameters": [
          {
            "name": "profile_name",
            "in": "path",
            "description": "Mandatory: Name of the ipsec profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/ipsec-profiles": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetIpsecProfileList",
        "description": "",
        "operationId": "GetIpsecProfileList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIpsecProfileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "CreateSite",
        "description": "",
        "operationId": "CreateSite",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site/prevalidate": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "ValidateSiteParams",
        "description": "",
        "operationId": "ValidateSiteParams",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateSiteParamsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidateSiteParamsResponse"
                    },
                    {
                      "example": {
                        "response": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "response": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site/{site_name}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetSite",
        "description": "",
        "operationId": "GetSite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of the site to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Site Management"
        ],
        "summary": "UpdateSite",
        "description": "",
        "operationId": "UpdateSite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of site to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeleteSite",
        "description": "",
        "operationId": "DeleteSite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of the site to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/site/{site_name}/deploy": {
      "post": {
        "tags": [
          "Site Management"
        ],
        "summary": "DeploySite",
        "description": "",
        "operationId": "DeploySite",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "Mandatory: Name of the site to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploySiteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/sites": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetSiteList",
        "description": "",
        "operationId": "GetSiteList",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Optional: Max number of entries to fetch. Sets this limit as 100 by default if left blank.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Optional: Starting offset of entries to fetch. Starts from 0 if left blank.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tunnel/{tunnel_id}": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetTunnel",
        "description": "",
        "operationId": "GetTunnel",
        "parameters": [
          {
            "name": "tunnel_id",
            "in": "path",
            "description": "Mandatory: ID of tunnel to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTunnelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tunnels": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "ListTunnels",
        "description": "",
        "operationId": "ListTunnels",
        "parameters": [
          {
            "name": "spec.size",
            "in": "query",
            "description": "Optional: Max number of entries to fetch. Sets this limit as 100 by default if left blank.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spec.from",
            "in": "query",
            "description": "Optional: Starting offset of entries to fetch. Starts from 0 if left blank.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTunnelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/tunnels/status/count": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "TunnelCount",
        "description": "",
        "operationId": "TunnelCount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TunnelCountResponse"
                    },
                    {
                      "example": {
                        "not_monitored_count": "string",
                        "up_count": "string",
                        "down_count": "string",
                        "total_count": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "not_monitored_count": "string",
                  "up_count": "string",
                  "down_count": "string",
                  "total_count": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/{tenant_pop_id}/users/count": {
      "get": {
        "tags": [
          "Site Management"
        ],
        "summary": "GetUsersTenantPop",
        "description": "",
        "operationId": "GetUsersTenantPop",
        "parameters": [
          {
            "name": "tenant_pop_id",
            "in": "path",
            "description": "Mandatory: The ID of the tenant pop.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetTenantPopListResponse"
                    },
                    {
                      "example": {
                        "max_users": "string",
                        "avail_users": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "max_users": "string",
                  "avail_users": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "CPEDevice": {
        "title": "CPEDevice",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Mandatory: Name of CPE device."
          },
          "psk": {
            "type": "string",
            "description": "Mandatory: The Pre-shared key to authenticate the remote access user. The key should be minimum 6 characters with at least one lower case, one upper case, one number and one special character. This is needed only if the cpe_interfaces.tunnel_type is of IPSEC type (i.e it is of value 2)."
          },
          "configured_unit_number": {
            "type": "string",
            "description": "Mandatory: This tunnel seed number is the offset for Junos OS CLI tunnel interface identifiers. Allowed range: 1-1000. The first tunnel interface is assigned configured_unit_number + 1 designator, and the second tunnel interface is assigned configured_unit_number + 2 designator."
          },
          "trust_zone": {
            "type": "string",
            "description": "Mandatory: Enter the zone type for the tunnel security- trust or untrust. This should be of value trust if you want to use the default trust zone. More on zones at https://www.juniper.net/documentation/us/en/software/junos/security-policies/topics/topic-map/security-zone-configuration.html ."
          },
          "untrust_zone": {
            "type": "string",
            "description": "Mandatory: Enter the zone type for the external interface- trust or untrust. This should be of value untrust if you want to use the default untrust zone. More on zones at https://www.juniper.net/documentation/us/en/software/junos/security-policies/topics/topic-map/security-zone-configuration.html ."
          },
          "tunnel_routing_instance": {
            "type": "string",
            "description": "Optional: Enter the routing instance name that contains the tunnel destination address. This will use the default routing instance if left blank. More on routing instances at https://www.juniper.net/documentation/us/en/software/junos/routing-overview/topics/concept/routing-instances-overview.html ."
          },
          "ipsec_profile_name": {
            "type": "string",
            "description": "Mandatory: Name of the IPsec profile to use for the device. This option is needed only when you select IPsec as the tunnel type. Information on IPsec profiles can be found using API GET /api/v2/ipsec-profiles."
          },
          "cpe_interfaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CPEInterface"
            },
            "description": "Mandatory: List of CPEInterfaces."
          },
          "cpe_type": {
            "type": "string",
            "description": "Mandatory: Type of CPE device. Enter vSRX here."
          },
          "use_site_secondary": {
            "type": "boolean",
            "description": "Optional: Use site's secondary tenant-pop as CPE's primary tenant-pop."
          },
          "skip_tunnel_cfg": {
            "type": "boolean",
            "description": "Optional: Enable Skip CPE Configuration when configuring a CP device using Mist, a Juniper Session Smart Router in Juniper's SD-WAN solution, or a third-party CPE device. When you enable Skip CPE Configuration, the CPE routing configuration is not generated."
          }
        }
      },
      "CPEInterface": {
        "title": "CPEInterface",
        "type": "object",
        "properties": {
          "ip_address": {
            "type": "string",
            "description": "Mandatory: Enter the IP address of the CPE side interface here. This is needed if cpe_interfaces.ip_address_type is static or if tunnel_type is 1."
          },
          "ike_id": {
            "type": "string",
            "description": "Mandatory: If cpe_interfaces.ip_address_type is dynamic, enter the IKE(Internet key exchange) ID of the site here."
          },
          "external_interface_name": {
            "type": "string",
            "description": "Mandatory: The name of the external interface. An external interface connects your device to the Internet/network. This should match the name of the physical interface on the CPE(eg: gr-0/0/1.0). If you want to use the default value, enter ge-0/0/0.0."
          },
          "tunnel_type": {
            "$ref": "#/components/schemas/Typeoftunnel"
          },
          "tunnel_interface": {
            "type": "string",
            "description": "Optional: Interface Name to assign to the tunnel."
          },
          "ip_address_type": {
            "type": "string",
            "description": "Mandatory: Must be one of the values Static or Dynamic. This is needed only if cpe_interfaces.tunnel_type is 2."
          },
          "name": {
            "type": "string",
            "description": "Mandatory: Name of CPE interface."
          }
        }
      },
      "CPEInterfaceList": {
        "title": "CPEInterfaceList",
        "type": "object",
        "properties": {
          "ike_id": {
            "type": "string",
            "description": "IKE(Internet key exchange) Id of tunnel interface."
          },
          "ip_address": {
            "type": "string",
            "description": "The IP address of the CPE side interface. This is present if cpe_interfaces.ip_address_type is static or if tunnel_type is 1."
          },
          "tunnel_type": {
            "$ref": "#/components/schemas/Typeoftunnel"
          },
          "external_interface_name": {
            "type": "string",
            "description": "Name of external interface. An external interface connects your device to the Internet/network."
          },
          "tunnel_interface": {
            "type": "string",
            "description": "Interface name under the tunnel."
          },
          "site_config": {
            "$ref": "#/components/schemas/Configuration"
          },
          "tunnel_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TunnelInfo"
            },
            "description": "Information on a list of tunnels."
          },
          "ip_address_type": {
            "type": "string",
            "description": "Type of the interface’s IP address .Is one of these values i.e Static or Dynamic."
          },
          "name": {
            "type": "string",
            "description": "Name of CPE interface."
          }
        }
      },
      "CPEList": {
        "title": "CPEList",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of CPE device."
          },
          "ipsec_profile_name": {
            "type": "string",
            "description": "Name of the IPsec profile used for the device. Information on IPsec profiles can be found using API GET /api/v2/ipsec-profiles."
          },
          "tunnel_interface": {
            "type": "string",
            "description": "Deprecated: Interface IP of tunnel."
          },
          "trust_zone": {
            "type": "string",
            "description": "The trust zone name that contains the zone configuration. This is of value trust if the default trust zone is used. More on zones at https://www.juniper.net/documentation/us/en/software/junos/security-policies/topics/topic-map/security-zone-configuration.html ."
          },
          "cpe_interfaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CPEInterfaceList"
            },
            "description": "List of CPEInterfaces."
          },
          "psk": {
            "type": "string",
            "description": "The pre shared key for the CPE device. This is available only when you select IPsec as the tunnel type."
          },
          "configured_unit_number": {
            "type": "string",
            "description": "This tunnel seed number is the offset for Junos OS CLI tunnel interface identifiers. Allowed range: 1-1000. The first tunnel interface is assigned configured_unit_number + 1 designator, and the second tunnel interface is assigned configured_unit_number + 2 designator."
          },
          "untrust_zone": {
            "type": "string",
            "description": "The untrust zone name that contains the zone configuration. This is of value untrust if the default untrust zone is used. More on zones at https://www.juniper.net/documentation/us/en/software/junos/security-policies/topics/topic-map/security-zone-configuration.html ."
          },
          "unit_number": {
            "type": "string",
            "description": "Unit number of device."
          },
          "tunnel_routing_instance": {
            "type": "string",
            "description": "The routing instance name that contains the tunnel configuration. This will use the default routing instance if blank. More on routing instances at https://www.juniper.net/documentation/us/en/software/junos/routing-overview/topics/concept/routing-instances-overview.html ."
          },
          "cpe_type": {
            "type": "string",
            "description": "Type of CPE device."
          },
          "use_site_secondary": {
            "type": "boolean",
            "description": "If site's secondary tenant-pop is the CPE's primary tenant-pop, this is true."
          },
          "skip_tunnel_cfg": {
            "type": "boolean",
            "description": "If tunnel configuration was skipped upon site creation, this is true."
          },
          "cpe_config": {
            "$ref": "#/components/schemas/Configuration"
          },
          "mist_config": {
            "$ref": "#/components/schemas/MistConfiguration"
          }
        }
      },
      "Configuration": {
        "title": "Configuration",
        "type": "object",
        "properties": {
          "body": {
            "type": "string",
            "description": "Configuration body."
          },
          "format": {
            "type": "string",
            "description": "Configuration format."
          }
        }
      },
      "CreateBulkSiteRequest": {
        "title": "CreateBulkSiteRequest",
        "type": "object",
        "properties": {
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            },
            "description": "Mandatory: List of sites to create."
          }
        }
      },
      "CreateIpsecProfile": {
        "title": "CreateIpsecProfile",
        "type": "object",
        "properties": {
          "profile": {
            "$ref": "#/components/schemas/Profile"
          }
        }
      },
      "CreateSiteRequest": {
        "title": "CreateSiteRequest",
        "type": "object",
        "properties": {
          "site": {
            "$ref": "#/components/schemas/Site"
          }
        }
      },
      "DeploySiteRequest": {
        "title": "DeploySiteRequest",
        "type": "object",
        "properties": {
          "site_name": {
            "type": "string",
            "description": "Mandatory: Name of the site to update."
          },
          "undeploy": {
            "type": "boolean",
            "description": "Optional: To undeploy the site."
          }
        }
      },
      "ExternalProbe": {
        "title": "ExternalProbe",
        "type": "object",
        "properties": {
          "probe_address": {
            "type": "string",
            "description": "Address of the external probe."
          },
          "ping_source_subnet": {
            "type": "string",
            "description": "Source IPv4 address subnet and mask for the external probe. Be sure to select a large enough source subnet that can support all your CPE devices in your network."
          }
        }
      },
      "ExternalProbeRequest": {
        "title": "ExternalProbeRequest",
        "type": "object",
        "properties": {
          "external_probe": {
            "$ref": "#/components/schemas/ExternalProbe"
          }
        }
      },
      "GetExternalProbeResponse": {
        "title": "GetExternalProbeResponse",
        "type": "object",
        "properties": {
          "external_probe": {
            "$ref": "#/components/schemas/ExternalProbe"
          }
        }
      },
      "GetIpsecProfileListResponse": {
        "title": "GetIpsecProfileListResponse",
        "type": "object",
        "properties": {
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetIpsecProfileResponse"
            },
            "description": "List of Ipsec profiles."
          },
          "total": {
            "type": "integer",
            "description": "Total count of ipsec profiles in system.",
            "format": "int64"
          }
        }
      },
      "GetIpsecProfileResponse": {
        "title": "GetIpsecProfileResponse",
        "type": "object",
        "properties": {
          "profile": {
            "$ref": "#/components/schemas/Profile"
          },
          "configurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Configuration"
            },
            "description": "List of ip sec profile configurations."
          }
        }
      },
      "GetSiteDetailsResponse": {
        "title": "GetSiteDetailsResponse",
        "type": "object",
        "properties": {
          "site": {
            "$ref": "#/components/schemas/SiteDetails"
          },
          "total": {
            "type": "integer",
            "description": "Total count.",
            "format": "int64"
          }
        }
      },
      "GetSiteListResponse": {
        "title": "GetSiteListResponse",
        "type": "object",
        "properties": {
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListSiteDetails"
            },
            "description": "List of sites in system."
          },
          "total": {
            "type": "integer",
            "description": "Total count of sites in system.",
            "format": "int64"
          }
        }
      },
      "GetTenantPopListResponse": {
        "title": "GetTenantPopListResponse",
        "type": "object",
        "properties": {
          "max_users": {
            "type": "string",
            "description": "Maximum number of users that is possible in this service location."
          },
          "avail_users": {
            "type": "string",
            "description": "Number of current users of this service location."
          }
        }
      },
      "GetTunnelResponse": {
        "title": "GetTunnelResponse",
        "type": "object",
        "properties": {
          "tunnel": {
            "$ref": "#/components/schemas/TunnelDetail"
          }
        }
      },
      "ListSiteDetails": {
        "title": "ListSiteDetails",
        "type": "object",
        "properties": {
          "site_name": {
            "type": "string",
            "description": "Name of the site."
          },
          "description": {
            "type": "string",
            "description": "Site description."
          },
          "primary_tenant_pop_id": {
            "type": "string",
            "description": "ID of the primary service location(tenant POP)."
          },
          "secondary_tenant_pop_id": {
            "type": "string",
            "description": "ID of the secondary service location(tenant POP)."
          },
          "private_nets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of private networks addresses in the site."
          },
          "zip_code": {
            "type": "string",
            "description": "Zip code of the site."
          },
          "country": {
            "type": "string",
            "description": "Country of the site."
          },
          "site_uuid": {
            "type": "string",
            "description": "ID of the site in the system."
          },
          "updated_timestamp": {
            "type": "string",
            "description": "Last updated time of the site."
          },
          "jsec_deploy_status": {
            "$ref": "#/components/schemas/fapiprotoStatus"
          },
          "cpe_devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CPEList"
            },
            "description": "CPE devices under the site."
          },
          "max_users": {
            "type": "string",
            "description": "Max number of users in site."
          },
          "deploy": {
            "type": "boolean",
            "description": "This is true if site was deployed on creation."
          },
          "address_grp_name": {
            "type": "string",
            "description": "Name of address group if used for the site."
          },
          "address_grp_uuid": {
            "type": "string",
            "description": "ID of address group if used for the site."
          }
        }
      },
      "ListTunnelsResponse": {
        "title": "ListTunnelsResponse",
        "type": "object",
        "properties": {
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TunnelDetail"
            },
            "description": "List of tunnel details."
          },
          "total": {
            "type": "string",
            "description": "Total count of tunnels in the system."
          }
        }
      },
      "MistConfiguration": {
        "title": "MistConfiguration",
        "type": "object",
        "properties": {
          "pre_shared_key": {
            "type": "string",
            "description": "The pre shared key for the CPE device. This is available only when you select IPsec as the tunnel type during site creation."
          },
          "local_identity": {
            "type": "string",
            "description": "This is the IKE ID or the domain of the site."
          },
          "primary": {
            "$ref": "#/components/schemas/TunnelConfig"
          },
          "secondary": {
            "$ref": "#/components/schemas/TunnelConfig"
          },
          "ike_proposal": {
            "$ref": "#/components/schemas/ProposalConfig"
          },
          "ipsec_proposal": {
            "$ref": "#/components/schemas/ProposalConfig"
          },
          "tunnel_pair": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/fapiprotoTunnelPair"
            },
            "description": "Configuration for a device may have multiple pri/sec tunnels. tunnel_pair is to express all the tunnels. primaryTunnel and secondaryTunnel are deprecated."
          }
        }
      },
      "Profile": {
        "title": "Profile",
        "type": "object",
        "properties": {
          "profile_name": {
            "type": "string",
            "description": "Important: Name of the profile."
          },
          "description": {
            "type": "string",
            "description": "Description of the profile."
          },
          "ike_auth_method": {
            "$ref": "#/components/schemas/fapiprotoIkeAuthMethod"
          },
          "ike_dh_group": {
            "$ref": "#/components/schemas/fapiprotoIkeDhGroup"
          },
          "ike_auth_algorithm": {
            "$ref": "#/components/schemas/fapiprotoIkeAuthAlgorithm"
          },
          "ike_encrypt_algorithm": {
            "$ref": "#/components/schemas/fapiprotoIkeEncryptAlgorithm"
          },
          "ike_lifetime": {
            "type": "integer",
            "description": "Important: Lifetime in seconds for the IPsec proposal.",
            "format": "int64"
          },
          "ipsec_protocol": {
            "$ref": "#/components/schemas/fapiprotoIpsecProtocol"
          },
          "ipsec_auth_algorithm": {
            "$ref": "#/components/schemas/fapiprotoIpsecAuthAlgorithm"
          },
          "ipsec_encrypt_algorithm": {
            "$ref": "#/components/schemas/fapiprotoIkeEncryptAlgorithm"
          },
          "ipsec_lifetime": {
            "type": "integer",
            "description": "Important: Lifetime for Ipsec proposal.",
            "format": "int64"
          },
          "ike_mode": {
            "$ref": "#/components/schemas/fapiprotoIkeMode"
          },
          "ike_version": {
            "type": "string",
            "description": "Version for Ike gateway."
          },
          "ike_dpd_enable": {
            "type": "boolean",
            "description": "To require DPD for Ike gateway to detect if a peer is dead or not."
          },
          "ike_dpd_option": {
            "$ref": "#/components/schemas/fapiprotoIkeDpdOption"
          },
          "ike_dpd_interval": {
            "type": "integer",
            "description": "Deprecated: Interval for Ike gateway.",
            "format": "int64"
          },
          "ike_dpd_threshold": {
            "type": "integer",
            "description": "Deprecated: Threshold for Ike gateway.",
            "format": "int64"
          },
          "ipsec_pfs_group": {
            "$ref": "#/components/schemas/fapiprotoIkeDhGroup"
          },
          "ipsec_establish_option": {
            "$ref": "#/components/schemas/establishoption"
          }
        }
      },
      "ProposalConfig": {
        "title": "ProposalConfig",
        "type": "object",
        "properties": {
          "authentication_method": {
            "type": "string",
            "description": "The authentication method of the proposal."
          },
          "dh_group": {
            "type": "string",
            "description": "The DH group of the proposal."
          },
          "encryption_algorithm": {
            "type": "string",
            "description": "The encryption algorithm of the proposal."
          },
          "protocol": {
            "type": "string",
            "description": "Protocol of the proposal."
          },
          "pfs_group": {
            "type": "string",
            "description": "PFS group of the proposal."
          },
          "lifetime_seconds": {
            "type": "string",
            "description": "Lifetime of the proposal."
          }
        }
      },
      "Site": {
        "title": "Site",
        "type": "object",
        "properties": {
          "site_name": {
            "type": "string",
            "description": "Mandatory: Name of the site."
          },
          "description": {
            "type": "string",
            "description": "Optional: Site description."
          },
          "site_type": {
            "type": "string",
            "description": "Optional: Type of site. eg: vSRX."
          },
          "primary_tenant_pop_id": {
            "type": "string",
            "description": "Mandatory: ID to use for the primary tenant POP(service location). Information on present tenant POPs can be seen using GET /api/v2/tenant-pops."
          },
          "secondary_tenant_pop_id": {
            "type": "string",
            "description": "Mandatory: ID of the secondary service location. Information on present tenant POPs can be seen using GET /api/v2/tenant-pops."
          },
          "private_nets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mandatory: Denotes the list of IP address ranges at the site that are protected by Juniper Secure Edge."
          },
          "zip_code": {
            "type": "string",
            "description": "Optional: Zip code of the site."
          },
          "country": {
            "type": "string",
            "description": "Optional: Country of the site."
          },
          "address": {
            "type": "string",
            "description": "Optional: Physical address of the site."
          },
          "cpe_devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CPEDevice"
            },
            "description": "Mandatory: Information on the customer premise devices."
          },
          "max_users": {
            "type": "string",
            "description": "Mandatory: Max number of users who can use the network at the site."
          }
        }
      },
      "SiteDetails": {
        "title": "SiteDetails",
        "type": "object",
        "properties": {
          "site_name": {
            "type": "string",
            "description": "Name of the site."
          },
          "description": {
            "type": "string",
            "description": "Site description."
          },
          "site_type": {
            "type": "string",
            "description": "Type of site. eg: vSRX."
          },
          "primary_tenant_pop_id": {
            "type": "string",
            "description": "ID of the primary service location."
          },
          "secondary_tenant_pop_id": {
            "type": "string",
            "description": "ID of the secondary service location."
          },
          "private_nets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of private networks addresses in the site."
          },
          "zip_code": {
            "type": "string",
            "description": "Zip code of the site."
          },
          "country": {
            "type": "string",
            "description": "Country of the site."
          },
          "address": {
            "type": "string",
            "description": "Physical address of the site."
          },
          "site_uuid": {
            "type": "string",
            "description": "ID of the site in the system."
          },
          "updated_timestamp": {
            "type": "string",
            "description": "Last updated time of the site."
          },
          "jsec_deploy_status": {
            "$ref": "#/components/schemas/fapiprotoStatus"
          },
          "cpe_devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CPEList"
            },
            "description": "CPE devices under the site."
          },
          "max_users": {
            "type": "string",
            "description": "Max number of users in site."
          },
          "deploy": {
            "type": "boolean",
            "description": "This is true if site was deployed on creation."
          },
          "address_grp_name": {
            "type": "string",
            "description": "Name of address group if used for the site."
          },
          "address_grp_uuid": {
            "type": "string",
            "description": "ID of address group if used for the site."
          }
        }
      },
      "TunnelConfig": {
        "title": "TunnelConfig",
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "remote address of jsec device."
          },
          "remote_identity": {
            "type": "string",
            "description": "This is the ID of the vSRX device and can be used for establishing a connection or a separate tunnel."
          },
          "probe_source_ip": {
            "type": "string",
            "description": "This is the source IP address assigned to a tunnel created in the presence of an external probe."
          },
          "local_identity": {
            "type": "string",
            "description": "This is the IKE ID or the domain of the site."
          }
        }
      },
      "TunnelCountResponse": {
        "title": "TunnelCountResponse",
        "type": "object",
        "properties": {
          "not_monitored_count": {
[...]
