{
  "openapi": "3.0.0",
  "info": {
    "title": "Templates",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sdcloud.juniperclouds.net/",
      "variables": {}
    }
  ],
  "security": [
    {
      "OauthKeyAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Templates",
      "description": ""
    }
  ],
  "paths": {
    "/api/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "ListTemplates",
        "description": "Fetches multiple templates from the system with support for pagination, filtering, and ordering capabilities. Example: GET /v1/templates?limit=20&start=0. Returns paginated list of configuration templates with metadata including total count. Throws 400 for invalid filter or pagination parameters. Retrieve a paginated list of templates with optional filtering and sorting.",
        "operationId": "ListTemplates",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Starting index for pagination (zero-based). If not provided, the default is 0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Maximum number of results to return per page. If not provided, the default is 2000.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 50
            }
          },
          {
            "name": "sortby",
            "in": "query",
            "description": "Field to sort the results by.\nExample: name(ascending).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Specific fields to include in the response (for partial responses). \nExample: fields=uuid && fields=name.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filter conditions to apply to the results. \nExample: filters = ((name contains sometext) and (uuid eq dummy-id)).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obj_uuids",
            "in": "query",
            "description": "List of specific object UUIDs to retrieve. \nExample:  obj_uuids=uuid1 && obj_uuids=uuid2.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When set to true, only returns the total count of matching resources without the actual resources.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListTemplatesV1Response"
                    },
                    {
                      "description": "ListTemplatesV1Response represents the response containing a list of configuration templates.\nIt also includes metadata such as the total count of templates matching the query.",
                      "example": {
                        "items": [
                          {
                            "uuid": "string",
                            "name": "string",
                            "description": "string",
                            "format": "string"
                          }
                        ],
                        "count": 10
                      }
                    }
                  ]
                },
                "example": {
                  "items": [
                    {
                      "uuid": "string",
                      "name": "string",
                      "description": "string",
                      "format": "string"
                    }
                  ],
                  "count": 10
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "CreateTemplateWithViewdef",
        "description": "Create a new configuration template with view / variable definitions. Supports both UI form definitions and JSON variable schema definitions.",
        "operationId": "CreateTemplateWithViewdef",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateWithViewdefRequest"
                  },
                  {
                    "example": {
                      "config_template": {
                        "name": "string",
                        "description": "string",
                        "format": "string",
                        "template": "string"
                      },
                      "viewdef": "string",
                      "variablesdef": "string"
                    }
                  }
                ]
              },
              "example": {
                "config_template": {
                  "name": "string",
                  "description": "string",
                  "format": "string",
                  "template": "string"
                },
                "viewdef": "string",
                "variablesdef": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CreateWithViewdefResponse"
                    },
                    {
                      "description": "CreateWithViewdefResponse contains the result of creating a new configuration template.\nProvides the UUID and version of the newly created template.",
                      "example": {
                        "status": "string",
                        "message": "string",
                        "template_id": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "message": "string",
                  "template_id": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/deploy/{deploy_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplateDeployStatus",
        "description": "Retrieve template deployment status and details by deployment ID. Fetches deployment progress and outcome details.",
        "operationId": "GetTemplateDeployStatus",
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "description": "deploy_id is the unique identifier of the template deployment operation.\nThis field is required and must be a valid UUID string returned from DeployTemplate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetDeployStatusResponse"
                    },
                    {
                      "description": "GetDeployStatusResponse contains the deployment status and results for all target devices.\nIncludes the deployed configuration and status for each device.",
                      "example": {
                        "status": "string",
                        "template_id": "string",
                        "template_name": "string",
                        "message": "string",
                        "device_deploy_status": [
                          {
                            "id": "string",
                            "name": "string",
                            "status": "string",
                            "message": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "template_id": "string",
                  "template_name": "string",
                  "message": "string",
                  "device_deploy_status": [
                    {
                      "id": "string",
                      "name": "string",
                      "status": "string",
                      "message": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/deploy/{deploy_id}/devices/{device_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplateDeployResultByDevice",
        "description": "Retrieve device-specific template deployment result by deployment ID and device ID. Fetches the deployment result for a single device from a previous deployment operation. Note: device_id here refers to the UUID of the individual device. MNHA parent ID is not supported. Use one of the UUIDs from the device_deploy_status array in the GetTemplateDeployStatus response.",
        "operationId": "GetTemplateDeployResultByDevice",
        "parameters": [
          {
            "name": "deploy_id",
            "in": "path",
            "description": "deploy_id is the unique identifier of the template deployment operation.\nThis field is required and must be a valid UUID string returned from DeployTemplateV1.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "description": "device_id is the unique identifier of the device to retrieve deployment result for.\nThis field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetDeployResultByDeviceResponse"
                    },
                    {
                      "description": "GetDeployResultByDeviceResponse contains the deployment result for a specific device.\nReturns the device-specific deployment result including deployed configuration and status.",
                      "example": {
                        "template_id": "string",
                        "template_name": "string",
                        "device_id": "string",
                        "device_name": "string",
                        "status": "string",
                        "deployed_config": "string",
                        "message": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "template_id": "string",
                  "template_name": "string",
                  "device_id": "string",
                  "device_name": "string",
                  "status": "string",
                  "deployed_config": "string",
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/preview/{preview_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplatePreviewStatus",
        "description": "Retrieve template preview results by preview ID. Fetches the generated configuration preview from a previous preview operation.",
        "operationId": "GetTemplatePreviewStatus",
        "parameters": [
          {
            "name": "preview_id",
            "in": "path",
            "description": "preview_id is the unique identifier of the template preview operation.\nThis field is required and must be a valid UUID string returned from PreviewTemplateV1.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetPreviewStatusResponse"
                    },
                    {
                      "description": "GetPreviewStatusResponse contains the configuration preview results for all target devices.\nIncludes the generated configuration diff for each device along with status information.",
                      "example": {
                        "status": "string",
                        "template_id": "string",
                        "template_name": "string",
                        "device_preview_status": [
                          {
                            "id": "string",
                            "name": "string",
                            "status": "string",
                            "message": "string"
                          }
                        ],
                        "message": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "template_id": "string",
                  "template_name": "string",
                  "device_preview_status": [
                    {
                      "id": "string",
                      "name": "string",
                      "status": "string",
                      "message": "string"
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/preview/{preview_id}/devices/{device_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplatePreviewResultByDevice",
        "description": "Retrieve device-specific template preview result by preview ID and device ID. Fetches the generated configuration preview for a single device from a previous preview operation. Note: device_id here refers to the UUID of the individual device. MNHA parent ID is not supported. Use one of the UUIDs from the device_preview_status array in the GetTemplatePreviewStatus response.",
        "operationId": "GetTemplatePreviewResultByDevice",
        "parameters": [
          {
            "name": "preview_id",
            "in": "path",
            "description": "preview_id is the unique identifier of the template preview operation.\nThis field is required and must be a valid UUID string returned from PreviewTemplateV1.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "description": "device_id is the unique identifier of the device to retrieve preview result for.\nThis field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetPreviewResultByDeviceResponse"
                    },
                    {
                      "description": "GetPreviewResultByDeviceResponse contains the preview result for a specific device.\nReturns the device-specific preview result including configuration diff and status.",
                      "example": {
                        "template_id": "string",
                        "template_name": "string",
                        "device_id": "string",
                        "device_name": "string",
                        "status": "string",
                        "config_diff": "string",
                        "message": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "template_id": "string",
                  "template_name": "string",
                  "device_id": "string",
                  "device_name": "string",
                  "status": "string",
                  "config_diff": "string",
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/validate/{validate_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplateValidateStatus",
        "description": "Retrieve template validation results by validation ID. Fetches validation status and any errors or warnings found.",
        "operationId": "GetTemplateValidateStatus",
        "parameters": [
          {
            "name": "validate_id",
            "in": "path",
            "description": "validate_id is the unique identifier of the template validation operation.\nThis field is required and must be a valid UUID string returned from ValidateTemplateV1.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetValidateStatusResponse"
                    },
                    {
                      "description": "GetValidateStatusResponse contains the validation results for all target devices.\nIncludes validation status and any errors found for each device.",
                      "example": {
                        "status": "string",
                        "template_id": "string",
                        "template_name": "string",
                        "device_validate_status": [
                          {
                            "id": "string",
                            "name": "string",
                            "status": "string",
                            "message": "string"
                          }
                        ],
                        "message": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "template_id": "string",
                  "template_name": "string",
                  "device_validate_status": [
                    {
                      "id": "string",
                      "name": "string",
                      "status": "string",
                      "message": "string"
                    }
                  ],
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/validate/{validate_id}/devices/{device_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplateValidateResultByDevice",
        "description": "Retrieve device-specific template validation result by validation ID and device ID. Fetches the validation result for a single device from a previous validation operation. Note: device_id here refers to the UUID of the individual device. MNHA parent ID is not supported. Use one of the UUIDs from the device_validate_status array in the GetTemplateValidateStatus response.",
        "operationId": "GetTemplateValidateResultByDevice",
        "parameters": [
          {
            "name": "validate_id",
            "in": "path",
            "description": "validate_id is the unique identifier of the template validation operation.\nThis field is required and must be a valid UUID string returned from ValidateTemplateV1.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "description": "device_id is the unique identifier of the device to retrieve validation result for.\nThis field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetValidateResultByDeviceResponse"
                    },
                    {
                      "description": "GetValidateResultByDeviceResponse contains the validation result for a specific device.\nReturns the device-specific validation result including validated configuration and status.",
                      "example": {
                        "template_id": "string",
                        "template_name": "string",
                        "device_id": "string",
                        "device_name": "string",
                        "status": "string",
                        "validated_config": "string",
                        "message": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "template_id": "string",
                  "template_name": "string",
                  "device_id": "string",
                  "device_name": "string",
                  "status": "string",
                  "validated_config": "string",
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/workflow_definitions": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "UploadWorkflowDefinition",
        "description": "Upload a YAML file containing workflow definition for creating or updating a template. Note: This endpoint expects multipart/form-data with the YAML file in the 'definition_file' form field.",
        "operationId": "UploadWorkflowDefinition",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "definition_file"
                ],
                "type": "object",
                "properties": {
                  "definition_file": {
                    "type": "string",
                    "description": "YAML file containing workflow definition",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WorkflowDefinitionUploadResponse"
                    },
                    {
                      "description": "WorkflowDefinitionUploadResponse represents the response for workflow definition upload.",
                      "example": {
                        "status": "string",
                        "resource_type": "string",
                        "resource_id": "string",
                        "message": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "resource_type": "string",
                  "resource_id": "string",
                  "message": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplate",
        "description": "Retrieve a single template by its UUID.",
        "operationId": "GetTemplate",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "The unique identifier of the configuration template to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetTemplateV1Response"
                    },
                    {
                      "description": "GetTemplateV1Response represents the response containing a single configuration template's information.\nIt includes the essential details of the requested configuration template.",
                      "example": {
                        "uuid": "string",
                        "name": "string",
                        "description": "string",
                        "format": "string",
                        "template": "string",
                        "variablesdef": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "uuid": "string",
                  "name": "string",
                  "description": "string",
                  "format": "string",
                  "template": "string",
                  "variablesdef": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Templates"
        ],
        "summary": "EditTemplateWithViewdef",
        "description": "Update an existing configuration template and its variable definitions. This operation performs a full update of the template resource - all required fields must be provided as partial updates are not supported.",
        "operationId": "EditTemplateWithViewdef",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template to associate parameters with. This field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EditWithViewdefRequest"
                  },
                  {
                    "example": {
                      "template_id": "string",
                      "config_template": {
                        "name": "string",
                        "description": "string",
                        "format": "string",
                        "template": "string"
                      },
                      "viewdef": "string",
                      "variablesdef": "string"
                    }
                  }
                ]
              },
              "example": {
                "template_id": "string",
                "config_template": {
                  "name": "string",
                  "description": "string",
                  "format": "string",
                  "template": "string"
                },
                "viewdef": "string",
                "variablesdef": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/EditWithViewdefResponse"
                    },
                    {
                      "description": "EditWithViewdefResponse contains the result of updating an existing configuration template.\nProvides the UUID and updated version number of the modified template.",
                      "example": {
                        "status": "string",
                        "message": "string",
                        "template_id": "string",
                        "template_name": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "message": "string",
                  "template_id": "string",
                  "template_name": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "DeleteTemplate",
        "description": "Delete a configuration template permanently. Removes template and associated variable definitions from the system.",
        "operationId": "DeleteTemplate",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template to delete.\nThis field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DeleteTemplateResponse"
                    },
                    {
                      "description": "DeleteTemplateResponse contains the result of deleted configuration template.\nProvides individual results for each template deletion attempt.",
                      "example": {
                        "status": "string",
                        "message": "string",
                        "template_id": "string",
                        "template_name": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "message": "string",
                  "template_id": "string",
                  "template_name": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}/csv/download": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "DownloadCSVTemplate",
        "description": "Generate and download a CSV template file containing device parameter mappings for a configuration template. The CSV includes columns for device identifiers and all template variables. Optionally filter by specific device UUIDs. Returns a pre-signed URL for downloading the generated CSV file.",
        "operationId": "DownloadCSVTemplate",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "UUID of the configuration template for which to download the CSV template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CSVTemplateDownloadRequestV1"
                  },
                  {
                    "example": {
                      "template_id": "string",
                      "device_uuids": [
                        "string"
                      ]
                    }
                  }
                ]
              },
              "example": {
                "template_id": "string",
                "device_uuids": [
                  "string"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CSVTemplateDownloadResponse"
                    },
                    {
                      "description": "CSVTemplateDownloadResponse represents the response for CSV template download.",
                      "example": {
                        "status": "string",
                        "signed_url": "string",
                        "error_message": "string",
                        "file_name": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "signed_url": "string",
                  "error_message": "string",
                  "file_name": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}/csv/upload": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "UploadCSVTemplate",
        "description": "Upload a CSV file containing device parameter mappings for template deployment. Note: This endpoint expects multipart/form-data with the CSV file in the 'device_params_file' form field",
        "operationId": "UploadCSVTemplate",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "The unique identifier of the configuration template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {},
              "schema": {
                "required": [
                  "device_params_file"
                ],
                "type": "object",
                "properties": {
                  "device_params_file": {
                    "type": "string",
                    "description": "CSV file containing device parameter mappings",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "A successful response containing the device information",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiV1TemplatesCsvUploadResponse"
                    },
                    {
                      "example": {
                        "status": "string",
                        "message": "string",
                        "associations": [
                          {
                            "template_id": "string",
                            "device_uuid": "string",
                            "status": "string",
                            "message": "string"
                          }
                        ],
                        "template_name": "string",
                        "template_id": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "message": "string",
                  "associations": [
                    {
                      "template_id": "string",
                      "device_uuid": "string",
                      "status": "string",
                      "message": "string"
                    }
                  ],
                  "template_name": "string",
                  "template_id": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}/deploy": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "DeployTemplate",
        "description": "Deploy a configuration template to target devices. Applies template configuration using specified parameters and device mappings.",
        "operationId": "DeployTemplate",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template to associate parameters with. This field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployTemplateV1Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DeployTemplateResponse"
                    },
                    {
                      "description": "DeployTemplateResponse contains the result of initiating a template deployment.\nProvides job identifiers for tracking the deployment progress and status.",
                      "example": {
                        "deploy_id": "string",
                        "status": "string",
                        "message": "string",
                        "scheduled_deploy_id": "string"
                      }
                    }
                  ]
                },
                "example": {
                  "deploy_id": "string",
                  "status": "string",
                  "message": "string",
                  "scheduled_deploy_id": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}/mappings/batch": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "BulkSaveTemplateMappings",
        "description": "Save parameter mappings for a configuration template. Associates template variables with device-specific values for deployment. Note: If any changes done to the device groups. User has to UPDATE Template Mappings again",
        "operationId": "BulkSaveTemplateMappings",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template to associate parameters with. This field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveTemplateMappingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SaveTemplateMappingsResponse"
                    },
                    {
                      "description": "SaveTemplateMappingsResponse contains the result of saving template-device parameter mappings.\nThis response indicates whether the mappings were successfully saved and provides details for each device.",
                      "example": {
                        "status": "string",
                        "message": "string",
                        "mappings": [
                          {
                            "template_id": "string",
                            "device_uuid": "string",
                            "status": "string",
                            "message": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "message": "string",
                  "mappings": [
                    {
                      "template_id": "string",
                      "device_uuid": "string",
                      "status": "string",
                      "message": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}/mappings/devices": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "ListTemplateMappings",
        "description": "List all device parameter mappings for a configuration template. Retrieves all device and device-group mappings.",
        "operationId": "ListTemplateMappings",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template to list device mappings for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Starting index for pagination (zero-based). If not provided, the default is 0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Maximum number of results to return per page. If not provided, the default is 2000.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 50
            }
          },
          {
            "name": "sortby",
            "in": "query",
            "description": "Field to sort the results by.\nExample: name(ascending).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filter conditions to apply to the results. Note: filters currently work only on the field\nExample: filters = (name contains vsrx).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListTemplateMappingsResponse"
                    },
                    {
                      "description": "ListTemplateMappingsResponse contains the list of all device mappings for a template.\nReturns all device and device-group mappings with their parameter values.",
                      "example": {
                        "items": [
                          {
                            "id": "string",
                            "name": "string",
                            "payload": {}
                          }
                        ],
                        "count": 10
                      }
                    }
                  ]
                },
                "example": {
                  "items": [
                    {
                      "id": "string",
                      "name": "string",
                      "payload": {}
                    }
                  ],
                  "count": 10
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/templates/{template_id}/mappings/devices/{device_id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "GetTemplateMapping",
        "description": "Retrieve a single device parameter mapping for a configuration template. Fetches parameter values for a specific device or device-group.",
        "operationId": "GetTemplateMapping",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "description": "device_id is the unique identifier of the device or device-group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetTemplateMappingResponse"
                    },
                    {
                      "description": "GetTemplateMappingResponse contains a single device mapping with its parameter values.",
                      "example": {
                        "mappings": [
                          {
                            "id": "string",
                            "name": "string",
                            "payload": {}
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "mappings": [
                    {
                      "id": "string",
                      "name": "string",
                      "payload": {}
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too many requests have been made in a given amount of time.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "500": {
            "description": "Internal processing error. An unexpected error occurred on the server.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Templates"
        ],
        "summary": "UpdateTemplateMapping",
        "description": "Update parameter values for a specific device mapping. Modifies the parameter payload for a single device",
        "operationId": "UpdateTemplateMapping",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id is the unique identifier of the template to associate parameters with. This field is required and must be a valid UUID string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "description": "device_id is the unique identifier of the device.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateTemplateMappingRequest"
                  },
                  {
                    "example": {
                      "template_id": "string",
                      "device_id": "string",
                      "payload": {}
                    }
                  }
                ]
              },
              "example": {
                "template_id": "string",
                "device_id": "string",
                "payload": {}
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/UpdateTemplateMappingResponse"
                    },
                    {
                      "description": "UpdateTemplateMappingResponse contains the result of updating a device mapping.",
                      "example": {
                        "status": "string",
                        "message": "string",
                        "mappings": [
                          {
                            "template_id": "string",
                            "device_uuid": "string",
                            "status": "string",
                            "message": "string"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "status": "string",
                  "message": "string",
                  "mappings": [
                    {
                      "template_id": "string",
                      "device_uuid": "string",
                      "status": "string",
                      "message": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. The request could not be understood or was missing required parameters.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required. The request requires valid user authentication credentials.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. The requested resource could not be found.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runtimeError"
                }
              }
            }
          },
          "429": {
[...]
