{
  "openapi": "3.1.0",
  "info": {
    "title": "802dot11k",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "802dot11k"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/dot11k-profiles": {
      "get": {
        "description": "The 802.11k protocol provides mechanisms for APs and clients to dynamically measure the available radio resources.\nIn an 802.11k enabled network, APs and clients can send neighbor reports, beacon reports, and link measurement reports to each other.\nThis allows the APs and clients to take appropriate connection actions.\nThis includes configuring channel-report, reference of Beacon Report Request profile and RRM IE Profile, etc.",
        "operationId": "readDot11kProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba802dot11k_Dot11kProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing 802.11k related settings.",
        "tags": [
          "802dot11k"
        ],
        "x-cliParam": {
          "commandName": "readDot11kProfilesCmd",
          "commandUse": "dot11k-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/dot11k-profiles/",
          "summary": "Read operation for dot11k-profiles"
        }
      }
    },
    "/network-config/v1alpha1/dot11k-profiles/{name}": {
      "get": {
        "description": "Configures list of 802.11k radio profile. The 802.11k profile must be attached to the WLAN SSID.",
        "operationId": "readDot11kProfilesProfileByID",
        "parameters": [
          {
            "description": "802.11k profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aruba802dot11k_Dot11kProfilesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing 802.11k profile.",
        "tags": [
          "802dot11k"
        ],
        "x-cliParam": {
          "commandName": "readDot11kProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readDot11kProfilesCmd",
          "pathToPrint": "/dot11k-profiles/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Configures list of 802.11k radio profile. The 802.11k profile must be attached to the WLAN SSID.",
        "operationId": "replaceDot11kProfilesProfileByID",
        "parameters": [
          {
            "description": "802.11k profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Aruba802dot11k_Dot11kProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "802dot11k"
        ],
        "x-cliParam": {
          "commandName": "replaceDot11kProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceDot11kProfilesCmd",
          "pathToPrint": "/dot11k-profiles/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Configures list of 802.11k radio profile. The 802.11k profile must be attached to the WLAN SSID.",
        "operationId": "createDot11kProfilesProfileByID",
        "parameters": [
          {
            "description": "802.11k profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Aruba802dot11k_Dot11kProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create 802.11k profile.",
        "tags": [
          "802dot11k"
        ],
        "x-cliParam": {
          "commandName": "createDot11kProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createDot11kProfilesCmd",
          "pathToPrint": "/dot11k-profiles/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Configures list of 802.11k radio profile. The 802.11k profile must be attached to the WLAN SSID.",
        "operationId": "deleteDot11kProfilesProfileByID",
        "parameters": [
          {
            "description": "802.11k profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete 802.11k profile.",
        "tags": [
          "802dot11k"
        ],
        "x-cliParam": {
          "commandName": "deleteDot11kProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteDot11kProfilesCmd",
          "pathToPrint": "/dot11k-profiles/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Configures list of 802.11k radio profile. The 802.11k profile must be attached to the WLAN SSID.",
        "operationId": "updateDot11kProfilesProfileByID",
        "parameters": [
          {
            "description": "802.11k profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Aruba802dot11k_Dot11kProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "802dot11k"
        ],
        "x-cliParam": {
          "commandName": "updateDot11kProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateDot11kProfilesCmd",
          "pathToPrint": "/dot11k-profiles/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Aruba802dot11k_Dot11kProfilesSchemaGET": {
        "description": "The 802.11k protocol provides mechanisms for APs and clients to dynamically measure the available radio resources.\nIn an 802.11k enabled network, APs and clients can send neighbor reports, beacon reports, and link measurement reports to each other.\nThis allows the APs and clients to take appropriate connection actions.\nThis includes configuring channel-report, reference of Beacon Report Request profile and RRM IE Profile, etc.",
        "properties": {
          "profile": {
            "description": "Configures list of 802.11k radio profile. The 802.11k profile must be attached to the WLAN SSID.",
            "items": {
              "properties": {
                "bcn-rpt-req-profile-name": {
                  "description": "Beacon Report Request Settings for the selected profile.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-dot11k-bcn-rpt-req:bcn-rpt-req-profiles/ac-dot11k-bcn-rpt-req:profile/ac-dot11k-bcn-rpt-req:name",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "beacon-req-time": {
                  "default": "60",
                  "description": "Set time duration between consecutive Beacon Requests. Range: 10-200 sec, Default: 60 sec, Turn-Off: 0",
                  "format": "int32",
                  "maximum": 200,
                  "minimum": 10,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-report-11a": {
                  "default": "CHAN_36",
                  "description": "Set channel for AP Channel Reports in 5GHz band. Range: [34-173], Default: 36",
                  "enum": [
                    "CHAN_36",
                    "CHAN_40",
                    "CHAN_44",
                    "CHAN_48",
                    "CHAN_52",
                    "CHAN_56",
                    "CHAN_60",
                    "CHAN_64",
                    "CHAN_100",
                    "CHAN_104",
                    "CHAN_108",
                    "CHAN_112",
                    "CHAN_116",
                    "CHAN_120",
                    "CHAN_124",
                    "CHAN_128",
                    "CHAN_132",
                    "CHAN_136",
                    "CHAN_140",
                    "CHAN_144",
                    "CHAN_149",
                    "CHAN_153",
                    "CHAN_157",
                    "CHAN_161",
                    "CHAN_165",
                    "CHAN_169",
                    "CHAN_173",
                    "CHAN_177"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CHAN_100": "channel 100",
                    "CHAN_104": "channel 104",
                    "CHAN_108": "channel 108",
                    "CHAN_112": "channel 112",
                    "CHAN_116": "channel 116",
                    "CHAN_120": "channel 120",
                    "CHAN_124": "channel 124",
                    "CHAN_128": "channel 128",
                    "CHAN_132": "channel 132",
                    "CHAN_136": "channel 136",
                    "CHAN_140": "channel 140",
                    "CHAN_144": "channel 144",
                    "CHAN_149": "channel 149",
                    "CHAN_153": "channel 153",
                    "CHAN_157": "channel 157",
                    "CHAN_161": "channel 161",
                    "CHAN_165": "channel 165",
                    "CHAN_169": "channel 169",
                    "CHAN_173": "channel 173",
                    "CHAN_177": "channel 177",
                    "CHAN_36": "channel 36",
                    "CHAN_40": "channel 40",
                    "CHAN_44": "channel 44",
                    "CHAN_48": "channel 48",
                    "CHAN_52": "channel 52",
                    "CHAN_56": "channel 56",
                    "CHAN_60": "channel 60",
                    "CHAN_64": "channel 64"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "5GHz radio channel list"
                },
                "channel-report-11bg": {
                  "default": "CHAN_1",
                  "description": "Set channel for AP Channel Reports in 2.4GHz band. Range: [1-14], Default: 1",
                  "enum": [
                    "CHAN_1",
                    "CHAN_2",
                    "CHAN_3",
                    "CHAN_4",
                    "CHAN_5",
                    "CHAN_6",
                    "CHAN_7",
                    "CHAN_8",
                    "CHAN_9",
                    "CHAN_10",
                    "CHAN_11",
                    "CHAN_12",
                    "CHAN_13",
                    "CHAN_14"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CHAN_1": "channel 1",
                    "CHAN_10": "channel 10",
                    "CHAN_11": "channel 11",
                    "CHAN_12": "channel 12",
                    "CHAN_13": "channel 13",
                    "CHAN_14": "channel 14",
                    "CHAN_2": "channel 2",
                    "CHAN_3": "channel 3",
                    "CHAN_4": "channel 4",
                    "CHAN_5": "channel 5",
                    "CHAN_6": "channel 6",
                    "CHAN_7": "channel 7",
                    "CHAN_8": "channel 8",
                    "CHAN_9": "channel 9"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "2.4GHz radio channel list"
                },
                "channel-report-6ghz": {
                  "default": "CHAN_1_6GHZ",
                  "description": "Set channel for AP Channel Reports in 6GHz band. Range: [1-233], Default: 1",
                  "enum": [
                    "CHAN_1_6GHZ",
                    "CHAN_5_6GHZ",
                    "CHAN_9_6GHZ",
                    "CHAN_13_6GHZ",
                    "CHAN_17_6GHZ",
                    "CHAN_21_6GHZ",
                    "CHAN_25_6GHZ",
                    "CHAN_29_6GHZ",
                    "CHAN_33_6GHZ",
                    "CHAN_37_6GHZ",
                    "CHAN_41_6GHZ",
                    "CHAN_45_6GHZ",
                    "CHAN_49_6GHZ",
                    "CHAN_53_6GHZ",
                    "CHAN_57_6GHZ",
                    "CHAN_61_6GHZ",
                    "CHAN_65_6GHZ",
                    "CHAN_69_6GHZ",
                    "CHAN_73_6GHZ",
                    "CHAN_77_6GHZ",
                    "CHAN_81_6GHZ",
                    "CHAN_85_6GHZ",
                    "CHAN_89_6GHZ",
                    "CHAN_93_6GHZ",
                    "CHAN_97_6GHZ",
                    "CHAN_101_6GHZ",
                    "CHAN_105_6GHZ",
                    "CHAN_109_6GHZ",
                    "CHAN_113_6GHZ",
                    "CHAN_117_6GHZ",
                    "CHAN_121_6GHZ",
                    "CHAN_125_6GHZ",
                    "CHAN_129_6GHZ",
                    "CHAN_133_6GHZ",
                    "CHAN_137_6GHZ",
                    "CHAN_141_6GHZ",
                    "CHAN_145_6GHZ",
                    "CHAN_149_6GHZ",
                    "CHAN_153_6GHZ",
                    "CHAN_157_6GHZ",
                    "CHAN_161_6GHZ",
                    "CHAN_165_6GHZ",
                    "CHAN_169_6GHZ",
                    "CHAN_173_6GHZ",
                    "CHAN_177_6GHZ",
                    "CHAN_181_6GHZ",
                    "CHAN_185_6GHZ",
                    "CHAN_189_6GHZ",
                    "CHAN_193_6GHZ",
                    "CHAN_197_6GHZ",
                    "CHAN_201_6GHZ",
                    "CHAN_205_6GHZ",
                    "CHAN_209_6GHZ",
                    "CHAN_213_6GHZ",
                    "CHAN_217_6GHZ",
                    "CHAN_221_6GHZ",
                    "CHAN_225_6GHZ",
                    "CHAN_229_6GHZ",
                    "CHAN_233_6GHZ"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CHAN_101_6GHZ": "6GHz channel 101",
                    "CHAN_105_6GHZ": "6GHz channel 105",
                    "CHAN_109_6GHZ": "6GHz channel 109",
                    "CHAN_113_6GHZ": "6GHz channel 113",
                    "CHAN_117_6GHZ": "6GHz channel 117",
                    "CHAN_121_6GHZ": "6GHz channel 121",
                    "CHAN_125_6GHZ": "6GHz channel 125",
                    "CHAN_129_6GHZ": "6GHz channel 129",
                    "CHAN_133_6GHZ": "6GHz channel 133",
                    "CHAN_137_6GHZ": "6GHz channel 137",
                    "CHAN_13_6GHZ": "6GHz channel 13",
                    "CHAN_141_6GHZ": "6GHz channel 141",
                    "CHAN_145_6GHZ": "6GHz channel 145",
                    "CHAN_149_6GHZ": "6GHz channel 149",
                    "CHAN_153_6GHZ": "6GHz channel 153",
                    "CHAN_157_6GHZ": "6GHz channel 157",
                    "CHAN_161_6GHZ": "6GHz channel 161",
                    "CHAN_165_6GHZ": "6GHz channel 165",
                    "CHAN_169_6GHZ": "6GHz channel 169",
                    "CHAN_173_6GHZ": "6GHz channel 173",
                    "CHAN_177_6GHZ": "6GHz channel 177",
                    "CHAN_17_6GHZ": "6GHz channel 17",
                    "CHAN_181_6GHZ": "6GHz channel 181",
                    "CHAN_185_6GHZ": "6GHz channel 185",
                    "CHAN_189_6GHZ": "6GHz channel 189",
                    "CHAN_193_6GHZ": "6GHz channel 193",
                    "CHAN_197_6GHZ": "6GHz channel 197",
                    "CHAN_1_6GHZ": "6GHz channel 1",
                    "CHAN_201_6GHZ": "6GHz channel 201",
                    "CHAN_205_6GHZ": "6GHz channel 205",
                    "CHAN_209_6GHZ": "6GHz channel 209",
                    "CHAN_213_6GHZ": "6GHz channel 213",
                    "CHAN_217_6GHZ": "6GHz channel 217",
                    "CHAN_21_6GHZ": "6GHz channel 21",
                    "CHAN_221_6GHZ": "6GHz channel 221",
                    "CHAN_225_6GHZ": "6GHz channel 225",
                    "CHAN_229_6GHZ": "6GHz channel 229",
                    "CHAN_233_6GHZ": "6GHz channel 233",
                    "CHAN_25_6GHZ": "6GHz channel 25",
                    "CHAN_29_6GHZ": "6GHz channel 29",
                    "CHAN_33_6GHZ": "6GHz channel 33",
                    "CHAN_37_6GHZ": "6GHz channel 37",
                    "CHAN_41_6GHZ": "6GHz channel 41",
                    "CHAN_45_6GHZ": "6GHz channel 45",
                    "CHAN_49_6GHZ": "6GHz channel 49",
                    "CHAN_53_6GHZ": "6GHz channel 53",
                    "CHAN_57_6GHZ": "6GHz channel 57",
                    "CHAN_5_6GHZ": "6GHz channel 5",
                    "CHAN_61_6GHZ": "6GHz channel 61",
                    "CHAN_65_6GHZ": "6GHz channel 65",
                    "CHAN_69_6GHZ": "6GHz channel 69",
                    "CHAN_73_6GHZ": "6GHz channel 73",
                    "CHAN_77_6GHZ": "6GHz channel 77",
                    "CHAN_81_6GHZ": "6GHz channel 81",
                    "CHAN_85_6GHZ": "6GHz channel 85",
                    "CHAN_89_6GHZ": "6GHz channel 89",
                    "CHAN_93_6GHZ": "6GHz channel 93",
                    "CHAN_97_6GHZ": "6GHz channel 97",
                    "CHAN_9_6GHZ": "6GHz channel 9"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "6GHz radio channel list"
                },
                "enable": {
                  "default": "false",
                  "description": "Enables the 802.11K feature. This feature is disabled by default.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "name": {
                  "description": "802.11k profile name",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "nb-resp-wide-band-ie": {
                  "default": "true",
                  "description": "Include the wide channel bandwidth information element in the neighbor report responses, when the dot11k setting is enabled on the managed device.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "rrm-ie-profile-name": {
                  "description": "RRM IE Settings Profile.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-dot11k-rrm-ie:rrm-ie-profiles/ac-dot11k-rrm-ie:profile/ac-dot11k-rrm-ie:name",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Aruba802dot11k_Dot11kProfilesprofileSchema": {
        "properties": {
          "bcn-rpt-req-profile-name": {
            "description": "Beacon Report Request Settings for the selected profile.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dot11k-bcn-rpt-req:bcn-rpt-req-profiles/ac-dot11k-bcn-rpt-req:profile/ac-dot11k-bcn-rpt-req:name",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "beacon-req-time": {
            "default": "60",
            "description": "Set time duration between consecutive Beacon Requests. Range: 10-200 sec, Default: 60 sec, Turn-Off: 0",
            "format": "int32",
            "maximum": 200,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "channel-report-11a": {
            "default": "CHAN_36",
            "description": "Set channel for AP Channel Reports in 5GHz band. Range: [34-173], Default: 36",
            "enum": [
              "CHAN_36",
              "CHAN_40",
              "CHAN_44",
              "CHAN_48",
              "CHAN_52",
              "CHAN_56",
              "CHAN_60",
              "CHAN_64",
              "CHAN_100",
              "CHAN_104",
              "CHAN_108",
              "CHAN_112",
              "CHAN_116",
              "CHAN_120",
              "CHAN_124",
              "CHAN_128",
              "CHAN_132",
              "CHAN_136",
              "CHAN_140",
              "CHAN_144",
              "CHAN_149",
              "CHAN_153",
              "CHAN_157",
              "CHAN_161",
              "CHAN_165",
              "CHAN_169",
              "CHAN_173",
              "CHAN_177"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAN_100": "channel 100",
              "CHAN_104": "channel 104",
              "CHAN_108": "channel 108",
              "CHAN_112": "channel 112",
              "CHAN_116": "channel 116",
              "CHAN_120": "channel 120",
              "CHAN_124": "channel 124",
              "CHAN_128": "channel 128",
              "CHAN_132": "channel 132",
              "CHAN_136": "channel 136",
              "CHAN_140": "channel 140",
              "CHAN_144": "channel 144",
              "CHAN_149": "channel 149",
              "CHAN_153": "channel 153",
              "CHAN_157": "channel 157",
              "CHAN_161": "channel 161",
              "CHAN_165": "channel 165",
              "CHAN_169": "channel 169",
              "CHAN_173": "channel 173",
              "CHAN_177": "channel 177",
              "CHAN_36": "channel 36",
              "CHAN_40": "channel 40",
              "CHAN_44": "channel 44",
              "CHAN_48": "channel 48",
              "CHAN_52": "channel 52",
              "CHAN_56": "channel 56",
              "CHAN_60": "channel 60",
              "CHAN_64": "channel 64"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "5GHz radio channel list"
          },
          "channel-report-11bg": {
            "default": "CHAN_1",
            "description": "Set channel for AP Channel Reports in 2.4GHz band. Range: [1-14], Default: 1",
            "enum": [
              "CHAN_1",
              "CHAN_2",
              "CHAN_3",
              "CHAN_4",
              "CHAN_5",
              "CHAN_6",
              "CHAN_7",
              "CHAN_8",
              "CHAN_9",
              "CHAN_10",
              "CHAN_11",
              "CHAN_12",
              "CHAN_13",
              "CHAN_14"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAN_1": "channel 1",
              "CHAN_10": "channel 10",
              "CHAN_11": "channel 11",
              "CHAN_12": "channel 12",
              "CHAN_13": "channel 13",
              "CHAN_14": "channel 14",
              "CHAN_2": "channel 2",
              "CHAN_3": "channel 3",
              "CHAN_4": "channel 4",
              "CHAN_5": "channel 5",
              "CHAN_6": "channel 6",
              "CHAN_7": "channel 7",
              "CHAN_8": "channel 8",
              "CHAN_9": "channel 9"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "2.4GHz radio channel list"
          },
          "channel-report-6ghz": {
            "default": "CHAN_1_6GHZ",
            "description": "Set channel for AP Channel Reports in 6GHz band. Range: [1-233], Default: 1",
            "enum": [
              "CHAN_1_6GHZ",
              "CHAN_5_6GHZ",
              "CHAN_9_6GHZ",
              "CHAN_13_6GHZ",
              "CHAN_17_6GHZ",
              "CHAN_21_6GHZ",
              "CHAN_25_6GHZ",
              "CHAN_29_6GHZ",
              "CHAN_33_6GHZ",
              "CHAN_37_6GHZ",
              "CHAN_41_6GHZ",
              "CHAN_45_6GHZ",
              "CHAN_49_6GHZ",
              "CHAN_53_6GHZ",
              "CHAN_57_6GHZ",
              "CHAN_61_6GHZ",
              "CHAN_65_6GHZ",
              "CHAN_69_6GHZ",
              "CHAN_73_6GHZ",
              "CHAN_77_6GHZ",
              "CHAN_81_6GHZ",
              "CHAN_85_6GHZ",
              "CHAN_89_6GHZ",
              "CHAN_93_6GHZ",
              "CHAN_97_6GHZ",
              "CHAN_101_6GHZ",
              "CHAN_105_6GHZ",
              "CHAN_109_6GHZ",
              "CHAN_113_6GHZ",
              "CHAN_117_6GHZ",
              "CHAN_121_6GHZ",
              "CHAN_125_6GHZ",
              "CHAN_129_6GHZ",
              "CHAN_133_6GHZ",
              "CHAN_137_6GHZ",
              "CHAN_141_6GHZ",
              "CHAN_145_6GHZ",
              "CHAN_149_6GHZ",
              "CHAN_153_6GHZ",
              "CHAN_157_6GHZ",
              "CHAN_161_6GHZ",
              "CHAN_165_6GHZ",
              "CHAN_169_6GHZ",
              "CHAN_173_6GHZ",
              "CHAN_177_6GHZ",
              "CHAN_181_6GHZ",
              "CHAN_185_6GHZ",
              "CHAN_189_6GHZ",
              "CHAN_193_6GHZ",
              "CHAN_197_6GHZ",
              "CHAN_201_6GHZ",
              "CHAN_205_6GHZ",
              "CHAN_209_6GHZ",
              "CHAN_213_6GHZ",
              "CHAN_217_6GHZ",
              "CHAN_221_6GHZ",
              "CHAN_225_6GHZ",
              "CHAN_229_6GHZ",
              "CHAN_233_6GHZ"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAN_101_6GHZ": "6GHz channel 101",
              "CHAN_105_6GHZ": "6GHz channel 105",
              "CHAN_109_6GHZ": "6GHz channel 109",
              "CHAN_113_6GHZ": "6GHz channel 113",
              "CHAN_117_6GHZ": "6GHz channel 117",
              "CHAN_121_6GHZ": "6GHz channel 121",
              "CHAN_125_6GHZ": "6GHz channel 125",
              "CHAN_129_6GHZ": "6GHz channel 129",
              "CHAN_133_6GHZ": "6GHz channel 133",
              "CHAN_137_6GHZ": "6GHz channel 137",
              "CHAN_13_6GHZ": "6GHz channel 13",
              "CHAN_141_6GHZ": "6GHz channel 141",
              "CHAN_145_6GHZ": "6GHz channel 145",
              "CHAN_149_6GHZ": "6GHz channel 149",
              "CHAN_153_6GHZ": "6GHz channel 153",
              "CHAN_157_6GHZ": "6GHz channel 157",
              "CHAN_161_6GHZ": "6GHz channel 161",
              "CHAN_165_6GHZ": "6GHz channel 165",
              "CHAN_169_6GHZ": "6GHz channel 169",
              "CHAN_173_6GHZ": "6GHz channel 173",
              "CHAN_177_6GHZ": "6GHz channel 177",
              "CHAN_17_6GHZ": "6GHz channel 17",
              "CHAN_181_6GHZ": "6GHz channel 181",
              "CHAN_185_6GHZ": "6GHz channel 185",
              "CHAN_189_6GHZ": "6GHz channel 189",
              "CHAN_193_6GHZ": "6GHz channel 193",
              "CHAN_197_6GHZ": "6GHz channel 197",
              "CHAN_1_6GHZ": "6GHz channel 1",
              "CHAN_201_6GHZ": "6GHz channel 201",
              "CHAN_205_6GHZ": "6GHz channel 205",
              "CHAN_209_6GHZ": "6GHz channel 209",
              "CHAN_213_6GHZ": "6GHz channel 213",
              "CHAN_217_6GHZ": "6GHz channel 217",
              "CHAN_21_6GHZ": "6GHz channel 21",
              "CHAN_221_6GHZ": "6GHz channel 221",
              "CHAN_225_6GHZ": "6GHz channel 225",
              "CHAN_229_6GHZ": "6GHz channel 229",
              "CHAN_233_6GHZ": "6GHz channel 233",
              "CHAN_25_6GHZ": "6GHz channel 25",
              "CHAN_29_6GHZ": "6GHz channel 29",
              "CHAN_33_6GHZ": "6GHz channel 33",
              "CHAN_37_6GHZ": "6GHz channel 37",
              "CHAN_41_6GHZ": "6GHz channel 41",
              "CHAN_45_6GHZ": "6GHz channel 45",
              "CHAN_49_6GHZ": "6GHz channel 49",
              "CHAN_53_6GHZ": "6GHz channel 53",
              "CHAN_57_6GHZ": "6GHz channel 57",
              "CHAN_5_6GHZ": "6GHz channel 5",
              "CHAN_61_6GHZ": "6GHz channel 61",
              "CHAN_65_6GHZ": "6GHz channel 65",
              "CHAN_69_6GHZ": "6GHz channel 69",
              "CHAN_73_6GHZ": "6GHz channel 73",
              "CHAN_77_6GHZ": "6GHz channel 77",
              "CHAN_81_6GHZ": "6GHz channel 81",
              "CHAN_85_6GHZ": "6GHz channel 85",
              "CHAN_89_6GHZ": "6GHz channel 89",
              "CHAN_93_6GHZ": "6GHz channel 93",
              "CHAN_97_6GHZ": "6GHz channel 97",
              "CHAN_9_6GHZ": "6GHz channel 9"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "6GHz radio channel list"
          },
          "enable": {
            "default": "false",
            "description": "Enables the 802.11K feature. This feature is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "name": {
            "description": "802.11k profile name",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "nb-resp-wide-band-ie": {
            "default": "true",
            "description": "Include the wide channel bandwidth information element in the neighbor report responses, when the dot11k setting is enabled on the managed device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "rrm-ie-profile-name": {
            "description": "RRM IE Settings Profile.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dot11k-rrm-ie:rrm-ie-profiles/ac-dot11k-rrm-ie:profile/ac-dot11k-rrm-ie:name",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Aruba802dot11k_Dot11kProfilesprofileSchemaGet": {
        "properties": {
          "bcn-rpt-req-profile-name": {
            "description": "Beacon Report Request Settings for the selected profile.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dot11k-bcn-rpt-req:bcn-rpt-req-profiles/ac-dot11k-bcn-rpt-req:profile/ac-dot11k-bcn-rpt-req:name",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "beacon-req-time": {
            "default": "60",
            "description": "Set time duration between consecutive Beacon Requests. Range: 10-200 sec, Default: 60 sec, Turn-Off: 0",
            "format": "int32",
            "maximum": 200,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "channel-report-11a": {
            "default": "CHAN_36",
            "description": "Set channel for AP Channel Reports in 5GHz band. Range: [34-173], Default: 36",
            "enum": [
              "CHAN_36",
              "CHAN_40",
              "CHAN_44",
              "CHAN_48",
              "CHAN_52",
              "CHAN_56",
              "CHAN_60",
              "CHAN_64",
              "CHAN_100",
              "CHAN_104",
              "CHAN_108",
              "CHAN_112",
              "CHAN_116",
              "CHAN_120",
              "CHAN_124",
              "CHAN_128",
              "CHAN_132",
              "CHAN_136",
              "CHAN_140",
              "CHAN_144",
              "CHAN_149",
              "CHAN_153",
              "CHAN_157",
              "CHAN_161",
              "CHAN_165",
              "CHAN_169",
              "CHAN_173",
              "CHAN_177"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAN_100": "channel 100",
              "CHAN_104": "channel 104",
              "CHAN_108": "channel 108",
              "CHAN_112": "channel 112",
              "CHAN_116": "channel 116",
              "CHAN_120": "channel 120",
              "CHAN_124": "channel 124",
              "CHAN_128": "channel 128",
              "CHAN_132": "channel 132",
              "CHAN_136": "channel 136",
              "CHAN_140": "channel 140",
              "CHAN_144": "channel 144",
              "CHAN_149": "channel 149",
              "CHAN_153": "channel 153",
              "CHAN_157": "channel 157",
              "CHAN_161": "channel 161",
              "CHAN_165": "channel 165",
              "CHAN_169": "channel 169",
              "CHAN_173": "channel 173",
              "CHAN_177": "channel 177",
              "CHAN_36": "channel 36",
              "CHAN_40": "channel 40",
              "CHAN_44": "channel 44",
              "CHAN_48": "channel 48",
              "CHAN_52": "channel 52",
              "CHAN_56": "channel 56",
              "CHAN_60": "channel 60",
              "CHAN_64": "channel 64"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "5GHz radio channel list"
          },
          "channel-report-11bg": {
            "default": "CHAN_1",
            "description": "Set channel for AP Channel Reports in 2.4GHz band. Range: [1-14], Default: 1",
            "enum": [
              "CHAN_1",
              "CHAN_2",
              "CHAN_3",
              "CHAN_4",
              "CHAN_5",
              "CHAN_6",
              "CHAN_7",
              "CHAN_8",
              "CHAN_9",
              "CHAN_10",
              "CHAN_11",
              "CHAN_12",
              "CHAN_13",
              "CHAN_14"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAN_1": "channel 1",
              "CHAN_10": "channel 10",
              "CHAN_11": "channel 11",
              "CHAN_12": "channel 12",
              "CHAN_13": "channel 13",
              "CHAN_14": "channel 14",
              "CHAN_2": "channel 2",
              "CHAN_3": "channel 3",
              "CHAN_4": "channel 4",
              "CHAN_5": "channel 5",
              "CHAN_6": "channel 6",
              "CHAN_7": "channel 7",
              "CHAN_8": "channel 8",
              "CHAN_9": "channel 9"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "2.4GHz radio channel list"
          },
          "channel-report-6ghz": {
            "default": "CHAN_1_6GHZ",
            "description": "Set channel for AP Channel Reports in 6GHz band. Range: [1-233], Default: 1",
            "enum": [
              "CHAN_1_6GHZ",
              "CHAN_5_6GHZ",
              "CHAN_9_6GHZ",
              "CHAN_13_6GHZ",
              "CHAN_17_6GHZ",
              "CHAN_21_6GHZ",
              "CHAN_25_6GHZ",
              "CHAN_29_6GHZ",
              "CHAN_33_6GHZ",
              "CHAN_37_6GHZ",
              "CHAN_41_6GHZ",
              "CHAN_45_6GHZ",
              "CHAN_49_6GHZ",
              "CHAN_53_6GHZ",
              "CHAN_57_6GHZ",
              "CHAN_61_6GHZ",
              "CHAN_65_6GHZ",
              "CHAN_69_6GHZ",
              "CHAN_73_6GHZ",
              "CHAN_77_6GHZ",
              "CHAN_81_6GHZ",
              "CHAN_85_6GHZ",
              "CHAN_89_6GHZ",
              "CHAN_93_6GHZ",
              "CHAN_97_6GHZ",
              "CHAN_101_6GHZ",
              "CHAN_105_6GHZ",
              "CHAN_109_6GHZ",
              "CHAN_113_6GHZ",
              "CHAN_117_6GHZ",
              "CHAN_121_6GHZ",
              "CHAN_125_6GHZ",
              "CHAN_129_6GHZ",
              "CHAN_133_6GHZ",
              "CHAN_137_6GHZ",
              "CHAN_141_6GHZ",
              "CHAN_145_6GHZ",
              "CHAN_149_6GHZ",
              "CHAN_153_6GHZ",
              "CHAN_157_6GHZ",
              "CHAN_161_6GHZ",
              "CHAN_165_6GHZ",
              "CHAN_169_6GHZ",
              "CHAN_173_6GHZ",
              "CHAN_177_6GHZ",
              "CHAN_181_6GHZ",
              "CHAN_185_6GHZ",
              "CHAN_189_6GHZ",
              "CHAN_193_6GHZ",
              "CHAN_197_6GHZ",
              "CHAN_201_6GHZ",
              "CHAN_205_6GHZ",
              "CHAN_209_6GHZ",
              "CHAN_213_6GHZ",
              "CHAN_217_6GHZ",
              "CHAN_221_6GHZ",
              "CHAN_225_6GHZ",
              "CHAN_229_6GHZ",
              "CHAN_233_6GHZ"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAN_101_6GHZ": "6GHz channel 101",
              "CHAN_105_6GHZ": "6GHz channel 105",
              "CHAN_109_6GHZ": "6GHz channel 109",
              "CHAN_113_6GHZ": "6GHz channel 113",
              "CHAN_117_6GHZ": "6GHz channel 117",
              "CHAN_121_6GHZ": "6GHz channel 121",
              "CHAN_125_6GHZ": "6GHz channel 125",
              "CHAN_129_6GHZ": "6GHz channel 129",
              "CHAN_133_6GHZ": "6GHz channel 133",
              "CHAN_137_6GHZ": "6GHz channel 137",
              "CHAN_13_6GHZ": "6GHz channel 13",
              "CHAN_141_6GHZ": "6GHz channel 141",
              "CHAN_145_6GHZ": "6GHz channel 145",
              "CHAN_149_6GHZ": "6GHz channel 149",
              "CHAN_153_6GHZ": "6GHz channel 153",
              "CHAN_157_6GHZ": "6GHz channel 157",
              "CHAN_161_6GHZ": "6GHz channel 161",
              "CHAN_165_6GHZ": "6GHz channel 165",
              "CHAN_169_6GHZ": "6GHz channel 169",
              "CHAN_173_6GHZ": "6GHz channel 173",
              "CHAN_177_6GHZ": "6GHz channel 177",
              "CHAN_17_6GHZ": "6GHz channel 17",
              "CHAN_181_6GHZ": "6GHz channel 181",
              "CHAN_185_6GHZ": "6GHz channel 185",
              "CHAN_189_6GHZ": "6GHz channel 189",
              "CHAN_193_6GHZ": "6GHz channel 193",
              "CHAN_197_6GHZ": "6GHz channel 197",
              "CHAN_1_6GHZ": "6GHz channel 1",
              "CHAN_201_6GHZ": "6GHz channel 201",
              "CHAN_205_6GHZ": "6GHz channel 205",
              "CHAN_209_6GHZ": "6GHz channel 209",
              "CHAN_213_6GHZ": "6GHz channel 213",
              "CHAN_217_6GHZ": "6GHz channel 217",
              "CHAN_21_6GHZ": "6GHz channel 21",
              "CHAN_221_6GHZ": "6GHz channel 221",
              "CHAN_225_6GHZ": "6GHz channel 225",
              "CHAN_229_6GHZ": "6GHz channel 229",
              "CHAN_233_6GHZ": "6GHz channel 233",
              "CHAN_25_6GHZ": "6GHz channel 25",
              "CHAN_29_6GHZ": "6GHz channel 29",
              "CHAN_33_6GHZ": "6GHz channel 33",
              "CHAN_37_6GHZ": "6GHz channel 37",
              "CHAN_41_6GHZ": "6GHz channel 41",
              "CHAN_45_6GHZ": "6GHz channel 45",
              "CHAN_49_6GHZ": "6GHz channel 49",
              "CHAN_53_6GHZ": "6GHz channel 53",
              "CHAN_57_6GHZ": "6GHz channel 57",
              "CHAN_5_6GHZ": "6GHz channel 5",
              "CHAN_61_6GHZ": "6GHz channel 61",
              "CHAN_65_6GHZ": "6GHz channel 65",
              "CHAN_69_6GHZ": "6GHz channel 69",
              "CHAN_73_6GHZ": "6GHz channel 73",
              "CHAN_77_6GHZ": "6GHz channel 77",
              "CHAN_81_6GHZ": "6GHz channel 81",
              "CHAN_85_6GHZ": "6GHz channel 85",
              "CHAN_89_6GHZ": "6GHz channel 89",
              "CHAN_93_6GHZ": "6GHz channel 93",
              "CHAN_97_6GHZ": "6GHz channel 97",
              "CHAN_9_6GHZ": "6GHz channel 9"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "6GHz radio channel list"
          },
          "enable": {
            "default": "false",
            "description": "Enables the 802.11K feature. This feature is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "name": {
            "description": "802.11k profile name",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "nb-resp-wide-band-ie": {
            "default": "true",
            "description": "Include the wide channel bandwidth information element in the neighbor report responses, when the dot11k setting is enabled on the managed device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "rrm-ie-profile-name": {
            "description": "RRM IE Settings Profile.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dot11k-rrm-ie:rrm-ie-profiles/ac-dot11k-rrm-ie:profile/ac-dot11k-rrm-ie:name",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Aruba802dot11k_Dot11kProfilesprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Aruba802dot11k_Dot11kProfilesprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
