{
  "openapi": "3.1.0",
  "info": {
    "title": "Aaa Dot1xauth",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Aaa Dot1xauth"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/dot1xauth": {
      "get": {
        "description": "IEEE 802.1X is an IEEE Standard for port-based Network Access Control (PNAC).\nThis standard provides an authentication mechanism to devices wishing to attach\nto a LAN or WLAN.\nIEEE 802.1X defines the encapsulation of the Extensible Authentication Protocol\n(EAP) over IEEE 802, which is known as EAP over LAN (EAPOL).\n\n802.1X authentication involves three entities, a supplicant, an authenticator,\nand an authentication server.\n\n*Supplicant*: An entity that wants to get authenticated.\n*Authenticator*: A network device, such as an Ethernet switch that authenticates\nthe Supplicant.\n*Authentication Server*: Typically a host running software supporting the RADIUS\nand EAP protocols that provides an authentication service to an authenticator.\n\nUntil the Supplicant is authenticated, 802.1X Authenticator allows only EAPOL\ntraffic through the port to which the Supplicant is connected.\nOnly after the authentication is successful, the authenticator allows normal\ntraffic from the Supplicant.",
        "operationId": "readDot1xauth",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xauthSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing 802.1X authentication configuration",
        "tags": [
          "Aaa Dot1xauth"
        ],
        "x-cliParam": {
          "commandName": "readDot1xauthCmd",
          "commandUse": "dot1xauth",
          "parentCommand": "readCmd",
          "pathToPrint": "/dot1xauth/",
          "summary": "Read operation for dot1xauth"
        }
      }
    },
    "/network-config/v1alpha1/dot1xauth/{name}": {
      "get": {
        "description": "List of 802.1X authentication profiles.",
        "operationId": "readDot1xauthProfileByID",
        "parameters": [
          {
            "description": "Name of the 802.1X authentication profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xauthprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an existing 802.1X authentication profile",
        "tags": [
          "Aaa Dot1xauth"
        ],
        "x-cliParam": {
          "commandName": "readDot1xauthProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readDot1xauthCmd",
          "pathToPrint": "/dot1xauth/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of 802.1X authentication profiles.",
        "operationId": "replaceDot1xauthProfileByID",
        "parameters": [
          {
            "description": "Name of the 802.1X authentication profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaDot1xauth_Dot1xauthprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or update an existing 802.1X authentication profile",
        "tags": [
          "Aaa Dot1xauth"
        ],
        "x-cliParam": {
          "commandName": "replaceDot1xauthProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceDot1xauthCmd",
          "pathToPrint": "/dot1xauth/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of 802.1X authentication profiles.",
        "operationId": "createDot1xauthProfileByID",
        "parameters": [
          {
            "description": "Name of the 802.1X authentication profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaDot1xauth_Dot1xauthprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Configure a new 802.1X authentication profile.",
        "tags": [
          "Aaa Dot1xauth"
        ],
        "x-cliParam": {
          "commandName": "createDot1xauthProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createDot1xauthCmd",
          "pathToPrint": "/dot1xauth/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of 802.1X authentication profiles.",
        "operationId": "deleteDot1xauthProfileByID",
        "parameters": [
          {
            "description": "Name of the 802.1X authentication profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete an existing 802.1X authentication profile",
        "tags": [
          "Aaa Dot1xauth"
        ],
        "x-cliParam": {
          "commandName": "deleteDot1xauthProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteDot1xauthCmd",
          "pathToPrint": "/dot1xauth/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of 802.1X authentication profiles.",
        "operationId": "updateDot1xauthProfileByID",
        "parameters": [
          {
            "description": "Name of the 802.1X authentication profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaDot1xauth_Dot1xauthprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update an existing 802.1X authentication profile",
        "tags": [
          "Aaa Dot1xauth"
        ],
        "x-cliParam": {
          "commandName": "updateDot1xauthProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateDot1xauthCmd",
          "pathToPrint": "/dot1xauth/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaDot1xauth_Dot1xTerminationGroup": {
        "description": "Configure Dot1x Termination Parameters",
        "properties": {
          "dot1x-termination": {
            "description": "IEEE 802.1X termination parameters.",
            "properties": {
              "eap-type": {
                "default": "EAP_PEAP",
                "description": "EAP method, default method is EAP-PEAP.",
                "enum": [
                  "EAP_TLS",
                  "EAP_PEAP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "EAP_PEAP": "EAP-PEAP as the authentication protocol.",
                  "EAP_TLS": "EAP-TLS as the authentication protocol."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "EAP types."
              },
              "enable": {
                "default": "false",
                "description": "Enable 802.1X authentication to be terminated on the controller. This option is disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-token-caching": {
                "default": "false",
                "description": "Enable 802.1X Token Key Caching.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "inner-eap-type": {
                "default": "EAP_MSCHAPV2",
                "description": "Configure the Inner EAP method.",
                "enum": [
                  "EAP_MSCHAPV2",
                  "EAP_GTC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "EAP_GTC": "EAP-GenericTokenCard as the inner authentication protocol.",
                  "EAP_MSCHAPV2": "EAP-MSCHAPV2 as the inner authentication protocol."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Inner EAP types."
              },
              "token-caching-period": {
                "default": "24",
                "description": "Token Caching Period.",
                "format": "int64",
                "maximum": 240,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaAaaDot1xauth_Dot1xTerminationGroupGet": {
        "description": "Configure Dot1x Termination Parameters",
        "properties": {
          "dot1x-termination": {
            "description": "IEEE 802.1X termination parameters.",
            "properties": {
              "eap-type": {
                "default": "EAP_PEAP",
                "description": "EAP method, default method is EAP-PEAP.",
                "enum": [
                  "EAP_TLS",
                  "EAP_PEAP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "EAP_PEAP": "EAP-PEAP as the authentication protocol.",
                  "EAP_TLS": "EAP-TLS as the authentication protocol."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "EAP types."
              },
              "enable": {
                "default": "false",
                "description": "Enable 802.1X authentication to be terminated on the controller. This option is disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-token-caching": {
                "default": "false",
                "description": "Enable 802.1X Token Key Caching.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "inner-eap-type": {
                "default": "EAP_MSCHAPV2",
                "description": "Configure the Inner EAP method.",
                "enum": [
                  "EAP_MSCHAPV2",
                  "EAP_GTC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "EAP_GTC": "EAP-GenericTokenCard as the inner authentication protocol.",
                  "EAP_MSCHAPV2": "EAP-MSCHAPV2 as the inner authentication protocol."
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ],
                "x-typeDescription": "Inner EAP types."
              },
              "token-caching-period": {
                "default": "24",
                "description": "Token Caching Period.",
                "format": "int64",
                "maximum": 240,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaAaaDot1xauth_Dot1xauthConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_MachineAuthGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_ServerParametersConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xTerminationGroup"
          }
        ],
        "description": "Group for 802.1X authenticator configurations",
        "properties": {
          "auth-vlan-id": {
            "description": "Configures the VLAN where the port is moved after a successful\nauthentication.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "ca-cert": {
            "description": "CA Certificate Name for the Client Certificate Verification.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "cached-reauth-enable": {
            "default": "false",
            "description": "Enable cached re-authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "cached-reauth-period": {
            "description": "Time period (in seconds) during which cached re-authentication\nis allowed. This is applicable only when cached-reauth is enabled.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "canned-eap-success-enable": {
            "default": "false",
            "description": "Allow the device to send a canned EAP success packet to the supplicant\nto indicate a successful authentication when:\n1. The authentication fails due to a RADIUS server reject, but\nthe interface on which the client on-boarded has a reject-role\nconfigured.\n2. The authentication fails due to a RADIUS server timeout, but\nthe interface on which the client on-boarded has a critical-role\nconfigured.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cert-cn-lookup": {
            "default": "true",
            "description": "Check certificate common name against AAA server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "client-limit": {
            "description": "Maximum number of clients that can be authenticated on the interface.",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "control-mode": {
            "default": "AUTO",
            "description": "Configure the control mode.",
            "enum": [
              "AUTO",
              "AUTHORIZED",
              "UNAUTHORIZED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTHORIZED": "Gives access to a device connected to the port even without a valid\n802.1X crendential.",
              "AUTO": "The device connected to the port must support 802.1X authentication\nand provide valid credentials to get network access.",
              "UNAUTHORIZED": "Deny access to a device connected to the port even with a valid\n802.1X crendential."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Control mode type."
          },
          "delete-keycache": {
            "default": "false",
            "description": "Delete key cache entry when user entry is deleted.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "discovery-period": {
            "default": "30",
            "description": "Time period (in seconds) to wait before an EAPoL request\nidentity frame re-transmission on an 802.1X enabled interface\nwith no authenticated client.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "eapol-logoff": {
            "default": "false",
            "description": "Enable EAPOL Logoff.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "eapol-max-requests": {
            "description": "The number of EAPOL requests to send to a supplicant\nthat must time out before authentication fails and\nthe authentication session ends.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "eapol-timeout": {
            "description": "Time period (in seconds) to wait for a response from a client before\nretransmitting an EAPoL PDU.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable 802.1X authentication on a port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enforce-cached-reauth-enable": {
            "default": "false",
            "description": "Enable enforced cached re-authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "enforce-suite-b-128": {
            "default": "false",
            "description": "Enable Suite-B 128 bit or more security level Authentication enforcement.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "enforce-suite-b-192": {
            "default": "false",
            "description": "Enable Suite-B 192 bit or more security level Authentication enforcement.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "framed-mtu": {
            "default": "1100",
            "description": "Framed MTU length",
            "format": "int64",
            "maximum": 1500,
            "minimum": 500,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "heldstate-bypass": {
            "default": "3",
            "description": "Maximum number of times station can send bad credentials",
            "format": "int64",
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ignore-eap-id-match": {
            "default": "false",
            "description": "Ignore EAP ID during negotiation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ignore-eapolstart-afterauthentication": {
            "default": "false",
            "description": "Ignore EAPOl-START messages after authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "initial-auth-response-timeout": {
            "description": "Time period (in seconds) to wait for the first EAPoL frame from a\nclient before deeming the client to be incapable of 802.1X and\nstart authentication using the next configured authentication\nmethod, if any.\nIf not set, the next configured authentication method is attempted only\nafter the authentication cycle of the current method is complete.",
            "format": "int32",
            "maximum": 300,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "keycache-timeout": {
            "default": "8",
            "description": "Per BSSID PMKSA (Pairwise Master Key Security Association) cache interval in hours.",
            "format": "int64",
            "maximum": 2000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logoff-period": {
            "default": "300",
            "description": "Time period (in seconds) after which a client will be considered\nremoved from the port for a lack of activity.",
            "format": "int64",
            "maximum": 999999999,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "macsec": {
            "description": "Enables the switch to provision a MACsec channel\ndynamically when the 802.1X client is authenticated using\nan EAP method that supports mutual authentication.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable EAP based MACsec.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "mka-cak-length": {
                "default": "CAK_32",
                "description": "Length of CAK to generate for MKA.",
                "enum": [
                  "CAK_16",
                  "CAK_32"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CAK_16": "16 byte CAK.",
                  "CAK_32": "32 byte CAK."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Secure Connectivity Association Key (CAK) length type."
              }
            }
          },
          "max-reauth": {
            "default": "3",
            "description": "Max number of reauthentication attempts before giving up.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "max-retries": {
            "description": "Number of authentication attempts before authentication fails.\nGW supported max range is 5",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "multicast-key-rotation-period": {
            "default": "1800",
            "description": "Set the period between multicast key rotation.",
            "format": "int64",
            "maximum": 864000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "multicast-keyrotation": {
            "default": "false",
            "description": "Enable or Disable Multicast Key Rotation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "opp-key-caching": {
            "description": "Enable Opportunistic Key Caching (WPA2/WPA3 Only).By default, the 802.1X authentication profile enables a\ncached pairwise master key (PMK) derived via a client and\nan associated AP and used when the client roams to a new AP.\nThis allows clients faster roaming without a full 802.1x authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "quiet-period": {
            "description": "Time period (in seconds) to wait before processing an authentication\nrequest from a client that failed authentication.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "reauth-enable": {
            "default": "false",
            "description": "Enable periodic re-authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "reauth-period": {
            "description": "Time period (in seconds) to enforce periodic re-authentication of\nclients. This is applicable only when reauth is enabled",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "reauth-server-termination-action": {
            "default": "false",
            "description": "Use the termination-action attribute from the Server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "role-tls-guest": {
            "description": "Assign TLS Guest role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "server-cert": {
            "description": "Server Certificate for EAP termination.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "server-timeout": {
            "default": "300",
            "description": "Time period (in seconds) to wait for a server response to an\nauthentication request. If there is no response within the configured\ntime frame, the device assumes that the authentication attempt has\ntimed out.",
            "format": "int32",
            "maximum": 300,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "tls-guest-access": {
            "default": "false",
            "description": "Enable guest access for users with valid certificate.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "tls-guest-role": {
            "description": "The leaf will be deprecated. Please use role-tls-guest for assigning TLS Guest role.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "unauth-period": {
            "default": "0",
            "description": "Time period (in seconds) to wait before moving the interface to the\nVLAN for unauthenticated clients.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "unauth-vlan-id": {
            "description": "Configures the VLAN where the port is moved with an unauthenticated\nclient.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "unicast-key-rotation-period": {
            "default": "900",
            "description": "Set the period between unicast key rotation.",
            "format": "int64",
            "maximum": 864000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "unicast-keyrotation": {
            "default": "false",
            "description": "Enable or Disable Unicast Key Rotation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "use-session-key": {
            "default": "false",
            "description": "Use RADIUS Session Key as the unicast WEP key. This option is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "use-static-key": {
            "default": "false",
            "description": "Use Static Key as the Unicast/Multicast WEP key.This option is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "validate-pmkid": {
            "default": "true",
            "description": "PMK (Pairwise Master Key) identifier (WPA2/WPA3 Only).\nThis parameter instructs the controller to check the pairwise master key (PMK) ID\nsent by the client. When this option is enabled,\nthe client must send a PMKID in the associate or reassociate frame to indicate that it supports OKC or PMK caching;\notherwise, full 802.1x authentication takes place.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wep-key-retries": {
            "default": "2",
            "description": "Set the Number of times Unicast/Multicast EAPOL Key Messages are sent to the station.",
            "format": "int32",
            "maximum": 3,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wep-key-size": {
            "default": "128",
            "description": "Set the Dynamic WEP Key Size.",
            "format": "int64",
            "maximum": 128,
            "minimum": 40,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-fast-handover": {
            "default": "false",
            "description": "Enable WPA-Fast-Handover.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-groupkey-delay": {
            "default": "0",
            "description": "Delay between WPA unicast and multicast key exchange.",
            "format": "int64",
            "maximum": 2000,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-key-period": {
            "description": "Set the time period between each WPA/WPA2/WPA3 key exchange.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-key-retries": {
            "default": "3",
            "description": "Set the Number of times WPA/WPA2/WPA3 Key Messages are retried.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa2-key-delay": {
            "default": "0",
            "description": "Delay between EAP-Success and unicast key exchange.",
            "format": "int64",
            "maximum": 2000,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "xsec-mtu": {
            "default": "1300",
            "description": "XSEC MTU value.",
            "format": "int64",
            "maximum": 1500,
            "minimum": 1024,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaDot1xauth_Dot1xauthConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_MachineAuthGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_ServerParametersConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xTerminationGroupGet"
          }
        ],
        "description": "Group for 802.1X authenticator configurations",
        "properties": {
          "auth-vlan-id": {
            "description": "Configures the VLAN where the port is moved after a successful\nauthentication.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "ca-cert": {
            "description": "CA Certificate Name for the Client Certificate Verification.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "cached-reauth-enable": {
            "default": "false",
            "description": "Enable cached re-authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "cached-reauth-period": {
            "description": "Time period (in seconds) during which cached re-authentication\nis allowed. This is applicable only when cached-reauth is enabled.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "canned-eap-success-enable": {
            "default": "false",
            "description": "Allow the device to send a canned EAP success packet to the supplicant\nto indicate a successful authentication when:\n1. The authentication fails due to a RADIUS server reject, but\nthe interface on which the client on-boarded has a reject-role\nconfigured.\n2. The authentication fails due to a RADIUS server timeout, but\nthe interface on which the client on-boarded has a critical-role\nconfigured.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cert-cn-lookup": {
            "default": "true",
            "description": "Check certificate common name against AAA server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "client-limit": {
            "description": "Maximum number of clients that can be authenticated on the interface.",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "control-mode": {
            "default": "AUTO",
            "description": "Configure the control mode.",
            "enum": [
              "AUTO",
              "AUTHORIZED",
              "UNAUTHORIZED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTHORIZED": "Gives access to a device connected to the port even without a valid\n802.1X crendential.",
              "AUTO": "The device connected to the port must support 802.1X authentication\nand provide valid credentials to get network access.",
              "UNAUTHORIZED": "Deny access to a device connected to the port even with a valid\n802.1X crendential."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Control mode type."
          },
          "delete-keycache": {
            "default": "false",
            "description": "Delete key cache entry when user entry is deleted.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "discovery-period": {
            "default": "30",
            "description": "Time period (in seconds) to wait before an EAPoL request\nidentity frame re-transmission on an 802.1X enabled interface\nwith no authenticated client.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "eapol-logoff": {
            "default": "false",
            "description": "Enable EAPOL Logoff.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "eapol-max-requests": {
            "description": "The number of EAPOL requests to send to a supplicant\nthat must time out before authentication fails and\nthe authentication session ends.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "eapol-timeout": {
            "description": "Time period (in seconds) to wait for a response from a client before\nretransmitting an EAPoL PDU.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable 802.1X authentication on a port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enforce-cached-reauth-enable": {
            "default": "false",
            "description": "Enable enforced cached re-authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "enforce-suite-b-128": {
            "default": "false",
            "description": "Enable Suite-B 128 bit or more security level Authentication enforcement.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "enforce-suite-b-192": {
            "default": "false",
            "description": "Enable Suite-B 192 bit or more security level Authentication enforcement.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "framed-mtu": {
            "default": "1100",
            "description": "Framed MTU length",
            "format": "int64",
            "maximum": 1500,
            "minimum": 500,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "heldstate-bypass": {
            "default": "3",
            "description": "Maximum number of times station can send bad credentials",
            "format": "int64",
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ignore-eap-id-match": {
            "default": "false",
            "description": "Ignore EAP ID during negotiation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ignore-eapolstart-afterauthentication": {
            "default": "false",
            "description": "Ignore EAPOl-START messages after authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "initial-auth-response-timeout": {
            "description": "Time period (in seconds) to wait for the first EAPoL frame from a\nclient before deeming the client to be incapable of 802.1X and\nstart authentication using the next configured authentication\nmethod, if any.\nIf not set, the next configured authentication method is attempted only\nafter the authentication cycle of the current method is complete.",
            "format": "int32",
            "maximum": 300,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "keycache-timeout": {
            "default": "8",
            "description": "Per BSSID PMKSA (Pairwise Master Key Security Association) cache interval in hours.",
            "format": "int64",
            "maximum": 2000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logoff-period": {
            "default": "300",
            "description": "Time period (in seconds) after which a client will be considered\nremoved from the port for a lack of activity.",
            "format": "int64",
            "maximum": 999999999,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "macsec": {
            "description": "Enables the switch to provision a MACsec channel\ndynamically when the 802.1X client is authenticated using\nan EAP method that supports mutual authentication.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable EAP based MACsec.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "mka-cak-length": {
                "default": "CAK_32",
                "description": "Length of CAK to generate for MKA.",
                "enum": [
                  "CAK_16",
                  "CAK_32"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CAK_16": "16 byte CAK.",
                  "CAK_32": "32 byte CAK."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Secure Connectivity Association Key (CAK) length type."
              }
            }
          },
          "max-reauth": {
            "default": "3",
            "description": "Max number of reauthentication attempts before giving up.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "max-retries": {
            "description": "Number of authentication attempts before authentication fails.\nGW supported max range is 5",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "multicast-key-rotation-period": {
            "default": "1800",
            "description": "Set the period between multicast key rotation.",
            "format": "int64",
            "maximum": 864000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "multicast-keyrotation": {
            "default": "false",
            "description": "Enable or Disable Multicast Key Rotation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "opp-key-caching": {
            "description": "Enable Opportunistic Key Caching (WPA2/WPA3 Only).By default, the 802.1X authentication profile enables a\ncached pairwise master key (PMK) derived via a client and\nan associated AP and used when the client roams to a new AP.\nThis allows clients faster roaming without a full 802.1x authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "quiet-period": {
            "description": "Time period (in seconds) to wait before processing an authentication\nrequest from a client that failed authentication.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "reauth-enable": {
            "default": "false",
            "description": "Enable periodic re-authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "reauth-period": {
            "description": "Time period (in seconds) to enforce periodic re-authentication of\nclients. This is applicable only when reauth is enabled",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "reauth-server-termination-action": {
            "default": "false",
            "description": "Use the termination-action attribute from the Server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "role-tls-guest": {
            "description": "Assign TLS Guest role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "server-cert": {
            "description": "Server Certificate for EAP termination.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "server-timeout": {
            "default": "300",
            "description": "Time period (in seconds) to wait for a server response to an\nauthentication request. If there is no response within the configured\ntime frame, the device assumes that the authentication attempt has\ntimed out.",
            "format": "int32",
            "maximum": 300,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "tls-guest-access": {
            "default": "false",
            "description": "Enable guest access for users with valid certificate.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "tls-guest-role": {
            "description": "The leaf will be deprecated. Please use role-tls-guest for assigning TLS Guest role.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "unauth-period": {
            "default": "0",
            "description": "Time period (in seconds) to wait before moving the interface to the\nVLAN for unauthenticated clients.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "unauth-vlan-id": {
            "description": "Configures the VLAN where the port is moved with an unauthenticated\nclient.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "unicast-key-rotation-period": {
            "default": "900",
            "description": "Set the period between unicast key rotation.",
            "format": "int64",
            "maximum": 864000,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "unicast-keyrotation": {
            "default": "false",
            "description": "Enable or Disable Unicast Key Rotation.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "use-session-key": {
            "default": "false",
            "description": "Use RADIUS Session Key as the unicast WEP key. This option is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "use-static-key": {
            "default": "false",
            "description": "Use Static Key as the Unicast/Multicast WEP key.This option is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "validate-pmkid": {
            "default": "true",
            "description": "PMK (Pairwise Master Key) identifier (WPA2/WPA3 Only).\nThis parameter instructs the controller to check the pairwise master key (PMK) ID\nsent by the client. When this option is enabled,\nthe client must send a PMKID in the associate or reassociate frame to indicate that it supports OKC or PMK caching;\notherwise, full 802.1x authentication takes place.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wep-key-retries": {
            "default": "2",
            "description": "Set the Number of times Unicast/Multicast EAPOL Key Messages are sent to the station.",
            "format": "int32",
            "maximum": 3,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wep-key-size": {
            "default": "128",
            "description": "Set the Dynamic WEP Key Size.",
            "format": "int64",
            "maximum": 128,
            "minimum": 40,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-fast-handover": {
            "default": "false",
            "description": "Enable WPA-Fast-Handover.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-groupkey-delay": {
            "default": "0",
            "description": "Delay between WPA unicast and multicast key exchange.",
            "format": "int64",
            "maximum": 2000,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-key-period": {
            "description": "Set the time period between each WPA/WPA2/WPA3 key exchange.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa-key-retries": {
            "default": "3",
            "description": "Set the Number of times WPA/WPA2/WPA3 Key Messages are retried.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "wpa2-key-delay": {
            "default": "0",
            "description": "Delay between EAP-Success and unicast key exchange.",
            "format": "int64",
            "maximum": 2000,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "xsec-mtu": {
            "default": "1300",
            "description": "XSEC MTU value.",
            "format": "int64",
            "maximum": 1500,
            "minimum": 1024,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaDot1xauth_Dot1xauthSchemaGET": {
        "description": "IEEE 802.1X is an IEEE Standard for port-based Network Access Control (PNAC).\nThis standard provides an authentication mechanism to devices wishing to attach\nto a LAN or WLAN.\nIEEE 802.1X defines the encapsulation of the Extensible Authentication Protocol\n(EAP) over IEEE 802, which is known as EAP over LAN (EAPOL).\n\n802.1X authentication involves three entities, a supplicant, an authenticator,\nand an authentication server.\n\n*Supplicant*: An entity that wants to get authenticated.\n*Authenticator*: A network device, such as an Ethernet switch that authenticates\nthe Supplicant.\n*Authentication Server*: Typically a host running software supporting the RADIUS\nand EAP protocols that provides an authentication service to an authenticator.\n\nUntil the Supplicant is authenticated, 802.1X Authenticator allows only EAPOL\ntraffic through the port to which the Supplicant is connected.\nOnly after the authentication is successful, the authenticator allows normal\ntraffic from the Supplicant.",
        "properties": {
          "profile": {
            "description": "List of 802.1X authentication profiles.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xauthConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "802.1X authentication profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the 802.1X authentication profile.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway",
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaAaaDot1xauth_Dot1xauthprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xauthConfig"
          },
          {
            "properties": {
              "description": {
                "description": "802.1X authentication profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the 802.1X authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaAaaDot1xauth_Dot1xauthprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaDot1xauth_Dot1xauthConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "802.1X authentication profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the 802.1X authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaAaaDot1xauth_MachineAuthGroup": {
        "description": "Machine Auth Config.",
        "properties": {
          "machine-auth": {
            "description": "Machine Authentication configuration.",
            "properties": {
              "cache-timeout": {
                "default": "24",
                "description": "Machine Authentication Cache Timeout",
                "format": "int64",
                "maximum": 1000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "denylist-on-failure": {
                "default": "false",
                "description": "Add the station to denylist if machine authentication fails.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable enforcement of Machine Authentication",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "machine-default-role": {
                "description": "Default role assigned on only completing Machine Authentication.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "user-default-role": {
                "description": "Configure the Role assigned on only completing User Authentication.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaAaaDot1xauth_MachineAuthGroupGet": {
        "description": "Machine Auth Config.",
        "properties": {
          "machine-auth": {
            "description": "Machine Authentication configuration.",
            "properties": {
              "cache-timeout": {
                "default": "24",
                "description": "Machine Authentication Cache Timeout",
                "format": "int64",
                "maximum": 1000,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "denylist-on-failure": {
                "default": "false",
                "description": "Add the station to denylist if machine authentication fails.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable enforcement of Machine Authentication",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "machine-default-role": {
                "description": "Default role assigned on only completing Machine Authentication.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "user-default-role": {
                "description": "Configure the Role assigned on only completing User Authentication.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaAaaDot1xauth_ServerParametersConfig": {
        "description": "Set authentication server parameters.",
        "properties": {
          "server-parameters": {
            "description": "Authentication server parameters.",
            "properties": {
              "retry-count": {
                "default": "3",
                "description": "Maximum number of Authentication Requests.",
                "format": "int32",
                "maximum": 5,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "retry-period": {
                "default": "5",
                "description": "Time interval in seconds.",
                "format": "int64",
                "maximum": 65535,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "ArubaAaaDot1xauth_ServerParametersConfigGet": {
        "description": "Set authentication server parameters.",
        "properties": {
          "server-parameters": {
            "description": "Authentication server parameters.",
            "properties": {
              "retry-count": {
                "default": "3",
                "description": "Maximum number of Authentication Requests.",
                "format": "int32",
                "maximum": 5,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "retry-period": {
                "default": "5",
                "description": "Time interval in seconds.",
                "format": "int64",
                "maximum": 65535,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
[...]
