{
  "openapi": "3.1.0",
  "info": {
    "title": "Aaa Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Aaa Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/aaa-profile": {
      "get": {
        "description": "AAA profile configurations.",
        "operationId": "readAaaProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAaaProfile_AaaProfileSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an existing AAA profile",
        "tags": [
          "Aaa Profile"
        ],
        "x-cliParam": {
          "commandName": "readAaaProfileCmd",
          "commandUse": "aaa-profile",
          "parentCommand": "readCmd",
          "pathToPrint": "/aaa-profile/",
          "summary": "Read operation for aaa-profile"
        }
      }
    },
    "/network-config/v1alpha1/aaa-profile/{name}": {
      "get": {
        "description": "List of AAA profiles.",
        "operationId": "readAaaProfileProfileByID",
        "parameters": [
          {
            "description": "Name of the AAA profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAaaProfile_AaaProfileprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an exiting AAA profile",
        "tags": [
          "Aaa Profile"
        ],
        "x-cliParam": {
          "commandName": "readAaaProfileProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readAaaProfileCmd",
          "pathToPrint": "/aaa-profile/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of AAA profiles.",
        "operationId": "replaceAaaProfileProfileByID",
        "parameters": [
          {
            "description": "Name of the AAA profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaProfile_AaaProfileprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or update an exiting AAA profile",
        "tags": [
          "Aaa Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceAaaProfileProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceAaaProfileCmd",
          "pathToPrint": "/aaa-profile/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of AAA profiles.",
        "operationId": "createAaaProfileProfileByID",
        "parameters": [
          {
            "description": "Name of the AAA profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaProfile_AaaProfileprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Configure a new AAA profile",
        "tags": [
          "Aaa Profile"
        ],
        "x-cliParam": {
          "commandName": "createAaaProfileProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createAaaProfileCmd",
          "pathToPrint": "/aaa-profile/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of AAA profiles.",
        "operationId": "deleteAaaProfileProfileByID",
        "parameters": [
          {
            "description": "Name of the AAA profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete an exiting AAA profile",
        "tags": [
          "Aaa Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteAaaProfileProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteAaaProfileCmd",
          "pathToPrint": "/aaa-profile/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of AAA profiles.",
        "operationId": "updateAaaProfileProfileByID",
        "parameters": [
          {
            "description": "Name of the AAA profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaProfile_AaaProfileprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update an exiting AAA profile",
        "tags": [
          "Aaa Profile"
        ],
        "x-cliParam": {
          "commandName": "updateAaaProfileProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateAaaProfileCmd",
          "pathToPrint": "/aaa-profile/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaProfile_AaaProfileSchemaGET": {
        "description": "AAA profile configurations.",
        "properties": {
          "profile": {
            "description": "List of AAA profiles.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationConfigGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaAaaProfile_AuthorizationConfigGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaAaaProfile_SecurityViolationConfigGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaAaaProfile_MiscellaneousConfigGroupGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "AAA profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the AAA profile.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway",
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway",
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaAaaProfile_AaaProfileprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationConfigGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AuthorizationConfigGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_SecurityViolationConfigGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_MiscellaneousConfigGroup"
          },
          {
            "properties": {
              "description": {
                "description": "AAA profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the AAA profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "ArubaAaaProfile_AaaProfileprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationConfigGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AuthorizationConfigGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_SecurityViolationConfigGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_MiscellaneousConfigGroupGet"
          },
          {
            "properties": {
              "description": {
                "description": "AAA profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the AAA profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "ArubaAaaProfile_AllowFloodTrafficConfigGroup": {
        "description": "Group for allow-flood-traffic configuration shared by aaa-profile and port-security.",
        "properties": {
          "allow-flood-traffic": {
            "default": "false",
            "description": "Enable transmission of flood traffic (broadcast, multicast and\nunknown unicast) out authentication enabled interfaces with no\nauthenticated client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AllowFloodTrafficConfigGroupGet": {
        "description": "Group for allow-flood-traffic configuration shared by aaa-profile and port-security.",
        "properties": {
          "allow-flood-traffic": {
            "default": "false",
            "description": "Enable transmission of flood traffic (broadcast, multicast and\nunknown unicast) out authentication enabled interfaces with no\nauthenticated client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthenticationAttributesGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationLagAttributesGroup"
          }
        ],
        "description": "Group for authentication attributes.",
        "properties": {
          "auth-precedence": {
            "description": "Precedence order for port-access authentication. Auth-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence\norder of dot1x followed by mac-auth will be used.",
            "items": {
              "default": "MAC_AUTH",
              "description": "Precedence order for port-access authentication. Auth-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence\norder of dot1x followed by mac-auth will be used.",
              "enum": [
                "DOT1X",
                "MAC_AUTH"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "DOT1X": "IEEE 802.1X Authentication Protocol.",
                "MAC_AUTH": "MAC Authentication Protocol."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "Authentication methods."
            },
            "maxItems": 2,
            "type": "array"
          },
          "auth-priority": {
            "description": "Priority order for port-access authentication. Auth-priority must\ncontain either 0 or 2 elements. If not set, priority will follow\nthe 'auth-precedence' order.",
            "items": {
              "description": "Priority order for port-access authentication. Auth-priority must\ncontain either 0 or 2 elements. If not set, priority will follow\nthe 'auth-precedence' order.",
              "enum": [
                "DOT1X",
                "MAC_AUTH"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "DOT1X": "IEEE 802.1X Authentication Protocol.",
                "MAC_AUTH": "MAC Authentication Protocol."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "Authentication methods."
            },
            "maxItems": 2,
            "type": "array"
          },
          "client-auto-logoff-enable": {
            "description": "The list of reasons when a client can be automatically logged off by\nthe device.",
            "items": {
              "description": "The list of reasons when a client can be automatically logged off by\nthe device.",
              "enum": [
                "FINAL_AUTHENTICATION_FAILURE"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "FINAL_AUTHENTICATION_FAILURE": "The device automatically logs-off a client if it fails\nauthentication with all the enabled authentication methods.\nThe authentication failure reason should not be one of server-reject\nor server-timeout server-reject or server-timeout."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Client auto logff reasons."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "client-move": {
            "description": "The client move configuration.",
            "enum": [
              "DISABLED",
              "ENABLED",
              "SECURE_ENABLED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DISABLED": "Client cannot move between interfaces.",
              "ENABLED": "Client can move between interfaces without authentication itself\non the new interface.",
              "SECURE_ENABLED": "Client can move between interfaces but only after authenticating\nitself on the new interface."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Client move types."
          },
          "cloud-auth": {
            "default": "false",
            "description": "Enable cloud authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "concurrent-onboarding": {
            "default": "false",
            "description": "Enable authentication methods to start concurrently for faster\nonboarding. If not set, clients are onboarded based on the order\nspecified by 'onboarding-precedence'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "controlled-direction": {
            "default": "BOTH",
            "description": "Configure how traffic is controlled on non-authenticated ports: in both directions (ingress and egress) or ingress only.\nDefault is BOTH.",
            "enum": [
              "BOTH",
              "IN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Exert access control in both directions.",
              "IN": "Exert access control on incoming packets only."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Controlled direction mode for port-access authentication."
          },
          "dot1xauth-server-group": {
            "description": "802.1X authentication server group.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          },
          "macauth-server-group": {
            "description": "MAC authentication server group",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mda-data-clients-limit": {
            "default": "1",
            "description": "Maximum number of 'data' clients that can be authenticated on the\ninterface when multi-domain is enabled. If the number of 'data' clients\non the interface exceeds this client limit, it will be considered as a\nviolation and the configured threshold-violation action is taken.",
            "format": "int32",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "onboarding-precedence": {
            "description": "Precedence order when onboarding a client. Onboarding-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence order\nof AAA followed by device-profile will be used.",
            "items": {
              "description": "Precedence order when onboarding a client. Onboarding-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence order\nof AAA followed by device-profile will be used.",
              "enum": [
                "AAA",
                "DEVICE_PROFILE"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "AAA": "Onboard clients based on AAA authentication.",
                "DEVICE_PROFILE": "Onboard clients based on device-profile."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Onboarding methods."
            },
            "maxItems": 2,
            "type": "array"
          }
        }
      },
      "ArubaAaaProfile_AuthenticationAttributesGroupGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationLagAttributesGroupGet"
          }
        ],
        "description": "Group for authentication attributes.",
        "properties": {
          "auth-precedence": {
            "description": "Precedence order for port-access authentication. Auth-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence\norder of dot1x followed by mac-auth will be used.",
            "items": {
              "default": "MAC_AUTH",
              "description": "Precedence order for port-access authentication. Auth-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence\norder of dot1x followed by mac-auth will be used.",
              "enum": [
                "DOT1X",
                "MAC_AUTH"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "DOT1X": "IEEE 802.1X Authentication Protocol.",
                "MAC_AUTH": "MAC Authentication Protocol."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "Authentication methods."
            },
            "maxItems": 2,
            "type": "array"
          },
          "auth-priority": {
            "description": "Priority order for port-access authentication. Auth-priority must\ncontain either 0 or 2 elements. If not set, priority will follow\nthe 'auth-precedence' order.",
            "items": {
              "description": "Priority order for port-access authentication. Auth-priority must\ncontain either 0 or 2 elements. If not set, priority will follow\nthe 'auth-precedence' order.",
              "enum": [
                "DOT1X",
                "MAC_AUTH"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "DOT1X": "IEEE 802.1X Authentication Protocol.",
                "MAC_AUTH": "MAC Authentication Protocol."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "Authentication methods."
            },
            "maxItems": 2,
            "type": "array"
          },
          "client-auto-logoff-enable": {
            "description": "The list of reasons when a client can be automatically logged off by\nthe device.",
            "items": {
              "description": "The list of reasons when a client can be automatically logged off by\nthe device.",
              "enum": [
                "FINAL_AUTHENTICATION_FAILURE"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "FINAL_AUTHENTICATION_FAILURE": "The device automatically logs-off a client if it fails\nauthentication with all the enabled authentication methods.\nThe authentication failure reason should not be one of server-reject\nor server-timeout server-reject or server-timeout."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Client auto logff reasons."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "client-move": {
            "description": "The client move configuration.",
            "enum": [
              "DISABLED",
              "ENABLED",
              "SECURE_ENABLED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DISABLED": "Client cannot move between interfaces.",
              "ENABLED": "Client can move between interfaces without authentication itself\non the new interface.",
              "SECURE_ENABLED": "Client can move between interfaces but only after authenticating\nitself on the new interface."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Client move types."
          },
          "cloud-auth": {
            "default": "false",
            "description": "Enable cloud authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "concurrent-onboarding": {
            "default": "false",
            "description": "Enable authentication methods to start concurrently for faster\nonboarding. If not set, clients are onboarded based on the order\nspecified by 'onboarding-precedence'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "controlled-direction": {
            "default": "BOTH",
            "description": "Configure how traffic is controlled on non-authenticated ports: in both directions (ingress and egress) or ingress only.\nDefault is BOTH.",
            "enum": [
              "BOTH",
              "IN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BOTH": "Exert access control in both directions.",
              "IN": "Exert access control on incoming packets only."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Controlled direction mode for port-access authentication."
          },
          "dot1xauth-server-group": {
            "description": "802.1X authentication server group.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          },
          "macauth-server-group": {
            "description": "MAC authentication server group",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mda-data-clients-limit": {
            "default": "1",
            "description": "Maximum number of 'data' clients that can be authenticated on the\ninterface when multi-domain is enabled. If the number of 'data' clients\non the interface exceeds this client limit, it will be considered as a\nviolation and the configured threshold-violation action is taken.",
            "format": "int32",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "onboarding-precedence": {
            "description": "Precedence order when onboarding a client. Onboarding-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence order\nof AAA followed by device-profile will be used.",
            "items": {
              "description": "Precedence order when onboarding a client. Onboarding-precedence must\ncontain either 0 or 2 elements. If empty, the default precedence order\nof AAA followed by device-profile will be used.",
              "enum": [
                "AAA",
                "DEVICE_PROFILE"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "AAA": "Onboard clients based on AAA authentication.",
                "DEVICE_PROFILE": "Onboard clients based on device-profile."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Onboarding methods."
            },
            "maxItems": 2,
            "type": "array"
          }
        }
      },
      "ArubaAaaProfile_AuthenticationConfigGroup": {
        "description": "Group for authentication configurations.",
        "properties": {
          "authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationAttributesGroup"
              }
            ],
            "description": "Authentication attributes.",
            "properties": {
              "dot1x-auth": {
                "description": "802.1X authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-dot1xauth:dot1xauth/ac-aaa-dot1xauth:profile/ac-aaa-dot1xauth:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              },
              "dot1x-default-role": {
                "description": "802.1x Authentication Default Role.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dot1x-supp": {
                "description": "802.1x supplicant profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-dot1xsupp:dot1xsupp/ac-aaa-dot1xsupp:profile/ac-aaa-dot1xsupp:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "lma": {
                "description": "Local mac based authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-lma:localmacauth/ac-aaa-lma:profile/ac-aaa-lma:name"
              },
              "mac-auth": {
                "description": "MAC based authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-macauth:macauth/ac-aaa-macauth:profile/ac-aaa-macauth:name",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              },
              "mac-default-role": {
                "description": "MAC Authentication Default Role.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "web-auth": {
                "description": "Web based authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-webauth:webauth/ac-aaa-webauth:profile/ac-aaa-webauth:name"
              }
            }
          }
        }
      },
      "ArubaAaaProfile_AuthenticationConfigGroupGet": {
        "description": "Group for authentication configurations.",
        "properties": {
          "authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAaaProfile_AuthenticationAttributesGroupGet"
              }
            ],
            "description": "Authentication attributes.",
            "properties": {
              "dot1x-auth": {
                "description": "802.1X authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-dot1xauth:dot1xauth/ac-aaa-dot1xauth:profile/ac-aaa-dot1xauth:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              },
              "dot1x-default-role": {
                "description": "802.1x Authentication Default Role.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dot1x-supp": {
                "description": "802.1x supplicant profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-dot1xsupp:dot1xsupp/ac-aaa-dot1xsupp:profile/ac-aaa-dot1xsupp:name",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "lma": {
                "description": "Local mac based authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-lma:localmacauth/ac-aaa-lma:profile/ac-aaa-lma:name"
              },
              "mac-auth": {
                "description": "MAC based authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-macauth:macauth/ac-aaa-macauth:profile/ac-aaa-macauth:name",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              },
              "mac-default-role": {
                "description": "MAC Authentication Default Role.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "web-auth": {
                "description": "Web based authentication profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-aaa-webauth:webauth/ac-aaa-webauth:profile/ac-aaa-webauth:name"
              }
            }
          }
        }
      },
      "ArubaAaaProfile_AuthenticationLagAttributesGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AllowFloodTrafficConfigGroup"
          }
        ],
        "description": "Group for authentication attributes which are supported on lag interface.",
        "properties": {
          "auth-mode": {
            "default": "CLIENT_MODE",
            "description": "The mode determining how each client on the interface can gain access\nto the network.",
            "enum": [
              "DEVICE_MODE",
              "CLIENT_MODE",
              "MULTI_DOMAIN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLIENT_MODE": "Each client must be authenticated separately to be granted network\naccess.",
              "DEVICE_MODE": "The first authenticated client grants network access to all the other\nclients.",
              "MULTI_DOMAIN": "Limit the number of authenticated clients to one 'voice' client and a\nconfigured number of 'data' clients."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Authentication modes."
          },
          "bpdu-auth": {
            "description": "BPDUs that can trigger authentication.",
            "properties": {
              "cdp": {
                "default": "true",
                "description": "Enable CDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "true",
                "description": "Enable LLDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "mac-type": {
                "default": "CHASSIS_MAC",
                "description": "MAC address to use when authentication is triggered by an\nLLDP frame. This is applicable only when LLDP packets are\nallowed to trigger authentication.",
                "enum": [
                  "CHASSIS_MAC",
                  "SOURCE_MAC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHASSIS_MAC": "Use the chassis MAC in LLDP TLV",
                  "SOURCE_MAC": "Use the source MAC in LLDP frame"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "LLDP MAC address types"
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bpdu-bypass": {
            "description": "BPDUs to be serviced by the device before authentication is\nsuccessful on the interface.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "false",
                "description": "Enable LLDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "bpdu-proxy-logoff": {
            "description": "Proxy logoff the client based on the interface status in BPDU packets.\nDevice will clear authentication session of the client if it receives\nan interface down status in the BPDU packet.\nWhen not configured, no action is taken.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP based proxy-logoff.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-limit": {
            "description": "Maximum number of clients that can be authenticated on the interface.",
            "format": "int32",
            "maximum": 256,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "device-profile-secure": {
            "description": "Enable device-profile with security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthenticationLagAttributesGroupGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AllowFloodTrafficConfigGroupGet"
          }
        ],
        "description": "Group for authentication attributes which are supported on lag interface.",
        "properties": {
          "auth-mode": {
            "default": "CLIENT_MODE",
            "description": "The mode determining how each client on the interface can gain access\nto the network.",
            "enum": [
              "DEVICE_MODE",
              "CLIENT_MODE",
              "MULTI_DOMAIN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLIENT_MODE": "Each client must be authenticated separately to be granted network\naccess.",
              "DEVICE_MODE": "The first authenticated client grants network access to all the other\nclients.",
              "MULTI_DOMAIN": "Limit the number of authenticated clients to one 'voice' client and a\nconfigured number of 'data' clients."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Authentication modes."
          },
          "bpdu-auth": {
            "description": "BPDUs that can trigger authentication.",
            "properties": {
              "cdp": {
                "default": "true",
                "description": "Enable CDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "true",
                "description": "Enable LLDP packets to trigger authentication.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "mac-type": {
                "default": "CHASSIS_MAC",
                "description": "MAC address to use when authentication is triggered by an\nLLDP frame. This is applicable only when LLDP packets are\nallowed to trigger authentication.",
                "enum": [
                  "CHASSIS_MAC",
                  "SOURCE_MAC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHASSIS_MAC": "Use the chassis MAC in LLDP TLV",
                  "SOURCE_MAC": "Use the source MAC in LLDP frame"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "LLDP MAC address types"
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bpdu-bypass": {
            "description": "BPDUs to be serviced by the device before authentication is\nsuccessful on the interface.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "lldp": {
                "default": "false",
                "description": "Enable LLDP packets to be serviced by the device before\nauthentication is successful on the interface.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "bpdu-proxy-logoff": {
            "description": "Proxy logoff the client based on the interface status in BPDU packets.\nDevice will clear authentication session of the client if it receives\nan interface down status in the BPDU packet.\nWhen not configured, no action is taken.",
            "properties": {
              "cdp": {
                "default": "false",
                "description": "Enable CDP based proxy-logoff.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-limit": {
            "description": "Maximum number of clients that can be authenticated on the interface.",
            "format": "int32",
            "maximum": 256,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "device-profile-secure": {
            "description": "Enable device-profile with security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthorizationAttributesGroup": {
        "description": "Group for authorization attributes.",
        "properties": {
          "auth-role": {
            "description": "The role to be applied for clients that have been authenticated\nbut not received any specific role or attribute from the authentication\nserver.\nWhen not set, no role is applied for clients that successfully\nauthenticated without a role assigned from the RADIUS server.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "auto-vlan-enable": {
            "default": "false",
            "description": "Enable automatic creation of a VLAN for authenticated clients if the\nVLAN is not already available on the device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cached-critical-role-enable": {
            "description": "Enables caching authenticated clients and their associated\nrole information on the interface. Clients are assigned to their\npreviously authenticated role.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "critical-auth-role": {
            "description": "The role to be applied for clients, that failed authentication\ndue to unreachable authentication servers.\nWhen not set, no role is applied for clients that could not\ncomplete authentication due to RADIUS server being unreachable.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "critical-data-vlan": {
            "description": "Configure critical-auth VLAN as data VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "critical-voice-role": {
            "description": "The role to be applied to 'voice' client that have failed\nre-authentication due to servers being unreachable.\nWhen not set, no role will be applied for voice clients when they\nfail re-authentication due to server being unreachable.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "critical-voice-vlan": {
            "description": "Configure critical-auth VLAN as voice VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "default-vlan-type": {
            "description": "Type of default vlan.",
            "enum": [
              "NAMED_VLAN",
              "VLAN_RANGES"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NAMED_VLAN": "Configure the VLAN(s) using a named-VLAN",
              "VLAN_RANGES": "Configure the VLAN(s) as a list of VLAN ranges"
            },
            "x-typeDescription": "VLAN ID configuration Types."
          },
          "fallback-role": {
            "description": "The role that will be applied to clients that have not been\nassigned a role via any of the onboarding methods.\nWhen not set, no role is applied for the client.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "open-data-vlan": {
            "description": "Configure open-auth VLAN as data VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "open-voice-vlan": {
            "description": "Configure open-auth VLAN as voice VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "pre-auth-role": {
            "description": "The role to be applied for clients that are yet to be authenticated.\nWhen not set, no role is applied for clients while the\nauthentication is in progress for the client.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "radius-override-enable": {
            "default": "false",
            "description": "Enable RADIUS override support. When enabled, RADIUS attributes\nreceived from the server will override corresponding attributes\nconfigured in the role assigned to the client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "reject-role": {
            "description": "The role to be applied for clients that failed authentication.\nWhen not set, for AOS-CX devices, no role is applied for clients that fail authentication.\nA default denyall role is applied on AOS-S devices.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ubt-fallback-role": {
            "description": "For any client,for which the corresponding UBT zone reachability\nis failed, ubt-fallback role is applied. The client on ubt-fallback\nrole is automatically reverted to the previous role whenever UBT zone\nstatus is back to reachable state.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthorizationAttributesGroupGet": {
        "description": "Group for authorization attributes.",
        "properties": {
          "auth-role": {
            "description": "The role to be applied for clients that have been authenticated\nbut not received any specific role or attribute from the authentication\nserver.\nWhen not set, no role is applied for clients that successfully\nauthenticated without a role assigned from the RADIUS server.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "auto-vlan-enable": {
            "default": "false",
            "description": "Enable automatic creation of a VLAN for authenticated clients if the\nVLAN is not already available on the device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cached-critical-role-enable": {
            "description": "Enables caching authenticated clients and their associated\nrole information on the interface. Clients are assigned to their\npreviously authenticated role.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "critical-auth-role": {
            "description": "The role to be applied for clients, that failed authentication\ndue to unreachable authentication servers.\nWhen not set, no role is applied for clients that could not\ncomplete authentication due to RADIUS server being unreachable.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "critical-data-vlan": {
            "description": "Configure critical-auth VLAN as data VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "critical-voice-role": {
            "description": "The role to be applied to 'voice' client that have failed\nre-authentication due to servers being unreachable.\nWhen not set, no role will be applied for voice clients when they\nfail re-authentication due to server being unreachable.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "critical-voice-vlan": {
            "description": "Configure critical-auth VLAN as voice VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "default-vlan-type": {
            "description": "Type of default vlan.",
            "enum": [
              "NAMED_VLAN",
              "VLAN_RANGES"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NAMED_VLAN": "Configure the VLAN(s) using a named-VLAN",
              "VLAN_RANGES": "Configure the VLAN(s) as a list of VLAN ranges"
            },
            "x-typeDescription": "VLAN ID configuration Types."
          },
          "fallback-role": {
            "description": "The role that will be applied to clients that have not been\nassigned a role via any of the onboarding methods.\nWhen not set, no role is applied for the client.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "open-data-vlan": {
            "description": "Configure open-auth VLAN as data VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "open-voice-vlan": {
            "description": "Configure open-auth VLAN as voice VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "pre-auth-role": {
            "description": "The role to be applied for clients that are yet to be authenticated.\nWhen not set, no role is applied for clients while the\nauthentication is in progress for the client.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "radius-override-enable": {
            "default": "false",
            "description": "Enable RADIUS override support. When enabled, RADIUS attributes\nreceived from the server will override corresponding attributes\nconfigured in the role assigned to the client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "reject-role": {
            "description": "The role to be applied for clients that failed authentication.\nWhen not set, for AOS-CX devices, no role is applied for clients that fail authentication.\nA default denyall role is applied on AOS-S devices.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ubt-fallback-role": {
            "description": "For any client,for which the corresponding UBT zone reachability\nis failed, ubt-fallback role is applied. The client on ubt-fallback\nrole is automatically reverted to the previous role whenever UBT zone\nstatus is back to reachable state.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthorizationConfigGroup": {
        "description": "Group for authorization configurations.",
        "properties": {
          "authorization": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAaaProfile_AuthorizationAttributesGroup"
              }
            ],
            "description": "Authorization attributes."
          }
        }
      },
      "ArubaAaaProfile_AuthorizationConfigGroupGet": {
        "description": "Group for authorization configurations.",
        "properties": {
          "authorization": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAaaProfile_AuthorizationAttributesGroupGet"
              }
            ],
            "description": "Authorization attributes."
          }
        }
      },
      "ArubaAaaProfile_MiscellaneousConfigGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_RadiusAccountingConfigGroup"
          }
        ],
        "description": "Group for miscellaneous configurations.",
        "properties": {
          "ageout-bridge-user": {
            "default": "false",
            "description": "Ageout mechanism on bridge mode wireless clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "denylist-sco-attack": {
            "default": "false",
            "description": "Denylist client when Security-Context-Override attack.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "devtype-classification": {
            "default": "true",
            "description": "Device Type Classification.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dh-groups": {
            "default": "DIFFIE_HELLMAN_GRP_19",
            "description": "Diffie-Hellman Groups Supported for EnhancedOpen.",
            "enum": [
              "DIFFIE_HELLMAN_GRP_19",
              "DIFFIE_HELLMAN_GRP_20",
              "DIFFIE_HELLMAN_GRP_21"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DIFFIE_HELLMAN_GRP_19": "Diffie-Hellman Group 19.",
              "DIFFIE_HELLMAN_GRP_20": "Diffie-Hellman Group 20.",
              "DIFFIE_HELLMAN_GRP_21": "Diffie-Hellman Group 21."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Diffie Hellman groups."
          },
          "dl3-radius-proxy-mode": {
            "default": "false",
            "description": "Distributed L3 mode for radproxy in microbranch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "download-role": {
            "default": "false",
            "description": "Download Role from CPPM if not defined.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dpp-netaccess-default-role": {
            "description": "DPP NetAccess Default Role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dpp-netaccess-server-group": {
            "description": "Associate to a DPP NetAccess server group.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "enforce-dhcp": {
            "default": "false",
            "description": "Require IP address to be obtained using DHCP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "l2-auth-fail-through": {
            "default": "false",
            "description": "Continue with other authentication schemes even if one fails.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "max-ipv4-ip-wireless": {
            "default": "2",
            "description": "Number of IPv4 addresse allowed.",
            "format": "int64",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "pan-integration": {
            "default": "false",
            "description": "Require IP mapping at Palo Alto Networks firewalls.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "reauth-wired-user-vlan-change": {
            "default": "false",
            "description": "Reauthenticate wired user when changing VLANs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "rfc3576-profile": {
            "description": "This leaf will get deprecated. Please use the leaf-list rfc3576-server-list to send user disconnect, CoA.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "rfc3576-server-list": {
            "description": "RFC3576 server to send user disconnect, CoA.\nThis field should only refer the auth servers with type RADIUS and mode as AUTH_AND_COA or COA_ONLY",
            "items": {
              "description": "RFC3576 server to send user disconnect, CoA.\nThis field should only refer the auth servers with type RADIUS and mode as AUTH_AND_COA or COA_ONLY",
              "format": "const",
              "maxLength": 64,
              "minLength": 1,
              "type": "string",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "user-derivation-rule": {
            "description": "user derivation rule",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-udr:user-derivation-rules/ac-udr:user-rule/ac-udr:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "user-idle-timeout": {
            "description": "User idle timeout value. Value of 0 deletes the user immediately on disassoc/disconnect.",
            "format": "int64",
            "maximum": 15300,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "User idle timeout in seconds. Value of 0 deletes the user immediately on disassoc/disconnect. Valid range is 30-15300 seconds in multiples of 30 seconds."
          },
          "username-from-dhcp-opt12": {
            "default": "false",
            "description": "Username from dhcp option 12 for non-802.1x users.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "webserver": {
            "default": "true",
            "description": "Enable webserver access",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "wired-to-wireless-roam": {
            "default": "true",
            "description": "Keep user authenticated when roaming from wired side.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "xml-api-server": {
            "description": "Configure XML API server.",
            "items": {
              "description": "Configure XML API server.",
              "format": "const",
              "maxLength": 63,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaAaaProfile_MiscellaneousConfigGroupGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_RadiusAccountingConfigGroupGet"
          }
        ],
        "description": "Group for miscellaneous configurations.",
        "properties": {
          "ageout-bridge-user": {
            "default": "false",
            "description": "Ageout mechanism on bridge mode wireless clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "denylist-sco-attack": {
            "default": "false",
            "description": "Denylist client when Security-Context-Override attack.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "devtype-classification": {
            "default": "true",
            "description": "Device Type Classification.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dh-groups": {
            "default": "DIFFIE_HELLMAN_GRP_19",
            "description": "Diffie-Hellman Groups Supported for EnhancedOpen.",
            "enum": [
              "DIFFIE_HELLMAN_GRP_19",
              "DIFFIE_HELLMAN_GRP_20",
              "DIFFIE_HELLMAN_GRP_21"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DIFFIE_HELLMAN_GRP_19": "Diffie-Hellman Group 19.",
              "DIFFIE_HELLMAN_GRP_20": "Diffie-Hellman Group 20.",
              "DIFFIE_HELLMAN_GRP_21": "Diffie-Hellman Group 21."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Diffie Hellman groups."
          },
          "dl3-radius-proxy-mode": {
            "default": "false",
            "description": "Distributed L3 mode for radproxy in microbranch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "download-role": {
            "default": "false",
            "description": "Download Role from CPPM if not defined.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dpp-netaccess-default-role": {
            "description": "DPP NetAccess Default Role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dpp-netaccess-server-group": {
            "description": "Associate to a DPP NetAccess server group.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "enforce-dhcp": {
            "default": "false",
            "description": "Require IP address to be obtained using DHCP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "l2-auth-fail-through": {
            "default": "false",
            "description": "Continue with other authentication schemes even if one fails.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "max-ipv4-ip-wireless": {
            "default": "2",
            "description": "Number of IPv4 addresse allowed.",
            "format": "int64",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "pan-integration": {
            "default": "false",
            "description": "Require IP mapping at Palo Alto Networks firewalls.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "reauth-wired-user-vlan-change": {
            "default": "false",
            "description": "Reauthenticate wired user when changing VLANs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "rfc3576-profile": {
            "description": "This leaf will get deprecated. Please use the leaf-list rfc3576-server-list to send user disconnect, CoA.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "rfc3576-server-list": {
            "description": "RFC3576 server to send user disconnect, CoA.\nThis field should only refer the auth servers with type RADIUS and mode as AUTH_AND_COA or COA_ONLY",
            "items": {
              "description": "RFC3576 server to send user disconnect, CoA.\nThis field should only refer the auth servers with type RADIUS and mode as AUTH_AND_COA or COA_ONLY",
              "format": "const",
              "maxLength": 64,
              "minLength": 1,
              "type": "string",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "user-derivation-rule": {
            "description": "user derivation rule",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-udr:user-derivation-rules/ac-udr:user-rule/ac-udr:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "user-idle-timeout": {
            "description": "User idle timeout value. Value of 0 deletes the user immediately on disassoc/disconnect.",
            "format": "int64",
            "maximum": 15300,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "User idle timeout in seconds. Value of 0 deletes the user immediately on disassoc/disconnect. Valid range is 30-15300 seconds in multiples of 30 seconds."
          },
          "username-from-dhcp-opt12": {
            "default": "false",
            "description": "Username from dhcp option 12 for non-802.1x users.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "webserver": {
            "default": "true",
            "description": "Enable webserver access",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "wired-to-wireless-roam": {
            "default": "true",
            "description": "Keep user authenticated when roaming from wired side.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "xml-api-server": {
            "description": "Configure XML API server.",
            "items": {
              "description": "Configure XML API server.",
              "format": "const",
              "maxLength": 63,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaAaaProfile_RadiusAccountingConfigGroup": {
        "description": "Group for Radius accounting related configurations",
        "properties": {
          "acct-server-group": {
            "description": "Server group for radius accounting.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "acct-session-id-in-access": {
            "default": "false",
            "description": "Include Acct-Session-Id in RADIUS Access-Request.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "interim-accounting": {
            "default": "false",
            "description": "Send RADIUS interim accounting records.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "multiple-server-accounting": {
            "default": "false",
            "description": "Send RADIUS Accounting to all servers in RADIUS accounting server group.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "open-system-accounting": {
            "default": "false",
            "description": "Open system SSID radius accounting.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "radius-loc-obj-in-access": {
            "default": "false",
            "description": "Include Location-Object in RADIUS Access-Request",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "radius-loc-obj-in-accting": {
            "default": "false",
            "description": "Include Location-Object in RADIUS Accounting-Request",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "radius-station-based-acct-session": {
            "default": "false",
            "description": "Station-based RADIUS accounting session for Wireless.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "roam-accounting": {
            "default": "false",
            "description": "Roaming RADIUS accounting service.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaProfile_RadiusAccountingConfigGroupGet": {
        "description": "Group for Radius accounting related configurations",
        "properties": {
          "acct-server-group": {
            "description": "Server group for radius accounting.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "acct-session-id-in-access": {
            "default": "false",
            "description": "Include Acct-Session-Id in RADIUS Access-Request.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "interim-accounting": {
            "default": "false",
            "description": "Send RADIUS interim accounting records.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "multiple-server-accounting": {
            "default": "false",
            "description": "Send RADIUS Accounting to all servers in RADIUS accounting server group.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "open-system-accounting": {
            "default": "false",
            "description": "Open system SSID radius accounting.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "radius-loc-obj-in-access": {
            "default": "false",
            "description": "Include Location-Object in RADIUS Access-Request",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "radius-loc-obj-in-accting": {
            "default": "false",
            "description": "Include Location-Object in RADIUS Accounting-Request",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "radius-station-based-acct-session": {
            "default": "false",
            "description": "Station-based RADIUS accounting session for Wireless.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "roam-accounting": {
            "default": "false",
            "description": "Roaming RADIUS accounting service.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaProfile_SecurityViolationConfigGroup": {
        "description": "Group for security violation configurations shared by aaa-profile and port-security.",
        "properties": {
          "security-violation": {
            "description": "Security violation configuration.",
            "properties": {
              "action": {
                "description": "Action to take on a security violation (notify or shutdown).\nThis is only supported on physical ports.",
                "enum": [
                  "NONE",
                  "NOTIFY",
                  "SHUTDOWN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NONE": "Prevent an SNMP trap from being sent.",
                  "NOTIFY": "Send an SNMP trap and log an event on a violation.",
                  "SHUTDOWN": "Send an SNMP trap, log an event and shut the interface down on a\nviolation."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Violation action type."
              },
              "recovery-timer": {
                "default": "10",
                "description": "Time in seconds after which the interface is re-enabled if it was\nshutdown in response to a violation event.\nThis is only applicable if shutdown recovery is enabled.",
                "format": "int32",
                "maximum": 600,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "shutdown-recovery-enable": {
                "default": "false",
                "description": "Enable auto-recovery of the interface. This is only applicable when\nthe violation action is set to shutdown.\nThe interface is re-enabled after the recovery timer has expired.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAaaProfile_SecurityViolationConfigGroupGet": {
        "description": "Group for security violation configurations shared by aaa-profile and port-security.",
        "properties": {
          "security-violation": {
            "description": "Security violation configuration.",
            "properties": {
              "action": {
                "description": "Action to take on a security violation (notify or shutdown).\nThis is only supported on physical ports.",
                "enum": [
                  "NONE",
                  "NOTIFY",
                  "SHUTDOWN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NONE": "Prevent an SNMP trap from being sent.",
                  "NOTIFY": "Send an SNMP trap and log an event on a violation.",
                  "SHUTDOWN": "Send an SNMP trap, log an event and shut the interface down on a\nviolation."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Violation action type."
              },
              "recovery-timer": {
                "default": "10",
                "description": "Time in seconds after which the interface is re-enabled if it was\nshutdown in response to a violation event.\nThis is only applicable if shutdown recovery is enabled.",
                "format": "int32",
                "maximum": 600,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "shutdown-recovery-enable": {
                "default": "false",
                "description": "Enable auto-recovery of the interface. This is only applicable when\nthe violation action is set to shutdown.\nThe interface is re-enabled after the recovery timer has expired.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
[...]
