{
  "openapi": "3.1.0",
  "info": {
    "title": "Aaa Captive Portal",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Aaa Captive Portal"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/captive-portal": {
      "get": {
        "description": "Use this API to configure external captive portal profiles for guest users. For AP and GW, When the captive portal profile is applied to an SSID or a wired profile, the users connecting\nto the SSID or wired network are assigned a role with the captive portal rule. For CX, when the client is 802.1x or MAC authenticated through RADIUS-server, the redirect parameters in this\nprofile can be applied through user-role, Downloadable User Role and RADIUS Vendor Specific Attribute. This feature is applicable for AP, CX and GW.",
        "operationId": "readCaptivePortal",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAaaCaptivePortal_CaptivePortalSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of external captive portal",
        "tags": [
          "Aaa Captive Portal"
        ],
        "x-cliParam": {
          "commandName": "readCaptivePortalCmd",
          "commandUse": "captive-portal",
          "parentCommand": "readCmd",
          "pathToPrint": "/captive-portal/",
          "summary": "Read operation for captive-portal"
        }
      }
    },
    "/network-config/v1alpha1/captive-portal/{name}": {
      "get": {
        "description": "Captive portal profile configuration.",
        "operationId": "readCaptivePortalProfileByID",
        "parameters": [
          {
            "description": "The name of the captive portal profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAaaCaptivePortal_CaptivePortalprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing external captive profile configuration",
        "tags": [
          "Aaa Captive Portal"
        ],
        "x-cliParam": {
          "commandName": "readCaptivePortalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readCaptivePortalCmd",
          "pathToPrint": "/captive-portal/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Captive portal profile configuration.",
        "operationId": "replaceCaptivePortalProfileByID",
        "parameters": [
          {
            "description": "The name of the captive portal profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaCaptivePortal_CaptivePortalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing external captive profile configuration",
        "tags": [
          "Aaa Captive Portal"
        ],
        "x-cliParam": {
          "commandName": "replaceCaptivePortalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceCaptivePortalCmd",
          "pathToPrint": "/captive-portal/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Captive portal profile configuration.",
        "operationId": "createCaptivePortalProfileByID",
        "parameters": [
          {
            "description": "The name of the captive portal profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaCaptivePortal_CaptivePortalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new external captive profile by unique name",
        "tags": [
          "Aaa Captive Portal"
        ],
        "x-cliParam": {
          "commandName": "createCaptivePortalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createCaptivePortalCmd",
          "pathToPrint": "/captive-portal/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Captive portal profile configuration.",
        "operationId": "deleteCaptivePortalProfileByID",
        "parameters": [
          {
            "description": "The name of the captive portal profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the external captive profile",
        "tags": [
          "Aaa Captive Portal"
        ],
        "x-cliParam": {
          "commandName": "deleteCaptivePortalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteCaptivePortalCmd",
          "pathToPrint": "/captive-portal/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Captive portal profile configuration.",
        "operationId": "updateCaptivePortalProfileByID",
        "parameters": [
          {
            "description": "The name of the captive portal profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAaaCaptivePortal_CaptivePortalprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing external captive profile configuration",
        "tags": [
          "Aaa Captive Portal"
        ],
        "x-cliParam": {
          "commandName": "updateCaptivePortalProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateCaptivePortalCmd",
          "pathToPrint": "/captive-portal/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaCaptivePortal_CaptivePortalSchemaGET": {
        "description": "Use this API to configure external captive portal profiles for guest users. For AP and GW, When the captive portal profile is applied to an SSID or a wired profile, the users connecting\nto the SSID or wired network are assigned a role with the captive portal rule. For CX, when the client is 802.1x or MAC authenticated through RADIUS-server, the redirect parameters in this\nprofile can be applied through user-role, Downloadable User Role and RADIUS Vendor Specific Attribute. This feature is applicable for AP, CX and GW.",
        "properties": {
          "profile": {
            "description": "Captive portal profile configuration.",
            "items": {
              "properties": {
                "allow-list": {
                  "description": "Allow List of Netdestinations.",
                  "items": {
                    "description": "Allow List of Netdestinations.",
                    "format": "const",
                    "maxLength": 63,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "ap-mac-in-redirection-url": {
                  "default": "false",
                  "description": "Add AP's MAC address in redirection URL.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "apple-cna-bypass": {
                  "default": "false",
                  "description": "To bypass Apple CNA on iOS devices like iPad, iPhone, iPod.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "auth-protocol": {
                  "default": "PAP",
                  "description": "Authentication Protocol to be used.",
                  "enum": [
                    "PAP",
                    "MSCHAPv2",
                    "CHAP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CHAP": "Use CHAP (non-standard) to authenticate user.",
                    "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
                    "PAP": "Use PAP to authenticate user."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Auth procotocols to authenticate user."
                },
                "auth-text": {
                  "description": "Configures the authentication text to be returned by the external server. The authentication text command configuration is\nrequired only for the External Authentication Text splash mode.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "auto-allowlist": {
                  "default": "false",
                  "description": "Disables automatic whitelisting / allowlisting of URLs.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "default-guest-role": {
                  "description": "Default guest user role.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "default-role": {
                  "description": "Default user role.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "deny-list": {
                  "description": "Deny List of Netdestinations.",
                  "items": {
                    "description": "Deny List of Netdestinations.",
                    "format": "const",
                    "maxLength": 63,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "description": {
                  "description": "Description, or comment, for the Captive Portal profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "enable-welcome-page": {
                  "default": "true",
                  "description": "Enable the welcome page before redirection to original destination.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "external-cp-server-url": {
                  "description": "The URL for the external captive portal server, URL format:http(s)://<server>:<port>/path.",
                  "format": "const",
                  "maxLength": 1024,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "guest-logon": {
                  "default": "false",
                  "description": "Allow guest user login.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ip-addr-in-redirection-url": {
                  "description": "Add one of the controller interfaces in the redirection URL.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "logon-wait-cpu-threshold": {
                  "default": "60",
                  "description": "Logon wait when CPU is overloaded, CPU utilization threshold (%). Range: 1-100. Default: 60.",
                  "format": "int32",
                  "maximum": 100,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "logon-wait-max-delay": {
                  "default": "10",
                  "description": "Logon wait when CPU is overloaded,Maximum wait (secs).",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "logon-wait-min-delay": {
                  "default": "5",
                  "description": "Logon wait when CPU is overloaded, minimum wait (secs).",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "logout-popup-window": {
                  "default": "true",
                  "description": "Open popup window for logout after authentication.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "max-authentication-failures": {
                  "default": "0",
                  "description": "Maximum auth failures before user is added to denylist.Range: 0-10. Default: 0.",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "name": {
                  "description": "The name of the captive portal profile.",
                  "format": "const",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Access Point",
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "out-of-service-page": {
                  "description": "Configures a URL to redirect the users when the internet uplink is down.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "prevent-frame-overlay": {
                  "default": "false",
                  "description": "When the Prevent frame overlay option is enabled, a frame can display a page only if it is in the same domain as the main page.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "redirect-pause": {
                  "default": "10",
                  "description": "Pause time for automatic redirect.Range: 1-60, 0 to disable. Default: 10.",
                  "format": "int32",
                  "maximum": 60,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "redirect-url": {
                  "description": "Specify a redirect URL to redirect users to another URL.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
                },
                "server-failthrough": {
                  "default": "false",
                  "description": "Allow the guest clients to access Internet when the external captive portal server is not available.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "server-group": {
                  "description": "Associate to a server group.",
                  "format": "const",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "server-offload": {
                  "default": "false",
                  "description": "Enables the server-offload feature to reduce the load on the external captive portal server by allowing the Instant AP to use a Meta tag to redirect HTTP and HTTPS requests from the client.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "show-acceptable-use-policy": {
                  "default": "false",
                  "description": "Show the acceptable use policy page before the logon page.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "show-fqdn": {
                  "default": "false",
                  "description": "Allow user to see and select FQDN.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "single-session": {
                  "default": "false",
                  "description": "Allow only one active user session at a time.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "switch-ip": {
                  "default": "false",
                  "description": "Sends the IP address of the virtual controller in the redirection URL when external captive portal servers are used.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "url-hash-key-ciphertext-value": {
                  "description": "Hash the redirection URL using this key in ciphertext format.",
                  "format": "const",
                  "maxLength": 224,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "url-hash-key-format": {
                  "description": "Hash Key format.",
                  "enum": [
                    "PLAIN_TEXT",
                    "CIPHER_TEXT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CIPHER_TEXT": "Configure hash-key in ciphertext.",
                    "PLAIN_TEXT": "Configure hash-key in plaintext."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Hash key type"
                },
                "url-hash-key-value": {
                  "description": "Hash the redirection URL using this key.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "use-https": {
                  "default": "true",
                  "description": "Enforce clients to use HTTPS to communicate with the authentication server",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "user-idle-timeout": {
                  "description": "User idle timeout value. Valid range is 30-1296000 seconds in multiples of 30 seconds",
                  "format": "int64",
                  "maximum": 1296000,
                  "minimum": 30,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "User idle timeout for Captive Portal in seconds. Valid range is 30-1296000 seconds in multiples of 30 seconds."
                },
                "user-logon": {
                  "default": "true",
                  "description": "Allow registered user login.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "user-vlan-in-redirection-url": {
                  "default": "false",
                  "description": "Add user VLAN in redirection URL.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "welcome-page": {
                  "default": "/auth/welcome.html",
                  "description": "Alternate welcome page to show after authentication.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaCaptivePortal_CaptivePortalprofileSchema": {
        "properties": {
          "allow-list": {
            "description": "Allow List of Netdestinations.",
            "items": {
              "description": "Allow List of Netdestinations.",
              "format": "const",
              "maxLength": 63,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ap-mac-in-redirection-url": {
            "default": "false",
            "description": "Add AP's MAC address in redirection URL.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "apple-cna-bypass": {
            "default": "false",
            "description": "To bypass Apple CNA on iOS devices like iPad, iPhone, iPod.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "auth-protocol": {
            "default": "PAP",
            "description": "Authentication Protocol to be used.",
            "enum": [
              "PAP",
              "MSCHAPv2",
              "CHAP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Use CHAP (non-standard) to authenticate user.",
              "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
              "PAP": "Use PAP to authenticate user."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Auth procotocols to authenticate user."
          },
          "auth-text": {
            "description": "Configures the authentication text to be returned by the external server. The authentication text command configuration is\nrequired only for the External Authentication Text splash mode.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "auto-allowlist": {
            "default": "false",
            "description": "Disables automatic whitelisting / allowlisting of URLs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "default-guest-role": {
            "description": "Default guest user role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "default-role": {
            "description": "Default user role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "deny-list": {
            "description": "Deny List of Netdestinations.",
            "items": {
              "description": "Deny List of Netdestinations.",
              "format": "const",
              "maxLength": 63,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "description": {
            "description": "Description, or comment, for the Captive Portal profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "enable-welcome-page": {
            "default": "true",
            "description": "Enable the welcome page before redirection to original destination.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "external-cp-server-url": {
            "description": "The URL for the external captive portal server, URL format:http(s)://<server>:<port>/path.",
            "format": "const",
            "maxLength": 1024,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          },
          "guest-logon": {
            "default": "false",
            "description": "Allow guest user login.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ip-addr-in-redirection-url": {
            "description": "Add one of the controller interfaces in the redirection URL.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logon-wait-cpu-threshold": {
            "default": "60",
            "description": "Logon wait when CPU is overloaded, CPU utilization threshold (%). Range: 1-100. Default: 60.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logon-wait-max-delay": {
            "default": "10",
            "description": "Logon wait when CPU is overloaded,Maximum wait (secs).",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logon-wait-min-delay": {
            "default": "5",
            "description": "Logon wait when CPU is overloaded, minimum wait (secs).",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logout-popup-window": {
            "default": "true",
            "description": "Open popup window for logout after authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "max-authentication-failures": {
            "default": "0",
            "description": "Maximum auth failures before user is added to denylist.Range: 0-10. Default: 0.",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "The name of the captive portal profile.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          },
          "out-of-service-page": {
            "description": "Configures a URL to redirect the users when the internet uplink is down.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "prevent-frame-overlay": {
            "default": "false",
            "description": "When the Prevent frame overlay option is enabled, a frame can display a page only if it is in the same domain as the main page.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "redirect-pause": {
            "default": "10",
            "description": "Pause time for automatic redirect.Range: 1-60, 0 to disable. Default: 10.",
            "format": "int32",
            "maximum": 60,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "redirect-url": {
            "description": "Specify a redirect URL to redirect users to another URL.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "server-failthrough": {
            "default": "false",
            "description": "Allow the guest clients to access Internet when the external captive portal server is not available.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "server-group": {
            "description": "Associate to a server group.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "server-offload": {
            "default": "false",
            "description": "Enables the server-offload feature to reduce the load on the external captive portal server by allowing the Instant AP to use a Meta tag to redirect HTTP and HTTPS requests from the client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "show-acceptable-use-policy": {
            "default": "false",
            "description": "Show the acceptable use policy page before the logon page.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "show-fqdn": {
            "default": "false",
            "description": "Allow user to see and select FQDN.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "single-session": {
            "default": "false",
            "description": "Allow only one active user session at a time.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "switch-ip": {
            "default": "false",
            "description": "Sends the IP address of the virtual controller in the redirection URL when external captive portal servers are used.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "url-hash-key-ciphertext-value": {
            "description": "Hash the redirection URL using this key in ciphertext format.",
            "format": "const",
            "maxLength": 224,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "url-hash-key-format": {
            "description": "Hash Key format.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure hash-key in ciphertext.",
              "PLAIN_TEXT": "Configure hash-key in plaintext."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Hash key type"
          },
          "url-hash-key-value": {
            "description": "Hash the redirection URL using this key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "use-https": {
            "default": "true",
            "description": "Enforce clients to use HTTPS to communicate with the authentication server",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "user-idle-timeout": {
            "description": "User idle timeout value. Valid range is 30-1296000 seconds in multiples of 30 seconds",
            "format": "int64",
            "maximum": 1296000,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "User idle timeout for Captive Portal in seconds. Valid range is 30-1296000 seconds in multiples of 30 seconds."
          },
          "user-logon": {
            "default": "true",
            "description": "Allow registered user login.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "user-vlan-in-redirection-url": {
            "default": "false",
            "description": "Add user VLAN in redirection URL.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "welcome-page": {
            "default": "/auth/welcome.html",
            "description": "Alternate welcome page to show after authentication.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaCaptivePortal_CaptivePortalprofileSchemaGet": {
        "properties": {
          "allow-list": {
            "description": "Allow List of Netdestinations.",
            "items": {
              "description": "Allow List of Netdestinations.",
              "format": "const",
              "maxLength": 63,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ap-mac-in-redirection-url": {
            "default": "false",
            "description": "Add AP's MAC address in redirection URL.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "apple-cna-bypass": {
            "default": "false",
            "description": "To bypass Apple CNA on iOS devices like iPad, iPhone, iPod.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "auth-protocol": {
            "default": "PAP",
            "description": "Authentication Protocol to be used.",
            "enum": [
              "PAP",
              "MSCHAPv2",
              "CHAP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Use CHAP (non-standard) to authenticate user.",
              "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
              "PAP": "Use PAP to authenticate user."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Auth procotocols to authenticate user."
          },
          "auth-text": {
            "description": "Configures the authentication text to be returned by the external server. The authentication text command configuration is\nrequired only for the External Authentication Text splash mode.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "auto-allowlist": {
            "default": "false",
            "description": "Disables automatic whitelisting / allowlisting of URLs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "default-guest-role": {
            "description": "Default guest user role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "default-role": {
            "description": "Default user role.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "deny-list": {
            "description": "Deny List of Netdestinations.",
            "items": {
              "description": "Deny List of Netdestinations.",
              "format": "const",
              "maxLength": 63,
              "minLength": 1,
              "type": "string",
              "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "description": {
            "description": "Description, or comment, for the Captive Portal profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "enable-welcome-page": {
            "default": "true",
            "description": "Enable the welcome page before redirection to original destination.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "external-cp-server-url": {
            "description": "The URL for the external captive portal server, URL format:http(s)://<server>:<port>/path.",
            "format": "const",
            "maxLength": 1024,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          },
          "guest-logon": {
            "default": "false",
            "description": "Allow guest user login.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ip-addr-in-redirection-url": {
            "description": "Add one of the controller interfaces in the redirection URL.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logon-wait-cpu-threshold": {
            "default": "60",
            "description": "Logon wait when CPU is overloaded, CPU utilization threshold (%). Range: 1-100. Default: 60.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logon-wait-max-delay": {
            "default": "10",
            "description": "Logon wait when CPU is overloaded,Maximum wait (secs).",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logon-wait-min-delay": {
            "default": "5",
            "description": "Logon wait when CPU is overloaded, minimum wait (secs).",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "logout-popup-window": {
            "default": "true",
            "description": "Open popup window for logout after authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "max-authentication-failures": {
            "default": "0",
            "description": "Maximum auth failures before user is added to denylist.Range: 0-10. Default: 0.",
            "format": "int32",
            "maximum": 10,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "The name of the captive portal profile.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          },
          "out-of-service-page": {
            "description": "Configures a URL to redirect the users when the internet uplink is down.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "prevent-frame-overlay": {
            "default": "false",
            "description": "When the Prevent frame overlay option is enabled, a frame can display a page only if it is in the same domain as the main page.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "redirect-pause": {
            "default": "10",
            "description": "Pause time for automatic redirect.Range: 1-60, 0 to disable. Default: 10.",
            "format": "int32",
            "maximum": 60,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "redirect-url": {
            "description": "Specify a redirect URL to redirect users to another URL.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "server-failthrough": {
            "default": "false",
            "description": "Allow the guest clients to access Internet when the external captive portal server is not available.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "server-group": {
            "description": "Associate to a server group.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "server-offload": {
            "default": "false",
            "description": "Enables the server-offload feature to reduce the load on the external captive portal server by allowing the Instant AP to use a Meta tag to redirect HTTP and HTTPS requests from the client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "show-acceptable-use-policy": {
            "default": "false",
            "description": "Show the acceptable use policy page before the logon page.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "show-fqdn": {
            "default": "false",
            "description": "Allow user to see and select FQDN.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "single-session": {
            "default": "false",
            "description": "Allow only one active user session at a time.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "switch-ip": {
            "default": "false",
            "description": "Sends the IP address of the virtual controller in the redirection URL when external captive portal servers are used.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "url-hash-key-ciphertext-value": {
            "description": "Hash the redirection URL using this key in ciphertext format.",
            "format": "const",
            "maxLength": 224,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "url-hash-key-format": {
            "description": "Hash Key format.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure hash-key in ciphertext.",
              "PLAIN_TEXT": "Configure hash-key in plaintext."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Hash key type"
          },
          "url-hash-key-value": {
            "description": "Hash the redirection URL using this key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "use-https": {
            "default": "true",
            "description": "Enforce clients to use HTTPS to communicate with the authentication server",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "user-idle-timeout": {
            "description": "User idle timeout value. Valid range is 30-1296000 seconds in multiples of 30 seconds",
            "format": "int64",
            "maximum": 1296000,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "User idle timeout for Captive Portal in seconds. Valid range is 30-1296000 seconds in multiples of 30 seconds."
          },
          "user-logon": {
            "default": "true",
            "description": "Allow registered user login.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "user-vlan-in-redirection-url": {
            "default": "false",
            "description": "Add user VLAN in redirection URL.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "welcome-page": {
            "default": "/auth/welcome.html",
            "description": "Alternate welcome page to show after authentication.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaAaaCaptivePortal_CaptivePortalprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaAaaCaptivePortal_CaptivePortalprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
