{
  "openapi": "3.1.0",
  "info": {
    "title": "Auth Server Global",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Auth Server Global"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/auth-server-global-config": {
      "get": {
        "description": "Global configurations for Auth servers.",
        "operationId": "readAuthServerGlobalConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAuthServerGlobal_AuthServerGlobalConfigSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of Auth Server Global",
        "tags": [
          "Auth Server Global"
        ],
        "x-cliParam": {
          "commandName": "readAuthServerGlobalConfigCmd",
          "commandUse": "auth-server-global-config",
          "parentCommand": "readCmd",
          "pathToPrint": "/auth-server-global-config/",
          "summary": "Read operation for auth-server-global-config"
        }
      }
    },
    "/network-config/v1alpha1/auth-server-global-config/{name}": {
      "get": {
        "description": "Authentication Server Global Profiles.",
        "operationId": "readAuthServerGlobalConfigProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for Auth Server Global",
        "tags": [
          "Auth Server Global"
        ],
        "x-cliParam": {
          "commandName": "readAuthServerGlobalConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readAuthServerGlobalConfigCmd",
          "pathToPrint": "/auth-server-global-config/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Authentication Server Global Profiles.",
        "operationId": "replaceAuthServerGlobalConfigProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing Auth Server Global profile configurations",
        "tags": [
          "Auth Server Global"
        ],
        "x-cliParam": {
          "commandName": "replaceAuthServerGlobalConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceAuthServerGlobalConfigCmd",
          "pathToPrint": "/auth-server-global-config/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Authentication Server Global Profiles.",
        "operationId": "createAuthServerGlobalConfigProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile name for Auth Server Global",
        "tags": [
          "Auth Server Global"
        ],
        "x-cliParam": {
          "commandName": "createAuthServerGlobalConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createAuthServerGlobalConfigCmd",
          "pathToPrint": "/auth-server-global-config/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Authentication Server Global Profiles.",
        "operationId": "deleteAuthServerGlobalConfigProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for Auth Server Global",
        "tags": [
          "Auth Server Global"
        ],
        "x-cliParam": {
          "commandName": "deleteAuthServerGlobalConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteAuthServerGlobalConfigCmd",
          "pathToPrint": "/auth-server-global-config/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Authentication Server Global Profiles.",
        "operationId": "updateAuthServerGlobalConfigProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Auth Server Global profile configurations",
        "tags": [
          "Auth Server Global"
        ],
        "x-cliParam": {
          "commandName": "updateAuthServerGlobalConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateAuthServerGlobalConfigCmd",
          "pathToPrint": "/auth-server-global-config/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAuthServerGlobal_AuthServerGlobalConfigSchemaGET": {
        "description": "Global configurations for Auth servers.",
        "properties": {
          "profile": {
            "description": "Authentication Server Global Profiles.",
            "items": {
              "properties": {
                "access-request-include": {
                  "description": "Attributes to be included in access-request",
                  "properties": {
                    "framed-ip-address": {
                      "default": "false",
                      "description": "Include framed-ip-address in RADIUS access-request",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "tunnel-private-group-id": {
                      "description": "Include VLAN identifier in radius access-request",
                      "enum": [
                        "STATIC",
                        "DYNAMIC"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DYNAMIC": "Include dynamically configured VLAN identifier",
                        "STATIC": "Include statically configured VLAN identifier"
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Include VLAN identifier of port in access-request"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "authentication-type": {
                  "default": "PAP",
                  "description": "Specifies authentication protocol which is used for communication with Auth servers. This field can be configured only when type is RADIUS or TACACS.",
                  "enum": [
                    "PAP",
                    "MSCHAPv2",
                    "CHAP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CHAP": "Use CHAP (non-standard) to authenticate user.",
                    "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
                    "PAP": "Use PAP to authenticate user."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Auth procotocols to authenticate user."
                },
                "deadtime": {
                  "description": "Dead time for unavailable authentication server.",
                  "format": "int32",
                  "maximum": 1440,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "description": {
                  "description": "Profile description",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "dns-query-interval": {
                  "default": "5",
                  "description": "Configure the query interval in seconds.\nThis field can be configured only when the dns-query-mode is set to FIXED.",
                  "format": "int32",
                  "maximum": 60,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "dns-query-mode": {
                  "default": "BACKOFF",
                  "description": "Configure the query mode to resolve a FQDN address for a RADIUS server.\nThis field can be configured only when type is RADIUS",
                  "enum": [
                    "BACKOFF",
                    "FIXED"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BACKOFF": "Use exponential backoff wait timer for DNS queries.",
                    "FIXED": "Use a fixed wait timer for DNS queries."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Enumeration for DNS query mode"
                },
                "dynamic-authorization-enable": {
                  "default": "false",
                  "description": "Dynamic Authorization Enable.This field can be configured only when type is RADIUS.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "dynamic-authorization-port": {
                  "default": "3799",
                  "description": "UDP port number used by the dynamic authorization server. This field can be configured only when type is RADIUS",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                },
                "enable": {
                  "default": "false",
                  "description": "Dynamic Authorization Enable.This field can be configured only when type is RFC3576.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "enable-radsec": {
                  "default": "false",
                  "description": "Enables RADIUS over TLS. This field can be configured only when type is RADIUS.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "fqdn-retry-interval": {
                  "default": "0",
                  "description": "FQDN retry time in minutes",
                  "format": "int32",
                  "maximum": 5,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "infinite-deadtime": {
                  "default": "false",
                  "description": "Infinite deadtime for the Auth server.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "name": {
                  "description": "Profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "ordering-sequence": {
                  "default": "false",
                  "description": "Enables reordering upon deleting of tacacs server.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "retries": {
                  "default": "1",
                  "description": "The number of retry attempts to use for reaching out to RADIUS servers. This field can be configured only when type is RADIUS.",
                  "format": "int32",
                  "maximum": 5,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "service-type-in-access-request": {
                  "default": "false",
                  "description": "Service Type attribute in access request. This field can be configured only when type is RADIUS.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "shared-secret-config": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaAuthServerGlobal_SharedSecretInfoGet"
                    }
                  ],
                  "description": "This passkey is used as shared-secret for encrypting the communication between all Auth servers and the switch.\nThis field can be configured only when type is RADIUS or TACACS",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "single-connection-mode": {
                  "default": "true",
                  "description": "Single connection mode for TACACS servers. This field can be configured only when type is TACACS.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "status-server-interval": {
                  "default": "300",
                  "description": "Time interval to send the status server message. This field can be configured only when type is RADIUS.",
                  "format": "int64",
                  "maximum": 86400,
                  "minimum": 10,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "timeout": {
                  "default": "5",
                  "description": "The timeout value specifies the number of seconds to wait for a response from the Auth server before moving to next server.\nFor CX, range is 1-60. This field can be configured only when type is RADIUS or TACACS.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "tls-initial-connection-timeout": {
                  "default": "30",
                  "description": "TLS Initial connection timeout (timeout for TLS handshake). This field can be configured only when type is RADIUS.",
                  "format": "int32",
                  "maximum": 300,
                  "minimum": 5,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "tracking-enable": {
                  "default": "false",
                  "description": "Tracking status of the server.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tracking-interval": {
                  "default": "300",
                  "description": "Time interval to send the tracking request for Auth Server. This field can be configured only when type is RADIUS, TACACS or RADSEC.",
                  "format": "int64",
                  "maximum": 86400,
                  "minimum": 60,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "tracking-mode": {
                  "description": "Tracking mode of the server",
                  "enum": [
                    "ANY",
                    "DEAD_ONLY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ANY": "Track the server irrespective of its availability.",
                    "DEAD_ONLY": "Track the server only if it is not reachable."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Tracking mode type of the server"
                },
                "tracking-password-config": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaAuthServerGlobal_TrackingPasswordInfoGet"
                    }
                  ],
                  "description": "Configure the password used to track the RADIUS server. This field can be configured only when type is RADIUS or TACACS.",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "tracking-req-packet": {
                  "default": "3",
                  "description": "Maximum number of request packet to be sent for RADIUS tracking on retry",
                  "format": "int32",
                  "maximum": 5,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tracking-retries": {
                  "description": "Maximum number of retries to be done for RADIUS tracking. This field can be configured only when type is RADIUS.",
                  "format": "int32",
                  "maximum": 5,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "tracking-user-name": {
                  "description": "Username that will be used in Access-Request packets for Radius Server Tracking. This field can be configured only when type is RADIUS, TACACS or RADSEC.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "type": {
                  "description": "Auth Server Type.",
                  "enum": [
                    "RADIUS",
                    "LDAP",
                    "TACACS",
                    "WINDOWS",
                    "RFC3576",
                    "XMLAPI",
                    "RADSEC",
                    "LOCAL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "LDAP": "LDAP Server.",
                    "LOCAL": "Local Internal Server for GW.",
                    "RADIUS": "RADIUS Server.",
                    "RADSEC": "RadSec Server.",
                    "RFC3576": "Dynamic authorization Server.",
                    "TACACS": "TACACS Server.",
                    "WINDOWS": "Windows Server.",
                    "XMLAPI": "XML API Server."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Auth server types."
                },
                "udp-port": {
                  "default": "3799",
                  "description": "UDP port number used by the dynamic authorization server. This field can be configured only when type is RADIUS or RFC3576",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                },
                "vsa-disable": {
                  "default": "false",
                  "description": "Disables vendor specific attribute capability advertisement.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchema": {
        "properties": {
          "access-request-include": {
            "description": "Attributes to be included in access-request",
            "properties": {
              "framed-ip-address": {
                "default": "false",
                "description": "Include framed-ip-address in RADIUS access-request",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "tunnel-private-group-id": {
                "description": "Include VLAN identifier in radius access-request",
                "enum": [
                  "STATIC",
                  "DYNAMIC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DYNAMIC": "Include dynamically configured VLAN identifier",
                  "STATIC": "Include statically configured VLAN identifier"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Include VLAN identifier of port in access-request"
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "authentication-type": {
            "default": "PAP",
            "description": "Specifies authentication protocol which is used for communication with Auth servers. This field can be configured only when type is RADIUS or TACACS.",
            "enum": [
              "PAP",
              "MSCHAPv2",
              "CHAP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Use CHAP (non-standard) to authenticate user.",
              "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
              "PAP": "Use PAP to authenticate user."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Auth procotocols to authenticate user."
          },
          "deadtime": {
            "description": "Dead time for unavailable authentication server.",
            "format": "int32",
            "maximum": 1440,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "description": {
            "description": "Profile description",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "dns-query-interval": {
            "default": "5",
            "description": "Configure the query interval in seconds.\nThis field can be configured only when the dns-query-mode is set to FIXED.",
            "format": "int32",
            "maximum": 60,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "dns-query-mode": {
            "default": "BACKOFF",
            "description": "Configure the query mode to resolve a FQDN address for a RADIUS server.\nThis field can be configured only when type is RADIUS",
            "enum": [
              "BACKOFF",
              "FIXED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BACKOFF": "Use exponential backoff wait timer for DNS queries.",
              "FIXED": "Use a fixed wait timer for DNS queries."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Enumeration for DNS query mode"
          },
          "dynamic-authorization-enable": {
            "default": "false",
            "description": "Dynamic Authorization Enable.This field can be configured only when type is RADIUS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "dynamic-authorization-port": {
            "default": "3799",
            "description": "UDP port number used by the dynamic authorization server. This field can be configured only when type is RADIUS",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "enable": {
            "default": "false",
            "description": "Dynamic Authorization Enable.This field can be configured only when type is RFC3576.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable-radsec": {
            "default": "false",
            "description": "Enables RADIUS over TLS. This field can be configured only when type is RADIUS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "fqdn-retry-interval": {
            "default": "0",
            "description": "FQDN retry time in minutes",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "infinite-deadtime": {
            "default": "false",
            "description": "Infinite deadtime for the Auth server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "Profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ordering-sequence": {
            "default": "false",
            "description": "Enables reordering upon deleting of tacacs server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "retries": {
            "default": "1",
            "description": "The number of retry attempts to use for reaching out to RADIUS servers. This field can be configured only when type is RADIUS.",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "service-type-in-access-request": {
            "default": "false",
            "description": "Service Type attribute in access request. This field can be configured only when type is RADIUS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "shared-secret-config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAuthServerGlobal_SharedSecretInfo"
              }
            ],
            "description": "This passkey is used as shared-secret for encrypting the communication between all Auth servers and the switch.\nThis field can be configured only when type is RADIUS or TACACS",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "single-connection-mode": {
            "default": "true",
            "description": "Single connection mode for TACACS servers. This field can be configured only when type is TACACS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "status-server-interval": {
            "default": "300",
            "description": "Time interval to send the status server message. This field can be configured only when type is RADIUS.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "timeout": {
            "default": "5",
            "description": "The timeout value specifies the number of seconds to wait for a response from the Auth server before moving to next server.\nFor CX, range is 1-60. This field can be configured only when type is RADIUS or TACACS.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tls-initial-connection-timeout": {
            "default": "30",
            "description": "TLS Initial connection timeout (timeout for TLS handshake). This field can be configured only when type is RADIUS.",
            "format": "int32",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tracking-enable": {
            "default": "false",
            "description": "Tracking status of the server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "tracking-interval": {
            "default": "300",
            "description": "Time interval to send the tracking request for Auth Server. This field can be configured only when type is RADIUS, TACACS or RADSEC.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tracking-mode": {
            "description": "Tracking mode of the server",
            "enum": [
              "ANY",
              "DEAD_ONLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ANY": "Track the server irrespective of its availability.",
              "DEAD_ONLY": "Track the server only if it is not reachable."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Tracking mode type of the server"
          },
          "tracking-password-config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAuthServerGlobal_TrackingPasswordInfo"
              }
            ],
            "description": "Configure the password used to track the RADIUS server. This field can be configured only when type is RADIUS or TACACS.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tracking-req-packet": {
            "default": "3",
            "description": "Maximum number of request packet to be sent for RADIUS tracking on retry",
            "format": "int32",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "tracking-retries": {
            "description": "Maximum number of retries to be done for RADIUS tracking. This field can be configured only when type is RADIUS.",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "tracking-user-name": {
            "description": "Username that will be used in Access-Request packets for Radius Server Tracking. This field can be configured only when type is RADIUS, TACACS or RADSEC.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "type": {
            "description": "Auth Server Type.",
            "enum": [
              "RADIUS",
              "LDAP",
              "TACACS",
              "WINDOWS",
              "RFC3576",
              "XMLAPI",
              "RADSEC",
              "LOCAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LDAP": "LDAP Server.",
              "LOCAL": "Local Internal Server for GW.",
              "RADIUS": "RADIUS Server.",
              "RADSEC": "RadSec Server.",
              "RFC3576": "Dynamic authorization Server.",
              "TACACS": "TACACS Server.",
              "WINDOWS": "Windows Server.",
              "XMLAPI": "XML API Server."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Auth server types."
          },
          "udp-port": {
            "default": "3799",
            "description": "UDP port number used by the dynamic authorization server. This field can be configured only when type is RADIUS or RFC3576",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "vsa-disable": {
            "default": "false",
            "description": "Disables vendor specific attribute capability advertisement.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchemaGet": {
        "properties": {
          "access-request-include": {
            "description": "Attributes to be included in access-request",
            "properties": {
              "framed-ip-address": {
                "default": "false",
                "description": "Include framed-ip-address in RADIUS access-request",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "tunnel-private-group-id": {
                "description": "Include VLAN identifier in radius access-request",
                "enum": [
                  "STATIC",
                  "DYNAMIC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DYNAMIC": "Include dynamically configured VLAN identifier",
                  "STATIC": "Include statically configured VLAN identifier"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Include VLAN identifier of port in access-request"
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "authentication-type": {
            "default": "PAP",
            "description": "Specifies authentication protocol which is used for communication with Auth servers. This field can be configured only when type is RADIUS or TACACS.",
            "enum": [
              "PAP",
              "MSCHAPv2",
              "CHAP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Use CHAP (non-standard) to authenticate user.",
              "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
              "PAP": "Use PAP to authenticate user."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Auth procotocols to authenticate user."
          },
          "deadtime": {
            "description": "Dead time for unavailable authentication server.",
            "format": "int32",
            "maximum": 1440,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "description": {
            "description": "Profile description",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "dns-query-interval": {
            "default": "5",
            "description": "Configure the query interval in seconds.\nThis field can be configured only when the dns-query-mode is set to FIXED.",
            "format": "int32",
            "maximum": 60,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "dns-query-mode": {
            "default": "BACKOFF",
            "description": "Configure the query mode to resolve a FQDN address for a RADIUS server.\nThis field can be configured only when type is RADIUS",
            "enum": [
              "BACKOFF",
              "FIXED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BACKOFF": "Use exponential backoff wait timer for DNS queries.",
              "FIXED": "Use a fixed wait timer for DNS queries."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Enumeration for DNS query mode"
          },
          "dynamic-authorization-enable": {
            "default": "false",
            "description": "Dynamic Authorization Enable.This field can be configured only when type is RADIUS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "dynamic-authorization-port": {
            "default": "3799",
            "description": "UDP port number used by the dynamic authorization server. This field can be configured only when type is RADIUS",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "enable": {
            "default": "false",
            "description": "Dynamic Authorization Enable.This field can be configured only when type is RFC3576.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable-radsec": {
            "default": "false",
            "description": "Enables RADIUS over TLS. This field can be configured only when type is RADIUS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "fqdn-retry-interval": {
            "default": "0",
            "description": "FQDN retry time in minutes",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "infinite-deadtime": {
            "default": "false",
            "description": "Infinite deadtime for the Auth server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "Profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ordering-sequence": {
            "default": "false",
            "description": "Enables reordering upon deleting of tacacs server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "retries": {
            "default": "1",
            "description": "The number of retry attempts to use for reaching out to RADIUS servers. This field can be configured only when type is RADIUS.",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "service-type-in-access-request": {
            "default": "false",
            "description": "Service Type attribute in access request. This field can be configured only when type is RADIUS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "shared-secret-config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAuthServerGlobal_SharedSecretInfoGet"
              }
            ],
            "description": "This passkey is used as shared-secret for encrypting the communication between all Auth servers and the switch.\nThis field can be configured only when type is RADIUS or TACACS",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "single-connection-mode": {
            "default": "true",
            "description": "Single connection mode for TACACS servers. This field can be configured only when type is TACACS.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "status-server-interval": {
            "default": "300",
            "description": "Time interval to send the status server message. This field can be configured only when type is RADIUS.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "timeout": {
            "default": "5",
            "description": "The timeout value specifies the number of seconds to wait for a response from the Auth server before moving to next server.\nFor CX, range is 1-60. This field can be configured only when type is RADIUS or TACACS.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tls-initial-connection-timeout": {
            "default": "30",
            "description": "TLS Initial connection timeout (timeout for TLS handshake). This field can be configured only when type is RADIUS.",
            "format": "int32",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tracking-enable": {
            "default": "false",
            "description": "Tracking status of the server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "tracking-interval": {
            "default": "300",
            "description": "Time interval to send the tracking request for Auth Server. This field can be configured only when type is RADIUS, TACACS or RADSEC.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tracking-mode": {
            "description": "Tracking mode of the server",
            "enum": [
              "ANY",
              "DEAD_ONLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ANY": "Track the server irrespective of its availability.",
              "DEAD_ONLY": "Track the server only if it is not reachable."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Tracking mode type of the server"
          },
          "tracking-password-config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAuthServerGlobal_TrackingPasswordInfoGet"
              }
            ],
            "description": "Configure the password used to track the RADIUS server. This field can be configured only when type is RADIUS or TACACS.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tracking-req-packet": {
            "default": "3",
            "description": "Maximum number of request packet to be sent for RADIUS tracking on retry",
            "format": "int32",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "tracking-retries": {
            "description": "Maximum number of retries to be done for RADIUS tracking. This field can be configured only when type is RADIUS.",
            "format": "int32",
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "tracking-user-name": {
            "description": "Username that will be used in Access-Request packets for Radius Server Tracking. This field can be configured only when type is RADIUS, TACACS or RADSEC.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "type": {
            "description": "Auth Server Type.",
            "enum": [
              "RADIUS",
              "LDAP",
              "TACACS",
              "WINDOWS",
              "RFC3576",
              "XMLAPI",
              "RADSEC",
              "LOCAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LDAP": "LDAP Server.",
              "LOCAL": "Local Internal Server for GW.",
              "RADIUS": "RADIUS Server.",
              "RADSEC": "RadSec Server.",
              "RFC3576": "Dynamic authorization Server.",
              "TACACS": "TACACS Server.",
              "WINDOWS": "Windows Server.",
              "XMLAPI": "XML API Server."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Auth server types."
          },
          "udp-port": {
            "default": "3799",
            "description": "UDP port number used by the dynamic authorization server. This field can be configured only when type is RADIUS or RFC3576",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "vsa-disable": {
            "default": "false",
            "description": "Disables vendor specific attribute capability advertisement.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAuthServerGlobal_SharedSecretInfo": {
        "description": "Group for global auth-server shared key.",
        "properties": {
          "ciphertext-value": {
            "description": "The global encrypted shared key used between the authentication\nserver and the device. This field can be configured only when secret-type is CIPHER_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "plaintext-value": {
            "description": "The global unencrypted shared key used between the authentication\nserver and the device. This field can be configured only when secret-type is PLAIN_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "secret-type": {
            "default": "PLAIN_TEXT",
            "description": "Specify the secret key type: CIPHER_TEXT or PLAIN_TEXT.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Secret type."
          }
        }
      },
      "ArubaAuthServerGlobal_SharedSecretInfoGet": {
        "description": "Group for global auth-server shared key.",
        "properties": {
          "ciphertext-value": {
            "description": "The global encrypted shared key used between the authentication\nserver and the device. This field can be configured only when secret-type is CIPHER_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "plaintext-value": {
            "description": "The global unencrypted shared key used between the authentication\nserver and the device. This field can be configured only when secret-type is PLAIN_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "secret-type": {
            "default": "PLAIN_TEXT",
            "description": "Specify the secret key type: CIPHER_TEXT or PLAIN_TEXT.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Secret type."
          }
        }
      },
      "ArubaAuthServerGlobal_TrackingPasswordInfo": {
        "description": "Group for password of the user sent in the tracking request message.",
        "properties": {
          "ciphertext-value": {
            "description": "Ciphertext for tracking password. This field can be configured only when password-type is CIPHER_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "password-type": {
            "default": "PLAIN_TEXT",
            "description": "Specify the tracking password type: CIPHER_TEXT or PLAIN_TEXT.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Secret type."
          },
          "plaintext-value": {
            "description": "Tracking plaintext password. This field can be configured only when password-type is PLAIN_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        }
      },
      "ArubaAuthServerGlobal_TrackingPasswordInfoGet": {
        "description": "Group for password of the user sent in the tracking request message.",
        "properties": {
          "ciphertext-value": {
            "description": "Ciphertext for tracking password. This field can be configured only when password-type is CIPHER_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "password-type": {
            "default": "PLAIN_TEXT",
            "description": "Specify the tracking password type: CIPHER_TEXT or PLAIN_TEXT.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Secret type."
          },
          "plaintext-value": {
            "description": "Tracking plaintext password. This field can be configured only when password-type is PLAIN_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaAuthServerGlobal_AuthServerGlobalConfigprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
