{
  "openapi": "3.1.0",
  "info": {
    "title": "Auth Server Group",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Auth Server Group"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/server-groups": {
      "get": {
        "description": "Allow you to manage a configured authentication server to an ordered list in a server group, for AP and GW you can configure server rules to derive a user role,\nVLAN ID or VLAN name from attributes returned by the server during authentication.\nFor CX, A maximum of 32 AAA server-groups are supported. Out of these four are default server-groups (local, none, radius, tacacs) and the rest 28 can be user configured.\nFor AP, A maximum of 16 AAA server-groups are supported for per device. And all server-groups can be user configured.\nThis feature is applicable for all devices.",
        "operationId": "readServerGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAuthServerGroup_ServerGroupsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of Authentication Server Group",
        "tags": [
          "Auth Server Group"
        ],
        "x-cliParam": {
          "commandName": "readServerGroupsCmd",
          "commandUse": "server-groups",
          "parentCommand": "readCmd",
          "pathToPrint": "/server-groups/",
          "summary": "Read operation for server-groups"
        }
      }
    },
    "/network-config/v1alpha1/server-groups/{name}": {
      "get": {
        "description": "Auth Server Group profile.",
        "operationId": "readServerGroupsServerGroupByID",
        "parameters": [
          {
            "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAuthServerGroup_ServerGroupsserverGroupSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Authentication Server Group profile configuration",
        "tags": [
          "Auth Server Group"
        ],
        "x-cliParam": {
          "commandName": "readServerGroupsServerGroupCmd",
          "commandUse": "server-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readServerGroupsCmd",
          "pathToPrint": "/server-groups/server-group/%s/",
          "summary": "Read operation for server-group",
          "totParams": 1
        }
      },
      "put": {
        "description": "Auth Server Group profile.",
        "operationId": "replaceServerGroupsServerGroupByID",
        "parameters": [
          {
            "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServerGroup_ServerGroupsserverGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing Authentication Server Group profile configuration",
        "tags": [
          "Auth Server Group"
        ],
        "x-cliParam": {
          "commandName": "replaceServerGroupsServerGroupCmd",
          "commandUse": "server-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceServerGroupsCmd",
          "pathToPrint": "/server-groups/server-group/%s/",
          "summary": "Replace operation for server-group",
          "totParams": 1
        }
      },
      "post": {
        "description": "Auth Server Group profile.",
        "operationId": "createServerGroupsServerGroupByID",
        "parameters": [
          {
            "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServerGroup_ServerGroupsserverGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new Authentication Server Group profile by unique name",
        "tags": [
          "Auth Server Group"
        ],
        "x-cliParam": {
          "commandName": "createServerGroupsServerGroupCmd",
          "commandUse": "server-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createServerGroupsCmd",
          "pathToPrint": "/server-groups/server-group/%s/",
          "summary": "Create operation for server-group",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Auth Server Group profile.",
        "operationId": "deleteServerGroupsServerGroupByID",
        "parameters": [
          {
            "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the Authentication Server Group profile",
        "tags": [
          "Auth Server Group"
        ],
        "x-cliParam": {
          "commandName": "deleteServerGroupsServerGroupCmd",
          "commandUse": "server-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteServerGroupsCmd",
          "pathToPrint": "/server-groups/server-group/%s/",
          "summary": "Delete operation for server-group",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Auth Server Group profile.",
        "operationId": "updateServerGroupsServerGroupByID",
        "parameters": [
          {
            "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServerGroup_ServerGroupsserverGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Authentication Server Group profile configuration",
        "tags": [
          "Auth Server Group"
        ],
        "x-cliParam": {
          "commandName": "updateServerGroupsServerGroupCmd",
          "commandUse": "server-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateServerGroupsCmd",
          "pathToPrint": "/server-groups/server-group/%s/",
          "summary": "Update operation for server-group",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAuthServerGroup_ServerGroupsSchemaGET": {
        "description": "Allow you to manage a configured authentication server to an ordered list in a server group, for AP and GW you can configure server rules to derive a user role,\nVLAN ID or VLAN name from attributes returned by the server during authentication.\nFor CX, A maximum of 32 AAA server-groups are supported. Out of these four are default server-groups (local, none, radius, tacacs) and the rest 28 can be user configured.\nFor AP, A maximum of 16 AAA server-groups are supported for per device. And all server-groups can be user configured.\nThis feature is applicable for all devices.",
        "properties": {
          "server-group": {
            "description": "Auth Server Group profile.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDynamicAssignment_AssignmentRulesConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaRadiusModifiers_AttributeProfileGet"
                },
                {
                  "properties": {
                    "count-servers": {
                      "description": "number of servers",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "description": {
                      "description": "Description of the Server Group.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "fail-through": {
                      "default": "false",
                      "description": "When this option is configured, an authentication failure with the first server in the group causes the device to attempt authentication\nwith the next server in the list. The device attempts authentication with each server in the ordered list until either there is a successful\nauthentication or the list of servers in the group is exhausted.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway",
                        "Access Point"
                      ]
                    },
                    "load-balance": {
                      "default": "false",
                      "description": "Enable load-balancing of authentication requests among different servers in a server group.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "load-balance-algo": {
                      "description": "Load balance algorithm.",
                      "enum": [
                        "LOR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LOR": "Least-Outstanding-Requests algorithm."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Load balance algorithm."
                    },
                    "name": {
                      "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Access Point",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "servers": {
                      "description": "Configure the servers in the server group in a specific order based on their position within the group.",
                      "items": {
                        "properties": {
                          "match-rules": {
                            "description": "List of Authstrings.",
                            "items": {
                              "properties": {
                                "match-string": {
                                  "description": "Substring to match in the auth string or the FQDN string (maximum 63 characters).",
                                  "format": "const",
                                  "maxLength": 63,
                                  "minLength": 1,
                                  "type": "string",
                                  "x-supportedDeviceType": [
                                    "Gateway"
                                  ]
                                },
                                "match-type": {
                                  "description": "Match authentication type for server rules in server-group. When the match-type is FQDN, the operator has to be NONE.\nWhen the match-type is AUTHSTRING, the operator can be one of the 3 only: CONTAINS, EQUALS or STARTS-WITH.",
                                  "enum": [
                                    "AUTHSTRING",
                                    "FQDN"
                                  ],
                                  "format": "enum",
                                  "type": "string",
                                  "x-enumDescriptions": {
                                    "AUTHSTRING": "Match type to an authstring",
                                    "FQDN": "Match type to a FQDN string."
                                  },
                                  "x-supportedDeviceType": [
                                    "Gateway"
                                  ],
                                  "x-typeDescription": "Match type for server rules in server-group."
                                },
                                "operator": {
                                  "description": "Match authentication string to select next auth-server. When the match-type is AUTHSTRING, the operator can be one of the 3 only: CONTAINS, EQUALS or STARTS-WITH.\nWhen the match-type is FQDN, the operator has to be NONE.",
                                  "enum": [
                                    "CONTAINS",
                                    "EQUALS",
                                    "STARTS_WITH",
                                    "NONE"
                                  ],
                                  "format": "enum",
                                  "type": "string",
                                  "x-enumDescriptions": {
                                    "CONTAINS": "Match when authstring contains the sub-string.",
                                    "EQUALS": "Match when authstring is equal to the sub-string",
                                    "NONE": "No authstring supported for FQDN",
                                    "STARTS_WITH": "Match when authstring starts-with the sub-string"
                                  },
                                  "x-supportedDeviceType": [
                                    "Gateway"
                                  ],
                                  "x-typeDescription": "Match authentication string to select next auth-server"
                                },
                                "operator-match-string-match-type": {
                                  "description": "Key combination of match-type,operator and match-string separated by ~",
                                  "format": "const",
                                  "maxLength": 9999,
                                  "type": "string"
                                }
                              }
                            },
                            "maxItems": 2147483647,
                            "type": "array",
                            "x-key": [
                              "operatorMatchStringMatchType"
                            ],
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "position": {
                            "description": "Position of auth-server, where default is bottom, 1 is top.",
                            "format": "int32",
                            "maximum": 255,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "server-name": {
                            "description": "The name of the Server to be associated to the Server Group.\nFor CX, maximum of 4 servers can be associated to a RADIUS Server Group and maximum of 1 server can be associated to a TACACS Server Group.",
                            "format": "const",
                            "maxLength": 63,
                            "minLength": 1,
                            "type": "string",
                            "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
                            "x-supportedDeviceType": [
                              "Access Point",
                              "Gateway",
                              "Switch PVOS",
                              "Switch CX"
                            ]
                          },
                          "trim-fqdn": {
                            "description": "Trim FQDN from username before sending to server.",
                            "type": "boolean",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "serverName"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway",
                        "Switch CX",
                        "Access Point"
                      ]
                    },
                    "type": {
                      "description": "Auth Server Group Type. CX supports server group types RADIUS and TACACS and configuring this parameter is mandatory while creating a Server Group.",
                      "enum": [
                        "RADIUS",
                        "LDAP",
                        "TACACS",
                        "WINDOWS",
                        "RFC3576",
                        "XMLAPI",
                        "RADSEC",
                        "LOCAL"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LDAP": "LDAP Server.",
                        "LOCAL": "Local Internal Server for GW.",
                        "RADIUS": "RADIUS Server.",
                        "RADSEC": "RadSec Server.",
                        "RFC3576": "Dynamic authorization Server.",
                        "TACACS": "TACACS Server.",
                        "WINDOWS": "Windows Server.",
                        "XMLAPI": "XML API Server."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Auth server types."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAuthServerGroup_ServerGroupsserverGroupSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDynamicAssignment_AssignmentRulesConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaRadiusModifiers_AttributeProfile"
          },
          {
            "properties": {
              "count-servers": {
                "description": "number of servers",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              "description": {
                "description": "Description of the Server Group.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "fail-through": {
                "default": "false",
                "description": "When this option is configured, an authentication failure with the first server in the group causes the device to attempt authentication\nwith the next server in the list. The device attempts authentication with each server in the ordered list until either there is a successful\nauthentication or the list of servers in the group is exhausted.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "load-balance": {
                "default": "false",
                "description": "Enable load-balancing of authentication requests among different servers in a server group.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "load-balance-algo": {
                "description": "Load balance algorithm.",
                "enum": [
                  "LOR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LOR": "Least-Outstanding-Requests algorithm."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Load balance algorithm."
              },
              "name": {
                "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Access Point",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "servers": {
                "description": "Configure the servers in the server group in a specific order based on their position within the group.",
                "items": {
                  "properties": {
                    "match-rules": {
                      "description": "List of Authstrings.",
                      "items": {
                        "properties": {
                          "match-string": {
                            "description": "Substring to match in the auth string or the FQDN string (maximum 63 characters).",
                            "format": "const",
                            "maxLength": 63,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "match-type": {
                            "description": "Match authentication type for server rules in server-group. When the match-type is FQDN, the operator has to be NONE.\nWhen the match-type is AUTHSTRING, the operator can be one of the 3 only: CONTAINS, EQUALS or STARTS-WITH.",
                            "enum": [
                              "AUTHSTRING",
                              "FQDN"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "AUTHSTRING": "Match type to an authstring",
                              "FQDN": "Match type to a FQDN string."
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Match type for server rules in server-group."
                          },
                          "operator": {
                            "description": "Match authentication string to select next auth-server. When the match-type is AUTHSTRING, the operator can be one of the 3 only: CONTAINS, EQUALS or STARTS-WITH.\nWhen the match-type is FQDN, the operator has to be NONE.",
                            "enum": [
                              "CONTAINS",
                              "EQUALS",
                              "STARTS_WITH",
                              "NONE"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "CONTAINS": "Match when authstring contains the sub-string.",
                              "EQUALS": "Match when authstring is equal to the sub-string",
                              "NONE": "No authstring supported for FQDN",
                              "STARTS_WITH": "Match when authstring starts-with the sub-string"
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Match authentication string to select next auth-server"
                          },
                          "operator-match-string-match-type": {
                            "description": "Key combination of match-type,operator and match-string separated by ~",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string"
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "operatorMatchStringMatchType"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "position": {
                      "description": "Position of auth-server, where default is bottom, 1 is top.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "server-name": {
                      "description": "The name of the Server to be associated to the Server Group.\nFor CX, maximum of 4 servers can be associated to a RADIUS Server Group and maximum of 1 server can be associated to a TACACS Server Group.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "trim-fqdn": {
                      "description": "Trim FQDN from username before sending to server.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "serverName"
                ],
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX",
                  "Access Point"
                ]
              },
              "type": {
                "description": "Auth Server Group Type. CX supports server group types RADIUS and TACACS and configuring this parameter is mandatory while creating a Server Group.",
                "enum": [
                  "RADIUS",
                  "LDAP",
                  "TACACS",
                  "WINDOWS",
                  "RFC3576",
                  "XMLAPI",
                  "RADSEC",
                  "LOCAL"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LDAP": "LDAP Server.",
                  "LOCAL": "Local Internal Server for GW.",
                  "RADIUS": "RADIUS Server.",
                  "RADSEC": "RadSec Server.",
                  "RFC3576": "Dynamic authorization Server.",
                  "TACACS": "TACACS Server.",
                  "WINDOWS": "Windows Server.",
                  "XMLAPI": "XML API Server."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Auth server types."
              }
            }
          }
        ]
      },
      "ArubaAuthServerGroup_ServerGroupsserverGroupSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDynamicAssignment_AssignmentRulesConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaRadiusModifiers_AttributeProfileGet"
          },
          {
            "properties": {
              "count-servers": {
                "description": "number of servers",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              "description": {
                "description": "Description of the Server Group.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "fail-through": {
                "default": "false",
                "description": "When this option is configured, an authentication failure with the first server in the group causes the device to attempt authentication\nwith the next server in the list. The device attempts authentication with each server in the ordered list until either there is a successful\nauthentication or the list of servers in the group is exhausted.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Access Point"
                ]
              },
              "load-balance": {
                "default": "false",
                "description": "Enable load-balancing of authentication requests among different servers in a server group.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "load-balance-algo": {
                "description": "Load balance algorithm.",
                "enum": [
                  "LOR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LOR": "Least-Outstanding-Requests algorithm."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Load balance algorithm."
              },
              "name": {
                "description": "The name of the Server Group.For CX, maximum length is 32 characters.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Access Point",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "servers": {
                "description": "Configure the servers in the server group in a specific order based on their position within the group.",
                "items": {
                  "properties": {
                    "match-rules": {
                      "description": "List of Authstrings.",
                      "items": {
                        "properties": {
                          "match-string": {
                            "description": "Substring to match in the auth string or the FQDN string (maximum 63 characters).",
                            "format": "const",
                            "maxLength": 63,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "match-type": {
                            "description": "Match authentication type for server rules in server-group. When the match-type is FQDN, the operator has to be NONE.\nWhen the match-type is AUTHSTRING, the operator can be one of the 3 only: CONTAINS, EQUALS or STARTS-WITH.",
                            "enum": [
                              "AUTHSTRING",
                              "FQDN"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "AUTHSTRING": "Match type to an authstring",
                              "FQDN": "Match type to a FQDN string."
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Match type for server rules in server-group."
                          },
                          "operator": {
                            "description": "Match authentication string to select next auth-server. When the match-type is AUTHSTRING, the operator can be one of the 3 only: CONTAINS, EQUALS or STARTS-WITH.\nWhen the match-type is FQDN, the operator has to be NONE.",
                            "enum": [
                              "CONTAINS",
                              "EQUALS",
                              "STARTS_WITH",
                              "NONE"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "CONTAINS": "Match when authstring contains the sub-string.",
                              "EQUALS": "Match when authstring is equal to the sub-string",
                              "NONE": "No authstring supported for FQDN",
                              "STARTS_WITH": "Match when authstring starts-with the sub-string"
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Match authentication string to select next auth-server"
                          },
                          "operator-match-string-match-type": {
                            "description": "Key combination of match-type,operator and match-string separated by ~",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string"
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "operatorMatchStringMatchType"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "position": {
                      "description": "Position of auth-server, where default is bottom, 1 is top.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "server-name": {
                      "description": "The name of the Server to be associated to the Server Group.\nFor CX, maximum of 4 servers can be associated to a RADIUS Server Group and maximum of 1 server can be associated to a TACACS Server Group.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-auth-server:auth-servers/ac-auth-server:auth-server/ac-auth-server:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "trim-fqdn": {
                      "description": "Trim FQDN from username before sending to server.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "serverName"
                ],
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX",
                  "Access Point"
                ]
              },
              "type": {
                "description": "Auth Server Group Type. CX supports server group types RADIUS and TACACS and configuring this parameter is mandatory while creating a Server Group.",
                "enum": [
                  "RADIUS",
                  "LDAP",
                  "TACACS",
                  "WINDOWS",
                  "RFC3576",
                  "XMLAPI",
                  "RADSEC",
                  "LOCAL"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LDAP": "LDAP Server.",
                  "LOCAL": "Local Internal Server for GW.",
                  "RADIUS": "RADIUS Server.",
                  "RADSEC": "RadSec Server.",
                  "RFC3576": "Dynamic authorization Server.",
                  "TACACS": "TACACS Server.",
                  "WINDOWS": "Windows Server.",
                  "XMLAPI": "XML API Server."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Auth server types."
              }
            }
          }
        ]
      },
      "ArubaDynamicAssignment_AssignmentRulesConfig": {
        "description": "Assignment Rules grouping.",
        "properties": {
          "assignment-rules": {
            "description": "Assign the client a user role, VLAN ID or VLAN name based on attributes. For GW and AP, the attributes is returned for the client by the authentication server and this API is applicable for\nauth server group. For AP, this API is also applicable WLAN profile and if this API works in WLAN profile, the attributes can be returned for the client by the authentication server or other\nattributes such as mac-address, dhcp-option, AP-Name, etc. Rules are ordered: the first rule that matches the configured condition is applied. VLAN IDs and VLAN names cannot be listed together.\nThis feature is only applicable for AP and GW.",
            "properties": {
              "assignment-rule": {
                "description": "Configure the assignment rule parameters.",
                "items": {
                  "properties": {
                    "assign-action": {
                      "description": "Assignmant action.",
                      "enum": [
                        "ASSIGN_ROLE",
                        "ASSIGN_VLAN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ASSIGN_ROLE": "Assign Role.",
                        "ASSIGN_VLAN": "Assign VLAN."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Assignment action."
                    },
                    "attribute": {
                      "description": "Attribute returned by the authentication server.\nFor AP, it also includes some custom attributes like mac-address, dhcp-option and fw_mode.",
                      "enum": [
                        "CUSTOM_ATTRIBUTE_TYPE",
                        "ARAP_FEATURES",
                        "ARAP_PASSWORD",
                        "ARAP_SECURITY",
                        "ARAP_SECURITY_DATA",
                        "ARAP_ZONE_ACCESS",
                        "AP_GROUP",
                        "AP_NAME",
                        "ACCT_AUTHENTIC",
                        "ACCT_DELAY_TIME",
                        "ACCT_INPUT_GIGAWORDS",
                        "ACCT_INPUT_OCTETS",
                        "ACCT_INPUT_PACKETS",
                        "ACCT_INTERIM_INTERVAL",
                        "ACCT_LINK_COUNT",
                        "ACCT_MULTI_SESSION_ID",
                        "ACCT_OUTPUT_GIGAWORDS",
                        "ACCT_OUTPUT_OCTETS",
                        "ACCT_OUTPUT_PACKETS",
                        "ACCT_SESSION_ID",
                        "ACCT_SESSION_TIME",
                        "ACCT_STATUS_TYPE",
                        "ACCT_TERMINATE_CAUSE",
                        "ACCT_TUNNEL_PACKETS_LOST",
                        "ADD_PORT_TO_IP_ADDRESS",
                        "ARUBA_AP_GROUP",
                        "ARUBA_AP_IP_ADDRESS",
                        "ARUBA_AS_CREDENTIAL_HASH",
                        "ARUBA_AS_USER_NAME",
                        "ARUBA_ADMIN_ROLE",
                        "ARUBA_ADMIN_PATH",
                        "ARUBA_AIRGROUP_DEVICE_TYPE",
                        "ARUBA_AIRGROUP_SHARED_ROLE",
                        "ARUBA_AIRGROUP_SHARED_USER",
                        "ARUBA_AIRGROUP_SHARED_GROUP",
                        "ARUBA_AIRGROUP_USER_NAME",
                        "ARUBA_AIRGROUP_VERSION",
                        "ARUBA_AUTH_SURVMETHOD",
                        "ARUBA_AUTH_SURVIVABILITY",
                        "ARUBA_CPPM_ROLE",
                        "ARUBA_DEVICE_TYPE",
                        "ARUBA_ESSID_NAME",
                        "ARUBA_FRAMED_IPV6_ADDRESS",
                        "ARUBA_LOCATION_ID",
                        "ARUBA_CALEA_SERVER_IP",
                        "ARUBA_MDPS_DEVICE_ICCID",
                        "ARUBA_MDPS_DEVICE_IMEI",
                        "ARUBA_MDPS_DEVICE_NAME",
                        "ARUBA_MDPS_DEVICE_PRODUCT",
                        "ARUBA_MDPS_DEVICE_SERIAL",
                        "ARUBA_MDPS_DEVICE_UDID",
                        "ARUBA_MDPS_DEVICE_VERSION",
                        "ARUBA_MDPS_DEVICE_PROFILE",
                        "ARUBA_MDPS_PROVISIONING_SETTINGS",
                        "ARUBA_MDPS_MAX_DEVICES",
                        "ARUBA_NAMED_USER_VLAN",
                        "ARUBA_NO_DHCP_FINGERPRINT",
                        "ARUBA_NETWORK_SSO_TOKEN",
                        "ARUBA_PORT_ID",
                        "ARUBA_PORT_BOUNCE_HOST",
                        "ARUBA_PRIV_ADMIN_USER",
                        "ARUBA_TEMPLATE_USER",
                        "ARUBA_USER_ROLE",
                        "ARUBA_USER_VLAN",
                        "ARUBA_USER_GROUP",
                        "ARUBA_WORKSPACE_APP_NAME",
                        "AUTHENTICATION_SUB_TYPE",
                        "AUTHENTICATION_TYPE",
                        "CHAP_CHALLENGE",
                        "CHAP_PASSWORD",
                        "CALLBACK_ID",
                        "CALLBACK_NUMBER",
                        "CALLED_STATION_ID",
                        "CALLING_STATION_ID",
                        "CLASS",
                        "MAC_ADDRESS",
                        "CONNECT_INFO",
                        "CONNECT_RATE",
                        "CRYPT_PASSWORD",
                        "CHARGEABLE_USER_IDENTITY",
                        "CISCO_AV_PAIR",
                        "DHCP_OPTION",
                        "DIGEST_RESPONSE",
                        "DOMAIN_NAME",
                        "EAP_MESSAGE",
                        "ERROR_CAUSE",
                        "EVENT_TIMESTAMP",
                        "EXEC_PROGRAM",
                        "EXEC_PROGRAM_WAIT",
                        "EXPIRATION",
                        "FILTER_ID",
                        "FRAMED_APPLETALK_LINK",
                        "FRAMED_APPLETALK_NETWORK",
                        "FRAMED_APPLETALK_ZONE",
                        "FRAMED_COMPRESSION",
                        "FORWARDING_MODE",
                        "FRAMED_IP_ADDRESS",
                        "FRAMED_IP_NETMASK",
                        "FRAMED_IPX_NETWORK",
                        "FRAMED_IPV6_POOL",
                        "FRAMED_IPV6_PREFIX",
                        "FRAMED_IPV6_ROUTE",
                        "FRAMED_IPV6_ADDRESS",
                        "FRAMED_INTERFACE_ID",
                        "FRAMED_MTU",
                        "FRAMED_PROTOCOL",
                        "FRAMED_ROUTE",
                        "FRAMED_ROUTING",
                        "FULL_NAME",
                        "GROUP",
                        "GROUP_NAME",
                        "HINT",
                        "HUNTGROUP_NAME",
                        "IDLE_TIMEOUT",
                        "LOGIN_IP_HOST",
                        "LOGIN_IPV6_HOST",
                        "LOGIN_LAT_NODE",
                        "LOGIN_LAT_PORT",
                        "LOGIN_LAT_SERVICE",
                        "LOGIN_SERVICE",
                        "LOCATION_CAPABLE",
                        "LOGIN_TCP_PORT",
                        "LOCATION_DATA",
                        "LOCATION_INFORMATION",
                        "MS_BAP_USAGE",
                        "MS_CHAP_CPW_1",
                        "MS_CHAP_CPW_2",
                        "MS_CHAP_CHALLENGE",
                        "MS_CHAP_DOMAIN",
                        "MS_CHAP_ERROR",
                        "MS_CHAP_LM_ENC_PW",
                        "MS_CHAP_MPPE_KEYS",
                        "MS_CHAP_NT_ENC_PW",
                        "MS_CHAP_RESPONSE",
                        "MS_CHAP2_CPW",
                        "MS_CHAP2_RESPONSE",
                        "MS_CHAP2_SUCCESS",
                        "MS_FILTER",
                        "MS_LINK_DROP_TIME_LIMIT",
                        "MS_LINK_UTILIZATION_THRESHOLD",
                        "MS_MPPE_ENCRYPTION_POLICY",
                        "MS_MPPE_ENCRYPTION_TYPES",
                        "MS_MPPE_RECV_KEY",
                        "MS_MPPE_SEND_KEY",
                        "MS_RAS_VENDOR",
                        "MS_RAS_VERSION",
                        "MENU",
                        "MESSAGE_AUTH",
                        "NAS-IP-Address",
                        "NAS_IPV6_ADDRESS",
                        "NAS_IDENTIFIER",
                        "NAS_PORT_ID",
                        "NAS_PORT_TYPE",
                        "NOMADIX_GROUP_BW_POLICY_ID",
                        "NOMADIX_GROUP_MAX_DOWN",
                        "NOMADIX_GROUP_MAX_UP",
                        "OPERATOR_NAME",
                        "PASSWORD",
                        "PASSWORD_RETRY",
                        "PORT_LIMIT",
                        "PREFIX",
                        "PROMPT",
                        "PROXY_STATE",
                        "RAD_AUTHENTICATOR",
                        "RAD_CODE",
                        "RAD_ID",
                        "RAD_LENGTH",
                        "RTTS_BACKOFF_TIME",
                        "RTTS_EARLYLIFT_THRESHOLD",
                        "RTTS_ESTIMATED_THROUGHPUT",
                        "RTTS_REEST_BELOW_THROUGHPUT",
                        "RTTS_REEST_KEEPALIVE_NUM",
                        "RTTS_REESTIMATION_PERIOD",
                        "RTTS_RESULT",
                        "REPLY_MESSAGE",
                        "REQUESTED_LOCATION_INFO",
                        "SERVICE_TYPE",
                        "SESSION_TIMEOUT",
                        "SIMULTANEOUS_USE",
                        "STATE",
                        "STRIP_USER_NAME",
                        "SUFFIX",
                        "TERMINATION_ACTION",
                        "TERMINATION_MENU",
                        "TUNNEL_ASSIGNMENT_ID",
                        "TUNNEL_CLIENT_AUTH_ID",
                        "TUNNEL_CLIENT_ENDPOINT",
                        "TUNNEL_CONNECTION_ID",
                        "TUNNEL_MEDIUM_TYPE",
                        "TUNNEL_PASSWORD",
                        "TUNNEL_PREFERENCE",
                        "TUNNEL_PRIVATE_GROUP_ID",
                        "TUNNEL_SERVER_AUTH_ID",
                        "TUNNEL_SERVER_ENDPOINT",
                        "TUNNEL_TYPE",
                        "USER_CATEGORY",
                        "USER_NAME",
                        "USER_VLAN",
                        "VENDOR_SPECIFIC",
                        "WISPR_BANDWIDTH_MAX_DOWN",
                        "WISPR_BANDWIDTH_MAX_UP",
                        "WISPR_BANDWIDTH_MIN_DOWN",
                        "WISPR_BANDWIDTH_MIN_UP",
                        "WISPR_BILLING_CLASS_OF_SERVICE",
                        "WISPR_LOCATION_ID",
                        "WISPR_LOCATION_NAME",
                        "WISPR_LOGOFF_URL",
                        "WISPR_REDIRECTION_URL",
                        "WISPR_SESSION_TERM_END_OF_DAY",
                        "WISPR_SESSION_TERM_TIME"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACCT_AUTHENTIC": "Acct-Authentic.",
                        "ACCT_DELAY_TIME": "Acct-Delay-Time.",
                        "ACCT_INPUT_GIGAWORDS": "Acct-Input-Gigawords.",
                        "ACCT_INPUT_OCTETS": "Acct-Input-Octets.",
                        "ACCT_INPUT_PACKETS": "Acct-Input-Packets.",
                        "ACCT_INTERIM_INTERVAL": "Acct-Interim-Interval.",
                        "ACCT_LINK_COUNT": "Acct-Link-Count.",
                        "ACCT_MULTI_SESSION_ID": "Acct-Multi-Session-Id.",
                        "ACCT_OUTPUT_GIGAWORDS": "Acct-Output-Gigawords.",
                        "ACCT_OUTPUT_OCTETS": "Acct-Output-Octets.",
                        "ACCT_OUTPUT_PACKETS": "Acct-Output-Packets.",
                        "ACCT_SESSION_ID": "Acct-Session-Id.",
                        "ACCT_SESSION_TIME": "Acct-Session-Time.",
                        "ACCT_STATUS_TYPE": "Acct-Status-Type.",
                        "ACCT_TERMINATE_CAUSE": "Acct-Terminate-Cause.",
                        "ACCT_TUNNEL_PACKETS_LOST": "Acct-Tunnel-Packets-Lost.",
                        "ADD_PORT_TO_IP_ADDRESS": "Add-Port-To-IP-Address.",
                        "AP_GROUP": "Access point-Group.",
                        "AP_NAME": "Access point-Name.",
                        "ARAP_FEATURES": "ARAP Features",
                        "ARAP_PASSWORD": "ARAP Password",
                        "ARAP_SECURITY": "ARAP Security",
                        "ARAP_SECURITY_DATA": "ARAP Security Data",
                        "ARAP_ZONE_ACCESS": "ARAP Zone Access",
                        "ARUBA_ADMIN_PATH": "Aruba-Admin-Path.",
                        "ARUBA_ADMIN_ROLE": "Aruba-Admin-Role.",
                        "ARUBA_AIRGROUP_DEVICE_TYPE": "Aruba-AirGroup-Device-Type.",
                        "ARUBA_AIRGROUP_SHARED_GROUP": "Aruba-AirGroup-Shared-Group.",
                        "ARUBA_AIRGROUP_SHARED_ROLE": "Aruba-AirGroup-Shared-Role.",
                        "ARUBA_AIRGROUP_SHARED_USER": "Aruba-AirGroup-Shared-User.",
                        "ARUBA_AIRGROUP_USER_NAME": "Aruba-AirGroup-User-Name.",
                        "ARUBA_AIRGROUP_VERSION": "Aruba-AirGroup-Version.",
                        "ARUBA_AP_GROUP": "Aruba-Access point-Group.",
                        "ARUBA_AP_IP_ADDRESS": "Aruba-Access point-IP-Address.",
                        "ARUBA_AS_CREDENTIAL_HASH": "Aruba-AS-Credential-Hash.",
                        "ARUBA_AS_USER_NAME": "Aruba-AS-User-Name.",
                        "ARUBA_AUTH_SURVIVABILITY": "Aruba-Auth-Survivability.",
                        "ARUBA_AUTH_SURVMETHOD": "Aruba-Auth-SurvMethod.",
                        "ARUBA_CALEA_SERVER_IP": "Aruba-Calea-Server-Ip.",
                        "ARUBA_CPPM_ROLE": "Aruba-CPPM-Role.",
                        "ARUBA_DEVICE_TYPE": "Aruba-Device-Type.",
                        "ARUBA_ESSID_NAME": "Aruba-Essid-Name.",
                        "ARUBA_FRAMED_IPV6_ADDRESS": "Aruba-Framed-IPv6-Address.",
                        "ARUBA_LOCATION_ID": "Aruba-Location-Id.",
                        "ARUBA_MDPS_DEVICE_ICCID": "Aruba-Mdps-Device-Iccid.",
                        "ARUBA_MDPS_DEVICE_IMEI": "Aruba-Mdps-Device-Imei.",
                        "ARUBA_MDPS_DEVICE_NAME": "Aruba-Mdps-Device-Name.",
                        "ARUBA_MDPS_DEVICE_PRODUCT": "Aruba-Mdps-Device-Product.",
                        "ARUBA_MDPS_DEVICE_PROFILE": "Aruba-Mdps-Device-Profile.",
                        "ARUBA_MDPS_DEVICE_SERIAL": "Aruba-Mdps-Device-Serial.",
                        "ARUBA_MDPS_DEVICE_UDID": "Aruba-Mdps-Device-Udid.",
                        "ARUBA_MDPS_DEVICE_VERSION": "Aruba-Mdps-Device-Version.",
                        "ARUBA_MDPS_MAX_DEVICES": "Aruba-Mdps-Max-Devices.",
                        "ARUBA_MDPS_PROVISIONING_SETTINGS": "Aruba-Mdps-Provisioning-Settings.",
                        "ARUBA_NAMED_USER_VLAN": "Aruba-Named-User-Vlan.",
                        "ARUBA_NETWORK_SSO_TOKEN": "Aruba-Network-SSO-Token.",
                        "ARUBA_NO_DHCP_FINGERPRINT": "Aruba-No-DHCP-Fingerprint.",
                        "ARUBA_PORT_BOUNCE_HOST": "Aruba-Port-Bounce-Host.",
                        "ARUBA_PORT_ID": "Aruba-Port-Id.",
                        "ARUBA_PRIV_ADMIN_USER": "Aruba-Priv-Admin-User.",
                        "ARUBA_TEMPLATE_USER": "Aruba-Template-User.",
                        "ARUBA_USER_GROUP": "Aruba-User-Group.",
                        "ARUBA_USER_ROLE": "Aruba-User-Role.",
                        "ARUBA_USER_VLAN": "Aruba-User-Vlan.",
                        "ARUBA_WORKSPACE_APP_NAME": "Aruba-WorkSpace-App-Name.",
                        "AUTHENTICATION_SUB_TYPE": "Authentication-Sub-Type.",
                        "AUTHENTICATION_TYPE": "Authentication-Type.",
                        "CALLBACK_ID": "Callback-Id.",
                        "CALLBACK_NUMBER": "Callback-Number.",
                        "CALLED_STATION_ID": "Called-Station-Id",
                        "CALLING_STATION_ID": "Calling-Station-Id",
                        "CHAP_CHALLENGE": "CHAP-Challenge.",
                        "CHAP_PASSWORD": "CHAP-Password.",
                        "CHARGEABLE_USER_IDENTITY": "Chargeable-User-Identity.",
                        "CISCO_AV_PAIR": "Cisco AV-Pair.",
                        "CLASS": "Class.",
                        "CONNECT_INFO": "Connect-Info.",
                        "CONNECT_RATE": "Connect-Rate.",
                        "CRYPT_PASSWORD": "Crypt-Password.",
                        "CUSTOM_ATTRIBUTE_TYPE": "GW String type arrtibute",
                        "DHCP_OPTION": "dhcp-option.",
                        "DIGEST_RESPONSE": "Digest-Response.",
                        "DOMAIN_NAME": "Domain-Name.",
                        "EAP_MESSAGE": "EAP-Message.",
                        "ERROR_CAUSE": "Error-Cause.",
                        "EVENT_TIMESTAMP": "Event-Timestamp.",
                        "EXEC_PROGRAM": "Exec-Program.",
                        "EXEC_PROGRAM_WAIT": "Exec-Program-Wait.",
                        "EXPIRATION": "Expiration.",
                        "FILTER_ID": "Filter-Id.",
                        "FORWARDING_MODE": "Forwarding-Mode.",
                        "FRAMED_APPLETALK_LINK": "Framed-AppleTalk-Link",
                        "FRAMED_APPLETALK_NETWORK": "Framed-AppleTalk-Network",
                        "FRAMED_APPLETALK_ZONE": "Framed-AppleTalk-Zone",
                        "FRAMED_COMPRESSION": "Framed-Compression",
                        "FRAMED_INTERFACE_ID": "Framed-Interface-Id.",
                        "FRAMED_IPV6_ADDRESS": "Framed-IPv6-address.",
                        "FRAMED_IPV6_POOL": "Framed-IPv6-Pool.",
                        "FRAMED_IPV6_PREFIX": "Framed-IPv6-Prefix.",
                        "FRAMED_IPV6_ROUTE": "Framed-IPv6-Route.",
                        "FRAMED_IPX_NETWORK": "Framed-IPX-Network.",
                        "FRAMED_IP_ADDRESS": "Framed-IP-Address.",
                        "FRAMED_IP_NETMASK": "Framed-IP-Netmask.",
                        "FRAMED_MTU": "Framed-MTU.",
                        "FRAMED_PROTOCOL": "Framed-Protocol.",
                        "FRAMED_ROUTE": "Framed-Route.",
                        "FRAMED_ROUTING": "Framed-Routing.",
                        "FULL_NAME": "Full-Name.",
                        "GROUP": "Group.",
                        "GROUP_NAME": "Group-Name.",
                        "HINT": "Hint.",
                        "HUNTGROUP_NAME": "Huntgroup-Name.",
                        "IDLE_TIMEOUT": "Idle-Timeout.",
                        "LOCATION_CAPABLE": "Location-Capable.",
                        "LOCATION_DATA": "Location-Data.",
                        "LOCATION_INFORMATION": "Location-Information.",
                        "LOGIN_IPV6_HOST": "Login-IPv6-Host.",
                        "LOGIN_IP_HOST": "Login-IP-Host.",
                        "LOGIN_LAT_NODE": "Login-LAT-Node.",
                        "LOGIN_LAT_PORT": "Login-LAT-Port.",
                        "LOGIN_LAT_SERVICE": "Login-LAT-Service.",
                        "LOGIN_SERVICE": "Login-Service.",
                        "LOGIN_TCP_PORT": "Login-TCP-Port.",
                        "MAC_ADDRESS": "Client MAC Address.",
                        "MENU": "Menu.",
                        "MESSAGE_AUTH": "Message-Auth.",
                        "MS_BAP_USAGE": "MS-BAP-Usage.",
                        "MS_CHAP2_CPW": "MS-CHAP2-CPW.",
                        "MS_CHAP2_RESPONSE": "MS-CHAP2-Response.",
                        "MS_CHAP2_SUCCESS": "MS-CHAP2-Success.",
                        "MS_CHAP_CHALLENGE": "MS-CHAP-Challenge.",
                        "MS_CHAP_CPW_1": "MS-CHAP-CPW-1.",
                        "MS_CHAP_CPW_2": "MS-CHAP-CPW-2.",
                        "MS_CHAP_DOMAIN": "MS-CHAP-Domain.",
                        "MS_CHAP_ERROR": "MS-CHAP-Error.",
                        "MS_CHAP_LM_ENC_PW": "MS-CHAP-LM-Enc-PW.",
                        "MS_CHAP_MPPE_KEYS": "MS-CHAP-MPPE-Keys.",
                        "MS_CHAP_NT_ENC_PW": "MS-CHAP-NT-Enc-PW.",
                        "MS_CHAP_RESPONSE": "MS-CHAP-Response.",
                        "MS_FILTER": "MS-Filter.",
                        "MS_LINK_DROP_TIME_LIMIT": "MS-Link-Drop-Time-Limit.",
                        "MS_LINK_UTILIZATION_THRESHOLD": "MS-Link-Utilization-Threshold.",
                        "MS_MPPE_ENCRYPTION_POLICY": "MS-MPPE-Encryption-Policy.",
                        "MS_MPPE_ENCRYPTION_TYPES": "MS-MPPE-Encryption-Types.",
                        "MS_MPPE_RECV_KEY": "MS-MPPE-Recv-Key.",
                        "MS_MPPE_SEND_KEY": "MS-MPPE-Send-Key.",
                        "MS_RAS_VENDOR": "MS-RAS-Vendor.",
                        "MS_RAS_VERSION": "MS-RAS-Version.",
                        "NAS-IP-Address": "NAS-IP-Address.",
                        "NAS_IDENTIFIER": "NAS-Identifier.",
                        "NAS_IPV6_ADDRESS": "NAS-IPv6-Address.",
                        "NAS_PORT_ID": "NAS-Port-Id.",
                        "NAS_PORT_TYPE": "NAS-Port-Type.",
                        "NOMADIX_GROUP_BW_POLICY_ID": "Nomadix-Group-Bw-Policy-ID.",
                        "NOMADIX_GROUP_MAX_DOWN": "Nomadix-Group-Max-Down.",
                        "NOMADIX_GROUP_MAX_UP": "Nomadix-Group-Max-Up.",
                        "OPERATOR_NAME": "Operator-Name.",
                        "PASSWORD": "Password.",
                        "PASSWORD_RETRY": "Password-Retry.",
                        "PORT_LIMIT": "Port-Limit.",
                        "PREFIX": "Prefix.",
                        "PROMPT": "Prompt.",
                        "PROXY_STATE": "Proxy-State.",
                        "RAD_AUTHENTICATOR": "Rad-Authenticator.",
                        "RAD_CODE": "Rad-Code.",
                        "RAD_ID": "Rad-Id.",
                        "RAD_LENGTH": "Rad-Length.",
                        "REPLY_MESSAGE": "Reply-Message.",
                        "REQUESTED_LOCATION_INFO": "Requested-Location-Info.",
                        "RTTS_BACKOFF_TIME": "RTTS-Backoff-Time.",
                        "RTTS_EARLYLIFT_THRESHOLD": "RTTS-Earlylift-Threshold.",
                        "RTTS_ESTIMATED_THROUGHPUT": "RTTS-Estimated-Throughput.",
                        "RTTS_REESTIMATION_PERIOD": "RTTS-Reestimation-Period.",
                        "RTTS_REEST_BELOW_THROUGHPUT": "RTTS-Reest-Below-Throughput.",
                        "RTTS_REEST_KEEPALIVE_NUM": "RTTS-Reest-Keepalive-Num.",
                        "RTTS_RESULT": "RTTS-Result.",
                        "SERVICE_TYPE": "Service-Type.",
                        "SESSION_TIMEOUT": "Session-Timeout.",
                        "SIMULTANEOUS_USE": "Simultaneous-Use.",
                        "STATE": "State.",
                        "STRIP_USER_NAME": "Strip-User-Name.",
                        "SUFFIX": "Suffix.",
                        "TERMINATION_ACTION": "Termination-Action.",
                        "TERMINATION_MENU": "Termination-Menu.",
                        "TUNNEL_ASSIGNMENT_ID": "Tunnel-Assignment-Id.",
                        "TUNNEL_CLIENT_AUTH_ID": "Tunnel-Client-Auth-Id.",
                        "TUNNEL_CLIENT_ENDPOINT": "Tunnel-Client-Endpoint.",
                        "TUNNEL_CONNECTION_ID": "Tunnel-Connection-Id.",
                        "TUNNEL_MEDIUM_TYPE": "Tunnel-Medium-Type.",
                        "TUNNEL_PASSWORD": "Tunnel-Password.",
                        "TUNNEL_PREFERENCE": "Tunnel-Preference.",
                        "TUNNEL_PRIVATE_GROUP_ID": "Tunnel-Private-Group-Id.",
                        "TUNNEL_SERVER_AUTH_ID": "Tunnel-Server-Auth-Id.",
                        "TUNNEL_SERVER_ENDPOINT": "Tunnel-Server-Endpoint.",
                        "TUNNEL_TYPE": "Tunnel-Type.",
                        "USER_CATEGORY": "User-Category.",
                        "USER_NAME": "User-Name.",
                        "USER_VLAN": "User-Vlan.",
                        "VENDOR_SPECIFIC": "Vendor-Specific.",
                        "WISPR_BANDWIDTH_MAX_DOWN": "WISPr-Bandwidth-Max-Down.",
                        "WISPR_BANDWIDTH_MAX_UP": "WISPr-Bandwidth-Max-Up.",
                        "WISPR_BANDWIDTH_MIN_DOWN": "WISPr-Bandwidth-Min-Down.",
                        "WISPR_BANDWIDTH_MIN_UP": "WISPr-Bandwidth-Min-Up.",
                        "WISPR_BILLING_CLASS_OF_SERVICE": "WISPr-Billing-Class-Of-Service.",
                        "WISPR_LOCATION_ID": "WISPr-Location-ID.",
                        "WISPR_LOCATION_NAME": "WISPr-Location-Name.",
                        "WISPR_LOGOFF_URL": "WISPr-Logoff-URL.",
                        "WISPR_REDIRECTION_URL": "WISPr-Redirection-URL.",
                        "WISPR_SESSION_TERM_END_OF_DAY": "WISPr-Session-Term-End-Of-Day.",
                        "WISPR_SESSION_TERM_TIME": "WISPr-Session-Term-Time."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Role and VLAN derivation attributes."
                    },
                    "attribute-str": {
                      "description": "VSA attribute string.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "named-vlan": {
                      "description": "This is the assigned named VLAN when there is a rule match.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-named-vlan:named-vlan/ac-named-vlan:profile/ac-named-vlan:name",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "operand": {
                      "description": "Match operand, For GW, the VSA value. For AP, it is VSA value under server group profile.\nIt is VSA value and mac-addrees, dhcp-option and fw_mode under SSID profile and AP wired port profile.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "operator": {
                      "description": "Match Operator.",
                      "enum": [
                        "MATCH_EQUAL",
                        "CONTAINS",
                        "ENDS_WITH",
                        "MATCHES_REGULAR_EXPRESSION",
                        "NOT_EQUALS",
                        "STARTS_WITH",
                        "VALUE_OF"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CONTAINS": "Contains match.",
                        "ENDS_WITH": "Ends-with match.",
                        "MATCHES_REGULAR_EXPRESSION": "matches-regular-expression match.",
                        "MATCH_EQUAL": "Equality match.",
                        "NOT_EQUALS": "Not-equals match.",
                        "STARTS_WITH": "Starts-with match.",
                        "VALUE_OF": "Value-of match."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Match Operator."
                    },
                    "role": {
                      "description": "This is the assigned Role when there is a rule match.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "sequence-id": {
                      "description": "The sequence id determines the rule order.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "vlan": {
                      "description": "This is the assigned VLAN when there is a rule match.",
                      "oneOf": [
                        {
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer"
                        },
                        {
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 1,
                          "type": "string",
                          "x-path": "/ac-named-vlan:named-vlan/ac-named-vlan:profile/ac-named-vlan:name"
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "sequenceId"
                ],
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDynamicAssignment_AssignmentRulesConfigGet": {
        "description": "Assignment Rules grouping.",
        "properties": {
          "assignment-rules": {
            "description": "Assign the client a user role, VLAN ID or VLAN name based on attributes. For GW and AP, the attributes is returned for the client by the authentication server and this API is applicable for\nauth server group. For AP, this API is also applicable WLAN profile and if this API works in WLAN profile, the attributes can be returned for the client by the authentication server or other\nattributes such as mac-address, dhcp-option, AP-Name, etc. Rules are ordered: the first rule that matches the configured condition is applied. VLAN IDs and VLAN names cannot be listed together.\nThis feature is only applicable for AP and GW.",
            "properties": {
              "assignment-rule": {
                "description": "Configure the assignment rule parameters.",
                "items": {
                  "properties": {
                    "assign-action": {
                      "description": "Assignmant action.",
                      "enum": [
                        "ASSIGN_ROLE",
                        "ASSIGN_VLAN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ASSIGN_ROLE": "Assign Role.",
                        "ASSIGN_VLAN": "Assign VLAN."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Assignment action."
                    },
                    "attribute": {
                      "description": "Attribute returned by the authentication server.\nFor AP, it also includes some custom attributes like mac-address, dhcp-option and fw_mode.",
                      "enum": [
                        "CUSTOM_ATTRIBUTE_TYPE",
                        "ARAP_FEATURES",
                        "ARAP_PASSWORD",
                        "ARAP_SECURITY",
                        "ARAP_SECURITY_DATA",
                        "ARAP_ZONE_ACCESS",
                        "AP_GROUP",
                        "AP_NAME",
                        "ACCT_AUTHENTIC",
                        "ACCT_DELAY_TIME",
                        "ACCT_INPUT_GIGAWORDS",
                        "ACCT_INPUT_OCTETS",
                        "ACCT_INPUT_PACKETS",
                        "ACCT_INTERIM_INTERVAL",
                        "ACCT_LINK_COUNT",
                        "ACCT_MULTI_SESSION_ID",
                        "ACCT_OUTPUT_GIGAWORDS",
                        "ACCT_OUTPUT_OCTETS",
                        "ACCT_OUTPUT_PACKETS",
                        "ACCT_SESSION_ID",
                        "ACCT_SESSION_TIME",
                        "ACCT_STATUS_TYPE",
                        "ACCT_TERMINATE_CAUSE",
                        "ACCT_TUNNEL_PACKETS_LOST",
                        "ADD_PORT_TO_IP_ADDRESS",
                        "ARUBA_AP_GROUP",
                        "ARUBA_AP_IP_ADDRESS",
                        "ARUBA_AS_CREDENTIAL_HASH",
                        "ARUBA_AS_USER_NAME",
                        "ARUBA_ADMIN_ROLE",
                        "ARUBA_ADMIN_PATH",
                        "ARUBA_AIRGROUP_DEVICE_TYPE",
                        "ARUBA_AIRGROUP_SHARED_ROLE",
                        "ARUBA_AIRGROUP_SHARED_USER",
                        "ARUBA_AIRGROUP_SHARED_GROUP",
                        "ARUBA_AIRGROUP_USER_NAME",
                        "ARUBA_AIRGROUP_VERSION",
                        "ARUBA_AUTH_SURVMETHOD",
                        "ARUBA_AUTH_SURVIVABILITY",
                        "ARUBA_CPPM_ROLE",
                        "ARUBA_DEVICE_TYPE",
                        "ARUBA_ESSID_NAME",
                        "ARUBA_FRAMED_IPV6_ADDRESS",
                        "ARUBA_LOCATION_ID",
                        "ARUBA_CALEA_SERVER_IP",
                        "ARUBA_MDPS_DEVICE_ICCID",
                        "ARUBA_MDPS_DEVICE_IMEI",
                        "ARUBA_MDPS_DEVICE_NAME",
                        "ARUBA_MDPS_DEVICE_PRODUCT",
                        "ARUBA_MDPS_DEVICE_SERIAL",
                        "ARUBA_MDPS_DEVICE_UDID",
                        "ARUBA_MDPS_DEVICE_VERSION",
                        "ARUBA_MDPS_DEVICE_PROFILE",
                        "ARUBA_MDPS_PROVISIONING_SETTINGS",
                        "ARUBA_MDPS_MAX_DEVICES",
                        "ARUBA_NAMED_USER_VLAN",
                        "ARUBA_NO_DHCP_FINGERPRINT",
                        "ARUBA_NETWORK_SSO_TOKEN",
                        "ARUBA_PORT_ID",
                        "ARUBA_PORT_BOUNCE_HOST",
                        "ARUBA_PRIV_ADMIN_USER",
                        "ARUBA_TEMPLATE_USER",
                        "ARUBA_USER_ROLE",
                        "ARUBA_USER_VLAN",
                        "ARUBA_USER_GROUP",
                        "ARUBA_WORKSPACE_APP_NAME",
                        "AUTHENTICATION_SUB_TYPE",
                        "AUTHENTICATION_TYPE",
                        "CHAP_CHALLENGE",
                        "CHAP_PASSWORD",
                        "CALLBACK_ID",
                        "CALLBACK_NUMBER",
                        "CALLED_STATION_ID",
                        "CALLING_STATION_ID",
                        "CLASS",
                        "MAC_ADDRESS",
                        "CONNECT_INFO",
                        "CONNECT_RATE",
                        "CRYPT_PASSWORD",
                        "CHARGEABLE_USER_IDENTITY",
                        "CISCO_AV_PAIR",
                        "DHCP_OPTION",
                        "DIGEST_RESPONSE",
                        "DOMAIN_NAME",
                        "EAP_MESSAGE",
                        "ERROR_CAUSE",
                        "EVENT_TIMESTAMP",
                        "EXEC_PROGRAM",
                        "EXEC_PROGRAM_WAIT",
                        "EXPIRATION",
                        "FILTER_ID",
                        "FRAMED_APPLETALK_LINK",
                        "FRAMED_APPLETALK_NETWORK",
                        "FRAMED_APPLETALK_ZONE",
                        "FRAMED_COMPRESSION",
                        "FORWARDING_MODE",
                        "FRAMED_IP_ADDRESS",
                        "FRAMED_IP_NETMASK",
                        "FRAMED_IPX_NETWORK",
                        "FRAMED_IPV6_POOL",
                        "FRAMED_IPV6_PREFIX",
                        "FRAMED_IPV6_ROUTE",
                        "FRAMED_IPV6_ADDRESS",
                        "FRAMED_INTERFACE_ID",
                        "FRAMED_MTU",
                        "FRAMED_PROTOCOL",
                        "FRAMED_ROUTE",
                        "FRAMED_ROUTING",
                        "FULL_NAME",
                        "GROUP",
                        "GROUP_NAME",
                        "HINT",
                        "HUNTGROUP_NAME",
                        "IDLE_TIMEOUT",
                        "LOGIN_IP_HOST",
                        "LOGIN_IPV6_HOST",
                        "LOGIN_LAT_NODE",
                        "LOGIN_LAT_PORT",
                        "LOGIN_LAT_SERVICE",
                        "LOGIN_SERVICE",
                        "LOCATION_CAPABLE",
                        "LOGIN_TCP_PORT",
                        "LOCATION_DATA",
                        "LOCATION_INFORMATION",
                        "MS_BAP_USAGE",
                        "MS_CHAP_CPW_1",
                        "MS_CHAP_CPW_2",
                        "MS_CHAP_CHALLENGE",
                        "MS_CHAP_DOMAIN",
                        "MS_CHAP_ERROR",
                        "MS_CHAP_LM_ENC_PW",
                        "MS_CHAP_MPPE_KEYS",
                        "MS_CHAP_NT_ENC_PW",
                        "MS_CHAP_RESPONSE",
                        "MS_CHAP2_CPW",
                        "MS_CHAP2_RESPONSE",
                        "MS_CHAP2_SUCCESS",
                        "MS_FILTER",
                        "MS_LINK_DROP_TIME_LIMIT",
                        "MS_LINK_UTILIZATION_THRESHOLD",
                        "MS_MPPE_ENCRYPTION_POLICY",
                        "MS_MPPE_ENCRYPTION_TYPES",
                        "MS_MPPE_RECV_KEY",
                        "MS_MPPE_SEND_KEY",
                        "MS_RAS_VENDOR",
                        "MS_RAS_VERSION",
                        "MENU",
                        "MESSAGE_AUTH",
                        "NAS-IP-Address",
                        "NAS_IPV6_ADDRESS",
                        "NAS_IDENTIFIER",
                        "NAS_PORT_ID",
                        "NAS_PORT_TYPE",
                        "NOMADIX_GROUP_BW_POLICY_ID",
                        "NOMADIX_GROUP_MAX_DOWN",
                        "NOMADIX_GROUP_MAX_UP",
                        "OPERATOR_NAME",
                        "PASSWORD",
                        "PASSWORD_RETRY",
                        "PORT_LIMIT",
                        "PREFIX",
                        "PROMPT",
                        "PROXY_STATE",
                        "RAD_AUTHENTICATOR",
                        "RAD_CODE",
                        "RAD_ID",
                        "RAD_LENGTH",
                        "RTTS_BACKOFF_TIME",
                        "RTTS_EARLYLIFT_THRESHOLD",
                        "RTTS_ESTIMATED_THROUGHPUT",
                        "RTTS_REEST_BELOW_THROUGHPUT",
                        "RTTS_REEST_KEEPALIVE_NUM",
                        "RTTS_REESTIMATION_PERIOD",
                        "RTTS_RESULT",
                        "REPLY_MESSAGE",
                        "REQUESTED_LOCATION_INFO",
                        "SERVICE_TYPE",
                        "SESSION_TIMEOUT",
                        "SIMULTANEOUS_USE",
                        "STATE",
                        "STRIP_USER_NAME",
                        "SUFFIX",
                        "TERMINATION_ACTION",
                        "TERMINATION_MENU",
                        "TUNNEL_ASSIGNMENT_ID",
                        "TUNNEL_CLIENT_AUTH_ID",
                        "TUNNEL_CLIENT_ENDPOINT",
                        "TUNNEL_CONNECTION_ID",
                        "TUNNEL_MEDIUM_TYPE",
                        "TUNNEL_PASSWORD",
                        "TUNNEL_PREFERENCE",
                        "TUNNEL_PRIVATE_GROUP_ID",
                        "TUNNEL_SERVER_AUTH_ID",
                        "TUNNEL_SERVER_ENDPOINT",
                        "TUNNEL_TYPE",
                        "USER_CATEGORY",
                        "USER_NAME",
                        "USER_VLAN",
                        "VENDOR_SPECIFIC",
                        "WISPR_BANDWIDTH_MAX_DOWN",
                        "WISPR_BANDWIDTH_MAX_UP",
                        "WISPR_BANDWIDTH_MIN_DOWN",
                        "WISPR_BANDWIDTH_MIN_UP",
                        "WISPR_BILLING_CLASS_OF_SERVICE",
                        "WISPR_LOCATION_ID",
                        "WISPR_LOCATION_NAME",
                        "WISPR_LOGOFF_URL",
                        "WISPR_REDIRECTION_URL",
                        "WISPR_SESSION_TERM_END_OF_DAY",
                        "WISPR_SESSION_TERM_TIME"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACCT_AUTHENTIC": "Acct-Authentic.",
                        "ACCT_DELAY_TIME": "Acct-Delay-Time.",
                        "ACCT_INPUT_GIGAWORDS": "Acct-Input-Gigawords.",
                        "ACCT_INPUT_OCTETS": "Acct-Input-Octets.",
                        "ACCT_INPUT_PACKETS": "Acct-Input-Packets.",
                        "ACCT_INTERIM_INTERVAL": "Acct-Interim-Interval.",
                        "ACCT_LINK_COUNT": "Acct-Link-Count.",
                        "ACCT_MULTI_SESSION_ID": "Acct-Multi-Session-Id.",
                        "ACCT_OUTPUT_GIGAWORDS": "Acct-Output-Gigawords.",
                        "ACCT_OUTPUT_OCTETS": "Acct-Output-Octets.",
                        "ACCT_OUTPUT_PACKETS": "Acct-Output-Packets.",
                        "ACCT_SESSION_ID": "Acct-Session-Id.",
                        "ACCT_SESSION_TIME": "Acct-Session-Time.",
                        "ACCT_STATUS_TYPE": "Acct-Status-Type.",
                        "ACCT_TERMINATE_CAUSE": "Acct-Terminate-Cause.",
                        "ACCT_TUNNEL_PACKETS_LOST": "Acct-Tunnel-Packets-Lost.",
                        "ADD_PORT_TO_IP_ADDRESS": "Add-Port-To-IP-Address.",
                        "AP_GROUP": "Access point-Group.",
                        "AP_NAME": "Access point-Name.",
                        "ARAP_FEATURES": "ARAP Features",
                        "ARAP_PASSWORD": "ARAP Password",
                        "ARAP_SECURITY": "ARAP Security",
                        "ARAP_SECURITY_DATA": "ARAP Security Data",
                        "ARAP_ZONE_ACCESS": "ARAP Zone Access",
                        "ARUBA_ADMIN_PATH": "Aruba-Admin-Path.",
                        "ARUBA_ADMIN_ROLE": "Aruba-Admin-Role.",
                        "ARUBA_AIRGROUP_DEVICE_TYPE": "Aruba-AirGroup-Device-Type.",
                        "ARUBA_AIRGROUP_SHARED_GROUP": "Aruba-AirGroup-Shared-Group.",
                        "ARUBA_AIRGROUP_SHARED_ROLE": "Aruba-AirGroup-Shared-Role.",
                        "ARUBA_AIRGROUP_SHARED_USER": "Aruba-AirGroup-Shared-User.",
                        "ARUBA_AIRGROUP_USER_NAME": "Aruba-AirGroup-User-Name.",
                        "ARUBA_AIRGROUP_VERSION": "Aruba-AirGroup-Version.",
                        "ARUBA_AP_GROUP": "Aruba-Access point-Group.",
                        "ARUBA_AP_IP_ADDRESS": "Aruba-Access point-IP-Address.",
                        "ARUBA_AS_CREDENTIAL_HASH": "Aruba-AS-Credential-Hash.",
                        "ARUBA_AS_USER_NAME": "Aruba-AS-User-Name.",
                        "ARUBA_AUTH_SURVIVABILITY": "Aruba-Auth-Survivability.",
                        "ARUBA_AUTH_SURVMETHOD": "Aruba-Auth-SurvMethod.",
                        "ARUBA_CALEA_SERVER_IP": "Aruba-Calea-Server-Ip.",
                        "ARUBA_CPPM_ROLE": "Aruba-CPPM-Role.",
                        "ARUBA_DEVICE_TYPE": "Aruba-Device-Type.",
                        "ARUBA_ESSID_NAME": "Aruba-Essid-Name.",
                        "ARUBA_FRAMED_IPV6_ADDRESS": "Aruba-Framed-IPv6-Address.",
                        "ARUBA_LOCATION_ID": "Aruba-Location-Id.",
                        "ARUBA_MDPS_DEVICE_ICCID": "Aruba-Mdps-Device-Iccid.",
                        "ARUBA_MDPS_DEVICE_IMEI": "Aruba-Mdps-Device-Imei.",
                        "ARUBA_MDPS_DEVICE_NAME": "Aruba-Mdps-Device-Name.",
                        "ARUBA_MDPS_DEVICE_PRODUCT": "Aruba-Mdps-Device-Product.",
                        "ARUBA_MDPS_DEVICE_PROFILE": "Aruba-Mdps-Device-Profile.",
                        "ARUBA_MDPS_DEVICE_SERIAL": "Aruba-Mdps-Device-Serial.",
                        "ARUBA_MDPS_DEVICE_UDID": "Aruba-Mdps-Device-Udid.",
                        "ARUBA_MDPS_DEVICE_VERSION": "Aruba-Mdps-Device-Version.",
                        "ARUBA_MDPS_MAX_DEVICES": "Aruba-Mdps-Max-Devices.",
                        "ARUBA_MDPS_PROVISIONING_SETTINGS": "Aruba-Mdps-Provisioning-Settings.",
                        "ARUBA_NAMED_USER_VLAN": "Aruba-Named-User-Vlan.",
                        "ARUBA_NETWORK_SSO_TOKEN": "Aruba-Network-SSO-Token.",
                        "ARUBA_NO_DHCP_FINGERPRINT": "Aruba-No-DHCP-Fingerprint.",
                        "ARUBA_PORT_BOUNCE_HOST": "Aruba-Port-Bounce-Host.",
                        "ARUBA_PORT_ID": "Aruba-Port-Id.",
                        "ARUBA_PRIV_ADMIN_USER": "Aruba-Priv-Admin-User.",
                        "ARUBA_TEMPLATE_USER": "Aruba-Template-User.",
                        "ARUBA_USER_GROUP": "Aruba-User-Group.",
                        "ARUBA_USER_ROLE": "Aruba-User-Role.",
                        "ARUBA_USER_VLAN": "Aruba-User-Vlan.",
                        "ARUBA_WORKSPACE_APP_NAME": "Aruba-WorkSpace-App-Name.",
                        "AUTHENTICATION_SUB_TYPE": "Authentication-Sub-Type.",
                        "AUTHENTICATION_TYPE": "Authentication-Type.",
                        "CALLBACK_ID": "Callback-Id.",
                        "CALLBACK_NUMBER": "Callback-Number.",
                        "CALLED_STATION_ID": "Called-Station-Id",
                        "CALLING_STATION_ID": "Calling-Station-Id",
                        "CHAP_CHALLENGE": "CHAP-Challenge.",
                        "CHAP_PASSWORD": "CHAP-Password.",
                        "CHARGEABLE_USER_IDENTITY": "Chargeable-User-Identity.",
                        "CISCO_AV_PAIR": "Cisco AV-Pair.",
                        "CLASS": "Class.",
                        "CONNECT_INFO": "Connect-Info.",
                        "CONNECT_RATE": "Connect-Rate.",
                        "CRYPT_PASSWORD": "Crypt-Password.",
                        "CUSTOM_ATTRIBUTE_TYPE": "GW String type arrtibute",
                        "DHCP_OPTION": "dhcp-option.",
                        "DIGEST_RESPONSE": "Digest-Response.",
                        "DOMAIN_NAME": "Domain-Name.",
                        "EAP_MESSAGE": "EAP-Message.",
                        "ERROR_CAUSE": "Error-Cause.",
                        "EVENT_TIMESTAMP": "Event-Timestamp.",
                        "EXEC_PROGRAM": "Exec-Program.",
                        "EXEC_PROGRAM_WAIT": "Exec-Program-Wait.",
                        "EXPIRATION": "Expiration.",
                        "FILTER_ID": "Filter-Id.",
                        "FORWARDING_MODE": "Forwarding-Mode.",
                        "FRAMED_APPLETALK_LINK": "Framed-AppleTalk-Link",
                        "FRAMED_APPLETALK_NETWORK": "Framed-AppleTalk-Network",
                        "FRAMED_APPLETALK_ZONE": "Framed-AppleTalk-Zone",
                        "FRAMED_COMPRESSION": "Framed-Compression",
                        "FRAMED_INTERFACE_ID": "Framed-Interface-Id.",
                        "FRAMED_IPV6_ADDRESS": "Framed-IPv6-address.",
                        "FRAMED_IPV6_POOL": "Framed-IPv6-Pool.",
                        "FRAMED_IPV6_PREFIX": "Framed-IPv6-Prefix.",
                        "FRAMED_IPV6_ROUTE": "Framed-IPv6-Route.",
                        "FRAMED_IPX_NETWORK": "Framed-IPX-Network.",
                        "FRAMED_IP_ADDRESS": "Framed-IP-Address.",
                        "FRAMED_IP_NETMASK": "Framed-IP-Netmask.",
                        "FRAMED_MTU": "Framed-MTU.",
[...]
