{
  "openapi": "3.1.0",
  "info": {
    "title": "Auth Server",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Auth Server"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/auth-servers": {
      "get": {
        "description": "Use this API to configure an external RADIUS server for user authentication. You can configure parameters such as server IP, authentication port, accounting port,\nshared key, etc. This feature is applicable for all devices.",
        "operationId": "readAuthServers",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAuthServer_AuthServersSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of auth server profile",
        "tags": [
          "Auth Server"
        ],
        "x-cliParam": {
          "commandName": "readAuthServersCmd",
          "commandUse": "auth-servers",
          "parentCommand": "readCmd",
          "pathToPrint": "/auth-servers/",
          "summary": "Read operation for auth-servers"
        }
      }
    },
    "/network-config/v1alpha1/auth-servers/{name}": {
      "get": {
        "description": "Auth Server profile.",
        "operationId": "readAuthServersAuthServerByID",
        "parameters": [
          {
            "description": "The name of the Auth Server.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAuthServer_AuthServersauthServerSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing auth server profile configuration",
        "tags": [
          "Auth Server"
        ],
        "x-cliParam": {
          "commandName": "readAuthServersAuthServerCmd",
          "commandUse": "auth-server",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readAuthServersCmd",
          "pathToPrint": "/auth-servers/auth-server/%s/",
          "summary": "Read operation for auth-server",
          "totParams": 1
        }
      },
      "put": {
        "description": "Auth Server profile.",
        "operationId": "replaceAuthServersAuthServerByID",
        "parameters": [
          {
            "description": "The name of the Auth Server.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServer_AuthServersauthServerSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing auth server profile configuration",
        "tags": [
          "Auth Server"
        ],
        "x-cliParam": {
          "commandName": "replaceAuthServersAuthServerCmd",
          "commandUse": "auth-server",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceAuthServersCmd",
          "pathToPrint": "/auth-servers/auth-server/%s/",
          "summary": "Replace operation for auth-server",
          "totParams": 1
        }
      },
      "post": {
        "description": "Auth Server profile.",
        "operationId": "createAuthServersAuthServerByID",
        "parameters": [
          {
            "description": "The name of the Auth Server.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServer_AuthServersauthServerSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new auth server profile by unique name",
        "tags": [
          "Auth Server"
        ],
        "x-cliParam": {
          "commandName": "createAuthServersAuthServerCmd",
          "commandUse": "auth-server",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createAuthServersCmd",
          "pathToPrint": "/auth-servers/auth-server/%s/",
          "summary": "Create operation for auth-server",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Auth Server profile.",
        "operationId": "deleteAuthServersAuthServerByID",
        "parameters": [
          {
            "description": "The name of the Auth Server.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the auth server profile",
        "tags": [
          "Auth Server"
        ],
        "x-cliParam": {
          "commandName": "deleteAuthServersAuthServerCmd",
          "commandUse": "auth-server",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteAuthServersCmd",
          "pathToPrint": "/auth-servers/auth-server/%s/",
          "summary": "Delete operation for auth-server",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Auth Server profile.",
        "operationId": "updateAuthServersAuthServerByID",
        "parameters": [
          {
            "description": "The name of the Auth Server.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAuthServer_AuthServersauthServerSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing auth server profile configuration",
        "tags": [
          "Auth Server"
        ],
        "x-cliParam": {
          "commandName": "updateAuthServersAuthServerCmd",
          "commandUse": "auth-server",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateAuthServersCmd",
          "pathToPrint": "/auth-servers/auth-server/%s/",
          "summary": "Update operation for auth-server",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAuthServer_AuthServersSchemaGET": {
        "description": "Use this API to configure an external RADIUS server for user authentication. You can configure parameters such as server IP, authentication port, accounting port,\nshared key, etc. This feature is applicable for all devices.",
        "properties": {
          "auth-server": {
            "description": "Auth Server profile.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaAuthServer_CalledStationIdConfigGet"
                },
                {
                  "properties": {
                    "acct-modifier": {
                      "description": "Attributes modifier for accounting-request.\nthis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-radius-modifiers:radius-modifiers/ac-radius-modifiers:radius-modifier/ac-radius-modifiers:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "acct-port": {
                      "default": "1813",
                      "description": "Port number for accounting requests.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "admin-dn": {
                      "description": "DN for the admin user who has read or search privileges across all of the entries in the LDAP database (the user does not need\nwrite privileges but should be able to search the database and read attributes of other users in the database).\nThis field can be configured only when type is LDAP.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "admin-dn-alias": {
                      "description": "Alias for Admin DN.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "admin-password": {
                      "description": "Password for the admin user.\nthis field can be configured only when type is LDAP.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                    },
                    "admin-password-alias": {
                      "description": "Alias for Admin password.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "allow-cleartext": {
                      "default": "false",
                      "description": "Allow unencrypted communication with LDAP server.\nthis field can be configured only when type is LDAP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "auth-modifier": {
                      "description": "Attributes modifier for authentication-request.\nthis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-radius-modifiers:radius-modifiers/ac-radius-modifiers:radius-modifier/ac-radius-modifiers:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "auth-port": {
                      "description": "Port number for authentication requests.For CX, default auth-port for RADIUS Servers is 1812 and TACACS Servers is 49.\nFor CX and PVOS, this parameter cannot be modified.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway",
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "auth-server-address": {
                      "description": "IP address or FQDN of the Auth server. For CX and PVOS, auth-server-address is a mandatory parameter and can not be modified.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 253,
                          "minLength": 1,
                          "type": "string",
                          "x-patternSources": "domain-name",
                          "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                          "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "auth-throttle": {
                      "default": "true",
                      "description": "AP measures request-response times for each packet exchange. As the time taken approaches the timeout, AP throttles new transactions.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "authentication-type": {
                      "description": "Specifies authentication protocol which is used for communication with Auth servers.\nIf not specified, the global timeout value will be picked. This field can be configured only when type is TACACS OR RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "enum": [
                        "PAP",
                        "MSCHAPv2",
                        "CHAP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAP": "Use CHAP (non-standard) to authenticate user.",
                        "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
                        "PAP": "Use PAP to authenticate user."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Auth procotocols to authenticate user."
                    },
                    "base-dn": {
                      "description": "DN name of the node which contains the entire user database to use.\nthis field can be configured only when type is LDAP.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "base-dn-alias": {
                      "description": "Alias for Base DN.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "chase-referrals": {
                      "default": "false",
                      "description": "LDAP Chase Referrals.\nthis field can be configured only when type is LDAP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "clearpass": {
                      "default": "false",
                      "description": "Host RADIUS server on ClearPass.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "cppm-password-config": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaAuthServer_CppmPasswordInfoGet"
                        }
                      ],
                      "description": "Auth server Clearpass password configuration used for authentication.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "cppm-user-name": {
                      "description": "User name of the ClearPass server to authenticate.\nFor CX, supported length is 2-64.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "deadtime": {
                      "default": "5",
                      "description": "Configures a dead time interval for the authentication server. When two or more authentication servers are configured on the Instant AP and\na server is unavailable, the dead time configuratidetermines the duration for which the authentication server would be available if the server\nis marked as unavailable. the default value is 5min. time range is 1-1440.",
                      "format": "int32",
                      "maximum": 1440,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "default-authenticated-role": {
                      "description": "Assign default role for users after XML server\n authorization.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "description": {
                      "description": "User description for Auth Server.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "domain": {
                      "description": "Windows domain name.\nthis field can be configured only when type is WINDOWS.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "drp": {
                      "description": "Configure dynamic RADIUS proxy.",
                      "properties": {
                        "gateway": {
                          "description": "Gateway IP address of the DRP VLAN",
                          "oneOf": [
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv4-address",
                              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv6-address",
                              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                            }
                          ],
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "ip": {
                          "description": "IP address to be used as source IP for RADIUS packets and subnet mask of the DRP IP address.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        },
                        "vlan": {
                          "description": "VLAN in which the RADIUS packets are sent.",
                          "format": "int32",
                          "maximum": 4093,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "dynamic-authorization-enable": {
                      "default": "false",
                      "description": "Enable Dynamic Authorization.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "dynamic-authorization-port": {
                      "description": "Configures the port number for sending AirGroup CoA, instead of the standard CoA port. The default value is 5999.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable Auth Server.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-ipv6": {
                      "default": "false",
                      "description": "Enable ipv6.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-radsec": {
                      "default": "false",
                      "description": "Enables RadSec for RADIUS data transport over TCP and TLS\nThis field can be configured only when type is RADIUS.\nFor CX and PVOS, this parameter cannot be modified.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "enable-radsec-pcap": {
                      "default": "false",
                      "description": "Enables RadSec packet capture\nThis field can be configured only when type is RADIUS.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "event-timestamp-required": {
                      "default": "false",
                      "description": "Discard DAC request, if Event-Timestamp is not present\nin DAC(Dynamic Authorization Client) request. This field can be configured only when type is RADIUS with radius-server-mode configured as COA_ONLY or AUTH_AND_COA.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "filter": {
                      "description": "Filter that should be applied to search of the user in the LDAP database.\nthis field can be configured only when type is LDAP",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "ipsec-ah": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaAuthServer_IpsecConfigGet"
                        }
                      ],
                      "description": "RADIUS server IPsec authentication parameters.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ipsec-esp": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaAuthServer_IpsecConfigGet"
                        }
                      ],
                      "description": "RADIUS server IPsec encryption parameters.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "properties": {
                        "encryption-key": {
                          "description": "The plaintext key for IPsec encryption.\nThis field can be configured only when encryption-key-type is PLAIN_TEXT.",
                          "format": "const",
                          "maxLength": 9999,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "encryption-key-cipher-text": {
                          "description": "The ciphertext key for IPsec encryption.\nThis field can be configured only when encryption-key-type is CIPHER_TEXT.",
                          "format": "const",
                          "maxLength": 9999,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "encryption-key-hexstring": {
                          "description": "The hex-string key for IPsec encryption.\nThis field can be configured only when encryption-key-type is HEX_STRING.",
                          "format": "const",
                          "maxLength": 9999,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "encryption-key-type": {
                          "default": "PLAIN_TEXT",
                          "description": "The key type for IPsec encryption.",
                          "enum": [
                            "PLAIN_TEXT",
                            "CIPHER_TEXT",
                            "HEX_STRING"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "CIPHER_TEXT": "Configure ciphertext type of IPsec key",
                            "HEX_STRING": "Configure hex-string type of IPsec key",
                            "PLAIN_TEXT": "Configure plaintext type of IPsec key"
                          },
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "The key type for the IPsec authentication or the IPsec encryption."
                        },
                        "encryption-type": {
                          "description": "Specify the algorithm to use for IPsec encryption: aes, des or 3des.",
                          "enum": [
                            "ENCR_3DES",
                            "AES",
                            "DES",
                            "AES192",
                            "AES256"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "AES": "AES encryption method",
                            "AES192": "AES-192 encryption method",
                            "AES256": "AES-256 encryption method",
                            "DES": "DES encryption method",
                            "ENCR_3DES": "3DES encryption method"
                          },
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "IPsec encryption type"
                        },
                        "null-encryption": {
                          "default": "false",
                          "description": "null type of IPsec encryption.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "key-attribute": {
                      "description": "The attribute that should be used as a key in search\nfor the LDAP server. This field can be configured only when type is LDAP",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "lower-case-mac-address": {
                      "default": "false",
                      "description": "Lower case MAC address.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "mac-address-delimiter": {
                      "description": "MAC address delimiter.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "enum": [
                        "NONE",
                        "COLON",
                        "DASH",
                        "OUI_NIC",
                        "PERCENT",
                        "COMMA",
                        "SLASH"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COLON": " XX:XX:XX:XX:XX:XX",
                        "COMMA": "XX,XX,XX,XX,XX,XX",
                        "DASH": "XX-XX-XX-XX-XX-XX",
                        "NONE": "XXXXXXXXXXXX",
                        "OUI_NIC": "XXXXXX-XXXXXX",
                        "PERCENT": "XX%XX%XX%XX%XX%XX",
                        "SLASH": "XX/XX/XX/XX/XX/XX"
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "MAC address format."
                    },
                    "management-interface": {
                      "default": "false",
                      "description": "Out of Band management interface for the Auth server.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "max-connection": {
                      "default": "4",
                      "description": "Maximum number of simultaneous non-admin connections to a LDAP server.\nthis field can be configured only when type is LDAP",
                      "format": "int32",
                      "maximum": 16,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "max-retransmit-attempts": {
                      "description": "Maximum number of retries sent to the server by the manager device(AP, GW and SW_CX) before the server is marked as down.\nFor AP, the default value is 3.\nFor CX, range is 0-5. If not specified, the global retry value will be picked.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "msg-auth-required": {
                      "default": "false",
                      "description": "Enforcement of RADIUS message authenticator. if AP receives Access-Request/Access-Reject/Access-Challenge/CoA-Request/Disconnect-Request without message-authenticator present, the packet will be discarded.\nFor AP, this configuration is supported from 10.7.1.0.\nthis field can be configured only when type is RADIUS",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch PVOS"
                      ]
                    },
                    "name": {
                      "description": "The name of the Auth Server.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "nas-identifier": {
                      "description": "NAS identifier to use in RADIUS packets.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "const",
                      "maxLength": 253,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch PVOS"
                      ]
                    },
                    "nas-ip-address": {
                      "description": "The NAS IP address to be sent in RADIUS packets from that server.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch PVOS"
                      ]
                    },
                    "nas-ipv6-address": {
                      "description": "The NAS IPv6 address to be sent in RADIUS packets from that server.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "port-access-keepalive": {
                      "description": "Method to keep RadSec port-access tunnel active. Default value is status-server.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA and enable-radsec is set to true.",
                      "enum": [
                        "STATUS_SERVER",
                        "TCP_KEEPALIVE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "STATUS_SERVER": "Status-server messages are used for keeping\nRadSec port-access tunnel active",
                        "TCP_KEEPALIVE": "TCP keep alive messages are used for keeping\nRadSec port-access tunnel active"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Method to keep RadSec port-access tunnel active"
                    },
                    "preferred-conn-type": {
                      "description": "Preferred Connection Type.\nthis field can be configured only when type is LDAP.",
                      "enum": [
                        "CLEAR_TEXT",
                        "LDAP_S",
                        "START_TLS"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CLEAR_TEXT": "set preferred connection type as Clear-Text",
                        "LDAP_S": "set preferred connection type as LDAP-S",
                        "START_TLS": "set preferred connection type as START-TLS"
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Include VLAN identifier of port in acce7ss-request"
                    },
                    "radius-server-mode": {
                      "default": "AUTH_ONLY",
                      "description": "Specifies the mode in which the RADIUS server is used.\n- AUTH_ONLY: Server is used only for authentication.\n- COA_ONLY: Server is used only for Change of Authorization (CoA).\n- AUTH_AND_COA: Server is used for both authentication and CoA.",
                      "enum": [
                        "AUTH_ONLY",
                        "COA_ONLY",
                        "AUTH_AND_COA"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTH_AND_COA": "RADIUS server is used for both authentication and CoA.",
                        "AUTH_ONLY": "RADIUS server is used only for authentication.",
                        "COA_ONLY": "RADIUS server is used only for Change of Authorization (CoA)."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS"
                      ]
                    },
                    "radius-server-mode-alias": {
                      "description": "Alias for Radius server mode.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "radsec-client-cert": {
                      "description": "RADIUS Security Client Certificate Name.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "radsec-est-cert-profile": {
                      "description": "RADIUS Security Server Certificate Name.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-est:est-profiles/ac-est:profile/ac-est:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "radsec-keepalive": {
                      "default": "TCP_KEEPALIVE",
                      "description": "If there is no radius activity for more than 15 minutes, with status-server keepalive, CPPM doesn't terminate connection every 15 minutes, with tcp-keepalive , CPPM terminates the RADSEC connection after 15 minutes ",
                      "enum": [
                        "STATUS_SERVER",
                        "TCP_KEEPALIVE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "STATUS_SERVER": "Status-server messages are used for keeping\nRadSec port-access tunnel active",
                        "TCP_KEEPALIVE": "TCP keep alive messages are used for keeping\nRadSec port-access tunnel active"
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Method to keep RadSec port-access tunnel active"
                    },
                    "radsec-port": {
                      "default": "2083",
                      "description": "Designates a RadSec port for RADIUS data transport\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA and enable-radsec is set to true.\nFor CX and PVOS, this parameter cannot be modified.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway",
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "radsec-trusted-cacert-name": {
                      "description": "RADIUS Security Trusted CA Cert Name.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "radsec-trusted-servercert-name": {
                      "description": "RADIUS Security Server Certificate Name.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "replay-protection": {
                      "default": "false",
                      "description": "Replay protection for DAC(Dynamic Authorization Client) requests\nthis field can be configured only when type is RADIUS and radius-server-mode is equal to COA_ONLY or AUTH_AND_COA.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "rfc5176-enforcement-mode": {
                      "default": "STRICT",
                      "description": "Enforcement mode of RFC5176.",
                      "enum": [
                        "STRICT",
                        "LOOSE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LOOSE": "RFC enforcement is loose",
                        "STRICT": "RFC enforcement is strict"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "RFC 5176 enforcement mode type"
                    },
                    "rfc5997": {
                      "default": "NONE",
                      "description": "When enabled, this parameter allows the Instant AP to send a status-server request to determine the actual status of the authentication or accounting server. This proves useful when there is a authentication or request time\nrfc5997—RFC5997 support enabled for both authentication and accounting on the authentication server.\nauth-only—RFC5997 support enabled for authentication only.\nacct-only—RFC5997 support enabled for accounting only\nno rfc5997—Disables RFC5997 support for the authentication server.",
                      "enum": [
                        "AUTH_ONLY",
                        "ACCT_ONLY",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACCT_ONLY": "Query Status of Acct RADIUS Servers.",
                        "AUTH_ONLY": "Query Status of Auth RADIUS Servers.",
                        "NONE": "Query Status of auth and accounting RADIUS Servers."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Query Status of auth and accounting RADIUS Servers."
                    },
                    "service-type": {
                      "default": "STANDARD",
                      "description": "Change Service Type default value to framed.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                      "enum": [
                        "STANDARD",
                        "FRAMED"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "FRAMED": "Change Service-Type default value to framed for CP and MAC auth.",
                        "STANDARD": "Follow RFC, the default Service-Type for 802.1x is framed, for CP is Login, for mac is Call-Back."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Change the default value of service type."
                    },
                    "service-type-frame-1x": {
                      "default": "false",
                      "description": "Change Service-Type value to frame for 802.1x.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "service-type-login-1x": {
                      "default": "false",
                      "description": "Change Service-Type value to login for 802.1x.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "session-authorization": {
                      "default": "false",
                      "description": "Enable TACACS+ authorization.\nthis field can be configured only when type is TACACS.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "shared-secret-config": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaAuthServer_SharedSecretInfoGet"
                        }
                      ],
                      "description": "This passkey is used as shared-secret for encrypting the communication between Auth server and device.",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "source-address": {
                      "description": "Source IP address to use in messages to the Auth server",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "source-interface-vlan": {
                      "description": "Source VLAN Interface to use in messages to the Auth server\nThis field can be configured only when type is TACACS or RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "tcp-port": {
                      "default": "49",
                      "description": "Port number used by the server.\nThis field can be configured only when type is TACACS",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "timeout": {
                      "description": "Maximum time, in seconds, that the manager device(AP, GW and SW_CX) waits before timing out the request and resending it.\nFor CX, range is 1-60. If not specified, the global timeout value will be picked.\nFor AP, the default value of RADIUS and LDAP is 5, TACACS is 20.\nThis field can be configured only when type is TACACS, LDAP, or RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "tls-initial-connection-timeout": {
                      "description": "TLS Initial connection timeout (timeout for TLS handshake).\nFor CX, if not specified, the global TLS Initial connection timeout value will be picked.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA and enable-radsec is set to true.",
                      "format": "int32",
                      "maximum": 300,
                      "minimum": 5,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "tracking-enable": {
                      "default": "false",
                      "description": "Enable server tracking.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA or TACACS",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "tracking-method": {
                      "description": "Tracking method of the server. Default value for tracking method is access-request.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA and enable-radsec is set to true.",
                      "enum": [
                        "ACCESS_REQUEST",
                        "STATUS_SERVER",
                        "TCP_KEEPALIVE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACCESS_REQUEST": "Track the server using access-request messages",
                        "STATUS_SERVER": "Track the server using status-server messages",
                        "TCP_KEEPALIVE": "Track the server using TCP keep-alive messages"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Tracking method type of the server"
                    },
                    "tracking-mode": {
                      "description": "Tracking mode of the server. Default value of tracking-mode is any.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                      "enum": [
                        "ANY",
                        "DEAD_ONLY"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ANY": "Track the server irrespective of its availability.",
                        "DEAD_ONLY": "Track the server only if it is not reachable."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Tracking mode type of the server"
                    },
                    "type": {
                      "description": "Auth Server Type. AP support server types are RADIUS, LDAP, TACACS and XMLAPI.\nCX supports server types RADIUS and TACACS. PVOS supports RADIUS and TACACS.\nType is a mandatory parameter for CX and PVOS and can not be modified.\nGW supports RADIUS, TACACS, WINDOWS and LDAP",
                      "enum": [
                        "RADIUS",
                        "LDAP",
                        "TACACS",
                        "WINDOWS",
                        "RFC3576",
                        "XMLAPI",
                        "RADSEC",
                        "LOCAL"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LDAP": "LDAP Server.",
                        "LOCAL": "Local Internal Server for GW.",
                        "RADIUS": "RADIUS Server.",
                        "RADSEC": "RadSec Server.",
                        "RFC3576": "Dynamic authorization Server.",
                        "TACACS": "TACACS Server.",
                        "WINDOWS": "Windows Server.",
                        "XMLAPI": "XML API Server."
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ],
                      "x-typeDescription": "Auth server types."
                    },
                    "use-ip-for-calling-station-id": {
                      "default": "false",
                      "description": "Use IP for Calling Station Id.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "use-md5": {
                      "default": "false",
                      "description": "Use MD5 hash for cleartext password.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "vrf": {
                      "description": "VRF for the Auth server.\nFor CX, this parameter cannot be modified.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    },
                    "window-duration": {
                      "default": "300",
                      "description": "Time window size in seconds.",
                      "format": "int64",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "window-type": {
                      "default": "POSITIVE",
                      "description": "Acceptable time window type.",
                      "enum": [
                        "POSITIVE",
                        "PLUS_OR_MINUS"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "PLUS_OR_MINUS": "Sets the acceptable time-window value as PLUS OR MINUS",
                        "POSITIVE": "Sets the acceptable time-window value as default PLUS"
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Time-window value type for dynamic authorization messages."
                    },
                    "xmlapi-server-address": {
                      "description": "XML SERVER Address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "xmlapi-server-key": {
                      "description": "XML server key.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway"
        ]
      },
      "ArubaAuthServer_AuthServersauthServerSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAuthServer_CalledStationIdConfig"
          },
          {
            "properties": {
              "acct-modifier": {
                "description": "Attributes modifier for accounting-request.\nthis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-radius-modifiers:radius-modifiers/ac-radius-modifiers:radius-modifier/ac-radius-modifiers:name",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "acct-port": {
                "default": "1813",
                "description": "Port number for accounting requests.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "admin-dn": {
                "description": "DN for the admin user who has read or search privileges across all of the entries in the LDAP database (the user does not need\nwrite privileges but should be able to search the database and read attributes of other users in the database).\nThis field can be configured only when type is LDAP.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "admin-dn-alias": {
                "description": "Alias for Admin DN.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "admin-password": {
                "description": "Password for the admin user.\nthis field can be configured only when type is LDAP.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ],
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "admin-password-alias": {
                "description": "Alias for Admin password.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "allow-cleartext": {
                "default": "false",
                "description": "Allow unencrypted communication with LDAP server.\nthis field can be configured only when type is LDAP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "auth-modifier": {
                "description": "Attributes modifier for authentication-request.\nthis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-radius-modifiers:radius-modifiers/ac-radius-modifiers:radius-modifier/ac-radius-modifiers:name",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "auth-port": {
                "description": "Port number for authentication requests.For CX, default auth-port for RADIUS Servers is 1812 and TACACS Servers is 49.\nFor CX and PVOS, this parameter cannot be modified.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway",
                  "Switch CX"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "auth-server-address": {
                "description": "IP address or FQDN of the Auth server. For CX and PVOS, auth-server-address is a mandatory parameter and can not be modified.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-address",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                    "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                  },
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-address",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                    "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                  },
                  {
                    "format": "pattern",
                    "maxLength": 253,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "domain-name",
                    "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                    "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                  }
                ],
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "auth-throttle": {
                "default": "true",
                "description": "AP measures request-response times for each packet exchange. As the time taken approaches the timeout, AP throttles new transactions.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "authentication-type": {
                "description": "Specifies authentication protocol which is used for communication with Auth servers.\nIf not specified, the global timeout value will be picked. This field can be configured only when type is TACACS OR RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                "enum": [
                  "PAP",
                  "MSCHAPv2",
                  "CHAP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHAP": "Use CHAP (non-standard) to authenticate user.",
                  "MSCHAPv2": "Use MSCHAPv2 to authenticate user.",
                  "PAP": "Use PAP to authenticate user."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Auth procotocols to authenticate user."
              },
              "base-dn": {
                "description": "DN name of the node which contains the entire user database to use.\nthis field can be configured only when type is LDAP.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "base-dn-alias": {
                "description": "Alias for Base DN.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "chase-referrals": {
                "default": "false",
                "description": "LDAP Chase Referrals.\nthis field can be configured only when type is LDAP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "clearpass": {
                "default": "false",
                "description": "Host RADIUS server on ClearPass.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "cppm-password-config": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaAuthServer_CppmPasswordInfo"
                  }
                ],
                "description": "Auth server Clearpass password configuration used for authentication.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "cppm-user-name": {
                "description": "User name of the ClearPass server to authenticate.\nFor CX, supported length is 2-64.\nThis field can be configured only when type is RADIUS with radius-server-mode configured as AUTH_ONLY or AUTH_AND_COA.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "deadtime": {
                "default": "5",
                "description": "Configures a dead time interval for the authentication server. When two or more authentication servers are configured on the Instant AP and\na server is unavailable, the dead time configuratidetermines the duration for which the authentication server would be available if the server\nis marked as unavailable. the default value is 5min. time range is 1-1440.",
                "format": "int32",
                "maximum": 1440,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "default-authenticated-role": {
                "description": "Assign default role for users after XML server\n authorization.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-role:roles/ac-role:role/ac-role:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "description": {
                "description": "User description for Auth Server.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "domain": {
                "description": "Windows domain name.\nthis field can be configured only when type is WINDOWS.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "drp": {
                "description": "Configure dynamic RADIUS proxy.",
                "properties": {
                  "gateway": {
                    "description": "Gateway IP address of the DRP VLAN",
                    "oneOf": [
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-address",
[...]
