{
  "openapi": "3.1.0",
  "info": {
    "title": "Certificate Store",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Certificate Store"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/certificate-store": {
      "get": {
        "description": "Certificate store configurations.",
        "operationId": "readCertificateStore",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCertificateStore_CertificateStoreSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read certificate-store",
        "tags": [
          "Certificate Store"
        ],
        "x-cliParam": {
          "commandName": "readCertificateStoreCmd",
          "commandUse": "certificate-store",
          "parentCommand": "readCmd",
          "pathToPrint": "/certificate-store/",
          "summary": "Read operation for certificate-store"
        }
      }
    },
    "/network-config/v1alpha1/certificate-store/{name}": {
      "get": {
        "description": "List certificate uploaded by customer.",
        "operationId": "readCertificateStoreCertificateByID",
        "parameters": [
          {
            "description": "Certificate name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCertificateStore_CertificateStorecertificateSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read certificate by name",
        "tags": [
          "Certificate Store"
        ],
        "x-cliParam": {
          "commandName": "readCertificateStoreCertificateCmd",
          "commandUse": "certificate",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readCertificateStoreCmd",
          "pathToPrint": "/certificate-store/certificate/%s/",
          "summary": "Read operation for certificate",
          "totParams": 1
        }
      },
      "put": {
        "description": "List certificate uploaded by customer.",
        "operationId": "replaceCertificateStoreCertificateByID",
        "parameters": [
          {
            "description": "Certificate name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCertificateStore_CertificateStorecertificateSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace certificate by name",
        "tags": [
          "Certificate Store"
        ],
        "x-cliParam": {
          "commandName": "replaceCertificateStoreCertificateCmd",
          "commandUse": "certificate",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceCertificateStoreCmd",
          "pathToPrint": "/certificate-store/certificate/%s/",
          "summary": "Replace operation for certificate",
          "totParams": 1
        }
      },
      "post": {
        "description": "List certificate uploaded by customer.",
        "operationId": "createCertificateStoreCertificateByID",
        "parameters": [
          {
            "description": "Certificate name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCertificateStore_CertificateStorecertificateSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create certificate by name",
        "tags": [
          "Certificate Store"
        ],
        "x-cliParam": {
          "commandName": "createCertificateStoreCertificateCmd",
          "commandUse": "certificate",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createCertificateStoreCmd",
          "pathToPrint": "/certificate-store/certificate/%s/",
          "summary": "Create operation for certificate",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List certificate uploaded by customer.",
        "operationId": "deleteCertificateStoreCertificateByID",
        "parameters": [
          {
            "description": "Certificate name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete certificate by name",
        "tags": [
          "Certificate Store"
        ],
        "x-cliParam": {
          "commandName": "deleteCertificateStoreCertificateCmd",
          "commandUse": "certificate",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteCertificateStoreCmd",
          "pathToPrint": "/certificate-store/certificate/%s/",
          "summary": "Delete operation for certificate",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List certificate uploaded by customer.",
        "operationId": "updateCertificateStoreCertificateByID",
        "parameters": [
          {
            "description": "Certificate name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCertificateStore_CertificateStorecertificateSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update certificate by name",
        "tags": [
          "Certificate Store"
        ],
        "x-cliParam": {
          "commandName": "updateCertificateStoreCertificateCmd",
          "commandUse": "certificate",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateCertificateStoreCmd",
          "pathToPrint": "/certificate-store/certificate/%s/",
          "summary": "Update operation for certificate",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCertificateStore_CertificateAttributes": {
        "properties": {
          "algorithm": {
            "description": "Public key encryption algorithm.",
            "enum": [
              "RSA",
              "DSA",
              "ECC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DSA": "DSA",
              "ECC": "ECC",
              "RSA": "RSA"
            },
            "x-typeDescription": "Cryptographic algorithm used for the certificate key."
          },
          "certificate": {
            "description": "Base64 encoded certificate string in PEM format.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "days-until-expiry": {
            "description": "Number of days until expiry of the certificate.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "extended-key-usage": {
            "description": "Purpose of the public key contained in the certificate.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "issuer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCertificateStore_X509Name"
              }
            ],
            "description": "The entity that verified the information and signed the certificate."
          },
          "key-size": {
            "description": "Size of public key",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "md5-checksum": {
            "description": "MD5 checksum for certificate.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string"
          },
          "sha1-checksum": {
            "description": "SHA1 checksum for certificate.",
            "format": "const",
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "sha2-checksum": {
            "description": "SHA2 checksum for certificate.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string"
          },
          "subject": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCertificateStore_X509Name"
              }
            ],
            "description": "The entity a certificate belongs to: a machine, an individual, or an organization."
          },
          "valid-from": {
            "description": "Starting date of validity for the certificate.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          },
          "valid-to": {
            "description": "Expiry date for the certificate.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          }
        }
      },
      "ArubaCertificateStore_CertificateAttributesGet": {
        "properties": {
          "algorithm": {
            "description": "Public key encryption algorithm.",
            "enum": [
              "RSA",
              "DSA",
              "ECC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DSA": "DSA",
              "ECC": "ECC",
              "RSA": "RSA"
            },
            "x-typeDescription": "Cryptographic algorithm used for the certificate key."
          },
          "certificate": {
            "description": "Base64 encoded certificate string in PEM format.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "days-until-expiry": {
            "description": "Number of days until expiry of the certificate.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "extended-key-usage": {
            "description": "Purpose of the public key contained in the certificate.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "issuer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCertificateStore_X509NameGet"
              }
            ],
            "description": "The entity that verified the information and signed the certificate."
          },
          "key-size": {
            "description": "Size of public key",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "md5-checksum": {
            "description": "MD5 checksum for certificate.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string"
          },
          "sha1-checksum": {
            "description": "SHA1 checksum for certificate.",
            "format": "const",
            "maxLength": 40,
            "minLength": 1,
            "type": "string"
          },
          "sha2-checksum": {
            "description": "SHA2 checksum for certificate.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string"
          },
          "subject": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCertificateStore_X509NameGet"
              }
            ],
            "description": "The entity a certificate belongs to: a machine, an individual, or an organization."
          },
          "valid-from": {
            "description": "Starting date of validity for the certificate.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          },
          "valid-to": {
            "description": "Expiry date for the certificate.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          }
        }
      },
      "ArubaCertificateStore_CertificateStoreSchemaGET": {
        "description": "Certificate store configurations.",
        "properties": {
          "certificate": {
            "description": "List certificate uploaded by customer.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCertificateStore_CertificateAttributesGet"
                },
                {
                  "properties": {
                    "certificate-body": {
                      "description": "Certificate in the format specfied encoded in base64.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "format": {
                      "description": "Certificate format.",
                      "enum": [
                        "PEM",
                        "DER",
                        "PKCS12",
                        "PKCS7"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DER": "DER",
                        "PEM": "PEM",
                        "PKCS12": "PKCS12",
                        "PKCS7": "PKCS7"
                      },
                      "x-typeDescription": "Certificate formats."
                    },
                    "name": {
                      "description": "Certificate name.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "passphrase": {
                      "description": "Passphrase encoded in base64.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "type": {
                      "description": "Certificate type.",
                      "enum": [
                        "SERVER_CERT",
                        "CA_CERT",
                        "CLIENT_CERT",
                        "CRL",
                        "OCSP_RESPONDER_CERT",
                        "OCSP_SIGNER_CERT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CA_CERT": "Trusted CA.",
                        "CLIENT_CERT": "Client Cert.",
                        "CRL": "Certificate Revocation List.",
                        "OCSP_RESPONDER_CERT": "OCSP Response Cert.",
                        "OCSP_SIGNER_CERT": "OCSP Signer Cert.",
                        "SERVER_CERT": "Server Cert."
                      },
                      "x-mandatory": true,
                      "x-typeDescription": "Certificate types."
                    }
                  }
                },
                {
                  "required": [
                    "type"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        }
      },
      "ArubaCertificateStore_CertificateStorecertificateSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCertificateStore_CertificateAttributes"
          },
          {
            "properties": {
              "certificate-body": {
                "description": "Certificate in the format specfied encoded in base64.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "format": {
                "description": "Certificate format.",
                "enum": [
                  "PEM",
                  "DER",
                  "PKCS12",
                  "PKCS7"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DER": "DER",
                  "PEM": "PEM",
                  "PKCS12": "PKCS12",
                  "PKCS7": "PKCS7"
                },
                "x-typeDescription": "Certificate formats."
              },
              "name": {
                "description": "Certificate name.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "passphrase": {
                "description": "Passphrase encoded in base64.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "type": {
                "description": "Certificate type.",
                "enum": [
                  "SERVER_CERT",
                  "CA_CERT",
                  "CLIENT_CERT",
                  "CRL",
                  "OCSP_RESPONDER_CERT",
                  "OCSP_SIGNER_CERT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CA_CERT": "Trusted CA.",
                  "CLIENT_CERT": "Client Cert.",
                  "CRL": "Certificate Revocation List.",
                  "OCSP_RESPONDER_CERT": "OCSP Response Cert.",
                  "OCSP_SIGNER_CERT": "OCSP Signer Cert.",
                  "SERVER_CERT": "Server Cert."
                },
                "x-mandatory": true,
                "x-typeDescription": "Certificate types."
              }
            }
          },
          {
            "required": [
              "type"
            ]
          }
        ]
      },
      "ArubaCertificateStore_CertificateStorecertificateSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCertificateStore_CertificateAttributesGet"
          },
          {
            "properties": {
              "certificate-body": {
                "description": "Certificate in the format specfied encoded in base64.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "format": {
                "description": "Certificate format.",
                "enum": [
                  "PEM",
                  "DER",
                  "PKCS12",
                  "PKCS7"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DER": "DER",
                  "PEM": "PEM",
                  "PKCS12": "PKCS12",
                  "PKCS7": "PKCS7"
                },
                "x-typeDescription": "Certificate formats."
              },
              "name": {
                "description": "Certificate name.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "passphrase": {
                "description": "Passphrase encoded in base64.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "type": {
                "description": "Certificate type.",
                "enum": [
                  "SERVER_CERT",
                  "CA_CERT",
                  "CLIENT_CERT",
                  "CRL",
                  "OCSP_RESPONDER_CERT",
                  "OCSP_SIGNER_CERT"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CA_CERT": "Trusted CA.",
                  "CLIENT_CERT": "Client Cert.",
                  "CRL": "Certificate Revocation List.",
                  "OCSP_RESPONDER_CERT": "OCSP Response Cert.",
                  "OCSP_SIGNER_CERT": "OCSP Signer Cert.",
                  "SERVER_CERT": "Server Cert."
                },
                "x-mandatory": true,
                "x-typeDescription": "Certificate types."
              }
            }
          },
          {
            "required": [
              "type"
            ]
          }
        ]
      },
      "ArubaCertificateStore_X509Name": {
        "description": "An X509 name represents a hostname, email address and other attributes associated with an entity",
        "properties": {
          "common-name": {
            "description": "The common name of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "country-name": {
            "description": "The country of the entity.",
            "format": "const",
            "maxLength": 2,
            "minLength": 1,
            "type": "string"
          },
          "email-address": {
            "description": "The e-mail address of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "locality-name": {
            "description": "The locality of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "organization-name": {
            "description": "The organization name of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "organization-unit-name": {
            "description": "The organizational unit of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "state-name": {
            "description": "The state or province of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          }
        }
      },
      "ArubaCertificateStore_X509NameGet": {
        "description": "An X509 name represents a hostname, email address and other attributes associated with an entity",
        "properties": {
          "common-name": {
            "description": "The common name of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "country-name": {
            "description": "The country of the entity.",
            "format": "const",
            "maxLength": 2,
            "minLength": 1,
            "type": "string"
          },
          "email-address": {
            "description": "The e-mail address of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "locality-name": {
            "description": "The locality of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "organization-name": {
            "description": "The organization name of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "organization-unit-name": {
            "description": "The organizational unit of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "state-name": {
            "description": "The state or province of the entity.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCertificateStore_CertificateStorecertificateSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCertificateStore_CertificateStorecertificateSchema"
            }
          }
        },
        "description": "certificatebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
