{
  "openapi": "3.1.0",
  "info": {
    "title": "Copp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Copp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/copp": {
      "get": {
        "description": "A list of profiles defining the CoPP configuration.",
        "operationId": "readCopp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCopp_CoppSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get CoPP configuration",
        "tags": [
          "Copp"
        ],
        "x-cliParam": {
          "commandName": "readCoppCmd",
          "commandUse": "copp",
          "parentCommand": "readCmd",
          "pathToPrint": "/copp/",
          "summary": "Read operation for copp"
        }
      }
    },
    "/network-config/v1alpha1/copp/{name}": {
      "get": {
        "description": "profile",
        "operationId": "readCoppProfileByID",
        "parameters": [
          {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCopp_CoppprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get CoPP profile, which describes all CoPP policies configured on the switch",
        "tags": [
          "Copp"
        ],
        "x-cliParam": {
          "commandName": "readCoppProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readCoppCmd",
          "pathToPrint": "/copp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "profile",
        "operationId": "replaceCoppProfileByID",
        "parameters": [
          {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCopp_CoppprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Copp"
        ],
        "x-cliParam": {
          "commandName": "replaceCoppProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceCoppCmd",
          "pathToPrint": "/copp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "profile",
        "operationId": "createCoppProfileByID",
        "parameters": [
          {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCopp_CoppprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create CoPP profile, which describes all CoPP policies configured on the switch",
        "tags": [
          "Copp"
        ],
        "x-cliParam": {
          "commandName": "createCoppProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createCoppCmd",
          "pathToPrint": "/copp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "profile",
        "operationId": "deleteCoppProfileByID",
        "parameters": [
          {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete CoPP profile, which describes all CoPP policies configured on the switch",
        "tags": [
          "Copp"
        ],
        "x-cliParam": {
          "commandName": "deleteCoppProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteCoppCmd",
          "pathToPrint": "/copp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "profile",
        "operationId": "updateCoppProfileByID",
        "parameters": [
          {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCopp_CoppprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Copp"
        ],
        "x-cliParam": {
          "commandName": "updateCoppProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateCoppCmd",
          "pathToPrint": "/copp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCopp_CoppPolicy": {
        "description": "A CoPP policy",
        "properties": {
          "applied": {
            "description": "Whether or not this is the applied CoPP policy",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "configured-copp-policy-entries": {
            "description": "List of configured policy entries. (AOS-CX) The default class must be configured.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCopp_CoppPolicyEntry"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "class"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "user-defined-class-entries": {
            "description": "List of the user defined classes. PVOS only.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCopp_CoppUserDefinedClass"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "userDefinedClassIndex"
            ]
          }
        }
      },
      "ArubaCopp_CoppPolicyEntry": {
        "description": "CoPP policy entry",
        "properties": {
          "burst-kbytes": {
            "description": "Burst limit for an entry in the CoPP policy, in kilobytes (kB). Supported platforms: 8400, 9300. Min: 1; Max: 130",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "burst-pkts": {
            "description": "Burst limit for an entry in the CoPP policy, in packets. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000. Min: 0 (4100, 6000, 6100), 1 (5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000) Max: 0 (4100, 6000, 6100), 9999 (5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000)",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "class": {
            "description": "The name of the CoPP class",
            "enum": [
              "ACL_LOGGING",
              "ARP_BROADCAST",
              "ARP_PROTECT",
              "ARP_UNICAST",
              "BFD",
              "BFD_CONTROL",
              "BGP",
              "BGP_IPV4",
              "BGP_IPV6",
              "BROADCAST",
              "CAPTIVE_PORTAL",
              "CLIENT_ONBOARD",
              "DFP_COLLECTOR",
              "DHCP",
              "DHCP_IPV4",
              "DHCP_IPV6",
              "DSS",
              "ERPS",
              "EXCEPTION",
              "FIB_OPTIMIZATION",
              "FLOW_TELEMETRY",
              "HYPERTEXT",
              "ICMP_BROADCAST_IPV4",
              "ICMP_MULTICAST_IPV6",
              "ICMP_REDIRECT",
              "ICMP_SECURITY_IPV6",
              "ICMP_UNICAST",
              "ICMP_UNICAST_IPV4",
              "ICMP_UNICAST_IPV6",
              "IEEE_8021X",
              "IGMP",
              "IP_EXCEPTIONS",
              "IPFIX",
              "IP_LOCKDOWN",
              "IPSEC",
              "IP_TRACKER",
              "IP_UNICAST",
              "IPV4_OPTIONS",
              "IPV6_OPTIONS",
              "LACP",
              "LAYER2_CONTROL",
              "LLDP",
              "LOOP_PROTECT",
              "MAC_LEARN_MOVE",
              "MAC_LOCKOUT",
              "MANAGEABILITY",
              "MDNS",
              "MIRROR_TO_CPU",
              "MLD",
              "MSTP",
              "MULTICAST_ROUTE_CTRL",
              "MULTICAST_SW_FORWARD",
              "MVRP",
              "NAE_PACKET_MONITOR",
              "NTP",
              "OSPF",
              "OSPF_MULTICAST",
              "OSPF_MULTICAST_IPV4",
              "OSPF_MULTICAST_IPV6",
              "OSPF_UNICAST",
              "OSPF_UNICAST_IPV4",
              "OSPF_UNICAST_IPV6",
              "PIM",
              "PTP",
              "PVST",
              "RIP",
              "SECURE_LEARN",
              "SFLOW",
              "SMARTLINK",
              "SSH",
              "STP",
              "TELNET",
              "UDLD",
              "UNICAST_SW_FORWARD",
              "UNKNOWN_MULTICAST",
              "UNRESOLVED_IP_UNICAST",
              "VRRP",
              "VRRP_IPV4",
              "VRRP_IPV6",
              "DEFAULT_CLASS",
              "ALL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ACL_LOGGING": "CoPP policy entry for the ACL Logging class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 83260, 8400, 9300, 10000",
              "ALL": "CoPP policy entry for all",
              "ARP_BROADCAST": "CoPP policy entry for the ARP Broadcast class. ",
              "ARP_PROTECT": "CoPP policy entry for the ARP Protect class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360.",
              "ARP_UNICAST": "CoPP policy entry for the arp-unicast (AOS_CX) or station-arp (AOS_S) class.",
              "BFD": "CoPP policy entry for the BFD class. Supported platforms: 8320, 8325, 9300, 10000.",
              "BFD_CONTROL": "CoPP policy entry for the BFD Control class. Supported platforms: 6300, 6400, 8100, 8360, 8400.",
              "BGP": "CoPP policy entry for the BGP class. Supported platforms: 6300, 6400, 8100, 8360.",
              "BGP_IPV4": "CoPP policy entry for the BGP IPv4 class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "BGP_IPV6": "CoPP policy entry for the BGP IPv6 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "BROADCAST": "CoPP policy entry for broadcast",
              "CAPTIVE_PORTAL": "CoPP policy entry for the Captive Portal class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400.",
              "CLIENT_ONBOARD": "CoPP policy entry for the Client Onboard class. Supported platforms: 4100, 5420, 6200, 6300, 6400.",
              "DEFAULT_CLASS": "CoPP policy entry for default-class (AOS_CX) or unclassified (AOS_S) class.",
              "DFP_COLLECTOR": "CoPP policy entry for the DFP Collector class. Supported platforms: 4100, 5420, 6200, 6300, 6400.",
              "DHCP": "CoPP policy entry for the DHCP class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360, 8400.",
              "DHCP_IPV4": "CoPP policy entry for the DHCP IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "DHCP_IPV6": "CoPP policy entry for the DHCP IPv6 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "DSS": "CoPP policy entry for the DSS class. Supported platforms: 10000.",
              "ERPS": "CoPP policy entry for the ERPS class. Supported platforms: 4100, 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "EXCEPTION": "CoPP policy entry for exception",
              "FIB_OPTIMIZATION": "CoPP policy entry for the FIB Optimization class. Supported platforms: 6300, 6400, 8100, 8360.",
              "FLOW_TELEMETRY": "CoPP policy entry for the Flow Telemetry class. Supported platforms: 8325, 9300, 10000.",
              "HYPERTEXT": "CoPP policy entry for the Hypertext class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "ICMP_BROADCAST_IPV4": "CoPP policy entry for icmp-broadcast-ipv4",
              "ICMP_MULTICAST_IPV6": "CoPP policy entry for icmp-multicast-ipv6",
              "ICMP_REDIRECT": "CoPP policy entry for icmp-redirect",
              "ICMP_SECURITY_IPV6": "CoPP policy entry for the ICMP Security IPv6 class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360.",
              "ICMP_UNICAST": "CoPP policy entry for icmp-unicast (AOS_CX) or station-icmp (AOS_S)",
              "ICMP_UNICAST_IPV4": "CoPP policy entry for icmp-unicast-ipv4",
              "ICMP_UNICAST_IPV6": "CoPP policy entry for icmp-unicast-ipv6",
              "IEEE_8021X": "CoPP policy entry for the IEEE 802.1x class. Supported plaforms: 4100, 5420, 6000, 6100, 6200, 5300, 6400, 8100, 8325, 8360, 10000.",
              "IGMP": "CoPP policy entry for igmp",
              "IPFIX": "CoPP policy entry for the IPFix class. Supported platforms: 6300, 6400, 8100, 8325, 8360.",
              "IPSEC": "CoPP policy entry for the IPSec class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "IPV4_OPTIONS": "CoPP policy entry for the IPv4 Options class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "IPV6_OPTIONS": "CoPP policy entry for the IPv6 Options class. Supported platforms: 8320, 8325, 9300, 10000.",
              "IP_EXCEPTIONS": "CoPP policy entry for the IP Exceptions class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "IP_LOCKDOWN": "CoPP policy entry for the IP Lockdown class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8325, 8360, 10000.",
              "IP_TRACKER": "CoPP policy entry for the IP Tracker class. Supported platforms: 5420, 6200, 6300, 6400.",
              "IP_UNICAST": "CoPP policy entry for ip-unicast (AOS_CX) or station-ip (AOS_S)",
              "LACP": "CoPP policy entry for the LACP class.",
              "LAYER2_CONTROL": "CoPP policy entry for the layer2-control class.",
              "LLDP": "CoPP policy entry for LLDP",
              "LOOP_PROTECT": "CoPP policy entry for the loop-protect (AOS_CX) or loop-ctrl-loop-protect (AOS_S) class.",
              "MAC_LEARN_MOVE": "CoPP policy entry for mac-learn-move (AOS_CX) or mac-notification (AOS_S)",
              "MAC_LOCKOUT": "CoPP policy entry for MAC Lockout class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360.",
              "MANAGEABILITY": "CoPP policy entry for the Manageability class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360.",
              "MDNS": "CoPP policy entry for the MDNS class. Supported platforms: 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8325, 8360, 9300, 10000.",
              "MIRROR_TO_CPU": "CoPP policy entry for the Mirror-to-CPU class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "MLD": "CoPP policy entry for the MLD class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "MSTP": "CoPP policy entry for mstp (AOS_CX) or loop-ctrl-mstp (AOS_S)",
              "MULTICAST_ROUTE_CTRL": "CoPP policy entry for multicast-route-ctrl",
              "MULTICAST_SW_FORWARD": "CoPP policy entry for multicast-sw-forward",
              "MVRP": "CoPP policy entry for mvrp",
              "NAE_PACKET_MONITOR": "CoPP policy entry for the NAE Packet Monitor class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360.",
              "NTP": "CoPP policy entry for ntp",
              "OSPF": "CoPP policy entry for ospf",
              "OSPF_MULTICAST": "CoPP policy entry for the OSPF multicast class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360, 8400.",
              "OSPF_MULTICAST_IPV4": "CoPP policy entry for the OSPF Multicast IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "OSPF_MULTICAST_IPV6": "CoPP policy entry for the OSPF Multicast IPv6 class.",
              "OSPF_UNICAST": "CoPP policy entry for the OSPF unicast class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360, 8400.",
              "OSPF_UNICAST_IPV4": "CoPP policy entry for the OSPF Unicast IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "OSPF_UNICAST_IPV6": "CoPP policy entry for the OSPF Unicast IPv6 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "PIM": "CoPP policy entry for the PIM class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "PTP": "CoPP policy entry for the PTP class. Supported platforms: 6300, 6400, 8100, 8360, 9300.",
              "PVST": "CoPP policy entry for pvst (AOS_CX) or loop-ctrl-pvst (AOS_S)",
              "RIP": "CoPP policy entry for rip",
              "SECURE_LEARN": "CoPP policy entry for the Secure Learn class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8325, 8360, 10000.",
              "SFLOW": "CoPP policy entry for the Sflow (AOS_CX) or sampling (AOS_S) class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "SMARTLINK": "CoPP policy entry for the Smartlink (AOS_CX) or loop-ctrl-smart-links (AOS_S) class. Supported platforms: 4100, 6000, 6100.",
              "SSH": "CoPP policy entry for the SSH class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "STP": "CoPP policy entry for stp",
              "TELNET": "CoPP policy entry for the Telnet class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "UDLD": "CoPP policy entry for the udld (AOS_CX) or udld-control (AOS_S) class",
              "UNICAST_SW_FORWARD": "CoPP policy entry for unicast-sw-forward",
              "UNKNOWN_MULTICAST": "CoPP policy entry for the Unknown Multicast class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "UNRESOLVED_IP_UNICAST": "CoPP policy entry for unresolved-ip-unicast",
              "VRRP": "CoPP policy entry for the VRRP (AOS_CX) or ip-gateway-control (AOS_S) class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360, 8400.",
              "VRRP_IPV4": "CoPP policy entry for the VRRP IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "VRRP_IPV6": "CoPP policy entry for the VRRP IPv6 class. Supported platforms: 8320, 8325, 9300, 10000."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "drop": {
            "description": "Sets packets for the given class to be dropped. Standalone parameter - cannot be set to true if any of priority/rate/burst are set.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "description": "Local priority for an entry in the CoPP policy. Min: 0; Max: 6 (5420, 6200, 6300, 6400, 8100, 8360, 9300), 7 (4100, 6000, 6100, 8320, 8325, 10000), 10 (8400)",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rate-kbits": {
            "description": "Rate limit for an entry in the CoPP policy, in kilobits per second (kbps). Supported platforms: 8400, 9300. Min: 1; Max: 999999",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rate-pps": {
            "description": "Rate limit for an entry in the CoPP policy, in packets per second (PPS). Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000. Min: 25 (4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360), 1 (8320, 8325, 10000); Max: 99999",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "rate-pps",
                "x-patterns": "'default|none'"
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaCopp_CoppPolicyEntryGet": {
        "description": "CoPP policy entry",
        "properties": {
          "burst-kbytes": {
            "description": "Burst limit for an entry in the CoPP policy, in kilobytes (kB). Supported platforms: 8400, 9300. Min: 1; Max: 130",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "burst-pkts": {
            "description": "Burst limit for an entry in the CoPP policy, in packets. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000. Min: 0 (4100, 6000, 6100), 1 (5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000) Max: 0 (4100, 6000, 6100), 9999 (5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000)",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "class": {
            "description": "The name of the CoPP class",
            "enum": [
              "ACL_LOGGING",
              "ARP_BROADCAST",
              "ARP_PROTECT",
              "ARP_UNICAST",
              "BFD",
              "BFD_CONTROL",
              "BGP",
              "BGP_IPV4",
              "BGP_IPV6",
              "BROADCAST",
              "CAPTIVE_PORTAL",
              "CLIENT_ONBOARD",
              "DFP_COLLECTOR",
              "DHCP",
              "DHCP_IPV4",
              "DHCP_IPV6",
              "DSS",
              "ERPS",
              "EXCEPTION",
              "FIB_OPTIMIZATION",
              "FLOW_TELEMETRY",
              "HYPERTEXT",
              "ICMP_BROADCAST_IPV4",
              "ICMP_MULTICAST_IPV6",
              "ICMP_REDIRECT",
              "ICMP_SECURITY_IPV6",
              "ICMP_UNICAST",
              "ICMP_UNICAST_IPV4",
              "ICMP_UNICAST_IPV6",
              "IEEE_8021X",
              "IGMP",
              "IP_EXCEPTIONS",
              "IPFIX",
              "IP_LOCKDOWN",
              "IPSEC",
              "IP_TRACKER",
              "IP_UNICAST",
              "IPV4_OPTIONS",
              "IPV6_OPTIONS",
              "LACP",
              "LAYER2_CONTROL",
              "LLDP",
              "LOOP_PROTECT",
              "MAC_LEARN_MOVE",
              "MAC_LOCKOUT",
              "MANAGEABILITY",
              "MDNS",
              "MIRROR_TO_CPU",
              "MLD",
              "MSTP",
              "MULTICAST_ROUTE_CTRL",
              "MULTICAST_SW_FORWARD",
              "MVRP",
              "NAE_PACKET_MONITOR",
              "NTP",
              "OSPF",
              "OSPF_MULTICAST",
              "OSPF_MULTICAST_IPV4",
              "OSPF_MULTICAST_IPV6",
              "OSPF_UNICAST",
              "OSPF_UNICAST_IPV4",
              "OSPF_UNICAST_IPV6",
              "PIM",
              "PTP",
              "PVST",
              "RIP",
              "SECURE_LEARN",
              "SFLOW",
              "SMARTLINK",
              "SSH",
              "STP",
              "TELNET",
              "UDLD",
              "UNICAST_SW_FORWARD",
              "UNKNOWN_MULTICAST",
              "UNRESOLVED_IP_UNICAST",
              "VRRP",
              "VRRP_IPV4",
              "VRRP_IPV6",
              "DEFAULT_CLASS",
              "ALL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ACL_LOGGING": "CoPP policy entry for the ACL Logging class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 83260, 8400, 9300, 10000",
              "ALL": "CoPP policy entry for all",
              "ARP_BROADCAST": "CoPP policy entry for the ARP Broadcast class. ",
              "ARP_PROTECT": "CoPP policy entry for the ARP Protect class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360.",
              "ARP_UNICAST": "CoPP policy entry for the arp-unicast (AOS_CX) or station-arp (AOS_S) class.",
              "BFD": "CoPP policy entry for the BFD class. Supported platforms: 8320, 8325, 9300, 10000.",
              "BFD_CONTROL": "CoPP policy entry for the BFD Control class. Supported platforms: 6300, 6400, 8100, 8360, 8400.",
              "BGP": "CoPP policy entry for the BGP class. Supported platforms: 6300, 6400, 8100, 8360.",
              "BGP_IPV4": "CoPP policy entry for the BGP IPv4 class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "BGP_IPV6": "CoPP policy entry for the BGP IPv6 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "BROADCAST": "CoPP policy entry for broadcast",
              "CAPTIVE_PORTAL": "CoPP policy entry for the Captive Portal class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400.",
              "CLIENT_ONBOARD": "CoPP policy entry for the Client Onboard class. Supported platforms: 4100, 5420, 6200, 6300, 6400.",
              "DEFAULT_CLASS": "CoPP policy entry for default-class (AOS_CX) or unclassified (AOS_S) class.",
              "DFP_COLLECTOR": "CoPP policy entry for the DFP Collector class. Supported platforms: 4100, 5420, 6200, 6300, 6400.",
              "DHCP": "CoPP policy entry for the DHCP class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360, 8400.",
              "DHCP_IPV4": "CoPP policy entry for the DHCP IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "DHCP_IPV6": "CoPP policy entry for the DHCP IPv6 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "DSS": "CoPP policy entry for the DSS class. Supported platforms: 10000.",
              "ERPS": "CoPP policy entry for the ERPS class. Supported platforms: 4100, 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "EXCEPTION": "CoPP policy entry for exception",
              "FIB_OPTIMIZATION": "CoPP policy entry for the FIB Optimization class. Supported platforms: 6300, 6400, 8100, 8360.",
              "FLOW_TELEMETRY": "CoPP policy entry for the Flow Telemetry class. Supported platforms: 8325, 9300, 10000.",
              "HYPERTEXT": "CoPP policy entry for the Hypertext class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "ICMP_BROADCAST_IPV4": "CoPP policy entry for icmp-broadcast-ipv4",
              "ICMP_MULTICAST_IPV6": "CoPP policy entry for icmp-multicast-ipv6",
              "ICMP_REDIRECT": "CoPP policy entry for icmp-redirect",
              "ICMP_SECURITY_IPV6": "CoPP policy entry for the ICMP Security IPv6 class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360.",
              "ICMP_UNICAST": "CoPP policy entry for icmp-unicast (AOS_CX) or station-icmp (AOS_S)",
              "ICMP_UNICAST_IPV4": "CoPP policy entry for icmp-unicast-ipv4",
              "ICMP_UNICAST_IPV6": "CoPP policy entry for icmp-unicast-ipv6",
              "IEEE_8021X": "CoPP policy entry for the IEEE 802.1x class. Supported plaforms: 4100, 5420, 6000, 6100, 6200, 5300, 6400, 8100, 8325, 8360, 10000.",
              "IGMP": "CoPP policy entry for igmp",
              "IPFIX": "CoPP policy entry for the IPFix class. Supported platforms: 6300, 6400, 8100, 8325, 8360.",
              "IPSEC": "CoPP policy entry for the IPSec class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "IPV4_OPTIONS": "CoPP policy entry for the IPv4 Options class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "IPV6_OPTIONS": "CoPP policy entry for the IPv6 Options class. Supported platforms: 8320, 8325, 9300, 10000.",
              "IP_EXCEPTIONS": "CoPP policy entry for the IP Exceptions class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "IP_LOCKDOWN": "CoPP policy entry for the IP Lockdown class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8325, 8360, 10000.",
              "IP_TRACKER": "CoPP policy entry for the IP Tracker class. Supported platforms: 5420, 6200, 6300, 6400.",
              "IP_UNICAST": "CoPP policy entry for ip-unicast (AOS_CX) or station-ip (AOS_S)",
              "LACP": "CoPP policy entry for the LACP class.",
              "LAYER2_CONTROL": "CoPP policy entry for the layer2-control class.",
              "LLDP": "CoPP policy entry for LLDP",
              "LOOP_PROTECT": "CoPP policy entry for the loop-protect (AOS_CX) or loop-ctrl-loop-protect (AOS_S) class.",
              "MAC_LEARN_MOVE": "CoPP policy entry for mac-learn-move (AOS_CX) or mac-notification (AOS_S)",
              "MAC_LOCKOUT": "CoPP policy entry for MAC Lockout class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360.",
              "MANAGEABILITY": "CoPP policy entry for the Manageability class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360.",
              "MDNS": "CoPP policy entry for the MDNS class. Supported platforms: 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8325, 8360, 9300, 10000.",
              "MIRROR_TO_CPU": "CoPP policy entry for the Mirror-to-CPU class. Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "MLD": "CoPP policy entry for the MLD class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 9300, 10000.",
              "MSTP": "CoPP policy entry for mstp (AOS_CX) or loop-ctrl-mstp (AOS_S)",
              "MULTICAST_ROUTE_CTRL": "CoPP policy entry for multicast-route-ctrl",
              "MULTICAST_SW_FORWARD": "CoPP policy entry for multicast-sw-forward",
              "MVRP": "CoPP policy entry for mvrp",
              "NAE_PACKET_MONITOR": "CoPP policy entry for the NAE Packet Monitor class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360.",
              "NTP": "CoPP policy entry for ntp",
              "OSPF": "CoPP policy entry for ospf",
              "OSPF_MULTICAST": "CoPP policy entry for the OSPF multicast class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360, 8400.",
              "OSPF_MULTICAST_IPV4": "CoPP policy entry for the OSPF Multicast IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "OSPF_MULTICAST_IPV6": "CoPP policy entry for the OSPF Multicast IPv6 class.",
              "OSPF_UNICAST": "CoPP policy entry for the OSPF unicast class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360, 8400.",
              "OSPF_UNICAST_IPV4": "CoPP policy entry for the OSPF Unicast IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "OSPF_UNICAST_IPV6": "CoPP policy entry for the OSPF Unicast IPv6 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "PIM": "CoPP policy entry for the PIM class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "PTP": "CoPP policy entry for the PTP class. Supported platforms: 6300, 6400, 8100, 8360, 9300.",
              "PVST": "CoPP policy entry for pvst (AOS_CX) or loop-ctrl-pvst (AOS_S)",
              "RIP": "CoPP policy entry for rip",
              "SECURE_LEARN": "CoPP policy entry for the Secure Learn class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8325, 8360, 10000.",
              "SFLOW": "CoPP policy entry for the Sflow (AOS_CX) or sampling (AOS_S) class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "SMARTLINK": "CoPP policy entry for the Smartlink (AOS_CX) or loop-ctrl-smart-links (AOS_S) class. Supported platforms: 4100, 6000, 6100.",
              "SSH": "CoPP policy entry for the SSH class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "STP": "CoPP policy entry for stp",
              "TELNET": "CoPP policy entry for the Telnet class. Supported platforms: 8320, 8325, 8400, 9300, 10000.",
              "UDLD": "CoPP policy entry for the udld (AOS_CX) or udld-control (AOS_S) class",
              "UNICAST_SW_FORWARD": "CoPP policy entry for unicast-sw-forward",
              "UNKNOWN_MULTICAST": "CoPP policy entry for the Unknown Multicast class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 8400, 9300, 10000.",
              "UNRESOLVED_IP_UNICAST": "CoPP policy entry for unresolved-ip-unicast",
              "VRRP": "CoPP policy entry for the VRRP (AOS_CX) or ip-gateway-control (AOS_S) class. Supported platforms: 5420, 6200, 6300, 6400, 8100, 8360, 8400.",
              "VRRP_IPV4": "CoPP policy entry for the VRRP IPv4 class. Supported platforms: 8320, 8325, 9300, 10000.",
              "VRRP_IPV6": "CoPP policy entry for the VRRP IPv6 class. Supported platforms: 8320, 8325, 9300, 10000."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "drop": {
            "description": "Sets packets for the given class to be dropped. Standalone parameter - cannot be set to true if any of priority/rate/burst are set.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "description": "Local priority for an entry in the CoPP policy. Min: 0; Max: 6 (5420, 6200, 6300, 6400, 8100, 8360, 9300), 7 (4100, 6000, 6100, 8320, 8325, 10000), 10 (8400)",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rate-kbits": {
            "description": "Rate limit for an entry in the CoPP policy, in kilobits per second (kbps). Supported platforms: 8400, 9300. Min: 1; Max: 999999",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rate-pps": {
            "description": "Rate limit for an entry in the CoPP policy, in packets per second (PPS). Supported platforms: 4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8320, 8325, 8360, 10000. Min: 25 (4100, 5420, 6000, 6100, 6200, 6300, 6400, 8100, 8360), 1 (8320, 8325, 10000); Max: 99999",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "rate-pps",
                "x-patterns": "'default|none'"
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaCopp_CoppPolicyGet": {
        "description": "A CoPP policy",
        "properties": {
          "applied": {
            "description": "Whether or not this is the applied CoPP policy",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "configured-copp-policy-entries": {
            "description": "List of configured policy entries. (AOS-CX) The default class must be configured.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCopp_CoppPolicyEntryGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "class"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "user-defined-class-entries": {
            "description": "List of the user defined classes. PVOS only.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCopp_CoppUserDefinedClassGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "userDefinedClassIndex"
            ]
          }
        }
      },
      "ArubaCopp_CoppSchemaGET": {
        "description": "A list of profiles defining the CoPP configuration.",
        "properties": {
          "profile": {
            "items": {
              "properties": {
                "copp-policy": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaCopp_CoppPolicyGet"
                    }
                  ],
                  "description": "The CoPP policy.",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "description": {
                  "description": "Profile describing a CoPP policy.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "log": {
                  "default": "true",
                  "description": "Enable CoPP logging.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "name": {
                  "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "name",
                  "x-patterns": "INVERT-MATCH('default|factory-default')",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaCopp_CoppUserDefinedClass": {
        "description": "CoPP user-defined class",
        "properties": {
          "drop": {
            "default": "false",
            "description": "Class is dropped in the CoPP policy.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ip-address": {
            "description": "IPv4 or IPv6 adddress",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ip-match": {
            "description": "User class IP match type",
            "enum": [
              "IPV4",
              "IPV6",
              "IPV4_ANY",
              "IPV6_ANY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4": "User defined class match IPv4 address",
              "IPV4_ANY": "User defined class match any IPv4",
              "IPV6": "User defined class match IPv6 address",
              "IPV6_ANY": "User defined class match any IPv6"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "User defined class IP version"
          },
          "ip-protocol": {
            "description": "User class IP protocol: UDP/TCP",
            "enum": [
              "UDP",
              "TCP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TCP": "User defined class protocol TCP",
              "UDP": "User defined class protocol UDP"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "User defined class IP protocol"
          },
          "l4-port": {
            "description": "Layer 4 TCP/UDP port number",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "rate": {
            "description": "Rate limit for an entry in the CoPP policy.",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "rate",
                "x-patterns": "'default|none'"
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "user-defined-class-index": {
            "description": "The index of the user-defined class. Can be 1-8.",
            "format": "int64",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch PVOS"
        ]
      },
      "ArubaCopp_CoppUserDefinedClassGet": {
        "description": "CoPP user-defined class",
        "properties": {
          "drop": {
            "default": "false",
            "description": "Class is dropped in the CoPP policy.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ip-address": {
            "description": "IPv4 or IPv6 adddress",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ip-match": {
            "description": "User class IP match type",
            "enum": [
              "IPV4",
              "IPV6",
              "IPV4_ANY",
              "IPV6_ANY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4": "User defined class match IPv4 address",
              "IPV4_ANY": "User defined class match any IPv4",
              "IPV6": "User defined class match IPv6 address",
              "IPV6_ANY": "User defined class match any IPv6"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "User defined class IP version"
          },
          "ip-protocol": {
            "description": "User class IP protocol: UDP/TCP",
            "enum": [
              "UDP",
              "TCP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TCP": "User defined class protocol TCP",
              "UDP": "User defined class protocol UDP"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "User defined class IP protocol"
          },
          "l4-port": {
            "description": "Layer 4 TCP/UDP port number",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "rate": {
            "description": "Rate limit for an entry in the CoPP policy.",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "rate",
                "x-patterns": "'default|none'"
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "user-defined-class-index": {
            "description": "The index of the user-defined class. Can be 1-8.",
            "format": "int64",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch PVOS"
        ]
      },
      "ArubaCopp_CoppprofileSchema": {
        "properties": {
          "copp-policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCopp_CoppPolicy"
              }
            ],
            "description": "The CoPP policy.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "description": {
            "description": "Profile describing a CoPP policy.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "log": {
            "default": "true",
            "description": "Enable CoPP logging.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "format": "pattern",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "name",
            "x-patterns": "INVERT-MATCH('default|factory-default')",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaCopp_CoppprofileSchemaGet": {
        "properties": {
          "copp-policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCopp_CoppPolicyGet"
              }
            ],
            "description": "The CoPP policy.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "description": {
            "description": "Profile describing a CoPP policy.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "log": {
            "default": "true",
            "description": "Enable CoPP logging.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "The name of the profile describing configured CoPP policies. (AOS-CX) Also the name of the CoPP policy as configured on the device.",
            "format": "pattern",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "name",
            "x-patterns": "INVERT-MATCH('default|factory-default')",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCopp_CoppprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCopp_CoppprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
