{
  "openapi": "3.1.0",
  "info": {
    "title": "Est",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Est"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/est-profiles": {
      "get": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. EST supports automatic enrollment of certificates with the EST Server. The certificates can be enrolled or re-enrolled automatically by\nconfiguring an EST profile on the device. Certificate Enrollment with EST allows users to use their own PKI instead of the factory or self-signed certificates available on the Instant AP. This enables the user to\nhave maximum visibility and control over the management of the PKI used and address any issues related to security by themselves in a scaled environment.This feature is applicable for all devices.",
        "operationId": "readEstProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaEst_EstProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of EST Profile.",
        "tags": [
          "Est"
        ],
        "x-cliParam": {
          "commandName": "readEstProfilesCmd",
          "commandUse": "est-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/est-profiles/",
          "summary": "Read operation for est-profiles"
        }
      }
    },
    "/network-config/v1alpha1/est-profiles/{name}": {
      "get": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. You can configure parameters such as server-host, server-port,\narbitrary-label, etc.\nFor AP, one EST profile is supported for per device.\nFor CX device, maximum of 16 profiles supported.",
        "operationId": "readEstProfilesProfileByID",
        "parameters": [
          {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaEst_EstProfilesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing EST profile configuration",
        "tags": [
          "Est"
        ],
        "x-cliParam": {
          "commandName": "readEstProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readEstProfilesCmd",
          "pathToPrint": "/est-profiles/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. You can configure parameters such as server-host, server-port,\narbitrary-label, etc.\nFor AP, one EST profile is supported for per device.\nFor CX device, maximum of 16 profiles supported.",
        "operationId": "replaceEstProfilesProfileByID",
        "parameters": [
          {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaEst_EstProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing EST profile configuration",
        "tags": [
          "Est"
        ],
        "x-cliParam": {
          "commandName": "replaceEstProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceEstProfilesCmd",
          "pathToPrint": "/est-profiles/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. You can configure parameters such as server-host, server-port,\narbitrary-label, etc.\nFor AP, one EST profile is supported for per device.\nFor CX device, maximum of 16 profiles supported.",
        "operationId": "createEstProfilesProfileByID",
        "parameters": [
          {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaEst_EstProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new EST profile by unique name",
        "tags": [
          "Est"
        ],
        "x-cliParam": {
          "commandName": "createEstProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createEstProfilesCmd",
          "pathToPrint": "/est-profiles/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. You can configure parameters such as server-host, server-port,\narbitrary-label, etc.\nFor AP, one EST profile is supported for per device.\nFor CX device, maximum of 16 profiles supported.",
        "operationId": "deleteEstProfilesProfileByID",
        "parameters": [
          {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the EST profile",
        "tags": [
          "Est"
        ],
        "x-cliParam": {
          "commandName": "deleteEstProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteEstProfilesCmd",
          "pathToPrint": "/est-profiles/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. You can configure parameters such as server-host, server-port,\narbitrary-label, etc.\nFor AP, one EST profile is supported for per device.\nFor CX device, maximum of 16 profiles supported.",
        "operationId": "updateEstProfilesProfileByID",
        "parameters": [
          {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaEst_EstProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing EST profile configuration",
        "tags": [
          "Est"
        ],
        "x-cliParam": {
          "commandName": "updateEstProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateEstProfilesCmd",
          "pathToPrint": "/est-profiles/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaEst_EstProfilesSchemaGET": {
        "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. EST supports automatic enrollment of certificates with the EST Server. The certificates can be enrolled or re-enrolled automatically by\nconfiguring an EST profile on the device. Certificate Enrollment with EST allows users to use their own PKI instead of the factory or self-signed certificates available on the Instant AP. This enables the user to\nhave maximum visibility and control over the management of the PKI used and address any issues related to security by themselves in a scaled environment.This feature is applicable for all devices.",
        "properties": {
          "profile": {
            "description": "Configurate the parameters of Enrollment over Secure Transport(EST) Profile. You can configure parameters such as server-host, server-port,\narbitrary-label, etc.\nFor AP, one EST profile is supported for per device.\nFor CX device, maximum of 16 profiles supported.",
            "items": {
              "properties": {
                "arbitrary-label": {
                  "description": "Arbitrary Label used in EST enrollment/reenrollment operations.\nFor AP device, valid length: 1-63 characters.\nFor CX device, valid length: 1-64 characters.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "arbitrary-label-enrollment": {
                  "description": "Arbitrary Label used in EST enrollment.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch CX"
                  ]
                },
                "arbitrary-label-reenrollment": {
                  "description": "Arbitrary Label used in EST reenrollment.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch CX"
                  ]
                },
                "cacerts-download": {
                  "default": "false",
                  "description": "Allows EST CA download",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "challenge-password": {
                  "description": "Challenge Password used in EST enrollment. This configuration is valid only if\nusername is not configured.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "ciphertext-password": {
                  "description": "EST client password in ciphertext.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "csr-attribute": {
                  "default": "RSA_SHA256",
                  "description": "CSR Attribute used in EST enrollment.\nFollowing values are valid for AP and Gateway devices:\n1. RSA_SHA256: RSA-2048 with SHA256 digest as CSR Attr value.\n2. ECDSA_PRIME256V1_SHA256: ECDSA NIST P-256 with SHA256 digest as CSR Attr value\n3. ECDSA_PRIME384R1_SHA384: ECDSA NIST P-384 with SHA384 digest as CSR Attr value\nBelow values are supported only for AP devices:\n1. RSA_SHA384: RSA with SHA384 as CSR Attr value\n2. RSA_SHA512: RSA with SHA512 as CSR Attr value",
                  "enum": [
                    "RSA_SHA256",
                    "ECDSA_PRIME256V1_SHA256",
                    "ECDSA_PRIME384R1_SHA384",
                    "RSA_SHA384",
                    "RSA_SHA512"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ECDSA_PRIME256V1_SHA256": "ECDSA NIST P-256 with SHA256 digest as CSR Attr value.",
                    "ECDSA_PRIME384R1_SHA384": "ECDSA NIST P-384 with SHA384 digest as CSR Attr value.",
                    "RSA_SHA256": "RSA-2048 with SHA256 digest as CSR Attr value.",
                    "RSA_SHA384": "RSA with SHA384 as CSR Attr value",
                    "RSA_SHA512": "RSA with SHA512 as CSR Attr value"
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "CSR(Certificate Signing Request) Attr value type"
                },
                "description": {
                  "description": "User description for EST Profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "enable": {
                  "default": "false",
                  "description": "This configuration is used to activate or deactivate EST profile.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "http-auth-digest": {
                  "default": "false",
                  "description": "Enables HTTP-Digest-Auth in EST operation",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "key-length": {
                  "default": "KEY_LEN_2048",
                  "description": "Length of RSA key used in CSR",
                  "enum": [
                    "KEY_LEN_2048",
                    "KEY_LEN_4096"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "KEY_LEN_2048": "RSA Key Length of 2048 bits",
                    "KEY_LEN_4096": "RSA Key Length of 4096 bits"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Configuration of RSA key length"
                },
                "name": {
                  "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "organizational-unit-name": {
                  "description": "Organization-Unit used in CSR attribute value.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "password": {
                  "description": "Password of the EST Client. This configuration is valid only if username is configured.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "reenrollment-prior-expiry": {
                  "default": "2",
                  "description": "Number of days prior certificate expiry to initiate reenrollment",
                  "format": "int32",
                  "maximum": 30,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "retry-count": {
                  "description": "Retry-count for EST operations",
                  "format": "int32",
                  "maximum": 32,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "retry-interval": {
                  "default": "30",
                  "description": "Retry-interval in seconds for EST operations",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 30,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "server-cert": {
                  "description": "EST Server's CA Cert name.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "server-host": {
                  "description": "EST Server's hostname/IP address.\nFor CX device, valid length: 1-162 characters.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 253,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "domain-name",
                      "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                      "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "server-port": {
                  "default": "443",
                  "description": "Port number for EST server.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS"
                  ]
                },
                "server-vrf": {
                  "description": "VRF for EST operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                },
                "username": {
                  "description": "Username of the EST Client.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.\nFor CX device, valid length: 1-32 characters.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS",
                    "Switch CX"
                  ]
                }
              },
              "required": [
                "server-host"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        }
      },
      "ArubaEst_EstProfilesprofileSchema": {
        "properties": {
          "arbitrary-label": {
            "description": "Arbitrary Label used in EST enrollment/reenrollment operations.\nFor AP device, valid length: 1-63 characters.\nFor CX device, valid length: 1-64 characters.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "arbitrary-label-enrollment": {
            "description": "Arbitrary Label used in EST enrollment.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch CX"
            ]
          },
          "arbitrary-label-reenrollment": {
            "description": "Arbitrary Label used in EST reenrollment.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch CX"
            ]
          },
          "cacerts-download": {
            "default": "false",
            "description": "Allows EST CA download",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "challenge-password": {
            "description": "Challenge Password used in EST enrollment. This configuration is valid only if\nusername is not configured.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "ciphertext-password": {
            "description": "EST client password in ciphertext.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "csr-attribute": {
            "default": "RSA_SHA256",
            "description": "CSR Attribute used in EST enrollment.\nFollowing values are valid for AP and Gateway devices:\n1. RSA_SHA256: RSA-2048 with SHA256 digest as CSR Attr value.\n2. ECDSA_PRIME256V1_SHA256: ECDSA NIST P-256 with SHA256 digest as CSR Attr value\n3. ECDSA_PRIME384R1_SHA384: ECDSA NIST P-384 with SHA384 digest as CSR Attr value\nBelow values are supported only for AP devices:\n1. RSA_SHA384: RSA with SHA384 as CSR Attr value\n2. RSA_SHA512: RSA with SHA512 as CSR Attr value",
            "enum": [
              "RSA_SHA256",
              "ECDSA_PRIME256V1_SHA256",
              "ECDSA_PRIME384R1_SHA384",
              "RSA_SHA384",
              "RSA_SHA512"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ECDSA_PRIME256V1_SHA256": "ECDSA NIST P-256 with SHA256 digest as CSR Attr value.",
              "ECDSA_PRIME384R1_SHA384": "ECDSA NIST P-384 with SHA384 digest as CSR Attr value.",
              "RSA_SHA256": "RSA-2048 with SHA256 digest as CSR Attr value.",
              "RSA_SHA384": "RSA with SHA384 as CSR Attr value",
              "RSA_SHA512": "RSA with SHA512 as CSR Attr value"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "CSR(Certificate Signing Request) Attr value type"
          },
          "description": {
            "description": "User description for EST Profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "enable": {
            "default": "false",
            "description": "This configuration is used to activate or deactivate EST profile.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "http-auth-digest": {
            "default": "false",
            "description": "Enables HTTP-Digest-Auth in EST operation",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "key-length": {
            "default": "KEY_LEN_2048",
            "description": "Length of RSA key used in CSR",
            "enum": [
              "KEY_LEN_2048",
              "KEY_LEN_4096"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "KEY_LEN_2048": "RSA Key Length of 2048 bits",
              "KEY_LEN_4096": "RSA Key Length of 4096 bits"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Configuration of RSA key length"
          },
          "name": {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "organizational-unit-name": {
            "description": "Organization-Unit used in CSR attribute value.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "password": {
            "description": "Password of the EST Client. This configuration is valid only if username is configured.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "reenrollment-prior-expiry": {
            "default": "2",
            "description": "Number of days prior certificate expiry to initiate reenrollment",
            "format": "int32",
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "retry-count": {
            "description": "Retry-count for EST operations",
            "format": "int32",
            "maximum": 32,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "retry-interval": {
            "default": "30",
            "description": "Retry-interval in seconds for EST operations",
            "format": "int32",
            "maximum": 600,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "server-cert": {
            "description": "EST Server's CA Cert name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "server-host": {
            "description": "EST Server's hostname/IP address.\nFor CX device, valid length: 1-162 characters.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              {
                "format": "pattern",
                "maxLength": 253,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
              }
            ],
            "x-mandatory": true,
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "server-port": {
            "default": "443",
            "description": "Port number for EST server.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "server-vrf": {
            "description": "VRF for EST operation",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          },
          "username": {
            "description": "Username of the EST Client.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.\nFor CX device, valid length: 1-32 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          }
        },
        "required": [
          "server-host"
        ]
      },
      "ArubaEst_EstProfilesprofileSchemaGet": {
        "properties": {
          "arbitrary-label": {
            "description": "Arbitrary Label used in EST enrollment/reenrollment operations.\nFor AP device, valid length: 1-63 characters.\nFor CX device, valid length: 1-64 characters.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "arbitrary-label-enrollment": {
            "description": "Arbitrary Label used in EST enrollment.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch CX"
            ]
          },
          "arbitrary-label-reenrollment": {
            "description": "Arbitrary Label used in EST reenrollment.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch CX"
            ]
          },
          "cacerts-download": {
            "default": "false",
            "description": "Allows EST CA download",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "challenge-password": {
            "description": "Challenge Password used in EST enrollment. This configuration is valid only if\nusername is not configured.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "ciphertext-password": {
            "description": "EST client password in ciphertext.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "csr-attribute": {
            "default": "RSA_SHA256",
            "description": "CSR Attribute used in EST enrollment.\nFollowing values are valid for AP and Gateway devices:\n1. RSA_SHA256: RSA-2048 with SHA256 digest as CSR Attr value.\n2. ECDSA_PRIME256V1_SHA256: ECDSA NIST P-256 with SHA256 digest as CSR Attr value\n3. ECDSA_PRIME384R1_SHA384: ECDSA NIST P-384 with SHA384 digest as CSR Attr value\nBelow values are supported only for AP devices:\n1. RSA_SHA384: RSA with SHA384 as CSR Attr value\n2. RSA_SHA512: RSA with SHA512 as CSR Attr value",
            "enum": [
              "RSA_SHA256",
              "ECDSA_PRIME256V1_SHA256",
              "ECDSA_PRIME384R1_SHA384",
              "RSA_SHA384",
              "RSA_SHA512"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ECDSA_PRIME256V1_SHA256": "ECDSA NIST P-256 with SHA256 digest as CSR Attr value.",
              "ECDSA_PRIME384R1_SHA384": "ECDSA NIST P-384 with SHA384 digest as CSR Attr value.",
              "RSA_SHA256": "RSA-2048 with SHA256 digest as CSR Attr value.",
              "RSA_SHA384": "RSA with SHA384 as CSR Attr value",
              "RSA_SHA512": "RSA with SHA512 as CSR Attr value"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "CSR(Certificate Signing Request) Attr value type"
          },
          "description": {
            "description": "User description for EST Profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "enable": {
            "default": "false",
            "description": "This configuration is used to activate or deactivate EST profile.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "http-auth-digest": {
            "default": "false",
            "description": "Enables HTTP-Digest-Auth in EST operation",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "key-length": {
            "default": "KEY_LEN_2048",
            "description": "Length of RSA key used in CSR",
            "enum": [
              "KEY_LEN_2048",
              "KEY_LEN_4096"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "KEY_LEN_2048": "RSA Key Length of 2048 bits",
              "KEY_LEN_4096": "RSA Key Length of 4096 bits"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Configuration of RSA key length"
          },
          "name": {
            "description": "EST Profile name to be configured.\nFor AP device, valid length: 1-32 characters.\nFor CX device, valid length: 1-32 characters.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "organizational-unit-name": {
            "description": "Organization-Unit used in CSR attribute value.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "password": {
            "description": "Password of the EST Client. This configuration is valid only if username is configured.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "reenrollment-prior-expiry": {
            "default": "2",
            "description": "Number of days prior certificate expiry to initiate reenrollment",
            "format": "int32",
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "retry-count": {
            "description": "Retry-count for EST operations",
            "format": "int32",
            "maximum": 32,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "retry-interval": {
            "default": "30",
            "description": "Retry-interval in seconds for EST operations",
            "format": "int32",
            "maximum": 600,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "server-cert": {
            "description": "EST Server's CA Cert name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "server-host": {
            "description": "EST Server's hostname/IP address.\nFor CX device, valid length: 1-162 characters.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              {
                "format": "pattern",
                "maxLength": 253,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "domain-name",
                "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
              }
            ],
            "x-mandatory": true,
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "server-port": {
            "default": "443",
            "description": "Port number for EST server.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "server-vrf": {
            "description": "VRF for EST operation",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          },
          "username": {
            "description": "Username of the EST Client.\nFor Gateway device, valid length: 1-63 characters.\nFor AP device, valid length: 1-63 characters.\nFor CX device, valid length: 1-32 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS",
              "Switch CX"
            ]
          }
        },
        "required": [
          "server-host"
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaEst_EstProfilesprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaEst_EstProfilesprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
