{
  "openapi": "3.1.0",
  "info": {
    "title": "Firewall",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Firewall"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/firewall": {
      "get": {
        "description": "Firewall monitors and controls incoming and outgoing network traffic\nbased on predefined security rules. It protects against unauthorized\naccess, cyberattacks, and malicious threats. Firewall is superset of\nseveral of its submodules which all together help in keeping traffic\nsecure. This model defines the Aruba firewall profile hierarchy used\nby APs and Gateways to enforce stateful packet inspection and\npolicy-based traffic controls. It organizes firewall configuration\ninto reusable profiles with separate IPv4 and IPv6 subtrees, and\nexposes tunables for session handling, traffic classification, rate\nlimiting/mitigation controls, multicast handling, and other datapath\nbehaviors.",
        "operationId": "readFirewall",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaFirewall_FirewallSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured firewall Profile",
        "tags": [
          "Firewall"
        ],
        "x-cliParam": {
          "commandName": "readFirewallCmd",
          "commandUse": "firewall",
          "parentCommand": "readCmd",
          "pathToPrint": "/firewall/",
          "summary": "Read operation for firewall"
        }
      }
    },
    "/network-config/v1alpha1/firewall/{name}": {
      "get": {
        "description": "A named firewall profile that encapsulates a complete set of IPv4 and\nIPv6 firewall policies for a given deployment context. Only a single\nfirewall profile instance is permitted per scope. Each profile is\nidentified by a unique name and contains separate IPv4 and IPv6\ncontainers with tunables for session management, traffic classification,\nspoofing protection, multicast optimization, and various datapath behaviors.\nProfiles can be created, updated, and deleted independently, allowing\nadministrators to maintain multiple policy sets and apply them to different\ndevice groups or network segments as needed.",
        "operationId": "readFirewallProfileByID",
        "parameters": [
          {
            "description": "Firewall profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaFirewall_FirewallprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing firewall configuration",
        "tags": [
          "Firewall"
        ],
        "x-cliParam": {
          "commandName": "readFirewallProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readFirewallCmd",
          "pathToPrint": "/firewall/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "A named firewall profile that encapsulates a complete set of IPv4 and\nIPv6 firewall policies for a given deployment context. Only a single\nfirewall profile instance is permitted per scope. Each profile is\nidentified by a unique name and contains separate IPv4 and IPv6\ncontainers with tunables for session management, traffic classification,\nspoofing protection, multicast optimization, and various datapath behaviors.\nProfiles can be created, updated, and deleted independently, allowing\nadministrators to maintain multiple policy sets and apply them to different\ndevice groups or network segments as needed.",
        "operationId": "replaceFirewallProfileByID",
        "parameters": [
          {
            "description": "Firewall profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaFirewall_FirewallprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing firewall configuration",
        "tags": [
          "Firewall"
        ],
        "x-cliParam": {
          "commandName": "replaceFirewallProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceFirewallCmd",
          "pathToPrint": "/firewall/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "A named firewall profile that encapsulates a complete set of IPv4 and\nIPv6 firewall policies for a given deployment context. Only a single\nfirewall profile instance is permitted per scope. Each profile is\nidentified by a unique name and contains separate IPv4 and IPv6\ncontainers with tunables for session management, traffic classification,\nspoofing protection, multicast optimization, and various datapath behaviors.\nProfiles can be created, updated, and deleted independently, allowing\nadministrators to maintain multiple policy sets and apply them to different\ndevice groups or network segments as needed.",
        "operationId": "createFirewallProfileByID",
        "parameters": [
          {
            "description": "Firewall profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaFirewall_FirewallprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create firewall Profile",
        "tags": [
          "Firewall"
        ],
        "x-cliParam": {
          "commandName": "createFirewallProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createFirewallCmd",
          "pathToPrint": "/firewall/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A named firewall profile that encapsulates a complete set of IPv4 and\nIPv6 firewall policies for a given deployment context. Only a single\nfirewall profile instance is permitted per scope. Each profile is\nidentified by a unique name and contains separate IPv4 and IPv6\ncontainers with tunables for session management, traffic classification,\nspoofing protection, multicast optimization, and various datapath behaviors.\nProfiles can be created, updated, and deleted independently, allowing\nadministrators to maintain multiple policy sets and apply them to different\ndevice groups or network segments as needed.",
        "operationId": "deleteFirewallProfileByID",
        "parameters": [
          {
            "description": "Firewall profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the firewall profile",
        "tags": [
          "Firewall"
        ],
        "x-cliParam": {
          "commandName": "deleteFirewallProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteFirewallCmd",
          "pathToPrint": "/firewall/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A named firewall profile that encapsulates a complete set of IPv4 and\nIPv6 firewall policies for a given deployment context. Only a single\nfirewall profile instance is permitted per scope. Each profile is\nidentified by a unique name and contains separate IPv4 and IPv6\ncontainers with tunables for session management, traffic classification,\nspoofing protection, multicast optimization, and various datapath behaviors.\nProfiles can be created, updated, and deleted independently, allowing\nadministrators to maintain multiple policy sets and apply them to different\ndevice groups or network segments as needed.",
        "operationId": "updateFirewallProfileByID",
        "parameters": [
          {
            "description": "Firewall profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaFirewall_FirewallprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing firewall configurations",
        "tags": [
          "Firewall"
        ],
        "x-cliParam": {
          "commandName": "updateFirewallProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateFirewallCmd",
          "pathToPrint": "/firewall/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaFirewall_FirewallSchemaGET": {
        "description": "Firewall monitors and controls incoming and outgoing network traffic\nbased on predefined security rules. It protects against unauthorized\naccess, cyberattacks, and malicious threats. Firewall is superset of\nseveral of its submodules which all together help in keeping traffic\nsecure. This model defines the Aruba firewall profile hierarchy used\nby APs and Gateways to enforce stateful packet inspection and\npolicy-based traffic controls. It organizes firewall configuration\ninto reusable profiles with separate IPv4 and IPv6 subtrees, and\nexposes tunables for session handling, traffic classification, rate\nlimiting/mitigation controls, multicast handling, and other datapath\nbehaviors.",
        "properties": {
          "profile": {
            "description": "A named firewall profile that encapsulates a complete set of IPv4 and\nIPv6 firewall policies for a given deployment context. Only a single\nfirewall profile instance is permitted per scope. Each profile is\nidentified by a unique name and contains separate IPv4 and IPv6\ncontainers with tunables for session management, traffic classification,\nspoofing protection, multicast optimization, and various datapath behaviors.\nProfiles can be created, updated, and deleted independently, allowing\nadministrators to maintain multiple policy sets and apply them to different\ndevice groups or network segments as needed.",
            "items": {
              "properties": {
                "description": {
                  "description": "Configure global firewall policies",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "ipv4": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaFirewall_IpConfigGet"
                    }
                  ],
                  "description": "Configure global ipv4 firewall policies",
                  "properties": {
                    "allow-tri-session": {
                      "default": "false",
                      "description": "Allows three-way session when performing destination NAT. This option should be enabled when the managed device is not the default gateway for wireless clients and the default gateway is behind the managed device. This option is typically used for captive portal configuration.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "amsdu": {
                      "default": "false",
                      "description": "Aggregated Medium Access Control Service Data Units (AMSDU) packets are dropped if this option is enabled",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "attack-rate": {
                      "description": "List of attack-rate protocol, rate and action configurations. Sets rates which, if exceeded, can indicate a denial of service attack.",
                      "items": {
                        "properties": {
                          "action": {
                            "description": "Action to take on violation of rate",
                            "enum": [
                              "DENYLIST",
                              "DROP"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "DENYLIST": "Add the session to the deny list.",
                              "DROP": "Drop the packets"
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Firewall action type."
                          },
                          "protocol": {
                            "description": "Protocol to monitor for Denial of Service attacks.",
                            "enum": [
                              "ARP",
                              "CP",
                              "GRAT_ARP",
                              "PING",
                              "SESSION",
                              "TCP_SYN"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "ARP": " Monitor/police ARP attack (non Gratuitous ARP). Default rate 100",
                              "CP": "Monitor/police control processor attack.",
                              "GRAT_ARP": "Monitor/police Gratuitous ARP attack. Default rate 50",
                              "PING": "Monitor ping attack.",
                              "SESSION": "Monitor IP session attack",
                              "TCP_SYN": "Monitor TCP SYN attack"
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Protocol to monitor for ipv4 Denial of Service attacks."
                          },
                          "rate": {
                            "description": "Number of requests per 30 seconds. Valid range 1-16384",
                            "format": "int32",
                            "maximum": 16384,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "protocol"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "bwcontracts-subnet-broadcast": {
                      "default": "false",
                      "description": "Apply bandwidth contracts to local subnet broadcast traffic",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "cp-bandwidth-contract": {
                      "description": "Configures a list of Control-Path bandwidth contract traffic rate limits, in packets per second, to prevent denial of service attacks.",
                      "items": {
                        "properties": {
                          "protocol": {
                            "description": "Protocol type whose contract is being specified",
                            "enum": [
                              "ARP_TRAFFIC",
                              "AUTH",
                              "IKE",
                              "IPPKT_ERR",
                              "L2_OTHER",
                              "OFLOW",
                              "ROUTE",
                              "SESSMIRR",
                              "TRUSTED_MCAST",
                              "TRUSTED_UCAST",
                              "UNTRUSTED_MCAST",
                              "UNTRUSTED_UCAST",
                              "VRRP"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "ARP_TRAFFIC": "Rate limit ARP traffic",
                              "AUTH": "Rate limit traffic to the AUTH process",
                              "IKE": "Rate limit IKE traffic to Control Plane",
                              "IPPKT_ERR": "Rate limit error IP packets",
                              "L2_OTHER": "Rate limit L2 protocol and L2 special handling traffic",
                              "OFLOW": "Rate limit Openflow  packets",
                              "ROUTE": "Rate limit traffic that needs ARP requests generated",
                              "SESSMIRR": "Rate limit session mirrored traffic to Control Plane",
                              "TRUSTED_MCAST": "Rate limit trusted multicast traffic",
                              "TRUSTED_UCAST": "Rate limit trusted unicast traffic",
                              "UNTRUSTED_MCAST": "Rate limit untrusted multicast traffic",
                              "UNTRUSTED_UCAST": "Rate limit untrusted unicast traffic",
                              "VRRP": "Rate limit VRRP traffic to Control Plane"
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Protocol type whose contract is being specified"
                          },
                          "rate": {
                            "description": "Rate in packets per-second",
                            "format": "int32",
                            "maximum": 65535,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "protocol"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-needfrag-df-gre": {
                      "default": "false",
                      "description": "Drops IP packets with DF bit set when packet length is greater than GRE tunnel MTU and an ICMP error message is not sent.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-needfrag-df-gre-xmit-icmp": {
                      "default": "false",
                      "description": "Drops IP packets with DF bit set when packet length is greater than GRE tunnel MTU and an ICMP error message is sent.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-needfrag-df-ipsec": {
                      "default": "false",
                      "description": "Drops IP packets with DF bit set when packet length is greater than IPsec tunnel MTU and an ICMP error message is not sent.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-needfrag-gre": {
                      "default": "false",
                      "description": "Drops IP packets when packet length is greater than GRE tunnel MTU and an ICMP error message is not sent",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-needfrag-gre-xmit-icmp": {
                      "default": "false",
                      "description": "Drops IP packets when packet length is greater than GRE tunnel MTU and an ICMP error message is sent.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-source-routing": {
                      "default": "false",
                      "description": "Disallow forwarding of IP frames with source routing options set",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "dhcp-perf-monitoring": {
                      "default": "false",
                      "description": "Enables DHCP performance monitoring. This parameter is used to measure the time taken for a DHCP exchange.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "disable-ftp-server": {
                      "default": "false",
                      "description": "Enables DHCP performance monitoring. This parameter is used to measure the time taken for a DHCP exchange.Enabling this option could cause APs to not boot up. You should not enable this option unless instructed to do so by an Aruba representative. disabled",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "drop-ip-fragments": {
                      "default": "false",
                      "description": "When enabled, all IP fragments are dropped. You should not enable this option unless instructed to do so by an Aruba representative",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-bridging": {
                      "default": "false",
                      "description": "Enables bridging when the managed device is in factory default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-gre-inner-pkt-frag": {
                      "default": "false",
                      "description": "Enables fragmenting inner IP frames when packet length is greater than GRE tunnel MTU.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-per-packet-logging": {
                      "default": "false",
                      "description": "Enables logging of every packet if logging is enabled for the corresponding session rule. Normally, one event is logged per session. If you enable this option, each packet in the session is logged. You should not enable this option unless instructed to do so by an Aruba representative, as doing so may create unnecessary overhead on the managed device.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-port-packet-drop-logging": {
                      "default": "false",
                      "description": "Enables port packet logging. If enabled, the dropped frames are logged. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-stateful-icmp": {
                      "default": "false",
                      "description": "Enables stateful ICMP processing. This parameter create sessions for ICMP errors and denies unidirectional replies. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-handshake": {
                      "default": "false",
                      "description": "Prevents data from passing between two clients until the three-way TCP handshake has been performed. This option should be disabled when you have mobile clients on the network as enabling this option will cause mobility to fail. You can enable this option if there are no mobile clients on the network.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-sequence": {
                      "default": "false",
                      "description": "Enforces the TCP sequence numbers for all packets. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "gre-call-id-processing": {
                      "default": "false",
                      "description": " Creates a unique state for each PPTP tunnel. Do not enable this option unless instructed to do so by a technical support representative. ",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "immediate-feedback": {
                      "default": "false",
                      "description": "Triggers datapath immediate freeback of buffers.\nApplicable to 72xx Platform only(Default disabled)",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "intra-vlan-traffic": {
                      "description": "Intra vlan traffic grouping",
                      "properties": {
                        "wired-server-ip": {
                          "description": "IP address of the wired server",
                          "items": {
                            "description": "IP address of the wired server",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          "maxItems": 2147483647,
                          "type": "array"
                        },
                        "wired-server-ipv6": {
                          "description": "IPv6 address of the wired server",
                          "items": {
                            "description": "IPv6 address of the wired server",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          },
                          "maxItems": 2147483647,
                          "type": "array"
                        },
                        "wired-server-mac": {
                          "description": "MAC address of the wired server",
                          "items": {
                            "description": "MAC address of the wired server",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "mac-address",
                            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IEEE 802 MAC address"
                          },
                          "maxItems": 2147483647,
                          "type": "array"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "ip-classification": {
                      "default": "false",
                      "description": "Enable IP reputation/geolocation classification (Need\nto configure IP name server)",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "ipsec-mark-mgmt-frames": {
                      "default": "false",
                      "description": "Mark IPSEC management frames",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "local-valid-users": {
                      "default": "false",
                      "description": "Only allow IP addresses of local subnets in user table",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "log-icmp-error": {
                      "default": "false",
                      "description": "Logs received ICMP errors. You should not enable this option unless instructed to do so by a customer support representative. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "mcast-red": {
                      "description": "Configures multicast random drop paramaters.",
                      "properties": {
                        "inverse-mark-probability": {
                          "description": "Configure Inverse mark probability. Range 1-255",
                          "format": "int32",
                          "maximum": 255,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "maximum-threshold": {
                          "description": "Configures maximum threshold. Requires minimum-threshold to be configured. Range 0-100.",
                          "format": "int32",
                          "maximum": 100,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "minimum-threshold": {
                          "description": "Configures minimum threshold. Range 0-99",
                          "format": "int32",
                          "maximum": 99,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "optimize-dad-frames": {
                      "default": "true",
                      "description": "Optimizes DAD(Duplicate Address Detection) frames on wireless - reduce flooding of\nIPv4 gratuitous ARPs/IPv6 DAD frames onto wireless clients. Enabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "outstanding-buffers-hwm-percent": {
                      "default": "80",
                      "description": "Outstanding Buffers High Water Mark Percentage(1-99)",
                      "format": "int32",
                      "maximum": 99,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "outstanding-buffers-monitor-freq": {
                      "default": "32",
                      "description": "Outstanding Buffers Monitoring Frequency",
                      "format": "int32",
                      "maximum": 32,
                      "minimum": 2,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prevent-dhcp-exhaustion": {
                      "default": "false",
                      "description": "Enable check for DHCP client hardware address against the packet source MAC address. This command checks the frame's source-MAC against the DHCPv4 client hardware address and drops the packet if it does not match. Enabling this feature prevents a client from submitting multiple DHCP requests with different hardware addresses, thereby preventing DHCP pool depletion.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-arp-spoofing": {
                      "default": "false",
                      "description": "Detects and prohibits arp spoofing. When this option is enabled, possible arp spoofing attacks are logged and an SNMP trap is sent.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-ip-spoof-all": {
                      "default": "false",
                      "description": "Detects ARP spoofing, when an intruder sends ARP using the IP and MAC addresses of a known user. When this option is enabled, additional check for the user route cache entry is performed. If the route cache entry is not found or if found, but the route cache entry MAC does not match with the sender MAC in ARP frame, then, the frame is marked as spoof. The IP spoofing attacks are logged and an SNMP trap is sent. If the Prohibit IP Spoofing option is enabled, the controller denies all the traffic from the client using an IP address that is used by another client that has an entry in the user table. This option does not allow multiple MAC addresses to use the same IP address.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-ip-spoofing": {
                      "default": "true",
                      "description": "Detects IP spoofing (where an intruder sends messages using the IP address of a trusted client). When this option is enabled, source and destination IP and MAC addresses are checked; possible IP spoofing attacks are logged and an SNMP trap is sent. Enabled in IPv4, disabled in IPv6.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-rc-update": {
                      "default": "false",
                      "description": "This option prohibits route-cache update on user add. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-rst-replay": {
                      "default": "false",
                      "description": "Closes a TCP connection in both directions if a TCP RST is received from either direction. You should not enable this option unless instructed to do so by an Aruba representative. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "public-access": {
                      "default": "false",
                      "description": "Enable public-access mode (Reboot required)",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "restrict-corp-access": {
                      "default": "false",
                      "description": "Restricted access to the corporate network.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "role-to-role-policy-enforce": {
                      "default": "false",
                      "description": "Role to Role Policy Enforcement",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "session-idle-timeout": {
                      "default": "16",
                      "description": "Time, in seconds, that a non-TCP session can be idle before it is removed from the session table. You should not modify this option unless instructed to do so by an Aruba representative. Default value is 16. Valid range 16-300",
                      "format": "int32",
                      "maximum": 300,
                      "minimum": 16,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "session-spread": {
                      "default": "false",
                      "description": "Enables counter CPU to perform encryption. Applicable to 7200 Series controllers only Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "session-tunnel-fib": {
                      "default": "false",
                      "description": "Enable session,tunnel based forwarding. !!Warning!! It\nis recommended to toggle this knob during maintenance\nwindow or OFF peak production hours. On M3 this knob\nwill enable ONLY tunnel based forwarding, session based\ndoes NOT apply to this platform.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "shape-mcast": {
                      "default": "false",
                      "description": "Enables multicast optimization and provides excellent streaming quality regardless of the amount of VLANs or IP IGMP groups that are used. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "stall-crash": {
                      "default": "true",
                      "description": "Triggers datapath crash on stall detection. Applies to the to 7200 Series managed device only",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "tcp-session-idle-timeout": {
                      "default": "900",
                      "description": "Time, in seconds, that a TCP session can be idle before it is removed from the session table. You should not modify this option unless instructed to do so by an Aruba representative. Default value is 16. Valid range 300-43200",
                      "format": "int32",
                      "maximum": 43200,
                      "minimum": 300,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "track-spoof": {
                      "default": "false",
                      "description": "Detects spoof in datapath. Disabled voip-qos-trusted Prioritizes the RTP traffic based on the DSCP value set by the end user device. NOTE: On enabling, all UCC based ALGs will be disabled. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "tunnel-trusted": {
                      "default": "false",
                      "description": "Changes the role of incoming tunnel traffic in the inbound firewall role to a permit-all role.\nEnabling this parameter allows the AP to be remotely managed through the secured tunnel with the VPN concentrator.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "voip-wmm-content-enforcement": {
                      "default": "false",
                      "description": "If traffic to or from the user is inconsistent with the associated QoS policy for voice, the traffic is reclassified to best effort and data path counters incremented. This parameter requires the PEFNG license. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "wireless-bridge-aging": {
                      "default": "true",
                      "description": "Prevent the age-out of wireless clients when associated to AP. Enabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ipv6": {
                  "description": "Configure global ipv6 firewall policies",
                  "properties": {
                    "attack-rate": {
                      "description": "List of attack-rate protocol, rate and action configurations. Sets rates which, if exceeded, can\nindicate a denial of service attack.",
                      "items": {
                        "properties": {
                          "protocol": {
                            "description": "Protocol to monitor for Denial of Service attacks.",
                            "enum": [
                              "PING",
                              "SESSION",
                              "TCP_SYN"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "PING": "Monitor ping attack",
                              "SESSION": "Monitor IP session attack",
                              "TCP_SYN": "Monitor TCP SYN attack"
                            },
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Protocol to monitor for ipv6 Denial of Service attacks.."
                          },
                          "rate": {
                            "description": "Number of requests per 30 seconds. Valid range 1-16384",
                            "format": "int32",
                            "maximum": 16384,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "protocol"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "drop-ip-fragments": {
                      "default": "false",
                      "description": "When enabled, all IP fragments are dropped. You should not enable this option unless instructed to do so by an Aruba representative",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-per-packet-logging": {
                      "default": "false",
                      "description": "Enables logging of every packet if logging is enabled for the corresponding session rule. Normally, one event is logged per session. If you enable this option, each packet in the session is logged. You should not enable this option unless instructed to do so by an Aruba representative, as doing so may create unnecessary overhead on the managed device.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-stateful-icmp": {
                      "default": "false",
                      "description": "Enables stateful ICMP processing. This parameter create sessions for ICMP errors and denies unidirectional replies. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-handshake": {
                      "default": "false",
                      "description": "Prevents data from passing between two clients until the three-way TCP handshake has been performed. This option should be disabled when you have mobile clients on the network as enabling this option will cause mobility to fail. You can enable this option if there are no mobile clients on the network.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-sequence": {
                      "default": "false",
                      "description": "Enforces the TCP sequence numbers for all packets. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "ext-hdr-parse-len": {
                      "default": "100",
                      "description": "Set the threshold value beyond which the IPv6 header will not be parsed and the packet will be dropped. Default value 100. Range 100-300",
                      "format": "int32",
                      "maximum": 300,
                      "minimum": 100,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-ip-spoofing": {
                      "description": "Detects IP spoofing (where an intruder sends messages using the IP address of a trusted client). When this option is enabled, source and destination IP and MAC addresses are checked; possible IP spoofing attacks are logged and an SNMP trap is sent. Enabled in IPv4, disabled in IPv6.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "prohibit-rst-replay": {
                      "default": "false",
                      "description": "Closes a TCP connection in both directions if a TCP RST is\nreceived from either direction. You should not enable this\noption unless instructed to do so by a customer support\nrepresentative",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "session-idle-timeout": {
                      "default": "16",
                      "description": "Time, in seconds, that a non-TCP session can be idle before it is removed from the session table. You should not modify this option unless instructed to do so by an Aruba representative. Default value is 16. Valid range 16-300",
                      "format": "int32",
                      "maximum": 300,
                      "minimum": 16,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "tcp-session-idle-timeout": {
                      "default": "900",
                      "description": "Time, in seconds, that a TCP session can be idle before it is removed from the session table. You should not modify this option unless instructed to do so by an Aruba representative. Default value is 16. Valid range 300-43200",
                      "format": "int32",
                      "maximum": 43200,
                      "minimum": 300,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "name": {
                  "description": "Firewall profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Access Point"
        ]
      },
      "ArubaFirewall_FirewallprofileSchema": {
        "properties": {
          "description": {
            "description": "Configure global firewall policies",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "ipv4": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFirewall_IpConfig"
              }
            ],
            "description": "Configure global ipv4 firewall policies",
            "properties": {
              "allow-tri-session": {
                "default": "false",
                "description": "Allows three-way session when performing destination NAT. This option should be enabled when the managed device is not the default gateway for wireless clients and the default gateway is behind the managed device. This option is typically used for captive portal configuration.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "amsdu": {
                "default": "false",
                "description": "Aggregated Medium Access Control Service Data Units (AMSDU) packets are dropped if this option is enabled",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "attack-rate": {
                "description": "List of attack-rate protocol, rate and action configurations. Sets rates which, if exceeded, can indicate a denial of service attack.",
                "items": {
                  "properties": {
                    "action": {
                      "description": "Action to take on violation of rate",
                      "enum": [
                        "DENYLIST",
                        "DROP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DENYLIST": "Add the session to the deny list.",
                        "DROP": "Drop the packets"
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Firewall action type."
                    },
                    "protocol": {
                      "description": "Protocol to monitor for Denial of Service attacks.",
                      "enum": [
                        "ARP",
                        "CP",
                        "GRAT_ARP",
                        "PING",
                        "SESSION",
                        "TCP_SYN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ARP": " Monitor/police ARP attack (non Gratuitous ARP). Default rate 100",
                        "CP": "Monitor/police control processor attack.",
                        "GRAT_ARP": "Monitor/police Gratuitous ARP attack. Default rate 50",
                        "PING": "Monitor ping attack.",
                        "SESSION": "Monitor IP session attack",
                        "TCP_SYN": "Monitor TCP SYN attack"
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Protocol to monitor for ipv4 Denial of Service attacks."
                    },
                    "rate": {
                      "description": "Number of requests per 30 seconds. Valid range 1-16384",
                      "format": "int32",
                      "maximum": 16384,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "protocol"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "bwcontracts-subnet-broadcast": {
                "default": "false",
                "description": "Apply bandwidth contracts to local subnet broadcast traffic",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "cp-bandwidth-contract": {
                "description": "Configures a list of Control-Path bandwidth contract traffic rate limits, in packets per second, to prevent denial of service attacks.",
                "items": {
                  "properties": {
                    "protocol": {
                      "description": "Protocol type whose contract is being specified",
                      "enum": [
                        "ARP_TRAFFIC",
                        "AUTH",
                        "IKE",
                        "IPPKT_ERR",
                        "L2_OTHER",
                        "OFLOW",
                        "ROUTE",
                        "SESSMIRR",
                        "TRUSTED_MCAST",
                        "TRUSTED_UCAST",
                        "UNTRUSTED_MCAST",
                        "UNTRUSTED_UCAST",
                        "VRRP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ARP_TRAFFIC": "Rate limit ARP traffic",
                        "AUTH": "Rate limit traffic to the AUTH process",
                        "IKE": "Rate limit IKE traffic to Control Plane",
                        "IPPKT_ERR": "Rate limit error IP packets",
                        "L2_OTHER": "Rate limit L2 protocol and L2 special handling traffic",
                        "OFLOW": "Rate limit Openflow  packets",
                        "ROUTE": "Rate limit traffic that needs ARP requests generated",
                        "SESSMIRR": "Rate limit session mirrored traffic to Control Plane",
                        "TRUSTED_MCAST": "Rate limit trusted multicast traffic",
                        "TRUSTED_UCAST": "Rate limit trusted unicast traffic",
                        "UNTRUSTED_MCAST": "Rate limit untrusted multicast traffic",
                        "UNTRUSTED_UCAST": "Rate limit untrusted unicast traffic",
                        "VRRP": "Rate limit VRRP traffic to Control Plane"
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Protocol type whose contract is being specified"
                    },
                    "rate": {
                      "description": "Rate in packets per-second",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "protocol"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "deny-needfrag-df-gre": {
                "default": "false",
                "description": "Drops IP packets with DF bit set when packet length is greater than GRE tunnel MTU and an ICMP error message is not sent.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "deny-needfrag-df-gre-xmit-icmp": {
                "default": "false",
                "description": "Drops IP packets with DF bit set when packet length is greater than GRE tunnel MTU and an ICMP error message is sent.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "deny-needfrag-df-ipsec": {
                "default": "false",
                "description": "Drops IP packets with DF bit set when packet length is greater than IPsec tunnel MTU and an ICMP error message is not sent.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "deny-needfrag-gre": {
                "default": "false",
                "description": "Drops IP packets when packet length is greater than GRE tunnel MTU and an ICMP error message is not sent",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "deny-needfrag-gre-xmit-icmp": {
                "default": "false",
                "description": "Drops IP packets when packet length is greater than GRE tunnel MTU and an ICMP error message is sent.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "deny-source-routing": {
                "default": "false",
                "description": "Disallow forwarding of IP frames with source routing options set",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "dhcp-perf-monitoring": {
                "default": "false",
                "description": "Enables DHCP performance monitoring. This parameter is used to measure the time taken for a DHCP exchange.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "disable-ftp-server": {
                "default": "false",
                "description": "Enables DHCP performance monitoring. This parameter is used to measure the time taken for a DHCP exchange.Enabling this option could cause APs to not boot up. You should not enable this option unless instructed to do so by an Aruba representative. disabled",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "drop-ip-fragments": {
                "default": "false",
                "description": "When enabled, all IP fragments are dropped. You should not enable this option unless instructed to do so by an Aruba representative",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-bridging": {
                "default": "false",
                "description": "Enables bridging when the managed device is in factory default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-gre-inner-pkt-frag": {
                "default": "false",
                "description": "Enables fragmenting inner IP frames when packet length is greater than GRE tunnel MTU.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-per-packet-logging": {
                "default": "false",
                "description": "Enables logging of every packet if logging is enabled for the corresponding session rule. Normally, one event is logged per session. If you enable this option, each packet in the session is logged. You should not enable this option unless instructed to do so by an Aruba representative, as doing so may create unnecessary overhead on the managed device.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-port-packet-drop-logging": {
                "default": "false",
                "description": "Enables port packet logging. If enabled, the dropped frames are logged. Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-stateful-icmp": {
                "default": "false",
                "description": "Enables stateful ICMP processing. This parameter create sessions for ICMP errors and denies unidirectional replies. Disabled by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enforce-tcp-handshake": {
                "default": "false",
                "description": "Prevents data from passing between two clients until the three-way TCP handshake has been performed. This option should be disabled when you have mobile clients on the network as enabling this option will cause mobility to fail. You can enable this option if there are no mobile clients on the network.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enforce-tcp-sequence": {
                "default": "false",
                "description": "Enforces the TCP sequence numbers for all packets. Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "gre-call-id-processing": {
                "default": "false",
                "description": " Creates a unique state for each PPTP tunnel. Do not enable this option unless instructed to do so by a technical support representative. ",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "immediate-feedback": {
                "default": "false",
                "description": "Triggers datapath immediate freeback of buffers.\nApplicable to 72xx Platform only(Default disabled)",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "intra-vlan-traffic": {
                "description": "Intra vlan traffic grouping",
                "properties": {
                  "wired-server-ip": {
                    "description": "IP address of the wired server",
                    "items": {
                      "description": "IP address of the wired server",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "maxItems": 2147483647,
                    "type": "array"
                  },
                  "wired-server-ipv6": {
                    "description": "IPv6 address of the wired server",
                    "items": {
                      "description": "IPv6 address of the wired server",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "maxItems": 2147483647,
                    "type": "array"
                  },
                  "wired-server-mac": {
                    "description": "MAC address of the wired server",
                    "items": {
                      "description": "MAC address of the wired server",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mac-address",
                      "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IEEE 802 MAC address"
                    },
                    "maxItems": 2147483647,
                    "type": "array"
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ip-classification": {
                "default": "false",
                "description": "Enable IP reputation/geolocation classification (Need\nto configure IP name server)",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "ipsec-mark-mgmt-frames": {
                "default": "false",
                "description": "Mark IPSEC management frames",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "local-valid-users": {
                "default": "false",
                "description": "Only allow IP addresses of local subnets in user table",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "log-icmp-error": {
                "default": "false",
                "description": "Logs received ICMP errors. You should not enable this option unless instructed to do so by a customer support representative. Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "mcast-red": {
                "description": "Configures multicast random drop paramaters.",
                "properties": {
                  "inverse-mark-probability": {
                    "description": "Configure Inverse mark probability. Range 1-255",
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "maximum-threshold": {
                    "description": "Configures maximum threshold. Requires minimum-threshold to be configured. Range 0-100.",
                    "format": "int32",
                    "maximum": 100,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "minimum-threshold": {
                    "description": "Configures minimum threshold. Range 0-99",
                    "format": "int32",
                    "maximum": 99,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "optimize-dad-frames": {
                "default": "true",
                "description": "Optimizes DAD(Duplicate Address Detection) frames on wireless - reduce flooding of\nIPv4 gratuitous ARPs/IPv6 DAD frames onto wireless clients. Enabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "outstanding-buffers-hwm-percent": {
                "default": "80",
                "description": "Outstanding Buffers High Water Mark Percentage(1-99)",
                "format": "int32",
                "maximum": 99,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "outstanding-buffers-monitor-freq": {
                "default": "32",
                "description": "Outstanding Buffers Monitoring Frequency",
                "format": "int32",
                "maximum": 32,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prevent-dhcp-exhaustion": {
                "default": "false",
                "description": "Enable check for DHCP client hardware address against the packet source MAC address. This command checks the frame's source-MAC against the DHCPv4 client hardware address and drops the packet if it does not match. Enabling this feature prevents a client from submitting multiple DHCP requests with different hardware addresses, thereby preventing DHCP pool depletion.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prohibit-arp-spoofing": {
                "default": "false",
                "description": "Detects and prohibits arp spoofing. When this option is enabled, possible arp spoofing attacks are logged and an SNMP trap is sent.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prohibit-ip-spoof-all": {
                "default": "false",
                "description": "Detects ARP spoofing, when an intruder sends ARP using the IP and MAC addresses of a known user. When this option is enabled, additional check for the user route cache entry is performed. If the route cache entry is not found or if found, but the route cache entry MAC does not match with the sender MAC in ARP frame, then, the frame is marked as spoof. The IP spoofing attacks are logged and an SNMP trap is sent. If the Prohibit IP Spoofing option is enabled, the controller denies all the traffic from the client using an IP address that is used by another client that has an entry in the user table. This option does not allow multiple MAC addresses to use the same IP address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prohibit-ip-spoofing": {
                "default": "true",
                "description": "Detects IP spoofing (where an intruder sends messages using the IP address of a trusted client). When this option is enabled, source and destination IP and MAC addresses are checked; possible IP spoofing attacks are logged and an SNMP trap is sent. Enabled in IPv4, disabled in IPv6.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prohibit-rc-update": {
                "default": "false",
                "description": "This option prohibits route-cache update on user add. Disabled by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prohibit-rst-replay": {
                "default": "false",
                "description": "Closes a TCP connection in both directions if a TCP RST is received from either direction. You should not enable this option unless instructed to do so by an Aruba representative. Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "public-access": {
                "default": "false",
                "description": "Enable public-access mode (Reboot required)",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "restrict-corp-access": {
                "default": "false",
                "description": "Restricted access to the corporate network.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "role-to-role-policy-enforce": {
                "default": "false",
                "description": "Role to Role Policy Enforcement",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "session-idle-timeout": {
                "default": "16",
                "description": "Time, in seconds, that a non-TCP session can be idle before it is removed from the session table. You should not modify this option unless instructed to do so by an Aruba representative. Default value is 16. Valid range 16-300",
                "format": "int32",
                "maximum": 300,
                "minimum": 16,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "session-spread": {
                "default": "false",
                "description": "Enables counter CPU to perform encryption. Applicable to 7200 Series controllers only Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "session-tunnel-fib": {
                "default": "false",
                "description": "Enable session,tunnel based forwarding. !!Warning!! It\nis recommended to toggle this knob during maintenance\nwindow or OFF peak production hours. On M3 this knob\nwill enable ONLY tunnel based forwarding, session based\ndoes NOT apply to this platform.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "shape-mcast": {
                "default": "false",
                "description": "Enables multicast optimization and provides excellent streaming quality regardless of the amount of VLANs or IP IGMP groups that are used. Disabled by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "stall-crash": {
                "default": "true",
                "description": "Triggers datapath crash on stall detection. Applies to the to 7200 Series managed device only",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "tcp-session-idle-timeout": {
                "default": "900",
                "description": "Time, in seconds, that a TCP session can be idle before it is removed from the session table. You should not modify this option unless instructed to do so by an Aruba representative. Default value is 16. Valid range 300-43200",
                "format": "int32",
                "maximum": 43200,
                "minimum": 300,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "track-spoof": {
                "default": "false",
                "description": "Detects spoof in datapath. Disabled voip-qos-trusted Prioritizes the RTP traffic based on the DSCP value set by the end user device. NOTE: On enabling, all UCC based ALGs will be disabled. Disabled by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "tunnel-trusted": {
                "default": "false",
                "description": "Changes the role of incoming tunnel traffic in the inbound firewall role to a permit-all role.\nEnabling this parameter allows the AP to be remotely managed through the secured tunnel with the VPN concentrator.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "voip-wmm-content-enforcement": {
                "default": "false",
                "description": "If traffic to or from the user is inconsistent with the associated QoS policy for voice, the traffic is reclassified to best effort and data path counters incremented. This parameter requires the PEFNG license. Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "wireless-bridge-aging": {
                "default": "true",
                "description": "Prevent the age-out of wireless clients when associated to AP. Enabled by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ipv6": {
            "description": "Configure global ipv6 firewall policies",
            "properties": {
              "attack-rate": {
                "description": "List of attack-rate protocol, rate and action configurations. Sets rates which, if exceeded, can\nindicate a denial of service attack.",
                "items": {
                  "properties": {
                    "protocol": {
                      "description": "Protocol to monitor for Denial of Service attacks.",
                      "enum": [
                        "PING",
                        "SESSION",
                        "TCP_SYN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "PING": "Monitor ping attack",
                        "SESSION": "Monitor IP session attack",
                        "TCP_SYN": "Monitor TCP SYN attack"
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Protocol to monitor for ipv6 Denial of Service attacks.."
                    },
                    "rate": {
                      "description": "Number of requests per 30 seconds. Valid range 1-16384",
                      "format": "int32",
                      "maximum": 16384,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "protocol"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "drop-ip-fragments": {
                "default": "false",
                "description": "When enabled, all IP fragments are dropped. You should not enable this option unless instructed to do so by an Aruba representative",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-per-packet-logging": {
                "default": "false",
                "description": "Enables logging of every packet if logging is enabled for the corresponding session rule. Normally, one event is logged per session. If you enable this option, each packet in the session is logged. You should not enable this option unless instructed to do so by an Aruba representative, as doing so may create unnecessary overhead on the managed device.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enable-stateful-icmp": {
                "default": "false",
                "description": "Enables stateful ICMP processing. This parameter create sessions for ICMP errors and denies unidirectional replies. Disabled by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enforce-tcp-handshake": {
                "default": "false",
                "description": "Prevents data from passing between two clients until the three-way TCP handshake has been performed. This option should be disabled when you have mobile clients on the network as enabling this option will cause mobility to fail. You can enable this option if there are no mobile clients on the network.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "enforce-tcp-sequence": {
                "default": "false",
                "description": "Enforces the TCP sequence numbers for all packets. Disabled by default",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "ext-hdr-parse-len": {
                "default": "100",
                "description": "Set the threshold value beyond which the IPv6 header will not be parsed and the packet will be dropped. Default value 100. Range 100-300",
                "format": "int32",
                "maximum": 300,
                "minimum": 100,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prohibit-ip-spoofing": {
[...]
