{
  "openapi": "3.1.0",
  "info": {
    "title": "Gw Certificate Usage",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Gw Certificate Usage"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/gw-certificate-usage": {
      "get": {
        "description": "Gw-certificate-usage helps to assign server certificates, CA certificates, and\nconfigure revocation checking via CRL or OCSP. Supports primary/secondary revocation\nmethods with configurable enforcement levels and timeouts. Includes built-in OCSP\nresponder functionality, certificate groups for multiple VPN scenarios, and separate\ncertificates for WebUI and captive portal.",
        "operationId": "readGwCertificateUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaGwCertificateUsage_GwCertificateUsageSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the configured Gateway-Certificate-Usage Profile",
        "tags": [
          "Gw Certificate Usage"
        ],
        "x-cliParam": {
          "commandName": "readGwCertificateUsageCmd",
          "commandUse": "gw-certificate-usage",
          "parentCommand": "readCmd",
          "pathToPrint": "/gw-certificate-usage/",
          "summary": "Read operation for gw-certificate-usage"
        }
      }
    },
    "/network-config/v1alpha1/gw-certificate-usage/{name}": {
      "get": {
        "description": "List of Gateway Certificate Usage profiles",
        "operationId": "readGwCertificateUsageProfileByID",
        "parameters": [
          {
            "description": "Name of the Gateway Certificate usage profile to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaGwCertificateUsage_GwCertificateUsageprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile by name",
        "tags": [
          "Gw Certificate Usage"
        ],
        "x-cliParam": {
          "commandName": "readGwCertificateUsageProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readGwCertificateUsageCmd",
          "pathToPrint": "/gw-certificate-usage/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Gateway Certificate Usage profiles",
        "operationId": "replaceGwCertificateUsageProfileByID",
        "parameters": [
          {
            "description": "Name of the Gateway Certificate usage profile to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwCertificateUsage_GwCertificateUsageprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Gw Certificate Usage"
        ],
        "x-cliParam": {
          "commandName": "replaceGwCertificateUsageProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceGwCertificateUsageCmd",
          "pathToPrint": "/gw-certificate-usage/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Gateway Certificate Usage profiles",
        "operationId": "createGwCertificateUsageProfileByID",
        "parameters": [
          {
            "description": "Name of the Gateway Certificate usage profile to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwCertificateUsage_GwCertificateUsageprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile by name",
        "tags": [
          "Gw Certificate Usage"
        ],
        "x-cliParam": {
          "commandName": "createGwCertificateUsageProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createGwCertificateUsageCmd",
          "pathToPrint": "/gw-certificate-usage/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Gateway Certificate Usage profiles",
        "operationId": "deleteGwCertificateUsageProfileByID",
        "parameters": [
          {
            "description": "Name of the Gateway Certificate usage profile to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile by name",
        "tags": [
          "Gw Certificate Usage"
        ],
        "x-cliParam": {
          "commandName": "deleteGwCertificateUsageProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteGwCertificateUsageCmd",
          "pathToPrint": "/gw-certificate-usage/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Gateway Certificate Usage profiles",
        "operationId": "updateGwCertificateUsageProfileByID",
        "parameters": [
          {
            "description": "Name of the Gateway Certificate usage profile to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwCertificateUsage_GwCertificateUsageprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Gw Certificate Usage"
        ],
        "x-cliParam": {
          "commandName": "updateGwCertificateUsageProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateGwCertificateUsageCmd",
          "pathToPrint": "/gw-certificate-usage/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaGwCertificateUsage_CryptoGrouping": {
        "description": "VPN clients related certificate group",
        "properties": {
          "crypto": {
            "description": "Crypto configuration",
            "properties": {
              "certificate-group": {
                "description": "List of Certificate-groups for VPN client connections.",
                "items": {
                  "properties": {
                    "ca-certificate": {
                      "description": "Trusted certificates to trust VPN Client's certificate.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "server-certificate": {
                      "description": "Server certificate used to connect with VPN Clients",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "serverCertificate"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "vpn-client-ca-certificate": {
                "description": "Trusted certificates to trust VPN Client's certificate.",
                "items": {
                  "description": "Trusted certificates to trust VPN Client's certificate.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "vpn-server-certificate": {
                "description": "Server certificate used to connect with VPN Clients.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaGwCertificateUsage_CryptoGroupingGet": {
        "description": "VPN clients related certificate group",
        "properties": {
          "crypto": {
            "description": "Crypto configuration",
            "properties": {
              "certificate-group": {
                "description": "List of Certificate-groups for VPN client connections.",
                "items": {
                  "properties": {
                    "ca-certificate": {
                      "description": "Trusted certificates to trust VPN Client's certificate.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "server-certificate": {
                      "description": "Server certificate used to connect with VPN Clients",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "serverCertificate"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "vpn-client-ca-certificate": {
                "description": "Trusted certificates to trust VPN Client's certificate.",
                "items": {
                  "description": "Trusted certificates to trust VPN Client's certificate.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "vpn-server-certificate": {
                "description": "Server certificate used to connect with VPN Clients.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaGwCertificateUsage_GwCertificateUsageSchemaGET": {
        "description": "Gw-certificate-usage helps to assign server certificates, CA certificates, and\nconfigure revocation checking via CRL or OCSP. Supports primary/secondary revocation\nmethods with configurable enforcement levels and timeouts. Includes built-in OCSP\nresponder functionality, certificate groups for multiple VPN scenarios, and separate\ncertificates for WebUI and captive portal.",
        "properties": {
          "profile": {
            "description": "List of Gateway Certificate Usage profiles",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaGwCertificateUsage_RcpGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaGwCertificateUsage_WebserverGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaGwCertificateUsage_CryptoGroupingGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the Gateway Certificate usage profile to be configured.",
                      "format": "pattern",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "profile-name-type",
                      "x-patterns": "'[a-zA-Z0-9_-]+'",
                      "x-typeDescription": "Profile name type. Allowed characters : alphanumeric, hyphen(-), underscore(_). Range : 1-63."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway"
        ]
      },
      "ArubaGwCertificateUsage_GwCertificateUsageprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaGwCertificateUsage_RcpGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaGwCertificateUsage_WebserverGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaGwCertificateUsage_CryptoGrouping"
          },
          {
            "properties": {
              "description": {
                "description": "Profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the Gateway Certificate usage profile to be configured.",
                "format": "pattern",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "profile-name-type",
                "x-patterns": "'[a-zA-Z0-9_-]+'",
                "x-typeDescription": "Profile name type. Allowed characters : alphanumeric, hyphen(-), underscore(_). Range : 1-63."
              }
            }
          }
        ]
      },
      "ArubaGwCertificateUsage_GwCertificateUsageprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaGwCertificateUsage_RcpGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaGwCertificateUsage_WebserverGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaGwCertificateUsage_CryptoGroupingGet"
          },
          {
            "properties": {
              "description": {
                "description": "Profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the Gateway Certificate usage profile to be configured.",
                "format": "pattern",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "profile-name-type",
                "x-patterns": "'[a-zA-Z0-9_-]+'",
                "x-typeDescription": "Profile name type. Allowed characters : alphanumeric, hyphen(-), underscore(_). Range : 1-63."
              }
            }
          }
        ]
      },
      "ArubaGwCertificateUsage_RcpGroup": {
        "description": "Revocation Check Point grouping",
        "properties": {
          "enable-ocsp-responder": {
            "default": "false",
            "description": "Enable OCSP Responder functionality.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "revocation-check-point": {
            "description": "List of Revocation Check Points",
            "items": {
              "properties": {
                "crl-file-name": {
                  "description": "CRL file to be used for the CRL check.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "enable-ocsp-responder": {
                  "default": "false",
                  "description": "Enable ocsp responder functionality for the current trusted-ca certificate. Default: False.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ocsp": {
                  "description": "Online Certificate Status Protocol(OCSP) configuration.",
                  "properties": {
                    "enforcement-level": {
                      "default": "FAIL_OVER",
                      "description": "Configure the enforcement policy for when an revocation check cannot be completed.",
                      "enum": [
                        "REVOKE_CERT",
                        "ALLOW_CERT",
                        "FAIL_OVER"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALLOW_CERT": "Assume Certificate is good if OCSP Server is unreachable.",
                        "FAIL_OVER": "Fail over to next RCP method if OCSP Server is unreachable.",
                        "REVOKE_CERT": "Assume Certificate is revoked if OCSP Server is unreachable."
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "The enforcement policy for when an revocation check cannot be completed."
                    },
                    "primary-url": {
                      "description": "Configuration of OCSP Server URL.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "primary-url",
                      "x-patterns": "'(http|https)://.*'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
                    },
                    "responder-cert": {
                      "description": "OCSP Responder Cert to verify OCSP responses.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "signer-cert": {
                      "description": "OCSP Signer Cert to sign the OCSP request/responses.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "timeout-period": {
                      "default": "1000",
                      "description": "OCSP Server timeout value.",
                      "format": "int64",
                      "maximum": 5000,
                      "minimum": 600,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "rcp-primary-method": {
                  "description": "Primary RCP method. Default is None.",
                  "enum": [
                    "NONE",
                    "CRL",
                    "OCSP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CRL": "Certificate Revocation List(CRL) as RCP Type.",
                    "NONE": "NONE as RCP Type.",
                    "OCSP": "Online Certificate Status Protocol(OCSP) as RCP Type."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Revocation Check Point type"
                },
                "rcp-secondary-method": {
                  "description": "Secondary RCP method. Valid only if primary rcp method is configured and it should not be same as primary method.",
                  "enum": [
                    "NONE",
                    "CRL",
                    "OCSP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CRL": "Certificate Revocation List(CRL) as RCP Type.",
                    "NONE": "NONE as RCP Type.",
                    "OCSP": "Online Certificate Status Protocol(OCSP) as RCP Type."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Revocation Check Point type"
                },
                "trusted-certificate": {
                  "description": "Trusted CA certificate to be used in validation of RCP responses and other peer certificates.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "trustedCertificate"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "signer-cert": {
            "description": "OCSP Signer Cert to sign the OCSP responses.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaGwCertificateUsage_RcpGroupGet": {
        "description": "Revocation Check Point grouping",
        "properties": {
          "enable-ocsp-responder": {
            "default": "false",
            "description": "Enable OCSP Responder functionality.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "revocation-check-point": {
            "description": "List of Revocation Check Points",
            "items": {
              "properties": {
                "crl-file-name": {
                  "description": "CRL file to be used for the CRL check.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "enable-ocsp-responder": {
                  "default": "false",
                  "description": "Enable ocsp responder functionality for the current trusted-ca certificate. Default: False.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ocsp": {
                  "description": "Online Certificate Status Protocol(OCSP) configuration.",
                  "properties": {
                    "enforcement-level": {
                      "default": "FAIL_OVER",
                      "description": "Configure the enforcement policy for when an revocation check cannot be completed.",
                      "enum": [
                        "REVOKE_CERT",
                        "ALLOW_CERT",
                        "FAIL_OVER"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALLOW_CERT": "Assume Certificate is good if OCSP Server is unreachable.",
                        "FAIL_OVER": "Fail over to next RCP method if OCSP Server is unreachable.",
                        "REVOKE_CERT": "Assume Certificate is revoked if OCSP Server is unreachable."
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "The enforcement policy for when an revocation check cannot be completed."
                    },
                    "primary-url": {
                      "description": "Configuration of OCSP Server URL.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "primary-url",
                      "x-patterns": "'(http|https)://.*'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
                    },
                    "responder-cert": {
                      "description": "OCSP Responder Cert to verify OCSP responses.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "signer-cert": {
                      "description": "OCSP Signer Cert to sign the OCSP request/responses.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "timeout-period": {
                      "default": "1000",
                      "description": "OCSP Server timeout value.",
                      "format": "int64",
                      "maximum": 5000,
                      "minimum": 600,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "rcp-primary-method": {
                  "description": "Primary RCP method. Default is None.",
                  "enum": [
                    "NONE",
                    "CRL",
                    "OCSP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CRL": "Certificate Revocation List(CRL) as RCP Type.",
                    "NONE": "NONE as RCP Type.",
                    "OCSP": "Online Certificate Status Protocol(OCSP) as RCP Type."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Revocation Check Point type"
                },
                "rcp-secondary-method": {
                  "description": "Secondary RCP method. Valid only if primary rcp method is configured and it should not be same as primary method.",
                  "enum": [
                    "NONE",
                    "CRL",
                    "OCSP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CRL": "Certificate Revocation List(CRL) as RCP Type.",
                    "NONE": "NONE as RCP Type.",
                    "OCSP": "Online Certificate Status Protocol(OCSP) as RCP Type."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Revocation Check Point type"
                },
                "trusted-certificate": {
                  "description": "Trusted CA certificate to be used in validation of RCP responses and other peer certificates.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "trustedCertificate"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "signer-cert": {
            "description": "OCSP Signer Cert to sign the OCSP responses.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaGwCertificateUsage_WebserverGroup": {
        "description": "Webserver related certificate group",
        "properties": {
          "webserver": {
            "description": "Configuration for webserver certificates configuration.",
            "properties": {
              "cp-certificate": {
                "description": "Captive-Portal Server certificate.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "server-certificate": {
                "description": "Server certificate used for WebUI connection.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaGwCertificateUsage_WebserverGroupGet": {
        "description": "Webserver related certificate group",
        "properties": {
          "webserver": {
            "description": "Configuration for webserver certificates configuration.",
            "properties": {
              "cp-certificate": {
                "description": "Captive-Portal Server certificate.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "server-certificate": {
                "description": "Server certificate used for WebUI connection.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-certificate:certificates/ac-certificate:certificate/ac-certificate:name",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaGwCertificateUsage_GwCertificateUsageprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaGwCertificateUsage_GwCertificateUsageprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
