{
  "openapi": "3.1.0",
  "info": {
    "title": "Macsec",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Macsec"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/macsec": {
      "get": {
        "description": "MAC Security (MACsec) allows authorized systems that attach to and interconnect\nLANs in a network to maintain confidentiality of transmitted data and to take\nmeasures against frames transmitted or modified by unauthorized devices.",
        "operationId": "readMacsec",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMacsec_MacsecSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read MACsec configuration",
        "tags": [
          "Macsec"
        ],
        "x-cliParam": {
          "commandName": "readMacsecCmd",
          "commandUse": "macsec",
          "parentCommand": "readCmd",
          "pathToPrint": "/macsec/",
          "summary": "Read operation for macsec"
        }
      }
    },
    "/network-config/v1alpha1/macsec/{name}": {
      "get": {
        "description": "List of MACsec policies.",
        "operationId": "readMacsecPolicyByID",
        "parameters": [
          {
            "description": "Name of the MACsec policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMacsec_MacsecpolicySchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing MACsec policy",
        "tags": [
          "Macsec"
        ],
        "x-cliParam": {
          "commandName": "readMacsecPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMacsecCmd",
          "pathToPrint": "/macsec/policy/%s/",
          "summary": "Read operation for policy",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of MACsec policies.",
        "operationId": "replaceMacsecPolicyByID",
        "parameters": [
          {
            "description": "Name of the MACsec policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMacsec_MacsecpolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or Update existing MACsec policy",
        "tags": [
          "Macsec"
        ],
        "x-cliParam": {
          "commandName": "replaceMacsecPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMacsecCmd",
          "pathToPrint": "/macsec/policy/%s/",
          "summary": "Replace operation for policy",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of MACsec policies.",
        "operationId": "createMacsecPolicyByID",
        "parameters": [
          {
            "description": "Name of the MACsec policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMacsec_MacsecpolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Configure a new MACsec policy",
        "tags": [
          "Macsec"
        ],
        "x-cliParam": {
          "commandName": "createMacsecPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMacsecCmd",
          "pathToPrint": "/macsec/policy/%s/",
          "summary": "Create operation for policy",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of MACsec policies.",
        "operationId": "deleteMacsecPolicyByID",
        "parameters": [
          {
            "description": "Name of the MACsec policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete existing MACsec policy",
        "tags": [
          "Macsec"
        ],
        "x-cliParam": {
          "commandName": "deleteMacsecPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMacsecCmd",
          "pathToPrint": "/macsec/policy/%s/",
          "summary": "Delete operation for policy",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of MACsec policies.",
        "operationId": "updateMacsecPolicyByID",
        "parameters": [
          {
            "description": "Name of the MACsec policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMacsec_MacsecpolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing MACsec policy",
        "tags": [
          "Macsec"
        ],
        "x-cliParam": {
          "commandName": "updateMacsecPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMacsecCmd",
          "pathToPrint": "/macsec/policy/%s/",
          "summary": "Update operation for policy",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaMacsec_MacsecPolicyConfig": {
        "description": "Grouping for MACsec policy configurations.",
        "properties": {
          "bypass-list": {
            "description": "List of packet types to bypass MACsec.",
            "items": {
              "description": "List of packet types to bypass MACsec.",
              "enum": [
                "IEEE_BPDU"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "IEEE_BPDU": "Bypass MACsec protection for IEEE BPDU frames.\nPackets with destination MAC as one of the IEEE BPDU MACs\n(01:80:c2:00:00:0*) will bypass the MACsec engine in both the Tx and\nRx directions."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Bypass packet type."
            },
            "maxItems": 1,
            "type": "array"
          },
          "cak": {
            "description": "Secure Connectivity Assocation Key (CAK) associated with this\npolicy.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cak",
            "x-patterns": "'[a-f0-9]{1,64}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "cipher-suites": {
            "description": "Configure the cipher-suites to use in the MACsec policy.",
            "items": {
              "description": "Configure the cipher-suites to use in the MACsec policy.",
              "enum": [
                "GCM_AES_128",
                "GCM_AES_256",
                "GCM_AES_128_XPN",
                "GCM_AES_256_XPN"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "GCM_AES_128": "Galois/Counter mode of operation with the AES-128 symmetric block\ncipher.",
                "GCM_AES_128_XPN": "Galois/Counter mode of operation with the AES-128 symmetric block\ncipher with extended packet numbering.",
                "GCM_AES_256": "Galois/Counter mode of operation with the AES-256 symmetric block\ncipher.",
                "GCM_AES_256_XPN": "Galois/Counter mode of operation with the AES-256 symmetric block\ncipher with extended packet numbering."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Access Point"
              ],
              "x-typeDescription": "Cipher suite type"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ckn": {
            "description": "Connectivity Association Key Name (CKN) associated with this\npolicy.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ckn",
            "x-patterns": "'[a-f0-9]{1,64}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "clear-tag-mode": {
            "default": "NONE",
            "description": "Ethernet data in a MACsec PDU that must precede the MACsec SecTAG\nin clear text.",
            "enum": [
              "NONE",
              "DOT1Q"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DOT1Q": "Send the 802.1q tag in clear in a MACsec PDU.\nWhen configured, untagged traffic is not allowed on the\nMACsec channel.",
              "NONE": "The SecTAG directly follows the destination and source\nMAC address in a MACsec PDU."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Clear-tag mode type."
          },
          "confidentiality-enable": {
            "default": "true",
            "description": "Enable confidentiality in the MACsec policy.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "confidentiality-offset": {
            "default": "BYTE_0",
            "description": "Number of octets in an Ethernet frame that are unencrypted.\nThis is only applicable when confidentiality is enabled in the\npolicy.",
            "enum": [
              "BYTE_0",
              "BYTE_30",
              "BYTE_50"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BYTE_0": "The entire Ethernet frame is sent encrypted.",
              "BYTE_30": "The data following the first 30 bytes of the Ethernet\nframe is sent encrypted.",
              "BYTE_50": "The data following the first 50 bytes of the Ethernet\nframe is sent encrypted."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Access Point"
            ],
            "x-typeDescription": "Confidentiality offset type."
          },
          "data-delay-protection": {
            "default": "false",
            "description": "Enable data delay protection. Data delay protection allows\nMKA participants to ensure that the data frames protected by\nMACsec delayed by more than 2 seconds are dropped.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "include-sci-enable": {
            "default": "true",
            "description": "Enable inclusion of Secure Channel Identifier (SCI) tag\ninformation in the Security TAG (SecTAG) field.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "replay-protect-enable": {
            "default": "true",
            "description": "Enable replay protection in the MACsec policy.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Access Point"
            ]
          },
          "replay-window": {
            "default": "0",
            "description": "Replay protection window associated with this policy. When a\npacket is received, it is processed only if the Packet Number\n(PN) associated with this packet is within the replay window.\nThis is only applicable if the replay protection is enabled in\nthe policy.\nFor PVOS device, valid range: 0-1024.\nFor CX device, valid range: 0-4294967295.\nFor AP device, valid range: 0-4294967295.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Access Point"
            ]
          },
          "secure-mode": {
            "default": "MUST_SECURE",
            "description": "Forwarding behavior of the interface when\nthe MKA session is not established.",
            "enum": [
              "SHOULD_SECURE",
              "MUST_SECURE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MUST_SECURE": "Configure the interface to block traffic if MKA session is not\nestablished.",
              "SHOULD_SECURE": "Configure the interface to allow traffic if MKA session is not\nestablished."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Secure mode type."
          }
        }
      },
      "ArubaMacsec_MacsecPolicyConfigGet": {
        "description": "Grouping for MACsec policy configurations.",
        "properties": {
          "bypass-list": {
            "description": "List of packet types to bypass MACsec.",
            "items": {
              "description": "List of packet types to bypass MACsec.",
              "enum": [
                "IEEE_BPDU"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "IEEE_BPDU": "Bypass MACsec protection for IEEE BPDU frames.\nPackets with destination MAC as one of the IEEE BPDU MACs\n(01:80:c2:00:00:0*) will bypass the MACsec engine in both the Tx and\nRx directions."
              },
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "Bypass packet type."
            },
            "maxItems": 1,
            "type": "array"
          },
          "cak": {
            "description": "Secure Connectivity Assocation Key (CAK) associated with this\npolicy.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cak",
            "x-patterns": "'[a-f0-9]{1,64}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "cipher-suites": {
            "description": "Configure the cipher-suites to use in the MACsec policy.",
            "items": {
              "description": "Configure the cipher-suites to use in the MACsec policy.",
              "enum": [
                "GCM_AES_128",
                "GCM_AES_256",
                "GCM_AES_128_XPN",
                "GCM_AES_256_XPN"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "GCM_AES_128": "Galois/Counter mode of operation with the AES-128 symmetric block\ncipher.",
                "GCM_AES_128_XPN": "Galois/Counter mode of operation with the AES-128 symmetric block\ncipher with extended packet numbering.",
                "GCM_AES_256": "Galois/Counter mode of operation with the AES-256 symmetric block\ncipher.",
                "GCM_AES_256_XPN": "Galois/Counter mode of operation with the AES-256 symmetric block\ncipher with extended packet numbering."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Access Point"
              ],
              "x-typeDescription": "Cipher suite type"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ckn": {
            "description": "Connectivity Association Key Name (CKN) associated with this\npolicy.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ckn",
            "x-patterns": "'[a-f0-9]{1,64}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "clear-tag-mode": {
            "default": "NONE",
            "description": "Ethernet data in a MACsec PDU that must precede the MACsec SecTAG\nin clear text.",
            "enum": [
              "NONE",
              "DOT1Q"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DOT1Q": "Send the 802.1q tag in clear in a MACsec PDU.\nWhen configured, untagged traffic is not allowed on the\nMACsec channel.",
              "NONE": "The SecTAG directly follows the destination and source\nMAC address in a MACsec PDU."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Clear-tag mode type."
          },
          "confidentiality-enable": {
            "default": "true",
            "description": "Enable confidentiality in the MACsec policy.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "confidentiality-offset": {
            "default": "BYTE_0",
            "description": "Number of octets in an Ethernet frame that are unencrypted.\nThis is only applicable when confidentiality is enabled in the\npolicy.",
            "enum": [
              "BYTE_0",
              "BYTE_30",
              "BYTE_50"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BYTE_0": "The entire Ethernet frame is sent encrypted.",
              "BYTE_30": "The data following the first 30 bytes of the Ethernet\nframe is sent encrypted.",
              "BYTE_50": "The data following the first 50 bytes of the Ethernet\nframe is sent encrypted."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Access Point"
            ],
            "x-typeDescription": "Confidentiality offset type."
          },
          "data-delay-protection": {
            "default": "false",
            "description": "Enable data delay protection. Data delay protection allows\nMKA participants to ensure that the data frames protected by\nMACsec delayed by more than 2 seconds are dropped.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "include-sci-enable": {
            "default": "true",
            "description": "Enable inclusion of Secure Channel Identifier (SCI) tag\ninformation in the Security TAG (SecTAG) field.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "replay-protect-enable": {
            "default": "true",
            "description": "Enable replay protection in the MACsec policy.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Access Point"
            ]
          },
          "replay-window": {
            "default": "0",
            "description": "Replay protection window associated with this policy. When a\npacket is received, it is processed only if the Packet Number\n(PN) associated with this packet is within the replay window.\nThis is only applicable if the replay protection is enabled in\nthe policy.\nFor PVOS device, valid range: 0-1024.\nFor CX device, valid range: 0-4294967295.\nFor AP device, valid range: 0-4294967295.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Access Point"
            ]
          },
          "secure-mode": {
            "default": "MUST_SECURE",
            "description": "Forwarding behavior of the interface when\nthe MKA session is not established.",
            "enum": [
              "SHOULD_SECURE",
              "MUST_SECURE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MUST_SECURE": "Configure the interface to block traffic if MKA session is not\nestablished.",
              "SHOULD_SECURE": "Configure the interface to allow traffic if MKA session is not\nestablished."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Secure mode type."
          }
        }
      },
      "ArubaMacsec_MacsecSchemaGET": {
        "description": "MAC Security (MACsec) allows authorized systems that attach to and interconnect\nLANs in a network to maintain confidentiality of transmitted data and to take\nmeasures against frames transmitted or modified by unauthorized devices.",
        "properties": {
          "policy": {
            "description": "List of MACsec policies.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaMacsec_MacsecPolicyConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "MACsec policy description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the MACsec policy.",
                      "format": "const",
                      "maxLength": 128,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Access Point",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS",
          "Access Point"
        ]
      },
      "ArubaMacsec_MacsecpolicySchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMacsec_MacsecPolicyConfig"
          },
          {
            "properties": {
              "description": {
                "description": "MACsec policy description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the MACsec policy.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Access Point",
                  "Switch PVOS"
                ]
              }
            }
          }
        ]
      },
      "ArubaMacsec_MacsecpolicySchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMacsec_MacsecPolicyConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "MACsec policy description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the MACsec policy.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Access Point",
                  "Switch PVOS"
                ]
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaMacsec_MacsecpolicySchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaMacsec_MacsecpolicySchema"
            }
          }
        },
        "description": "policybody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
