{
  "openapi": "3.1.0",
  "info": {
    "title": "Net Group",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Net Group"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/net-groups": {
      "get": {
        "description": "Configures network group (netdestination) profiles on the\ndevice. A netdestination is a reusable named object that\ndefines a set of network destinations for use in firewall\npolicies and session ACLs. When an ACL rule references a\nnetdestination by name as a source or destination alias,\ntraffic is matched against all entries in that group.\nEach network group can contain entries of type host (single\nIP), FQDN (domain name), address-range (IP range), network\n(subnet prefix), VLAN (VLAN-based override), port (protocol\nport or port range), or interface (tunnel or null interface).\nAdditional features include inversion (match all destinations\nexcept those in the group) and exclusion (subtract entries\nof another netdestination from this group). Supported on\nAP, Gateway, SW_CX and SW_PVOS platforms.",
        "operationId": "readNetGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNetGroup_NetGroupsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured network groups",
        "tags": [
          "Net Group"
        ],
        "x-cliParam": {
          "commandName": "readNetGroupsCmd",
          "commandUse": "net-groups",
          "parentCommand": "readCmd",
          "pathToPrint": "/net-groups/",
          "summary": "Read operation for net-groups"
        }
      }
    },
    "/network-config/v1alpha1/net-groups/{name}": {
      "get": {
        "description": "A network group (netdestination) profile. Each profile\nis identified by a unique name and contains a list of\nnetwork destination entries.",
        "operationId": "readNetGroupsNetGroupByID",
        "parameters": [
          {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNetGroup_NetGroupsnetGroupSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured network group profile",
        "tags": [
          "Net Group"
        ],
        "x-cliParam": {
          "commandName": "readNetGroupsNetGroupCmd",
          "commandUse": "net-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readNetGroupsCmd",
          "pathToPrint": "/net-groups/net-group/%s/",
          "summary": "Read operation for net-group",
          "totParams": 1
        }
      },
      "put": {
        "description": "A network group (netdestination) profile. Each profile\nis identified by a unique name and contains a list of\nnetwork destination entries.",
        "operationId": "replaceNetGroupsNetGroupByID",
        "parameters": [
          {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNetGroup_NetGroupsnetGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing network group profile configurations",
        "tags": [
          "Net Group"
        ],
        "x-cliParam": {
          "commandName": "replaceNetGroupsNetGroupCmd",
          "commandUse": "net-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceNetGroupsCmd",
          "pathToPrint": "/net-groups/net-group/%s/",
          "summary": "Replace operation for net-group",
          "totParams": 1
        }
      },
      "post": {
        "description": "A network group (netdestination) profile. Each profile\nis identified by a unique name and contains a list of\nnetwork destination entries.",
        "operationId": "createNetGroupsNetGroupByID",
        "parameters": [
          {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNetGroup_NetGroupsnetGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a network group profile with unique name",
        "tags": [
          "Net Group"
        ],
        "x-cliParam": {
          "commandName": "createNetGroupsNetGroupCmd",
          "commandUse": "net-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createNetGroupsCmd",
          "pathToPrint": "/net-groups/net-group/%s/",
          "summary": "Create operation for net-group",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A network group (netdestination) profile. Each profile\nis identified by a unique name and contains a list of\nnetwork destination entries.",
        "operationId": "deleteNetGroupsNetGroupByID",
        "parameters": [
          {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the network group profile",
        "tags": [
          "Net Group"
        ],
        "x-cliParam": {
          "commandName": "deleteNetGroupsNetGroupCmd",
          "commandUse": "net-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteNetGroupsCmd",
          "pathToPrint": "/net-groups/net-group/%s/",
          "summary": "Delete operation for net-group",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A network group (netdestination) profile. Each profile\nis identified by a unique name and contains a list of\nnetwork destination entries.",
        "operationId": "updateNetGroupsNetGroupByID",
        "parameters": [
          {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNetGroup_NetGroupsnetGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing network group profile configurations",
        "tags": [
          "Net Group"
        ],
        "x-cliParam": {
          "commandName": "updateNetGroupsNetGroupCmd",
          "commandUse": "net-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateNetGroupsCmd",
          "pathToPrint": "/net-groups/net-group/%s/",
          "summary": "Update operation for net-group",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaNetGroup_NetGroupsSchemaGET": {
        "description": "Configures network group (netdestination) profiles on the\ndevice. A netdestination is a reusable named object that\ndefines a set of network destinations for use in firewall\npolicies and session ACLs. When an ACL rule references a\nnetdestination by name as a source or destination alias,\ntraffic is matched against all entries in that group.\nEach network group can contain entries of type host (single\nIP), FQDN (domain name), address-range (IP range), network\n(subnet prefix), VLAN (VLAN-based override), port (protocol\nport or port range), or interface (tunnel or null interface).\nAdditional features include inversion (match all destinations\nexcept those in the group) and exclusion (subtract entries\nof another netdestination from this group). Supported on\nAP, Gateway, SW_CX and SW_PVOS platforms.",
        "properties": {
          "net-group": {
            "description": "A network group (netdestination) profile. Each profile\nis identified by a unique name and contains a list of\nnetwork destination entries.",
            "items": {
              "properties": {
                "description": {
                  "description": "A user-defined text description for this network group\nprofile, used for administrative identification.",
                  "format": "const",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "exclude": {
                  "description": "Name of another netdestination profile whose entries should\nbe excluded (subtracted) from this network group. When\nspecified, destinations matching the excluded profile are\nremoved from the effective match set of this group.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "invert": {
                  "default": "false",
                  "description": "When set to true, inverts the match logic of this network\ngroup. Traffic matching any destination NOT in this group\nwill match the ACL rule referencing this alias. Default\nis false (normal match behavior).",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "items": {
                  "description": "Ordered list of network destination entries within this\nnetwork group profile. Each entry defines a specific\nnetwork destination (host, FQDN, range, network, VLAN,\nport, or interface) identified by a positional index.",
                  "items": {
                    "properties": {
                      "address": {
                        "description": "A single host IP address (IPv4 or IPv6) for this\nnetwork destination entry. Applicable when type is HOST.",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "address-range": {
                        "description": "A contiguous IP address range defined by exactly two\nelements: the start address and the end address.\nApplicable when type is ADDRESS_RANGE.",
                        "items": {
                          "description": "A contiguous IP address range defined by exactly two\nelements: the start address and the end address.\nApplicable when type is ADDRESS_RANGE.",
                          "oneOf": [
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv4-address",
                              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv6-address",
                              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                            }
                          ],
                          "x-supportedDeviceType": [
                            "Access Point",
                            "Gateway"
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array"
                      },
                      "default-host": {
                        "default": "false",
                        "description": "Default host entry.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "fqdn": {
                        "description": "A Fully Qualified Domain Name (FQDN) applicable when type is FQDN.",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "index": {
                        "description": "Positional index of this entry within the network group.\nEntries are evaluated in index order. Valid range is\n1 to 1000.",
                        "format": "int32",
                        "maximum": 1000,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "network-vlan": {
                        "description": "The VLAN ID used for network-level VLAN-based destination\nmatching. Specifies a network VLAN identifier (1-4094).\nApplicable when type is VLAN.",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway",
                          "Access Point"
                        ]
                      },
                      "null-interface": {
                        "default": "false",
                        "description": "Null interface destination.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "ports": {
                        "description": "Operator and port values. If operator == COMPARISON_RANGE then minimum and maximum values are valid,\notherwise only the minimum value is valid.",
                        "properties": {
                          "max": {
                            "description": "Upper bound of port range.",
                            "format": "int32",
                            "maximum": 65535,
                            "minimum": 0,
                            "type": "integer",
                            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                          },
                          "min": {
                            "default": "0",
                            "description": "Port value or lower bound of port range.",
                            "format": "int32",
                            "maximum": 65535,
                            "minimum": 0,
                            "type": "integer",
                            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                          },
                          "operator": {
                            "description": "Comparison operator.",
                            "enum": [
                              "COMPARISON_EQ",
                              "COMPARISON_NE",
                              "COMPARISON_LT",
                              "COMPARISON_GT",
                              "COMPARISON_RANGE",
                              "PORT_GROUP"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "COMPARISON_EQ": "Equal operator.",
                              "COMPARISON_GT": "Greater than operator.",
                              "COMPARISON_LT": "Less than operator.",
                              "COMPARISON_NE": "Not equal operator.",
                              "COMPARISON_RANGE": "Minimum and maximum values of range.",
                              "PORT_GROUP": "Specifies port group"
                            },
                            "x-typeDescription": "Comparison operator types."
                          }
                        }
                      },
                      "prefix": {
                        "description": "A network subnet specified as an IP prefix (address and\nprefix length). Applicable when\ntype is NETWORK.",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-prefix",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-prefix",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "tunnel-name": {
                        "description": "Tunnel interface name.",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "type": {
                        "description": "Configures the type of this network destination entry.\nThis determines which sibling leaves are applicable\nand must be populated: HOST requires 'address', FQDN\nrequires 'fqdn', ADDRESS_RANGE requires 'address-range',\nNETWORK requires 'prefix', VLAN requires 'vlan' or\n'network-vlan', PORT requires the 'ports' container,\nand INTERFACE requires 'null-interface' or 'tunnel-name'.",
                        "enum": [
                          "HOST",
                          "FQDN",
                          "ADDRESS_RANGE",
                          "NETWORK",
                          "VLAN",
                          "PORT",
                          "INTERFACE"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ADDRESS_RANGE": "A contiguous range of IP addresses defined by a start\nand end address.",
                          "FQDN": "A Fully Qualified Domain Name (FQDN) entry.",
                          "HOST": "A single host IP address entry in the netdestination profile.",
                          "INTERFACE": "Interfaces.",
                          "NETWORK": "A network subnet defined by an IP address and prefix length.",
                          "PORT": "Protocol ports.",
                          "VLAN": "A VLAN-based network destination override. Allows matching\ntraffic based on VLAN ID with an optional host offset."
                        },
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Network group entry type. Defines the kind of network\ndestination configured in a netdestination profile."
                      },
                      "vlan": {
                        "description": "The VLAN ID for a host-level VLAN override entry.\nUsed to match traffic based on the host's VLAN\nassignment (1-4094). Applicable when type is VLAN.",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "vlan-offset": {
                        "description": "An offset value within the VLAN subnet, used to identify\na specific host address within the VLAN. Valid range is\n1 to 254. Applicable when type is VLAN.",
                        "format": "int32",
                        "maximum": 254,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "minItems": 1,
                  "type": "array",
                  "x-key": [
                    "index"
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "name": {
                  "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway",
                    "Switch PVOS"
                  ]
                },
                "netdestination-type": {
                  "description": "The IP address family type for this netdestination profile.\nIndicates whether entries are IPv4-only or IPv6-only.",
                  "enum": [
                    "IPV4_ONLY",
                    "IPV6_ONLY",
                    "IPV4_IPV6_MIXED"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPV4_IPV6_MIXED": "The netdestination profile contains a mix of both IPv4 and\nIPv6 address entries. This is not supported on any devices.",
                    "IPV4_ONLY": "The netdestination profile contains only IPv4 address entries.",
                    "IPV6_ONLY": "The netdestination profile contains only IPv6 address entries."
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "IP address family of the netdestination profile.\nIndicates whether the profile contains IPv4-only,\nIPv6-only entries."
                },
                "preemptive-failover": {
                  "default": "false",
                  "description": "Enable/Disable preemptive failover.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaNetGroup_NetGroupsnetGroupSchema": {
        "properties": {
          "description": {
            "description": "A user-defined text description for this network group\nprofile, used for administrative identification.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "exclude": {
            "description": "Name of another netdestination profile whose entries should\nbe excluded (subtracted) from this network group. When\nspecified, destinations matching the excluded profile are\nremoved from the effective match set of this group.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "invert": {
            "default": "false",
            "description": "When set to true, inverts the match logic of this network\ngroup. Traffic matching any destination NOT in this group\nwill match the ACL rule referencing this alias. Default\nis false (normal match behavior).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "items": {
            "description": "Ordered list of network destination entries within this\nnetwork group profile. Each entry defines a specific\nnetwork destination (host, FQDN, range, network, VLAN,\nport, or interface) identified by a positional index.",
            "items": {
              "properties": {
                "address": {
                  "description": "A single host IP address (IPv4 or IPv6) for this\nnetwork destination entry. Applicable when type is HOST.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Access Point",
                    "Gateway"
                  ]
                },
                "address-range": {
                  "description": "A contiguous IP address range defined by exactly two\nelements: the start address and the end address.\nApplicable when type is ADDRESS_RANGE.",
                  "items": {
                    "description": "A contiguous IP address range defined by exactly two\nelements: the start address and the end address.\nApplicable when type is ADDRESS_RANGE.",
                    "oneOf": [
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-address",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Gateway"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "default-host": {
                  "default": "false",
                  "description": "Default host entry.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "fqdn": {
                  "description": "A Fully Qualified Domain Name (FQDN) applicable when type is FQDN.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "index": {
                  "description": "Positional index of this entry within the network group.\nEntries are evaluated in index order. Valid range is\n1 to 1000.",
                  "format": "int32",
                  "maximum": 1000,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "network-vlan": {
                  "description": "The VLAN ID used for network-level VLAN-based destination\nmatching. Specifies a network VLAN identifier (1-4094).\nApplicable when type is VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "null-interface": {
                  "default": "false",
                  "description": "Null interface destination.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "ports": {
                  "description": "Operator and port values. If operator == COMPARISON_RANGE then minimum and maximum values are valid,\notherwise only the minimum value is valid.",
                  "properties": {
                    "max": {
                      "description": "Upper bound of port range.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "min": {
                      "default": "0",
                      "description": "Port value or lower bound of port range.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "operator": {
                      "description": "Comparison operator.",
                      "enum": [
                        "COMPARISON_EQ",
                        "COMPARISON_NE",
                        "COMPARISON_LT",
                        "COMPARISON_GT",
                        "COMPARISON_RANGE",
                        "PORT_GROUP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COMPARISON_EQ": "Equal operator.",
                        "COMPARISON_GT": "Greater than operator.",
                        "COMPARISON_LT": "Less than operator.",
                        "COMPARISON_NE": "Not equal operator.",
                        "COMPARISON_RANGE": "Minimum and maximum values of range.",
                        "PORT_GROUP": "Specifies port group"
                      },
                      "x-typeDescription": "Comparison operator types."
                    }
                  }
                },
                "prefix": {
                  "description": "A network subnet specified as an IP prefix (address and\nprefix length). Applicable when\ntype is NETWORK.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-prefix",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                      "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-prefix",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                      "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Access Point",
                    "Gateway"
                  ]
                },
                "tunnel-name": {
                  "description": "Tunnel interface name.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "type": {
                  "description": "Configures the type of this network destination entry.\nThis determines which sibling leaves are applicable\nand must be populated: HOST requires 'address', FQDN\nrequires 'fqdn', ADDRESS_RANGE requires 'address-range',\nNETWORK requires 'prefix', VLAN requires 'vlan' or\n'network-vlan', PORT requires the 'ports' container,\nand INTERFACE requires 'null-interface' or 'tunnel-name'.",
                  "enum": [
                    "HOST",
                    "FQDN",
                    "ADDRESS_RANGE",
                    "NETWORK",
                    "VLAN",
                    "PORT",
                    "INTERFACE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADDRESS_RANGE": "A contiguous range of IP addresses defined by a start\nand end address.",
                    "FQDN": "A Fully Qualified Domain Name (FQDN) entry.",
                    "HOST": "A single host IP address entry in the netdestination profile.",
                    "INTERFACE": "Interfaces.",
                    "NETWORK": "A network subnet defined by an IP address and prefix length.",
                    "PORT": "Protocol ports.",
                    "VLAN": "A VLAN-based network destination override. Allows matching\ntraffic based on VLAN ID with an optional host offset."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Network group entry type. Defines the kind of network\ndestination configured in a netdestination profile."
                },
                "vlan": {
                  "description": "The VLAN ID for a host-level VLAN override entry.\nUsed to match traffic based on the host's VLAN\nassignment (1-4094). Applicable when type is VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "vlan-offset": {
                  "description": "An offset value within the VLAN subnet, used to identify\na specific host address within the VLAN. Valid range is\n1 to 254. Applicable when type is VLAN.",
                  "format": "int32",
                  "maximum": 254,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "minItems": 1,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "name": {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "netdestination-type": {
            "description": "The IP address family type for this netdestination profile.\nIndicates whether entries are IPv4-only or IPv6-only.",
            "enum": [
              "IPV4_ONLY",
              "IPV6_ONLY",
              "IPV4_IPV6_MIXED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4_IPV6_MIXED": "The netdestination profile contains a mix of both IPv4 and\nIPv6 address entries. This is not supported on any devices.",
              "IPV4_ONLY": "The netdestination profile contains only IPv4 address entries.",
              "IPV6_ONLY": "The netdestination profile contains only IPv6 address entries."
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "IP address family of the netdestination profile.\nIndicates whether the profile contains IPv4-only,\nIPv6-only entries."
          },
          "preemptive-failover": {
            "default": "false",
            "description": "Enable/Disable preemptive failover.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaNetGroup_NetGroupsnetGroupSchemaGet": {
        "properties": {
          "description": {
            "description": "A user-defined text description for this network group\nprofile, used for administrative identification.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "exclude": {
            "description": "Name of another netdestination profile whose entries should\nbe excluded (subtracted) from this network group. When\nspecified, destinations matching the excluded profile are\nremoved from the effective match set of this group.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "invert": {
            "default": "false",
            "description": "When set to true, inverts the match logic of this network\ngroup. Traffic matching any destination NOT in this group\nwill match the ACL rule referencing this alias. Default\nis false (normal match behavior).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "items": {
            "description": "Ordered list of network destination entries within this\nnetwork group profile. Each entry defines a specific\nnetwork destination (host, FQDN, range, network, VLAN,\nport, or interface) identified by a positional index.",
            "items": {
              "properties": {
                "address": {
                  "description": "A single host IP address (IPv4 or IPv6) for this\nnetwork destination entry. Applicable when type is HOST.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Access Point",
                    "Gateway"
                  ]
                },
                "address-range": {
                  "description": "A contiguous IP address range defined by exactly two\nelements: the start address and the end address.\nApplicable when type is ADDRESS_RANGE.",
                  "items": {
                    "description": "A contiguous IP address range defined by exactly two\nelements: the start address and the end address.\nApplicable when type is ADDRESS_RANGE.",
                    "oneOf": [
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-address",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Gateway"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "default-host": {
                  "default": "false",
                  "description": "Default host entry.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "fqdn": {
                  "description": "A Fully Qualified Domain Name (FQDN) applicable when type is FQDN.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "index": {
                  "description": "Positional index of this entry within the network group.\nEntries are evaluated in index order. Valid range is\n1 to 1000.",
                  "format": "int32",
                  "maximum": 1000,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "network-vlan": {
                  "description": "The VLAN ID used for network-level VLAN-based destination\nmatching. Specifies a network VLAN identifier (1-4094).\nApplicable when type is VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "null-interface": {
                  "default": "false",
                  "description": "Null interface destination.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "ports": {
                  "description": "Operator and port values. If operator == COMPARISON_RANGE then minimum and maximum values are valid,\notherwise only the minimum value is valid.",
                  "properties": {
                    "max": {
                      "description": "Upper bound of port range.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "min": {
                      "default": "0",
                      "description": "Port value or lower bound of port range.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "operator": {
                      "description": "Comparison operator.",
                      "enum": [
                        "COMPARISON_EQ",
                        "COMPARISON_NE",
                        "COMPARISON_LT",
                        "COMPARISON_GT",
                        "COMPARISON_RANGE",
                        "PORT_GROUP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COMPARISON_EQ": "Equal operator.",
                        "COMPARISON_GT": "Greater than operator.",
                        "COMPARISON_LT": "Less than operator.",
                        "COMPARISON_NE": "Not equal operator.",
                        "COMPARISON_RANGE": "Minimum and maximum values of range.",
                        "PORT_GROUP": "Specifies port group"
                      },
                      "x-typeDescription": "Comparison operator types."
                    }
                  }
                },
                "prefix": {
                  "description": "A network subnet specified as an IP prefix (address and\nprefix length). Applicable when\ntype is NETWORK.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-prefix",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                      "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-prefix",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                      "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Access Point",
                    "Gateway"
                  ]
                },
                "tunnel-name": {
                  "description": "Tunnel interface name.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "type": {
                  "description": "Configures the type of this network destination entry.\nThis determines which sibling leaves are applicable\nand must be populated: HOST requires 'address', FQDN\nrequires 'fqdn', ADDRESS_RANGE requires 'address-range',\nNETWORK requires 'prefix', VLAN requires 'vlan' or\n'network-vlan', PORT requires the 'ports' container,\nand INTERFACE requires 'null-interface' or 'tunnel-name'.",
                  "enum": [
                    "HOST",
                    "FQDN",
                    "ADDRESS_RANGE",
                    "NETWORK",
                    "VLAN",
                    "PORT",
                    "INTERFACE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADDRESS_RANGE": "A contiguous range of IP addresses defined by a start\nand end address.",
                    "FQDN": "A Fully Qualified Domain Name (FQDN) entry.",
                    "HOST": "A single host IP address entry in the netdestination profile.",
                    "INTERFACE": "Interfaces.",
                    "NETWORK": "A network subnet defined by an IP address and prefix length.",
                    "PORT": "Protocol ports.",
                    "VLAN": "A VLAN-based network destination override. Allows matching\ntraffic based on VLAN ID with an optional host offset."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Network group entry type. Defines the kind of network\ndestination configured in a netdestination profile."
                },
                "vlan": {
                  "description": "The VLAN ID for a host-level VLAN override entry.\nUsed to match traffic based on the host's VLAN\nassignment (1-4094). Applicable when type is VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "vlan-offset": {
                  "description": "An offset value within the VLAN subnet, used to identify\na specific host address within the VLAN. Valid range is\n1 to 254. Applicable when type is VLAN.",
                  "format": "int32",
                  "maximum": 254,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "minItems": 1,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "name": {
            "description": "Configures the unique name for this network group\n(netdestination) profile. This leaf is mandatory and\nserves as the key for the net-group list. The name is\nused to reference this group as a source or destination\nalias in session ACLs and firewall policies. Must be\nbetween 1 and 63 characters.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "netdestination-type": {
            "description": "The IP address family type for this netdestination profile.\nIndicates whether entries are IPv4-only or IPv6-only.",
            "enum": [
              "IPV4_ONLY",
              "IPV6_ONLY",
              "IPV4_IPV6_MIXED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4_IPV6_MIXED": "The netdestination profile contains a mix of both IPv4 and\nIPv6 address entries. This is not supported on any devices.",
              "IPV4_ONLY": "The netdestination profile contains only IPv4 address entries.",
              "IPV6_ONLY": "The netdestination profile contains only IPv6 address entries."
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "IP address family of the netdestination profile.\nIndicates whether the profile contains IPv4-only,\nIPv6-only entries."
          },
          "preemptive-failover": {
            "default": "false",
            "description": "Enable/Disable preemptive failover.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaNetGroup_NetGroupsnetGroupSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaNetGroup_NetGroupsnetGroupSchema"
            }
          }
        },
        "description": "net-groupbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
