{
  "openapi": "3.1.0",
  "info": {
    "title": "Passpoint Identity",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Passpoint Identity"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/passpoint-identity": {
      "get": {
        "description": "This is used to define a Network Access Identifier (NAI) realm information that\ncan be sent as an Access network Query Protocol (ANQP) information element in a GAS query response.\nThe settings configured in this profile determine the NAI realm elements that are included as part of a GAS Response frame.",
        "operationId": "readPasspointIdentity",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPasspointIdentity_PasspointIdentitySchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing ANQP NAI Realm related settings.",
        "tags": [
          "Passpoint Identity"
        ],
        "x-cliParam": {
          "commandName": "readPasspointIdentityCmd",
          "commandUse": "passpoint-identity",
          "parentCommand": "readCmd",
          "pathToPrint": "/passpoint-identity/",
          "summary": "Read operation for passpoint-identity"
        }
      }
    },
    "/network-config/v1alpha1/passpoint-identity/{name}": {
      "get": {
        "description": "List of NAI realms whose information can be sent as\nan ANQP information element in a GAS query response.",
        "operationId": "readPasspointIdentityProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPasspointIdentity_PasspointIdentityprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing ANQP NAI Realm profile.",
        "tags": [
          "Passpoint Identity"
        ],
        "x-cliParam": {
          "commandName": "readPasspointIdentityProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPasspointIdentityCmd",
          "pathToPrint": "/passpoint-identity/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of NAI realms whose information can be sent as\nan ANQP information element in a GAS query response.",
        "operationId": "replacePasspointIdentityProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPasspointIdentity_PasspointIdentityprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Passpoint Identity"
        ],
        "x-cliParam": {
          "commandName": "replacePasspointIdentityProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePasspointIdentityCmd",
          "pathToPrint": "/passpoint-identity/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of NAI realms whose information can be sent as\nan ANQP information element in a GAS query response.",
        "operationId": "createPasspointIdentityProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPasspointIdentity_PasspointIdentityprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create ANQP NAI Realm profile.",
        "tags": [
          "Passpoint Identity"
        ],
        "x-cliParam": {
          "commandName": "createPasspointIdentityProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPasspointIdentityCmd",
          "pathToPrint": "/passpoint-identity/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of NAI realms whose information can be sent as\nan ANQP information element in a GAS query response.",
        "operationId": "deletePasspointIdentityProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete ANQP NAI Realm profile.",
        "tags": [
          "Passpoint Identity"
        ],
        "x-cliParam": {
          "commandName": "deletePasspointIdentityProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePasspointIdentityCmd",
          "pathToPrint": "/passpoint-identity/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of NAI realms whose information can be sent as\nan ANQP information element in a GAS query response.",
        "operationId": "updatePasspointIdentityProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPasspointIdentity_PasspointIdentityprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Passpoint Identity"
        ],
        "x-cliParam": {
          "commandName": "updatePasspointIdentityProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePasspointIdentityCmd",
          "pathToPrint": "/passpoint-identity/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaPasspointIdentity_PasspointIdentitySchemaGET": {
        "description": "This is used to define a Network Access Identifier (NAI) realm information that\ncan be sent as an Access network Query Protocol (ANQP) information element in a GAS query response.\nThe settings configured in this profile determine the NAI realm elements that are included as part of a GAS Response frame.",
        "properties": {
          "profile": {
            "description": "List of NAI realms whose information can be sent as\nan ANQP information element in a GAS query response.",
            "items": {
              "properties": {
                "anqp-3gpp": {
                  "description": "List of 3GPP Cellular Network for hotspots that have roaming relationships with cellular operators.",
                  "items": {
                    "properties": {
                      "anqp-3gpp-profile-name": {
                        "description": "Name of 3GPP Cellular Network profile.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "mno": {
                        "description": "Name of Mobile Network Operator (MNO).",
                        "enum": [
                          "ATT",
                          "TMO",
                          "VRZ"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ATT": "AT&T.",
                          "TMO": "T-Mobile.",
                          "VRZ": "Verizon."
                        },
                        "x-typeDescription": "Type of Mobile Network Operator."
                      },
                      "plmn": {
                        "description": "The Public Land Mobile Networks (PLMN) value of the highest-priority network.",
                        "items": {
                          "description": "The Public Land Mobile Networks (PLMN) value of the highest-priority network.",
                          "format": "pattern",
                          "maxLength": 64,
                          "minLength": 1,
                          "type": "string",
                          "x-patternSources": "plmn",
                          "x-patterns": "'[0-9]{5,6}'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "maxItems": 6,
                        "type": "array"
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "anqp3gppProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "anqp-roam-cons": {
                  "description": "List Roaming Consortium OI information be sent in an ANQP information element in a GAS query response.",
                  "items": {
                    "properties": {
                      "anqp-roam-cons-name": {
                        "description": "ANQP Roaming Consortium OI information profile name.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "org-id": {
                        "description": "Sends the specified roaming consortium OI in a GAS query response.\nThe OI must be a hexadecimal value.",
                        "format": "pattern",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-patternSources": "org-id",
                        "x-patterns": "'[0-9a-fA-F]+'",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "anqpRoamConsName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "description": {
                  "description": "Passpoint identity profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "eap-method": {
                  "description": "NAI Realm EAP Auth Method.",
                  "items": {
                    "properties": {
                      "auth-param": {
                        "description": "Use the nai-realm-auth-id to send the one of the nai_realm_auth_id methods for the primary NAI Realm ID.",
                        "items": {
                          "properties": {
                            "id": {
                              "description": "NAI Realm Authentication Parameter ID.",
                              "enum": [
                                "RESERVED",
                                "EXPANDED_EAP",
                                "NON_EAP_INNER_AUTH",
                                "EAP_INNER_AUTH",
                                "EXP_INNER_EAP",
                                "CREDENTIAL",
                                "TUNNELED_EAP_CREDENTIAL_TYPE"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CREDENTIAL": "Credential",
                                "EAP_INNER_AUTH": "Eap-inner-auth",
                                "EXPANDED_EAP": "Expanded-eap",
                                "EXP_INNER_EAP": "Exp-inner-eap",
                                "NON_EAP_INNER_AUTH": "Non-eap-inner-auth",
                                "RESERVED": "Reserved",
                                "TUNNELED_EAP_CREDENTIAL_TYPE": "Tunneled-eap-credential-type"
                              },
                              "x-supportedDeviceType": [
                                "Access Point"
                              ],
                              "x-typeDescription": "The enum define of hotspot nai-realm-auth-id."
                            },
                            "id-value": {
                              "description": "key for module. This key is the combination of id and value separated by ~\nid        - NAI Realm Authentication Parameter ID.\nvalue     - NAI Realm Authentication Parameter value.",
                              "format": "const",
                              "maxLength": 9999,
                              "type": "string"
                            },
                            "value": {
                              "description": "NAI Realm Authentication Parameter value. The value need to pair to auth-id:\nauth-id                      | auth-value scoped\n-----------------------------|-------------------\nRESERVED_NAI_REALM_AUTH_ID   | All nai_realm_auth_value\nEXPANDED-EAP                 | All nai_realm_auth_value\nNON-EAP-INNER-AUTH           | nai_realm_auth_value should in [NON_EAP_RESERVED - NON-EAP-MSCHAPV2]\nEAP-INNER-AUTH               | nai_realm_auth_value should in [EAP-IDENTITY - EAP-PEAP-MSCHAPV2]\nEXP-INNER-EAP                | All nai_realm_auth_value\nCREDENTIAL                   | nai_realm_auth_value should in [CRED-SIM - CRED-VENDOR-SPEC]\nTUNNELED-EAP-CREDENTIAL-TYPE | nai_realm_auth_value should in [TUN-CRED-SIM - TUN-CRED-VENDOR-SPEC]",
                              "enum": [
                                "EAP_IDENTITY",
                                "EAP_NOTIFICATION",
                                "EAP_ONE_TIME_PASSWORD",
                                "EAP_GENERIC_TOKEN_CARD",
                                "EAP_METHOD_TLS",
                                "EAP_METHOD_SIM",
                                "EAP_METHOD_AKA",
                                "EAP_METHOD_TTLS",
                                "EAP_PEAP",
                                "EAP_CRYPTO_CARD",
                                "EAP_PEAP_MSCHAPV2",
                                "NON_EAP_RESERVED",
                                "NON_EAP_PAP",
                                "NON_EAP_CHAP",
                                "NON_EAP_MSCHAP",
                                "NON_EAP_MSCHAPV2",
                                "CRED_SIM",
                                "CRED_USIM",
                                "CRED_NFC",
                                "CRED_HW_TOKEN",
                                "CRED_SOFT_TOKEN",
                                "CRED_CERT",
                                "CRED_USER_PASS",
                                "CRED_NONE",
                                "CRED_RSVD",
                                "CRED_VENDOR_SPEC",
                                "TUN_CRED_SIM",
                                "TUN_CRED_USIM",
                                "TUN_CRED_NFC",
                                "TUN_CRED_HW_TOKEN",
                                "TUN_CRED_SOFT_TOKEN",
                                "TUN_CRED_CERT",
                                "TUN_CRED_USER_PASS",
                                "TUN_CRED_RSVD",
                                "TUN_CRED_ANON",
                                "TUN_CRED_VENDOR_SPEC"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CRED_CERT": "Cred-cert",
                                "CRED_HW_TOKEN": "Cred-hw-token",
                                "CRED_NFC": "Cred-nfc",
                                "CRED_NONE": "Cred-none",
                                "CRED_RSVD": "Cred-rsvd",
                                "CRED_SIM": "Cred-sim",
                                "CRED_SOFT_TOKEN": "Cred-soft-token",
                                "CRED_USER_PASS": "Cred-user-pass",
                                "CRED_USIM": "Cred-usim",
                                "CRED_VENDOR_SPEC": "Cred-vendor-spec",
                                "EAP_CRYPTO_CARD": "Eap-crypto-card",
                                "EAP_GENERIC_TOKEN_CARD": "Eap-generic-token-card",
                                "EAP_IDENTITY": "Eap-identity",
                                "EAP_METHOD_AKA": "Eap-method-aka",
                                "EAP_METHOD_SIM": "Eap-method-sim",
                                "EAP_METHOD_TLS": "Eap-method-tls",
                                "EAP_METHOD_TTLS": "Eap-method-ttls",
                                "EAP_NOTIFICATION": "Eap-notification",
                                "EAP_ONE_TIME_PASSWORD": "Eap-one-time-password",
                                "EAP_PEAP": "Eap-peap",
                                "EAP_PEAP_MSCHAPV2": "Eap-peap-mschapv2",
                                "NON_EAP_CHAP": "Non-eap-chap",
                                "NON_EAP_MSCHAP": "Non-eap-mschap",
                                "NON_EAP_MSCHAPV2": "Non-eap-mschapv2",
                                "NON_EAP_PAP": "Non-eap-pap",
                                "NON_EAP_RESERVED": "Non-eap-reserved",
                                "TUN_CRED_ANON": "Tun-cred-anon",
                                "TUN_CRED_CERT": "Tun-cred-cert",
                                "TUN_CRED_HW_TOKEN": "Tun-cred-hw-token",
                                "TUN_CRED_NFC": "Tun-cred-nfc",
                                "TUN_CRED_RSVD": "Tun-cred-rsvd",
                                "TUN_CRED_SIM": "Tun-cred-sim",
                                "TUN_CRED_SOFT_TOKEN": "Tun-cred-soft-token",
                                "TUN_CRED_USER_PASS": "Tun-cred-user-pass",
                                "TUN_CRED_USIM": "Tun-cred-usim",
                                "TUN_CRED_VENDOR_SPEC": "Tun-cred-vendor-spec"
                              },
                              "x-supportedDeviceType": [
                                "Access Point"
                              ],
                              "x-typeDescription": "The enum define of hotspot nai-realm-auth-value."
                            }
                          }
                        },
                        "maxItems": 4,
                        "type": "array",
                        "x-key": [
                          "idValue"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Access Point"
                        ]
                      },
                      "index": {
                        "description": "Index of EAP Auth Method list.",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 0,
                        "type": "integer"
                      },
                      "method": {
                        "description": "Select one of the options to identify the EAP authentication method supported by the hotspot2 Realm.",
                        "enum": [
                          "NONE_NAI_REALM_EAP_METHOD",
                          "IDENTITY",
                          "NOTIFICATION",
                          "ONE_TIME_PASSWORD",
                          "GENERIC_TOKEN_CARD",
                          "EAP_TLS",
                          "EAP_SIM",
                          "EAP_AKA",
                          "EAP_TTLS",
                          "PEAP",
                          "CRYPTO_CARD",
                          "PEAP_MSCHAPV2"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "CRYPTO_CARD": "Crypto-card",
                          "EAP_AKA": "Eap-aka",
                          "EAP_SIM": "Eap-sim",
                          "EAP_TLS": "Eap-tls",
                          "EAP_TTLS": "Eap-ttls",
                          "GENERIC_TOKEN_CARD": "Generic-token-card",
                          "IDENTITY": "Identity",
                          "NONE_NAI_REALM_EAP_METHOD": "None",
                          "NOTIFICATION": "Notification",
                          "ONE_TIME_PASSWORD": "One-time-password",
                          "PEAP": "Peap",
                          "PEAP_MSCHAPV2": "Peap-mschapv2"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot nai-realm-eap-method."
                      }
                    }
                  },
                  "maxItems": 4,
                  "type": "array",
                  "x-key": [
                    "index"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "enable": {
                  "description": "Enable this profile.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "enable-alias": {
                  "description": "The user may apply an alias named 'enable-alias' for device specific practical config when no enable\nis configured, allowing the user to control the profile enablement.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "encoding": {
                  "default": "UTF8",
                  "description": "Issue this command if the NAI Realm named\ndefined by nai-realm-name <nai-realm-name> is\na UTF-8 formatted character string that is not\nformatted in accordance with IETF RFC 4282.",
                  "enum": [
                    "RFC4282",
                    "UTF8"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RFC4282": "nai-realm-enc type is Rfc4282",
                    "UTF8": "nai-realm-enc type is Utf8"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of hotspot nai-realm-enc."
                },
                "home-realm": {
                  "default": "false",
                  "description": "Marks the Realm in this profile as the NAI Home Realm.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "identity-type": {
                  "description": "Type of authentication used for AirPass.",
                  "enum": [
                    "SIM",
                    "OPENROAMING",
                    "EDUROAM"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "EDUROAM": "Air Pass with Eduroam.",
                    "OPENROAMING": "Air Pass with OpenRoaming.",
                    "SIM": "Air Pass with SIM."
                  },
                  "x-typeDescription": "Type of Airpass type."
                },
                "nai-realm-name": {
                  "description": "List of names for the NAI realm. The realm name is often the domain name of the service provider.",
                  "items": {
                    "properties": {
                      "value": {
                        "description": "Value of the NAI realm name.",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "value"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "name": {
                  "description": "Profile name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 10,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        }
      },
      "ArubaPasspointIdentity_PasspointIdentityprofileSchema": {
        "properties": {
          "anqp-3gpp": {
            "description": "List of 3GPP Cellular Network for hotspots that have roaming relationships with cellular operators.",
            "items": {
              "properties": {
                "anqp-3gpp-profile-name": {
                  "description": "Name of 3GPP Cellular Network profile.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "mno": {
                  "description": "Name of Mobile Network Operator (MNO).",
                  "enum": [
                    "ATT",
                    "TMO",
                    "VRZ"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ATT": "AT&T.",
                    "TMO": "T-Mobile.",
                    "VRZ": "Verizon."
                  },
                  "x-typeDescription": "Type of Mobile Network Operator."
                },
                "plmn": {
                  "description": "The Public Land Mobile Networks (PLMN) value of the highest-priority network.",
                  "items": {
                    "description": "The Public Land Mobile Networks (PLMN) value of the highest-priority network.",
                    "format": "pattern",
                    "maxLength": 64,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "plmn",
                    "x-patterns": "'[0-9]{5,6}'",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "maxItems": 6,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "anqp3gppProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-roam-cons": {
            "description": "List Roaming Consortium OI information be sent in an ANQP information element in a GAS query response.",
            "items": {
              "properties": {
                "anqp-roam-cons-name": {
                  "description": "ANQP Roaming Consortium OI information profile name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "org-id": {
                  "description": "Sends the specified roaming consortium OI in a GAS query response.\nThe OI must be a hexadecimal value.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "org-id",
                  "x-patterns": "'[0-9a-fA-F]+'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "anqpRoamConsName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "description": {
            "description": "Passpoint identity profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "eap-method": {
            "description": "NAI Realm EAP Auth Method.",
            "items": {
              "properties": {
                "auth-param": {
                  "description": "Use the nai-realm-auth-id to send the one of the nai_realm_auth_id methods for the primary NAI Realm ID.",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "NAI Realm Authentication Parameter ID.",
                        "enum": [
                          "RESERVED",
                          "EXPANDED_EAP",
                          "NON_EAP_INNER_AUTH",
                          "EAP_INNER_AUTH",
                          "EXP_INNER_EAP",
                          "CREDENTIAL",
                          "TUNNELED_EAP_CREDENTIAL_TYPE"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "CREDENTIAL": "Credential",
                          "EAP_INNER_AUTH": "Eap-inner-auth",
                          "EXPANDED_EAP": "Expanded-eap",
                          "EXP_INNER_EAP": "Exp-inner-eap",
                          "NON_EAP_INNER_AUTH": "Non-eap-inner-auth",
                          "RESERVED": "Reserved",
                          "TUNNELED_EAP_CREDENTIAL_TYPE": "Tunneled-eap-credential-type"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot nai-realm-auth-id."
                      },
                      "id-value": {
                        "description": "key for module. This key is the combination of id and value separated by ~\nid        - NAI Realm Authentication Parameter ID.\nvalue     - NAI Realm Authentication Parameter value.",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string"
                      },
                      "value": {
                        "description": "NAI Realm Authentication Parameter value. The value need to pair to auth-id:\nauth-id                      | auth-value scoped\n-----------------------------|-------------------\nRESERVED_NAI_REALM_AUTH_ID   | All nai_realm_auth_value\nEXPANDED-EAP                 | All nai_realm_auth_value\nNON-EAP-INNER-AUTH           | nai_realm_auth_value should in [NON_EAP_RESERVED - NON-EAP-MSCHAPV2]\nEAP-INNER-AUTH               | nai_realm_auth_value should in [EAP-IDENTITY - EAP-PEAP-MSCHAPV2]\nEXP-INNER-EAP                | All nai_realm_auth_value\nCREDENTIAL                   | nai_realm_auth_value should in [CRED-SIM - CRED-VENDOR-SPEC]\nTUNNELED-EAP-CREDENTIAL-TYPE | nai_realm_auth_value should in [TUN-CRED-SIM - TUN-CRED-VENDOR-SPEC]",
                        "enum": [
                          "EAP_IDENTITY",
                          "EAP_NOTIFICATION",
                          "EAP_ONE_TIME_PASSWORD",
                          "EAP_GENERIC_TOKEN_CARD",
                          "EAP_METHOD_TLS",
                          "EAP_METHOD_SIM",
                          "EAP_METHOD_AKA",
                          "EAP_METHOD_TTLS",
                          "EAP_PEAP",
                          "EAP_CRYPTO_CARD",
                          "EAP_PEAP_MSCHAPV2",
                          "NON_EAP_RESERVED",
                          "NON_EAP_PAP",
                          "NON_EAP_CHAP",
                          "NON_EAP_MSCHAP",
                          "NON_EAP_MSCHAPV2",
                          "CRED_SIM",
                          "CRED_USIM",
                          "CRED_NFC",
                          "CRED_HW_TOKEN",
                          "CRED_SOFT_TOKEN",
                          "CRED_CERT",
                          "CRED_USER_PASS",
                          "CRED_NONE",
                          "CRED_RSVD",
                          "CRED_VENDOR_SPEC",
                          "TUN_CRED_SIM",
                          "TUN_CRED_USIM",
                          "TUN_CRED_NFC",
                          "TUN_CRED_HW_TOKEN",
                          "TUN_CRED_SOFT_TOKEN",
                          "TUN_CRED_CERT",
                          "TUN_CRED_USER_PASS",
                          "TUN_CRED_RSVD",
                          "TUN_CRED_ANON",
                          "TUN_CRED_VENDOR_SPEC"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "CRED_CERT": "Cred-cert",
                          "CRED_HW_TOKEN": "Cred-hw-token",
                          "CRED_NFC": "Cred-nfc",
                          "CRED_NONE": "Cred-none",
                          "CRED_RSVD": "Cred-rsvd",
                          "CRED_SIM": "Cred-sim",
                          "CRED_SOFT_TOKEN": "Cred-soft-token",
                          "CRED_USER_PASS": "Cred-user-pass",
                          "CRED_USIM": "Cred-usim",
                          "CRED_VENDOR_SPEC": "Cred-vendor-spec",
                          "EAP_CRYPTO_CARD": "Eap-crypto-card",
                          "EAP_GENERIC_TOKEN_CARD": "Eap-generic-token-card",
                          "EAP_IDENTITY": "Eap-identity",
                          "EAP_METHOD_AKA": "Eap-method-aka",
                          "EAP_METHOD_SIM": "Eap-method-sim",
                          "EAP_METHOD_TLS": "Eap-method-tls",
                          "EAP_METHOD_TTLS": "Eap-method-ttls",
                          "EAP_NOTIFICATION": "Eap-notification",
                          "EAP_ONE_TIME_PASSWORD": "Eap-one-time-password",
                          "EAP_PEAP": "Eap-peap",
                          "EAP_PEAP_MSCHAPV2": "Eap-peap-mschapv2",
                          "NON_EAP_CHAP": "Non-eap-chap",
                          "NON_EAP_MSCHAP": "Non-eap-mschap",
                          "NON_EAP_MSCHAPV2": "Non-eap-mschapv2",
                          "NON_EAP_PAP": "Non-eap-pap",
                          "NON_EAP_RESERVED": "Non-eap-reserved",
                          "TUN_CRED_ANON": "Tun-cred-anon",
                          "TUN_CRED_CERT": "Tun-cred-cert",
                          "TUN_CRED_HW_TOKEN": "Tun-cred-hw-token",
                          "TUN_CRED_NFC": "Tun-cred-nfc",
                          "TUN_CRED_RSVD": "Tun-cred-rsvd",
                          "TUN_CRED_SIM": "Tun-cred-sim",
                          "TUN_CRED_SOFT_TOKEN": "Tun-cred-soft-token",
                          "TUN_CRED_USER_PASS": "Tun-cred-user-pass",
                          "TUN_CRED_USIM": "Tun-cred-usim",
                          "TUN_CRED_VENDOR_SPEC": "Tun-cred-vendor-spec"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot nai-realm-auth-value."
                      }
                    }
                  },
                  "maxItems": 4,
                  "type": "array",
                  "x-key": [
                    "idValue"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "index": {
                  "description": "Index of EAP Auth Method list.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer"
                },
                "method": {
                  "description": "Select one of the options to identify the EAP authentication method supported by the hotspot2 Realm.",
                  "enum": [
                    "NONE_NAI_REALM_EAP_METHOD",
                    "IDENTITY",
                    "NOTIFICATION",
                    "ONE_TIME_PASSWORD",
                    "GENERIC_TOKEN_CARD",
                    "EAP_TLS",
                    "EAP_SIM",
                    "EAP_AKA",
                    "EAP_TTLS",
                    "PEAP",
                    "CRYPTO_CARD",
                    "PEAP_MSCHAPV2"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CRYPTO_CARD": "Crypto-card",
                    "EAP_AKA": "Eap-aka",
                    "EAP_SIM": "Eap-sim",
                    "EAP_TLS": "Eap-tls",
                    "EAP_TTLS": "Eap-ttls",
                    "GENERIC_TOKEN_CARD": "Generic-token-card",
                    "IDENTITY": "Identity",
                    "NONE_NAI_REALM_EAP_METHOD": "None",
                    "NOTIFICATION": "Notification",
                    "ONE_TIME_PASSWORD": "One-time-password",
                    "PEAP": "Peap",
                    "PEAP_MSCHAPV2": "Peap-mschapv2"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of hotspot nai-realm-eap-method."
                }
              }
            },
            "maxItems": 4,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "enable": {
            "description": "Enable this profile.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "enable-alias": {
            "description": "The user may apply an alias named 'enable-alias' for device specific practical config when no enable\nis configured, allowing the user to control the profile enablement.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "encoding": {
            "default": "UTF8",
            "description": "Issue this command if the NAI Realm named\ndefined by nai-realm-name <nai-realm-name> is\na UTF-8 formatted character string that is not\nformatted in accordance with IETF RFC 4282.",
            "enum": [
              "RFC4282",
              "UTF8"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "RFC4282": "nai-realm-enc type is Rfc4282",
              "UTF8": "nai-realm-enc type is Utf8"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "The enum define of hotspot nai-realm-enc."
          },
          "home-realm": {
            "default": "false",
            "description": "Marks the Realm in this profile as the NAI Home Realm.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "identity-type": {
            "description": "Type of authentication used for AirPass.",
            "enum": [
              "SIM",
              "OPENROAMING",
              "EDUROAM"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EDUROAM": "Air Pass with Eduroam.",
              "OPENROAMING": "Air Pass with OpenRoaming.",
              "SIM": "Air Pass with SIM."
            },
            "x-typeDescription": "Type of Airpass type."
          },
          "nai-realm-name": {
            "description": "List of names for the NAI realm. The realm name is often the domain name of the service provider.",
            "items": {
              "properties": {
                "value": {
                  "description": "Value of the NAI realm name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "value"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "name": {
            "description": "Profile name.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaPasspointIdentity_PasspointIdentityprofileSchemaGet": {
        "properties": {
          "anqp-3gpp": {
            "description": "List of 3GPP Cellular Network for hotspots that have roaming relationships with cellular operators.",
            "items": {
              "properties": {
                "anqp-3gpp-profile-name": {
                  "description": "Name of 3GPP Cellular Network profile.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "mno": {
                  "description": "Name of Mobile Network Operator (MNO).",
                  "enum": [
                    "ATT",
                    "TMO",
                    "VRZ"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ATT": "AT&T.",
                    "TMO": "T-Mobile.",
                    "VRZ": "Verizon."
                  },
                  "x-typeDescription": "Type of Mobile Network Operator."
                },
                "plmn": {
                  "description": "The Public Land Mobile Networks (PLMN) value of the highest-priority network.",
                  "items": {
                    "description": "The Public Land Mobile Networks (PLMN) value of the highest-priority network.",
                    "format": "pattern",
                    "maxLength": 64,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "plmn",
                    "x-patterns": "'[0-9]{5,6}'",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "maxItems": 6,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "anqp3gppProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-roam-cons": {
            "description": "List Roaming Consortium OI information be sent in an ANQP information element in a GAS query response.",
            "items": {
              "properties": {
                "anqp-roam-cons-name": {
                  "description": "ANQP Roaming Consortium OI information profile name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "org-id": {
                  "description": "Sends the specified roaming consortium OI in a GAS query response.\nThe OI must be a hexadecimal value.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "org-id",
                  "x-patterns": "'[0-9a-fA-F]+'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "anqpRoamConsName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "description": {
            "description": "Passpoint identity profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "eap-method": {
            "description": "NAI Realm EAP Auth Method.",
            "items": {
              "properties": {
                "auth-param": {
                  "description": "Use the nai-realm-auth-id to send the one of the nai_realm_auth_id methods for the primary NAI Realm ID.",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "NAI Realm Authentication Parameter ID.",
                        "enum": [
                          "RESERVED",
                          "EXPANDED_EAP",
                          "NON_EAP_INNER_AUTH",
                          "EAP_INNER_AUTH",
                          "EXP_INNER_EAP",
                          "CREDENTIAL",
                          "TUNNELED_EAP_CREDENTIAL_TYPE"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "CREDENTIAL": "Credential",
                          "EAP_INNER_AUTH": "Eap-inner-auth",
                          "EXPANDED_EAP": "Expanded-eap",
                          "EXP_INNER_EAP": "Exp-inner-eap",
                          "NON_EAP_INNER_AUTH": "Non-eap-inner-auth",
                          "RESERVED": "Reserved",
                          "TUNNELED_EAP_CREDENTIAL_TYPE": "Tunneled-eap-credential-type"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot nai-realm-auth-id."
                      },
                      "id-value": {
                        "description": "key for module. This key is the combination of id and value separated by ~\nid        - NAI Realm Authentication Parameter ID.\nvalue     - NAI Realm Authentication Parameter value.",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string"
                      },
                      "value": {
                        "description": "NAI Realm Authentication Parameter value. The value need to pair to auth-id:\nauth-id                      | auth-value scoped\n-----------------------------|-------------------\nRESERVED_NAI_REALM_AUTH_ID   | All nai_realm_auth_value\nEXPANDED-EAP                 | All nai_realm_auth_value\nNON-EAP-INNER-AUTH           | nai_realm_auth_value should in [NON_EAP_RESERVED - NON-EAP-MSCHAPV2]\nEAP-INNER-AUTH               | nai_realm_auth_value should in [EAP-IDENTITY - EAP-PEAP-MSCHAPV2]\nEXP-INNER-EAP                | All nai_realm_auth_value\nCREDENTIAL                   | nai_realm_auth_value should in [CRED-SIM - CRED-VENDOR-SPEC]\nTUNNELED-EAP-CREDENTIAL-TYPE | nai_realm_auth_value should in [TUN-CRED-SIM - TUN-CRED-VENDOR-SPEC]",
                        "enum": [
                          "EAP_IDENTITY",
                          "EAP_NOTIFICATION",
                          "EAP_ONE_TIME_PASSWORD",
                          "EAP_GENERIC_TOKEN_CARD",
                          "EAP_METHOD_TLS",
                          "EAP_METHOD_SIM",
                          "EAP_METHOD_AKA",
                          "EAP_METHOD_TTLS",
                          "EAP_PEAP",
                          "EAP_CRYPTO_CARD",
                          "EAP_PEAP_MSCHAPV2",
                          "NON_EAP_RESERVED",
                          "NON_EAP_PAP",
                          "NON_EAP_CHAP",
                          "NON_EAP_MSCHAP",
                          "NON_EAP_MSCHAPV2",
                          "CRED_SIM",
                          "CRED_USIM",
                          "CRED_NFC",
                          "CRED_HW_TOKEN",
                          "CRED_SOFT_TOKEN",
                          "CRED_CERT",
                          "CRED_USER_PASS",
                          "CRED_NONE",
                          "CRED_RSVD",
                          "CRED_VENDOR_SPEC",
                          "TUN_CRED_SIM",
                          "TUN_CRED_USIM",
                          "TUN_CRED_NFC",
                          "TUN_CRED_HW_TOKEN",
                          "TUN_CRED_SOFT_TOKEN",
                          "TUN_CRED_CERT",
                          "TUN_CRED_USER_PASS",
                          "TUN_CRED_RSVD",
                          "TUN_CRED_ANON",
                          "TUN_CRED_VENDOR_SPEC"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "CRED_CERT": "Cred-cert",
                          "CRED_HW_TOKEN": "Cred-hw-token",
                          "CRED_NFC": "Cred-nfc",
                          "CRED_NONE": "Cred-none",
                          "CRED_RSVD": "Cred-rsvd",
                          "CRED_SIM": "Cred-sim",
                          "CRED_SOFT_TOKEN": "Cred-soft-token",
                          "CRED_USER_PASS": "Cred-user-pass",
                          "CRED_USIM": "Cred-usim",
                          "CRED_VENDOR_SPEC": "Cred-vendor-spec",
                          "EAP_CRYPTO_CARD": "Eap-crypto-card",
                          "EAP_GENERIC_TOKEN_CARD": "Eap-generic-token-card",
                          "EAP_IDENTITY": "Eap-identity",
                          "EAP_METHOD_AKA": "Eap-method-aka",
                          "EAP_METHOD_SIM": "Eap-method-sim",
                          "EAP_METHOD_TLS": "Eap-method-tls",
                          "EAP_METHOD_TTLS": "Eap-method-ttls",
                          "EAP_NOTIFICATION": "Eap-notification",
                          "EAP_ONE_TIME_PASSWORD": "Eap-one-time-password",
                          "EAP_PEAP": "Eap-peap",
                          "EAP_PEAP_MSCHAPV2": "Eap-peap-mschapv2",
                          "NON_EAP_CHAP": "Non-eap-chap",
                          "NON_EAP_MSCHAP": "Non-eap-mschap",
                          "NON_EAP_MSCHAPV2": "Non-eap-mschapv2",
                          "NON_EAP_PAP": "Non-eap-pap",
                          "NON_EAP_RESERVED": "Non-eap-reserved",
                          "TUN_CRED_ANON": "Tun-cred-anon",
                          "TUN_CRED_CERT": "Tun-cred-cert",
                          "TUN_CRED_HW_TOKEN": "Tun-cred-hw-token",
                          "TUN_CRED_NFC": "Tun-cred-nfc",
                          "TUN_CRED_RSVD": "Tun-cred-rsvd",
                          "TUN_CRED_SIM": "Tun-cred-sim",
                          "TUN_CRED_SOFT_TOKEN": "Tun-cred-soft-token",
                          "TUN_CRED_USER_PASS": "Tun-cred-user-pass",
                          "TUN_CRED_USIM": "Tun-cred-usim",
                          "TUN_CRED_VENDOR_SPEC": "Tun-cred-vendor-spec"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot nai-realm-auth-value."
                      }
                    }
                  },
                  "maxItems": 4,
                  "type": "array",
                  "x-key": [
                    "idValue"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "index": {
                  "description": "Index of EAP Auth Method list.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer"
                },
                "method": {
                  "description": "Select one of the options to identify the EAP authentication method supported by the hotspot2 Realm.",
                  "enum": [
                    "NONE_NAI_REALM_EAP_METHOD",
                    "IDENTITY",
                    "NOTIFICATION",
                    "ONE_TIME_PASSWORD",
                    "GENERIC_TOKEN_CARD",
                    "EAP_TLS",
                    "EAP_SIM",
                    "EAP_AKA",
                    "EAP_TTLS",
                    "PEAP",
                    "CRYPTO_CARD",
                    "PEAP_MSCHAPV2"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CRYPTO_CARD": "Crypto-card",
                    "EAP_AKA": "Eap-aka",
                    "EAP_SIM": "Eap-sim",
                    "EAP_TLS": "Eap-tls",
                    "EAP_TTLS": "Eap-ttls",
                    "GENERIC_TOKEN_CARD": "Generic-token-card",
                    "IDENTITY": "Identity",
                    "NONE_NAI_REALM_EAP_METHOD": "None",
                    "NOTIFICATION": "Notification",
                    "ONE_TIME_PASSWORD": "One-time-password",
                    "PEAP": "Peap",
                    "PEAP_MSCHAPV2": "Peap-mschapv2"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of hotspot nai-realm-eap-method."
                }
              }
            },
            "maxItems": 4,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "enable": {
            "description": "Enable this profile.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "enable-alias": {
            "description": "The user may apply an alias named 'enable-alias' for device specific practical config when no enable\nis configured, allowing the user to control the profile enablement.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "encoding": {
            "default": "UTF8",
            "description": "Issue this command if the NAI Realm named\ndefined by nai-realm-name <nai-realm-name> is\na UTF-8 formatted character string that is not\nformatted in accordance with IETF RFC 4282.",
            "enum": [
              "RFC4282",
              "UTF8"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "RFC4282": "nai-realm-enc type is Rfc4282",
              "UTF8": "nai-realm-enc type is Utf8"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "The enum define of hotspot nai-realm-enc."
          },
          "home-realm": {
            "default": "false",
            "description": "Marks the Realm in this profile as the NAI Home Realm.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "identity-type": {
            "description": "Type of authentication used for AirPass.",
            "enum": [
              "SIM",
              "OPENROAMING",
              "EDUROAM"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EDUROAM": "Air Pass with Eduroam.",
              "OPENROAMING": "Air Pass with OpenRoaming.",
              "SIM": "Air Pass with SIM."
            },
            "x-typeDescription": "Type of Airpass type."
          },
          "nai-realm-name": {
            "description": "List of names for the NAI realm. The realm name is often the domain name of the service provider.",
            "items": {
              "properties": {
                "value": {
                  "description": "Value of the NAI realm name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "value"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "name": {
            "description": "Profile name.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaPasspointIdentity_PasspointIdentityprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaPasspointIdentity_PasspointIdentityprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
