{
  "openapi": "3.1.0",
  "info": {
    "title": "Port Security",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Port Security"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/port-security": {
      "get": {
        "description": "Port security enables a user to configure each switch port with a\nunique list of the MAC addresses of devices that are authorized to\naccess the network through that port. This security enables individual\nports to detect, prevent, and log attempts by unauthorized devices to\ncommunicate through the switch.",
        "operationId": "readPortSecurity",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPortSecurity_PortSecuritySchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read Port-Security configuration.",
        "tags": [
          "Port Security"
        ],
        "x-cliParam": {
          "commandName": "readPortSecurityCmd",
          "commandUse": "port-security",
          "parentCommand": "readCmd",
          "pathToPrint": "/port-security/",
          "summary": "Read operation for port-security"
        }
      }
    },
    "/network-config/v1alpha1/port-security/{name}": {
      "get": {
        "description": "List of port security policies.",
        "operationId": "readPortSecurityPolicyByID",
        "parameters": [
          {
            "description": "Name of the port security policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPortSecurity_PortSecuritypolicySchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Port-Security policy configuration.",
        "tags": [
          "Port Security"
        ],
        "x-cliParam": {
          "commandName": "readPortSecurityPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPortSecurityCmd",
          "pathToPrint": "/port-security/policy/%s/",
          "summary": "Read operation for policy",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of port security policies.",
        "operationId": "replacePortSecurityPolicyByID",
        "parameters": [
          {
            "description": "Name of the port security policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPortSecurity_PortSecuritypolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing Port-Security policy configuration.",
        "tags": [
          "Port Security"
        ],
        "x-cliParam": {
          "commandName": "replacePortSecurityPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePortSecurityCmd",
          "pathToPrint": "/port-security/policy/%s/",
          "summary": "Replace operation for policy",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of port security policies.",
        "operationId": "createPortSecurityPolicyByID",
        "parameters": [
          {
            "description": "Name of the port security policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPortSecurity_PortSecuritypolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new Port-Security policy.",
        "tags": [
          "Port Security"
        ],
        "x-cliParam": {
          "commandName": "createPortSecurityPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPortSecurityCmd",
          "pathToPrint": "/port-security/policy/%s/",
          "summary": "Create operation for policy",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of port security policies.",
        "operationId": "deletePortSecurityPolicyByID",
        "parameters": [
          {
            "description": "Name of the port security policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the Port-Security policy.",
        "tags": [
          "Port Security"
        ],
        "x-cliParam": {
          "commandName": "deletePortSecurityPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePortSecurityCmd",
          "pathToPrint": "/port-security/policy/%s/",
          "summary": "Delete operation for policy",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of port security policies.",
        "operationId": "updatePortSecurityPolicyByID",
        "parameters": [
          {
            "description": "Name of the port security policy.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPortSecurity_PortSecuritypolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Port-Security policy configuration.",
        "tags": [
          "Port Security"
        ],
        "x-cliParam": {
          "commandName": "updatePortSecurityPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePortSecurityCmd",
          "pathToPrint": "/port-security/policy/%s/",
          "summary": "Update operation for policy",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaProfile_AllowFloodTrafficConfigGroup": {
        "description": "Group for allow-flood-traffic configuration shared by aaa-profile and port-security.",
        "properties": {
          "allow-flood-traffic": {
            "default": "false",
            "description": "Enable transmission of flood traffic (broadcast, multicast and\nunknown unicast) out authentication enabled interfaces with no\nauthenticated client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AllowFloodTrafficConfigGroupGet": {
        "description": "Group for allow-flood-traffic configuration shared by aaa-profile and port-security.",
        "properties": {
          "allow-flood-traffic": {
            "default": "false",
            "description": "Enable transmission of flood traffic (broadcast, multicast and\nunknown unicast) out authentication enabled interfaces with no\nauthenticated client.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_SecurityViolationConfigGroup": {
        "description": "Group for security violation configurations shared by aaa-profile and port-security.",
        "properties": {
          "security-violation": {
            "description": "Security violation configuration.",
            "properties": {
              "action": {
                "description": "Action to take on a security violation (notify or shutdown).\nThis is only supported on physical ports.",
                "enum": [
                  "NONE",
                  "NOTIFY",
                  "SHUTDOWN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NONE": "Prevent an SNMP trap from being sent.",
                  "NOTIFY": "Send an SNMP trap and log an event on a violation.",
                  "SHUTDOWN": "Send an SNMP trap, log an event and shut the interface down on a\nviolation."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Violation action type."
              },
              "recovery-timer": {
                "default": "10",
                "description": "Time in seconds after which the interface is re-enabled if it was\nshutdown in response to a violation event.\nThis is only applicable if shutdown recovery is enabled.",
                "format": "int32",
                "maximum": 600,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "shutdown-recovery-enable": {
                "default": "false",
                "description": "Enable auto-recovery of the interface. This is only applicable when\nthe violation action is set to shutdown.\nThe interface is re-enabled after the recovery timer has expired.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAaaProfile_SecurityViolationConfigGroupGet": {
        "description": "Group for security violation configurations shared by aaa-profile and port-security.",
        "properties": {
          "security-violation": {
            "description": "Security violation configuration.",
            "properties": {
              "action": {
                "description": "Action to take on a security violation (notify or shutdown).\nThis is only supported on physical ports.",
                "enum": [
                  "NONE",
                  "NOTIFY",
                  "SHUTDOWN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "NONE": "Prevent an SNMP trap from being sent.",
                  "NOTIFY": "Send an SNMP trap and log an event on a violation.",
                  "SHUTDOWN": "Send an SNMP trap, log an event and shut the interface down on a\nviolation."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Violation action type."
              },
              "recovery-timer": {
                "default": "10",
                "description": "Time in seconds after which the interface is re-enabled if it was\nshutdown in response to a violation event.\nThis is only applicable if shutdown recovery is enabled.",
                "format": "int32",
                "maximum": 600,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "shutdown-recovery-enable": {
                "default": "false",
                "description": "Enable auto-recovery of the interface. This is only applicable when\nthe violation action is set to shutdown.\nThe interface is re-enabled after the recovery timer has expired.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaPortSecurity_PortSecurityPolicyConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AllowFloodTrafficConfigGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_SecurityViolationConfigGroup"
          }
        ],
        "description": "Port security policy configurations.",
        "properties": {
          "client-limit": {
            "default": "1",
            "description": "Maximum number of port-security clients that can be onboarded on the\ninterface.",
            "format": "int32",
            "maximum": 64,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "eavesdrop-prevention": {
            "default": "true",
            "description": "Enable eavesdrop prevention.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable Port security on the port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "learn-mode": {
            "description": "Port security learn mode.",
            "enum": [
              "CONTINUOUS",
              "LIMITED_CONTINUOUS",
              "STATIC",
              "CONFIGURED",
              "PORT_ACCESS",
              "MIXED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CONFIGURED": "Static MAC address configured mode.",
              "CONTINUOUS": "Continuous MAC address learn mode.",
              "LIMITED_CONTINUOUS": "Limited continuous MAC address learn mode.",
              "MIXED": "Mixed learn mode.",
              "PORT_ACCESS": "Learn port-access authorized MAC address only.",
              "STATIC": "Static MAC address learn mode."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Port security learn mode type."
          },
          "sticky-mac-enable": {
            "default": "false",
            "description": "Enable sticky learning on the port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPortSecurity_PortSecurityPolicyConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_AllowFloodTrafficConfigGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaAaaProfile_SecurityViolationConfigGroupGet"
          }
        ],
        "description": "Port security policy configurations.",
        "properties": {
          "client-limit": {
            "default": "1",
            "description": "Maximum number of port-security clients that can be onboarded on the\ninterface.",
            "format": "int32",
            "maximum": 64,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "eavesdrop-prevention": {
            "default": "true",
            "description": "Enable eavesdrop prevention.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable Port security on the port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "learn-mode": {
            "description": "Port security learn mode.",
            "enum": [
              "CONTINUOUS",
              "LIMITED_CONTINUOUS",
              "STATIC",
              "CONFIGURED",
              "PORT_ACCESS",
              "MIXED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CONFIGURED": "Static MAC address configured mode.",
              "CONTINUOUS": "Continuous MAC address learn mode.",
              "LIMITED_CONTINUOUS": "Limited continuous MAC address learn mode.",
              "MIXED": "Mixed learn mode.",
              "PORT_ACCESS": "Learn port-access authorized MAC address only.",
              "STATIC": "Static MAC address learn mode."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Port security learn mode type."
          },
          "sticky-mac-enable": {
            "default": "false",
            "description": "Enable sticky learning on the port.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPortSecurity_PortSecuritySchemaGET": {
        "description": "Port security enables a user to configure each switch port with a\nunique list of the MAC addresses of devices that are authorized to\naccess the network through that port. This security enables individual\nports to detect, prevent, and log attempts by unauthorized devices to\ncommunicate through the switch.",
        "properties": {
          "policy": {
            "description": "List of port security policies.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaPortSecurity_PortSecurityPolicyConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Port security policy description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the port security policy.",
                      "format": "const",
                      "maxLength": 128,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaPortSecurity_PortSecuritypolicySchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaPortSecurity_PortSecurityPolicyConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Port security policy description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the port security policy.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "ArubaPortSecurity_PortSecuritypolicySchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaPortSecurity_PortSecurityPolicyConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "Port security policy description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Name of the port security policy.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaPortSecurity_PortSecuritypolicySchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaPortSecurity_PortSecuritypolicySchema"
            }
          }
        },
        "description": "policybody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
