{
  "openapi": "3.1.0",
  "info": {
    "title": "Ubt",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Ubt"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ubt": {
      "get": {
        "description": "Configuration of UBT (User based Tunnel) Profiles.\nThis feature creates UBT GRE tunnel between the\nswitch and the controller when UBT users are\npresent on the switch. It encapsulates incoming\npackets from end-hosts in GRE and forwards them\nto the Mobility Controller.The feature is enabled\non a Per User Tunneled Node basis.",
        "operationId": "readUbt",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaUbt_UbtSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured UBT profiles",
        "tags": [
          "Ubt"
        ],
        "x-cliParam": {
          "commandName": "readUbtCmd",
          "commandUse": "ubt",
          "parentCommand": "readCmd",
          "pathToPrint": "/ubt/",
          "summary": "Read operation for ubt"
        }
      }
    },
    "/network-config/v1alpha1/ubt/{name}": {
      "get": {
        "description": "A list of global profile(s) for UBT, each\nscope (global, site, site-collection, device, device-collection)\ncan accept only one profile.",
        "operationId": "readUbtProfileByID",
        "parameters": [
          {
            "description": "UBT profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaUbt_UbtprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing UBT profile configurations",
        "tags": [
          "Ubt"
        ],
        "x-cliParam": {
          "commandName": "readUbtProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readUbtCmd",
          "pathToPrint": "/ubt/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "A list of global profile(s) for UBT, each\nscope (global, site, site-collection, device, device-collection)\ncan accept only one profile.",
        "operationId": "replaceUbtProfileByID",
        "parameters": [
          {
            "description": "UBT profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaUbt_UbtprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing UBT profile configurations",
        "tags": [
          "Ubt"
        ],
        "x-cliParam": {
          "commandName": "replaceUbtProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceUbtCmd",
          "pathToPrint": "/ubt/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "A list of global profile(s) for UBT, each\nscope (global, site, site-collection, device, device-collection)\ncan accept only one profile.",
        "operationId": "createUbtProfileByID",
        "parameters": [
          {
            "description": "UBT profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaUbt_UbtprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new UBT profile by unique name",
        "tags": [
          "Ubt"
        ],
        "x-cliParam": {
          "commandName": "createUbtProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createUbtCmd",
          "pathToPrint": "/ubt/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A list of global profile(s) for UBT, each\nscope (global, site, site-collection, device, device-collection)\ncan accept only one profile.",
        "operationId": "deleteUbtProfileByID",
        "parameters": [
          {
            "description": "UBT profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the UBT profile",
        "tags": [
          "Ubt"
        ],
        "x-cliParam": {
          "commandName": "deleteUbtProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteUbtCmd",
          "pathToPrint": "/ubt/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A list of global profile(s) for UBT, each\nscope (global, site, site-collection, device, device-collection)\ncan accept only one profile.",
        "operationId": "updateUbtProfileByID",
        "parameters": [
          {
            "description": "UBT profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaUbt_UbtprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing UBT profile configurations",
        "tags": [
          "Ubt"
        ],
        "x-cliParam": {
          "commandName": "updateUbtProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateUbtCmd",
          "pathToPrint": "/ubt/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaUbt_PasswordInfo": {
        "description": "Configure password details.",
        "properties": {
          "cipher-password": {
            "description": "Set the ciphertext authentication key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "plain-password": {
            "description": "Set the plaintext authentication key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "type": {
            "default": "PLAIN_TEXT",
            "description": "Password type [ciphertext | plaintext].",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-typeDescription": "Password type"
          }
        }
      },
      "ArubaUbt_PasswordInfoGet": {
        "description": "Configure password details.",
        "properties": {
          "cipher-password": {
            "description": "Set the ciphertext authentication key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "plain-password": {
            "description": "Set the plaintext authentication key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "type": {
            "default": "PLAIN_TEXT",
            "description": "Password type [ciphertext | plaintext].",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-typeDescription": "Password type"
          }
        }
      },
      "ArubaUbt_UbtSchemaGET": {
        "description": "Configuration of UBT (User based Tunnel) Profiles.\nThis feature creates UBT GRE tunnel between the\nswitch and the controller when UBT users are\npresent on the switch. It encapsulates incoming\npackets from end-hosts in GRE and forwards them\nto the Mobility Controller.The feature is enabled\non a Per User Tunneled Node basis.",
        "properties": {
          "profile": {
            "description": "A list of global profile(s) for UBT, each\nscope (global, site, site-collection, device, device-collection)\ncan accept only one profile.",
            "items": {
              "properties": {
                "client-vid": {
                  "description": "This vlan is used when mode is LOCAL_VLAN.\nIf UBT Client VLAN is configured in VLAN_EXTEND mode, it is ignored.\nVLAN-ID assigned to UBT clients for tunneling traffic from\nswitch to controller.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "description": {
                  "description": "User description for UBT Profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "mode": {
                  "default": "LOCAL_VLAN",
                  "description": "UBT VLAN mode configuration",
                  "enum": [
                    "VLAN_EXTEND",
                    "LOCAL_VLAN"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "LOCAL_VLAN": "Clients are assigned to a VLAN that is local to\nthe switch and associated with their UBT-role\nbased VLAN when client traffic reaches the\ncontroller. This mode allows for reducing the\nnumber of VLANs that need to be instantiated on\nthe switch but can only support VLAN-untagged UBT\nclients. The 'client-vid' will be used to\nspecify the local_vlan that UBT clients are\nassigned to. ",
                    "VLAN_EXTEND": "Clients are assigned to their UBT-role based\nVLAN in the hardware datapath. This mode allows\nfor UBT to support VLAN-tagged clients like VOIP\nphones."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "UBT modes of operation"
                },
                "name": {
                  "description": "UBT profile name to be configured.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "zone": {
                  "description": "A list of UBT zone specific configuration.",
                  "items": {
                    "properties": {
                      "backup-controller-ip": {
                        "description": "UBT zone's secondary controller's ip address.\nEach zone within a profile must have a unique backup-controller ip.\nThis ip must also be distinct from primary-controller ip within\nthe same zone and primary-controller ip of other zones",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "enable": {
                        "description": "Enables/Disables UBT functionality for this zone.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "maintenance-period": {
                        "default": "0",
                        "description": "The user-based tunnel maintenance period is in the range of\n1 to 720 hours. The default value of 0 can be used to\ndisable the maintenance window. If maintenance period is configured\nthen authenticated clients will be retained in current role in the\nevent of controller unreachability. Client traffic will be dropped\nin switch ingress port. Once controller is reachable, client\ntraffic flow will be resumed. If controller is not reachable even\nafter configured maintenance period, clients will be\ndeauthenticated.",
                        "format": "int64",
                        "maximum": 720,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "papi-security-key": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaUbt_PasswordInfoGet"
                          }
                        ],
                        "description": "Shared security key that will be used to encrypt UBT PAPI messages\nexchanged between this switch and the controller cluster corresponding\nto this zone. When not set, shared security key is not used for\nencrypting papi messages.",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "primary-controller-ip": {
                        "description": "UBT zone's primary controller's ip address.\nEach zone within a profile must have a unique primary-controller ip.\nThis ip must also be distinct from backup-controller ip within\nthe same zone and backup-controller ip of other zones",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-mandatory": true,
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "sac-heartbeat-interval": {
                        "default": "1",
                        "description": "Time interval (in seconds) between successive\nheartbeat messages to the Switch Anchor Controller(SAC).",
                        "format": "int64",
                        "maximum": 8,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "uac-keepalive-interval": {
                        "default": "60",
                        "description": "Time interval (in seconds) between successive\nkeep-alive messages sent to the User Anchor Controller(UAC).",
                        "format": "int64",
                        "maximum": 60,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "wol-vlans": {
                        "description": "Wake-on-LAN VLAN configuration.\nThese VLANs need to pre-configured on Switch and Controller.\nThis is applicable only when mode is set to VLAN_EXTEND.",
                        "items": {
                          "description": "Wake-on-LAN VLAN configuration.\nThese VLANs need to pre-configured on Switch and Controller.\nThis is applicable only when mode is set to VLAN_EXTEND.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        },
                        "maxItems": 100,
                        "type": "array"
                      },
                      "zone-description": {
                        "description": "UBT Zone description",
                        "format": "const",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                      },
                      "zone-name-vrf": {
                        "description": "Key combination of zone-name and vrf separated by ~",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string"
                      }
                    },
                    "required": [
                      "primary-controller-ip"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "zoneNameVrf"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch PVOS"
        ]
      },
      "ArubaUbt_UbtprofileSchema": {
        "properties": {
          "client-vid": {
            "description": "This vlan is used when mode is LOCAL_VLAN.\nIf UBT Client VLAN is configured in VLAN_EXTEND mode, it is ignored.\nVLAN-ID assigned to UBT clients for tunneling traffic from\nswitch to controller.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "description": {
            "description": "User description for UBT Profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "mode": {
            "default": "LOCAL_VLAN",
            "description": "UBT VLAN mode configuration",
            "enum": [
              "VLAN_EXTEND",
              "LOCAL_VLAN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LOCAL_VLAN": "Clients are assigned to a VLAN that is local to\nthe switch and associated with their UBT-role\nbased VLAN when client traffic reaches the\ncontroller. This mode allows for reducing the\nnumber of VLANs that need to be instantiated on\nthe switch but can only support VLAN-untagged UBT\nclients. The 'client-vid' will be used to\nspecify the local_vlan that UBT clients are\nassigned to. ",
              "VLAN_EXTEND": "Clients are assigned to their UBT-role based\nVLAN in the hardware datapath. This mode allows\nfor UBT to support VLAN-tagged clients like VOIP\nphones."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "UBT modes of operation"
          },
          "name": {
            "description": "UBT profile name to be configured.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "zone": {
            "description": "A list of UBT zone specific configuration.",
            "items": {
              "properties": {
                "backup-controller-ip": {
                  "description": "UBT zone's secondary controller's ip address.\nEach zone within a profile must have a unique backup-controller ip.\nThis ip must also be distinct from primary-controller ip within\nthe same zone and primary-controller ip of other zones",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "enable": {
                  "description": "Enables/Disables UBT functionality for this zone.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "maintenance-period": {
                  "default": "0",
                  "description": "The user-based tunnel maintenance period is in the range of\n1 to 720 hours. The default value of 0 can be used to\ndisable the maintenance window. If maintenance period is configured\nthen authenticated clients will be retained in current role in the\nevent of controller unreachability. Client traffic will be dropped\nin switch ingress port. Once controller is reachable, client\ntraffic flow will be resumed. If controller is not reachable even\nafter configured maintenance period, clients will be\ndeauthenticated.",
                  "format": "int64",
                  "maximum": 720,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "papi-security-key": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaUbt_PasswordInfo"
                    }
                  ],
                  "description": "Shared security key that will be used to encrypt UBT PAPI messages\nexchanged between this switch and the controller cluster corresponding\nto this zone. When not set, shared security key is not used for\nencrypting papi messages.",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "primary-controller-ip": {
                  "description": "UBT zone's primary controller's ip address.\nEach zone within a profile must have a unique primary-controller ip.\nThis ip must also be distinct from backup-controller ip within\nthe same zone and backup-controller ip of other zones",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "sac-heartbeat-interval": {
                  "default": "1",
                  "description": "Time interval (in seconds) between successive\nheartbeat messages to the Switch Anchor Controller(SAC).",
                  "format": "int64",
                  "maximum": 8,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "uac-keepalive-interval": {
                  "default": "60",
                  "description": "Time interval (in seconds) between successive\nkeep-alive messages sent to the User Anchor Controller(UAC).",
                  "format": "int64",
                  "maximum": 60,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "wol-vlans": {
                  "description": "Wake-on-LAN VLAN configuration.\nThese VLANs need to pre-configured on Switch and Controller.\nThis is applicable only when mode is set to VLAN_EXTEND.",
                  "items": {
                    "description": "Wake-on-LAN VLAN configuration.\nThese VLANs need to pre-configured on Switch and Controller.\nThis is applicable only when mode is set to VLAN_EXTEND.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "zone-description": {
                  "description": "UBT Zone description",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "zone-name-vrf": {
                  "description": "Key combination of zone-name and vrf separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              },
              "required": [
                "primary-controller-ip"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "zoneNameVrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaUbt_UbtprofileSchemaGet": {
        "properties": {
          "client-vid": {
            "description": "This vlan is used when mode is LOCAL_VLAN.\nIf UBT Client VLAN is configured in VLAN_EXTEND mode, it is ignored.\nVLAN-ID assigned to UBT clients for tunneling traffic from\nswitch to controller.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "description": {
            "description": "User description for UBT Profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "mode": {
            "default": "LOCAL_VLAN",
            "description": "UBT VLAN mode configuration",
            "enum": [
              "VLAN_EXTEND",
              "LOCAL_VLAN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LOCAL_VLAN": "Clients are assigned to a VLAN that is local to\nthe switch and associated with their UBT-role\nbased VLAN when client traffic reaches the\ncontroller. This mode allows for reducing the\nnumber of VLANs that need to be instantiated on\nthe switch but can only support VLAN-untagged UBT\nclients. The 'client-vid' will be used to\nspecify the local_vlan that UBT clients are\nassigned to. ",
              "VLAN_EXTEND": "Clients are assigned to their UBT-role based\nVLAN in the hardware datapath. This mode allows\nfor UBT to support VLAN-tagged clients like VOIP\nphones."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "UBT modes of operation"
          },
          "name": {
            "description": "UBT profile name to be configured.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "zone": {
            "description": "A list of UBT zone specific configuration.",
            "items": {
              "properties": {
                "backup-controller-ip": {
                  "description": "UBT zone's secondary controller's ip address.\nEach zone within a profile must have a unique backup-controller ip.\nThis ip must also be distinct from primary-controller ip within\nthe same zone and primary-controller ip of other zones",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "enable": {
                  "description": "Enables/Disables UBT functionality for this zone.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "maintenance-period": {
                  "default": "0",
                  "description": "The user-based tunnel maintenance period is in the range of\n1 to 720 hours. The default value of 0 can be used to\ndisable the maintenance window. If maintenance period is configured\nthen authenticated clients will be retained in current role in the\nevent of controller unreachability. Client traffic will be dropped\nin switch ingress port. Once controller is reachable, client\ntraffic flow will be resumed. If controller is not reachable even\nafter configured maintenance period, clients will be\ndeauthenticated.",
                  "format": "int64",
                  "maximum": 720,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "papi-security-key": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaUbt_PasswordInfoGet"
                    }
                  ],
                  "description": "Shared security key that will be used to encrypt UBT PAPI messages\nexchanged between this switch and the controller cluster corresponding\nto this zone. When not set, shared security key is not used for\nencrypting papi messages.",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "primary-controller-ip": {
                  "description": "UBT zone's primary controller's ip address.\nEach zone within a profile must have a unique primary-controller ip.\nThis ip must also be distinct from backup-controller ip within\nthe same zone and backup-controller ip of other zones",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "sac-heartbeat-interval": {
                  "default": "1",
                  "description": "Time interval (in seconds) between successive\nheartbeat messages to the Switch Anchor Controller(SAC).",
                  "format": "int64",
                  "maximum": 8,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "uac-keepalive-interval": {
                  "default": "60",
                  "description": "Time interval (in seconds) between successive\nkeep-alive messages sent to the User Anchor Controller(UAC).",
                  "format": "int64",
                  "maximum": 60,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "wol-vlans": {
                  "description": "Wake-on-LAN VLAN configuration.\nThese VLANs need to pre-configured on Switch and Controller.\nThis is applicable only when mode is set to VLAN_EXTEND.",
                  "items": {
                    "description": "Wake-on-LAN VLAN configuration.\nThese VLANs need to pre-configured on Switch and Controller.\nThis is applicable only when mode is set to VLAN_EXTEND.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "zone-description": {
                  "description": "UBT Zone description",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "zone-name-vrf": {
                  "description": "Key combination of zone-name and vrf separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              },
              "required": [
                "primary-controller-ip"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "zoneNameVrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaUbt_UbtprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaUbt_UbtprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
